<template>
    <div
        v-if="company"
        class="company"
    >
        <div class="page-title">
            {{ $t('company', 'Company Info/Contacts') }}
        </div>

        <div class="app-topic-title">
            {{ $t('company_key_info', 'Key Information') }}
        </div>
        <app-information v-if="company.content">
            <div class="head">
                <img src="@/assets/img/icons/info.svg" />
                {{ $t('company_quick_info', 'Quick Info') }}:
            </div>
            <p
                class="view"
                v-html="company.content"
            ></p>
        </app-information>

        <div
            v-if="company.website"
            class="app-topic-title white"
        >
            {{ $t('company_website', 'Company Website') }}
            <a
                :href="company.website"
                target="_blank"
            >
                {{ company.website }}
            </a>
        </div>

        <template v-if="company.links.length">
            <div class="app-topic-title">
                {{ $t('company_links', 'Company Links') }}
            </div>
            <app-resources>
                <div
                    v-for="link of company.links"
                    :key="link.id"
                    class="resource"
                >
                    <a
                        :href="link.link"
                        target="_blank"
                        @click="sendAnalytic(3, link.id)"
                    >
                        <img src="@/assets/img/icons/link_icon.svg" />
                        {{ link.link }}
                    </a>
                    <p>
                        {{ link.description }}
                    </p>
                </div>
            </app-resources>
        </template>

        <template v-if=" company.documents.length">
            <div class="app-topic-title">
                {{ $t('company_resources', 'Company Resources') }}
            </div>
            <app-resources>
                <div
                    v-for="document of company.documents"
                    :key="document.id"
                    class="resource"
                >
                    <a
                        v-if="!document.secured"
                        :href="generateUrl(document.file, ' ')"
                        target="_blank"
                        @click="sendAnalytic(1, document.id)"
                    >
                        <img src="@/assets/img/icons/pdf_icon.svg" />
                        {{ document.name }}
                    </a>
                    <router-link
                        v-else
                        :to="{ name:'view', query:{ document_id: document.id, part: 'company' } }"
                        target="_blank"
                        @click.native="sendAnalytic(1, document.id)"
                    >
                        <img src="@/assets/img/icons/pdf_icon.svg" />
                        {{ document.name }}
                    </router-link>
                    <p>
                        {{ document.description }}
                    </p>
                </div>
            </app-resources>
        </template>

        <template v-if="company.videos.length">
            <div class="app-topic-title">
                {{ $t('company_videos', 'Company Videos') }}
            </div>
            <app-videos-gallery :videos="company.videos" />
        </template>

        <template v-if="company.representatives.length">
            <div class="app-topic-title">
                {{ $t('company_participants', 'Company Representative') }}
            </div>
            <app-participants-information
                v-for="representative of company.representatives"
                :key="representative.id"
                :participant="representative"
            />
        </template>
    </div>
</template>

<script>
    import appInformation from '@/components/user/app/app-information';
    import appResources from '@/components/user/app/app-resources';
    import appVideosGallery from '@/components/user/app/app-videos-gallery';
    import appParticipantsInformation from '@/components/user/app/app-participants-information';

    import generateUrl from '@/utils/mixins/generate_url';
    import { sendClick } from '@/utils/user/clicks-analytic';

    export default {
        name: 'company',

        components: {
            appInformation,
            appResources,
            appVideosGallery,
            appParticipantsInformation,
        },

        mixins: [generateUrl],

        computed: {
            company() {
              return this.$store.getters.getCompany;
            },
            eventId() {
                return this.$route.query.event_id;
            },
        },

        async created() {
            await this.$store.dispatch('getCompany', this.eventId);
        },

        methods: {
            sendAnalytic(type, id) {
                sendClick(1, type, id);
            },
      },
    };
</script>

<style scoped lang="scss">
    .app-topic-title{
        &.white{
            margin: 1rem 0;
        }
    }

</style>
