<template>
    <div class="default-layout">
        <header-common />
        <Nuxt />
        <footer-common />
        <modal />
        <prompt />
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import HeaderCommon from '@/components/layouts/header/HeaderCommon.vue';
import FooterCommon from '@/components/layouts/footer/FooterCommon.vue';
import Modal from '@/components/layouts/modal/Modal.vue';
import Prompt from '@/components/layouts/prompt/Prompt.vue';

export default Vue.extend({
    name: 'Default',

    components: {
        HeaderCommon,
        FooterCommon,
        Modal,
        Prompt,
    },
});
</script>

<style lang="scss" scoped>
.default-layout {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    min-height: 100vh;

    @include razr767 {
        max-width: 568px;
        margin: 0 auto;
        padding-top: 60px;
    }
}
</style>
