<template>
    <div class="error">
        <div class="error__info">
            <p v-if="statusCode404">
                Ошибка 404
            </p>
            <p v-else>
                Что то пошло не так
            </p>
        </div>

        <h1 class="error__title">
            Страница не найдена.
        </h1>
        <p class="error__description">
            Рассмотрим, что значит и как исправить ошибку отображения
            внутренних страниц сайта (error&nbsp;404 или 500),
            причиной проблемы является отсутствие файла
        </p>
        <common-button
            class="common-button--green"
            tag="nuxt-link"
            to="/"
        >
            Вернуться на главную
        </common-button>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import CommonButton from '@/components/common/CommonButton.vue';

export default Vue.extend({

    components: {
        CommonButton,
    },
    layout: 'error',

    props: {
        error: {
            type: Object,
            default: () => ({}),
        },
    },

    computed: {
        statusCode404(): boolean {
            return this.error.statusCode === 404;
        },
    },
});
</script>

<style lang="scss" scoped>
.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: calc(100vh - 415px);

    &__info {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 50px;
        margin-bottom: 34px;
        padding: 24px;

        border: 1px solid $light-gray-ninth;
        border-radius: 100px;

        p {
            font-size: 16px;
            font-weight: 700;
            color: $light-gray-fifth;
        }
    }

    &__title {
        margin-bottom: 14px;

        font-size: 31px;
        color: $black;
    }

    &__description {
        max-width: 446px;
        margin-bottom: 34px;

        font-size: 16px;
        line-height: 1.3;
        text-align: center;
        color: $light-gray-second;
    }

    .common-button {
        width: 260px;
        height: 60px;
    }

    @include razr1259 {
        .common-button {
            height: 50px;
        }
    }

    @include razr1023 {
        height: calc(100vh - 525px);

        &__info {
            height: 40px;
            margin-bottom: 24px;
        }

        &__title {
            margin-bottom: 14px;

            font-size: 26px;
        }

        &__description {
            margin-bottom: 24px;

            font-size: 15px;
        }
    }

    @include razr767 {
        height: calc(100vh - 60px);

        &__info {
            p {
                font-size: 14px;
            }
        }

        &__title {
            font-size: 24px;
        }

        &__description {
            max-width: 315px;

            font-size: 14px;
        }

        .common-button {
            width: 220px;
        }
    }
}
</style>
