<template>
    <div class="login-layout">
        <div class="login-layout-content">
            <Nuxt />
        </div>
        <div class="login-bg"></div>
        <modal />
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Modal from '@/components/layouts/modal/Modal.vue';

export default Vue.extend({
    name: 'LoginLayout',

    components: {
        Modal,
    },
});
</script>

<style lang="scss" scoped>
.login-layout {
    display: flex;
    justify-content: space-between;

    min-height: 100vh;

    .login-layout-content {
        position: relative;

        width: 53%;

        background: $white;
        border-radius: 40px;

        &:after {
            @include bef_aft;
            left: calc(100% - 15px);

            width: 70px;
            height: 88%;

            background: linear-gradient(to bottom, $white 0%, transparent 50%, $white 100%);
            border-radius: 40px;

            opacity: 0.5;
        }
    }

    .login-bg {
        width: 50%;
        margin-left: -5%;

        background: url('@/assets/images/login/login-page_bg.png') no-repeat right bottom / cover;
    }

    @include tablet_landscape {
        .login-layout-content {
            width: 58.8%;

            &:after {
                height: 94%;
            }
        }
    }

    @include tablet {
        .login-layout-content {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: $z-1;

            width: 89%;
            height: 675px;
            margin-top: -26px;

            border-radius: 20px;
            box-shadow: 0px 44px 44px rgba(18, 19, 19, 0.22);

            transform: translate(-50%, -50%);

            &:after {
                display: none;
            }
        }

        .login-bg {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            width: auto;
            margin-left: 0;
        }
    }

    @include mobile {
        .login {
            display: flex;
            flex-direction: column;

            height: 100%;
            &-layout-content {
                position: static;

                width: 100%;
                height: 100%;
                min-height: 100vh;
                margin-top: 0;
                padding-top: 53px;

                box-shadow: none;

                transform: none;
            }

            &-bg {
                display: none;
            }
        }
    }
}
</style>
