<template>
    <div class="personal-cabinet-layout">
        <header-common />
        <div class="personal-cabinet-layout__main">
            <sidebar />
            <div class="personal-cabinet-layout__content">
                <common-loader v-if="isLoadingContent" />
                <Nuxt />
            </div>
        </div>
        <footer-common />
        <modal />
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import CommonLoader from '@/components/common/CommonLoader.vue';
import FooterCommon from '@/components/layouts/footer/FooterCommon.vue';
import HeaderCommon from '@/components/layouts/header/HeaderCommon.vue';
import Sidebar from '@/components/layouts/sidebar/Sidebar.vue';
import Modal from '@/components/layouts/modal/Modal.vue';

export default Vue.extend({
    components: {
        HeaderCommon,
        Sidebar,
        FooterCommon,
        Modal,
        CommonLoader,
    },

    data: () => ({
        isLoadingContent: false,
    }),

    mounted() {
        window.$nuxt.$on('set-cabinet-data-loading-state', (status: boolean) => {
            this.isLoadingContent = status;
        });
    },
});
</script>

<style lang="scss" scoped>
.personal-cabinet-layout {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    min-height: 100vh;

    &__main {
        display: flex;

        width: 100%;
    }

    &__content {
        position: relative;

        width: 100%;
    }

    @include razr1259 {
        &__content {
            max-width: 800px;
        }
    }

    @include razr767 {
        padding-top: 60px;

        &__main {
            flex-direction: column;

            max-width: 100%;
            padding: 0;
        }

        &__content {
            max-width: 100%;
        }
    }
}

</style>
