<template>
    <div class="change-email modal-content--sm">
        <h2 class="modal-content-header">
            Смена почтового адреса
        </h2>
        <change-email-step1
            v-if="activeFirstStep"
            @next="goConfirm"
            @cancel="closePopup"
        />
        <change-email-step2
            v-if="activeSecondStep"
            @cancel="closePopup"
        />
        <change-email-step3
            v-if="activeThirdStep"
            @go-change-email="goChangeEmail"
            @cancel="closePopup"
        />
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import ChangeEmailStep1 from '@/components/layouts/modal/parts/change-email/parts/ChangeEmailStep1.vue';
import ChangeEmailStep2 from '@/components/layouts/modal/parts/change-email/parts/ChangeEmailStep2.vue';
import ChangeEmailStep3 from '@/components/layouts/modal/parts/change-email/parts/ChangeEmailStep3.vue';
import { IUser } from '~/src/utils/interfaces/auth';

export default Vue.extend({
    name: 'ChangeEmail',

    components: {
        ChangeEmailStep1,
        ChangeEmailStep2,
        ChangeEmailStep3,
    },

    data: () => ({
        step: 1,
    }),

    computed: {
        user(): IUser {
            return this.$accessor.auth.user;
        },

        isEmailConfirmed(): boolean {
            return this.user.isEmailConfirmed;
        },

        activeFirstStep(): boolean {
            return this.step === 1;
        },

        activeSecondStep(): boolean {
            return this.step === 2;
        },

        activeThirdStep(): boolean {
            return this.step === 3;
        },
    },

    mounted() {
        this.checkStep();
    },

    methods: {
        checkStep(): void {
            if (this.$accessor.auth.userEmailConfirm?.email) {
                this.step = 3;
            }
        },

        goChangeEmail(): void {
            this.step = 1;
        },

        goConfirm(): void {
            this.step = 2;
        },

        closePopup(): void {
            this.$accessor.modal.CLOSE_MODAL_ACTION();
        },
    },
});
</script>

<style lang="scss" scoped>
.change-email {
    display: flex;
    flex-direction: column;
}
</style>
