<template>
    <section class="avatar-profile">
        <h2 class="visually-hidden">
            Блок с аватaркой пользователя
        </h2>
        <div class="avatar-profile__image-wrapper">
            <span>{{ getSymbol }}</span>
        </div>
        <div class="avatar-profile__info-wrapper">
            <p
                v-if="juridicalName.length"
                class="avatar-profile__info-name"
            >
                {{ juridicalName[0] }} <span>{{ juridicalName[1] }}</span>
            </p>
            <p class="avatar-profile__info-tin">
                ИНН:<span>{{ juridicalPerson.inn }}</span>
            </p>
        </div>
    </section>
</template>

<script lang="ts">
import Vue from 'vue';
import { IJuridicalPerson, IUser } from '~/src/utils/interfaces/auth';

export default Vue.extend({
    name: 'AvatarProfile',

    computed: {
        user(): IUser {
            return this.$accessor.auth.user;
        },

        juridicalPerson(): IJuridicalPerson {
            return this.$accessor.auth.juridicalPerson;
        },

        juridicalName(): string[] {
            const nameArray = this.juridicalPerson.juridicalName?.split(' ');
            return [
                nameArray?.[0],
                nameArray?.slice(1).join(' '),
            ];
        },

        getSymbol(): string {
            const str = this.juridicalPerson?.juridicalName?.replace(/[&/\\#,+()$~%.'":*?<>{}]/g, '');
            const index = str?.indexOf(' ');
            return str?.[index + 1];
        },
    },
});
</script>

<style lang="scss" scoped>
.avatar-profile {
    padding: 45px 32px 32px 0;

    border-bottom: 1px solid $border-color-gray;

    &__image-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 65px;
        height: 65px;
        margin-bottom: 24px;

        background-color: $green-avatar;
        border-radius: 22px;

        span {
            font-size: 22px;
            line-height: 100%;
            font-weight: 700;
            text-transform: uppercase;

            opacity: 0.74
        }
    }

    .avatar-profile__info-wrapper {
        .avatar-profile__info-name {
            margin-bottom: 8px;

            font-size: 16px;
            line-height: 19px;
            font-weight: 700;
            color: $light-gray-third;

            span {
                margin-left: 5px;

                font-weight: 600;
                word-break: break-all;
                color: $dark-gray;
            }
        }

        .avatar-profile__info-tin {
            font-size: 14px;
            line-height: 17px;
            color: $light-gray-second;

            span {
                margin-left: 5px;
            }
        }
    }
}

@include razr1259 {
    .avatar-profile {
        padding: 16px 24px 24px 0;

        .avatar-profile__info-wrapper {
            .avatar-profile__info-name {
                max-width: 145px;

                font-size: 14px;
                line-height: 17px;
            }

            .avatar-profile__info-tin {
                font-size: 12px;
                line-height: 15px;
            }
        }
    }
}

@include razr767 {
    .avatar-profile {
        display: flex;
        order: 2;

        padding: 32px 20px 17px;

        border-bottom: none;

        &__image-wrapper {
            width: 45px;
            height: 45px;
            margin-right: 14px;
            margin-bottom: 0;

            border-radius: 14px;

            span {
                font-size: 14px;
            }
        }

        .avatar-profile__info-wrapper {
            .avatar-profile__info-name {
                max-width: 100%;
            }
        }
    }
}
</style>
