<template>
    <section
        v-if="userDiscount"
        class="discount"
    >
        <h2 class="visually-hidden">
            Блок со скидками пользователя
        </h2>
        <div class="discount__item">
            <h3>{{ userDiscount }}%</h3>
            <div class="discount__item-content">
                <p>Ваша скидка</p>
                <span>скидка применена на весь ассортимент</span>
            </div>
        </div>
    </section>
</template>

<script lang="ts">
import Vue from 'vue';
import { IUser } from '~/src/utils/interfaces/auth';

export default Vue.extend({
    name: 'Discount',

    computed: {
        user(): IUser {
            return this.$accessor.auth.user;
        },

        userDiscount(): string {
            return this.user.discount;
        },
    },
});
</script>

<style lang="scss" scoped>
.discount {
    display: flex;
    flex-direction: column;

    padding: 32px 32px 32px 0;

    .discount__item {
        padding: 38px 42px;

        background-color: $discount-bg-color;
        border-radius: 44px;

        h3 {
            margin-bottom: 8px;

            font-size: 64px;
            line-height: 100%;
            font-weight: 700;
            color: $green;
            letter-spacing: -0.01em;
        }

        .discount__item-content {
            p {
                margin-bottom: 4px;

                font-size: 24px;
                line-height: 130%;
                font-weight: 700;
                letter-spacing: -0.01em;
            }

            span {
                display: inline-block;

                max-width: 140px;

                font-size: 14px;
                line-height: 18px;
                color: $light-gray-second;
            }
        }
    }
}

@include razr1259 {
    .discount {
        padding: 18px 18px 18px 0;

        .discount__item {
            padding: 36px 32px;

            h3 {
                margin-bottom: 5px;

                font-size: 44px;
                text-align: center;
            }

            .discount__item-content {
                p {
                    margin-bottom: 8px;

                    font-size: 18px;
                    text-align: center;
                }

                span {
                    font-size: 12px;
                    line-height: 18px;
                }
            }
        }
    }
}

@include razr767 {
    .discount {
        order: 3;

        padding: 0 20px;

        .discount__item {
            display: flex;
            justify-content: space-between;
            align-items: center;

            padding: 27px 36px;

            border-radius: 22px;

            h3 {
                margin-bottom: 0;

                font-size: 44px;
                text-align: left;
            }

            .discount__item-content {
                width: 100%;
                max-width: 115px;

                p {
                    margin-bottom: 2px;

                    font-size: 14px;
                    text-align: left;
                }
            }
        }
    }
}
</style>
