<template>
    <nav class="navigation-sidebar">
        <ul class="navigation-sidebar__list">
            <li class="navigation-sidebar__list-item">
                <nuxt-link
                    class="navigation-sidebar__list-link"
                    to="/personal-cabinet/profile"
                >
                    <user-icon />
                    Профиль
                </nuxt-link>
            </li>
            <li class="navigation-sidebar__list-item">
                <nuxt-link
                    class="navigation-sidebar__list-link"
                    to="/personal-cabinet/history"
                >
                    <history-icon />
                    История покупок
                </nuxt-link>
            </li>
            <li class="navigation-sidebar__list-item">
                <nuxt-link
                    class="navigation-sidebar__list-link"
                    to="/personal-cabinet/my-products"
                >
                    <products-icon />
                    Мои товары
                </nuxt-link>
            </li>
        </ul>

        <button
            class="button-logout"
            @click="logout"
        >
            Выйти
        </button>
    </nav>
</template>

<script lang="ts">
import Vue from 'vue';
import UserIcon from '@/assets/images/icon/user-icon.svg?inline';
import HistoryIcon from '@/assets/images/icon/history-nav-gray-icon.svg?inline';
import ProductsIcon from '@/assets/images/icon/shopping-basket-icon.svg?inline';

export default Vue.extend({
    name: 'NavigationSidebar',

    components: {
        UserIcon,
        HistoryIcon,
        ProductsIcon,
    },

    methods: {
        logout(): void {
            this.$accessor.auth.logoutAction();
        },
    },
});
</script>

<style lang="scss" scoped>
.navigation-sidebar {
    &__list {
        display: flex;
        flex-direction: column;

        padding: 32px 32px 32px 0;

        border-bottom: 1px solid $border-color-gray;
        &-item {
            margin-bottom: 28px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &-link {
            display: flex;
            align-items: center;

            line-height: 1.3;
            font-weight: 600;
            color: $light-gray;
            text-decoration: none;

            transition: color $common-transition-duration;

            svg {
                width: 20px;
                margin-right: 20px;
            }

            &:hover, &.nuxt-link-active {
                color: $dark-gray;
                &::v-deep {
                    svg {
                        [fill] {
                            fill: $green;
                        }
                        [stroke] {
                            stroke: $green;
                        }
                    }
                }
            }
        }
    }

    .button-logout {
        position: relative;

        margin: 32px 0;
        padding: 0;

        color: $black;
        font-size: 16px;
        line-height: 1;
        font-weight: 600;

        cursor: pointer;

        transition: color $common-transition-duration;

        &:hover {
            color: $green;
        }

        &::after {
            content: '';
            position: absolute;
            right: -30px;
            top: 50%;

            width: 16px;
            height: 16px;

            transform: translateY(-50%);

            background: url('@/assets/images/icon/logout-icon.svg') center / contain no-repeat;
        }
    }
    @include razr1259 {
        &__list {
            padding: 24px 24px 24px 0;

            &-item {
                margin-bottom: 18px;
            }
        }

        &-link {
            padding-left: 30px;

            font-size: 14px;

            &::before {
                width: 18px;
                height: 18px;
            }

            &--profile {
                &::before {
                    width: 16px;
                }
            }

            &--products {
                &::before {
                    width: 20px;
                }
            }
        }

        .button-logout {
            margin: 24px 0;

            font-size: 14px;
        }
    }

    @include razr767 {
        display: flex;
        align-items: center;
        order: 1;

        overflow: auto;

        &__list {
            flex-direction: row;

            width: fit-content;
            padding-top: 20px;
            padding-bottom: 20px;

            border: none;

            &-item {
                width: auto;
                margin-bottom: 0;
            }

            &-link {
                padding: 0 29px;

                font-size: 14px;
                white-space: nowrap;

                svg {
                    width: 20px;
                }

                &.nuxt-link-active {
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        right: 0;
                        bottom: -10px;
                        left: 0;

                        height: 2px;

                        background-color: $green;
                    }
                }
            }
        }

        .button-logout {
            margin: 0;
            padding: 20px 45px 20px 0;

            &:after {
                right: 20px;
            }
        }
    }
}
</style>
