<template>
    <div class="question-row">
        <app-modal
            v-if="isModalVisible"
            @closeModal="toggleModal"
            @saveHandler="toggleModal"
        >
            <app-editor v-model="question.intro"/>
        </app-modal>

        <app-modal
            v-if="isNameModalVisible"
            @closeModal="toggleNameModal"
            @saveHandler="toggleNameModal"
        >
            <app-editor v-model="question.name"/>
        </app-modal>

        <div
            v-if="!questionIsEdited"
            class="row"
        >
            <div class="number">
                {{ question.number }}
            </div>
            <div class="subtitle">
                {{ question.subtitle }}
            </div>
            <div class="intro-text">
                {{ question.intro | htmlToString }}
            </div>
            <div class="question">
                {{ question.name | htmlToString }}
            </div>
            <div
                v-if="activePollingQuestions"
                class="add-polling"
            >
                <app-button
                    class="add-polling-btn"
                    @click="openSurveys"
                >
                    <span v-if="!surveysIsOpen">Open</span>
                    <span v-else>Close</span>
                </app-button>
            </div>
            <div class="hide-comment">
                <label
                    v-if="question.hide_tool"
                    class="disposer-app-checkbox"
                >
                    <input
                        v-model="question.hide_tool"
                        type="checkbox"
                        disabled
                    />
                    <div class="box"></div>
                </label>
            </div>
            <div class="edit-delete edit-delete-align">
                <app-actions
                    :edit="() => startEditQuestion(question)"
                    :trash="() => deleteQuestion(question)"
                />
            </div>
        </div>
        <div
            v-else
            class="row edit"
        >
            <div class="number">
                <div class="number-input">
                    <input
                        v-model="question.number"
                        type="text"
                        class="disposer-app-input"
                    />
                </div>
            </div>

            <div class="subtitle">
                <div class="subtitle-input">
                    <input
                        v-model="question.subtitle"
                        type="text"
                        class="disposer-app-input title-input"
                    />
                </div>
            </div>

            <div class="intro-text">
                <div class="intro-text-input">
                    <input
                        :value="question.intro | htmlToString"
                        type="text"
                        class="disposer-app-input title-input"
                        @focus="toggleModal"
                    />
                </div>
            </div>

            <div class="question">
                <div class="question-input">
                    <input
                        :value="question.name | htmlToString"
                        type="text"
                        class="disposer-app-input title-input"
                        @focus="toggleNameModal"
                    />
                    <span
                        v-if="$v.question.name.$dirty && !$v.question.name.required"
                        class="app-input-error"
                    >
                        Enter name
                    </span>
                </div>
            </div>

            <div class="add-polling">
            </div>

            <div class="hide-comment">
                <label class="disposer-app-checkbox">
                    <input
                        v-model="question.hide_tool"
                        type="checkbox"
                    />
                    <div class="box"></div>
                </label>
            </div>

            <div class="edit-delete edit-delete-align">
                <app-actions
                    :save="() => saveQuestion(question)"
                    :trash="deleteQuestion"
                />
            </div>
        </div>
        <template v-if="surveysIsOpen">
            <app-topic-surveys
                v-for="survey in question.surveys"
                :key="survey.id"
                :survey="survey"
                :topic-id="topicId"
                :question-id="question.id"
                @deleteSurvey="deleteSurvey"
                @updateTopicInfo="getEditedTopic"
            />
            <app-button
                class="addSurvey"
                @click="addSurvey"
            >
                Add survey
            </app-button>
        </template>
    </div>
</template>

<script>
import appButton from '@/components/disposer/app/app-button';
import appActions from '@/components/disposer/app/app-actions';
import appTopicSurveys from '@/components/disposer/app/app-topic-surveys';
import appModal from '@/components/disposer/app/app-modal';
import appEditor from '@/components/disposer/app/app-editor';

import { post } from '@/utils/http-helper';
import { createQuestion, updateQuestion, deleteQuestion } from '@/utils/disposer/notifications-text-helper';
import { required } from 'vuelidate/lib/validators';
import htmlToString from '@/utils/filters/html-to-string';

const CREATE_QUESTION = '/topic/create-question';
const UPDATE_QUESTION = '/topic/update-question';
const DELETE_QUESTION = '/topic/delete-question';

export default {
    name: 'question-row',

    components: {
        appButton,
        appActions,
        appTopicSurveys,
        appModal,
        appEditor,
    },

    filters: {
        htmlToString,
    },

    props: {
        topicId: {
            type: Number,
            default: null,
        },
        eventId: {
            type: Number,
            default: null,
        },
        question: {
            type: Object,
            default: () => {},
        },
        activePollingQuestions: {
            type: Number,
            default: 1,
        },
    },

    data: () => ({
        isModalVisible: false,
        isNameModalVisible: false,
        edited: false,
        surveysIsOpen: false,
    }),

    computed: {
        questionIsEdited() {
          return this.question.editDefault || this.edited;
        },
    },

    validations: {
        question: {
            name: {
                required,
            },
        },
    },
    methods: {
        toggleModal() {
            this.isModalVisible = !this.isModalVisible;
        },
        toggleNameModal() {
            this.isNameModalVisible = !this.isNameModalVisible;
        },
        startEditQuestion() {
            this.edited = true;
        },
        openSurveys() {
            this.surveysIsOpen = !this.surveysIsOpen;
        },
        async deleteQuestion() {
            if (this.question.id>=1) {
              this.$awn.async(post(DELETE_QUESTION, {
                id: this.question.id,
                topic_id: this.topicId,
              }), response => {
                if (response.status){
                  this.$emit('deleteQuestion', this.question.id);
                  this.$awn.success(deleteQuestion);
                }
              });
            } else  {
              this.$emit('deleteQuestion', this.question.id);
            }
        },
        async saveQuestion() {
            if (this.$v.question.$invalid) {
                this.$v.question.$touch();
                return;
            }

            const newQuestion = {
                event_id: this.eventId,
                topic_id: this.topicId,
                ...this.question,
            };
            newQuestion.hide_tool = +newQuestion.hide_tool;
            delete newQuestion.surveys;
            delete newQuestion.id;

            let url = CREATE_QUESTION;
            let successMessage = createQuestion;

            if (this.question.id>=1) {
                url = UPDATE_QUESTION;
                newQuestion.id = this.question.id;
                successMessage = updateQuestion;
            }

            this.$awn.async(post(url, newQuestion), response => {
                if (response.status) {
                    this.edited = false;
                    this.question.id = response.data.id;
                    this.question.editDefault = false;
                    this.$awn.success(successMessage);
                }
            });
        },
        addSurvey() {
            this.question.surveys.push({
                id: Math.random(),
            });
        },
        deleteSurvey(id) {
            this.question.surveys = this.question.surveys.filter(s => s.id!==id);
        },
        getEditedTopic() {
          this.$emit('getEditedTopic');
        },
    },
};
</script>

<style scoped lang="scss">
    .question-row{
        .row {
            display: flex;
            justify-content: space-between;
            align-items: center;

            width: to_rem(1300px);
            height: auto;
            padding: 10px;

            background-color: white;
            border: 1px solid #d0d1d2;

            &.edit {
                padding: 20px 10px 20px;
            }

            .number {
                position: relative;

                display: flex;
                justify-content: space-between;
                align-items: center;

                width: to_rem(50px);

                .disposer-app-input {
                    width: 35px;
                    height: 35px;
                }
                .app-input-error {
                    min-width: 150px;
                }
            }

            .subtitle {
                width: to_rem(210px);
            }

            .intro-text{
                width: to_rem(210px);
                max-height: 3.3rem;
                overflow: hidden;
            }

            .question{
                position: relative;

                width: to_rem(150px);
            }

            .add-polling {
                width: to_rem(160px);

                .app-button {
                    width: 100px;
                    height: 35px;
                }
            }

            .hide-comment {
                width: to_rem(60px);
            }

            .edit-delete {
                width: to_rem(90px);

                text-align: right;
            }

            .edit-delete-align {
                display: flex;
                justify-content: flex-end;

                padding-right: 10px;
            }
            .disposer-app-input {
                margin-top: 0;
            }
        }
        .app-button {
            &.addSurvey {
                margin: 20px 20px 10px;
            }
        }
    }
</style>
