<template>
    <div class="my-products">
        <h2 class="common-page-title common-page-title--products">
            Мои товары
        </h2>

        <div class="my-product-list__items-wrapper">
            <card
                v-for="item in favorites"
                :key="item.id"
                :card="item"
            />
        </div>

        <template v-if="viewed.length">
            <h2 class="common-page-title common-page-title--products">
                Недавно просмотренные
            </h2>

            <div class="my-product-list__items-wrapper">
                <card
                    v-for="item in viewed"
                    :key="item.id"
                    :card="item"
                />
            </div>
        </template>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';

import Card from '@/components/pages/catalog/Card.vue';
import { RGetFavorites, RGetViewed } from '~/src/utils/api/requests/catalog';
import { IUserFavorite } from '~/src/utils/interfaces/auth';

export default Vue.extend({
    name: 'PageMyProducts',

    components: {
        Card,
    },

    layout: 'personal-cabinet',

    middleware: ['authenticated'],

    data: () => ({
        favorites: [] as IUserFavorite[],
        viewed: [] as IUserFavorite[],
    }),

    computed: {
        token():string {
            return this.$accessor.auth.accessToken;
        },
    },

    async mounted() {
        window.$nuxt.$emit('set-cabinet-data-loading-state', true);
        await this.getFavorites();
        await this.getViewed();
        window.$nuxt.$emit('set-cabinet-data-loading-state', false);
    },

    methods: {
        async getFavorites() {
            const response = await this.$request(RGetFavorites());
            if (response.RESPONSE_STATUS === 200) {
                this.favorites = response.favorites as IUserFavorite[];
            }
        },

        async getViewed() {
            const response = await this.$request(RGetViewed());
            if (response.RESPONSE_STATUS === 200) {
                this.viewed = response.recentlyViewed;
            }
        },
    },
});
</script>

<style lang="scss" scoped>
.my-products {
    display: flex;
    flex-direction: column;

    width: 900px;
    padding: 58px 0 48px 64px;

    .card {
        margin-bottom: 12px;

        &:not(:nth-of-type(3n)){
            margin-right: 12px;
        }

        border: 1px solid $border-color-gray;
    }

    .my-product-list {
        width: 100%;

        &__items-wrapper {
            display: flex;
            flex-wrap: wrap;

            width: 100%;
            margin-bottom: 48px;
        }
    }

    @include razr1259 {
        width: 540px;
        padding: 36px 0 29px 32px;

        h2 {
            margin-bottom: 25px;
            padding-bottom: 13px;
            padding-left: 0;

            font-size: 16px;

            border-bottom: 1px solid $border-color-gray;

            &:before {
                display: none;
            }
        }

        .my-product-list {
            &__items-wrapper {
                margin-bottom: 29px;
            }
        }

        .card {
            margin-right: 12px;

            &:nth-of-type(2n){
                margin-right: 0;
            }

            border: 1px solid $border-color-gray;
        }

        @include razr365 {
            .card {
                margin-right: 0 !important;
                &:nth-of-type(2n + 1) {
                    margin-right: 10px !important;
                }
            }
        }
    }

    @include razr767 {
        width: 100%;
        padding: 42px 20px 21px;

        .my-product-list {
            &__items-wrapper {
                margin-bottom: 21px;
            }
        }
    }
}
</style>
