<template>
    <div class="agenda">
        <div class="page-title">
            {{ $t('agenda', 'Agenda') }}
        </div>
        <div class="app-topic-title">
            {{ $t('agenda_topics', 'Topics') }}
        </div>
        <div class="buttons">
            <app-button
                class="big"
                :class="{'light-blue': topicsView===2}"
                @click="topicsView=1"
            >
                View the Agenda
            </app-button>
            <app-button
                class="big"
                :class="{'light-blue': topicsView===1}"
                @click="topicsView=2"
            >
                Calendar
            </app-button>
        </div>
        <div
            v-if="topicsView===1 && agenda && agenda.topics"
            class="topics-list"
        >
            <div
                v-for="topic of agenda.topics"
                :key="topic.id"
                class="topic"
                :class="{new: topic.new}"
            >
                <format-icons
                    :format="topic.format"
                    :is-conf="topic.conf"
                />
                <router-link :to="{ name: 'dashboard', query: { id: topic.id, event_id: eventId } }">
                    {{ topic.name }}
                </router-link>
                <p>
                    <span>
                        {{ $t('agenda_timeline', 'Timeline') }}:
                    </span>
                    {{ topic.start_date }} - {{ topic.end_date }} {{ agenda.event.timezone }}
                </p>
                <hr />
            </div>
        </div>

        <app-calendar v-if="topicsView===2 && agenda" />

        <template v-if="agenda">
            <div class="app-topic-title">
                {{ $t('agenda_overall', 'Overall Agenda') }}
            </div>
            <div
                class="view"
                v-html="agenda.objectives"
            ></div>
        </template>

        <template v-if="agenda &&  agenda.documents && agenda.documents.length">
            <div class="app-topic-title">
                {{ $t('agenda_resources', 'Resources') }}
            </div>
            <div class="documents">
                <app-resources>
                    <div
                        v-for="document of agenda.documents"
                        :key="document.id"
                        class="resource"
                    >
                        <a
                            v-if="!document.secured"
                            :href="generateUrl(document.file, ' ')"
                            target="_blank"
                            @click="sendAnalytic(1 ,document.id)"
                        >
                            <img src="@/assets/img/icons/pdf_icon.svg" />
                            {{ document.name }}
                        </a>
                        <router-link
                            v-else
                            :to="{ name:'view', query:{ document_id: document.id, part: 'agenda' } }"
                            target="_blank"
                            @click.native="sendAnalytic(1 ,document.id)"
                        >
                            <img src="@/assets/img/icons/pdf_icon.svg" />
                            {{ document.name }}
                        </router-link>
                        <p>
                            {{ document.description }}
                        </p>
                    </div>
                </app-resources>
            </div>
        </template>
        <template v-if="showModerators">
            <div class="app-topic-title">
                {{ $t('agenda_chair', 'Information about Moderator') }}
            </div>
            <app-participants-information
                v-for="moderator of agenda.moderators"
                :key="moderator.id"
                :participant="moderator"
            />
        </template>
    </div>
</template>

<script>
    import appButton from '@/components/user/app/app-button';
    import appParticipantsInformation from '@/components/user/app/app-participants-information';
    import appCalendar from '@/components/user/pages/agenda/calendar';
    import formatIcons from '@/components/user/pages/agenda/format-icons';
    import appResources from '@/components/user/app/app-resources';

    import generateUrl from '@/utils/mixins/generate_url';
    import { sendClick } from '@/utils/user/clicks-analytic';

    export default {
        name: 'agenda',

        components: {
            appButton,
            appParticipantsInformation,
            appCalendar,
            formatIcons,
            appResources,
        },

        mixins: [generateUrl],

        data: () => ({
           topicsView: 1,
        }),

        computed: {
            agenda() {
                return this.$store.getters.getAgenda;
            },
            showModerators() {
              return this.agenda?.moderators?.length;
            },
            eventId() {
              return this.$route.query.event_id;
            },
        },

        async created() {
          await this.$store.dispatch('getAgenda', this.eventId);
        },

        methods: {
            sendAnalytic(type, id) {
                sendClick(2, type, id);
            },
        },
    };
</script>

<style scoped lang="scss">
    .buttons{
        display: flex;
        justify-content: center;

        padding: 2.3rem 0;
        .app-button{
            &:not(:last-of-type){
                margin-right: 6rem;
            }
        }
    }
    .view {
        padding: 1.8rem 1.75rem;

        background: white;
    }
   .topics-list{
       padding: 1.7rem 1.8rem;

       background: white;
       .topic{
           margin-bottom: 1.1rem;
           &:last-of-type{
               hr{
                   display: none;
               }
           }
           &.new{
               position: relative;

               padding-left: 3.7rem;
               &:before{
                   @include bef_aft;
                   width: 3rem;
                   height: 3rem;

                   background: url("~@/assets/img/icons/new-topic_icon.png") no-repeat center center/contain;
               }
           }

           a{
               display: block;

               margin-bottom: 0.3rem;

               font-size: to_rem(24px);
               color: $mainPurple;
               text-decoration: none;
               font-style: italic;
           }
           p{
               font-size: to_rem(14px);
               font-weight: 700;
               span{
                   font-weight: 400;
               }
           }
           hr{
               margin: 1.7rem 0 0;

               border: none;
               border-top: 1px solid $lightGray;
           }
       }
       .app-labels-imgs{
           margin-bottom: 0.6rem;
       }
   }
   .documents{
        background: white;
        .document{
            &:not(:last-of-type){
                margin-bottom: 1rem;
            }
        }
        a{
            position: relative;

            display: flex;
            align-items: center;

            margin-bottom: 0.6rem;

            font-size: to_rem(14px);
            color: $mainPurple;

            img {
                display: block;

                width: 1rem;
                margin-right: 0.5rem;
            }
        }
        p{
            font-size: to_rem(12px);
        }
    }

   @include mobile_or_P{
        .topics-list{
            .topic{
            margin-bottom: 1.3rem;
            }
        }
        .documents{
            padding: 1.2rem 2.5rem;
        }
   }

    @include razr767{
        .buttons{
            flex-direction: column;
            align-items: center;

            padding: 2.3rem 0 1.1rem;
            .app-button{
                margin-bottom: .5rem;
                &:not(:last-of-type){
                    margin-right: 0;
                }
            }
        }
        .documents{
            padding: 1.5rem 1.5rem 1.5rem 3.5rem;
            a{
                margin-bottom: 0.8rem;

                font-size: 1.2rem;
                &:before{
                    left: -1.9rem;

                    width: 1.4rem;
                    height: 1.3rem;
                }
            }
            p{
                font-size: 1rem;
                line-height: 1.2;
            }
        }
        .app-participants-information{
            margin-bottom: 1.5rem;
        }
    }
</style>
