<template>
    <div class="login">
        <div class="login-content">
            <img src="@/assets/images/login/logo.svg" />
            <login-default
                v-if="activeDefault"
                @login="login"
            />
            <common-phone-confirmation
                v-else
                :error="confirmPhoneError"
                :number="loginPhone"
                @confirm="confirmPhone"
                @resend-code="login"
                @cancel="backToLogin"
            />
        </div>
        <login-footer />
    </div>
</template>

<script lang="ts">
import Vue from 'vue';

import LoginDefault from '@/components/pages/login/LoginDefault.vue';
import CommonPhoneConfirmation from '@/components/common/CommonPhoneConfirmation.vue';
import LoginFooter from '@/components/pages/login/LoginFooter.vue';
import { ILogin } from '~/src/utils/interfaces/auth';
import { RConfirmLoginPhone, RLogin } from '~/src/utils/api/requests/auth';

export default Vue.extend({
    name: 'Login',

    components: {
        LoginDefault,
        CommonPhoneConfirmation,
        LoginFooter,
    },

    layout: 'login-layout',

    middleware: 'notAuthenticated',

    data: () => ({
        loginStep: 1,
        loginPhone: '',
        loginData: {
            email: '',
            password: '',
        } as ILogin,
        confirmPhoneError: '',
    }),

    computed: {
        activeDefault(): boolean {
            return this.loginStep === 1;
        },
    },

    methods: {
        backToLogin() {
            this.confirmPhoneError = '';
            this.changeStep(1);
        },

        changeStep(num: number) {
            this.loginStep = num;
        },

        async login(data: ILogin, callBack: any): Promise<void> {
            if (data) {
                this.loginData = data;
            }
            const response = await this.$request(RLogin(this.loginData));
            if (response.RESPONSE_STATUS === 200) {
                this.loginPhone = response.phoneNumber;
                this.changeStep(2);
            }
            if (callBack) {
                callBack(response);
            }
        },

        async confirmPhone(code: string, callBack: Function): Promise<void> {
            this.confirmPhoneError = '';
            const requestData = {
                phoneCode: code,
                ...this.loginData,
            };
            const response = await this.$request(RConfirmLoginPhone(requestData));
            if (response.success === false) {
                this.confirmPhoneError = response.errors[0].message;
            }
            else {
                this.$accessor.auth.loginAction(response);
                await this.$accessor.cart.mergeCart();
                await this.$accessor.auth.fetchUser();
                await this.$accessor.catalog.getFavoritesAction();
                this.$router.push('/');
            }
            callBack();
        },
    },

});
</script>

<style scoped lang="scss">
.login {
    display: flex;
    flex-direction: column;

    height: 100%;

    .login-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 360px;
        height: 100%;
        margin: 0 auto;
    }

    .common-phone-confirmation {
        margin-top: 85px;
    }

    @include tablet_landscape {
        .login-content {
            width: 325px;
        }

        .common-phone-confirmation {
            margin-top: 70px;
        }
    }

    @include tablet {
        .login-content {
            width: 330px;
        }

        .common-phone-confirmation {
            margin-top: 55px;
        }
    }

    @include mobile {
        .login-content {
            justify-content: flex-start;

            width: 100%;
            height: auto;
            margin-bottom: 50px;
        }

        .common-phone-confirmation {
            margin-top: 24px;
        }
    }
}

</style>
