<template>
    <div
        v-scroll-lock="showFilters"
        class="catalog"
    >
        <div class="catalog-start">
            <common-breadcrumbs
                :links="breadcrumbsLinks"
            />
            <nuxt-link
                tag="div"
                to="/"
                class="catalog__back-btn"
            >
                На главную
            </nuxt-link>
            <div class="catalog__title">
                Каталог
            </div>
            <div class="catalog__categories">
                <nuxt-link
                    v-for="category in mainCategories"
                    :key="category.id"
                    :to="`/catalog/${ category.id }/${ category.url }`"
                    class="catalog__category"
                >
                    {{ category.name }}
                </nuxt-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import CommonBreadcrumbs from '@/components/common/CommonBreadcrumbs.vue';
import { breadcrumbsDefaultPath } from '~/src/utils/helpers/site-settings';
import { ICategory, IBreadcrumb } from '~/src/utils/interfaces/catalog';

export default Vue.extend({
    name: 'Catalog',

    components: {
        CommonBreadcrumbs,
    },

    data: () => ({
        showFilters: false,
    }),

    computed: {
        categoriesList(): ICategory[] {
            return this.$store.getters['catalog/categoriesList'];
        },

        mainCategories(): ICategory[] {
            return this.categoriesList?.filter((category: ICategory) => !category.treeParentId);
        },

        breadcrumbsLinks(): IBreadcrumb[] {
            return [...breadcrumbsDefaultPath];
        },

    },
});
</script>

<style lang="scss" scoped>
.catalog {
    display: flex;
    justify-content: center;

    width: 100%;

    &__container {
        display: flex;

        width: 100%;

        background: $input-bg-color;
    }

    &-start {
        width: 1200px;
        padding: 17px 0;
    }

    &__back-btn {
        display: none;
    }

    &__title {
        margin-top: 62px;

        font-size: 31px;
        font-weight: 700;
    }

    &__categories {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        margin-top: 44px;
    }

    &__category {
        width: 270px;
        margin-right: 30px;
        margin-bottom: 25px;

        font-size: 18px;
        font-weight: 400;
        color: $black-second;
        text-decoration: none;

        transition: color $common-transition-duration;

        &:hover {
            color: $green;
        }
    }

    @include tablet_landscape {
        &__container {
            justify-content: center;
        }

        &-start {
            padding: 18px 23px;
        }

        &__title {
            margin-left: 60px;
        }

        &__categories {
            margin-left: 60px;
        }

        &__category {
            width: 300px;
            margin-right: 6px;
        }
    }

    @include tablet {
        &__categories {
            padding-right: 47px;
        }

        &__category {
            width: 250px;
            margin-right: 55px;
        }
    }

    @include mobile {
        &-start {
            width: 100%;
            padding: 15px 20px;
        }
        &__back-btn {
            position: relative;

            display: flex;

            padding-bottom: 14px;
            padding-left: 18px;

            font-size: 14px;
            font-weight: 700;

            border-bottom: 1px solid $light-gray-ninth;

            &:before {
                @include bef_aft;
                top: 7px;
                left: 2px;

                width: 14px;
                height: 12px;

                background: url('@/assets/images/icon/arrow-left-green-icon.svg') no-repeat center center/contain;
            }
        }

        &__title {
            margin-top: 33px;
            margin-left: 0;

            font-size: 24px;
        }

        &__categories {
            margin-top: 34px;
            margin-left: 0;
            padding-right: 0;
        }

        &__category {
            width: 100%;
            margin-right: 0;
            margin-bottom: 34px;
        }
    }
}

</style>
