<template>
    <div class="about-error modal-content--sm">
        <div class="modal-content-header">
            <h3>Ошибка</h3>
        </div>

        <div class="about-error__content">
            <h4 class="about-error__content-title">
                {{ errorType }}
            </h4>
            <p class="about-error__content-description">
                {{ errorText }}
            </p>
            <common-button
                class="common-button--green"
                tag="nuxt-link"
                :to="buttonLink"
                @click.native="closePopup"
            >
                {{ buttonText }}
            </common-button>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import CommonButton from '@/components/common/CommonButton.vue';

export default Vue.extend({
    name: 'AboutError',

    components: {
        CommonButton,
    },

    computed: {
        isAboutError(): boolean {
            return this.$accessor.modal.modalPayload.errorType === 'AboutError';
        },

        isNeedAuth(): boolean {
            return this.$accessor.modal.modalPayload.errorType === 'NeedAuth';
        },

        confirmError(): boolean {
            return this.$accessor.modal.modalPayload.errorType === 'ConfirmError';
        },

        errorType(): string {
            if (this.isAboutError) {
                return 'Страница не найдена.';
            }
            if (this.isNeedAuth) {
                return 'Вы вышли из личного кабинета.';
            }
            if (this.confirmError) {
                return 'Неверная ссылка';
            }
            return '';
        },

        errorText(): string {
            if (this.isAboutError) {
                return 'Рассмотрим, что значит и как исправить ошибку отображения внутренних страниц сайта (error&nbsp;404 или 500), причиной проблемы является отсутствие файла.';
            }
            if (this.isNeedAuth) {
                return 'Вы вышли из личного кабинета. Возможно, вы давно не совершали действий на сайте и время вашей сессии истекло. Чтобы продолжить работу в личном кабинете, авторизуйтесь.';
            }
            if (this.confirmError) {
                return 'Ссылка, отправленная на ваш почтовый адрес, устарела.';
            }
            return '';
        },

        buttonText(): string {
            if (this.isAboutError) {
                return 'Вернуться на главную';
            }
            if (this.isNeedAuth) {
                return 'Войти в личный кабинет';
            }
            if (this.confirmError) {
                return 'Готово';
            }
            return '';
        },

        buttonLink(): string {
            if (this.isAboutError) {
                return '/';
            }
            if (this.isNeedAuth) {
                return '/login';
            }
            return '/';
        },
    },

    methods: {
        closePopup() {
            this.$accessor.modal.CLOSE_MODAL_ACTION();
        },
    },
});
</script>

<style lang="scss" scoped>
.about-error {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 50px 0 126px;

        &-title {
            margin-bottom: 14px;

            font-size: 31px;
            font-weight: 700;
            color: $black;
            text-align: center;
        }

        &-description {
            max-width: 446px;
            margin-bottom: 34px;

            font-size: 16px;
            line-height: 1.3;
            text-align: center;
            color: $light-gray-second;
        }

        .common-button {
            width: 260px;
            height: 60px;
        }
    }

    @include razr1259 {
        &__content {
            padding: 50px 0 80px;

            &-title {
                font-size: 28px;
            }

            &-description {
                max-width: 315px;
                margin-bottom: 24px;

                font-size: 14px;
            }

            .common-button {
                width: 220px;
                height: 50px;
            }
        }
    }

    @include razr767 {
        &__content {
            padding: 50px 0;

            &-title {
                font-size: 24px;
            }

            &-description {
                max-width: 308px;
            }
        }
    }
}
</style>
