<template>
    <div class="alcoholic-warning modal-content--sm">
        <div class="alcoholic-warning__content">
            <div class="alcoholic-warning__content-age">
                <span>18+</span>
            </div>
            <p class="alcoholic-warning__content-text">
                Данная страница содержит информацию об алкогольной продукции.
                Пожалуйста, подтвердите своё совершеннолетие для продолжения просмотра.
            </p>
            <h3 class="alcoholic-warning__content-question">
                Вам уже исполнилось 18 лет?
            </h3>

            <div class="alcoholic-warning__content-button">
                <common-button
                    class="common-button--gray"
                    @click="close"
                >
                    Нет
                </common-button>
                <common-button
                    class="common-button--green"
                    @click="confirm"
                >
                    Да
                </common-button>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import CommonButton from '@/components/common/CommonButton.vue';

export default Vue.extend({
    name: 'AlcoholicWarning',

    components: {
        CommonButton,
    },

    methods: {
        close(): void {
            this.$router.push({
                name: 'index',
            });
            this.$accessor.modal.CLOSE_MODAL_ACTION();
        },

        confirm(): void {
            //@ts-ignore
            this.$cookies.set('ageConfirmed', true);
            this.$accessor.SET_AGE_CONFIRMED(true);
            this.$accessor.modal.CLOSE_MODAL_ACTION();
        },
    },
});
</script>

<style lang="scss" scoped>
.alcoholic-warning {
    display: flex;
    justify-content: center;

    &__content {
        display: flex;
        flex-direction: column;
        align-content: center;

        width: 100%;
        padding: 50px 34px;

        &-age {
            display: flex;
            justify-content: center;
            align-content: center;

            width: 160px;
            height: 160px;
            margin: 0 auto 34px;
            padding-top: 58px;

            background-color: rgba(29, 196, 56, 0.07);
            border-radius: 50%;

            span {
                display: inline-block;

                font-size: 44px;
                line-height: 100%;
                font-weight: 600;
                color: $green;
            }
        }

        &-text {
            font-size: 20px;
            line-height: 150%;
            text-align: center;
            color: $modal-color-gray;
        }

        &-question {
            margin-bottom: 34px;

            font-size: 20px;
            line-height: 150%;
            font-weight: 700;
            text-align: center;
        }

        &-button {
            display: flex;
            justify-content: center;

            .common-button {
                min-width: 100px;
                height: 60px;
                padding: 0;

                &:first-child {
                    margin-right: 24px;

                    color: $filter-font-gray;
                }
            }
        }
    }
}

@include razr1259 {
    .alcoholic-warning {
        max-width: 450px;

        &__content {
            padding: 50px 22px;

            &-age {
                width: 120px;
                height: 120px;
                padding-top: 43px;

                span {
                    font-size: 34px;
                }
            }

            &-text {
                font-size: 16px;
            }

            &-question {
                font-size: 16px;
            }

            &-button {
                .common-button {
                    height: 50px;

                    font-size: 16px;
                }
            }
        }
    }
}
</style>
