<template>
    <div class="clear-cart">
        <basket-icon />
        <h3 class="clear-cart__question">
            Очистить корзину?
        </h3>
        <common-button
            class="common-button--green"
            @click="clearCart"
        >
            Очистить
        </common-button>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import CommonButton from '@/components/common/CommonButton.vue';
import BasketIcon from '@/assets/images/icon/basket-icon.svg?inline';

export default Vue.extend({
    name: 'ClearCart',

    components: {
        CommonButton,
        BasketIcon,
    },

    props: {
        content: {
            type: Object,
            default: () => ({}),
        },
    },

    methods: {
        clearCart(): void {
            this.$accessor.cart.clearCartAction();
            this.$accessor.modal.CLOSE_MODAL_ACTION();
        },
    },
});
</script>

<style lang="scss" scoped>
.clear-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 440px;
    height: 334px;

    & svg {
        margin-bottom: 34px;
    }

    &__question {
        margin-bottom: 34px;

        font-size: 24px;
        line-height: 30px;
        font-weight: bold;
        color: $black-second;
    }

    .common-button {
        width: 212px;
        height: 60px;
    }

    @include razr1259 {
        .common-button {
            font-size: 16px;
        }
    }
}
</style>
