<template>
    <div class="delete-contract modal-content--sm">
        <h2 class="modal-content-header">
            Удалить договор
        </h2>
        <div class="delete-contract__content">
            <p class="delete-contract__content-title">
                Вы действительно хотите удалить договор?
            </p>
            <p class="delete-contract__content-description">
                <span>Стандартный договор №АВ-12 от 28.05.2021, менеджер +7 926 363-55-36, со статусом: заключен</span>
                будет удален.
            </p>
            <div class="delete-contract__content-button-wrapper">
                <common-button class="common-button--gray">
                    Отмена
                </common-button>
                <common-button class="common-button--green">
                    Удалить
                </common-button>
            </div>
        </div>
        <successful-completion
            v-if="currentStatus === 'SUCCESS'"
            :content="successBlock"
        />
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import CommonButton from '@/components/common/CommonButton.vue';
import SuccessfulCompletion from '@/components/layouts/modal/parts/SuccessfulCompletion.vue';

export default Vue.extend({
    name: 'DeleteContract',

    components: {
        CommonButton,
        SuccessfulCompletion,
    },

    data() {
        return {
            successBlock: {
                title: 'Договор успешно удален!',
                description: 'Вы всегда можете добавить либо удалить\n' +
                    'договор в личном кабинете',
            },
            currentStatus: '',
        };
    },
});
</script>

<style lang="scss" scoped>
.delete-contract {
    display: flex;
    flex-direction: column;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;

        min-height: 377px;
        padding: 33px 36px 46px;

        &-title {
            margin-bottom: 8px;

            font-size: 20px;
            line-height: 30px;
            font-weight: 600;
            text-align: center;
        }

        &-description {
            max-width: 395px;

            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: $modal-color-gray;

            span {
                font-weight: 600;
            }
        }

        &-button-wrapper {
            display: flex;

            margin-top: auto;

            .common-button--gray {
                margin-right: 18px;
            }

            .common-button--green {
                width: 178px;
            }
        }
    }
}

@include razr1259 {
    .delete-contract {
        &__content {
            min-height: 318px;
            padding: 24px 18px 32px;

            &-title {
                font-size: 16px;
            }

            &-description {
                max-width: 365px;

                font-size: 14px;
                line-height: 20px;
            }

            &-button-wrapper {
                .common-button--gray {
                    min-width: 114px;
                }

                .common-button--green {
                    width: 128px;
                }
            }
        }
    }
}

@include razr767 {
    .delete-contract {
        &__content {
            min-height: 408px;
            padding: 24px 13px 27px;

            &-title {
                margin-bottom: 14px;

                font-size: 21px;
                line-height: 120%;
            }

            &-description {
                max-width: 328px;

                font-size: 14px;
                line-height: 150%;
            }

            &-button-wrapper {
                justify-content: space-between;

                .common-button--gray {
                    min-width: 120px;
                }

                .common-button--green {
                    width: 178px;
                }
            }
        }
    }
}
</style>
