<template>
    <div class="merged-cart">
        <basket-icon />
        <h3 class="merged-cart__message">
            Товары из заказа успешно добавлены в&nbsp;корзину
        </h3>
        <common-button
            tag="nuxt-link"
            to="/cart"
            class="common-button--green"
            @click.native="closePopup"
        >
            Перейти в корзину
        </common-button>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import CommonButton from '@/components/common/CommonButton.vue';
import BasketIcon from '@/assets/images/icon/basket-icon.svg?inline';

export default Vue.extend({
    name: 'MergedCart',

    components: {
        CommonButton,
        BasketIcon,
    },

    methods: {
        closePopup(): void {
            this.$accessor.modal.CLOSE_MODAL_ACTION();
        },
    },
});
</script>

<style lang="scss" scoped>
.merged-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 440px;
    height: 334px;

    svg {
        margin-bottom: 34px;
    }

    &__message {
        margin-bottom: 34px;

        font-size: 20px;
        line-height: 1.5;
        text-align: center;
        font-weight: bold;
        color: $black-second;
    }

    .common-button {
        width: 212px;
        height: 60px;
    }

    @include razr1259 {
        .common-button {
            font-size: 16px;
        }
    }

    @include mobile {
        width: 90vmin;

        &__message {
            margin-bottom: 15px;

            font-size: 16px;
        }
    }
}
</style>
