<template>
    <div class="region-change">
        <img
            src="@/assets/images/icon/nav-icon.svg"
            width="44"
            height="46"
            alt="Navigation icon"
        />
        <p class="region-change__text">
            Выберите ваш город
        </p>
        <div class="region-change__button-wrapper">
            <common-button class="common-button--green">
                Москва
            </common-button>
            <common-button class="common-button--green-radius">
                Санкт-Петербург
            </common-button>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import CommonButton from '@/components/common/CommonButton.vue';

export default Vue.extend({
    name: 'RegionChange',

    components: {
        CommonButton,
    },
});
</script>

<style lang="scss" scoped>
.region-change {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 580px;
    height: 364px;

    & img {
        margin-bottom: 24px;
    }

    &__text {
        margin-bottom: 24px;

        font-size: 24px;
        line-height: 30px;
        font-weight: 700;
    }

    &__button-wrapper {
        display: flex;

        .common-button {
            width: 212px;
            height: 60px;

            &:first-child {
                margin-right: 12px;
            }
        }
    }

    @include razr1259 {
        &__button-wrapper {
            .common-button {
                font-size: 16px;
            }
        }
    }

    @include razr767 {
        width: 335px;
        height: 364px;

        &__text {
            font-size: 18px;
        }

        &__button-wrapper {
            flex-direction: column;

            .common-button {
                &:first-child {
                    margin-right: 0;
                    margin-bottom: 12px;
                }
            }
        }
    }
}
</style>
