<template>
    <div class="successful-completion modal-content--sm">
        <div class="successful-completion__content">
            <p class="successful-completion__content-title">
                {{ content.title }}
            </p>
            <p class="successful-completion__content-description">
                {{ content.description }}
            </p>
            <img
                src="@/assets/images/icon/check-in-circle-icon.svg"
                width="56"
                height="56"
                alt="Success icon"
            />
            <common-button class="common-button--green">
                Готово
            </common-button>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import CommonButton from '@/components/common/CommonButton.vue';

export default Vue.extend({
    name: 'SuccessfulCompletion',

    components: {
        CommonButton,
    },

    props: {
        content: {
            type: Object,
            default: () => ({}),
        },
    },
});
</script>

<style lang="scss" scoped>
.successful-completion {
    display: flex;
    flex-direction: column;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;

        min-height: 377px;
        padding: 33px 36px 46px;

        &-title {
            margin-bottom: 8px;

            font-size: 20px;
            line-height: 30px;
            font-weight: 600;
            text-align: center;
        }

        &-description {
            max-width: 345px;
            margin-bottom: 32px;

            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: $modal-color-gray;

            span {
                font-weight: 600;
            }
        }

        .common-button--green {
            width: 178px;
            margin-top: auto;
        }
    }
}

@include razr1259 {
    .successful-completion {
        &__content {
            min-height: 318px;
            padding: 24px 18px 32px;

            &-title {
                font-size: 16px;
            }

            &-description {
                max-width: 300px;
                margin-bottom: 24px;

                font-size: 14px;
                line-height: 20px;
            }

            .common-button--green {
                width: 128px;
            }
        }
    }
}

@include razr767 {
    .successful-completion {
        &__content {
            min-height: 408px;
            padding: 24px 13px 27px;

            &-title {
                max-width: 300px;
                margin-bottom: 14px;

                font-size: 21px;
                line-height: 120%;
            }

            &-description {
                font-size: 14px;
                line-height: 150%;
            }

            .common-button--green {
                width: 178px;
            }
        }
    }
}
</style>
