<template>
    <div class="search">
        <search-categories
            :categories="categories"
            @select="selectCategory"
        />
        <div class="search-content">
            <common-loader v-if="isProductLoading" />
            <div
                v-if="products.length"
                class="search-wrapper"
            >
                <common-select
                    v-model="selectedSort"
                    :options="sortOptions"
                    @input="changeOrder"
                />
                <div class="search-products">
                    <card
                        v-for="product in products"
                        :key="product.id"
                        :card="product"
                    />
                </div>
                <common-button
                    v-if="!disabledMoreBtn"
                    tag="button"
                    class="common-button--responsive"
                    @click="getMoreProducts"
                >
                    Показать еще
                </common-button>
                <common-scroll-top />
            </div>
            <empty-catalog-list v-else />
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';

import SearchCategories from '@/components/pages/search/SearchCategories.vue';
import CommonSelect from '@/components/common/CommonSelect.vue';
import CommonButton from '@/components/common/CommonButton.vue';
import CommonScrollTop from '@/components/common/CommonScrollTop.vue';
import CommonLoader from '@/components/common/CommonLoader.vue';
import EmptyCatalogList from '@/components/pages/catalog/EmptyCatalogList.vue';
import Card from '@/components/pages/catalog/Card.vue';
import { RSearchProducts } from '~/src/utils/api/requests/search';
import { IProductsItem } from '~/src/utils/interfaces/catalog';

export default Vue.extend({
    name: 'Search',

    components: {
        SearchCategories,
        CommonSelect,
        CommonButton,
        CommonScrollTop,
        CommonLoader,
        Card,
        EmptyCatalogList,
    },

    data: () => ({
        selectedSort: {
            label: 'По популярности',
            value: 'popular',
        },
        sortOptions: [
            {
                label: 'По популярности',
                value: 'popular',
            },
            {
                label: 'Сначала недорогие',
                value: 'price_asc',
            },
            {
                label: 'Сначала дорогие',
                value: 'price_desc',
            },
            {
                label: 'По новизне',
                value: 'new',
            },
        ],
        products: [] as IProductsItem[],
        categories: [],
        pagination: {
            page: 1,
            countPages: 1,
        },

        isProductLoading: false,
    }),

    computed: {
        searchString(): string {
            return String(this.$route.query.search) || '';
        },

        categoryId(): number {
            return +this.$route.query.category;
        },

        disabledMoreBtn(): boolean {
            return +this.pagination.countPages === +this.pagination.page;
        },
    },

    watch: {
        searchString(): void {
            this.pagination.page = 1;
            this.getProducts();
        },
    },

    async mounted() {
        await this.getProducts();
        const pages = +this.$route.query.page;
        if (pages) {
            for (let i = 2; i < pages; i++) {
                this.pagination.page = i;
                await this.getProducts();
            }
        }
    },

    methods: {
        async getProducts(): Promise<void> {
            this.isProductLoading = true;
            const obj = {
                requestObj: {
                    searchQuery: this.searchString,
                    categoryId: this.categoryId,
                    pagination: this.pagination,
                    orderBy: this.selectedSort.value,
                },
                headers: {
                    'X-Auth-Token': this.$accessor.auth.accessToken,
                },
            };
            const response = await this.$request(RSearchProducts(obj));
            this.isProductLoading = false;
            if (response.RESPONSE_STATUS === 200) {
                this.categories = response.categories;
                this.pagination.countPages = response.pagination.countPages;

                const hasAlcohol = response.items.find((product: IProductsItem) => product.featureNonStandard === 'alcohol');
                if (hasAlcohol && !this.$cookies.get('ageConfirmed') && !this.$cookies.get('accessToken')) {
                    //@ts-ignore
                    this.$accessor.modal.OPEN_MODAL({ name: 'AlcoholicWarning', payload: { mode: 'ageGate' } });
                }

                if (this.pagination.page === 1) {
                    this.products = response.items;
                }
                else {
                    this.products = [...this.products, ...response.items] as IProductsItem[];
                }
            }
        },

        selectCategory(id: number): void {
            const query = { ...this.$route.query };
            if (id) {
                query.category = String(id);
            }
            else {
                delete query.category;
            }
            this.$router.replace({ query }).catch(() => {});
            this.pagination.page = 1;
            setTimeout(() => {
                this.getProducts();
            });
        },

        getMoreProducts(): void {
            this.pagination.page++;
            //@ts-ignore
            this.$router.replace({ query: { ...window.$nuxt.$route.query, page: this.pagination.page } }).catch(() => {});
            this.getProducts();
        },

        changeOrder(): void {
            this.getProducts();
        },
    },
});
</script>

<style lang="scss" scoped>
.search {
    display: flex;

    width: 100%;

    background-color: $input-bg-color;

    .empty-catalog-list {
        margin: 50px auto;
    }

    &-content {
        width: 100%;
        margin-bottom: 33px;
    }

    &-wrapper {
        position: relative;

        width: 960px;
        padding: 33px 60px 0;
    }

    &-products{
        display: flex;
        flex-wrap: wrap;

        margin-top: 20px;
    }

    .common-button {
        height: 50px;
    }

    .common-scroll-up {
        position: absolute;
        bottom: 0;
        left: 100%;

        transform: translateX(-100%);
    }

    .card {
        margin-bottom: 12px;
    }

    @include tablet_landscape {
        flex-direction: column;

        &-content {
            margin-bottom: 0;
        }

        &-wrapper {
            width: 768px;
            margin: 0 auto;
            padding: 25px 0 60px;
        }

        &-products{
            margin-top: 33px;
        }

        .common-scroll-up {
            position: sticky;
            top: auto;
            bottom: 100px;

            margin-top: -50px;

            transform: translateX(140%);
        }
    }

    @include tablet {
        &-wrapper {
            width: 720px;
        }

        .common-button {
            float: left;
            clear: both;

            width: calc(100% - 60px);
        }

        .common-scroll-up {
            position: static;

            display: inline-block;

            float: right;

            margin-top: 0;

            transform: none;
        }

        .empty-catalog-list {
            margin-top: 100px;
        }
    }

    @include mobile {
        position: relative;

        &-wrapper {
            position: static;

            width: 95%;
            margin: 0 auto;
        }

        .common-select {
            position: absolute;
            top: 0;
            right: 0;

            width: calc(50% - 0.5px);

            border-bottom: 1px solid $light-gray-ninth;

            &::v-deep {
                .multiselect {
                    border-radius: 0;
                }
            }
        }

        &-products {
            justify-content: space-between;

            margin-top: 5px;
        }

        .common-button {
            width: 100%;
        }

        .common-scroll-up {
            display: none;
        }
    }
}

</style>
