<template>
    <div
        class="header-region"
        @mouseenter="openAlert"
        @mouseleave="closeAlert"
    >
        <a
            class="header-region__button"
            :class="{'header-region__button--active' : showAlert}"
        >
            <nav-icon class="nav-icon" />
            <span>{{ activeCity }}</span>
        </a>
        <header-region-alert
            v-show="showAlert"
            :region="cities"
            @change-city="changeCity"
        />
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import HeaderRegionAlert from '@/components/layouts/header/parts/HeaderRegionAlert.vue';
import NavIcon from '@/assets/images/icon/nav-icon.svg?inline';

export default Vue.extend({
    name: 'HeaderRegion',

    components: {
        HeaderRegionAlert,
        NavIcon,
    },

    data: () => ({
        showAlert: false,
        cityList: ['Москва', 'Санкт-Петербург'],
    }),

    computed: {
        cities(): object {
            return this.cityList.filter(city => city !== this.activeCity);
        },

        activeCity(): string {
            return this.$accessor.auth.city;
        },
    },

    mounted() {
        const city = localStorage.activeCity;
        this.$accessor.auth.changeCityAction(city || 'Москва');
    },

    methods: {
        openAlert() {
            if (!this.$accessor.isMobile) {
                this.showAlert = true;
            }
        },

        closeAlert() {
            if (!this.$accessor.isMobile) {
                this.showAlert = false;
            }
        },

        changeCity(item: string) {
            this.$accessor.auth.changeCityAction(item);
        },
    },
});
</script>

<style lang="scss" scoped>
.header-region {
    position: relative;

    &__button {
        display: flex;
        align-items: center;

        padding: 10px 0;

        text-decoration: none;

        span {
            padding-top: 5px;

            font-size: 14px;
            font-weight: 600;
            color: $light-gray;
        }

        &--active {
            span {
                color: $green;
            }

            .nav-icon::v-deep > path {
                stroke: $green;
            }
        }
    }

    @include razr1259 {
        &__button {
            span {
                padding-top: 2px;

                font-size: 12px;
            }
        }
    }
}

</style>
