<template>
    <div class="header-region-alert">
        <div class="header-region-alert__container">
            <a
                v-for="item in region"
                :key="item"
                class="header-region-alert__button"
                href=""
                @click.prevent="changeCity(item)"
            >
                <span>{{ item }}</span>
            </a>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
    name: 'HeaderRegionAlert',

    props: {
        region: {
            type: Array,
            default: () => ([]),
        },
    },

    methods: {
        changeCity(item: string) {
            this.$emit('change-city', item);
        },
    },
});
</script>

<style lang="scss" scoped>
.header-region-alert {
    position: absolute;
    top: 98%;
    left: 0;
    z-index: $z-dropdown;

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 212px;
        height: 50px;

        background: $white;
        border-radius: 18px;

        filter: drop-shadow(4px 4px 44px rgba(0, 0, 0, 0.08));
        box-shadow: 0 4px 20px rgb(34 35 37 / 20%);

        &::before {
            content: '';
            position: absolute;
            top: -7px;
            left: 16px;

            width: 30px;
            height: 17px;

            background: url('@/assets/images/icon/triangle-alert-icon.svg') no-repeat;
        }
    }

    &__button {
        font-size: 12px;
        font-weight: 600;
        color: $black-second;
        text-decoration: none;

        &:hover {
            color: $green;

            transition: $common-transition-duration;
        }
    }
}

</style>
