<template>
    <div class="header-login">
        <div class="header-login__container">
            <div class="header-login__authorised">
                <div class="header-login__authorised-info">
                    <p class="header-login__authorised-info-name">
                        {{ user.fullName }}
                    </p>
                    <p class="header-login__authorised-info-company">
                        {{ juridicalPerson.juridicalName }}
                    </p>
                </div>

                <ul class="header-login__nav">
                    <li class="header-login__nav-item">
                        <nuxt-link
                            class="header-login__nav-link header-login__nav-link--profile"
                            to="/personal-cabinet/profile"
                        >
                            Профиль
                        </nuxt-link>
                    </li>
                    <li class="header-login__nav-item">
                        <nuxt-link
                            class="header-login__nav-link header-login__nav-link--history"
                            to="/personal-cabinet/history"
                        >
                            История покупок
                        </nuxt-link>
                    </li>
                    <li class="header-login__nav-item">
                        <nuxt-link
                            class="header-login__nav-link header-login__nav-link--products"
                            to="/personal-cabinet/my-products"
                        >
                            Мои товары
                        </nuxt-link>
                    </li>
                </ul>

                <button
                    class="header-login__button-logout"
                    @click="logout"
                >
                    Выйти
                </button>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { IJuridicalPerson, IUser } from '~/src/utils/interfaces/auth';

export default Vue.extend({
    name: 'HeaderLogin',

    computed: {
        user(): IUser {
            return this.$accessor.auth.user;
        },

        juridicalPerson(): IJuridicalPerson {
            return this.$accessor.auth.juridicalPerson;
        },
    },

    methods: {
        logout(): void {
            this.$accessor.auth.logoutAction();
        },
    },
});
</script>

<style lang="scss" scoped>
.header-login {
    &__container {
        position: relative;

        &--unauthorised {
            padding: 0;
        }
    }

    &__authorised {
        width: 242px;
        padding: 12px;

        &-info {
            margin-bottom: 24px;
            padding-bottom: 22px;

            border-bottom: 1px solid $light-gray-ninth;

            &-name {
                margin-bottom: 10px;

                font-size: 16px;
                font-weight: 600;
            }

            &-company {
                font-size: 14px;
                line-height: 1.3;
                color: $light-gray-fifth;
            }
        }

    }

    &__nav {
        display: flex;
        flex-direction: column;

        height: auto;
        margin-bottom: 20px;

        &-item {
            margin-bottom: 18px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &-link {
            position: relative;

            display: inline-block;

            padding-left: 29px;

            font-size: 16px;
            font-weight: 600;
            color: $black-second;
            text-decoration: none;
            white-space: nowrap;

            transition: color $common-transition-duration;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;

                width: 16px;
                height: 16px;

                background: center / contain no-repeat;
            }

            &--profile {
                &::before {
                    background-image: url('@/assets/images/icon/user-icon-gray.svg');
                }

                &:hover {
                    &::before {
                        background-image: url('@/assets/images/icon/user-icon-green.svg');
                    }
                }
            }

            &--history {
                &::before {
                    background-image: url('@/assets/images/icon/history-nav-gray-icon.svg');
                }

                &:hover {
                    &::before {
                        background-image: url('@/assets/images/icon/history-nav-green-icon.svg');
                    }
                }
            }

            &--products {
                width: 13px;

                &::before {
                    background-image: url('@/assets/images/icon/shopping-basket-icon.svg');
                }

                &:hover {
                    &::before {
                        background-image: url('@/assets/images/icon/shopping-basket-green-icon.svg');
                    }
                }
            }

            &:hover {
                color: $green;
            }
        }
    }

    &__button-logout {
        position: relative;

        width: 80px;
        margin-top: 12px;
        padding: 0;

        font-size: 16px;
        font-weight: 600;
        text-align: left;
        color: $dark-gray;

        cursor: pointer;

        transition: color $common-transition-duration;

        &:hover {
            color: $green;
        }

        &::after {
            content: '';
            position: absolute;
            right: 0;

            width: 19px;
            height: 19px;

            background: url('@/assets/images/icon/logout-icon.svg') center / contain no-repeat;
        }
    }

    &__unauthorised {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 180px;
        height: 50px;
    }

    &__button-login {
        position: relative;

        padding: 0 0 0 20px;

        font-size: 12px;
        font-weight: 600;
        color: $dark-gray;
        text-decoration: none;

        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;

            width: 12px;
            height: 12px;

            background: url('@/assets/images/icon/user-icon-gray.svg') center / contain no-repeat;
        }

        &:hover {
            &::before {
                background-image: url('@/assets/images/icon/user-icon-green.svg');
            }
        }
    }

    @include razr1259 {
        right: -20px;

        padding-top: 30px;
    }
}

</style>
