<template>
    <form
        v-click-outside="closeDropdown"
        class="header-search"
        :class="{'header-search-active' : showDropdownSearch, 'header-search__error': searchError}"
        @submit.prevent="goToSearch"
    >
        <input
            ref="searchInput"
            :value="searchString"
            class="header-search__input"
            type="text"
            placeholder="Поиск"
            @focus="openDropdown"
            @input="changeSearchString"
        />

        <search-icon class="header-search__icon-search" />

        <div
            class="header-search__mobile-button-search"
            :class="{'header-search__mobile-button-search--close' : showDropdownSearch}"
            @click="toggleDropdown"
        >
            <search-icon v-if="!showDropdownSearch" />
            <close-icon v-else />
        </div>

        <div
            class="header-search__button-delete"
            @click="clearSearch"
        ></div>
        <button
            class="header-search__button-search"
            type="submit"
        >
            Найти
        </button>
        <header-search-dropdown
            :search-list="searchList"
            :history-list="historyList"
            :search-error="searchError"
            @enter-search-string="enterSearchString"
            @clear-history="removeHistoryList"
        />
    </form>
</template>

<script lang="ts">
import { debounce } from 'lodash';
import Vue from 'vue';
import HeaderSearchDropdown from '@/components/layouts/header/parts/HeaderSearchDropdown.vue';
import SearchIcon from '@/assets/images/icon/search-icon.svg?inline';
import CloseIcon from '@/assets/images/icon/close-white-icon.svg?inline';
import { RAutocompleteSearch } from '~/src/utils/api/requests/search';

export default Vue.extend({
    name: 'HeaderSearch',

    components: {
        HeaderSearchDropdown,
        SearchIcon,
        CloseIcon,
    },

    data: () => ({
        searchString: '',
        showDropdownSearch: false,

        searchList: [],
        historyList: [] as string[],
        searchError: false,
    }),

    computed: {
        searchStringQuery(): string {
            return String(this.$route.query.search || '');
        },

        debouncedSearch(): Function {
            // @ts-ignore
            return debounce(this.searchAutocomplete, 200);
        },
    },

    mounted() {
        this.searchString = this.searchStringQuery;
        const searchHistoryList = localStorage.searchHistoryList;
        if (searchHistoryList) {
            this.historyList = JSON.parse(localStorage.searchHistoryList);
        }
    },

    methods: {
        // bugfix for chinese phones' keyboards: they do nothing when changing with v-model
        changeSearchString(evt: { target: { value: string } }): void {
            this.searchString = evt.target.value;
            this.debouncedSearch();
        },

        clearSearch(): void {
            this.searchString = '';
            this.searchList = [];
        },

        openDropdown(): void {
            this.showDropdownSearch = true;
            this.searchAutocomplete();
            this.$emit('is-search-visible', true);
        },

        closeDropdown(): void {
            this.showDropdownSearch = false;
            const searchInput = this.$refs.searchInput as HTMLDivElement;
            searchInput.blur();
            this.$emit('is-search-visible', false);
        },

        toggleDropdown(): void {
            if (this.showDropdownSearch) {
                this.closeDropdown();
            }
            else {
                this.openDropdown();
            }
        },

        goToSearch(): void {
            this.closeDropdown();
            this.$router.push({ name: 'search', query: { search: this.searchString } });
            if (!this.historyList.includes(this.searchString)) {
                this.historyList.unshift(this.searchString);
                if (this.historyList.length > 10) {
                    this.historyList.pop();
                }
                localStorage.searchHistoryList = JSON.stringify(this.historyList);
            }
            this.$accessor.catalog.resetFiltersAction();
        },

        async searchAutocomplete(): Promise<void> {
            this.searchError = false;
            if (this.searchString.length >= 3) {
                const response = await this.$request(RAutocompleteSearch(this.searchString));
                if (response.RESPONSE_STATUS === 200) {
                    this.searchList = response.items.map((item: { id: number, title: string, }) => {
                        item.title = item.title.replace(RegExp(this.searchString, 'gi'), '<span>$&</span>');
                        return item;
                    });
                    if (!response.items.length) {
                        this.searchError = true;
                    }
                }
            }
            else {
                this.searchList = [];
            }
        },

        enterSearchString(string: string): void {
            this.searchString = string.replaceAll(/(<(\/?[^>]+)>)/g, '');
            this.goToSearch();
        },

        removeHistoryList(): void {
            this.historyList = [];
            localStorage.searchHistoryList = JSON.stringify(this.historyList);
        },
    },
});
</script>

<style lang="scss" scoped>
.header-search {
    position: relative;

    display: flex;
    align-items: center;

    width: 100%;
    max-width: 302px;
    height: 40px;
    padding: 0 5px 0 15px;

    border: 1px solid $light-gray;
    border-radius: 8px;

    transition: max-width $common-transition-duration ease-in-out, border $common-transition-duration ease-in-out;

    &__error {
        border-color: $red !important;
    }

    &__button-delete {
        position: relative;
        left: 10px;

        display: flex;
        justify-content: center;
        align-items: center;

        height: 18px;
        padding: 0;

        background: url('@/assets/images/icon/close-white-icon.svg') center / 8px 8px no-repeat $light-gray-fifth;
        border-radius: 50%;

        cursor: pointer;
        opacity: 0;

        pointer-events: none;

        &:hover {
            opacity: 0.7 !important;
        }
    }

    &__button-search {
        position: relative;
        left: 10px;

        width: 0;
        margin-right: 5px;
        margin-left: 10px;

        font-size: 14px;
        font-weight: 700;
        color: $green;
        text-decoration: underline;

        cursor: pointer;
        opacity: 0;
        pointer-events: none;

        &:hover {
            opacity: 0.7 !important;
        }
    }

    &__input {
        width: 100%;

        font-size: 14px;
        font-weight: 600;
        color: $black-second;
        text-overflow: ellipsis;

        &::placeholder {
            font-size: 14px;
            font-weight: 400;
            color: $light-gray;
        }
    }

    .header-search__icon-search {
        position: absolute;
        top: 50%;
        right: 10px;

        transform: translateY(-50%);
    }

    &__mobile-button-search {
        display: none;
    }

    .header-search-dropdown {
        opacity: 0;

        pointer-events: none;
    }

    &-active {
        max-width: 472px;

        border: 1px solid $green;

        .header-search__button-delete, .header-search__button-search {
            left: 0;

            opacity: 1;
            pointer-events: all;

            transition: opacity $common-transition-duration, left $common-transition-duration;
        }

        .header-search__button-delete {
            min-width: 18px;
            margin-left: 5px;
        }

        .header-search__button-search {
            width: auto;
        }

        .header-search__icon-search {
            opacity: 0;
        }
    }

    &-active {
        .header-search-dropdown {
            opacity: 1;
            transition: opacity 0s $common-transition-duration;

            pointer-events: auto;
        }
    }

    @include razr1259 {
        height: 35px;

        &__active, &__mobile-button-search {
            pointer-events: all;
        }
    }

    @include razr1023 {
        max-width: 164px;

        &-active {
            max-width: 302px;
        }
    }

    @include razr767 {
        position: static;
        pointer-events: none;

        justify-content: center;

        min-width: 40px;
        max-width: 40px;
        height: 40px;
        padding: 0;

        border: none;

        &-active {
            .header-search__input, .header-search__button-search, .header-search__button-delete {
                opacity: 1;
            }

            .header-search {
                &__input {
                    pointer-events: all;
                }

                &__button-search {
                    display: block;
                    position: absolute;
                    top: 100%;
                    right: 1%;
                    left: auto !important;
                    z-index: $z-search;

                    line-height: 50px;
                }
            }

            .header-search-dropdown {
                opacity: 1;
                transition: opacity $common-transition-duration ease-in-out;

                pointer-events: auto;
            }
        }

        &__input {
            position: absolute;
            top: 100%;
            left: 50%;
            z-index: $z-search;

            width: 92%;
            height: 50px;
            padding-right: 26%;
            opacity: 0;

            border-bottom: 1px solid $green;
            transform: translateX(-50%);
        }

        &__button-delete {
            position: absolute;
            top: calc(100% + 17px);
            right: 70px;
            left: auto !important;
            z-index: $z-search;
        }

        &__button-search {
            display: none;
        }

        &__mobile-button-search {
            display: flex;
            justify-content: center;
            align-items: center;

            opacity: 1;
            pointer-events: all;

            width: 100%;
            height: 100%;
            padding: 0;

            border: 1px solid $light-gray;
            border-radius: 8px;

            cursor: pointer;

            svg {
                pointer-events: none;
            }

            &--close {
                background: $green;
                border: $green;
                border-radius: 8px;
            }
        }

        &__icon-search {
            display: none;
        }

        &:hover,
        &:focus-within {
            max-width: 40px;

            border: none;

            .icon-search {
                width: auto;
            }
        }
    }
}

</style>
