<template>
    <nav class="header-user-nav">
        <ul class="header-user-nav__list">
            <li class="header-user-nav__list-item">
                <a
                    class="header-user-nav__list-link header-user-nav__list-link--phone"
                    :href="`tel:${managerPhone}`"
                >
                    <phone-icon />
                    <span>{{ managerPhone }}</span>
                </a>
            </li>
            <li
                id="headerUserTab"
                class="header-user-nav__list-item"
                @mouseenter="toggleUser"
                @mouseleave="toggleUser"
            >
                <v-popover
                    placement="bottom-end"
                    offset="10"
                    :open="showUser"
                    :disabled="disabledUserPopover"
                    :delay="{ show: 0, hide: 100 }"
                    container="#headerUserTab"
                >
                    <nuxt-link
                        class="header-user-nav__list-link"
                        :to="userToLink"
                    >
                        <user-icon class="user-icon" />
                        <span class="user-text">
                            {{ userText }}
                        </span>
                    </nuxt-link>
                    <header-login slot="popover" />
                </v-popover>
            </li>
            <li
                id="headerDeliveryTab"
                class="header-user-nav__list-item"
                @mouseenter="toggleDelivery"
                @mouseleave="toggleDelivery"
            >
                <v-popover
                    placement="bottom-end"
                    offset="10"
                    :open="showDelivery"
                    :disabled="disableDeliveryPopover"
                    :delay="{ show: 0, hide: 100 }"
                    container="#headerDeliveryTab"
                >
                    <a
                        class="header-user-nav__list-link"
                        @click="openPopupDelivery"
                    >
                        <delivery-icon />
                        <span>Дата доставки</span>
                    </a>
                    <header-delivery
                        slot="popover"
                        :delivery-info="deliveryInfo"
                    />
                </v-popover>
            </li>
            <li
                id="headerCartTab"
                class="header-user-nav__list-item header-user-nav__list-item--cart"
                @mouseenter="openMiniCart"
                @mouseleave="closeMiniCart"
            >
                <v-popover
                    placement="bottom-end"
                    offset="10"
                    :open="showMiniCart"
                    :disabled="isMobileOrTablet"
                    :delay="{ show: 0, hide: 100 }"
                    container="#headerCartTab"
                >
                    <nuxt-link
                        to="/cart"
                        class="header-user-nav__list-link"
                    >
                        <div class="header-user-nav__list-count">
                            <cart-icon />
                            <div
                                v-if="showCartCounter"
                                class="header-user-nav__list-count-info"
                            >
                                {{ cart.length }}
                            </div>
                        </div>
                        <span>Корзина</span>
                    </nuxt-link>
                    <header-mini-cart slot="popover" />
                </v-popover>
            </li>
        </ul>
    </nav>
</template>

<script lang="ts">
import Vue from 'vue';
import HeaderMiniCart from '@/components/layouts/header/parts/HeaderMiniCart.vue';
import HeaderLogin from '@/components/layouts/header/parts/HeaderLogin.vue';
import HeaderDelivery from '@/components/layouts/header/parts/HeaderDelivery.vue';
import PhoneIcon from '@/assets/images/icon/phone-icon-green.svg?inline';
import UserIcon from '@/assets/images/icon/user-icon-header.svg?inline';
import DeliveryIcon from '@/assets/images/icon/delivery-time-icon.svg?inline';
import CartIcon from '@/assets/images/icon/cart-green-icon.svg?inline';
import { validPhone } from '~/src/utils/helpers/functions';
import { managerPhone } from '~/src/utils/helpers/site-settings';
import { IUser } from '~/src/utils/interfaces/auth';
import { ICartItem, IDeliveryInfo } from '~/src/utils/interfaces/cart';

export default Vue.extend({
    name: 'HeaderUserNav',

    components: {
        HeaderMiniCart,
        HeaderLogin,
        HeaderDelivery,
        PhoneIcon,
        UserIcon,
        DeliveryIcon,
        CartIcon,
    },

    data: () => ({
        showMiniCart: false,
        showUser: false,
        showDelivery: false,
        isLoginEnabled: false,
    }),

    computed: {
        cart(): ICartItem[] {
            return this.$accessor.cart.actualCart;
        },

        isMobileOrTablet(): boolean {
            return this.$accessor.isMobileOrTablet;
        },

        deliveryInfo(): IDeliveryInfo {
            return this.$accessor.cart.deliveryInfo;
        },

        disableDeliveryPopover(): boolean {
            return this.isMobileOrTablet || !this.deliveryInfo.address;
        },

        showCartCounter(): boolean {
            return !!this.cart?.length;
        },

        user(): IUser {
            return this.$accessor.auth.user;
        },

        userToLink(): string {
            return this.user.id ? '/personal-cabinet/profile' : '/login';
        },

        userText(): string {
            return this.user.fullName ? this.user.fullName : 'Войти';
        },

        disabledUserPopover(): boolean {
            return this.isMobileOrTablet || !this.user.id;
        },

        managerPhone(): string {
            return validPhone(managerPhone);
        },
    },

    methods: {
        toggleLoginTooltip(): void {
            this.isLoginEnabled = !this.isLoginEnabled;
        },

        openMiniCart(): void {
            if (!this.$accessor.isMobileOrTablet) {
                this.showMiniCart = true;
            }
        },

        closeMiniCart(): void {
            if (!this.$accessor.isMobileOrTablet) {
                this.showMiniCart = false;
            }
        },

        toggleUser(): void {
            if (!this.$accessor.isMobileOrTablet) {
                this.showUser = !this.showUser;
            }
        },

        toggleDelivery(): void {
            if (!this.$accessor.isMobileOrTablet) {
                this.showDelivery = !this.showDelivery;
            }
        },

        openPopupDelivery(): void {
            this.$accessor.modal.OPEN_MODAL({ name: 'Delivery' });
        },
    },
});
</script>

<style lang="scss" scoped>
.header-user-nav {
    &__list {
        display: flex;

        &-item {
            position: relative;

            &:not(:last-child) {
                margin-right: 24px;
            }
        }

        &-link {
            display: flex;
            flex-direction: column;
            align-items: center;

            text-decoration: none;

            span {
                padding-top: 5px;

                font-size: 14px;
                font-weight: 600;
                color: $abbey;
                &.user-text {
                    width: 71px;

                    text-align: center;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
            }

            svg::v-deep {
                height: 17px;
            }

            &--phone {
                border-bottom: 1px solid $abbey;

                span {
                    font-size: 12px;
                    line-height: 1.3;
                }

                &:hover {
                    border-bottom: 1px solid $green;

                    transition: color $common-transition-duration;
                }
            }

            &:hover {
                span {
                    color: $green;

                    transition: color $common-transition-duration;
                }
            }

            &--active {
                span {
                    color: $green;
                }
            }
        }

        &-count {
            display: flex;

            &-info {
                height: 14px;
                margin-left: 2px;
                padding: 2px 4px 1px;

                font-size: 10px;
                line-height: 1.1;
                font-weight: 700;
                color: $white;

                background: $green;
                border-radius: 14px;
            }
        }
    }

    @include razr1259 {
        &__list {
            &-link {
                span {
                    display: none;
                }

                &--phone {
                    border: none;

                    &:hover {
                        border: none;
                    }
                }
            }
        }
    }

    @include razr767 {
        &__list {
            &-item {
                &:not(:last-child) {
                    margin-right: 18px;
                }

                &--cart {
                    position: static;
                }
            }

            &-link {
                &--phone {
                    display: none;
                }

                svg::v-deep {
                    path {
                        fill: $abbey;
                    }
                }

                .user-icon::v-deep {
                    circle {
                        stroke: $abbey;
                    }

                    path {
                        fill: transparent;
                        stroke: $abbey;
                    }
                }
            }
        }
    }
}

</style>
