<template>
    <div class="header-cart-card">
        <div class="header-cart-card__images">
            <img
                v-if="!card.product.images.length"
                src="@/assets/images/catalog/default-photo.png"
                alt="Photo product"
            />
            <img
                v-else
                :src="card.product.images[0].path"
                :alt="card.product.title"
            />
        </div>

        <div class="header-cart-card__content">
            <div class="header-cart-card__content-top">
                <p class="header-cart-card__content-top-article">
                    Арт. {{ card.product.articul }}
                </p>
                <button
                    class="header-cart-card__content-top-button-delete"
                    @click="deleteProduct"
                ></button>
            </div>
            <nuxt-link
                :to="productLink"
                class="header-cart-card__content-name-product"
            >
                {{ card.product.title }}
            </nuxt-link>
            <div class="header-cart-card__content-bottom">
                <p class="header-cart-card__content-bottom-count">
                    {{ weightUnit }}
                </p>
                <p class="header-cart-card__content-bottom-price">
                    {{ price }} <span>₽</span>
                </p>
                <common-quantity-input
                    class="common-quantity-input__small"
                    short
                    :default-value="+card.quantity"
                    :product="card.product"
                    @input="addToCart"
                />
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';

import CommonQuantityInput from '~/src/components/common/CommonQuantityInput.vue';
import { priceFormat } from '~/src/utils/helpers/functions';

export default Vue.extend({
    name: 'HeaderCartCard',

    components: {
        CommonQuantityInput,
    },

    props: {
        card: {
            type: Object,
            required: true,
            default: () => ({}),
        },
    },

    computed: {
        productLink(): object {
            return {
                name: 'product-id',
                params: {
                    id: this.card.product.id,
                },
            };
        },

        weightUnit(): string {
            if (this.card.product.productType === 'weight') {
                return `${ this.card.product.showUnit === '1 kg' ? '1 кг' : '100 г' }`;
            }
            else {
                return `1шт (${ this.card.product.standardWeight } г)`;
            }
        },

        price(): string {
            return priceFormat(this.card.product.unitPrice);
        },
    },

    methods: {
        addToCart(count: number): void {
            this.$accessor.cart.changeCartAction({
                product: this.card.product,
                quantity: count,
            });
        },

        deleteProduct() {
            this.$accessor.cart.changeCartAction({
                product: this.card.product,
                quantity: 0,
            });
        },
    },
});
</script>

<style lang="scss" scoped>
.header-cart-card {
    display: flex;

    height: 108px;
    padding: 12px 0 8px;

    border-bottom: 1px solid $light-gray-ninth;

    &__images {
        margin-right: 12px;

        img {
            width: 62px;
            max-height: 62px;

            object-fit: contain;

            border-radius: 12px;
        }
    }

    &__content {
        width: 100%;
        &-top {
            display: flex;
            justify-content: space-between;

            margin-bottom: 9px;

            &-article {
                font-size: 12px;
                color: $light-gray;
            }

            &-button-delete {
                width: 8px;
                height: 8px;
                padding: 0;

                background: url('@/assets/images/icon/close-icon.svg') center no-repeat;

                cursor: pointer;

                transition: opacity $common-transition-duration;

                &:hover {
                    opacity: 0.5;
                }
            }
        }

        &-name-product {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;

            height: 34px;
            overflow: hidden;

            font-size: 14px;
            line-height: 1.2;
            font-weight: 600;
            color: $abbey;
            text-decoration: none;
        }

        &-bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;

            margin-top: auto;

            &-count {
                margin-right: 16px;

                font-size: 10px;
                font-weight: 600;
                color: $light-gray;
            }

            &-price {
                font-size: 14px;
                font-weight: 700;
                color: $black-second;

                span {
                    font-size: 13px;
                }
            }

            .card-price-counter::v-deep {
                height: 30px;
                margin-left: auto;

                border-radius: 8px;

                input {
                    font-size: 12px;
                }
            }
        }

    }

    @include razr767 {
        &__content {
            &-bottom {
                .card-price-counter::v-deep {
                    width: 90px;
                    height: 30px;
                    padding: 0 10px;

                    border-radius: 8px;

                    input {
                        font-size: 12px;
                    }
                }
            }

        }
    }
}

</style>
