<template>
    <div class="header-delivery">
        <div class="header-delivery__container">
            <p class="header-delivery__option">
                Доставка: <span>Курьером</span>
            </p>
            <p class="header-delivery__date">
                {{ deliveryDate }}, <span>{{ deliveryInfo.selectedTime }}</span>
            </p>
            <p class="header-delivery__address">
                {{ deliveryInfo.address }}
            </p>
            <common-button
                class="common-button--green"
                @click="openPopupDelivery"
            >
                Изменить время и тип доставки
            </common-button>
            <a
                class="header-delivery__terms green"
                href="##"
            >Условия доставки и оплаты</a>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import CommonButton from '@/components/common/CommonButton.vue';
import { IDeliveryInfo } from '~/src/utils/interfaces/cart';

export default Vue.extend({
    name: 'HeaderDelivery',

    components: {
        CommonButton,
    },

    props: {
        deliveryInfo: {
            type: Object,
            default: () => ({} as IDeliveryInfo),
        },
    },

    computed: {
        deliveryDate(): string {
            return this.$dayjs(this.deliveryInfo.selectedDate).format('dddd, DD MMMM');
        },
    },

    methods: {
        openPopupDelivery(): void {
            this.$accessor.modal.OPEN_MODAL({ name: 'Delivery' });
        },
    },
});
</script>

<style lang="scss" scoped>
.header-delivery {
    &__container {
        position: relative;

        display: flex;
        flex-direction: column;

        width: 310px;
    }

    &__option {
        margin-bottom: 23px;
        padding-bottom: 10px;

        font-size: 16px;
        line-height: 1.5;
        font-weight: 600;
        color: $light-gray;

        border-bottom: 1px solid $input-border-color;

        span {
            color: $black-second;
        }
    }

    &__date {
        position: relative;

        margin-bottom: 24px;
        padding-left: 30px;

        font-size: 16px;
        font-weight: 600;
        color: $black-second;

        &:first-letter {
            text-transform: uppercase;
        }

        span {
            color: $light-gray;
        }

        &::before {
            content: '';
            position: absolute;
            left: 0;

            width: 16px;
            height: 16px;

            background: url('@/assets/images/icon/clock-gray-icon.svg') no-repeat;
        }
    }

    &__address {
        position: relative;

        max-width: 90%;
        margin-bottom: 24px;
        padding-left: 30px;

        font-size: 16px;
        line-height: 1.3;
        color: $black-second;

        &::before {
            content: '';
            position: absolute;
            left: 0;

            width: 16px;
            height: 21px;

            background: url('@/assets/images/icon/pin-gray-icon.svg') no-repeat;
        }
    }

    .common-button {
        width: 100%;
        margin-bottom: 12px;
    }

    &__terms {
        margin: 0 auto;

        font-size: 14px;
        font-weight: 700;
        color: $green;
    }

    @include razr1259 {
        right: -20px;

        padding-top: 30px;

        .common-button {
            font-size: 16px;
        }
    }
}

</style>
