<template>
    <div
        v-if="showDropdown"
        class="header-search-dropdown"
    >
        <ul
            v-if="searchList.length"
            class="header-search-dropdown__list"
        >
            <li
                v-for="item in searchList"
                :key="item.id"
                class="header-search-dropdown__list-item"
                @click.stop="enterSearchString(item.title)"
                v-html="item.title"
            ></li>
        </ul>
        <p
            v-else-if="searchError"
            class="header-search-dropdown__empty"
        >
            Ничего не найдено
        </p>

        <template v-if="historyList.length">
            <hr />

            <p class="header-search-dropdown__history">
                История поиска
            </p>
            <ul class="header-search-dropdown__history-list">
                <li
                    v-for="(item, index) in historyList"
                    :key="index"
                    class="header-search-dropdown__history-list-item"
                    @click="enterSearchString(item)"
                >
                    {{ item }}
                </li>
            </ul>
            <button
                class="header-search-dropdown__button-clear"
                @click="clearHistory"
            >
                Очистить
            </button>
        </template>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
    name: 'HeaderSearchDropdown',

    props: {
        searchList: {
            type: Array,
            default: () => ([]),
        },
        historyList: {
            type: Array,
            default: () => ([]),
        },
        searchError: {
            type: Boolean,
            default: false,
        },
    },

    computed: {
        showDropdown(): boolean {
            return !!(this.searchList.length || this.historyList.length);
        },
    },

    methods: {
        enterSearchString(string: string): void {
            this.$emit('enter-search-string', string);
        },

        clearHistory(): void {
            this.$emit('clear-history');
        },
    },
});
</script>

<style lang="scss" scoped>
.header-search-dropdown {
    position: absolute;
    top: 132%;
    left: 0;
    z-index: $z-search-dropdown;

    width: 100%;
    padding: 14px 16px;

    background: $white;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 33px 44px rgba(18, 19, 19, 0.12);

    hr {
        margin: 14px 0;
    }

    &__list {
        &-item {
            font-size: 14px;
            font-weight: 600;
            color: $light-gray-second;

            cursor: pointer;

            transition: color $common-transition-duration;

            &:not(:last-child) {
                margin-bottom: 14px;
            }

            &:hover {
                color: $green;

                &::v-deep {
                    span {
                        color: $green;
                    }
                }
            }

            &::v-deep {
                span {
                    color: $black-second;

                    transition: color $common-transition-duration;
                }
            }
        }
    }

    &__history {
        margin-bottom: 14px;

        font-size: 14px;
        color: $light-gray-second;
    }

    &__history-list {
        &-item {
            margin-bottom: 14px;

            font-size: 14px;
            font-weight: 600;

            cursor: pointer;

            &:hover {
                color: $green;

                transition: color $common-transition-duration;
            }
        }
    }

    &__button-clear {
        padding: 0;

        font-size: 14px;
        font-weight: 600;
        color: $green;

        border-bottom: 1px solid $green;

        cursor: pointer;

        transition: opacity $common-transition-duration;

        &:hover {
            opacity: 0.7;
        }
    }

    &__empty {
        font-size: 14px;
        font-weight: 600;
        color: $red;
    }

    @include razr767 {
        top: 102%;

        padding: 64px 16px 16px;
    }
}

</style>
