<template>
    <div class="header-mini-cart">
        <div class="header-mini-cart__container">
            <div
                v-if="showCart"
                class="header-mini-cart__full"
            >
                <div class="header-mini-cart__cards-count">
                    <p class="header-mini-cart__cards-count-text">
                        Товаров в корзине: {{ cart.length }}
                    </p>
                    <button
                        class="header-mini-cart__cards-count-clear"
                        @click="openPopupClearCart"
                    >
                        Очистить корзину
                    </button>
                </div>
                <div
                    ref="cardsWrapper"
                    class="header-mini-cart__cards-list"
                >
                    <div>
                        <header-cart-card
                            v-for="item in cart"
                            :key="item.product.id"
                            :card="item"
                        />
                    </div>
                </div>
                <div class="header-mini-cart__total">
                    <span class="header-mini-cart__total-text">
                        Итого:
                    </span>
                    <p class="header-mini-cart__total-price">
                        {{ totalPrice }}
                        <span>₽</span>
                    </p>
                    <common-button
                        class="common-button--green"
                        tag="nuxt-link"
                        to="/cart"
                    >
                        В корзину
                    </common-button>
                </div>
            </div>

            <div
                v-else
                class="header-mini-cart__empty"
            >
                <img
                    src="@/assets/images/icon/basket-icon.svg"
                    alt="Cart icon"
                />
                <p class="header-mini-cart__empty-text">
                    Корзина пуста
                </p>
                <common-button
                    class="common-button--green"
                    tag="nuxt-link"
                    to="/cart"
                >
                    В корзину
                </common-button>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Scrollbar from 'smooth-scrollbar';

import HeaderCartCard from '@/components/layouts/header/parts/HeaderCartCard.vue';
import CommonButton from '@/components/common/CommonButton.vue';
import { priceFormat } from '~/src/utils/helpers/functions';

import { TObjectAnyPropsOrNull } from '~/src/utils/interfaces';
import { ICartItem } from '~/src/utils/interfaces/cart';

export default Vue.extend({
    name: 'HeaderMiniCart',

    components: {
        HeaderCartCard,
        CommonButton,
    },

    data: () => ({
        scrollbar: null as TObjectAnyPropsOrNull,
    }),

    computed: {
        cart(): ICartItem[] {
            return this.$accessor.cart.actualCart;
        },

        totalPrice(): string {
            return priceFormat(this.$accessor.cart.cartPrice + this.$accessor.cart.deliveryPrice);
        },

        showCart(): number {
            return this.cart?.length;
        },
    },

    watch: {
        cart(): void {
            this.initScrollbar();
        },
    },

    methods: {
        openPopupClearCart() {
            this.$accessor.modal.OPEN_MODAL({ name: 'ClearCart' });
        },

        initScrollbar(): void {
            setTimeout(() => {
                if (!this.scrollbar) {
                    const block = this.$refs.cardsWrapper as HTMLDivElement;
                    if (block) {
                        this.scrollbar = Scrollbar.init(block);
                    }
                }
            });
        },
    },
});
</script>

<style lang="scss" scoped>
.header-mini-cart {

    &__full {
        width: 373px;
    }

    &__cards {
        &-count {
            display: flex;
            justify-content: space-between;
            align-items: center;

            margin-bottom: 8px;
            padding-right: 27px;

            &-text {
                font-size: 13px;
                line-height: 1.2;
                font-weight: 600;
                color: $light-gray-fifth;
            }

            &-clear {
                padding: 0;

                font-size: 13px;
                font-weight: 600;
                color: $green;

                border-bottom: 1px solid $green;

                cursor: pointer;

                transition: opacity $common-transition-duration;

                &:hover {
                    opacity: 0.7;
                }
            }
        }

        &-list {
            display: flex;
            flex-direction: column;

            width: 100%;
            max-height: 350px;
            margin-bottom: 18px;
            padding-right: 27px;
        }
    }

    &__total {
        display: flex;
        align-items: center;
        padding-right: 27px;

        &-text {
            margin-right: 12px;

            font-size: 13px;
            line-height: 1.2;
            font-weight: 600;
            color: $light-gray;
        }

        &-price {
            font-size: 18px;
            font-weight: 700;
            color: $black-second;

            & span {
                font-size: 16px;
            }
        }

        .common-button {
            width: 115px;
            height: 40px;
            margin-left: auto;

            font-size: 14px;
        }
    }

    &__empty {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 122px;
        height: 128px;

       img {
            width: 44px;
            height: 35px;
            margin-bottom: 12px;
        }

        &-text {
            margin-bottom: 12px;

            font-size: 13px;
            line-height: 1.2;
            font-weight: 600;
        }

        .common-button {
            width: 115px;
            height: 40px;

            font-size: 14px;
        }
    }

    @include razr1259 {
        padding-top: 30px;
    }
}

</style>
