<template>
    <div
        v-if="categories.length"
        class="header-catalog"
    >
        <div class="header-catalog__container">
            <div class="header-catalog__left">
                <ul class="header-catalog__list-category">
                    <li
                        v-for="category in categories"
                        :key="category.id"
                        class="header-catalog__list-category-item"
                        @mouseenter="debouncedChangeCategory(category.id)"
                        @mouseleave="debouncedChangeCategory.cancel"
                        @click="setActiveCategory(category.id)"
                    >
                        <component
                            :is="catalogItemTag"
                            class="header-catalog__list-category-link"
                            :class="{'header-catalog__list-category-link--active' : activeCategoryId === category.id}"
                            :to="catalogLink(category.id, category.url)"
                            @click.native="close"
                        >
                            <span>{{ category.name }}</span>
                            <arrow-icon class="arrow-icon" />
                        </component>
                    </li>
                </ul>
            </div>
            <div class="header-catalog__right">
                <div class="header-catalog__sub-categories">
                    <nuxt-link
                        v-if="activeCategory"
                        class="header-catalog__all"
                        :to="catalogLink(activeCategory.id, activeCategory.url)"
                        @click.native="close"
                    >
                        Смотреть всю категорию
                    </nuxt-link>
                    <ul
                        v-for="subcategory in subcategoriesList"
                        :key="subcategory.id"
                        class="header-catalog__list-subcategory"
                    >
                        <li class="header-catalog__list-subcategory-title">
                            <nuxt-link
                                :to="catalogLink(subcategory.id, subcategory.url)"
                                @click.native="close"
                            >
                                {{ subcategory.name }}
                            </nuxt-link>
                        </li>
                        <li
                            v-for="product in subcategory.children"
                            :key="product.id"
                            class="header-catalog__list-subcategory-item"
                        >
                            <nuxt-link
                                class="header-catalog__list-subcategory-link"
                                :to="catalogLink(product.id, product.url)"
                                @click.native="close"
                            >
                                {{ product.name }}
                            </nuxt-link>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { debounce } from 'lodash';

import ArrowIcon from '@/assets/images/icon/arrow-right-green.svg?inline';

import { ICategory } from '~/src/utils/interfaces/catalog';

export default Vue.extend({
    name: 'HeaderCatalog',

    components: {
        ArrowIcon,
    },

    data: () => ({
        activeCategoryId: 0,
    }),

    computed: {
        categories(): ICategory[] {
            return this.$accessor.catalog.categories;
        },

        subcategoriesList(): ICategory[] {
            const subcategories = this.categories?.find(category => category.id === this.activeCategoryId)!;
            return subcategories?.children || [];
        },

        debouncedChangeCategory(): Function {
            return debounce(this.setActiveCategory, 100);
        },

        isMobileOrTablet(): boolean {
            return this.$accessor.isMobileOrTablet;
        },

        catalogItemTag(): string {
            return this.isMobileOrTablet ? 'div' : 'nuxt-link';
        },

        activeCategory(): ICategory | undefined {
            return this.categories?.find((category: ICategory) => category.id === this.activeCategoryId);
        },
    },

    mounted() {
        this.activeCategoryId = this.categories[0].id;
    },

    methods: {
        setActiveCategory(id: number) {
            this.activeCategoryId = id;
        },

        catalogLink(id: number, url: string): string {
            return `/catalog/${ id }/${ url }`;
        },

        close(): void {
            this.$emit('close');
        },
    },
});
</script>

<style lang="scss" scoped>
.header-catalog {
    position: absolute;
    top: 79%;
    left: 0;
    z-index: $z-catalog;

    width: 100%;
    padding-top: 14px;

    &__container {
        position: relative;

        display: flex;

        overflow: hidden;

        background: $white;
        border-radius: 0 0 20px 20px;
        box-shadow: 4px 4px 20px rgba(34, 35, 37, 0.07);
    }

    &__all {
        display: none;
    }

    &__left {
        width: 100%;
        max-width: 300px;
        padding: 20px 5px 30px;

        border-right: 1px solid $input-border-color;
    }

    &__list-category {
        &-item {
            margin-bottom: 5px;
        }

        &-link {
            display: flex;
            justify-content: space-between;
            align-items: center;

            min-height: 40px;
            padding: 10px 16px 10px 25px;

            text-decoration: none;

            border-radius: 8px;

            span  {
                font-size: 14px;
                line-height: 1.4;
                font-weight: 600;
                color: $black-second;
            }

            .arrow-icon {
                opacity: 0;
            }

            &:hover {
                background-color: $disabled-bg-color;

                transition: background-color $common-transition-duration;

                span {
                    color: $green;

                    transition: color $common-transition-duration;
                }

                .arrow-icon {
                    opacity: 1;
                    transition: opacity $common-transition-duration;
                }
            }

            &--active {
                background-color: $disabled-bg-color;

                span {
                    color: $green;
                }

                .arrow-icon {
                    opacity: 1;
                }
            }
        }
    }

    &__right {
        width: 100%;
        height: 870px;
        padding: 30px 30px 0;
    }

    &__sub-categories {
        column-count: 3;
        column-gap: 40px;
    }

    &__list-subcategory {
        display: inline-block;
        width: 250px;
        margin-bottom: 30px;

        &-title {
            font-size: 14px;
            line-height: 1.4;
            font-weight: 600;

            a {
                color: $black-second;
                text-decoration: none;
            }

            @include hover_device {
                &:hover {
                    a {
                        color: $green;

                        transition: color $common-transition-duration;
                    }
                }
            }
        }

        &-item {
            margin-top: 10px;
        }

        &-link {
            font-size: 14px;
            line-height: 1.4;
            color: $modal-color-gray;
            text-decoration: none;

            @include hover_device {
                &:hover {
                    color: $green;

                    transition: color $common-transition-duration;
                }
            }
        }
    }

    @include razr1259 {
        &__right {
            height: 960px;
        }
    }

    @include tablet_landscape {
        &__container {
            height: calc(100vh - 150px);
        }

        &__all {
            display: block;
            margin-bottom: 10px;

            font-size: 14px;
        }

        &__right, &__left {
            height: 100%;

            overflow: auto;
        }

        &__sub-categories {
            column-count: 2;
        }
    }

    @include razr1023 {
        &__right {
            flex-wrap: nowrap;

            width: 110%;
            height: 870px;
        }

        &__sub-categories {
            column-count: 1;
        }
    }
}

</style>
