<template>
    <div
        class="header-catalog-mobile"
    >
        <div class="header-catalog-mobile__header">
            <button
                v-if="!showBackButton"
                class="header-catalog-mobile__header-button-region"
                @click="openBlockRegion"
            >
                {{ activeCity }}
            </button>
            <button
                v-else
                class="header-catalog-mobile__header-button-back"
                @click="back"
            >
                Назад
            </button>
            <a
                class="header-catalog-mobile__header-phone"
                :href="`tel:${managerPhone}`"
            >{{ managerPhone }}</a>
        </div>
        <template v-if="!showBlockChangeRegion">
            <div v-if="!activeCategory">
                <ul class="header-catalog-mobile__list-category">
                    <li
                        v-for="category in categories"
                        :key="category.id"
                        class="header-catalog-mobile__list-category-item"
                        @click="setActiveCategory(category.id)"
                    >
                        <div class="header-catalog-mobile__list-category-link">
                            <span>{{ category.name }}</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div
                v-else
                class="header-catalog-mobile__step-second"
            >
                <p class="header-catalog-mobile__category-title">
                    {{ activeCategory.name }}
                </p>
                <nuxt-link
                    class="header-catalog-mobile__category-link"
                    :to="catalogLink(activeCategory.id, activeCategory.url)"
                    @click.native="close"
                >
                    Смотреть весь раздел
                </nuxt-link>

                <div class="header-catalog-mobile__scroll">
                    <ul
                        v-for="subcategory in activeCategory.children"
                        :key="subcategory.id"
                        class="header-catalog-mobile__list-subcategory"
                    >
                        <li class="header-catalog-mobile__list-subcategory-title">
                            <nuxt-link
                                :to="catalogLink(subcategory.id, subcategory.url)"
                                @click.native="close"
                            >
                                {{ subcategory.name }}
                            </nuxt-link>
                        </li>
                        <li
                            v-for="product in subcategory.children"
                            :key="product.id"
                            class="header-catalog-mobile__list-subcategory-item"
                        >
                            <nuxt-link
                                class="header-catalog-mobile__list-subcategory-link"
                                :to="catalogLink(product.id, product.url)"
                                @click.native="close"
                            >
                                {{ product.name }}
                            </nuxt-link>
                        </li>
                    </ul>
                </div>
            </div>
        </template>
        <ul
            v-else
            class="header-catalog-mobile__region-list"
        >
            <li
                v-for="(city, index) in cityList"
                :key="index"
                class="header-catalog-mobile__region-list-item"
                :class="{'header-catalog-mobile__region-list-item--active' : city === activeCity}"
                @click="changeCity(city)"
            >
                {{ city }}
            </li>
        </ul>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { validPhone } from '~/src/utils/helpers/functions';
import { managerPhone } from '~/src/utils/helpers/site-settings';
import { ICategory } from '~/src/utils/interfaces/catalog';

export default Vue.extend({
    name: 'HeaderCatalogMobile',

    data: () => ({
        cityList: ['Москва', 'Санкт-Петербург'],
        activeCategoryId: 0,
        showBlockChangeRegion: false,
    }),

    computed: {
        categories(): ICategory[] {
            return this.$accessor.catalog.categories;
        },

        activeCategory(): any {
            return this.categories.find(item => item.id === this.activeCategoryId);
        },

        showBackButton(): boolean {
            return this.activeCategory || this.showBlockChangeRegion;
        },

        activeCity(): string {
            return this.$accessor.auth.city;
        },

        managerPhone(): string {
            return validPhone(managerPhone);
        },
    },

    methods: {
        catalogLink(id: number, url: string): string {
            return `/catalog/${ id }/${ url }`;
        },

        close(): void {
            this.$accessor.catalog.setCategoryAction(+this.$route.params.category);
            this.$accessor.catalog.getProductsAction();
            this.$emit('close');
        },

        setActiveCategory(id: number) {
            this.activeCategoryId = id;
        },

        changeCity(city: string) {
            this.$accessor.auth.changeCityAction(city);
            this.showBlockChangeRegion = false;
        },

        openBlockRegion() {
            this.showBlockChangeRegion = true;
        },

        back() {
            this.activeCategoryId = 0;
            this.showBlockChangeRegion = false;
        },
    },
});
</script>

<style lang="scss" scoped>
.header-catalog-mobile {
    position: absolute;
    top: 101%;
    left: 0;
    z-index: $z-catalog;

    width: 100vw;
    height: calc(100vh - 60px);
    overflow: auto;
    padding: 0 20px 24px;

    background-color: $white;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        height: 50px;
        margin-bottom: 24px;

        border-bottom: 1px solid $input-border-color;

        &-button-region {
            position: relative;

            padding: 0 0 0 18px;

            font-size: 12px;
            font-weight: 600;
            color: $light-gray;

            &::before {
                content: '';
                position: absolute;
                top: -2px;
                left: 0;

                width: 16px;
                height: 16px;

                background: url('@/assets/images/icon/nav-icon.svg') center / contain no-repeat;
            }
        }

        &-button-back {
            position: relative;

            padding: 0 0 0 18px;

            font-size: 14px;
            font-weight: 700;
            color: $black-second;

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;

                width: 10px;
                height: 14px;

                background: url('@/assets/images/icon/arrow-right-green.svg') center / contain no-repeat;

                transform: translateY(-50%) rotate(180deg);
            }
        }

        &-phone {
            position: relative;

            padding: 0 0 0 22px;

            font-size: 12px;
            line-height: 1.3;
            font-weight: 600;
            color: $abbey;
            text-decoration: none;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;

                width: 13px;
                height: 13px;

                background: url('@/assets/images/icon/phone-icon-green.svg') center / contain no-repeat;
            }
        }
    }

    &__list-category {
        &-item {
            &:not(:last-child) {
                margin-bottom: 14px;
            }
        }

        &-link {
            text-decoration: none;

            border-radius: 8px;

            span  {
                font-size: 16px;
                line-height: 1.6;
                font-weight: 600;
                color: $black-second;
            }
        }
    }

    &__list-subcategory {
        &:not(:last-child) {
            margin-bottom: 24px;
        }

        &-title {
            margin-bottom: 14px;

            font-size: 16px;
            line-height: 1.3;
            font-weight: 600;

            a {
                color: $black-second;
                text-decoration: none;
            }
        }

        &-item {
            &:not(:last-child) {
                margin-bottom: 8px;
            }
        }

        &-link {
            font-size: 16px;
            line-height: 1.6;
            font-weight: 400;
            color: $modal-color-gray;
            text-decoration: none;

            &:hover {
                color: $green;

                transition: color $common-transition-duration;
            }
        }
    }

    &__category-title {
        margin-bottom: 14px;

        font-size: 18px;
        line-height: 1.1;
        font-weight: 600;
        color: $black-second;
    }

    &__category-link {
        display: inline-block;

        margin-bottom: 24px;

        font-size: 14px;
        line-height: 1.4;
        font-weight: 600;
        color: $green;
    }

    &__region-list {
        height: 100vh;

         &-item {
             margin-bottom: 24px;

             font-size: 16px;
             line-height: 1.6;
             font-weight: 600;
             color: $black-second;

             &--active {
                 color: $green;
             }
         }
    }

    &__scroll {
        height: 83%;
        margin-right: -15px;
        overflow-y: scroll;
    }
}

</style>
