<template>
    <nav class="header-nav">
        <ul class="header-nav__list">
            <li
                v-for="(item, index) in navigationList"
                :key="`header${index}`"
                class="header-nav__list-item"
            >
                <a
                    :href="item.link"
                    class="header-nav__list-link"
                    target="_blank"
                >{{ item.name }}</a>
            </li>
            <li
                v-for="(item, index) in nuxtLinkList"
                :key="`header2${index}`"
                class="header-nav__list-item"
            >
                <nuxt-link
                    :to="item.link"
                    class="header-nav__list-link"
                >
                    {{ item.name }}
                </nuxt-link>
            </li>
            <li class="header-nav__list-item">
                <a
                    class="header-nav__list-link"
                    @click="openFeedbackPopup"
                >
                    Обратная связь
                </a>
            </li>
            <li
                v-click-outside="closeDropdown"
                class="header-nav__list-item header-nav__list-item--more"
                @click="openDropdown"
            >
                <a class="header-nav__list-link">Еще</a>
                <down-arrow-icon />
                <ul
                    v-if="showDropdown"
                    class="header-nav__dropdown"
                >
                    <li
                        v-for="(item, index) in nuxtLinkList"
                        :key="`headerDropdown${index}`"
                        class="header-nav__list-item"
                    >
                        <nuxt-link
                            :to="item.link"
                            class="header-nav__list-link"
                            @click.native="closeDropdown"
                        >
                            {{ item.name }}
                        </nuxt-link>
                    </li>
                    <li class="header-nav__list-item">
                        <a
                            class="header-nav__list-link"
                            @click="openFeedbackPopup"
                        >
                            Обратная связь
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</template>

<script lang="ts">
import Vue from 'vue';
import DownArrowIcon from '@/assets/images/icon/down-arrow-gray.svg?inline';
import { navigationList, nuxtLinkList } from '~/src/utils/helpers/site-settings';

export default Vue.extend({
    name: 'HeaderNav',

    components: {
        DownArrowIcon,
    },

    data: () => ({
        navigationList,
        nuxtLinkList,
        showDropdown: false,
    }),

    methods: {
        openFeedbackPopup(): void {
            this.$accessor.modal.OPEN_MODAL({ name: 'Feedback' });
            setTimeout(() => {
                this.showDropdown = false;
            });
        },

        openDropdown(): void {
            this.showDropdown = true;
        },

        closeDropdown(): void {
            setTimeout(() => {
                this.showDropdown = false;
            });
        },
    },
});
</script>

<style lang="scss" scoped>
.header-nav {
    width: 100%;
    max-width: 912px;

    &__list {
        display: flex;
        justify-content: space-between;

        width: 100%;

        &-item {
            &--more {
                display: none;
            }
        }

        &-link {
            font-size: 14px;
            font-weight: 400;
            color: $abbey;
            text-decoration: none;
            white-space: nowrap;

            transition: opacity $common-transition-duration;

            &:hover {
                opacity: 0.7;
            }
        }
    }

    @include razr1259 {
        position: relative;
        max-width: 815px;

        &__list {
            &-link {
                font-size: 13px;
            }
        }

        &__dropdown {
            position: absolute;
            top: calc(100% + 10px);
            right: -15px;
            z-index: $z-dropdown;

            padding: 10px 20px;

            background: white;
            box-shadow: 0 8px 16px 0 rgb(0,0,0,0.15);
            border-radius: 5px;

            li {
                &:not(:last-of-type) {
                    margin-bottom: 10px;
                }
            }
        }
    }

    @include razr1023 {
        max-width: 536px;

        &__list {
            &-item {
                &:nth-child(6),
                &:nth-child(7),
                &:nth-child(8) {
                    display: none;
                }

                &--more {
                    display: block;
                }
            }

            &-link {
                font-size: 13px;
            }
        }
    }
}
</style>
