<template>
    <div
        v-if="activePopup"
        class="app-popup"
    >
        <div class="app-popup__container">
            <div class="app-popup__scroll-content">
                <slot></slot>
            </div>
            <div
                class="app-popup__closer"
                @click="closePopup"
            >
                <i class="fa fa-times"></i>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        name: 'app-popup',

        props: {
          name: {
            type: String,
            default: null,
          },
        },

        computed: {
            activePopup(){
                if (this.name) {
                  return this.$store.getters.activePopup === this.name;
                } else {
                  return this.$store.getters.activePopup;
                }
            },
        },
        methods:{
            closePopup(){
              this.$store.dispatch('togglePopup', { popupName: null });
            },
        },
    };
</script>

<style scoped lang="scss">
    .app-popup{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 9999999;

        display: flex;
        justify-content: center;
        align-items: center;

        background: rgba(0,0,0,.2);
        &__container{
            position: relative;

            width: 48rem;
            max-height: 80vh;
            padding: 1rem 0 1rem 1rem;

            background: white;
            border: 14px solid $mainDarkBlue;
            border-radius: .5rem;
        }
        &__scroll-content {
            max-height: calc(80vh - 2rem - 14px);
            padding-right: 1rem;
            padding-bottom: 1rem;
            overflow: auto;
        }
        &__closer{
            position: absolute;
            top: 1rem;
            right: 2rem;

            color: $gray;

            cursor: pointer;
        }
    }
    @include mobile_or_P{
        .app-popup{
            .head{
                letter-spacing: -0.03rem;
            }
            &__container{
                width: 89%;
                padding: 1.5rem 0.8rem 0.8rem;

                border-width: 10px;
            }
            &__title{
                margin-bottom: 1.3rem;

                font-size: 1.15rem;
            }
            &__message{
                margin-bottom: 0.8rem;
            }
            &__closer{
                top: 0.5rem;
                right: 0.5rem;
            }
        }
    }
</style>
