<template>
    <div
        ref="productCard"
        class="product-card"
    >
        <common-loader v-if="isLoading" />
        <div class="product-card__container container">
            <common-breadcrumbs
                :links="breadcrumbsLinks"
                class="product-card__breadcrumbs"
            />
            <common-button
                v-if="productCategory"
                class="common-button--gray common-button--small"
                tag="nuxt-link"
                :to="categoryLink"
            >
                <img src="@/assets/images/icon/arrow-left-green-icon.svg" />
                {{ categoryName }}
            </common-button>
            <div class="product-card__main-info">
                <div class="product-card__main-info-left">
                    <product-img :images="product.images" />
                </div>
                <div class="product-card__main-info-right">
                    <div class="product-card__quick-info">
                        <span>
                            Арт. {{ product.articul }}
                        </span>
                        <favorite-button
                            :product="product"
                            :is-short="false"
                        />
                    </div>
                    <div class="product-card__name">
                        {{ product.title }}
                    </div>
                    <div
                        class="product-card__quantity"
                        :class="{
                            'product-card__quantity__bottom' : scrollIsDown,
                            'product-card__quantity__added' : countInCart,
                        }"
                    >
                        <div class="product-card__quantity-left">
                            <small>
                                {{ weightUnit }}
                            </small>
                            <p class="product-card__quantity-cost">
                                {{ price }} <span>₽</span>
                            </p>
                        </div>
                        <div class="product-card__quantity-right">
                            <template v-if="product.quantity">
                                <!--<div
                                    v-if="showAlcoholAlert"
                                    class="product-card__presence"
                                >
                                    <img src="@/assets/images/icon/info-icon-green.svg" />
                                    <div
                                        class="product-card__presence-text"
                                        @click="openAlcoholPopup"
                                    >
                                        Как купить?
                                    </div>
                                </div>-->

                                <common-button
                                    v-if="!countInCart"
                                    class="common-button--green common-button--big"
                                    @click="addToCart(minCount)"
                                >
                                    <img
                                        src="@/assets/images/icon/basket-white-icon.svg"
                                        alt="basket"
                                    />
                                    <span>Добавить в корзину</span>
                                </common-button>
                                <common-quantity-input
                                    v-else
                                    :default-value="+countInCart"
                                    :product="product"
                                    @input="addToCart"
                                />
                            </template>
                            <card-price-in-stock
                                v-else
                                placement="bottom-center"
                                trigger="hover"
                                offset="10"
                                class="product-card__presence"
                            />
                        </div>
                    </div>
                    <div class="product-card__notification">
                        <img src="@/assets/images/icon/info-icon.svg" />
                        Информация на этикетке может незначительно отличаться
                    </div>
                    <div
                        v-if="showWeightAlert"
                        class="product-card__warning"
                        :class="{'product-card__warning-moreInfo': moreWeightInfo}"
                    >
                        <img
                            src="@/assets/images/icon/weigher-icon.svg"
                            alt="weigher-icon"
                        />
                        <div class="product-card__warning-text">
                            <div class="product-card__warning-title">
                                Обратите внимание!
                            </div>
                            <template v-if="!moreWeightInfo">
                                <p>
                                    Итоговая стоимость весовых товаров зависит от их размера и количества в заказе
                                </p>
                                <a @click="toggleMoreWeightInfo">
                                    Узнать больше
                                </a>
                            </template>
                            <template v-else>
                                <p>
                                    Если стоимость заказа окажется выше суммы в вашем счёте, мы попросим вас доплатить разницу. Если ниже - разница за наш счёт!
                                </p>
                                <a @click="toggleMoreWeightInfo">
                                    Свернуть
                                </a>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="product-card__description">
                <div class="product-card__description-row">
                    <div
                        v-if="product.description1"
                        class="product-card__description-left"
                    >
                        <h3>
                            Описание
                        </h3>
                        <p>
                            {{ product.description1 }}
                        </p>
                        <p>
                            {{ product.description2 }}
                        </p>
                        <p>
                            {{ product.description3 }}
                        </p>
                    </div>
                    <div class="product-card__description-center">
                        <h3>
                            Пищевая ценность
                        </h3>
                        <small>
                            на 100 г продукта
                        </small>
                        <div class="product-card__description-labels">
                            <div
                                v-if="product.fats"
                                class="product-card__description-label"
                            >
                                <h5>
                                    Жиры
                                </h5>
                                <p>
                                    {{ consist.fats }} г
                                </p>
                            </div>
                            <div
                                v-if="product.protein"
                                class="product-card__description-label"
                            >
                                <h5>
                                    Белки
                                </h5>
                                <p>
                                    {{ consist.protein }} г
                                </p>
                            </div>
                            <div
                                v-if="product.carbohydrate"
                                class="product-card__description-label"
                            >
                                <h5>
                                    Углеводы
                                </h5>
                                <p>
                                    {{ consist.carbohydrate }} г
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="product-card__description-right">
                        <h3>
                            Энергетическая ценность
                        </h3>
                        <small>
                            на 100 г продукта
                        </small>
                        <div class="product-card__description-labels">
                            <div
                                v-if="product.energyValue"
                                class="product-card__description-label product-card__description-label-gray"
                            >
                                <h5>
                                    кКал
                                </h5>
                                <p>
                                    {{ consist.energyValue }}
                                </p>
                            </div>
                            <div
                                v-if="product.energyValueJ"
                                class="product-card__description-label product-card__description-label-gray"
                            >
                                <h5>
                                    кДж
                                </h5>
                                <p>
                                    {{ consist.energyValueJ }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-card__description-row product-card__description-second-row">
                    <div class="product-card__description-left">
                        <h3>
                            Состав продукта
                        </h3>
                        <p>
                            {{ product.composition }}
                        </p>
                    </div>
                    <div class="product-card__description-center">
                        <h3>
                            Информация о продукте
                        </h3>
                        <div class="product-card__description-list">
                            <div
                                v-if="countryManufactured"
                                class="product-card__description-list-row"
                            >
                                <small>
                                    Страна производитель:
                                </small>
                                <p>
                                    {{ countryManufactured }}
                                </p>
                            </div>
                            <div
                                v-if="product.companyManufacturer"
                                class="product-card__description-list-row"
                            >
                                <small>
                                    Компания производитель:
                                </small>
                                <p>
                                    {{ product.companyManufacturer }}
                                </p>
                            </div>
                            <div class="product-card__description-list-row">
                                <small>
                                    Категория:
                                </small>
                                <p>
                                    <nuxt-link
                                        v-for="link in productCategoriesLinks"
                                        :key="link.id"
                                        :to="link.link"
                                    >
                                        {{ link.name }}
                                    </nuxt-link>
                                </p>
                            </div>
                            <div
                                v-if="shelfLife"
                                class="product-card__description-list-row"
                            >
                                <small>
                                    Срок годности:
                                </small>
                                <p>
                                    {{ shelfLife }}
                                </p>
                            </div>
                            <div
                                v-if="product.storageConditionText"
                                class="product-card__description-list-row"
                            >
                                <small>
                                    Условия хранения:
                                </small>
                                <p>
                                    {{ product.storageConditionText }}
                                </p>
                            </div>
                            <div
                                v-if="product.storageConditionTemperature"
                                class="product-card__description-list-row"
                            >
                                <small>
                                    Рекомендуемая температура хранения:
                                </small>
                                <p>
                                    {{ product.storageConditionTemperature }}
                                </p>
                            </div>
                            <div
                                v-if="product.lifeToCustomer"
                                class="product-card__description-list-row"
                            >
                                <small>
                                    Гарантированный срок годности:
                                </small>
                                <p>
                                    {{ product.lifeToCustomer }}
                                </p>
                            </div>
                            <div
                                v-if="product.regulatoryDocument"
                                class="product-card__description-list-row"
                            >
                                <small>
                                    Нормативные документы:
                                </small>
                                <p>
                                    {{ product.regulatoryDocument }}
                                </p>
                            </div>
                            <div
                                v-if="product.benefit"
                                class="product-card__description-list-row"
                            >
                                <small>
                                    В чем польза:
                                </small>
                                <p>
                                    {{ product.benefit }}
                                </p>
                            </div>
                            <div
                                v-if="product.wineGrape"
                                class="product-card__description-list-row"
                            >
                                <small>
                                    Сорт винограда:
                                </small>
                                <p>
                                    {{ product.wineGrape }}
                                </p>
                            </div>
                            <div
                                v-if="product.wineType"
                                class="product-card__description-list-row"
                            >
                                <small>
                                    Тип напитка:
                                </small>
                                <p>
                                    {{ product.wineType }}
                                </p>
                            </div>
                            <div
                                v-if="product.wineSugar"
                                class="product-card__description-list-row"
                            >
                                <small>
                                    Содержание сахара:
                                </small>
                                <p>
                                    {{ product.wineSugar }}
                                </p>
                            </div>
                            <div
                                v-if="product.wineAlcohol"
                                class="product-card__description-list-row"
                            >
                                <small>
                                    Содержание спирта:
                                </small>
                                <p>
                                    {{ product.wineAlcohol }}
                                </p>
                            </div>
                            <div
                                v-if="product.country"
                                class="product-card__description-list-row"
                            >
                                <small>
                                    Страна происхождения:
                                </small>
                                <p>
                                    {{ product.country }}
                                </p>
                            </div>
                            <div
                                v-if="product.region"
                                class="product-card__description-list-row"
                            >
                                <small>
                                    Регион происхождения:
                                </small>
                                <p>
                                    {{ product.region }}
                                </p>
                            </div>
                            <div
                                v-if="product.wineRegionId"
                                class="product-card__description-list-row"
                            >
                                <small>
                                    Аппелласьон:
                                </small>
                                <p>
                                    {{ product.wineRegionId }}
                                </p>
                            </div>
                            <div
                                v-if="product.wineYear"
                                class="product-card__description-list-row"
                            >
                                <small>
                                    Год урожая:
                                </small>
                                <p>
                                    {{ product.wineYear }}
                                </p>
                            </div>
                            <div
                                v-if="product.usedInfo"
                                class="product-card__description-list-row"
                            >
                                <small>
                                    Информация об употреблении:
                                </small>
                                <p>
                                    {{ product.usedInfo }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import countries from 'i18n-iso-countries';

import ProductImg from '@/components/pages/product-card/ProductImg.vue';
import CommonButton from '@/components/common/CommonButton.vue';
import CommonQuantityInput from '@/components/common/CommonQuantityInput.vue';
import CommonLoader from  '@/components/common/CommonLoader.vue';
import CommonBreadcrumbs from '@/components/common/CommonBreadcrumbs.vue';
import CardPriceInStock from '@/components/pages/catalog/CardPriceInStock.vue';
import FavoriteButton from '@/components/others/FavoriteButton.vue';

import { RAddViewed, RGetProduct } from '~/src/utils/api/requests/catalog';
import { priceFormat, consistFormat } from '~/src/utils/helpers/functions';
import { minWeightCount } from '~/src/utils/helpers/product';
import { ICartItem } from '~/src/utils/interfaces/cart';
import { breadcrumbsDefaultPath } from '~/src/utils/helpers/site-settings';
import { IBreadcrumb, ICategory, IProduct, IProductCategory } from '~/src/utils/interfaces/catalog';

countries.registerLocale(require('i18n-iso-countries/langs/ru.json'));

export default Vue.extend({
    name: 'Product',

    components: {
        CommonButton,
        CommonLoader,
        CommonBreadcrumbs,
        CommonQuantityInput,
        ProductImg,
        CardPriceInStock,
        FavoriteButton,
    },

    data: () => ({
        moreWeightInfo: false,
        product: {} as IProduct,
        isLoading: true,

        scrollIsDown: false,
    }),

    async fetch(): Promise<void> {
        this.product = await this.$request(RGetProduct({ id: this.productId })) as IProduct;
        this.isLoading = false;

        if (this.product.featureNonStandard === 'alcohol' && !this.$accessor.ageConfirmed && !this.$cookies.get('accessToken')) {
            this.openAgeGatePopup();
        }
    },

    computed: {
        token(): string {
            return this.$accessor.auth.accessToken;
        },

        productId(): number {
            return +this.$route.params.id!;
        },

        cart(): ICartItem[] {
            return this.$accessor.cart.cart;
        },

        showWeightAlert(): boolean {
            return this.product.productType === 'weight' || this.product.productType === 'piece_weight';
        },

        /*showAlcoholAlert(): boolean {
            return this.product.featureNonStandard === 'alcohol';
        },*/

        categories(): ICategory[] {
            return this.$accessor.catalog.categoriesList;
        },

        categoryId(): string | (string | null)[] {
            return this.$route.query.category;
        },

        productCategory(): IProductCategory | boolean {
            if (this.categoryId) {
                const category = this.categories.find((category: ICategory) => +category.id === +this.categoryId);
                if (category) {
                    return {
                        id: category.id,
                        name: category.name,
                        url: category.url,
                    };
                }
            }
            return false;
        },

        categoryLink(): string {
            if (typeof this.productCategory !== 'boolean') {
                return `/catalog/${ this.productCategory?.id }/${ this.productCategory?.url }`;
            }
            else {
                return '';
            }
        },

        categoryName(): string {
            if (typeof this.productCategory !== 'boolean') {
                return this.productCategory?.name;
            }
            else {
                return '';
            }
        },

        breadcrumbsLinks(): IBreadcrumb[] {
            const category = this.categories.find((c: ICategory) => +c.id === this.product.categories?.[0]!.id);

            if (!category) return breadcrumbsDefaultPath;

            return (() => {
                const bk = [] as IBreadcrumb[];

                bk.push({
                    name: this.product.title,
                    to: {
                        name: '',
                        params: {
                            id: String(this.product.id),
                        },
                    },
                });

                const f = (category: ICategory) => {
                    bk.unshift({
                        name: category.name,
                        to: {
                            name: 'catalog-category-url',
                            params: {
                                category: String(category.id),
                                url: category.url,
                            },
                        },
                    });
                    if (category.treeParentId) {
                        const parent = this.categories.find((c: ICategory) => +c.id === +category.treeParentId!);
                        if (parent) {
                            f(parent);
                        }
                    }
                };

                f(category);

                return [...breadcrumbsDefaultPath, ...bk];
            })();
        },

        countInCart(): number {
            if (this.cart?.length) {
                return this.cart?.find(cartProduct => cartProduct.product.id === this.product.id)?.quantity!;
            }
            return 0;
        },

        price(): string {
            return this.isLoading ? '' : priceFormat(this.product.unitPrice);
        },

        weightUnit(): string {
            if (this.product.productType === 'weight') {
                return `${ this.product.showUnit === '1 kg' ? '1 кг' : '100 г' }`;
            }
            else {
                return `1шт (${ this.product.standardWeight } г)`;
            }
        },

        minCount(): number {
            return minWeightCount(this.product);
        },

        consist(): object {
            return {
                fats: consistFormat(this.product.fats || 0),
                protein: consistFormat(this.product.protein || 0),
                carbohydrate: consistFormat(this.product.carbohydrate || 0),
                energyValue: consistFormat(this.product.energyValue || 0),
                energyValueJ: consistFormat(this.product.energyValueJ || 0),
            };
        },

        countryManufactured(): string {
            return this.product.countryManufactured ? String(countries.getNames('ru')[this.product.countryManufactured] || '') : '';
        },

        productCategoriesLinks(): object[] | null {
            if (this.product.categories?.length) {
                return this.product.categories.map((category: IProductCategory) => {
                    return {
                        name: category.name,
                        link: `/catalog/${ category.id }/${ category.url }`,
                        id: category.id,
                    };
                });
            }
            return null;
        },

        shelfLife(): string {
            let shelfLife = '';
            if (this.product.storageConditionLife) {
                shelfLife = `${ this.product.storageConditionLife } ${ this.product.storageConditionLifeUnit }`;
            }
            if (this.product.storageConditionLifeExtended) {
                shelfLife += ` / ${ this.product.storageConditionLifeExtended }`;
            }
            return shelfLife;
        },
    },

    mounted() {
        this.addViewed();

        if (this.$accessor.isMobile) {
            this.initScrollListener();
            window.addEventListener('scroll', this.initScrollListener);
        }
    },

    beforeDestroy() {
        window.removeEventListener('scroll', this.initScrollListener);
    },

    methods: {
        addViewed() {
            if (this.token) {
                this.$request(RAddViewed({ productId: this.productId }));
            }
        },

        toggleMoreWeightInfo(): void {
            this.moreWeightInfo = !this.moreWeightInfo;
        },

        openAlcoholPopup(): void {
            this.$accessor.modal.OPEN_MODAL({ name: 'AlcoholicProducts' });
        },

        addToCart(count: number): void {
            this.$accessor.cart.changeCartAction({
                product: this.product,
                quantity: count,
            });
        },

        openAgeGatePopup(): void {
            this.$accessor.modal.OPEN_MODAL({ name: 'AlcoholicWarning', payload: { mode: 'ageGate' } });
        },

        initScrollListener(): void {
            const productCard = this.$refs.productCard as HTMLElement;
            this.scrollIsDown = productCard.getBoundingClientRect().bottom < window.innerHeight;
        },
    },
});
</script>

<style lang="scss" scoped>
.product-card {
    width: 100%;

    &__breadcrumbs {
        margin-bottom: 30px;
    }

    &__container {
        padding-top: 30px;
    }

    &__main-info {
        display: flex;

        margin-top: 14px;
    }

    &__main-info-left {
        display: flex;
    }

    &__main-info-right {
        width: 594px;
        margin-top: 52px;
        margin-left: 112px;
    }

    &__quick-info {
        display: flex;
        align-items: center;

        font-size: 14px;
        color: $light-gray;

        cursor: pointer;
        span {
            margin-right: 24px;
        }

        svg {
            margin-right: 12px;
        }
    }

    &__name {
        margin-top: 15px;

        font-size: 31px;
        line-height: 1.3;
        font-weight: 700;
    }

    &__quantity {
        display: flex;

        margin-top: 45px;

        small {
            font-size: 14px;
            font-weight: 600;
            color: $light-gray-fifth;
        }

        &-cost {
            margin-top: 7px;

            font-size: 31px;
            font-weight: 700;
            span {
                font-size: 29px;
                font-weight: 600;
            }
        }
    }

    &__quantity-left {
        margin-right: 48px;
    }

    &__notification {
        display: flex;
        align-items: center;

        margin-top: 12px;

        font-size: 13px;
        color: $light-gray-fifth;

        img {
            margin-right: 12px;
        }
    }

    &__presence {
        position: relative;

        display: flex;
        align-items: center;

        margin-top: 27px;
        padding-right: 37px;

        cursor: pointer;

        img {
            margin-right: 14px;
        }

        &-text {
            font-size: 18px;
            font-weight: 700;
            color: $green;
            text-decoration: underline;
        }

        .product-card {
            &__tooltip {
                position: absolute;
                top: 110%;
                left: 50%;

                transform: translateX(-50%);
            }
        }
    }

    &__warning {
        display: flex;
        align-items: center;

        width: 470px;
        margin-top: 12px;
        padding: 25px 50px 20px 43px;

        font-size: 13px;

        border: 1px solid $input-border-color;
        border-radius: 12px;

        &-moreInfo {
            border-color: $green;
        }

        img {
            width: 25px;
            margin-right: 65px;
        }

        &-title {
            margin-bottom: 6px;

            font-weight: 700;
        }

        p {
            margin-bottom: 8px;

            line-height: 1.3;
            color: $light-gray-fifth;
        }
    }

    hr {
        margin: 75px 0 43px;
    }

    &__description-row {
        display: flex;
        align-items: flex-start;

        margin-bottom: 62px;

        h3 {
            font-size: 24px;
        }

        p {
            margin-top: 25px;

            font-size: 16px;
            line-height: 1.35;
            color: $modal-color-gray;
        }

        small {
            display: block;

            margin-top: 17px;
            margin-bottom: 20px;

            font-size: 14px;
            color: $modal-color-gray;
        }
    }

    &__description-labels {
        display: flex;
    }

    &__description-label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 98px;
        height: 110px;
        margin-right: 12px;

        font-size: 14px;
        font-weight: 600;

        border: 1px solid $light-gray-ninth;
        border-radius: 18px;

        h5 {
            margin-top: 14px;

            line-height: 0;
        }

        p {
            font-weight: 700;
            color: $green;
        }

        &-gray {
            background: $disabled-bg-color;
            border: none;
        }
    }

    &__description-left {
        width: 450px;
        margin-right: 82px
    }

    &__description-center {
        width: 335px;
        margin-right: 17px;
    }

    &__description-list {
        width: 620px;
        margin-top: 32px;

        &-row {
            display: flex;

            margin-bottom: 20px;
        }

        small {
            display: flex;

            width: 352px;
            margin: 0;

            line-height: 1;
        }

        p {
            width: 270px;
            margin: 0;

            font-size: 14px;
            line-height: 1;
            font-weight: 600;
            color: $black-second;
        }
    }

    @include razr1259 {
        &__container {
            padding-top: 22px;
        }

        &__main-info {
            margin-top: 10px;
        }

        &__main-info-right {
            width: 425px;
            margin-top: 70px;
            margin-left: 83px;
        }

        &__name {
            margin-top: 12px;

            font-size: 21px;
        }

        &__quantity {
            justify-content: space-between;

            margin-top: 33px;

            small {
                font-size: 12px;
            }

            &-left {
                min-width: fit-content;
            }

            &-right {
                width: 100%;
            }
        }

        &__quantity-cost {
            margin-top: 10px;

            font-size: 21px;

            span {
                font-size: 19px;
            }
        }

        &__notification {
            margin-top: 16px;

            img {
                width: 18px;
            }
        }

        &__warning {
            width: 425px;
            margin-top: 24px;
            padding: 16px 50px 12px 35px;

            img {
                margin-right: 35px;
            }
        }

        hr {
            margin: 75px 0 35px;
        }

        &__description-row {
            margin-bottom: 54px;

            &.product-card__description-second-row {
                justify-content: flex-start;

                .product-card__description-left {
                    margin-right: 81px;
                }
            }

            h3 {
                font-size: 16px;
            }

            p {
                font-size: 13px;
            }

            small {
                font-size: 13px;
            }
        }

        &__description-left {
            width: 345px;
            margin-right: 81px;
        }

        &__description-center {
            width: 258px;
            margin-right: 50px;
        }

        &__description-right {
            width: 246px;
        }

        &__description-label {
            width: 80px;
            height: 85px;
            margin-right: 7px;

            font-size: 13px;

            p {
                font-size: 16px;
            }
        }

        &__description-list {
            width: 465px;
            margin-top: 22px;

            small {
                width: 243px;
            }
        }

        &__presence {
            margin-right: 58px;
            padding-right: 18px;

            img {
                width: 18px;
                margin-right: 11px;
            }
        }

        &__presence-text {
            font-size: 14px;
        }
    }

    @include razr1023 {
        &__main-info-right {
            width: auto;
            margin-top: 0;
            margin-left: 66px;
        }

        &__name {
            font-size: 18px;
        }

        &__quantity {
            flex-wrap: wrap;
            justify-content: flex-start;

            width: 80%;
            margin-top: 21px;
        }

        &__quantity-cost {
            margin-bottom: 17px;

            font-size: 18px;

            span {
                font-size: 17px;
            }
        }

        &__notification {
            width: 220px;
            margin-top: 17px;

            font-size: 12px;
            line-height: 1.4;
        }
        &__warning {
            width: 380px;
            margin-top: 13px;
            padding: 16px 22px 12px 29px;

            img {
                margin-right: 24px;
            }
        }

        hr {
            margin: 34px 0 35px;
        }

        &__description-row {
            flex-wrap: wrap;
            justify-content: flex-start;

            margin-bottom: 33px;

            p {
                margin-top: 14px;
            }

            small {
                margin-top: 14px;
            }
        }

        &__description-left {
            width: 100%;
            margin-right: 0;
            margin-bottom: 35px;
        }

        &__description-center {
            width: 260px;
            margin-right: 27px;
        }

        &__description-label {
            height: 90px;

            h5 {
                margin-top: 10px;
            }

            p {
                margin-top: 24px;
            }
        }

        &__description-list {
            width: 100%;

            p, small {
                margin-top: 0;

                line-height: 1.5;
                letter-spacing: -0.1px;
            }

            &-row {
                margin-bottom: 18px;
            }
        }

        &__quantity-left {
            margin-right: 34px;
        }

        &__quantity-right {
            width: fit-content;
        }

        &__presence {
            margin-top: 0;
            margin-right: 5px;
            padding-right: 18px;
            padding-left: 18px;
        }
    }

    @include razr767 {
        position: relative;

        &__container {
            padding-top: 16px;
        }

        .common-button {
            width: 100%;
            margin: 0 auto;
        }

        &__quick-info {
            span {
                margin-right: 45px;
            }
        }

        &__main-info {
            flex-direction: column;

            margin-top: 5px;

            &-right {
                width: 100%;
                margin-top: 34px;
                margin-left: 0;
            }
        }

        &__name {
            font-size: 21px;
        }

        &__notification {
            margin: 14px auto 0;

            text-align: center;

            img {
                display: none;
            }
        }

        &__warning {
            flex-direction: column;
            align-items: flex-start;

            width: 100%;
            margin-top: 23px;
            padding: 16px 27px 16px 27px;

            img {
                margin-right: 0;
                margin-bottom: 14px;
            }

            p {
                margin-bottom: 14px;
            }
        }

        hr {
            margin: 34px 0 33px;
        }

        &__description-row {
            h3 {
                font-size: 21px;
            }

            p {
                margin-top: 12px;

                font-size: 14px;
            }
        }

        &__description-left, &__description-center, &__description-right {
            width: 100%;
            margin-right: 0;
        }

        &__description-center {
            margin-bottom: 50px;
        }

        &__description-label {
            p {
                margin-top: 24px;

                font-size: 16px;
            }
        }

        &__description-list {
            margin-top: 22px;

            small, p {
                margin-top: 6px;

                font-size: 16px;
                letter-spacing: 0;
            }

            &-row {
                flex-direction: column;
            }
        }

        &__quantity {
            $d: &__quantity;

            position: fixed;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 10;

            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;

            width: 100%;
            height: 85px;
            padding: 0 5%;

            background: white;
            border: 1px solid $light-gray-ninth;
            border-width: 1px 0;

            &__bottom {
                position: absolute;
            }

            &__added {
                .product-card__quantity-left {
                    display: none;
                }
                .product-card__quantity-right {
                    width: 100%;
                }

                .common-quantity-input {
                    width: 100%;
                }
            }

            .common-button {
                width: 50px;
                height: 50px;
                margin: 0;

                border-radius: 16px;

                span {
                    display: none;
                }

                img {
                    width: 18px;
                    height: 18px;
                    margin-right: 0;
                }
            }

            small {
                font-size: 12px;
            }

            &-cost {
                margin-top: 6px;
                margin-bottom: 0;

                font-size: 21px;

                span {
                    font-size: 16px;
                }
            }
        }
    }
}
</style>
