<template>
    <div class="app-videos-gallery">
        <div
            v-for="video of videosArr"
            :key="video.id"
            class="video-wrapper"
        >
            <div class="title">
                <img src="@/assets/img/icons/youTube_icon.svg" />
                {{ video.name }}
            </div>
            <div class="video">
                <video
                    :src="generate_Url(video.file)"
                    controls
                    :controlsList="checkSecured(video)"
                    @play="toggleVideo(video, true)"
                    @pause="toggleVideo(video, false)"
                    @contextmenu="checkClick($event,video)"
                ></video>
                <template v-if="!video.played">
                    <img
                        v-if="video.preview"
                        class="preview"
                        :src="generate_Url(video.preview)"
                        @click="playVideo(video)"
                    />
                    <div
                        class="play"
                        @click="playVideo(video)"
                    >
                        <img src="@/assets/img/icons/youTube_icon.svg" />
                    </div>
                </template>
            </div>
            <p>
                {{ video.description }}
            </p>
        </div>
    </div>
</template>

<script>
    import { generate_Url } from '@/utils/http-helper';

    import { sendClick } from '@/utils/user/clicks-analytic';

    export default {
        name: 'app-videos-gallery',

        props: {
          videos: {
            type: Array,
            default: null,
          },
        },

        data: ()=>({
          videosArr: [],
          activeVideo: null,
        }),

        computed: {
            topicId() {
                if (this.$route.name==='dashboard') {
                    return this.$store.getters['dashboard/topicId'];
                } else  {
                    return null;
                }
            },
            partId() {
                console.log(this.$route);
                if (this.$route.name==='dashboard') {
                    return 5;
                } else if (this.$route.name==='e-library') {
                    return 3;
                } else if (this.$route.name==='company') {
                    return 1;
                } else  {
                    return null;
                }
            },
        },

        mounted() {
            this.videosArr = this.videos?.map((video)=>{
                video.played = false;
                return video;
            });
        },

        methods: {
            toggleVideo(vid, status) {
            const videos = [...this.videosArr];
            const video = this.videosArr.find(v => v.id === vid.id);
            video.played = status;
            this.videosArr = [...videos];
          },
            playVideo(video) {
            const vid = document.querySelector(`[src="${this.generate_Url(video.file)}"]`);
                vid.play();
                this.sendAnalytic(2, video.id);
            },
            generate_Url(mutableUrl) {
                return generate_Url(mutableUrl);
            },
            checkSecured(video) {
                if (video.secured) {
                return 'nodownload';
                }
                return '';
            },
            checkClick(e, video) {
            if (video.secured) {
                e.preventDefault();
                }
            },
            sendAnalytic(type, id) {
                sendClick(this.partId, type, id, this.topicId);
            },
        },
    };
</script>

<style scoped lang="scss">
    .app-videos-gallery{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        padding: 1.85rem 2.1rem;

        font-size: to_rem(14px);
        color: $copyGray;

        background: white;

        &.column {
            flex-direction: column;

            padding: 0.5rem;
            .video-wrapper {
                width: 100%;
            }
        }

        .video-wrapper{
            width: 49%;

            &:not(:last-of-type) {
                margin-bottom: 1.4rem;
            }
        }
        img, video {
            display: block;

            width: 100%;
        }
        .video {
            position: relative;

            max-height: 22rem;

            cursor: pointer;
        }
        video {
            position: relative;
            z-index: 0;

            max-height: 22rem;
            object-fit: contain;
        }
        .preview {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            z-index: 10;

            height: 100%;

            object-fit: cover;
        }
        .play {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 10;

            width: 5.5rem;

            transform: translate(-50%, -50%);
        }
        .title{
            display: flex;
            align-items: center;

            margin-bottom: 1.3rem;

            color: $mainPurple;
            img{
                width: 2rem;
                margin-right: 0.4rem;
            }
        }
        p{
            margin-top: 1.1rem;
            padding-left: 0.2rem;
        }
    }

    @include mobile_or_P{
        .app-videos-gallery{
            padding: 1.85rem 1.3rem;
            p{
                margin-top: 0.6rem;

                line-height: 1.25;
            }
            .video{
                margin-bottom: 1rem;
                &>img{
                    width: 100%;
                }
            }
        }
    }

    @include razr767{
        .app-videos-gallery{
            flex-direction: column;

            padding: 1.45rem 1.9rem;
            .video-wrapper {
                width: 100%;
            }
            .video{
                width: 100%;
                max-height: 13rem;
                margin-bottom: 1.5rem;
                object-fit: contain;
                video {
                    max-height: 13rem;
                }
            }

            .title{
                font-size: 14px;
                img{
                    width: 2.8rem;
                    margin-right: 0.5rem;
                }
            }

            p{
                margin-top: 0.4rem;
                padding-left: 0;

                font-size: 12px;
                line-height: 1.2;
            }
        }
    }
</style>
