<template>
    <div class="disposer-event-topics">
        <event-nav />

        <div class="head">
            <div class="disposer-app-title">
                Event Topics
            </div>
        </div>

        <div class="event-name">
            {{ eventName }}
        </div>

        <div class="event-topics-table">
            <div class="row-tr row-tr-head">
                <div class="number">
                    Number
                </div>

                <div class="topic-name">
                    Topic name
                </div>

                <div class="start-date">
                    Start date
                </div>

                <div class="end-date">
                    End  date
                </div>

                <div class="active-inactive">
                    Active / Inactive
                </div>

                <div class="edit-delete">
                    Edit / Delete
                </div>
            </div>

            <div
                v-for="(topic, index) in topics"
                :key="topic.id"
                class="row-tr"
            >
                <div class="number">
                    {{ index + 1 }}
                </div>

                <div class="topic-name">
                    {{ topic.name }}
                </div>

                <div class="start-date">
                    {{ topic.start_date }}
                </div>

                <div class="end-date">
                    {{ topic.end_date }}
                </div>

                <div class="active-inactive active-inactive-btns">
                    <app-button
                        :class="{inactive: +topic.status===0}"
                        @click="toggleTopicStatus(topic.id, 1)"
                    >
                        Active
                    </app-button>

                    <app-button
                        :class="{inactive: +topic.status===1}"
                        @click="toggleTopicStatus(topic.id, 0)"
                    >
                        Inactive
                    </app-button>
                </div>

                <div class="edit-delete edit-delete-align">
                    <app-actions
                        :edit="()=>editTopic(topic.id)"
                        :trash="()=>deleteTopic(topic.id)"
                    />
                </div>
            </div>
        </div>

        <app-button
            class="add-topic-btn"
            @click="editMode"
        >
            Add Topic
        </app-button>
    </div>
</template>

<script>
    import eventNav from '@/components/disposer/pages/event/event-nav.vue';
    import appButton from '@/components/disposer/app/app-button';
    import appActions from '@/components/disposer/app/app-actions';

    import { post } from '@/utils/http-helper';
    import { changedTopicStatus, deletedTopic } from '@/utils/disposer/notifications-text-helper';

    const TOPIC_DELETE = '/topic/delete';
    const TOPIC_CHANGE_STATUS = '/topic/change-status';

    export default {
        name: 'event-topics',

        components: {
            eventNav,
            appButton,
            appActions,
        },

        computed: {
            topics() {
                return this.$store.getters['disposerTopics/get'];
            },
            topicsInfo() {
                return this.$store.getters['disposerTopics/getTopicsInfo'];
            },
            eventId() {
                return +this.$route.params.id;
            },
            eventName() {
              return this.$store.getters['disposerEvents/getEventInfo']?.name;
            },
        },

        created() {
            this.fetchTopics();
            if (this.eventId) {
              this.$store.dispatch('disposerEvents/getEventInfo', this.eventId);
            }
        },

        methods: {
            editMode() {
                this.$router.push({ name: 'add-topic' });
            },

            editTopic(id) {
                this.$router.push({ name: 'edit-topic', params: { topicId: id } });
            },

            async fetchTopics() {
               await this.$store.dispatch('disposerTopics/get', { id: this.eventId });
            },

            async toggleTopicStatus(id, status) {
              this.$awn.async(post(TOPIC_CHANGE_STATUS, {
                topic_id: id,
                status: status,
                event_id: this.eventId,
              }), response => {
                if (response.status) {
                  this.$awn.success(changedTopicStatus);
                  this.fetchTopics();
                }
              });
            },

            async deleteTopic(id) {
              this.$awn.async(post(TOPIC_DELETE, {
                id: id,
                event_id: this.eventId,
              }), response => {
                if (response.status) {
                  this.$awn.success(deletedTopic);
                  this.fetchTopics();
                }
              });
            },
        },
    };
</script>

<style scoped lang="scss">
    .disposer-event-topics {

        .head {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .event-name {
            margin-bottom: 1rem;

            font-size: to_rem(20px);
            font-weight: 700;
        }

        .event-topics-table {
            padding-bottom: 20px;

            .row-tr.row-tr-head{
                background-color: #d0d1d2;
            }

            .row-tr{
                display: flex;
                justify-content: space-between;
                align-items: center;

                width: to_rem(1300px);
                max-width: 78vw;
                height: auto;
                padding: 10px;

                background-color: white;
                border: 1px solid #d0d1d2;

                .number {
                    width: to_rem(50px);
                }

                .event {
                    width: to_rem(210px);
                }

                .topic-name{
                    width: to_rem(210px);
                }

                .start-date,
                .end-date {
                    width: to_rem(150px);
                }

                .active-inactive{
                    width: to_rem(150px);
                }

                .edit-delete {
                    width: to_rem(90px);
                }

                .active-inactive-btns {
                    display: flex;

                    padding-top: 5px;

                    pointer-events: none;

                    .app-button {
                        width: 70px;
                        height: 35px;
                    }

                    .inactive {
                        background-color: #d0d1d2;

                        pointer-events: all;
                    }
                }

                .edit-delete-align {
                    display: flex;
                    justify-content: flex-end;

                    padding-right: 10px;
                }
            }
        }

        .add-topic-btn {
            width: 150px;
            height: 35px;
            margin-bottom: 20px;
        }
    }
</style>
