<template>
    <div class="how-to-buy">
        <div class="modal-content-header">
            <h3>
                Алкогольная продукция
            </h3>
        </div>
        <img src="@/assets/images/catalog/bottle.svg" />
        <div class="how-to-buy__title">
            Как купить алкогольную продукцию?
        </div>
        <div class="how-to-buy__text">
            Чтобы покупать алкоголь на&nbsp;сайте, заполните шаблон договора в&nbsp;
            <nuxt-link
                tag="span"
                to="/cabinet"
            >
                Личном кабинете
            </nuxt-link>
            и&nbsp;позвоните нам по&nbsp;номеру
            <a href="tel:74952230244">
                +74952230244
            </a>
            <common-button
                class="common-button--green"
                @click="closePopup"
            >
                Понятно
            </common-button>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';

import CommonButton from '@/components/common/CommonButton.vue';

export default Vue.extend({
    name: 'HowToBuy',

    components: {
        CommonButton,
    },

    methods: {
        closePopup() {
            this.$accessor.modal.CLOSE_MODAL_ACTION();
        },
    },
});
</script>

<style lang="scss" scoped>
.how-to-buy {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 580px;

    img {
        margin-top: 35px;
    }

    &__title {
        margin-top: 29px;

        font-size: 20px;
        font-weight: 700;
    }

    &__text {
        width: 353px;
        margin-top: 20px;

        font-size: 16px;
        line-height: 1.3;
        text-align: center;
        color: $modal-color-gray;

        span {
            color: $green;
            text-decoration: underline;
        }

        a {
            font-weight: 700;
        }
    }

    .common-button {
        width: 175px;
        margin: 40px auto 70px;
    }
}

</style>
