<template>
    <div class="participants">
        <div class="page-title">
            {{ $t('participants', 'List of participants') }}
        </div>
        <div
            v-if="participants"
            class="participants-list"
        >
            <div
                v-for="section of participants.sections"
                :key="section.id"
                class="participants__section"
            >
                <div class="app-topic-title">
                    {{ section.name }}
                </div>
                <app-participants-information
                    v-for="(participant, index) of section.participants"
                    :key="index"
                    :participant="participant"
                />
            </div>

            <template v-if="participants.sections && !participants.sections.length">
                <div class="app-topic-title">
                    Participants
                </div>
                <app-participants-information
                    v-for="participant of participants.participants"
                    :key="participant.id"
                    :participant="participant"
                />
            </template>
        </div>
    </div>
</template>

<script>
    import appParticipantsInformation from '@/components/user/app/app-participants-information';

    export default {
        name: 'participants',

        components: {
            appParticipantsInformation,
        },

        computed: {
            participants() {
              return this.$store.getters.getParticipants;
            },
            eventId() {
              return this.$route.query.event_id;
            },
        },

        created() {
            !this.participants ? this.$store.dispatch('getParticipants', this.eventId) : null;
        },
    };
</script>

<style scoped lang="scss">
    .participants {
        &__section {
            margin-bottom: 2rem;
        }
        .app-topic-title {
            margin-bottom: 1rem;
        }
    }

</style>
