<template>
    <div class="delivery-time">
        <p class="delivery-time__title">
            Время доставки
        </p>
        <ul class="delivery-time__list">
            <li
                v-for="item in timeList"
                :key="item.id"
                class="delivery-time__list-item"
                :class="{'delivery-time__list-item--active' : active === item.period}"
                @click="changeTime(item.period)"
            >
                {{ item.period }}
            </li>
        </ul>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
    name: 'DeliveryTime',

    props: {
        selectedTime: {
            type: [String, Object],
            default: '',
        },
    },

    data: () => ({
        active: '',
        timeList: [
            {
                id: 0,
                period: '08:00 – 09:00',
            },
            {
                id: 1,
                period: '09:00 – 10:00',
            },
            {
                id: 2,
                period: '10:00 – 11:00',
            },
            {
                id: 3,
                period: '11:00 – 12:00',
            },
            {
                id: 4,
                period: '12:00 – 13:00',
            },
            {
                id: 5,
                period: '13:00 – 14:00',
            },
            {
                id: 6,
                period: '14:00 – 15:00',
            },
        ],
    }),

    mounted() {
        setTimeout(() => {
            this.active = this.selectedTime;
        });
    },

    methods: {
        changeTime(item: string) {
            this.$emit('change-time', item);
            this.active = item;
        },
    },
});
</script>

<style lang="scss" scoped>
.delivery-time {
    width: 385px;

    &__title {
        margin-bottom: 24px;

        font-size: 16px;
        font-weight: 700;
        text-align: center;
        color: $black-second;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;

        width: 100%;

        &-item {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 119px;
            height: 46px;
            margin-bottom: 14px;

            font-size: 14px;
            font-weight: 600;
            color: $black-second;

            border: 1px solid $input-border-color;
            border-radius: 8px;

            cursor: pointer;

            transition: background $common-transition-duration;

            &:not(:nth-child(3n)) {
                margin-right: 14px;
            }

            &:hover {
                color: $black-second;
                background-color: $disabled-bg-color;
                border: 1px solid $disabled-bg-color;
            }

            &--active {
                color: $white;

                background-color: $green;
                border: 1px solid $green;
            }
        }
    }

    @include razr1259 {
        width: 349px;

        &__list {
            &-item {
                width: 107px;
                height: 38px;
            }
        }
    }

    @include razr1023 {
        width: 337px;

        &__list {
            &-item {
                margin-bottom: 8px;

                &:not(:nth-child(3n)) {
                    margin-right: 8px;
                }
            }
        }
    }

    @include razr767 {
        width: 313px;

        &__title {
            margin-bottom: 14px;
        }

        &__list {
            &-item {
                width: 101px;
                height: 42px;
                margin-bottom: 6px;

                font-size: 13px;

                &:not(:nth-child(3n)) {
                    margin-right: 5px;
                }
            }
        }
    }

    @include razr365 {
        width: 78vw;
        &__list {
            justify-content: space-between;

            &-item {
                width: 49%;
                height: 42px;
                margin-bottom: 10px;

                font-size: 13px;

                &:not(:nth-child(3n)) {
                    margin-right: 0;
                }
            }
        }
    }
}
</style>
