<template>
    <div
        class="delivery-calendar"
        :class="calendarClasses"
    >
        <calendar-view
            :show-date="showDate"
            display-period-uom="week"
            :display-period-count="1"
            :starting-day-of-week="1"
            class="simple-cal"
            locale-ru
            month-name-format="long"
            :period-changed-callback="changePeriod"
            @click-date="changeDate"
        >
            <calendar-view-header
                slot="header"
                slot-scope="t"

                :header-props="formattedTitle(t.headerProps)"
                @input="setShowDate"
            />
            <template
                #dayContent="{day}"
            >
                <div
                    v-html="returnLayout(day)"
                ></div>
            </template>
        </calendar-view>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';

interface IFormattedTitle {
    displayFirstDate: string,
    displayLastDate: string,
    periodLabel: string,
    periodEnd: string,
}

type HTMLElementEvent<T extends HTMLElement> = Event & {
    target: T;
}

export default Vue.extend({
    name: 'DeliveryCalendar',

    props: {
        selectedDate: {
            type: [String, Object],
            default: '',
        },
    },

    data: () => ({
        showDate: new Date(),
        activePeriodEndDate: '',
        activePeriodStartDate: '',
        select: '',
    }),

    computed: {
        calendarClasses(): object {
            return {
                'delivery-calendar__disabled-prev-btn': this.$dayjs().isBetween(this.activePeriodStartDate, this.activePeriodEndDate),
                'delivery-calendar__disabled-next-btn': +this.$dayjs().diff(this.activePeriodEndDate, 'days') <= -31,
                'delivery-calendar__disabled-next-day': +this.$dayjs().format('HH') >= 13,
                'delivery-calendar__disabled-monthday': +this.$dayjs().day() === 5 && +this.$dayjs().format('HH') >= 13,
                'delivery-calendar__next-week': +this.$dayjs().diff(this.activePeriodEndDate, 'week') === -1,
            };
        },
    },

    watch: {
        showDate() {
            this.$nextTick(() => {
                document.querySelectorAll('.el-cal').forEach((item) => {
                    item.classList.remove('selected-data');
                    if (item.classList.contains(`${ this.select }`)) {
                        item.classList.add('selected-data');
                    }
                });
            });
        },
    },

    methods: {
        selectDate(): void {
            setTimeout(() => {
                if (this.selectedDate) {
                    const d = `.d${ this.$dayjs(this.selectedDate).format('YYYY-MM-DD') }`;
                    const elem = document.querySelector(d);
                    if (elem) elem.classList.add('selected-data');
                }
            });
        },

        changePeriod(e: {displayLastDate: string, displayFirstDate: string}): void {
            this.activePeriodEndDate = e.displayLastDate;
            this.activePeriodStartDate = e.displayFirstDate;
            this.selectDate();
        },

        changeDate(date: Date, calendarItems: HTMLElement, evt: HTMLElementEvent<HTMLButtonElement>): void {
            document.querySelectorAll('.cv-day').forEach(item => item.classList.remove('selected-data'));
            evt.target.closest('.cv-day')!.classList.add('selected-data');
            this.showDate = new Date(date);
            this.$emit('change-date', this.$dayjs(date));
            this.select = this.$dayjs(date).format('dd-DD-yy');
        },

        setShowDate(date: Date): void {
            this.showDate = date;
        },

        returnLayout(day: string): string {
            return `
                <div class="el-cal ${ this.$dayjs(day).format('dd-DD-yy') }">
                    <div class="el-item el-item__mod">${ this.$dayjs(day).format('dd') }</div>
                    <div class="el-item" >${ this.$dayjs(day).format('D') }</div>
                </div>
            `;
        },

        formattedTitle(item: IFormattedTitle): IFormattedTitle {
            if (this.$dayjs(item.displayFirstDate).format('MMMM YYYY') !== this.$dayjs(item.periodEnd).format('MMMM YYYY')) {
                item.periodLabel = `${ this.$dayjs(item.displayFirstDate).format('MMMM YYYY') } - ${ this.$dayjs(item.displayLastDate).format('MMMM YYYY') }`;
                return item;
            }
            item.periodLabel = this.$dayjs(item.displayFirstDate).format('MMMM YYYY');
            return item;
        },
    },
});
</script>

<style lang="scss" scoped>
.delivery-calendar {
    width: 382px;
    height: 112px;

    &__disabled-prev-btn {
        &::v-deep {
            .previousPeriod {
                opacity: 0.5;

                pointer-events: none;
            }
        }
    }

    &__disabled-next-btn {
        &::v-deep {
            .nextPeriod {
                opacity: 0.5;

                pointer-events: none;
            }
        }
    }

    &__disabled-next-day {
        &::v-deep {
            .today {
                &+div {
                    opacity: .7;

                    pointer-events: none;
                }
            }
        }
    }

    &__disabled-monthday.delivery-calendar__next-week {
        &::v-deep {
            .dow1 {
                opacity: .7;

                pointer-events: none;
            }
        }
    }

    .simple-cal::v-deep {

        .cv-header-nav {
            position: absolute;
            right: 0;
            left: 0;

            display: flex;
            justify-content: space-between;

            margin: 0 26px;
        }
        .cv-weekdays {
            justify-content: space-around;

            margin-top: 8px;
        }
        .cv-day {
            flex-grow: 0;
        }
        .periodLabel {
            display: flex;
            justify-content: center;

            font-size: 16px;
            line-height: 100%;
            font-weight: 700;
            color: $black-second;
        }
        .previousPeriod,
        .nextPeriod {
            position: relative;
            min-width: 40px;
            height: 40px;
            margin: 0;
            padding: 0;

            font-size: 0;

            background: $disabled-bg-color;
            border-radius: 8px;

            cursor: pointer;

            transition: background $common-transition-duration;

            &:after {
                @include bef_aft;
                width: 30%;
                height: 30%;

                background: url('src/assets/images/map/arrow-left.svg') no-repeat center center / contain;
            }

            &:hover {
                background: rgba(0,0,0,0.05);
            }
        }

        .nextPeriod {
            &:after {
                transform: translate(-50%, -50%) rotate(180deg);
            }
        }

        .cv-header,button  {
            border-style: none;

            .currentPeriod,
            .previousYear,
            .nextYear{
                display: none;
            }
        }
        .cv-day, .cv-header-day, .cv-header-days, .cv-item, .cv-week, .cv-weeks {
            border-style: none;
        }
        .el-cal{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            width: 46px;
            height: 64px;

            font-size: 16px;
            font-weight: 700;

            cursor: pointer;
            .el-item__mod {
                margin-bottom: 10px;

                opacity: .5;
            }

        }
        .cv-day {
            border-radius: 12px;

            transition: background $common-transition-duration;

            &:hover {
                background: $disabled-bg-color;
            }

            &.selected-data {
                background-color: $green;

                transition: background-color $common-transition-duration;

                .el-item {
                    color: $white;

                    transition: color $common-transition-duration;
                }

            }
        }
        .cv-day-number, .cv-header-day {
            display: none;
        }

        .past, .today, .dow6, .dow0 {
            opacity: .7;

            pointer-events: none;
        }
    }

    @include razr1259 {
        width: 322px;
        height: 108px;

        .simple-cal::v-deep {
            .el-cal {
                height: 60px;

                font-size: 14px;
            }

        }
    }

    @include razr767 {
        width: 285px;

        .simple-cal::v-deep {
            .el-cal {
                width: 40px;
            }
        }
    }

    @include razr365 {
        width: 78vw;

        .simple-cal::v-deep {
            .el-cal {
                width: 35px;
                height: 55px;
            }
        }
    }
}
</style>
