<template>
    <section class="about static-page__container">
        <h1 class="static-page__title">
            О компании
        </h1>
        <img
            src="@/assets/images/about/about-main.jpg"
            class="static-page__image"
        />
        <p class="static-page__text">
            «Азбука вкуса» — одна из наиболее динамично развивающихся компаний розничного сектора, объединяющая 173 магазина, из которых: 105 супермаркета «Азбука вкуса», 61 минимаркетов «AB Daily», 3 специализированных винных магазина «AB Энотека», 5 семейных гипермаркетов «АВ Маркет», интернет-магазин av.ru, служба доставки готовой еды «АВ Экспресс Меню», городское бистро «АВ Гранд-кафе», собственное кулинарное, хлебопекарное и кондитерское производство, сертифицированное по международному стандарту ISO 22000, собственное хозяйство в Калужской области.
        </p>
        <p class="static-page__text">
            Компания представлена в Москве, Московской области и Санкт-Петербурге. Выручка «Азбуки вкуса» по итогам 2019 года составила 65,4 млрд руб. (без НДС).
        </p>
        <p class="static-page__text">
            «Азбука вкуса» стала первой российской компанией в сфере розничной торговли продуктами питания, внедрившей и сертифицировавшей систему менеджмента качества, основанную на стандартах серии ISO 9000. В 2015 году компания в очередной раз успешно прошла ресертификационный аудит и подтвердила соответствие внедренной системы требованиям международного стандарта ISO 9001:2008. В 2015 году «Азбука вкуса» также сертифицировала свое пищевое производство (фабрика-кухня) по международному стандарту ISO 22000:2005. В 2016 году область действия стандарта ISO 22000:2005 была расширена на хлебопекарное производство компании.
        </p>
        <p class="static-page__text">
            Компания является одним из лидеров российского розничного рынка и занимает первое место среди продуктовых ритейлеров по товарообороту на квадратный метр. «Азбука вкуса» стремится к созданию лучшей в мире сети продуктовых супермаркетов и задает стандарты культуры торговли и социальной ответственности бизнеса.
        </p>
        <a
            class="static-page__link"
            href="/shared/Политика%20и%20цели%20Компании%20АВ%20в%20области%20качества.pdf"
            target="_blank"
        >
            Политика в области качества
        </a>
    </section>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
    name: 'PageAbout',

    data: () => ({
    }),
});
</script>

<style lang="scss" scoped>
</style>
