<template>
    <section class="about static-page__container">
        <h1 class="static-page__title">
            Доставка и оплата
        </h1>
    </section>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
    name: 'PageDelivery',

    data: () => ({
    }),
});
</script>

<style lang="scss" scoped>
</style>
