<template>
    <div class="page-main">
        <intro-slider />
        <category-slider />
        <product-selection
            v-if="showCompilationFirst"
            :compilation="compilationFirst"
        />
        <about-service />
        <product-selection
            v-if="showCompilationSecond"
            :compilation="compilationSecond"
        />
        <benefits />
    </div>
</template>

<script lang="ts">
import Vue from 'vue';

import AboutService from '@/components/pages/page-main/about-service.vue';
import IntroSlider from '@/components/pages/page-main/intro-slider.vue';
import CategorySlider from '@/components/pages/page-main/category-slider.vue';
import Benefits from '@/components/pages/page-main/benefits.vue';
import ProductSelection from '@/components/pages/page-main/product-selection.vue';
import { RGetCompilation } from '~/src/utils/api/requests/main-page';
import { RConfirmEmail } from '~/src/utils/api/requests/user';
import { ICompilation } from '~/src/utils/interfaces/main-page';

export default Vue.extend({
    name: 'PageProfile',

    components: {
        ProductSelection,
        AboutService,
        IntroSlider,
        CategorySlider,
        Benefits,
    },

    data: () => ({
        compilationFirst: {} as ICompilation,
        compilationSecond: {} as ICompilation,
    }),

    computed: {
        registrationToken(): string {
            return String(this.$route.query.token);
        },

        showCompilationFirst(): boolean {
            return !!this.compilationFirst.products?.length;
        },

        showCompilationSecond(): boolean {
            return !!this.compilationSecond.products?.length;
        },
    },

    created() {
        this.getCompilations();
    },

    mounted() {
        if (this.registrationToken && this.$route.query.action === 'auth-registration-confirm') {
            this.sendConfirmEmail();
        }

        if (this.registrationToken && this.$route.query.action === 'user-confirm-email-for-update') {
            this.sendConfirmForEmailChanging();
        }
    },

    methods: {
        async sendConfirmEmail(): Promise<void> {
            const response = await this.$request(RConfirmEmail({ token: this.registrationToken }));
            if (response.RESPONSE_STATUS === 200) {
                this.$accessor.modal.OPEN_MODAL({ name: 'ThxRegistrationModal' });
                this.$router.push({ query: {} });
                this.$accessor.auth.fetchUser();
            }
            else if (response.RESPONSE_STATUS === 400) {
                this.$accessor.modal.OPEN_MODAL({
                    name: 'AboutError',
                    payload: {
                        errorType: 'ConfirmError',
                    },
                });
            }
        },

        async sendConfirmForEmailChanging(): Promise<void> {
            const response = await this.$request(RConfirmEmail({ token: this.registrationToken }));
            if (response.RESPONSE_STATUS === 200) {
                this.$accessor.modal.OPEN_MODAL({ name: 'ThxChangeEmailModal' });
                this.$router.push({ query: {} });
                this.$accessor.auth.fetchUser();
            }
            else if (response.RESPONSE_STATUS === 400) {
                this.$accessor.modal.OPEN_MODAL({ name: 'ErrorChangeEmailModal' });
            }
        },

        async getCompilations(): Promise<void> {
            const responseFirst = await this.$request(RGetCompilation('main-first'));
            if (responseFirst.RESPONSE_STATUS === 200) {
                this.compilationFirst = responseFirst as ICompilation;
            }
            const responseSecond = await this.$request(RGetCompilation('main-second'));
            if (responseSecond.RESPONSE_STATUS === 200) {
                this.compilationSecond = responseSecond as ICompilation;
            }
        },
    },
});
</script>

<style lang="scss" scoped>
.page-main {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    padding: 34px 0 74px;
    overflow: hidden;

    .category-slider {
        margin-bottom: 80px;
    }

    .about-service {
        margin-bottom: 80px;
    }

    .product-selection {
        margin-bottom: 80px;
    }

    @include razr1259 {
        padding: 24px 0 74px;

        .category-slider {
            margin-bottom: 74px;
        }

        .about-service {
            margin-bottom: 74px;
        }

        .product-selection {
            margin-bottom: 74px;
        }
    }

    @include razr1023 {
        padding: 14px 0 54px;

        .category-slider {
            margin-bottom: 54px;
        }

        .about-service {
            margin-bottom: 54px;
        }

        .product-selection {
            margin-bottom: 54px;
        }
    }

    @include razr767 {
        .category-slider {
            display: none;
        }

        .intro-slider {
            margin-bottom: 44px;
        }
    }
}
</style>
