<template>
    <div class="product-card__img">
        <common-loader
            v-if="!initPage"
            class="common-loader__cover"
        />
        <swiper
            v-if="initPage"
            ref="mainSwiper"
            class="product-card__screen-img"
            :auto-destroy="false"
            :options="mainSwiperOption"
        >
            <swiper-slide
                v-for="(slide, index) in images"
                :key="index"
            >
                <img :src="slide.path" />
            </swiper-slide>
        </swiper>
        <div
            v-if="showThumb"
            class="product-card__slider"
        >
            <div class="swiper-button swiper-prev-button">
                <img src="@/assets/images/icon/arrow-black-icon.svg" />
            </div>
            <swiper
                ref="thumbSwiper"
                :options="thumbSwiperOption"
                :auto-destroy="false"
            >
                <swiper-slide
                    v-for="(slide, index) in images"
                    :key="index"
                    :class="{'thumb-slide__active': activeSlideIndex === index}"
                    :data-index="index"
                >
                    <img :src="slide.path" />
                </swiper-slide>
            </swiper>
            <div class="swiper-button swiper-next-button">
                <img src="@/assets/images/icon/arrow-black-icon.svg" />
            </div>
            <div
                v-if="showPagination"
                class="swiper__pagination"
            ></div>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Swiper, SwiperSlide } from 'vue-awesome-swiper';

import CommonLoader from  '@/components/common/CommonLoader.vue';

export default Vue.extend({
    name: 'ProductImg',

    components: {
        Swiper,
        SwiperSlide,
        CommonLoader,
    },

    props: {
        images: {
            type: Array,
            default: () => ([]),
        },
    },

    data: () => ({
        activeSlideIndex: 0,
        initPage: false,
    }),

    computed: {
        mainSwiperOption() {
            const self = this;
            return {
                direction: 'vertical',
                slidesPerView: 1,
                spaceBetween: 0,
                effect: 'fade',
                watchOverflow: true,
                navigation: {
                    prevEl: `.product-card__img .swiper-prev-button`,
                    nextEl: `.product-card__img .swiper-next-button`,
                },
                on: {
                    slideChange() {
                        //@ts-ignore
                        const index = self.$refs.mainSwiper.$swiper.realIndex;
                        self.activeSlideIndex = index;
                        //@ts-ignore
                        self.$refs.thumbSwiper.$swiper.slideTo(index);
                    },
                },
            };
        },

        thumbSwiperOption() {
            const self = this;
            return {
                direction: 'vertical',
                slidesPerView: 3,
                spaceBetween: 7,
                watchOverflow: true,
                allowTouchMove: true,
                pagination: {
                    el: '.product-card__img .swiper__pagination',
                    clickable: true,
                },
                on: {
                    click(e: Event) {
                        //@ts-ignore
                        if (!this.$accessor.isMobile) {
                            //@ts-ignore
                            const index = e.target!.closest('.swiper-slide')!.getAttribute('data-index');
                            //@ts-ignore
                            self.$refs.mainSwiper.$swiper.slideTo(index);
                        }
                    },
                },
                breakpoints: {
                    320: {
                        slidesPerView: 1,
                        direction: 'horizontal',
                    },
                    768: {
                        spaceBetween: 0,
                        slidesPerView: 3,
                        direction: 'vertical',
                        allowTouchMove: false,
                    },
                    1100: {
                        spaceBetween: 14,
                        slidesPerView: 3,
                        direction: 'vertical',
                    },
                },
            };
        },

        showThumb(): boolean {
            return (this.images.length > 1 || this.$accessor.isMobile) && this.initPage;
        },

        showPagination(): boolean {
            return this.images.length > 1 && this.initPage;
        },
    },

    mounted() {
        setTimeout(() => {
            this.initPage = true;
        }, 500);
    },

    beforeDestroy() {
        if (this.$refs.thumbSwiper) {
            //@ts-ignore
            const swiper = this.$refs.thumbSwiper.$swiper;
            setTimeout(swiper.destroy, 500);
        }
    },
});
</script>

<style lang="scss" scoped>
.product-card {
    &__img {
        position: relative;

        display: flex;

        width: 420px;
        height: 420px;
    }

    &__screen-img {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;

        border: 1px solid $input-bg-color;
        border-radius: 12px;

        img {
            width: 95%;
            height: 95%;

            object-fit: contain;
        }

        &::v-deep {
            .swiper-slide {
                display: flex;
                justify-content: center;
                align-items: center;

                height: 100%;

                background: white;
            }
        }
    }

    &__slider {
        width: 100px;
        margin-right: -38px;
        margin-left: 12px;

        .swiper-container {
            height: 315px;
            margin: 13px 0;

            .swiper-slide {
                display: flex;
                justify-content: center;
                align-items: center;

                border: 1px solid transparent;

                &.thumb-slide__active {
                    border-color: $green;
                    border-radius: 12px;
                }

                img {
                    width: 85%;
                    height: 85%;

                    object-fit: contain;
                }
            }
        }

        .swiper__pagination {
            display: none;
        }
    }

    .swiper-button {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 40px;

        background: $input-bg-color;
        border-radius: 12px;

        cursor: pointer;
        user-select: none;
        &.swiper-prev-button {
            transform: rotate(180deg);
        }
    }

    @include razr1259 {
        &__img {
            width: 100%;
            height: auto;
        }

        &__screen-img {
            width: 360px;
            height: 360px;

            img {
                width: 88%;
            }
        }

        &__slider {
            width: 70px;
            .swiper-container {
                height: 255px;
            }
        }
    }

    @include razr1023 {
        &__img {
            justify-content: center;

            width: 100%;
        }
        &__screen-img {
            width: 250px;
            height: 250px;
            margin: 0;
        }

        &__slider {
            width: 48px;
            margin-right: 0;
            margin-left: 7px;

            .swiper-container {
                height: 155px;
                margin: 8px 0;
            }
        }

        &__warning {
            width: 340px;
        }
    }

    @include razr767 {
        &__img {
            width: 100%;
            height: 90vmin;
            max-height: 400px;
        }

        &__screen-img {
            display: none;
        }

        &__slider {
            width: 100%;
            margin-right: 0;
            margin-left: 0;

            .swiper-container {
                width: calc(89vmin - 1px);
                height: 89vmin;
                max-width: 100%;
                max-height: 400px;
                margin: 8px auto 4px;

                border: 2px solid $input-bg-color;
                border-radius: 12px;

                .swiper-slide {
                    img {
                        width: 96%;
                        height: 96%;
                    }

                    &.thumb-slide__active {
                        border: none;
                    }
                }
            }

            .swiper__pagination {
                display: flex;
                justify-content: center;
            }

            .swiper-button {
                display: none;
            }
        }
    }
}
</style>
