@font-face {
    font-family: 'Proxima-Nova';
    font-weight: 300;
    font-style: normal;

    src: url('@/assets/fonts/ProximaNova-Light.woff2') format('woff2'),
    url('@/assets/fonts/ProximaNova-Light.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Proxima-Nova';
    font-weight: 400;
    font-style: normal;

    src: url('@/assets/fonts/ProximaNova-Regular.woff2') format('woff2'),
    url('@/assets/fonts/ProximaNova-Regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Proxima-Nova';
    font-weight: 600;
    font-style: normal;

    src: url('@/assets/fonts/ProximaNova-Semibold.woff2') format('woff2'),
    url('@/assets/fonts/ProximaNova-Semibold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Proxima-Nova';
    font-weight: bold;
    font-style: normal;

    src: url('@/assets/fonts/ProximaNova-Bold.woff2') format('woff2'),
    url('@/assets/fonts/ProximaNova-Bold.woff') format('woff');
    font-display: swap;
}
