* {
    box-sizing: border-box;

    -webkit-backface-visibility: hidden;

    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;

    &::before,
    &::after {
        box-sizing: border-box;
    }
}

body {
    display: flex;
    flex-direction: column;

    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    padding: 0;

    font-family: $main-font-family;
    font-size: $font-size-base;
    color: $dark-gray;
    scroll-behavior: smooth;
    // убирает подсветку элементов при тапе на iOS
    -webkit-tap-highlight-color: transparent;
}
/*
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: $green;
    border-radius: 20px;
}

body::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 20px;
}

scroll-bar::-webkit-scrollbar {
    width: 10px;
}

scroll-bar::-webkit-scrollbar-thumb {
    background-color: $green;
    border-radius: 20px;
}

scroll-bar::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 20px;
}*/

button,
input,
textarea {
    font-family: inherit;

    background: none;
    border: 0;
    border-radius: 0;
    outline: none;
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;

    border: 0;

    clip: rect(0 0 0 0);
}

.grecaptcha-badge { visibility: hidden; }



hr {
    height: 1px;

    background: $input-border-color;
    border: none;
    box-shadow: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

a {
    font-weight: 700;
    color: $green;
    text-decoration: underline;

    cursor: pointer;

    &.green {
        transition: opacity $common-transition-duration;

        &:hover {
            opacity: 0.7;
        }
    }

}
