.static-page {
    &__container {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 58px 0 96px;
    }

    &__title {
        display: inline-block;

        margin-bottom: 42px;

        font-size: 34px;
        font-weight: 700;
    }

    &__image {
        width: 100%;
        object-fit: cover;

        margin-bottom: 42px;

        border-radius: 24px;
    }

    &__text {
        margin-bottom: 16px;

        font-size: 16px;
        line-height: 1.3;
        color: $black-second;
    }

    &__link {
        font-size: 16px;
        color: $green;
        text-decoration: none;
        text-decoration: underline;

        transition: opacity 0.2s;

        &:hover {
            opacity: .7;
            transition: opacity 0.2s;
        }
    }

    @include razr1259 {
        &__container {
            max-width: 976px;
            padding: 36px 0 74px;
        }
    }

    @include razr1023 {
        &__container {
            max-width: 720px;
            padding: 36px 0 54px;
        }

        &__title {
            margin-bottom: 32px;
        }

        &__image {
            margin-bottom: 32px;
        }
    }

    @include razr767 {
        &__container {
            max-width: 89.5vw;
            padding: 32px 0 54px;
        }

        &__title {
            margin-bottom: 24px;

            font-size: 24px;
        }

        &__image {
            margin-bottom: 24px;
        }
    }
}
