<template>
    <div class="restore-password">
        <registration-head />
        <restore-password-default
            v-if="activeDefaultForm"
            @next="changeRestorePasswordStep"
        />
        <restore-password-mail-success v-else-if="successSendToMail" />
        <restore-password-new
            v-if="activeNewPasswordForm"
            @update-password="updatePassword"
        />
        <common-phone-confirmation
            v-if="activeConfirmPhone"
            :disable-back="true"
            :error="confirmPhoneError"
            :number="userPhoneNumber"
            @confirm="confirmPhone"
            @resend-code="resendCode"
        />
        <restore-password-success v-if="successRestorePassword" />
    </div>
</template>

<script lang="ts">
import Vue from 'vue';

import RegistrationHead from '@/components/pages/registration/RegistrationHead.vue';
import RestorePasswordDefault from '@/components/pages/restorePassword/RestorePasswordDefault.vue';
import RestorePasswordMailSuccess from '@/components/pages/restorePassword/RestorePasswordMailSuccess.vue';
import RestorePasswordNew from '@/components/pages/restorePassword/RestorePasswordNew.vue';
import RestorePasswordSuccess from '@/components/pages/restorePassword/RestorePasswordSuccess.vue';
import CommonPhoneConfirmation from '@/components/common/CommonPhoneConfirmation.vue';
import { RNewPassword, RRestorePasswordConfirmPhone } from '~/src/utils/api/requests/auth';

export default Vue.extend({
    name: 'RestorePassword',

    components: {
        RegistrationHead,
        RestorePasswordDefault,
        RestorePasswordMailSuccess,
        RestorePasswordNew,
        RestorePasswordSuccess,
        CommonPhoneConfirmation,
    },

    data: () => ({
        restorePasswordStep: 1,
        newPassword: '',
        confirmPhoneError: '',
        userPhoneNumber: '',
    }),

    computed: {
        restoreToken(): any {
            return this.$route.query.token;
        },

        activeDefaultForm(): boolean {
            return this.restorePasswordStep === 1 && !this.restoreToken;
        },

        activeNewPasswordForm(): boolean {
            return this.restorePasswordStep === 1 && this.restoreToken && this.$route.query.action === 'restore-password';
        },

        successSendToMail(): boolean {
            return this.restorePasswordStep === 2;
        },

        activeConfirmPhone(): boolean {
            return this.restorePasswordStep === 3;
        },

        successRestorePassword(): boolean {
            return this.restorePasswordStep === 4;
        },
    },

    methods: {
        changeRestorePasswordStep(num: number) {
            this.restorePasswordStep = num;
        },

        async updatePassword(password?: string, callback?: Function) {
            if (password) {
                this.newPassword = password;
            }

            const response = await this.$request(RNewPassword({
                password: this.newPassword,
                token: this.restoreToken,
            }));

            if (response.RESPONSE_STATUS === 200) {
                this.userPhoneNumber = response.phoneNumber;
                this.changeRestorePasswordStep(3);
            }

            if (callback) {
                callback(response.errors);
            }
        },

        async confirmPhone(code: string, callBack: Function): Promise<void> {
            const response = await this.$request(RRestorePasswordConfirmPhone({
                phoneCode: code,
                password: this.newPassword,
                token: this.restoreToken,
            }));
            callBack();
            if (response.errors) {
                this.confirmPhoneError = response.errors[0].message;
            }
            else {
                this.changeRestorePasswordStep(4);
            }
        },

        resendCode() {
            this.updatePassword();
        },
    },
});
</script>

<style scoped lang="scss">
.restore-password {
    width: 980px;
    margin-top: 45px;
    margin-bottom: 40px;
    padding-bottom: 90px;

    background: white;
    border-radius: 18px;
    box-shadow: 0 9px 18px rgba(18, 19, 19, 0.22);

    .common-phone-confirmation {
        margin-top: 80px;
    }

    @include tablet_landscape {
        width: 880px;
        padding-bottom: 75px;
    }

    @include tablet {
        width: 725px;
        min-height: 940px;
        margin-top: 15px;

        &__head {
            padding: 27px 22px;
        }
    };

    @include mobile {
        width: 100%;
        max-width: 400px;
        min-height: initial;
        margin-top: 0;
        margin-bottom: 0;

        border-radius: 0;
        box-shadow: none;
    }
}
</style>
