<template>
    <div
        class="workshop"
        :class="{block: isView, disable: disableAll, isReview: isDocumentReview, isWorkshop, isFullScreen}"
    >
        <div
            v-if="documentName"
            class="document-name"
        >
            {{ documentName }}
        </div>
        <div
            class="board"
            :class="{fullScreen: isFullScreen || isView}"
        >
            <div
                v-if="isDocumentReview || isView"
                class="review-tools"
            >
                <div
                    class="app-tool-btn blue"
                    title="Zoom +"
                    @click="zoomRdf(true)"
                >
                    <i class="fa fa-search-plus"></i>
                </div>
                <div
                    class="app-tool-btn blue"
                    title="Zoom -"
                    @click="zoomRdf(false)"
                >
                    <i class="fa fa-search-minus"></i>
                </div>
            </div>
            <div
                v-if="!isDocumentReview"
                class="board__tools"
            >
                <div
                    class="app-tool-btn pre purple"
                    title="Previews"
                    :class="{disabled: pdf.currentPage === 1}"
                    @click="switchPage(pdf.currentPage-1)"
                >
                    <img src="@/assets/img/icons/tools/arrow-l_icon.svg" />
                </div>
                <div
                    v-if="!hiddenTools"
                    class="center"
                >
                    <div
                        class="app-tool-btn blue forDesktop"
                        title="Start/stop demonstration"
                        :class="{red: isModerator, disabled: otherModerator}"
                        @click="startModerator"
                    >
                        <img src="@/assets/img/icons/tools/cursor_icon.svg" />
                    </div>
                    <div
                        class="app-tool-btn blue"
                        title="Hide/show other labels"
                        :class="{red: hiddenOtherObjects}"
                        @click="toggleOtherObjects"
                    >
                        <img src="@/assets/img/icons/tools/clear_icon.svg" />
                    </div>
                    <div
                        class="app-tool-btn blue"
                        :class="{active: activeTool === 6}"
                        title="Start/stop draw mode"
                        @click="activateTool(6)"
                    >
                        <i class="fa fa-pencil"></i>
                    </div>
                    <div
                        class="app-tool-btn purple"
                        :class="{active: activeTool === 3}"
                        title="Set check"
                        @click="activateTool(3)"
                    >
                        <img src="@/assets/img/icons/tools/add-voting_icon_green.svg" />
                    </div>
                    <div
                        class="app-tool-btn purple"
                        :class="{active: activeTool === 4}"
                        title="Set cross"
                        @click="activateTool(4)"
                    >
                        <img src="@/assets/img/icons/tools/close_icon_red.svg" />
                    </div>
                    <div
                        class="app-tool-btn purple"
                        :class="{active: activeTool === 5}"
                        title="Set question"
                        @click="activateTool(5)"
                    >
                        <img src="@/assets/img/icons/tools/question_icon_blue.svg" />
                    </div>
                    <div
                        class="app-tool-btn purple"
                        :class="{active: activeTool === 2}"
                        title="Set arrow"
                        @click="activateTool(2)"
                    >
                        <img src="@/assets/img/icons/tools/arrow-top_icon.svg" />
                    </div>
                    <div
                        class="app-tool-btn purple"
                        :class="{active: activeTool === 1}"
                        title="Set line"
                        @click="activateTool(1)"
                    >
                        <img src="@/assets/img/icons/tools/line_icon.svg" />
                    </div>
                    <div
                        class="elements-settings"
                    >
                        <input
                            v-model="elementWeight"
                            title="Width pen"
                            type="range"
                            min="1"
                            max="5"
                            step="0.5"
                        />

                        <appColorPicker v-model="elementColor" />
                    </div>
                    <div
                        class="app-tool-btn blue"
                        title="Undo"
                        @click="$refs.paintBord.undoElement()"
                    >
                        <i class="fa fa-undo"></i>
                    </div>
                    <div
                        class="app-tool-btn blue"
                        title="Redo"
                        @click="$refs.paintBord.redoElement()"
                    >
                        <i class="fa fa-repeat"></i>
                    </div>
                    <div
                        class="app-tool-btn blue"
                        title="Zoom +"
                        @click="zoomRdf(true)"
                    >
                        <i class="fa fa-search-plus"></i>
                    </div>
                    <div
                        class="app-tool-btn blue"
                        title="Zoom -"
                        @click="zoomRdf(false)"
                    >
                        <i class="fa fa-search-minus"></i>
                    </div>
                    <div
                        class="app-tool-btn blue"
                        title="Add vote"
                        @click="openVotePopup"
                    >
                        <img src="@/assets/img/icons/add_vote_icon.svg" />
                    </div>
                </div>
                <div class="right">
                    <div
                        v-if="!hiddenTools"
                        class="app-tool-btn fullScreen"
                        title="Full screen"
                        @click="toggleFullScreen"
                    >
                        <img
                            v-if="!isFullScreen"
                            src="@/assets/img/icons/full_screen_icon.svg"
                        />
                        <img
                            v-else
                            src="@/assets/img/icons/low-screen_icon.svg"
                        />
                    </div>
                    <div
                        class="app-tool-btn next purple"
                        title="Next"
                        :class="{disabled: pdf.currentPage === workshop.total_page}"
                        @click="switchPage(pdf.currentPage+1)"
                    >
                        <img src="@/assets/img/icons/tools/arrow-l_icon.svg" />
                    </div>
                </div>
            </div>

            <div
                ref="board"
                v-dragscroll="false"
                class="board__work-place"
            >
                <appLoader v-if="!loadedDoc" />
                <div
                    ref="layer"
                    class="layer"
                    @dblclick="addCommentBalloon"
                >
                    <canvas ref="pdf"></canvas>
                    <app-watermark
                        v-if="(pdfIsRendered || loadedDoc) && watermarkParams.text"
                        :watermark-params="watermarkParams"
                    />
                    <paint-bord
                        v-if="pdfIsLoad && workshop && !hiddenTools"
                        ref="paintBord"
                        :tool="activeTool"
                        :element-weight="elementWeight"
                        :element-color="elementColor"
                        :socket="socket"
                        :objects="workshop.objects"
                        :pdf="$refs.pdf"
                    />
                    <div
                        v-if="commentsList.length && pdfIsLoad"
                        class="comments-labels"
                    >
                        <div
                            v-for="balloon in commentsList"
                            :key="balloon.id"
                        >
                            <div
                                v-if="balloon.l_x>=0"
                                class="balloon"
                                :style="{top: `${balloon.l_y*scalingFactor}px`, left: `${balloon.l_x*scalingFactor}px`,
                                         transform: `scale(${1/pdf.zoom})`}"
                                :class="{hover: balloon.hover}"
                                @mouseenter="toggleComment(balloon, true, true,)"
                                @mouseleave="toggleComment(balloon, false, true)"
                            >
                                <svg
                                    id="svg8"
                                    class="back"
                                    version="1.1"
                                    viewBox="0 0 185.20832 185.20832"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <g
                                        id="layer1"
                                        transform="translate(244.17261,202.68451)"
                                    >
                                        <g
                                            id="g2099"
                                            transform="translate(200.98667,1559.4583)"
                                        >
                                            <path
                                                id="rect1013"
                                                stroke-width="4px"
                                                d="m -436.72159,-1743.2881 c -2.10926,0 -3.80747,1.7045 -3.80747,3.8223 v 103.5679 c 0,2.1178 1.69821,3.8231 3.80747,3.8231 h 23.24053 v 36.2859 l 71.37453,-36.2859 h 31.63448 42.08329 c 2.10914,0 3.80758,-1.7053 3.80758,-3.8231 v -103.5679 c 0,-2.1178 -1.69844,-3.8223 -3.80758,-3.8223 z"
                                                fill="white"
                                                :stroke="balloon.color"
                                            />
                                        </g>
                                    </g>
                                </svg>
                                <!--                                <div class="back">
                                    <svg preserveAspectRatio="none">
                                        <path :stroke="balloon.color" d="m0.464228,2.036655l0,0c0,-0.68701 0.570318,-1.243941 1.273842,-1.243941l0.579019,0l0,0l2.779291,0l5.21117,0c0.337845,0 0.661851,0.131057 0.900743,0.364342c0.238891,0.233284 0.373099,0.549686 0.373099,0.879599l0,3.109853l0,0l0,1.865911l0,0c0,0.68701 -0.570318,1.243941 -1.273842,1.243941l-5.21117,0l-3.630801,3.163053l0.85151,-3.163053l-0.579019,0c-0.703523,0 -1.273842,-0.556931 -1.273842,-1.243941l0,0l0,-1.865911l0,0l0,-3.109853z" fill="#fff"/>
                                    </svg>
                                </div>-->
                                {{ balloon.number }}
                            </div>
                        </div>
                    </div>

                    <div
                        v-if="isModerator || otherModerator"
                        class="moderator"
                        :style="{top: `${moderItemTop}px`, left: `${moderItemLeft}px`}"
                    ></div>
                </div>
            </div>

            <div class="board__bottom">
                <div
                    class="app-tool-btn pre purple"
                    title="Previews"
                    :class="{disabled: pdf.currentPage === 1}"
                    @click="switchPage(pdf.currentPage-1)"
                >
                    <img src="@/assets/img/icons/tools/arrow-l_icon.svg" />
                </div>
                <form
                    class="pages"
                    @submit.prevent="switchPage(+pageInput)"
                >
                    <span>
                        {{ pdf.currentPage }}/{{ workshop.total_page }}</span>
                    <input
                        v-model="pageInput"
                        class="app-input white"
                        type="text"
                        placeholder="Go to"
                    />
                    <button
                        type="submit"
                        class="app-tool-btn next purple"
                        title="Go to"
                    >
                        <img src="@/assets/img/icons/tools/arrow-l_icon.svg" />
                    </button>
                </form>
                <div class="right">
                    <div
                        v-if="!hiddenTools"
                        class="app-tool-btn fullScreen"
                        title="Full screen"
                        @click="toggleFullScreen"
                    >
                        <img
                            v-if="!isFullScreen"
                            src="@/assets/img/icons/full_screen_icon.svg"
                        />
                        <img
                            v-else
                            src="@/assets/img/icons/low-screen_icon.svg"
                        />
                    </div>
                    <div
                        class="app-tool-btn next purple"
                        title="Next"
                        :class="{disabled: pdf.currentPage === workshop.total_page}"
                        @click="switchPage(pdf.currentPage+1)"
                    >
                        <img src="@/assets/img/icons/tools/arrow-l_icon.svg" />
                    </div>
                </div>
            </div>
        </div>
        <div
            v-if="!isFullScreen && !isView"
            :class="{'active-video': videoCallIsActive}"
            class="chat"
        >
            <div
                v-if="videoCallIsActive"
                class="chat__video"
            >
                <app-video-chat
                    :link="videoCallLink"
                    @close="closeVideoCall"
                />
            </div>
            <div class="chat__head">
                <h4>Comments</h4>
                <h5>Comments for page {{ comments.length }}</h5>
            </div>
            <div class="content">
                <form>
                    <label
                        v-click-outside="deleteCreatedComment"
                    >
                        <p>Please, enter comment:</p>
                        <textarea
                            ref="commentTextarea"
                            v-model="commentTextarea"
                            class="app-input"
                        ></textarea>
                        <app-button
                            class="purple"
                            @click="createComment"
                        >
                            Send
                        </app-button>
                    </label>
                </form>
                <div class="chat__messages">
                    <app-comments
                        :comments="reversedComments"
                        type="short"
                        @updateComments="toggleComment"
                        @toggleCommentState="toggleCommentState"
                        @comment="openCommentPopup"
                    />
                </div>
            </div>
        </div>

        <app-popup name="workshopFunctionalityPopup">
            <functionalityPopup :is-review="!!isDocumentReview" />
        </app-popup>
        <app-popup
            v-if="isWorkshop"
            name="add-vote-popup"
        >
            <add-vote-popup
                :socket="socket"
                :paths="$options.surveysPaths"
                @addSurvey="addSurvey"
                @editedSurvey="editedSurvey"
            />
        </app-popup>
        <voting
            v-if="isWorkshop"
            :surveys="surveys"
            :all-answered="allAnswered"
            @deleteSurvey="deleteSurvey"
            @answer="answerSurvey"
        />
        <participantsChat
            v-if="role===5 && isWorkshop"
            :unread-count.sync="+workshop.unread_chat"
            :socket="socket"
            @read="readMessages"
        />
        <div
            v-if="creatingCommentBalloon"
            ref="creatingCommentBalloon"
            class="creatingCommentBalloon"
        ></div>

        <app-popup name="commentPopup">
            <comment-popup
                :paths="socketPaths"
                :socket="socket"
                @createComment="createSubComment"
            />
        </app-popup>
    </div>
</template>

<script>
    import appColorPicker from '@/components/user/app/app-color-picker';
    import appComments from '@/components/user/app/app-comments';
    import appButton from '@/components/user/app/app-button';
    import paintBord from '@/components/user/pages/workshop/paint-bord';
    import appPopup from '@/components/user/app-popup';
    import functionalityPopup from '@/components/user/pages/workshop/functionality-popup';
    import participantsChat from '@/components/user/pages/workshop/participants-chat';
    import addVotePopup from '@/components/user/pages/workshop/add-vote-popup';
    import voting from '@/components/user/pages/workshop/voting';
    import appWatermark from '@/components/user/app/app-watermark';
    import appVideoChat from '@/components/user/app/app-video-chat';
    import commentPopup from '@/components/user/app/app-comment-popup';
    import appLoader from '@/components/user/app/app-loader';

    import '@/assets/js/canvasArrows.js';
    import vClickOutside from 'v-click-outside';

    import { socketInstance, GP } from '@/utils/sockets-helper';
    import { dragscroll } from 'vue-dragscroll';
    import { bus } from '@/main';
    import { get } from '@/utils/http-helper';
    import surveys from '@/utils/mixins/surveys';

    const pdfjsLib = require('pdfjs-dist');
    const GET_FILE = '/files/get-file';
    const GET_FILE_INFO = '/files/get-info';
    const NAME_SPACE = 'workshop';
    const MODERATOR_START = 'moderator-start';
    const MODERATOR_MOUSE = 'moderator-mouse';
    const FINISH_MODERATOR = 'moderator-stop';
    const CREATE_COMMENT = 'comment-create';
    const REMOVE_COMMENT = 'comment-remove';
    const RESTORE_COMMENT = 'comment-restore';
    const GET_PAGE = '/workshop/get-page';
    const GET_REVIEW_PAGE = '/review/get-page';

    const SWITCH_PAGE = 'page-switch';

    export default {
        name: 'app-workshop',

        components: {
            appColorPicker,
            appComments,
            paintBord,
            appButton,
            appPopup,
            functionalityPopup,
            participantsChat,
            addVotePopup,
            voting,
            appWatermark,
            appVideoChat,
            commentPopup,
            appLoader,
        },

        directives:{
            dragscroll,
            clickOutside: vClickOutside.directive,
        },

        mixins: [surveys(NAME_SPACE)],

        surveysPaths: {
          NAME_SPACE: 'workshop',
          CREATE_SURVEY: 'survey-create',
          UPDATE_SURVEY: 'survey-update',
        },

        props: {
            isView: {
                type: Boolean,
                default: false,
            },

            isDocumentReview: {
                type: Boolean,
                default: false,
            },
        },

        data: ()=>({
            workshop: {},

            comments: [],
            createdComment: null,
            commentTextarea: '',
            scalingFactor: '',
            creatingCommentBalloon: false,

            documentName: '',
            pdfIsRendered: false,
            loadedDoc: false,

            surveys: [],

            pdf: {
                pdf: null,
                currentPage: 1,
                numPages: null,
                zoom: 1,
            },

            isModerator: false,
            otherModerator: false,
            moderItemTop: 0,
            moderItemLeft: 0,
            hiddenOtherObjects: false,

            pageInput: '',
            file: null,
            pdfIsLoad: false,

            activeTool: null,
            elementWeight: '2',
            elementColor: '#000000',

            videoCallIsActive: false,
            videoCallLink: '',
            isFullScreen: false,

            socket: null,
            generateSocketPath: null,
        }),

        computed: {
            reversedComments() {
                return [...this.comments].reverse();
            },

            socketPaths() {
              if (!this.isDocumentReview) {
                return {
                  NAME_SPACE: 'workshop',
                  CREATE_TEXT: 'comment-create',
                };
              }
              return {
                NAME_SPACE: 'review',
                CREATE_TEXT: 'comment-create',
              };
            },
            topicId() {
              return this.$route.query.id;
            },
            documentId() {
              return this.$route.query.document_id;
            },
            part() {
                return this.$route.query.part;
            },
            type() {
                return this.$route.query.type;
            },
            workshopData() {
              return this.$store.getters['workshop/get'];
            },
            userId() {
              return this.$store.getters['auth/userInfo'].id;
            },
            userColor() {
              return this.$store.getters['auth/userInfo'].color;
            },
            commentsList() {
              let comments = [];
              this.comments? comments = [...this.comments] : null;
              this.createdComment ? comments.push(this.createdComment) : null;
              return comments;
            },
            role() {
              return this.$store.getters['auth/userInfo']?.role.id;
            },
            hiddenTools() {
              return this.isView;
            },
            watermarkParams() {
              return {
                text: this.workshop?.info?.user_text,
                w: this.$refs.pdf?.width,
                h: this.$refs.pdf?.height,
              };
            },

            isWorkshop() {
              return !this.isView && !this.isDocumentReview;
            },

            disableAll() {
                const mode = +this.$store.getters['auth/userInfo']?.role.mode;
                return this.role !== 5 && this.role !== 6 || mode === 0;
            },
        },

        created(){
            bus.$on('startVideoCall', (data) => {
              if (data.isMain) {
                this.videoCallLink = this.workshop?.info.video_main;
              } else {
                this.videoCallLink = this.workshop?.info.video_context;
              }
              this.videoCallIsActive = data.status;
            });
            this.initSockets();
        },

        async mounted() {
            if (this.topicId) {
                let part = 'workshop';

                if (this.isDocumentReview) {
                    await this.$store.dispatch('workshop/getReview', this.topicId);
                    part = 'review';
                } else {
                    await this.$store.dispatch('workshop/get', this.topicId);
                }
                this.getDocument({
                    part,
                    topic_id: this.topicId,
                });
                this.workshop = this.workshopData;
                this.setWorkshopInfo();
            }
            if (this.documentId && this.part) {
                const requestObj = {
                  part: this.part,
                  obj_id: this.documentId,
                };
                await this.getDocument(requestObj);
                this.getDocumentInfo(requestObj);
            }
            if (this.type && this.part) {
                const requestObj = {
                  type: this.type,
                  part: this.part,
                };
                await this.getDocument(requestObj);
                this.getDocumentInfo(requestObj);
            }
        },

        methods:{
            activateTool(num) {
              if (this.activeTool === num) {
                this.activeTool = null;
              } else {
                this.activeTool = num;
              }
            },
            initSockets() {
              this.generateSocketPath = new GP(this.socketPaths.NAME_SPACE);

              this.socket = socketInstance(this.socketPaths.NAME_SPACE, {
                room: `room-${this.topicId}`,
              });
              this.socket.on(this.generateSocketPath.generate(CREATE_COMMENT), data => {
                if (data.success) {
                  data.count_comments = 0;
                  data.comments = [];
                  this.comments.push(data);
                }
              });
              this.socket.on(this.generateSocketPath.generate(REMOVE_COMMENT), data => {
                if (data.success) {
                  const comment = this.comments.find(c => c.id === data.comment_id);
                  comment.deleted = 1;
                  comment.content = data.content;
                }
              });
              this.socket.on(this.generateSocketPath.generate(RESTORE_COMMENT), data => {
                if (data.success) {
                  const comment = this.comments.find(c => c.id === data.comment_id);
                  comment.deleted = 0;
                  comment.content = data.content;
                }
              });
              this.socket.on(this.generateSocketPath.generate(MODERATOR_START), data => {
                if (data.success) {
                  this.otherModerator = true;
                }
              });
              this.socket.on(this.generateSocketPath.generate(MODERATOR_MOUSE), data => {
                if (data.success) {
                  this.moderItemTop = data.position.y*this.scalingFactor;
                  this.moderItemLeft = data.position.x*this.scalingFactor;
                }
              });
              this.socket.on(this.generateSocketPath.generate(FINISH_MODERATOR), data => {
                if (data.success) {
                  this.otherModerator = false;
                }
              });
              this.subscribeSocketEvents();
            },
            async getDocument(requestData) {
                const response = await get(GET_FILE, requestData);
                if (response) {
                  this.file = response;
                }
                  this.parseDocument();
            },
            async getDocumentInfo(requestData) {
                const response = await get(GET_FILE_INFO, requestData);
                if (response.status) {
                  this.documentName = response.data.name;
                  this.workshop.total_page = response.data.total_page;
                  this.workshop.info = response.data.info;
                }
            },
            parseDocument(){
                /* eslint-disable */
                const pdfAsDataUri = `data:application/pdf;base64,${this.file}`;
                pdfjsLib.getDocument(pdfAsDataUri).then((pdf) => {
                    this.pdf.pdf = pdf;
                    this.pdf.numPages = pdf.numPages;
                    this.renderPdf(true);
                });
                /* eslint-enable */
            },
            renderPdf(){
                this.pdf.pdf.getPage(this.pdf.currentPage).then((page) => {

                    const cnv = this.$refs.pdf;
                    const ctx = cnv.getContext('2d');
                    const viewport = page.getViewport(this.pdf.zoom);
                    const width = this.$refs.layer.offsetWidth;
                    const scale = width / viewport.width;
                    this.pdf.minZoom = scale;
                    const scaledViewport = page.getViewport(scale);

                    cnv.width = scaledViewport.width;
                    cnv.height = scaledViewport.height;

                    if (this.isView) {
                        cnv.width = scaledViewport.width - 17;
                    }

                    page.render({
                        canvasContext: ctx,
                        viewport: scaledViewport,
                    });
                    this.pdfIsLoad = true;

                    this.$nextTick(()=>{
                        this.scalingFactor = width/1000/this.pdf.zoom;
                        if (!this.hiddenTools && !this.isDocumentReview) {
                          this.$refs.paintBord.initCanvas(scale);
                          this.pdfIsRendered = true;
                        }
                        this.loadedDoc = true;
                    });
                });
            },

            zoomRdf(up){
                if (!this.pdf.pdf) return;
                if (up) {
                    this.pdf.zoom>=.6? this.pdf.zoom -= 0.1 : this.pdf.zoom = .5;
                } else {
                    this.pdf.zoom<=.9? this.pdf.zoom += 0.1 : this.pdf.zoom = 1;
                }
                this.comments = this.comments.map(c => {
                  c.x = c.l_x/this.pdf.zoom;
                  c.y = c.l_y/this.pdf.zoom;
                  return c;
                });
                this.renderPdf();
            },
            startModerator() {
              if (this.isModerator) {
                this.finishModerator();
                return;
              }
              this.$confirm({
                message: `Are you sure to start moderation?`,
                button: {
                  no: 'No',
                  yes: 'Yes',
                },
                callback: confirm => {
                  if (confirm) {
                    this.socket.emit(this.generateSocketPath.generate(MODERATOR_START), {}, data => {
                      if (data.success) {
                        this.isModerator = true;
                        this.$refs.board.onmousemove = (e) => {
                          if (e.target.closest('.board__work-place')) {
                            const LX = this.$refs.board.getBoundingClientRect().left - this.$refs.board.scrollLeft;
                            const LY = this.$refs.board.getBoundingClientRect().top - this.$refs.board.scrollTop;
                            this.moderItemTop = (e.clientY - LY);
                            this.moderItemLeft = (e.clientX - LX);
                          }
                        };
                        window.moderatorMouseI = setInterval(() => {
                          this.socket.emit(this.generateSocketPath.generate(MODERATOR_MOUSE), {
                            position: {
                              x: this.moderItemLeft / this.scalingFactor,
                              y: this.moderItemTop / this.scalingFactor,
                            },
                          });
                        }, 10);
                      }
                    });
                  }
                },
              });
            },
            finishModerator() {
                this.$confirm({
                  message: `Are you sure to stop moderation?`,
                  button: {
                    no: 'No',
                    yes: 'Yes',
                  },
                  callback: confirm => {
                    if (confirm) {
                      this.socket.emit(this.generateSocketPath.generate(FINISH_MODERATOR), {}, data => {
                        if (data.success) {
                          this.isModerator = false;
                          clearInterval(window.moderatorMouseI);
                          this.$refs.board.onmousemove = null;
                        }
                      });
                    }
                  },
                });
            },
            toggleOtherObjects() {
              if (!this.hiddenOtherObjects) {
                this.hiddenOtherObjects = true;
                this.workshop.objects = this.workshop.objects?.map(o => {
                  if (+o.user_id !== +this.userId) {
                    o.isShow = false;
                  }
                  return o;
                });
              } else {
                this.hiddenOtherObjects = false;
                this.workshop.objects = this.workshop.objects?.map(o => {
                  o.isShow = true;
                  return o;
                });
              }
              this.$refs.paintBord.draw();
            },

            switchPage(page) {
              if (!page) return;
              page < 1 ? page = this.pageInput = 1 : null;
              if (page > this.workshop?.total_page) {
                page = this.pageInput = this.workshop?.total_page;
              }
              if (!this.hiddenTools) {
                this.socket.emit(this.generateSocketPath.generate(SWITCH_PAGE), { page }, data => {
                  if (data.success) {
                    this.pdf.currentPage = page;
                    this.renderPdf();
                    this.pageInput = '';
                    this.getPageContent(page);
                  }
                });
              } else  {
                this.pdf.currentPage = page;
                this.renderPdf();
                this.pageInput = '';
              }
            },
            setWorkshopInfo() {
              this.comments = this.workshopData?.comments?.map(c => {
                c.hover = false;
                return c;
              });
              this.surveys = this.workshopData?.surveys;
              const objects = this.workshopData?.objects?.map(o => {
                o.isShow = true;
                return o;
              });
              this.workshop = { ...this.workshop, objects };
              this.allAnswered = !!this.workshopData?.is_all_answered;
              if (this.$refs.paintBord) {
                this.$nextTick(()=>{
                  this.$refs.paintBord.draw();
                });
              }
            },
            async getPageContent(page) {
                let path = GET_PAGE;
                this.isDocumentReview ? path = GET_REVIEW_PAGE : null;
                await this.$store.dispatch('workshop/getPage', { topicId: this.topicId, page, path });
                this.setWorkshopInfo();
            },
            toggleFullScreen() {
              this.isFullScreen = !this.isFullScreen;
              setTimeout(() => {
                this.renderPdf();
              });
            },
            openVotePopup() {
              this.$store.dispatch('togglePopup', { popupName: 'add-vote-popup' });
            },
            addCommentBalloon(e) {
                const comment = {
                    l_x: e.layerX / this.scalingFactor,
                    l_y: e.layerY / this.scalingFactor -20,
                    hover: false,
                    color: this.userColor,
                };
                this.createdComment = comment;
                this.$refs.commentTextarea.focus();
            },
            createComment() {
                if (!this.commentTextarea) return;
                this.sendComment();
            },
            sendComment() {
              if (!this.commentTextarea) return;
              const comment = {
                content: this.commentTextarea,
                l_x: Math.round(this.createdComment?.l_x) || -1,
                l_y: Math.round(this.createdComment?.l_y) || -1,
                hover: this.createdComment?.hover,
              };
              this.socket.emit(this.generateSocketPath.generate(CREATE_COMMENT), comment, data => {
                if (data.success) {
                  data.comments = [];
                  data.count_comments = 0;
                  this.comments.push(data);
                  this.commentTextarea = '';
                  this.createdComment = null;
                }
              });
            },
            openCommentPopup(parentId = 0, toAll = 0, questionId = 0){
                const options = {
                    topicId: this.topicId,
                    parentId,
                    toAll,
                    questionId,
                };
                this.$store.dispatch('togglePopup', { popupName: 'commentPopup', options });
            },
            createSubComment(data) {
              const comment = this.comments.find(c => +c.id === +data.parent_id);
              comment.comments.push(data);
              comment.count_comments++;
            },
            toggleComment(com, state, isBalloon) {
                const comments = this.comments;
                const comment = comments.find(c => com.id === c.id);
                if (comment) comment.hover = state;
                this.comments = [...comments];

                setTimeout(()=>{
                    if (isBalloon) {
                        const commentsList = document.querySelector('.app-comments');
                        const commentInList = document.querySelector('.app-comments__discuss.hover');
                        if (!commentInList) return;
                        commentsList.scrollTo({
                            top: commentInList.offsetTop - commentsList.getBoundingClientRect().top - pageYOffset,
                            behavior: 'smooth',
                        });
                    } else {
                        const board = this.$refs.board;
                        const balloon = document.querySelector('.balloon.hover');
                        if (!balloon) return;
                        board.scrollTo({
                            top: balloon?.offsetTop - board.getBoundingClientRect().top - pageYOffset,
                            behavior: 'smooth',
                        });
                    }

                }, 100);
            },
            toggleCommentState(id, deleted) {
                let url = REMOVE_COMMENT;
                if (deleted) {
                    url = RESTORE_COMMENT;
                }
                this.socket.emit(this.generateSocketPath.generate(url), {
                    comment_id: id,
                }, data => {
                  if (data.success) {
                    const comment = this.comments.find(c => c.id === id);
                    comment.deleted = !deleted;
                    comment.content = data.content;
                  }
                });
            },
            deleteCreatedComment() {
              if ( this.createdComment) {
                this.createdComment = null;
              }
            },
            readMessages(num) {
              this.workshop.unread_chat = num;
            },

            closeVideoCall() {
              this.videoCallIsActive = false;
            },
        },
    };
</script>

<style scoped lang="scss">
    .workshop{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        padding: 2.4rem 0;

        &.disable {
            pointer-events: none;
            .next, .pre, .fullScreen, .board__work-place, .chat__messages, .board__bottom, .app-popup {
                pointer-events: all;
            }
            &::v-deep {
                .app-comments__comment * {
                    pointer-events: none;
                }
                .app-comments__comment {
                    .date span {
                        pointer-events: all;
                    }
                }
            }
        }

        &.block {
            display: block;
            .board__tools {
                padding: 0.2rem 1rem;
            }
            .board__work-place {
                height: 40rem;
            }
        }

        &.isReview, &.isWorkshop {
            min-height: 85vh;

            &.isFullScreen {
                height: initial;
            }
        }

        &.isReview {
            align-items: initial;

            .board {
                display: flex;
                flex-direction: column;

                &__work-place {
                    height: 100%;
                }
            }
        }

        .moderator {
            position: absolute;
            z-index: 1000000;

            width: 10px;
            height: 10px;

            background: $red;
            border-radius: 50%;

            transform: translate(-50%, -50%);

            pointer-events: none;
        }
    }

    .document-name {
        margin-bottom: 2rem;

        font-size: to_rem(16px);
        text-align: center;
        color: $gray;
    }

    .watermarkText {
        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
        opacity: 0.5;
    }
    .creatingCommentBalloon {
        position: fixed;

        width: 20px;
        height: 20px;

        background: url("~@/assets/img/icons/review_subcomm_gold_icon.svg") no-repeat center center/cover;

        transform: translateY(-50%);
    }
    .board{
        position: relative;

        border: 20px solid $mainBlue;
        border-bottom: none;

        &.fullScreen {
            width: 100%;
            .layer {
                width: 100%;
            }
            .board__work-place {
                height: 765px;
            }
        }

        &__tools{
            display: flex;
            justify-content: space-between;

            padding: 1.95rem 0.7rem;

            background: $mainBackgroundColor;

            .center{
                display: flex;
            }

            .elements-settings{
                display: flex;
                align-items: center;
            }
        }

        &__work-place{
            position: relative;

            height: 470px;
            overflow: auto;

            .comments-labels {
                position: absolute;
                top: 0;
                left: 0;

                .balloon{
                    position: absolute;
                    z-index: 100000;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    width: 20px;
                    height: 20px;
                    padding-bottom: 0.25rem;

                    font-size: to_rem(10px);
                    font-weight: 700;

                    //background: url("~@/assets/img/icons/review_subcomm_gold_icon.svg") no-repeat center center/cover;

                    transform-origin: bottom left;
                    cursor: pointer;

                    user-select: none;
                    &.hover {
                        transform: scale(1.2) !important;
                        transform-origin: left bottom;

                        will-change: transform;
                    }

                    .back {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        z-index: -1;
                        svg {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
        &__bottom{
            display: flex;
            justify-content: space-between;
            align-items: center;

            padding: 0.5rem 0;

            background: $mainBlue;
            .pages{
                display: flex;
                align-items: center;

                color: white;
                input{
                    width: 4rem;
                    margin: 0 .5rem;
                }
                button {
                    border: none;
                }
            }
        }
        .right {
            display: flex;
            &>div {
                margin-left: 0.5rem;
            }
            .fullScreen {
                background: white;
            }
        }
        .layer{
            position: relative;

            width: to_rem(843px);
            margin: 0 auto;
        }
        .review-tools {
            position: absolute;
            top: 4px;
            left: 50%;
            z-index: 500;

            display: flex;
            justify-content: center;
            align-items: center;

            transform: translateX(-50%);

            div {
                margin: 0 5px;

                opacity: 0.5;
                transition: opacity 0.2s;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    .chat{
        display: flex;
        flex-direction: column;

        width: 32.6rem;
        height: 100%;

        &.active-video{
            .chat{
                &__head{
                    display: none;
                }
                &__messages {
                    height: 25.5vh;
                }
            }

            .content{
                border-top: 1px solid $gray;
            }

            form{
                margin-top: 0;
                textarea{
                    height: 2.5rem;
                    margin: .5rem 0;
                }
            }
        }

        &__video{
            margin-bottom: 1rem;
            img{
                width: 100%;
            }
        }

        &__head{
            display: flex;
            justify-content: space-between;
            align-items: center;

            padding: 1.1rem 2.7rem 1.1rem 1.1rem;

            font-size: to_rem(20px);
            color: $mainTextColor;
            letter-spacing: -0.05rem;

            background: $mainBlue;

            h5{
                font-size: to_rem(14px);
                font-weight: 400;
                letter-spacing: 0;
            }
        }

        .content{
            display: flex;
            flex-direction: column;

            height: calc(100% - 60px);

            background: white;
            border: 1px solid $gray;
            border-top: none;
        }

        &__messages {
            height: 100%;
            max-height: 47vh;
            overflow: auto;
        }

        form{
            padding: 1rem;
            p{
                font-size: to_rem(14px);
            }
            textarea{
                display: block;

                height: 4rem;
                margin: 1rem 0 0.75rem;

                resize: none;
            }
            .app-button{
                margin-left:  auto;
            }
        }
    }
    @include razr1536{
        .chat{
            width: 31rem;
        }
    }

    @include mobile_or_P{
        .workshop{
            flex-direction: column;

            padding: 0 0.7rem;

            &.isReview, &.isWorkshop {
                height: initial;
            }

            &.isReview {
                .board__work-place {
                    height: 470px;
                }
            }

            .board{
                width: 100%;

                border-width: 17px;

                &__work-plase{
                    overflow: auto;
                }

                &__tools{
                    padding: 1.45rem 0.6rem;

                    .app-tool-btn{
                        width: 1.5rem;
                        height: 1.5rem;
                        margin: 0 0.25rem;
                    }

                    .app-color-picker{
                        width: 1.5rem;
                        height: 1.5rem;
                    }

                    .next, .pre {
                        width: 1.6em;
                    }

                    .elements-settings{
                        input {
                            width: 8.5rem;
                        }
                    }
                }

                &__bottom {
                    .next, .pre {
                        width: 1.6em;
                    }
                }

                .fullScreen {
                    display: none;
                }
            }

            .chat{
                width: 69.9%;
                height: 50rem;
                margin-top: 1.3rem;
                &__messages {
                    max-height: initial;
                }
            }
        }
    }

    @include razr767{
        .workshop{
            padding: 0;
            .board{
                border-width: 10px;
                border-top-width: 22px;
                &__tools{
                    position: relative;

                    padding: 4rem .5rem 2rem;
                    .pre, .next{
                        position: absolute;
                        top: 1rem;
                        left: 1rem;
                    }
                    .next{
                        right: 1rem;
                        left: auto;
                    }
                    .center{
                        flex-wrap: wrap;
                        justify-content: space-between;

                        padding: 0;
                    }
                    .app-tool-btn{
                        width: 2.1rem;
                        height: 2.1rem;
                        margin: 0 0 .5rem;
                    }
                }
            }
            .chat{
                width: 100%;
                &__head{
                    h4{
                        font-size: 16px;
                    }
                    h5{
                        font-size: 12px;
                    }
                }
                form{
                    margin-top: 0;
                    p{
                        font-size: 14px;
                    }
                    textarea{
                        min-height: 7rem;
                    }
                }
            }
        }
    }
</style>
