/**
Copyright 2019 LoopIndex, This file is part of the Track Changes plugin for CKEditor.

The track changes plugin is commercial software. Details in https://www.loopindex.com/software-license-for-track-changes-ckeditor-plugin
Written by (David *)Frenkiel - https://github.com/imdfl
**/
.cke_editable:not(.FLITE-Tracking) .ice-del:not(.flite-container-only), .mce-content-body:not(.FLITE-Tracking) .ice-del:not(.flite-container-only) {
  display: none;
}

.ice-ins, .ice-del {
  white-space: pre-wrap;
}

.FLITE-Tracking .ice-ins, .FLITE-Tracking .ice-del {
  color: #000;
  /*	padding: 1px 0 2px; */
}

.FLITE-Tracking .ice-del:not(.flite-container-only) {
  text-decoration: line-through !important;
  color: #555;
  background-color: #ffb9b9 !important;
}

.FLITE-Tracking td.ice-del.flite-container-only {
  background-color: #ffb9b9 !important;
}

.FLITE-Tracking li.flite-container-only.ice-del, .FLITE-Tracking li.flite-container-only.ice-ins {
  position: relative;
}

.FLITE-Tracking li.flite-container-only.ice-del::before, .FLITE-Tracking li.flite-container-only.ice-ins::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -12px;
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 12px 12px;
}

.FLITE-Tracking li.flite-container-only.ice-del::before {
  background-image: url("./redx12.png");
}

.FLITE-Tracking li.flite-container-only.ice-ins::before {
  background-image: url("./blueplus12.png");
}

.FLITE-Tracking p.flite-container-only.ice-del, .FLITE-Tracking p.flite-container-only.ice-ins, .FLITE-Tracking div.flite-container-only.ice-del, .FLITE-Tracking div.flite-container-only.ice-ins, .FLITE-Tracking h1.flite-container-only.ice-del, .FLITE-Tracking h1.flite-container-only.ice-ins, .FLITE-Tracking h2.flite-container-only.ice-del, .FLITE-Tracking h2.flite-container-only.ice-ins, .FLITE-Tracking h3.flite-container-only.ice-del, .FLITE-Tracking h3.flite-container-only.ice-ins, .FLITE-Tracking h4.flite-container-only.ice-del, .FLITE-Tracking h4.flite-container-only.ice-ins, .FLITE-Tracking h5.flite-container-only.ice-del, .FLITE-Tracking h5.flite-container-only.ice-ins {
  /*border: 1px dashed;*/
  outline: none;
  border: none;
}

.FLITE-Tracking p.flite-container-only.ice-del, .FLITE-Tracking div.flite-container-only.ice-del, .FLITE-Tracking h1.flite-container-only.ice-del, .FLITE-Tracking h2.flite-container-only.ice-del, .FLITE-Tracking h3.flite-container-only.ice-del, .FLITE-Tracking h4.flite-container-only.ice-del, .FLITE-Tracking h5.flite-container-only.ice-del {
  border-color: red;
}

.FLITE-Tracking p.flite-container-only.ice-ins, .FLITE-Tracking div.flite-container-only.ice-ins, .FLITE-Tracking h1.flite-container-only.ice-ins, .FLITE-Tracking h2.flite-container-only.ice-ins, .FLITE-Tracking h3.flite-container-only.ice-ins, .FLITE-Tracking h4.flite-container-only.ice-ins, .FLITE-Tracking h5.flite-container-only.ice-ins {
  border-color: blue;
}

.FLITE-Tracking img.ice-del, .FLITE-Tracking .ice-del.cke_widget_wrapper {
  border: 2px dashed #c90303;
  box-sizing: border-box;
  background-color: transparent !important;
}

.FLITE-Tracking .ice-del:not(.flite-container-only) * {
  text-decoration: line-through !important;
}

.FLITE-Tracking .ice-ins:not(.flite-container-only), .FLITE-Tracking .ice-ins:not(.flite-container-only) > :not(img), .FLITE-Tracking td.ice-ins.flite-container-only {
  background-color: #e5ffcd !important;
  box-sizing: border-box;
}

.FLITE-Tracking img.ice-ins, .FLITE-Tracking .ice-ins.cke_widget_wrapper {
  border: 2px dashed #015505;
  background-color: transparent !important;
  box-sizing: border-box;
}



.FLITE-Tracking .ice-ins:not(.flite-container-only).ice-cts-1,
.FLITE-Tracking .ice-ins:not(.flite-container-only).ice-cts-1 > *,
.FLITE-Tracking tr.ice-ins.flite-container-only.ice-cts-1,
.FLITE-Tracking td.ice-ins.flite-container-only.ice-cts-1 {
  background-color: #e5ffcd !important;
}

.FLITE-Tracking .ice-ins:not(.flite-container-only).ice-cts-2,
.FLITE-Tracking .ice-ins:not(.flite-container-only).ice-cts-2 > *,
.FLITE-Tracking td.ice-ins.flite-container-only.ice-cts-2,
.FLITE-Tracking tr.ice-ins.flite-container-only.ice-cts-2 {
  background-color: #e3ffff !important;
}

.FLITE-Tracking .ice-ins:not(.flite-container-only).ice-cts-3,
.FLITE-Tracking .ice-ins:not(.flite-container-only).ice-cts-3 > *,
.FLITE-Tracking td.ice-ins.flite-container-only.ice-cts-3,
.FLITE-Tracking tr.ice-ins.flite-container-only.ice-cts-3 {
  background-color: #ffdddd !important;
}

.FLITE-Tracking .ice-ins:not(.flite-container-only).ice-cts-4,
.FLITE-Tracking .ice-ins:not(.flite-container-only).ice-cts-4 > *,
.FLITE-Tracking td.ice-ins.flite-container-only.ice-cts-4,
.FLITE-Tracking tr.ice-ins.flite-container-only.ice-cts-4 {
  background-color: #ffb5f7 !important;
}

.FLITE-Tracking .ice-ins:not(.flite-container-only).ice-cts-5,
.FLITE-Tracking .ice-ins:not(.flite-container-only).ice-cts-5 > *,
.FLITE-Tracking td.ice-ins.flite-container-only.ice-cts-5,
.FLITE-Tracking tr.ice-ins.flite-container-only.ice-cts-5 {
  background-color: #ffbd7b !important;
}

.FLITE-Tracking .ice-ins:not(.flite-container-only).ice-cts-6,
.FLITE-Tracking .ice-ins:not(.flite-container-only).ice-cts-6 > *,
.FLITE-Tracking td.ice-ins.flite-container-only.ice-cts-6,
.FLITE-Tracking tr.ice-ins.flite-container-only.ice-cts-6 {
  background-color: #fffd9c !important;
}

.FLITE-Tracking .ice-ins:not(.flite-container-only).ice-cts-7,
.FLITE-Tracking .ice-ins:not(.flite-container-only).ice-cts-7 > *,
.FLITE-Tracking td.ice-ins.flite-container-only.ice-cts-7,
.FLITE-Tracking tr.ice-ins.flite-container-only.ice-cts-7 {
  background-color: #b2d8ff !important;
}

.FLITE-Tracking .ice-ins:not(.flite-container-only).ice-cts-8,
.FLITE-Tracking .ice-ins:not(.flite-container-only).ice-cts-8 > *,
.FLITE-Tracking td.ice-ins.flite-container-only.ice-cts-8,
.FLITE-Tracking tr.ice-ins.flite-container-only.ice-cts-8 {
  background-color: #c8ecff !important;
}

.FLITE-Tracking .ice-ins:not(.flite-container-only).ice-cts-9,
.FLITE-Tracking .ice-ins:not(.flite-container-only).ice-cts-9 > *,
.FLITE-Tracking td.ice-ins.flite-container-only.ice-cts-9,
.FLITE-Tracking tr.ice-ins.flite-container-only.ice-cts-9 {
  background-color: #90ffe2 !important;
}

.FLITE-Tracking .ice-ins:not(.flite-container-only).ice-cts-10,
.FLITE-Tracking .ice-ins:not(.flite-container-only).ice-cts-10 > *,
.FLITE-Tracking td.ice-ins.flite-container-only.ice-cts-10,
.FLITE-Tracking tr.ice-ins.flite-container-only.ice-cts-10 {
  background-color: #a0ffb1 !important;
}



.FLITE-Tracking .ice-del:not(.flite-container-only).ice-cts-1,
.FLITE-Tracking td.ice-del.flite-container-only.ice-cts-1,
.FLITE-Tracking tr.ice-del.flite-container-only.ice-cts-1 {
  background-color: #e5ffcd !important;
}

.FLITE-Tracking .ice-del:not(.flite-container-only).ice-cts-2,
.FLITE-Tracking td.ice-del.flite-container-only.ice-cts-2,
.FLITE-Tracking tr.ice-del.flite-container-only.ice-cts-2 {
  background-color: #e3ffff !important;
}

.FLITE-Tracking .ice-del:not(.flite-container-only).ice-cts-3,
.FLITE-Tracking td.ice-del.flite-container-only.ice-cts-3,
.FLITE-Tracking tr.ice-del.flite-container-only.ice-cts-3 {
  background-color: #ffdddd !important;
}



.fr-toolbar .fr-command.fr-btn.flite-froala-button-highlight {
  border: 1px solid rgba(128, 128, 128, 0.3);
}
