<template>
    <footer class="footer-common">
        <div class="footer-common__container">
            <div class="footer-common__top">
                <div class="footer-common__top-logotype-wrapper">
                    <nuxt-link to="/">
                        <logotype-icon />
                    </nuxt-link>
                </div>
                <footer-common-contacts v-show="showContactsDesktop" />
                <footer-common-social v-show="showSocialDesktop" />
                <div
                    class="footer-common__top-button"
                    @click="openFeedbackPopup"
                >
                    Обратная связь
                </div>
            </div>
            <div class="footer-common__middle">
                <footer-common-nav />
                <footer-common-contacts v-show="showContactsMobile" />
                <footer-common-social v-show="showSocialTablet" />
            </div>
            <div class="footer-common__bottom">
                <p class="footer-common__bottom-text">
                    © ООО «Городской супермаркет», 2006-2021.
                </p>
                <a
                    class="footer-common__bottom-text footer-common__bottom-text--politic"
                    :href="policyLink"
                    target="_blank"
                >Политика защиты и обработки персональных данных</a>
            </div>
            <div class="footer-common__captcha">
                <p class="footer-common__captcha-text">
                    This site is protected by reCAPTCHA and the Google
                    <a href="https://policies.google.com/privacy">Privacy Policy</a> and
                    <a href="https://policies.google.com/terms">Terms of Service</a> apply.
                </p>
            </div>
        </div>
    </footer>
</template>

<script lang="ts">
import Vue from 'vue';
import LogotypeIcon from '@/assets/images/common/logotype-footer.svg?inline';
import FooterCommonContacts from '@/components/layouts/footer/parts/FooterCommonContacts.vue';
import FooterCommonSocial from '@/components/layouts/footer/parts/FooterCommonSocial.vue';
import FooterCommonNav from '@/components/layouts/footer/parts/FooterCommonNav.vue';
import { POLICY_LINK } from '~/src/utils/helpers/site-settings';

export default Vue.extend({
    name: 'FooterCommon',

    components: {
        LogotypeIcon,
        FooterCommonContacts,
        FooterCommonSocial,
        FooterCommonNav,
    },

    data: () => ({
        policyLink: POLICY_LINK,
    }),

    computed: {
        showSocialDesktop(): boolean {
            return !this.$accessor.isSmallTablet && !this.$accessor.isMobile;
        },
        showSocialTablet(): boolean {
            return this.$accessor.isSmallTablet || this.$accessor.isMobile;
        },
        showContactsDesktop(): boolean {
            return !this.$accessor.isMobile;
        },
        showContactsMobile(): boolean {
            return this.$accessor.isMobile;
        },
    },

    methods: {
        openFeedbackPopup(): void {
            this.$accessor.modal.OPEN_MODAL({ name: 'Feedback' });
        },
    },
});
</script>

<style lang="scss" scoped>
.footer-common {
    position: relative;
    z-index: $z-footer;

    display: flex;
    justify-content: center;

    width: 100%;
    margin-top: auto;
    padding: 0 20px;

    background-color: $white;
    border-top: 1px solid $input-border-color;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        max-width: 1200px;
    }

    &__top {
        display: flex;

        width: 100%;
        padding: 35px 0 38px;

        .footer-common-contacts {
            margin-left: auto;
            margin-right: 50px;
        }

        .footer-common-social {
            margin-right: 50px;
        }

        &-button {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 173px;
            height: 50px;

            font-size: 14px;
            font-weight: 600;
            text-decoration: none;
            color: $green;

            border: 1px solid $green;
            border-radius: 12px;

            cursor: pointer;

            transition: background-color $common-transition-duration;

            &:hover {
                background-color: $light-gray-seven;
            }
        }
    }

    &__middle {
        width: 100%;
        padding: 34px 0;

        border-top: 1px solid $input-border-color;
        border-bottom: 1px solid $input-border-color;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        padding: 34px 0 16px;

        &-text {
            font-size: 14px;
            line-height: 20px;
            text-decoration: none;
            color: $modal-color-gray;

            &--politic {
                line-height: 15px;
                font-weight: 400;

                border-bottom: 1px solid $modal-color-gray;

                transition: opacity $common-transition-duration;

                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }

    &__captcha {
        width: 100%;
        padding-bottom: 34px;

        &-text {
            text-align: right;
            font-size: 14px;
            line-height: 20px;
            text-decoration: none;
            color: $modal-color-gray;

            a {
                color: $modal-color-gray;

                transition: opacity $common-transition-duration;

                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }

    @include razr1259 {
        &__container {
            max-width: 976px;
        }

        &__top {
            .footer-common-contacts {
                margin-right: 45px;
            }

            .footer-common-social {
                margin-right: 45px;
            }
        }
    }

    @include razr1023 {
        &__container {
            max-width: 720px;
        }
    }

    @include razr767 {
        &__container {
            max-width: 335px;
        }

        &__top {
            flex-direction: column;

            padding-bottom: 24px;

            &-logotype-wrapper {
                width: 100%;
                margin-bottom: 24px;
                padding-bottom: 19px;

                border-bottom: 1px solid $input-border-color;
            }

            &-button {
                width: 100%;
            }
        }

        &__middle {
            padding: 24px 0;
        }

        &__top-button {
            margin-top: 14px;
        }

        &__bottom {
            flex-direction: column;
            align-items: flex-start;

            padding: 24px 0;

            &-text {
                &--politic {
                    max-width: 210px;
                    padding-top: 24px;

                    line-height: 160%;
                    text-decoration: underline;

                    border-bottom: none;
                }
            }
        }

        &__captcha {
            &-text {
                text-align: left;
            }
        }
    }
}
</style>
