<template>
    <div class="feedback">
        <div class="modal-content-header">
            <h3>
                Обратная связь
            </h3>
        </div>
        <form
            class="feedback__form"
            @submit.prevent="sendFeedback"
        >
            <div class="feedback__tabs">
                <p class="feedback__tabs-text">
                    Выберите город:
                </p>
                <div
                    v-for="city in cityList"
                    :key="city"
                    class="feedback__tabs-item"
                    :class="{'feedback__tabs-item--active' : selectedRegion === city}"
                    @click="selectRegion(city)"
                >
                    <check-icon class="gray" />
                    <p>{{ city }}</p>
                </div>
            </div>

            <div class="feedback__form-select">
                <p class="feedback__form-label">
                    Тема сообщения
                </p>
                <common-select
                    v-model="messageSubject"
                    class="common-select--gray"
                    :options="options"
                />
            </div>

            <div
                class="feedback__form-row"
                :class="{'feedback__form-row--active': message }"
            >
                <label
                    class="feedback__form-row-label"
                    for="message-text"
                >Текст сообщения <sup>*</sup></label>
                <textarea
                    id="message-text"
                    v-model="message"
                    :class="{'textarea-error': errorMessage}"
                ></textarea>
                <div
                    v-if="errorMessage"
                    class="common-input__error"
                >
                    {{ errorMessage }}
                </div>
            </div>

            <div
                class="feedback__form-row"
                :class="{'feedback__form-row--active': name }"
            >
                <p class="feedback__form-label">
                    Ваши данные для связи
                </p>
                <common-input
                    v-model="name"
                    label="Ваше имя"
                    required
                    :error="errorName"
                />
            </div>

            <div class="feedback__tabs">
                <p class="feedback__tabs-text">
                    Способ связи:
                </p>
                <div
                    v-for="(method, index) in methodsList"
                    :key="index"
                    class="feedback__tabs-item"
                    :class="{'feedback__tabs-item--active' : selectedMethod === index}"
                    @click="selectMethods(index)"
                >
                    <check-icon class="gray" />
                    <p>{{ method }}</p>
                </div>
            </div>
            <div
                class="feedback__form-row"
                :class="{'feedback__form-row--active': phone || email }"
            >
                <common-input
                    v-if="byPhone"
                    :key="1"
                    v-model="phone"
                    v-mask="'+7 (###) ### ## ##'"
                    label="Ваш телефон"
                    required
                    :error="errorPhone"
                />
                <common-input
                    v-else
                    :key="2"
                    v-model="email"
                    label="Почтовый адрес"
                    required
                    :error="errorEmail"
                />
            </div>
            <div
                class="feedback__form-row"
                :class="{'feedback__form-row--active': card }"
            >
                <common-input
                    v-model="card"
                    v-mask="'###############################'"
                    label="Номер карты вкусомании"
                />
            </div>
            <p class="feedback__form-description">
                <sup>*</sup> - поля обязательные для ввода
            </p>
            <common-button
                class="common-button--green"
                :class="{'common-button--gray-disabled' :disabledButton}"
                tag="button"
                type="submit"
                :loading="loading"
            >
                Отправить
            </common-button>
        </form>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { required, email } from 'vuelidate/lib/validators';

import CommonSelect from '@/components/common/CommonSelect.vue';
import CommonInput from '@/components/common/CommonInput.vue';
import CommonButton from '@/components/common/CommonButton.vue';
import CheckIcon from '@/assets/images/icon/checkmark.svg?inline';

import { EMAIL_FORMAT_ERROR, EMAIL_REQUIRED_ERROR, PHONE_FORMAT_ERROR, REQUIRED_ERROR } from '~/src/utils/errors-texts';
import { IObjectAnyProps, TStringOrBoolean } from '~/src/utils/interfaces';
import { IFeedbackObj, RSendFeedback } from '~/src/utils/api/requests/feedback';
import { numberToString } from '~/src/utils/helpers/functions';
import { createResponseErrorsObject } from '~/src/utils/helpers/response-errors';

export default Vue.extend({
    name: 'Feedback',

    components: {
        CommonInput,
        CommonButton,
        CommonSelect,
        CheckIcon,
    },

    data: () => ({
        messageSubject: {
            label: 'О качестве продуктов',
            value: 'product_quality',
        },
        name: '',
        phone: '',
        email: '',
        message: '',
        card: '',
        selectedRegion: 'Санкт-Петербург',
        selectedMethod: 0,
        cityList: ['Санкт-Петербург', 'Москва'],
        methodsList: ['Телефон', 'Email'],
        options: [
            {
                label: 'О качестве продуктов',
                value: 'product_quality',
            },
            {
                label: 'О доставке товаров',
                value: 'product_delivery',
            },
            {
                label: 'О работе сайта',
                value: 'site_operation',
            },
            {
                label: 'Другая тема',
                value: 'another_topic',
            },
        ],
        loading: false,
        requestErrors: {} as IObjectAnyProps,
    }),

    validations: {
        message: {
            required,
        },
        name: {
            required,
        },
        phone: {
            required(value: string): boolean {
                return !!(this.selectedMethod || value);
            },
            length(v: string): boolean {
                return !!(this.selectedMethod || v.length === 18);
            },
        },
        email: {
            required(value: string): boolean {
                return !!(!this.selectedMethod || value);
            },
            email,
        },
    },

    computed: {
        byPhone(): boolean {
            return this.selectedMethod === 0;
        },

        errorMessage(): TStringOrBoolean {
            if (this.$v.$dirty) {
                if (!this.$v.message.required) {
                    return REQUIRED_ERROR;
                }
            }
            return this.requestErrors.message;
        },

        errorName(): TStringOrBoolean {
            if (this.$v.$dirty) {
                if (!this.$v.name.required) {
                    return REQUIRED_ERROR;
                }
            }
            return this.requestErrors.fullName;
        },

        errorPhone(): TStringOrBoolean {
            if (this.$v.$dirty) {
                if (!this.$v.phone.required) {
                    return REQUIRED_ERROR;
                }
                if (!this.$v.phone.length) {
                    return PHONE_FORMAT_ERROR;
                }
            }
            return this.requestErrors.phoneNumber;
        },

        errorEmail(): TStringOrBoolean {
            if (this.$v.$dirty) {
                if (!this.$v.email.required) {
                    return EMAIL_REQUIRED_ERROR;
                }
                if (!this.$v.email.email) {
                    return EMAIL_FORMAT_ERROR;
                }
            }
            return this.requestErrors.email;
        },

        disabledButton(): boolean {
            return this.$v.$invalid;
        },
    },

    methods: {
        selectMethods(id: number): void {
            this.selectedMethod = id;
        },

        selectRegion(name: string): void {
            this.selectedRegion = name;
        },

        closePopup(): void {
            this.$accessor.modal.CLOSE_MODAL_ACTION();
        },

        async sendFeedback(): Promise<any> {
            if (this.$v.$invalid) {
                this.$v.$touch();
                return false;
            }
            this.loading = true;

            const obj = {
                city: this.selectedRegion,
                fullName: this.name,
                communicationType: this.selectedMethod ? 'email' : 'phoneNumber',
                theme: this.messageSubject.label,
                message: this.message,
                cardNumber: this.card,
            } as IFeedbackObj;
            !this.selectedMethod ? obj.phoneNumber = numberToString(this.phone) : obj.email = this.email;

            const response = await this.$request(RSendFeedback(obj));
            if (response.RESPONSE_STATUS === 200) {
                this.$accessor.modal.CLOSE_MODAL_ACTION();
                this.$accessor.modal.OPEN_MODAL({ name: 'ThxFeedback' });
            }
            else if (response.RESPONSE_STATUS === 422) {
                if (response.errors) {
                    this.requestErrors = createResponseErrorsObject(response.errors);
                }
            }
            this.loading = false;
        },
    },
});
</script>

<style lang="scss" scoped>
.feedback {
    width: 580px;

    &__form {
        padding: 34px 84px 39px;

        &-label {
            margin-bottom: 8px;
            padding-left: 16px;

            font-size: 14px;
            line-height: 1.3;
            font-weight: 600;
            color: $light-gray-second;
            letter-spacing: -0.01em;
        }

        .textarea-error {
            border-color: $red;
        }
        .common-input__error {
            bottom: 105%;
            z-index: $z-alert;
        }

        &-row {
            position: relative;

            margin-bottom: 18px;

            &-label {
                position: absolute;
                top: 23px;
                left: 16px;

                font-size: 14px;
                font-weight: 700;
                color: $light-gray-second;

                sup {
                    font-weight: 600;
                    color: $wrong-color;
                }
            }

            textarea {
                width: 100%;
                height: 274px;
                padding: 23px 16px;

                font-size: 14px;
                font-weight: 700;
                color: $black-second;

                border: 1px solid $light-gray-ninth;
                border-radius: 8px;

                resize: none;
            }

            &:focus-within {
                .feedback__form-row-label {
                    display: none;
                }

                &::v-deep {
                    .common-input {
                        span {
                            display: none;
                        }
                    }
                }
            }

            &--active {
                .feedback__form-row-label {
                    display: none;
                }

                &::v-deep {
                    .common-input {
                        span {
                            display: none;
                        }
                    }
                }
            }
        }

        &-description {
            margin-bottom: 18px;

            font-size: 14px;
            font-weight: 600;
            color: $light-gray-second;

            sup {
                font-weight: 600;
                color: $wrong-color;
            }
        }
    }

    &__tabs {
        display: flex;
        align-items: center;

        margin-bottom: 18px;
        padding-bottom: 14px;

        border-bottom: 1px solid $input-border-color;

        &-text {
            font-size: 13px;
            line-height: 1.3;
            font-weight: 700;
            color: $black-second;
        }

        &-item {
            display: flex;
            align-items: center;

            cursor: pointer;

            &:nth-of-type(1) {
                margin: 0 54px 0 auto;
            }

            p {
                font-size: 13px;
                line-height: 1.3;
                font-weight: 700;
                color: $black-second;

                transition: color $common-transition-duration;
            }

            &:hover {
                p {
                    color: $green;
                }
            }

            svg {
                width: 16px;
                margin-right: 8px;
            }

            &.feedback__tabs-item--active {
                p {
                    color: $green;

                    border-bottom: 1px solid $green;
                }

                &::v-deep {
                    .gray {
                        path {
                            fill: $green;
                        }
                    }
                }
            }
        }
    }

    .common-button {
        width: 100%;
        height: 50px;

        font-size: 14px;
    }

    .common-select {
        margin-bottom: 18px;
    }

    &::v-deep {
        .gray {
            path {
                fill: $light-gray-second;
            }
        }

        .common-input {
            padding-bottom: 0;

            input {
                height: 50px;

                font-size: 14px;
            }

            span {
                position: absolute;
                top: 50%;

                font-weight: 700;
                transform: translateY(-50%);
            }
        }
    }

    @include razr767 {
        position: relative;

        width: 93vmin;

        &__form {
            padding: 0 17px 22px;

            &-row {
                textarea {
                    height: 415px;
                    padding: 16px;
                }
                &-label {
                    top: 18px;
                }
            }
        }

        &__tabs {
            flex-wrap: wrap;
            justify-content: flex-start;

            margin-top: 22px;
            &-text {
                width: 100%;
                margin-bottom: 25px;

                font-size: 16px;
            }
            &-item {
                &:nth-of-type(1) {
                    margin-right: 20px;
                    margin-left: 0;
                }
            }
        }

        .common-select {
            margin-bottom: 26px;
        }
    }
}
</style>
