<template>
    <div class="thx-feedback-modal modal-content--sm">
        <img
            src="@/assets/images/icon/check-in-circle-icon.svg"
            width="56"
            height="56"
            alt="Success icon"
        />
        <div class="modal-content__title">
            Благодарим за обращение!
        </div>
        <div class="modal-content__text">
            Сообщение будет рассмотрено в ближайшее время.
        </div>
        <common-button
            class="common-button--green"
            @click="closePopup"
        >
            Готово
        </common-button>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import CommonButton from '@/components/common/CommonButton.vue';

export default Vue.extend({
    name: 'ThxfeedbackModal',

    components: {
        CommonButton,
    },

    methods: {
        closePopup() {
            this.$accessor.modal.CLOSE_MODAL_ACTION();
        },
    },
});
</script>

<style lang="scss" scoped>
.thx-feedback-modal {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 580px;

    img {
        margin-top: 48px;
    }

    .modal-content {
        &__title {
            margin-top: 29px;
        }

        &__text {
            width: 80%;
            margin-top: 15px;
        }
    }

    .common-button {
        width: 175px;
        margin: 30px auto 60px;
    }

}
</style>
