<template>
    <div class="page-profile">
        <h1 class="common-page-title common-page-title--profile">
            Профиль
        </h1>
        <personal-data v-if="isUser" />
        <legal-data v-if="isUser" />
        <!-- <signed-contracts /> -->
        <contract-templates :contracts="contracts" />
        <!--        <instruction />-->
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import ContractTemplates from '@/components/pages/profile/ContractTemplates.vue';
//import Instruction from '@/components/pages/profile/Instruction.vue';
import LegalData from '@/components/pages/profile/LegalData.vue';
import PersonalData from '@/components/pages/profile/PersonalData.vue';
import { STANDARD_CONTRACT_LINK } from '~/src/utils/helpers/site-settings';
// import SignedContracts from '@/components/pages/profile/SignedContracts.vue';

export default Vue.extend({
    name: 'PageProfile',

    components: {
        PersonalData,
        LegalData,
        // SignedContracts,
        ContractTemplates,
        //Instruction,
    },

    layout: 'personal-cabinet',

    middleware: ['authenticated'],

    data: () => ({
        contracts: [
            // {
            //     id: 0,
            //     type: 'N',
            //     name: 'Стандартный договор',
            //     size: '2.3',
            //     file: '',
            // },
            {
                id: 1,
                name: 'Стандартный договор',
                size: '62.5 Кб',
                file: STANDARD_CONTRACT_LINK,
            },
            // {
            //     id: 2,
            //     type: '',
            //     name: 'Счет договор',
            //     size: '5.6',
            //     file: '',
            // },
        ],
    }),

    computed: {
        isUser(): boolean {
            return !!this.$accessor.auth.user.id;
        },
    },
});
</script>

<style lang="scss" scoped>
.page-profile {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 920px;
    padding: 58px 0 96px 64px;
}

@include razr1259 {
    .page-profile {
        max-width: 600px;
        padding: 36px 0 58px 32px;
    }
}

@include razr767 {
    .page-profile {
        max-width: 100%;
        padding: 42px 20px 42px;
    }
}
</style>
