<template>
    <div
        class="product-card"
        :class="{'product-card__can-restore': product.save}"
    >
        <div class="product-card__row">
            <nuxt-link
                class="product-card__link"
                :to="productLink"
            >
                <img
                    v-if="!product.product.images.length"
                    class="product-card__img"
                    src="@/assets/images/catalog/default-photo.png"
                    alt="Photo product"
                />
                <img
                    v-else
                    class="product-card__img"
                    :src="product.product.images[0].path"
                    :alt="product.product.title"
                />
                <div class="product-card__description">
                    <div class="product-card__vendor">
                        Арт. {{ product.product.articul }}
                    </div>
                    <p>
                        {{ product.product.title }}
                    </p>
                </div>
            </nuxt-link>
            <common-quantity-input
                v-if="navActivity"
                short
                :default-value="+product.quantity"
                :product="product.product"
                @input="addToCart"
            />
            <div class="product-card__right">
                <template v-if="!product.save">
                    <div
                        v-if="navActivity"
                        class="product-card__cost"
                    >
                        <div class="product-card__sum">
                            {{ price }} <span>₽</span>
                        </div>
                        <div class="product-card__price">
                            {{ product.product.unitPrice }} <span>₽</span> за {{ weightUnit }}
                        </div>
                    </div>
                    <card-price-in-stock
                        v-else
                        cart-type
                    />
                    <img
                        class="product-card__delete"
                        src="@/assets/images/icon/close-icon.svg"
                        alt="x"
                        @click="deleteProduct"
                    />
                </template>
                <common-button
                    v-else
                    class="common-button--green"
                    @click="restoreProduct"
                >
                    Восстановить
                </common-button>
            </div>
        </div>
        <div
            v-if="moreThanMax"
            class="product-card__row product-card__max-count-notification"
        >
            <img
                src="@/assets/images/icon/information-green-icon.svg"
                alt="information green icon"
            />
            <span>
                <b>Для заказа доступно: <b @click="addToCart(maxCount)">{{ maxCount }}</b>.</b> Для заказа большего количества свяжитесь с&nbsp;менеджером <a :href="`tel:${managerPhone}`">{{ managerPhone }}</a>
            </span>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';

import CardPriceInStock from '@/components/pages/catalog/CardPriceInStock.vue';
import CommonQuantityInput from '@/components/common/CommonQuantityInput.vue';
import CommonButton from '@/components/common/CommonButton.vue';
import { priceFormat, validPhone } from '~/src/utils/helpers/functions';
import { managerPhone } from '~/src/utils/helpers/site-settings';
import { ICartItem } from '~/src/utils/interfaces/cart';

export default Vue.extend({
    name: 'ProductCard',

    components: {
        CardPriceInStock,
        CommonQuantityInput,
        CommonButton,
    },

    props: {
        product: {
            type: Object,
            default: () => ({} as ICartItem),
        },
    },

    computed: {
        price():string {
            return priceFormat(this.product.price);
        },

        moreThanMax(): boolean {
            return this.product.quantity > this.product.product.quantity;
        },

        navActivity(): boolean {
            return this.product.product.navActivity;
        },

        weightUnit(): string {
            if (this.product.product.productType === 'weight') {
                return `${ this.product.product.showUnit === '1 kg' ? '1 кг' : '100 г' }`;
            }
            else {
                return `1шт (${ this.product.product.standardWeight } г)`;
            }
        },

        productLink(): object {
            return {
                name: 'product-id',
                params: {
                    id: this.product.product.id,
                },
            };
        },

        maxCount(): number {
            if (this.product.product.productType === 'piece_weight') {
                return Math.floor(this.product.product.quantity / this.product.product.standardWeight);
            }
            return this.product.product.quantity;
        },

        managerPhone(): string {
            return validPhone(managerPhone);
        },
    },

    methods: {
        addToCart(count: number): void {
            this.$accessor.cart.changeCartAction({
                product: this.product.product,
                quantity: count,
            });
        },

        deleteProduct(): void {
            this.$accessor.cart.changeCartActionWithSave({
                product: this.product.product,
                quantity: 0,
                save: true,
            });
        },

        restoreProduct(): void {
            this.$accessor.cart.changeCartActionWithSave({
                ...this.product,
                save: false,
            });
        },
    },
});
</script>

<style lang="scss" scoped>
    .product-card {
        margin-bottom: 26px;
        padding-bottom: 11px;

        border-bottom: 1px solid $light-gray-ninth;

        &__row {
            display: flex;
        }

        &__link {
            display: flex;

            color: $black;
            font-weight: 400;
            text-decoration: none;
            cursor: pointer;
        }

        &__can-restore {
            .product-card__row {
                & > * {
                    opacity: 0.74;
                    pointer-events: none;
                }

                .product-card__right {
                    opacity: 1;
                    pointer-events: all;
                }
            }
        }

        &__img {
            display: block;

            width: 90px;
            margin-right: 22px;
            object-fit: contain;
            object-position: top;
        }

        &__description {
            width: 305px;
            padding-top: 12px;
            margin-right: 34px;

            p {
                font-size: 14px;
                line-height: 1.3;
                color: $black-second;
            }
        }

        &__vendor {
            margin-bottom: 3px;

            font-size: 12px;
            color: $light-gray-fifth;
        }

        &__right {
            display: flex;
            align-items: center;

            margin-left: auto;
        }

        &__delete {
            width: 12px;

            cursor: pointer;

            transition: transform $common-transition-duration;

            &:hover {
                transform: scale(1.2);
            }
        }

        &__cost {
            margin-right: 40px;

            line-height: 1.6;
            text-align: right;
        }

        &__sum {
            font-weight: 700;
            color: $black-second;

            span {
                font-size: 15px;
            }
        }

        &__price {
            font-size: 12px;
            color: $modal-color-gray;

            span {
                font-size: 11px;
            }
        }

        &__max-count-notification {
            display: flex;
            align-items: center;

            height: 40px;
            margin-top: 4px;
            padding-left: 16px;

            font-size: 14px;
            font-weight: 600;
            color: $light-gray;

            background: $input-bg-color;
            border-radius: 8px;

            img {
                margin-right: 14px;
            }

            b {
                color: $green;

                cursor: pointer;

                transition: opacity 0.2s;

                @include hover_device {
                    &:hover {
                        opacity: 0.8;
                    }
                }
                b {
                    text-decoration: underline;
                }
            }

            a {
                color: $light-gray;
                font-weight: 600;
                white-space: nowrap;

                transition: color $common-transition-duration;

                &:hover {
                    color: $green;
                }
            }
        }

        @include tablet_landscape {
            &__description {
                width: 350px;
                margin-right: 90px;
            }

            &__cost {
                margin-right: 73px;
            }
        }

        @include tablet {
            margin-bottom: 20px;

            &__description {
                width: 225px;
                margin-right: 40px;
            }

            &__cost {
                margin-right: 33px;
            }

            &__max-count-notification {
                font-size: 13px;
            }
        }

        @include mobile {
            margin-bottom: 15px;
            padding-bottom: 17px;

            &__row:not(.product-card__max-count-notification) {
                position: relative;

                flex-wrap: wrap;
                justify-content: space-between;
            }

            .common-quantity-input {
                order: 6;

                margin-top: 16px;
            }

            &__img {
                width: 62px;
                margin-right: 12px;
            }

            &__description {
                width: 66%;
                margin-right: 11%;
                padding-top: 0;
            }

            &__delete {
                position: absolute;
                top: 0;
                right: 0;

                width: 8px;
            }

            &__vendor {
                margin-bottom: 4px;
            }

            &__right {
                margin-top: 16px;
                margin-left: 74px;
            }

            &__cost {
                display: flex;
                flex-direction: column-reverse;

                margin-right: 0;

                text-align: left;
                line-height: 1.5;
            }

            &__price {
                font-size: 10px;
            }

            &__sum {
                font-size: 18px;
                span {
                    font-size: 17px;
                }
            }

            &__max-count-notification {
                height: 72px;

                font-size: 12px;
                line-height: 1.2;

                & > span > b {
                    display: block;
                }
            }
        }

        @include razr365 {
            &__right {
                margin-left: 0;
            }
        }
    }
</style>
