<template>
    <transition name="modal">
        <div
            v-if="$accessor.modal.CURRENT"
            class="modal"
            :class="{'modal__blur': isAgeGate}"
        >
            <div
                v-scroll-lock="lockScroll"
                class="scroll-content"
                @mousedown.self="closeModal"
            >
                <div class="modal__content">
                    <button
                        class="modal__close-button"
                        @click.self="closeModal"
                    ></button>
                    <component :is="$accessor.modal.CURRENT" />
                </div>
            </div>
        </div>
    </transition>
</template>

<script lang="ts">
import Vue from 'vue';
import DeleteContract from '@/components/layouts/modal/parts/DeleteContract.vue';
import ChangeEmail from '@/components/layouts/modal/parts/change-email/ChangeEmail.vue';
import ChangePhone from '@/components/layouts/modal/parts/change-phone/ChangePhone.vue';
import AlcoholicProducts from '@/components/layouts/modal/parts/AlcoholicProducts.vue';
import AlcoholicWarning from '@/components/layouts/modal/parts/AlcoholicWarning.vue';
import Delivery from '@/components/layouts/modal/parts/delivery/Delivery.vue';
import ClearCart from '@/components/layouts/modal/parts/ClearCart.vue';
import MergedCart from '@/components/layouts/modal/parts/MergedCart.vue';
import RegionChange from '@/components/layouts/modal/parts/RegionChange.vue';
import ThxRegistrationModal from '@/components/layouts/modal/auth/ThxRegistrationModal.vue';
import ThxFeedback from '@/components/layouts/modal/feedback/ThxFeedback.vue';
import ThxChangeEmailModal from '@/components/layouts/modal/auth/ThxChangeEmailModal.vue';
import ErrorChangeEmailModal from '@/components/layouts/modal/auth/ErrorChangeEmailModal.vue';
import Feedback from '@/components/layouts/modal/feedback/Feedback.vue';
import AboutError from '@/components/layouts/modal/parts/AboutError.vue';
import ThxForOrder from '~/src/components/layouts/modal/cart/ThxForOrder.vue';
import Check from '~/src/components/layouts/modal/cart/Check.vue';
import NeedAuth from '~/src/components/layouts/modal/auth/NeedAuth.vue';

export default Vue.extend({
    name: 'Modal',

    components: {
        DeleteContract,
        ChangePhone,
        ChangeEmail,
        AlcoholicProducts,
        AlcoholicWarning,
        Delivery,
        ClearCart,
        MergedCart,
        RegionChange,
        ThxRegistrationModal,
        ThxFeedback,
        ThxChangeEmailModal,
        ErrorChangeEmailModal,
        Feedback,
        AboutError,
        ThxForOrder,
        Check,
        NeedAuth,
    },

    computed: {
        lockScroll(): boolean {
            return this.$accessor.modal.showModal;
        },

        isAgeGate(): boolean {
            return this.$accessor.modal.modalPayload?.mode === 'ageGate';
        },
    },

    methods: {
        closeModal(): void {
            if (!this.isAgeGate) {
                this.$accessor.modal.CLOSE_MODAL();
            }
            else {
                this.$router.push({
                    name: 'index',
                });
                this.$accessor.modal.CLOSE_MODAL();
            }
        },
    },
});
</script>

<style lang="scss" scoped>

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $z-modal;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.33);

    &__blur {
        backdrop-filter: blur(10px);
    }
}

.scroll-content {
    width: 100%;
    max-height: 100vh;
    overflow: auto;
}

.modal__content {
    position: relative;
    z-index: $z-content;

    display: flex;
    justify-content: center;

    width: fit-content;

    margin: 90px auto;

    background: $white;
    border-radius: 20px;
}

.modal__close-button {
    position: absolute;
    top: 32px;
    right: 32px;
    z-index: $z-content;

    width: 10px;
    height: 10px;

    background: url('@/assets/images/icon/close-icon.svg') center / contain no-repeat;

    cursor: pointer;

    transition: opacity $common-transition-duration;

    &:hover {
        opacity: 0.7;
    }
}

.modal__overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: $z-1;

    width: 100%;
    height: 100%;

    background: url('@/assets/images/icon/close-icon.svg') center / contain no-repeat;

    cursor: pointer;
}

@include razr1259 {
    .modal__close-button {
        top: 25px;
        right: 25px;
    }
}

@include tablet_landscape {
    .modal__content {
        margin: 110px auto;
    }
}

@include mobile {
    .modal__content {
        margin: 30px auto;
    }
}
//TRANSITION
.modal-enter,
.modal-leave-to {
    background: transparent;

    .modal__content {
        opacity: 0;
    }
}

.modal-enter-active,
.modal-leave-active {
    transition: all $common-transition-duration;

    .modal__content {
        transition: all $common-transition-duration ease-out;
    }
}

</style>
