<template>
    <div class="change-phone-step5">
        <p class="modal-content__title">
            Новый номер телефона успешно сохранен
        </p>
        <p class="modal-content__text">
            Вы всегда можете изменить номер телефона
            в личном кабинете
        </p>
        <img
            src="@/assets/images/icon/check-in-circle-icon.svg"
            alt="success icon"
        />
        <common-button
            class="common-button--green"
            @click="closePopup"
        >
            Готово
        </common-button>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import CommonButton from '@/components/common/CommonButton.vue';

export default Vue.extend({
    name: 'ChangePhoneStep5',

    components: {
        CommonButton,
    },

    methods: {
        closePopup(): void {
            this.$accessor.modal.CLOSE_MODAL_ACTION();
        },
    },
});
</script>

<style lang="scss" scoped>
.change-phone-step5 {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 33px 36px 46px;

    .modal-content__title {
        font-size: 20px;
        line-height: 30px;
    }

    .modal-content__text {
        margin-top: 8px;
        margin-bottom: 32px;
    }

    .common-button {
        width: 178px;
        margin-top: 74px;
    }

    @include razr1259 {
        min-height: 278px;
        padding: 24px 18px 32px;

        &__title {
            margin-bottom: 8px;

            font-size: 16px;
            line-height: 28px;
        }

        &__description {
            max-width: 300px;
            margin-bottom: 24px;

            font-size: 14px;
            line-height: 20px;
        }

        .common-button {
            width: 128px;
            margin-top: 40px;
        }
    }

    @include razr767 {
        padding: 24px 13px 27px;

        &__title {
            max-width: 255px;
            margin-bottom: 14px;

            font-size: 21px;
            line-height: 1.2;
        }

        &__description {
            margin-bottom: 24px;

            font-size: 14px;
            line-height: 1.5;
        }

        .common-button {
            width: 178px;
            margin-top: 121px;
        }
    }
}

</style>
