<template>
    <form
        class="change-phone-step3"
        @submit.prevent="sendPhone"
    >
        <p class="change-phone-step3__title">
            Введите новый номер телефона
        </p>
        <p class="change-phone-step3__description">
            Вы всегда можете изменить номер телефона
            в личном кабинете
        </p>
        <div class="change-phone-step3__input-wrapper">
            <common-input
                v-model="phone"
                v-mask="'+7 (###) ### ## ##'"
                label="Номер телефона"
                :error="errorPhone"
            />
        </div>
        <div class="change-phone-step3__button-wrapper">
            <common-button
                class="common-button--gray"
                @click="cancel"
            >
                Отмена
            </common-button>
            <common-button
                class="common-button--green"
                tag="button"
                type="submit"
                :data-disabled="$v.phone.$invalid"
                :loading="loading"
            >
                Сохранить
            </common-button>
        </div>
    </form>
</template>

<script lang="ts">
import Vue from 'vue';
import { required } from 'vuelidate/lib/validators';

import CommonButton from '@/components/common/CommonButton.vue';
import CommonInput from '@/components/common/CommonInput.vue';

import { PHONE_FORMAT_ERROR, PHONE_REQUIRED_ERROR } from '~/src/utils/errors-texts';
import { TStringOrBoolean } from '~/src/utils/interfaces';
import { numberToString } from '~/src/utils/helpers/functions';

export default Vue.extend({
    name: 'ChangePhoneStep3',

    components: {
        CommonButton,
        CommonInput,
    },

    props: {
        requestError: {
            type: String,
            default: '',
        },
    },

    data: () => ({
        phone: '',
        loading: false,
    }),

    validations: {
        phone: {
            required,
            length(v) {
                return v.length === 18;
            },
        },
    },

    computed: {
        errorPhone(): TStringOrBoolean {
            if (this.$v.phone.$dirty) {
                if (!this.$v.phone.required) {
                    return PHONE_REQUIRED_ERROR;
                }
                if (!this.$v.phone.length) {
                    return PHONE_FORMAT_ERROR;
                }
            }
            return this.requestError;
        },
    },

    methods: {
        sendPhone(): any {
            if (this.$v.$invalid) {
                this.$v.$touch();
                return false;
            }
            this.loading = true;
            this.$emit('next', numberToString(this.phone), () => {
                this.loading = false;
            });
        },

        cancel(): void {
            this.$emit('cancel');
        },
    },
});
</script>

<style lang="scss" scoped>
.change-phone-step3 {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    min-height: 377px;
    padding: 33px 36px 46px;

    &__title {
        margin-bottom: 8px;

        font-size: 20px;
        line-height: 30px;
        font-weight: 600;
        text-align: center;
    }

    &__description {
        max-width: 345px;
        margin-bottom: 24px;

        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: $modal-color-gray;
    }

    &__input-wrapper {
        width: 100%;
        max-width: 356px;
    }

    &__button-wrapper {
        display: flex;

        margin-top: auto;

        .common-button--gray {
            margin-right: 18px;
        }

        .common-button--green {
            width: 178px;
        }
    }
}

@include razr1259 {
    .change-phone-step3 {
        min-height: 278px;
        padding: 24px 18px 32px;

        &__title {
            margin-bottom: 8px;

            font-size: 16px;
            line-height: 28px;
        }

        &__description {
            max-width: 300px;
            margin-bottom: 16px;

            font-size: 14px;
            line-height: 20px;
        }

        &__input-wrapper {
            max-width: 260px;
        }

        &__button-wrapper {
            .common-button--gray {
                min-width: 114px;
            }

            .common-button--green {
                width: 128px;
            }
        }
    }
}

@include razr767 {
    .change-phone-step3 {
        min-height: 408px;
        padding: 24px 13px 27px;

        &__title {
            max-width: 255px;
            margin-bottom: 14px;

            font-size: 21px;
            line-height: 120%;
        }

        &__description {
            margin-bottom: 24px;

            font-size: 14px;
            line-height: 150%;
        }

        &__input-wrapper {
            max-width: 308px;
        }

        &__button-wrapper {
            justify-content: space-between;

            .common-button--gray {
                min-width: 120px;
            }

            .common-button--green {
                width: 178px;
            }
        }
    }
}
@include razr365 {
    .change-phone-step3 {
        &__button-wrapper {
            .common-button--green {
                width: 128px;
            }
        }
    }
}
</style>
