<template>
    <common-phone-confirmation />
</template>

<script lang="ts">
import Vue from 'vue';

import CommonPhoneConfirmation from '@/components/common/CommonPhoneConfirmation.vue';

export default Vue.extend({
    name: 'ChangePhoneStep2',

    components: {
        CommonPhoneConfirmation,
    },
});
</script>

<style lang="scss" scoped>
.common-phone-confirmation {
    margin: 30px 0 40px;
}
</style>
