<template>
    <div class="change-phone-step1">
        <p class="change-phone-step1__title">
            Изменить номер телефона профиля
        </p>
        <p class="change-phone-step1__description">
            Для изменения номера телефона необходимо
            ввести четырехзначный код, который будет
            отправлен на номер указанный при регистрации.
        </p>
        <div class="change-phone-step1__button-wrapper">
            <common-button
                class="common-button--gray"
                @click="closeModal"
            >
                Отмена
            </common-button>
            <common-button
                class="common-button--green"
                :loading="loading"
                :data-disabled="loading"
                @click="next"
            >
                Отправить
            </common-button>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import CommonButton from '@/components/common/CommonButton.vue';

export default Vue.extend({
    name: 'ChangePhoneStep1',

    components: {
        CommonButton,
    },

    props: {
        loading: {
            type: Boolean,
            default: false,
        },
    },

    methods: {
        closeModal(): void {
            this.$accessor.modal.CLOSE_MODAL();
        },

        next(): void {
            this.$emit('next');
        },
    },
});
</script>

<style lang="scss" scoped>
.change-phone-step1 {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    min-height: 377px;
    padding: 33px 36px 46px;

    &__title {
        margin-bottom: 8px;

        font-size: 20px;
        line-height: 30px;
        font-weight: 600;
        text-align: center;
    }

    &__description {
        max-width: 395px;

        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: $modal-color-gray;
    }

    &__button-wrapper {
        display: flex;

        margin-top: auto;

        .common-button--gray {
            margin-right: 18px;
        }

        .common-button--green {
            width: 178px;
        }
    }
}

@include razr1259 {
    .change-phone-step1 {
        min-height: 278px;
        padding: 24px 18px 32px;

        &__title {
            font-size: 16px;
        }

        &__description {
            max-width: 365px;

            font-size: 14px;
            line-height: 20px;
        }

        &__button-wrapper {
            .common-button--gray {
                min-width: 114px;
            }

            .common-button--green {
                width: 128px;
            }
        }
    }
}

@include razr767 {
    .change-phone-step1 {
        min-height: 345px;
        padding: 24px 13px 27px;

        &__title {
            max-width: 255px;
            margin-bottom: 14px;

            font-size: 21px;
            line-height: 120%;
        }

        &__description {
            max-width: 328px;

            font-size: 14px;
            line-height: 150%;
        }

        &__button-wrapper {
            justify-content: space-between;

            .common-button--gray {
                min-width: 120px;
            }

            .common-button--green {
                width: 178px;
            }
        }
    }
}

@include razr365 {
    .change-phone-step1 {
        &__button-wrapper {
            .common-button--green {
                width: 128px;
            }
        }
    }
}
</style>
