<template>
    <header
        id="top"
        v-scroll-lock="showMobileCatalog"
        class="header-common"
    >
        <div class="header-common__top">
            <header-region />
            <header-nav />
        </div>
        <hr />
        <div
            class="header-common__bottom"
            :class="{ 'header-common__bottom_disabled': showSearch }"
        >
            <nuxt-link
                class="header-common__bottom-logotype"
                to="/"
            />
            <div
                class="header-common__bottom-catalog-button"
                @mouseenter="openCatalog"
                @mouseleave="closeCatalog"
            >
                <div @click="toggleMobileCatalog">
                    <close-icon v-if="showMobileCatalog" />
                    <burger-icon v-else />
                    <span>
                        Каталог
                    </span>
                </div>
                <header-catalog
                    v-if="showDesktopCatalogContent"
                    @close="closeCatalog"
                />
            </div>
            <header-search @is-search-visible="isSearchVisible" />
            <header-user-nav />
            <header-catalog-mobile
                v-if="showMobileCatalogContent"
                @close="toggleMobileCatalog"
            />
        </div>
    </header>
</template>

<script lang="ts">
import Vue from 'vue';
import HeaderRegion from '@/components/layouts/header/parts/HeaderRegion.vue';
import HeaderNav from '@/components/layouts/header/parts/HeaderNav.vue';
import HeaderSearch from '@/components/layouts/header/parts/HeaderSearch.vue';
import HeaderUserNav from '@/components/layouts/header/parts/HeaderUserNav.vue';
import HeaderCatalog from '@/components/layouts/header/parts/HeaderCatalog.vue';
import HeaderCatalogMobile from '@/components/layouts/header/parts/HeaderCatalogMobile.vue';
import BurgerIcon from '@/assets/images/icon/burger-white-icon.svg?inline';
import CloseIcon from '@/assets/images/icon/close-white-icon.svg?inline';

export default Vue.extend({
    name: 'HeaderCommon',

    components: {
        HeaderRegion,
        HeaderNav,
        HeaderSearch,
        HeaderUserNav,
        HeaderCatalog,
        HeaderCatalogMobile,
        BurgerIcon,
        CloseIcon,
    },

    data: () => ({
        showCatalog: false,
        showSearch: false,
    }),

    async fetch(): Promise<void> {
        await this.$accessor.catalog.getCategoriesAction();
    },

    computed: {
        isMobileOrTablet(): boolean {
            return this.$accessor.isMobileOrTablet;
        },

        isMobile(): boolean {
            return this.$accessor.isMobile;
        },

        showDesktopCatalogContent(): boolean {
            return !this.isMobile && this.showCatalog;
        },

        showMobileCatalogContent(): boolean {
            return this.isMobile && this.showCatalog;
        },

        showMobileCatalog(): boolean {
            return this.isMobileOrTablet && this.showCatalog;
        },
    },

    async mounted() {
        await this.$accessor.auth.fetchUser();
        await this.$accessor.catalog.getFavoritesAction();
        await this.getDeliveryPrice();
        this.getCart();
        this.getDeliveryInfo();
    },

    methods: {
        isSearchVisible(isVisible: boolean): void {
            this.showSearch = isVisible;
        },

        openCatalog(): void {
            if (!this.isMobileOrTablet) {
                this.showCatalog = true;
            }
        },

        closeCatalog(): void {
            this.showCatalog = false;
        },

        toggleMobileCatalog(): void {
            if (this.isMobileOrTablet) {
                this.showCatalog = !this.showCatalog;
            }
        },

        getCart() {
            this.$accessor.cart.getCartAction();
        },

        getDeliveryInfo() {
            const info = localStorage.getItem('deliveryInfo');
            if (info) {
                this.$accessor.cart.setDeliveryInfoAction(JSON.parse(info));
            }
        },

        async getDeliveryPrice() {
            await this.$accessor.cart.getDeliveryPriceAction();
        },
    },
});
</script>

<style lang="scss" scoped>
.header-common {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    background-color: $white;
    border-bottom: 1px solid $light-gray-ninth;

    & hr {
        width: 100%;
        margin: 0;
    }

    &__top {
        display: flex;
        align-items: center;

        width: 100%;
        max-width: 1200px;
        height: 50px;

        .header-nav {
            margin-left: auto;
        }
    }

    &__bottom {
        position: relative;

        display: flex;
        align-items: center;

        width: 100%;
        max-width: 1200px;
        height: 60px;

        &-logotype {
            display: block;

            min-width: 144px;
            height: 25px;
            margin-right: 24px;

            background: url('@/assets/images/common/logotype-header-desktop.svg') no-repeat;
        }

        &-catalog-button {
            display: flex;
            justify-content: center;
            align-items: center;

            min-width: 107px;
            height: 40px;
            margin-right: 8px;
            padding: 0;

            text-decoration: none;

            background-color: $green;
            border: 1px solid $green;
            border-radius: 8px;

            cursor: pointer;

            & > div {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            svg {
                width: 13px;
            }

            span {
                padding-left: 11px;

                font-size: 14px;
                font-weight: 600;
                color: $white;
            }
        }

        .header-user-nav {
            margin-left: auto;
        }
    }

    @include razr1259 {
        &__top {
            max-width: 976px;
        }

        &__bottom {
            max-width: 976px;

            &-logotype {
                min-width: 124px;
                height: 22px;
                margin-right: 14px;

                background-size: contain;
            }

            &-catalog-button {
                min-width: 90px;
                height: 35px;

                span {
                    padding-left: 8px;

                    font-size: 13px;
                }
            }
        }
    }

    @include razr1023 {
        &__top {
            max-width: 720px;
        }

        &__bottom {
            max-width: 720px;

            &-logotype {
                min-width: 112px;
                height: 22px;
                margin-right: 12px;
            }

            .header-search {
                &:hover,
                &:focus-within {
                    ~ .header-common-user-nav {
                        width: 0;
                        overflow: hidden;
                    }
                }
            }
        }
    }

    @include razr767 {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: $z-header-mobile;

        &__top {
            display: none;
        }

        &__bottom {
            padding: 0 12px 0 20px;

            &_disabled > *:not(form) {
                pointer-events: none;
                opacity: 0.12;
            }

            &-logotype {
                min-width: 32px;
                height: 26px;

                background-image: url('@/assets/images/common/logo-header.svg');
            }

            &-catalog-button {
                min-width: 45px;
                height: 40px;

                span {
                    display: none;
                }
            }

            .header-search {
                &:hover,
                &:focus-within {
                    ~ .header-common-user-nav {
                        width: auto;
                        overflow: hidden;
                    }
                }
            }
        }
    }
}
</style>
