<template>
    <div class="dashboard">
        <div class="page-title">
            {{ $t('dashboard', 'Dashboard') }}
        </div>

        <div
            v-if="showDashboard"
            class="content"
        >
            <div class="left">
                <app-topic>
                    <div
                        v-if="dashboard.status"
                        class="app-topic__description"
                    >
                        {{ $t('dash_curr_topic', 'Current Topic for Discussion') }}
                    </div>
                    <div
                        v-else
                        class="app-topic__description"
                    >
                        {{ $t('dash_curr_topic_in', 'Current Topic for Discussion') }}
                    </div>

                    <div class="app-topic__question">
                        {{ dashboard.name }}
                    </div>
                    <div class="app-topic__description">
                        {{ $t('dash_remain_time', 'Remaining Time') }}:
                    </div>
                    <app-progress-bar :progress="dashboard.progress_elapsed" />
                    <div class="app-topic__time">
                        {{ dashboard.elapsed_at }}
                    </div>
                    <p v-html="dashboard.intro"></p>
                </app-topic>
                <div
                    v-if="dashboard.format !== 1"
                    class="join-block"
                >
                    <app-button
                        v-if="dashboard.format === 2"
                        tag="a"
                        :href="dashboard.video_link"
                        target="_blank"
                        :data-disable="!topicIsActive || !dashboard.video_link"
                    >
                        <i class="fa fa-video-camera"></i>
                        {{ $t('dash_videocall', 'Join Video call') }}
                    </app-button>
                    <app-button
                        v-if="dashboard.format === 3"
                        tag="router-link"
                        :data-disable="!topicIsActive"
                        :to="{name: 'document-review', query: {id: topicId}}"
                        target="_blank"
                    >
                        <i class="fa fa-eye"></i>
                        {{ $t('dash_review', 'Join Review') }}
                    </app-button>
                    <app-button
                        v-if="dashboard.format === 4"
                        tag="router-link"
                        :data-disable="!topicIsActive"
                        :to="{name: 'workshop', query: {id: topicId}}"
                        target="_blank"
                    >
                        <i class="fa fa-pencil-square-o"></i>
                        {{ $t('dash_workshop', 'Join Workshop') }}
                    </app-button>
                    <app-button
                        v-if="dashboard.format === 5"
                        tag="router-link"
                        :data-disable="!topicIsActive"
                        :to="{name: 'editor', query: {id: topicId}}"
                        target="_blank"
                    >
                        <i class="fa fa-file-text"></i>
                        {{ $t('dash_document', 'Join Document') }}
                    </app-button>
                    <app-button
                        v-if="dashboard.format === 6"
                        tag="router-link"
                        :data-disable="!topicIsActive"
                        :to="{name: 'stickersBoard', query: {id: topicId}}"
                        target="_blank"
                    >
                        <i class="fa fa-sticky-note"></i>
                        {{ $t('dash_stickers', 'Join Meeting board') }}
                    </app-button>
                </div>

                <div
                    v-if="dashboard"
                    class="questions-block"
                >
                    <template v-if="dashboard.questions">
                        <div
                            v-for="(question, questionIndex) in dashboard.questions"
                            :key="question.id"
                            class="meaning-block"
                        >
                            <div class="meaning-block__title">
                                {{ question.subtitle }}
                            </div>
                            <div
                                class="question"
                                :class="{open: questionId===question.id}"
                            >
                                <div
                                    class="question-info"
                                    @click="toggleQuestion(question.id)"
                                >
                                    <div class="question__short-info">
                                        <div
                                            class="question__title"
                                            v-html="`<div class='number'>${$t('dash_question', 'Question')} ${questionIndex + 1}</div> ${question.name}`"
                                        ></div>
                                        <div class="question__text">
                                            <div
                                                class="view"
                                                v-html="question.intro"
                                            ></div>
                                        </div>
                                        <div class="question__actions-block">
                                            <img
                                                v-if="question.is_unread"
                                                src="@/assets/img/icons/notification_icon.svg"
                                                class="question__action question__notification"
                                            />
                                            <img
                                                v-if="question.is_answered"
                                                src="@/assets/img/icons/done_icon.svg"
                                                class="question__action question__done"
                                            />
                                            <div class="question__open-button">
                                                <span></span>
                                                <span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    v-if="questionId===question.id"
                                    class="question-details"
                                >
                                    <div
                                        v-if="!question.hide_tool"
                                        class="meaning-block__actions"
                                    >
                                        <div class="row">
                                            <app-button
                                                class="narrow light-blue"
                                                :data-disable="!enabledActions"
                                                @click="openPopup(0, 0, question.id)"
                                            >
                                                <img src="@/assets/img/icons/reply_icon.svg" />
                                                {{ $t('dash_reply', 'Reply') }}
                                            </app-button>
                                            <app-button
                                                class="narrow purple"
                                                :data-disable="!enabledActions"
                                                @click="toggleRecorder"
                                            >
                                                <img src="@/assets/img/icons/voice_icon.svg" />
                                                {{ $t('dash_reply_voice', 'Reply via Voice') }}
                                            </app-button>
                                            <app-button
                                                class="narrow light-blue"
                                                :data-disable="!enabledActions"
                                                @click="openPopup(0, 1, question.id)"
                                            >
                                                <img src="@/assets/img/icons/question-cloud_icon.svg" />
                                                {{ $t('dash_reply_all', 'Question to All') }}
                                            </app-button>
                                            <app-file-input
                                                class="narrow"
                                                :load-file="uploadCommentDocument"
                                                :data-disable="!enabledActions"
                                            >
                                                <img src="@/assets/img/icons/upload_icon.svg" />
                                                {{ $t('dash_reply_doc', 'Upload Documents') }}
                                            </app-file-input>
                                        </div>
                                        <app-language-select
                                            :question-id="question.id"
                                            @change="translateTopic"
                                        />
                                    </div>
                                    <app-audio-recorder
                                        v-if="recorderIsActive"
                                        :load-voice="uploadVoiceComment"
                                        @close="toggleRecorder"
                                    />
                                    <app-comments
                                        v-if="showComments(question) && !question.hide_tool"
                                        :comments="question.comments"
                                        :question-id="question.id"
                                        :topic-is-active="enabledActions"
                                        @like="likeComment"
                                        @comment="openPopup"
                                        @toggleCommentState="toggleCommentState"
                                    />

                                    <template v-if="question.surveys.length">
                                        <div class="app-topic-title">
                                            {{ $t('dash_survey', 'Survey') }}
                                        </div>
                                        <div class="survey">
                                            <app-survey-question
                                                v-for="survey in question.surveys"
                                                :key="survey.id"
                                                :survey="survey"
                                                :socket="socket"
                                            />
                                        </div>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </template>
                    <div
                        v-else-if="!dashboard.hide_tool"
                        class="meaning-block"
                    >
                        <div class="meaning-block__title">
                            Current Discussion
                        </div>
                        <div class="meaning-block__actions">
                            <div class="row">
                                <app-button
                                    class="narrow light-blue"
                                    :data-disable="!enabledActions"
                                    @click="openPopup(0)"
                                >
                                    <img src="@/assets/img/icons/reply_icon.svg" />
                                    {{ $t('dash_reply', 'Reply') }}
                                </app-button>
                                <app-button
                                    class="narrow purple"
                                    :data-disable="!enabledActions"
                                    @click="toggleRecorder"
                                >
                                    <img src="@/assets/img/icons/voice_icon.svg" />
                                    {{ $t('dash_reply_voice', 'Reply via Voice') }}
                                </app-button>
                                <app-button
                                    class="narrow light-blue"
                                    :data-disable="!enabledActions"
                                    @click="openPopup(0, 1)"
                                >
                                    <img src="@/assets/img/icons/question-cloud_icon.svg" />
                                    {{ $t('dash_reply_all', 'Question to All') }}
                                </app-button>
                                <app-file-input
                                    class="narrow"
                                    :load-file="uploadCommentDocument"
                                    :data-disable="!enabledActions"
                                >
                                    <img src="@/assets/img/icons/upload_icon.svg" />
                                    {{ $t('dash_reply_doc', 'Upload Documents') }}
                                </app-file-input>
                            </div>
                            <app-language-select
                                @change="translateTopic"
                            />
                        </div>
                        <app-audio-recorder
                            v-if="recorderIsActive"
                            :load-voice="uploadVoiceComment"
                            @close="toggleRecorder"
                        />
                        <app-comments
                            v-if="dashboard.comments && dashboard.comments.length"
                            :comments="dashboard.comments"
                            :topic-is-active="enabledActions"
                            @like="likeComment"
                            @comment="openPopup"
                            @toggleCommentState="toggleCommentState"
                        />
                    </div>
                </div>

                <template v-if="showSurveys">
                    <div class="app-topic-title">
                        {{ $t('dash_survey', 'Survey') }}
                    </div>
                    <div class="survey">
                        <app-survey-question
                            v-for="survey in dashboard.surveys"
                            :key="survey.id"
                            :survey="survey"
                            :socket="socket"
                        />
                    </div>
                </template>
            </div>
            <sidebar :dashboard="dashboard" />
        </div>

        <div
            v-else-if="agenda"
            class="dashboard-agenda"
        >
            <div class="app-topic-title">
                {{ $t('dash_agenda_topics', 'Topics') }}
            </div>

            <div
                v-if="agenda"
                class="topics-list"
            >
                <div
                    v-for="event of agenda"
                    :key="event.id"
                    class="topic"
                >
                    <format-icons
                        :format="event.format"
                        :is-conf="event.conf"
                    />
                    <a @click.prevent="toTopic(event)">
                        {{ event.name }}
                    </a>
                    <p>
                        <span>
                            {{ $t('dash_timeline', 'Timeline') }}:
                        </span>
                        {{ event.start_date }}
                    </p>
                    <hr />
                </div>
            </div>
        </div>
        <app-popup>
            <comment-popup
                :paths="$options.commentsPaths"
                :socket="socket"
                @createComment="createComment"
            />
        </app-popup>
    </div>
</template>

<script>
    import appTopic from '@/components/user/app/app-topic';
    import appProgressBar from '@/components/user/app/app-progressBar';
    import appButton from '@/components/user/app/app-button';
    import appFileInput from '@/components/user/app/app-file-input';
    import appAudioRecorder from '@/components/user/app/app-audio-recorder';
    import appLanguageSelect from '@/components/user/app/app-language-select';
    import appComments from '@/components/user/app/app-comments';
    import appSurveyQuestion from '@/components/user/app/app-survey-question';
    import formatIcons from '@/components/user/pages/agenda/format-icons';

    import sidebar from '@/components/user/pages/dashboard/sidebar';
    import appPopup from '@/components/user/app-popup';
    import commentPopup from '@/components/user/app/app-comment-popup';

    import { socketInstance, GP } from '@/utils/sockets-helper';
    import { post } from '@/utils/http-helper';
    import { changeTopicTimer } from '@/utils/user/time-socket';

    const UPLOAD_DOCUMENT = '/dashboard/upload-document';
    const UPLOAD_VOICE = '/dashboard/upload-voice';
    const READ_QUESTION = '/dashboard/read-messages';

    const NAME_SPACE = 'dashboard';
    const CREATE_TEXT = 'comment-create-text';
    const COMMENT_LIKE = 'comment-like';
    const COMMENT_UNLIKE = 'comment-unlike';
    const COMMENT_CREATE_FILE = 'comment-create-file';
    const COMMENT_CREATE_AUDIO = 'comment-create-audio';
    const COMMENT_REMOVE = 'comment-remove';
    const COMMENT_RESTORE = 'comment-restore';
    const SURVEY_ANSWER = 'survey-answer';

    const generateSocketPath = new GP(NAME_SPACE);

    export default {
        name: 'dashboard',

        components: {
            appTopic,
            appProgressBar,
            appButton,
            appFileInput,
            appAudioRecorder,
            sidebar,
            appLanguageSelect,
            appComments,
            appSurveyQuestion,
            appPopup,
            commentPopup,
            formatIcons,
        },

        commentsPaths: {
          NAME_SPACE: 'dashboard',
          CREATE_TEXT: 'comment-create-text',
        },

        data: ()=>({
            language: null,
            socket: null,
            recorderIsActive: false,
        }),

        computed: {
            dashboard() {
              return this.$store.getters['dashboard/get'];
            },

            id() {
              return this.$route.query.id;
            },
            eventId() {
              return this.$route.query.event_id;
            },
            questionId() {
                return +this.$route.query.question;
            },
            topicId() {
                return this.$store.getters['dashboard/topicId'];
            },
            showSurveys() {
                return this.dashboard.surveys?.length;
            },
            showDashboard() {
              return this.dashboard && !Array.isArray(this.dashboard);
            },
            agenda() {
              return this.$store.getters['dashboard/getAgenda']?.topics;
            },
            topicIsActive() {
              return +this.dashboard.status;
            },
            isUser() {
                const id = +this.$store.getters['auth/userRole']?.id;
                const mode = +this.$store.getters['auth/userRole']?.mode;
                return (id === 5 && mode!==0) || id === 6;
            },
            enabledActions() {
                return !!(this.isUser && this.topicIsActive);
            },
        },

        watch: {
            id() {
                this.getDashboardInfo();
            },
        },

        async created() {
            this.getDashboardInfo();
        },

        beforeDestroy() {
            this.socket.disconnect();
        },

        methods:{
            toTopic(event) {
              this.$router.push({ name: 'dashboard', query: { id: event.id, event_id: this.eventId } });
            },
            async getDashboardInfo() {
              const params = {
                id: this.id? this.id: null,
                eventId: this.eventId? this.eventId: null,
              };
              await this.$store.dispatch('dashboard/get', params);
              if (this.showDashboard) {
                !this.socket? this.initialSockets() : null;
                changeTopicTimer(this.topicId);
              } else  {
                await this.$store.dispatch('dashboard/getAgenda', this.eventId? this.eventId: null);
              }
            },
            showComments(question) {
                return question.comments?.length;
            },
            initialSockets() {
                this.socket = socketInstance(NAME_SPACE, { room: `room-${this.topicId}` });
                this.socket.on(generateSocketPath.generate(CREATE_TEXT), data => {
                    this.$store.dispatch('dashboard/createComment', data);
                });
                this.socket.on(generateSocketPath.generate(COMMENT_LIKE), data => {
                    this.$store.dispatch('dashboard/changeLikesCount', { id: data.comment_id, up: true, questionId: data.question_id });
                });
                this.socket.on(generateSocketPath.generate(COMMENT_UNLIKE), data => {
                     this.$store.dispatch('dashboard/changeLikesCount', { id: data.comment_id, up: false, questionId: data.question_id });
                });
                this.socket.on(generateSocketPath.generate(COMMENT_CREATE_FILE), data => {
                    this.$store.dispatch('dashboard/createComment', data);
                });
                this.socket.on(generateSocketPath.generate(COMMENT_CREATE_AUDIO), data => {
                    this.$store.dispatch('dashboard/createComment', data);
                });
                this.socket.on(generateSocketPath.generate(COMMENT_REMOVE), data => {
                    data.deleted = 1;
                    this.$store.dispatch('dashboard/toggleCommentState', data);
                });
                this.socket.on(generateSocketPath.generate(COMMENT_RESTORE), data => {
                    data.deleted = 0;
                    this.$store.dispatch('dashboard/toggleCommentState', data);
                });
                this.socket.on(generateSocketPath.generate(SURVEY_ANSWER), data => {
                    if (data.success) {
                        this.$store.dispatch('dashboard/answerSurvey', data);
                    }
                });
            },
            likeComment(id, liked, questionId) {
                this.socket.emit(generateSocketPath.generate(liked? COMMENT_UNLIKE : COMMENT_LIKE), {
                    comment_id: id,
                    question_id: questionId,
                }, data => {
                    if (data.success) {
                      this.$store.dispatch('dashboard/changeLikesCount', { id, up: !liked, self: true, questionId });
                    }
                });
            },
            toggleCommentState(id, deleted) {
                  this.socket.emit(generateSocketPath.generate(deleted? COMMENT_RESTORE : COMMENT_REMOVE), {
                    comment_id: id,
                  }, data => {
                    if (data.success) {
                      data.deleted = +!deleted;
                      this.$store.dispatch('dashboard/toggleCommentState', data);
                    }
                  });
            },
            toggleQuestion(id){
                const routeObj = {
                    query: { ...this.$route.query },
                };
                if (this.questionId!==id) {
                    routeObj.query.question = id;
                    post(READ_QUESTION, { question_id: id });
                    this.$store.dispatch('dashboard/readQuestion', { id, status: false });
                } else {
                    delete routeObj.query.question;
                }
                this.$router.push(routeObj);
            },
            openPopup(parentId = 0, toAll = 0, questionId = 0){
                const options = {
                    topicId: this.topicId,
                    parentId,
                    toAll,
                    questionId,
                };
                this.$store.dispatch('togglePopup', { popupName: 'commentPopup', options });
            },
            async uploadCommentDocument(document) {
                let formData = new FormData();
                formData.append('topic_id', this.topicId);
                formData.append('file', document);
                this.questionId ? formData.append('question_id', this.questionId): null;
                const loadStatus = await post(UPLOAD_DOCUMENT, formData, true);
                if (loadStatus.status===1) {
                    this.$store.dispatch('dashboard/createComment', loadStatus.data);
                    this.socket.emit(generateSocketPath.generate(COMMENT_CREATE_FILE), {
                        comment_id: loadStatus.data.id,
                    });
                }
            },
            toggleRecorder() {
                this.recorderIsActive = !this.recorderIsActive;
            },
            async uploadVoiceComment(voice, name) {
                let formData = new FormData();
                formData.append('topic_id', this.topicId);
                formData.append('file', voice, name);
                this.questionId ? formData.append('question_id', this.questionId): null;

                const loadStatus = await post(UPLOAD_VOICE, formData, true);

                if (loadStatus.status===1) {
                    this.$store.dispatch('dashboard/createComment', loadStatus.data);
                    this.socket.emit(generateSocketPath.generate(COMMENT_CREATE_AUDIO), {
                      comment_id: loadStatus.data.id,
                    });
                }
            },
            translateTopic(question_id, lang) {
                this.$store.dispatch('dashboard/translateTopic', {
                  topic_id: this.topicId,
                  question_id,
                  lang,
                });
            },
            createComment(data) {
              this.$store.dispatch('dashboard/createComment', data);
            },
        },

    };
</script>

<style scoped lang="scss">
    .content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .left {
            width: 100%;
            padding-right: 1rem;
        }

        .join-block {
            display: flex;
            justify-content: center;

            margin-top: .8rem;
            padding: 2.8rem 0;

            background: var(--platform-main-color);
        }

        .questions-block {
            margin-top: 1rem;
            margin-bottom: 1rem;
            padding: 1.7rem 1.3rem;

            background: var(--platform-main-color);
        }

        .question-info{
            cursor: pointer;
        }

        .meaning-block {
            &__title {
                margin-bottom: 1.65rem;

                font-size: to_rem(20px);
                text-align: center;
                color: $mainTextColor;
            }

            &__actions {
                display: flex;
                flex-direction: column;
                align-items: center;

                margin-bottom: 1.2rem;
                padding: 1.85rem 0;

                background: $lightBlue;

                .row{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                }

                .app-button {
                    margin-bottom: .6rem;
                    &:not(:last-child) {
                        margin-right: .3rem;
                    }
                }
                .app-language-select{
                    margin-bottom: .6rem;
                }
            }
            .app-comments{
                max-height: 30rem;
            }
        }


        .topics-list{
            padding: 1.7rem 1.8rem;

            background: white;
            .topic{
                margin-bottom: 1.1rem;
                &:last-of-type{
                    hr{
                        display: none;
                    }
                }
                &.new{
                    position: relative;

                    padding-left: 3.7rem;
                    &:before{
                        @include bef_aft;
                        width: 3rem;
                        height: 3rem;

                        background: url("~@/assets/img/icons/new-topic_icon.png") no-repeat center center/contain;
                    }
                }

                a{
                    display: block;

                    margin-bottom: 0.3rem;

                    font-size: to_rem(24px);
                    color: $mainPurple;
                    text-decoration: none;
                    font-style: italic;

                    cursor: pointer;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                p{
                    font-size: to_rem(14px);
                    font-weight: 700;
                    span{
                        font-weight: 400;
                    }
                }
                hr{
                    margin: 1.7rem 0 0;

                    border: none;
                    border-top: 1px solid $lightGray;
                }
            }
            .app-labels-imgs{
                margin-bottom: 0.6rem;
            }
        }

        .question {
            margin-bottom: 1.2rem;

            &.open{
                .question__open-button{
                    span:nth-of-type(2){
                        display: none;
                    }
                }
            }

            &-info {
                position: relative;

                margin-bottom: 1.2rem;
                padding: .55rem .4rem 1.7rem;

                background: white;
            }

            &__description{
                margin-bottom: 1.6rem;

                color: $darkGray;

                h2{
                    font-size: to_rem(20px);
                    font-weight: 400;
                }
                h3{
                    width: 88%;
                    margin-top: .8rem;

                    font-size: to_rem(13px);
                    font-weight: 400;
                    text-transform: uppercase;

                    span{
                        text-transform: none;
                    }
                }
                p{
                    width: 88%;
                    margin-top: 0.4rem;

                    font-size: to_rem(13px);
                    line-height: 1.5;
                }

                img{
                    display: block;

                    width: 88%;
                    margin: 2.3rem 0;
                }
            }

            &__short-info{
                position: relative;

                padding: .9rem 1.1rem 0;

                &::v-deep {
                    img {
                        max-width: 100%;
                    }
                }
            }

            &__title {
                font-size: to_rem(14px);
                font-weight: 700;
                color: $mainDarkBlue;

                &::v-deep {
                    .number {
                        margin-bottom: 0.5rem;
                    }
                }
            }

            &__text {
                margin-top: 0.5rem;

                font-size: to_rem(14px);
                font-weight: 700;
            }

            &__actions-block {
                position: absolute;
                top: -.2em;
                right: 1.25rem;

                display: flex;
                justify-content: flex-end;
                align-items: center;
            }

            &__open-button {
                position: relative;

                width: 0.9rem;
                height: 0.9rem;
                margin-top: 0.4rem;

                cursor: pointer;

                span {
                    position: absolute;
                    top: 50%;
                    left: 50%;

                    display: block;

                    width: 100%;
                    height: 2px;

                    background: $mainDarkBlue;

                    transform: translate(-50%, -50%);

                    &:nth-of-type(2) {
                        transform: translate(-50%, -50%) rotate(90deg);
                    }
                }
            }

            &__action {
                height: 1.8rem;
                margin-right: .9rem;

                cursor: pointer;
            }

            &__notification {
                width: 1.7rem;
            }

            &__done {
                width: 3.9rem;
            }
        }
        .view {
            font-size: initial;
            font-weight: initial;
            * {
                font-size: initial;
                font-weight: initial;
            }

            &::v-deep img {
                max-width: 100%;

                object-fit: contain;
            }
        }
    }
    .survey{
        padding: .7rem 1.25rem 1.25rem;

        background: #fff;
        border: 1px solid $gray;
        border-top: none;
    }

    @media screen and (max-width: 1000px) and (min-width: 768px){
        .content .left {
            width: 33rem;
        }
    }

    @include mobile_or_P{
        .content{
            padding-right: 0.5rem;
            .left{
                padding-right: 0.5rem;
            }
            .app-topic{
                margin-left: .7rem;
            }
            .questions-block{
                margin-left: 0.7rem;
                padding: 1rem .7rem;
            }

            .meaning-block{
                &__title{
                    margin-bottom: 0.95rem;
                }
                &__actions{
                    margin-bottom: 0.65rem;
                    padding: .5rem;
                    .app-button {
                        margin: 0.5rem  0.2rem !important;
                    }
                }
                .app-language-select {
                    margin-top: 0.5rem;
                }
                .app-comments{
                    max-height: 20rem;
                }
            }
            .question{

                &__short-info{
                    padding: 0.85rem 0.4rem 0;
                }
                &__actions-block{
                    right: 0.25rem;
                }
            }
        }
    }
    @include razr767{
        .content{
            flex-direction: column;

            margin-left: 0;
            padding-right: 0;

            .left{
                padding-right: 0;
            }

            .app-topic{
                margin: 0 0.85rem;
            }

            .questions-block {
                margin-left: 0;
            }

            .question{
                &-info{
                    margin-bottom: 0;
                    padding: 0.8rem 1.1rem 1.5rem;
                }

                &__description{
                    h3{
                        font-size: 1.104rem;
                        line-height: 1.8;
                    }

                    p{
                        width: 100%;

                        font-size: 1.104rem;
                        line-height: 1.75;
                    }

                    img{
                        width: 100%;
                    }
                }

                &__title{
                    font-size: 1.05rem;
                }

                &__short-info{
                    padding: 0.85rem 0.6rem 0;
                }

                &__text{
                    margin-top: 0.7rem;

                    font-size: 1.01902rem;
                }
            }

            .meaning-block{
                &__actions{
                    margin-bottom: 0;
                    padding: 1.4rem 0;
                    .row {
                        justify-content: center;
                    }
                }
            }
        }
    }

</style>
