<template>
    <div class="disposer-app-upload-video">
        <div class="upload-header">
            <div class="upload-current-file">
                <span
                    v-if="$v.video.file.$dirty && !$v.video.file.required"
                    class="file-error app-input-error"
                >
                    Выберите файл
                </span>
                <span
                    v-if="errors.file"
                    class="file-error app-input-error"
                >
                    {{ errors.file[0] }}
                </span>
            </div>
        </div>

        <div class="upload-main">
            <div class="choose-video-cover">
                Choose video cover
            </div>

            <div class="video-cover-wrap">
                <img
                    v-if="video.coverUrl || preview"
                    class="video-cover"
                    :src="video.coverUrl || preview"
                />
                <app-file-input
                    class="mini"
                    :load-file="loadCover"
                    accept="image/*"
                >
                    Choose
                </app-file-input>
            </div>
        </div>

        <div class="upload-footer">
            <div class="upload-checkboxes">
                <div>
                    <label class="disposer-app-checkbox">
                        <input
                            v-model="video.secured"
                            type="checkbox"
                        />
                        <div class="box"></div>
                        Secured view-only format
                    </label>
                </div>
            </div>

            <div class="upload-name">
                <label
                    class="disposer-app-label"
                >
                    Name of video
                    <a
                        v-if="video.openLink || generateUrl(video.file, true)"
                        target="_blank"
                        :href="video.openLink || generateUrl(video.file, true)"
                    >
                        <i
                            class="fa fa-external-link"
                            title="Open video"
                        ></i>
                    </a>
                    <input
                        v-model="video.name"
                        type="text"
                        class="disposer-app-input"
                    />
                </label>
                <label
                    class="disposer-app-label"
                >
                    Description of video
                    <input
                        v-model="video.description"
                        type="text"
                        class="disposer-app-input"
                    />
                </label>
            </div>

            <div class="upload-btns">
                <div class="upload-choose">
                    <div class="title">
                        Choose file
                    </div>

                    <div class="info-icons">
                        <img
                            v-tooltip.right-start="$options.texts.chooseVideoIconMsg"
                            src="@/assets/img/icons/disposer/info-icon.png"
                            class="info-icon"
                        />
                    </div>
                </div>

                <div class="row">
                    <app-file-input
                        class="upload-btn mini"
                        :load-file="loadVideo"
                        accept="video/mp4,video/webm,video/mov"
                    >
                        Choose
                        <div class="name">
                            {{ video.fileName || video.native }}
                        </div>
                    </app-file-input>
                    <app-button
                        class="upload-btn mini red"
                        @click="saveVideo"
                    >
                        Save
                    </app-button>
                    <app-button
                        class="upload-btn mini"
                        @click="deleteVideo"
                    >
                        Delete
                    </app-button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import appButton from '@/components/disposer/app/app-button';
    import appFileInput from '@/components/disposer/app/app-file-input';

    import { chooseVideoIconMsg } from '@/utils/disposer/icons-text-helper.js';
    import { loadedVideo, deletedVideo, defaultConfirmSettings } from '@/utils/disposer/notifications-text-helper';
    import { post } from '@/utils/http-helper';
    import { parseImg } from '@/utils/disposer/parse-files-helper';
    import { required } from 'vuelidate/lib/validators';
    import generateUrl from '@/utils/mixins/generate_url';

    export default {
        name: 'app-upload-video',
        components: {
            appButton,
            appFileInput,
        },
        mixins: [generateUrl],
        texts: {
            chooseVideoIconMsg,
        },
        props: {
            video: {
                type: Object,
                default: () => {},
            },
            paths: {
                type: Object,
                default: () => {},
            },
            topicId: {
                type: Number,
                default: null,
            },
            eventId: {
                type: Number,
                default: null,
            },
            section: {
                type: Object,
                default: null,
            },
        },

        data: () => ({
            errors: {},
        }),

        computed: {
            preview() {
                return this.generateUrl(this.video.preview, ' ');
            },
        },

        validations: {
            video: {
                file: {
                    required,
                },
            },
        },

        methods: {
            loadVideo(video) {
                this.video.file = video;
                this.video.fileName = video.name;
                if (!this.video.name) {
                    this.video.name = video.name;
                }
                this.video.openLink = window.URL.createObjectURL(video);
            },
            async loadCover(img) {
                this.video.cover = img;
                this.video.coverUrl = await parseImg(img);
            },
            async saveVideo() {
              if (this.$v.video.$invalid) {
                this.$v.video.$touch();
                return;
              }
              const fd = new FormData();
              fd.append('object', 'video');
              fd.append('name', this.video.name);
              fd.append('description', this.video.description);
              fd.append('secured', +this.video.secured);
              fd.append('file', this.video.file);
              fd.append('preview', this.video.cover);
              fd.append('id', this.video.id);
              this.topicId ? fd.append('topic_id', this.topicId) : fd.append('event_id', this.eventId);
              this.section? fd.append('section_id', this.section.id) : null;

              this.$awn.async(post(this.video.id>=1? this.paths.UPDATE_OBJECT :  this.paths.SAVE_OBJECT, fd, true), response => {
                if (response.status) {
                  this.video.id = response.data.id;
                  this.$awn.success(loadedVideo);
                } else  {
                  this.errors = response.errors;
                }
              });

            },
            async deleteVideo() {
              this.$confirm({
                ...defaultConfirmSettings,
                callback: confirm => {
                  if (confirm) {
                    if (this.video.id>=1){
                      this.$awn.async(post( this.paths.DELETE_OBJECT, {
                        topic_id: this.topicId,
                        event_id: this.eventId,
                        id: this.video.id,
                        object: 'video',
                      }), response => {
                        if (response.status) {
                          this.$emit('delete', this.video.id, this.section);
                          this.$awn.success(deletedVideo);
                        }
                      });
                    } else  {
                      this.$emit('delete', this.video.id, this.section);
                    }
                  }
                },
              });
            },
        },
    };
</script>

<style scoped lang="scss">
    .disposer-app-upload-video {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .disposer-app-input {
            width: to_rem(270px);
        }
        .upload-main {
            .choose-video-cover{
                margin-bottom: 20px;
            }
            .video-cover-wrap{
                display: flex;
                justify-content: space-between;
                align-items: flex-start;

                width: to_rem(440px);
                margin-bottom: 2rem;
                img {
                    width: 100%;
                    margin-right: 1rem;
                }
                .upload-btn{
                    margin:0;
                }
                .video-cover {
                    border: 1px solid $gray;
                }
            }
        }
        .upload-footer {
            display: flex;
            justify-content: space-between;
            .upload-checkboxes {
                margin-right: 1rem;
            }
            .upload-name {
                margin-right: 1rem;
            }
        }
        .upload-current-file {
            position: relative;

            margin-bottom: 1rem;

            color: grey;
        }
        .row {
            display: flex;
        }
        .upload-btns {
            .upload-choose {
                display: flex;
                .info-icons {
                    margin-left: 10px;
                }
            }
            label {
                position: relative;
            }
            .name {
                position: absolute;
                top: 120%;
                left: 0;

                width: 250px;

                color: black;
            }
        }
        .upload-btn {
            margin-top: 0.75rem;
            margin-right: 1rem;
        }
    }
</style>
