<template>
    <div class="login-footer">
        <div class="login-footer--container">
            <common-button
                class="common-button--gray-border common-button--small"
                tag="nuxt-link"
                to="/"
            >
                <img src="@/assets/images/icon/left-arrow-icon.svg" />
                Вернуться на сайт
            </common-button>
            <div class="login-footer--manager-call">
                <img src="@/assets/images/icon/phone-icon.svg" />
                <div class="login-footer--manager-call-text">
                    <span class="forDesktop">Связаться с менеджером:</span>
                    <span class="forMobile">Связь с менеджером:</span>
                    <a
                        class="green"
                        :href="`tel:${managerPhone}`"
                    >{{ managerPhone }}</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';

import CommonButton from '@/components/common/CommonButton.vue';
import { managerPhone } from '~/src/utils/helpers/site-settings';
import { validPhone } from '~/src/utils/helpers/functions';

export default Vue.extend({
    name: 'LoginFooter',

    components: {
        CommonButton,
    },

    computed: {
        managerPhone(): string {
            return validPhone(managerPhone);
        },
    },
});
</script>

<style scoped lang="scss">
.login-footer {
    margin-top: auto;
    padding: 45px 0;

    border-top: 1px solid $light-gray-ninth;

    &--container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 525px;
        margin: 0 auto;
    }

    &--manager-call {
        display: flex;
        align-items: center;

        font-size: 14px;
        font-weight: 700;
        color: $light-gray;

        img {
            margin-right: 15px;
        }
    }

    &--manager-call-text {
        line-height: 1.45;

        a {
            display: block;
        }
    }

    @include tablet_landscape {
        padding: 40px 0;

        &--container {
            width: 430px;
        }
    }

    @include tablet {
        padding: 34px 0;

        &--container {
            width: 430px;
        }
    }

    @include mobile {
        overflow: hidden;
        padding: 30px 0;

        &--container {
            width: 90%;
            min-width: 310px;
            max-width: 400px;
        }

        &--manager-call {
            font-size: 13px;

            img {
                display: none;
            }
        }
    }
}
</style>
