<template>
    <form
        class="login-default"
        @submit.prevent="login"
    >
        <common-input
            v-model="email"
            :error="emailError"
            :disabled="loading"
            label="Почтовый адрес / логин"
        />
        <div class="row login-forgot">
            <nuxt-link
                to="/restore-password"
                class="input-name"
                tabindex="-1"
            >
                Забыли пароль?
            </nuxt-link>
        </div>
        <common-input
            v-model="password"
            :error="passwordError"
            :disabled="loading"
            type="password"
            label="Пароль"
        />
        <div class="row login-buttons">
            <common-button
                tag="nuxt-link"
                to="/registration"
                class="common-button--responsive common-button--gray"
            >
                Регистрация
            </common-button>
            <common-button
                tag="button"
                type="submit"
                class="common-button--responsive common-button--green"
                :loading="loading"
            >
                Войти
            </common-button>
        </div>
    </form>
</template>

<script lang="ts">
import Vue from 'vue';
import { required, email } from 'vuelidate/lib/validators';

import CommonInput from '@/components/common/CommonInput.vue';
import CommonButton from '@/components/common/CommonButton.vue';
import { LOGIN_REQUIRED_ERROR, PASSWORD_REQUIRED_ERROR, EMAIL_FORMAT_ERROR, INVALID_DATA } from '~/src/utils/errors-texts';
import { TStringOrBoolean, IObjectAnyProps } from '~/src/utils/interfaces';
import { ILoginErrors } from '~/src/utils/interfaces/auth';

export default Vue.extend({
    name: 'LoginDefault',

    components: {
        CommonInput,
        CommonButton,
    },

    data: () => ({
        email: '',
        password: '',
        loading: false,
        requestErrors: {} as ILoginErrors,
    }),

    validations: {
        email: {
            required,
            email,
        },
        password: {
            required,
        },
    },

    computed: {
        emailError(): TStringOrBoolean {
            if (this.$v.email.$dirty) {
                if (!this.$v.email.required) {
                    return LOGIN_REQUIRED_ERROR;
                }
                else if (!this.$v.email.email) {
                    return EMAIL_FORMAT_ERROR;
                }
            }
            if (this.requestErrors.email) {
                return this.requestErrors.email;
            }
            return false;
        },

        passwordError(): TStringOrBoolean {
            if (this.$v.password.$dirty) {
                if (!this.$v.password.required) {
                    return PASSWORD_REQUIRED_ERROR;
                }
            }
            else if (this.requestErrors.password) {
                return this.requestErrors.password;
            }
            return false;
        },
    },

    methods: {
        login(): any {
            if (this.$v.$invalid) {
                this.$v.$touch();
                return false;
            }
            this.loading = true;

            this.$emit('login', {
                email: this.email,
                password: this.password,
            }, (response: IObjectAnyProps) => {
                this.loading = false;

                if (response.RESPONSE_STATUS !== 200) {
                    this.requestErrors = {
                        email: INVALID_DATA,
                        password: true,
                    };
                }
            });
        },
    },
});
</script>

<style lang="scss" scoped>
.login-default {
    width: 100%;
    margin-top: 83px;
    .input-name {
        position: relative;
        z-index: $z-1;

        margin-bottom: 9px;

        font-size: 14px;
        font-weight: 600;
        letter-spacing: -0.2px;
        color: $light-gray-second;
        text-decoration: none;

        transition: color $common-transition-duration;

        &:hover {
            opacity: 1;
            color: $green;
        }
    }
    label {
        display: block;
    }
    .common-button {
        width: 47%;
    }
    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 14px;
        &.login-forgot {
            justify-content: flex-end;

            margin-bottom: -26px;
        }
    }

    @include tablet_landscape {
        margin-top: 75px;
        .input-name {
            padding-left: 16px;
        }
        .row {
            margin-top: 11px;
        }
        .common-button {
            width: 44%;
        }
    }

    @include tablet {
        margin-top: 57px;
        .row {
            margin-top: 14px;
        }
    }

    @include mobile {
        width: 90%;
        min-width: 315px;
        max-width: 400px;
        margin-top: 47px;

        .row {
            margin-top: 8px;
        }

        .login-buttons {
            margin-top: 24px;
        }
    }
}
</style>
