.swiper-pagination-bullets {
    .swiper-pagination-bullet {
        width: 6px;
        height: 6px;
        margin: 0 2px;

        background: $dark-gray;

        &.swiper-pagination-bullet-active {
            background: $green;
        }
    }
}
