.common-section-title {
    width: 100%;
    padding-bottom: 24px;

    border-bottom: 1px solid $border-color-gray;

    h2 {
        font-size: 16px;
        line-height: 100%;
        font-weight: 700;
    }
}

@include razr1259 {
    .common-section-title {
        padding-bottom: 14px;

        h2 {
            font-size: 14px;
        }
    }
}

@include razr767 {
    .common-section-title {
        padding-bottom: 12px;

        h2 {
            font-size: 16px;
        }
    }
}
