
.common-input__error {
    position: absolute;
    bottom: 90px;
    left: 50%;
    z-index: $z-10;

    width: fit-content;
    padding: 9px 14px;

    color: $white;

    background-color: $black;
    border-radius: 6px;

    transform: translateX(-50%);

    & > li {
        &:not(:last-of-type) {
            margin-bottom: 8px;
        }
    }
    ul {
        margin-top: 8px;
        padding-left: 17px;

        list-style: disc;
        li {
            &:not(:last-of-type) {
                margin-bottom: 5px;
            }
        }
    }

    span {
        font-size: 14px;
        line-height: 130%;
        font-weight: 600;
        color: $white;
        white-space: nowrap;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: -3.5px;
        left: calc(50% - 7px);
        z-index: $z-negative;

        width: 15px;
        height: 15px;

        background-color: $black;

        transform: rotate(45deg);
    }

    @include tablet_landscape {
        span {
            line-height: 1.13;
        }
    }
}
