.common-page-title {
    position: relative;

    display: inline-block;

    margin-bottom: 42px;
    padding-left: 48px;

    font-size: 34px;
    line-height: 100%;
    font-weight: 700;

    &::before {
        content: '';
        position: absolute;
        top: 5px;
        left: 0;

        width: 24px;
        height: 24px;

        background-repeat: no-repeat;
        background-size: contain;
    }

    &--profile {
        &::before {
            background-image: url('@/assets/images/icon/user-green-icon.svg');
        }
    }

    &--history {
        &::before {
            background-image: url('@/assets/images/icon/history-nav-green-icon.svg');
        }
    }

    &--products {
        &::before {
            background-image: url('@/assets/images/icon/shopping-basket-green-icon.svg');
        }
    }
}

@include razr1259 {
    .common-page-title {
        padding-left: 38px;

        font-size: 24px;

        &::before {
            top: 3px;

            width: 22px;
            height: 22px;
        }
    }
}
