$border-width: 7px;

.common-tooltip {
    img {
        margin-bottom: 10px;
    }

    &__title {
        margin-bottom: 2px;

        font-size: 16px;
        line-height: 22px;
        font-weight: 600;
        color: $black-second;
    }

    &__text {
        font-size: 14px;
        line-height: 1.5;
        font-weight: 600;
        color: $light-gray;
    }

    &__link {
        display: block;

        font-size: 14px;
        line-height: 140%;
        font-weight: 700;
        color: $green;
        text-decoration: none;
    }
}

.tooltip {
    z-index: $z-tooltip;

    display: block !important;

    background: $white;
    border-radius: 18px;
    box-shadow: 4px 4px 44px rgba(0, 0, 0, 0.08);

    .tooltip-inner {
        padding: 26px;

        color: $black-second;
    }

    .tooltip-arrow {
        position: absolute;
        z-index: $z-1;

        width: 0;
        height: 0;
        margin: $border-width;

        border-style: solid;
        border-color: $white;
    }

    &[x-placement^="top"] {
        margin-bottom: $border-width;

        .tooltip-arrow {
            bottom: -$border-width;
            left: calc(50% - 7px);

            margin-top: 0;
            margin-bottom: 0;

            border-width: $border-width $border-width 0 $border-width;
            border-right-color: transparent !important;
            border-bottom-color: transparent !important;
            border-left-color: transparent !important;
        }
    }

    &[x-placement^="bottom"] {
        margin-top: $border-width;

        .tooltip-arrow {
            top: -$border-width;
            left: calc(50% - 7px);

            margin-top: 0;
            margin-bottom: 0;

            border-width: 0 $border-width $border-width $border-width;
            border-top-color: transparent !important;
            border-right-color: transparent !important;
            border-left-color: transparent !important;
        }
    }

    &[x-placement^="right"] {
        margin-left: $border-width;

        .tooltip-arrow {
            top: calc(50% - 7px);
            left: -$border-width;

            margin-right: 0;
            margin-left: 0;

            border-width: $border-width $border-width $border-width 0;
            border-top-color: transparent !important;
            border-bottom-color: transparent !important;
            border-left-color: transparent !important;
        }
    }

    &[x-placement^="left"] {
        margin-right: $border-width;

        .tooltip-arrow {
            top: calc(50% - 7px);
            right: -$border-width;

            margin-right: 0;
            margin-left: 0;

            border-width: $border-width 0 $border-width $border-width;
            border-top-color: transparent !important;
            border-right-color: transparent !important;
            border-bottom-color: transparent !important;
        }
    }

    &.popover {
        $color: #f9f9f9;

        .popover-inner {
            color: $black-second;

            background: $white;
            border-radius: 18px;
            box-shadow: (4px 4px 44px rgba(0, 0, 0, 0.08));

        }

        .popover-arrow {
            border-color: $white;
        }
    }

    &.popover-prompt {
        background: $black;
        box-shadow: none;

        .popover-inner {
            padding: 11px 40px;

            font-size: 14px;
            font-weight: 700;
            color: $white;

            background: $black;
            border-radius: 6px;
        }

        .popover-arrow {
            border-color: $black;

            transform: scale(0.8);
            transform-origin: top;
        }
    }

    &[aria-hidden='true'] {
        visibility: hidden;
        opacity: 0;
        transition: opacity .15s, visibility .15s;
    }

    &[aria-hidden='false'] {
        visibility: visible;
        opacity: 1;
        transition: opacity .15s;
    }
}

// additional classes

.tooltip {
    &.card-alert-counter__popover, &.card-price-in-stock__popover {
        .tooltip-inner {
            padding: 18px 28px 24px;
        }
    }
}

@include razr1259 {
    .tooltip {
        &.card-alert-counter__popover, &.card-price-in-stock__popover {
            .popover-inner {
                padding: 18px 22px;
            }
        }
    }
}