body {
    .scrollbar-track {
        right: 8px;

        width: 5px;

        background: transparent;

        .scrollbar-thumb {
            width: 100%;

            background: $light-gray-third;
        }

        @include razr1259 {
            right: 5px;
        }
    }
}
