.forDesktop {
    @include mobile {
        display: none !important;
    }
}

.forTablet {
    display: none;
    @include tablet_landscape {
        display: block;
    }
}

.forMobile {
    display: none;
    @include mobile {
        display: block;
    }
}

.forMobile_flex {
    display: none !important;
    @include mobile {
        display: flex !important;
    }
}

@include razr1259 {
    .container {
        width: 95.4%;
        overflow: hidden;
    }
}

@include tablet {
    .container {
        width: 94%;
    }
}
@include mobile {
    .container {
        width: 90%;
    }
}
