@keyframes rotate {
    0% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(390deg);
    }
}

@keyframes rotate_center {
    0% {
        transform: translate(-50%, -50%) rotate(30deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(390deg);
    }
}
