.modal-content {
    &--sm {
        width: 580px;
    }

    &-header {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 74px;

        border-bottom: 1px solid $border-color-gray;

        h3 {
            font-size: 20px;
            line-height: 28px;
            font-weight: bold;
            text-align: center;
        }
    }

    &-body {
        padding: 33px 36px 46px;

        text-align: center;
    }

    &__title {
        font-size: 20px;
        line-height: 1.2;
        font-weight: 700;
        text-align: center;
    }

    &__text {
        width: 100%;
        max-width: 353px;

        font-size: 16px;
        line-height: 1.3;
        text-align: center;
        color: $modal-color-gray;

        span {
            color: $green;
            text-decoration: underline;
        }

        a {
            font-weight: 700;
        }
    }

    @include razr1259 {
        &--sm {
            width: 414px;
        }

        &-header {
            height: 60px;

            h3 {
                font-size: 16px;
            }
        }

        &-body {
            padding: 24px 18px 32px;
        }

        &__title {
            font-size: 16px;
        }
    }

    @include razr767 {
        &--sm {
            width: 95vmin;
            max-width: 355px;
        }

        &-header {
            height: 74px;

            h3 {
                font-size: 20px;
            }
        }

        &-body {
            padding: 24px 13px 27px;
        }

        &__title {
            font-size: 21px;
            font-weight: 600;
        }
    }
}
