
a{
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}

.main-container{
    width: to_rem(1340px);
    max-width: 1340px;
    margin: 0 auto;
}


.forMobile{
    display: none;
}

.page-title{
    display: flex;
    align-items: center;

    margin-bottom: 1rem;
    margin-left: 2.8rem;

    font-size: to_rem(24px);
    font-weight: 700;
    color: $mainDarkBlue;
}


.app-topic-title{
    display: flex;
    align-items: center;

    width: 100%;
    min-height: 58px;
    padding: 1.1rem 1.8rem;

    font-size: to_rem(20px);
    color: $mainTextColor;

    background: var(--platform-main-color);

    &.white{
        color: black;

        background: white;
    }
    a{
        margin-left: 1rem;

        font-size: to_rem(14px);
        color: $mainPurple;
    }
}

.app-labels-imgs{
    display: flex;
    align-items: center;

    font-size: to_rem(24px);
    color: $red;

    b {
        margin: 0 .5rem;
    }

    img{
        height: 1.2rem;
    }
}

.app-input{
    width: 100%;
    height: 1.8rem;
    padding: 0 0.5rem;

    color: black;

    background: none;
    border: 1px solid $gray;
    border-radius: 0.3rem;

    &::placeholder{
        color: $copyGray;
    }

    &.white{
        background: white;
    }
}

.app-error {
    font-size: to_rem(14px);
    font-weight: 400;
    color: red;
}
.app-input-error {
    position: absolute;
    top: 101%;
    left: 0;

    font-size: to_rem(14px);
    font-weight: 400;
    color: red;
}

textarea.app-input{
    padding: 0.5rem;
}

.blue-text{
    font-weight: 700;
    color: $mainBlue;
}

.app-button {
    .lds-line {
        height: 100% !important;
    }
    .lds-line-before, .lds-line-after {
        height: 0.3rem;
        margin: 0;
    }
}

.app-radio{
    display: flex;
    align-items: center;

    font-size: to_rem(14px);

    cursor: pointer;
    input{
        display: none;

        margin-top: 0;

        & + .box {
            display: flex;
            justify-content: center;
            align-items: center;

            box-sizing: content-box;


            width: 16px;
            height: 16px;
            margin: 0 .9rem 0 0;

            border: 1px solid $gray;
            border-radius: 50%;

            &:after {
                content: '';

                width: 50%;
                height: 50%;

                background: black;
                border-radius: 50%;

                opacity: 0;
                transition: opacity 0.3s;
            }
        }

        &:checked + .box {
            &:after {
                opacity: 1;
            }
        }
    }
}

.app-checkbox{
    display: flex;
    align-items: center;

    width: fit-content;

    font-size: to_rem(14px);

    cursor: pointer;
    &[data-disabled]{
        opacity: 0.5;

        pointer-events: none;
    }
    input{
        display: none;

        margin-top: 0;

        & + .box {
            display: flex;
            justify-content: center;
            align-items: center;

            box-sizing: content-box;


            min-width: 17px;
            min-height: 17px;
            margin: 0 .8rem 0 0;

            border: 1px solid $gray;

            &:after {
                content: '';

                width: 12px;
                height: 12px;

                background: url("~@/assets/img/icons/check_icon.png") no-repeat center center/contain;

                opacity: 0;
                transition: opacity 0.3s;
            }
        }

        &:checked + .box {
            &:after {
                opacity: 1;
            }
        }
    }
}

.app-tool-btn{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 1.9rem;
    height: 1.9rem;
    margin: 0 0.3rem;

    font-size: to_rem(18px);
    color: white;

    border-radius: 4px;

    cursor: pointer;
    transition: background .2s, box-shadow .2s;

    img{
        width: to_rem(18px);
        height: to_rem(18px);
    }

    &:hover{
        box-shadow: 1px 1px 3px rgb(0 0 0 / 40%);
    }

    &.pre,  &.next {
        width: 2.5rem;
    }

    &.next {
        transform: rotate(180deg);
    }

    &.blue {
        background: $mainBlue;
    }

    &.purple {
        background: $mainPurple;
    }

    &.gray {
        background: $copyGray;
    }

    &.red {
        background: $red;
    }

    &.disabled {
        background: #7d7d7d;

        pointer-events: none;
    }

    &.transparent{
        background: transparent;
    }

    &.active{
        background: $activeBtn;
        box-shadow: 1px 1px 3px 1px rgb(0 0 0 / 50%);
    }

}

.disposer-app-title{
    margin-bottom: 30px;

    font-size: to_rem(40px);
    letter-spacing: 0.025rem;
}

.disposer-app-topic-title {
    padding-bottom: to_rem(16px);

    font-size: to_rem(14px);
    font-weight: 700;
    letter-spacing: 0.025rem;
}

.disposer-app-label{
    position: relative;

    display: block;

    margin-bottom: to_rem(20px);

    font-size: to_rem(14px);
    font-weight: 700;
    letter-spacing: 0.025rem;
    .app-select {
        margin-top: 1rem;
    }
    &[data-disabled] {
        opacity: 0.5;

        pointer-events: none;
    }
}

.disposer-app-input{
    display: block;

    width: 100%;
    height: to_rem(35px);
    margin-top: 1rem;
    padding: 0 .6rem;

    font-size: to_rem(14px);

    background: white;
    border: 1px solid $gray;
    border-radius: 0.2rem;

    &::placeholder{
        color: #929292;
    }
}

.disposer-app-checkbox {
    display: flex;
    align-items: center;

    font-size: to_rem(14px);
    color: grey;

    cursor: pointer;
    &[data-disabled] {
        opacity: 0.5;

        pointer-events: none;
    }
    input{
        margin-top: 0;

        appearance: none;

        & + .box {
            position: relative;

            display: flex;
            justify-content: space-between;
            align-items: center;

            box-sizing: content-box;

            min-width: 17px;
            min-height: 17px;
            margin: 0 .8rem 0 0;

            background-color: #fff;
            border: 1px solid $gray;
            border-radius: 4px;
            &:after {
                content: '';
                position: absolute;
                left: 3px;

                width: 20px;
                height: 20px;

                background: url("~@/assets/img/icons/disposer/disp-checkbox-check_icon.svg") no-repeat center center/contain;

                opacity: 0;
                transition: opacity 0.15s;
            }
        }

        &:checked + .box {
            background-color: #fff;
            border: 1px solid $gray;
            border-radius: 4px;
            &:after {
                opacity: 1;
            }
        }
        &:disabled + .box{
            background-color: #f9f5f5;
            border: 1px solid $gray;
            border-radius: 4px;
        }
        &:disabled + &:checked + .box {
            background-color: #f9f5f5;
            border: 1px solid $gray;
            border-radius: 4px;
        }
    }
}

.disposer-section{
    margin: 1.1rem 0.2rem;
    &__name{
        margin-bottom: 1rem;

        font-size: to_rem(14px);
        font-weight: 700;
    }
}

.app-disposer-pagination {
    display: flex;
    align-items: center;

    width: fit-content;
    margin-left:  auto;

    li {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 3rem;
        height: 3rem;
        margin: 0 0.5rem;

        font-size: 14px;
        font-weight: 700;
        text-decoration: none;

        border: 2px solid black;

        &.prev-btn, &.next-btn {
            display: none;
        }

        &.active {
            color: white;

            background: black;
        }
    }
}

@media screen and (max-width: 1024px){
    .forDesktop{
        display: none !important;
    }
}

@include mobile_or_P{
    .forMobile{
        display: block;
    }
    .main-container{
        width: 100%;
    }

    .page-title{
        margin-left: 1rem;
    }

    .app-topic-title{
        padding: 1.1rem 1.2rem;
    }

    .app-checkbox{
        font-size: 1rem;
    }

    .app-radio{
        font-size: 1rem;
        input {
            & + .box{
                width: 15px;
                height: 15px;
                margin: 0 1rem 0 0;
            }
        }
    }
}


@include razr767{

    .app-topic-title{
        min-height: 3.5rem;
        padding: 0.5rem 1.9rem;

        font-size: 14px;

        a{
            font-size: 12px;
        }
    }

    .app-input{
        height: 2.5rem;
        margin-right: 2px !important;
        margin-left: 2px !important;

        font-size: 14px;
    }

    .app-tool-btn{
        width: 2.1rem;
        height: 2.1rem;
        margin: 0 0.5rem;
        &.pre, &.next{
            width: 3rem;
        }
    }

    .app-checkbox, .app-radio{
        font-size: 16px;
        input{
            &+.box{
                width: 13px;
                height: 13px;

                border-width: 2px;
            }
        }
    }
}
