@mixin razr1920 {
    @media screen and (max-width: 1920px) {
        @content;
    }
}

@mixin razr1680 {
    @media screen and (max-width: 1680px) {
        @content;
    }
}

@mixin razr1620 {
    @media screen and (max-width: 1620px) {
        @content;
    }
}

@mixin razr1600 {
    @media screen and (max-width: 1600px) {
        @content;
    }
}

@mixin razr1536 {
    @media screen and (max-width: 1536px) {
        @content;
    }
}

@mixin razr1440 {
    @media screen and (max-width: 1440px) {
        @content;
    }
}

@mixin razr1400 {
    @media screen and (max-width: 1400px) {
        @content;
    }
}

@mixin razr1366 {
    @media screen and (max-width: 1366px) {
        @content;
    }
}

@mixin razr1280 {
    @media screen and (max-width: 1280px) {
        @content;
    }
}

@mixin razr1240 {
    @media screen and (max-width: 1240px) {
        @content;
    }
}

@mixin razr1200 {
    @media screen and (max-width: 1200px) {
        @content;
    }
}

@mixin razr1120 {
    @media screen and (max-width: 1120px) {
        @content;
    }
}

@mixin razr1100 {
    @media screen and (max-width: 1100px) {
        @content;
    }
}

@mixin razr1024 {
    @media screen and (max-width: 1024px) {
        @content;
    }
}

@mixin razr960 {
    @media screen and (max-width: 960px) {
        @content;
    }
}

@mixin razr900 {
    @media screen and (max-width: 900px) {
        @content;
    }
}

@mixin razr850 {
    @media screen and (max-width: 850px) {
        @content;
    }
}

@mixin razr768 {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin razr768L {
    @media screen and (max-width: 768px) and (orientation: landscape) {
        @content;
    }
}

@mixin razr767 {
    @media screen and (max-width: 767px) {
        @content;
    }
}

@mixin razr767P {
    @media screen and (max-width: 767px) and (orientation: portrait) {
        @content;
    }
}

@mixin razr710 {
    @media screen and (max-width: 710px) {
        @content;
    }
}

@mixin razr680 {
    @media screen and (max-width: 680px) {
        @content;
    }
}

@mixin razr640 {
    @media screen and (max-width: 640px) {
        @content;
    }
}

@mixin razr600 {
    @media screen and (max-width: 600px) {
        @content;
    }
}

@mixin razr570 {
    @media screen and (max-width: 570px) {
        @content;
    }
}

@mixin razr530 {
    @media screen and (max-width: 530px) {
        @content;
    }
}

@mixin razr510 {
    @media screen and (max-width: 510px) {
        @content;
    }
}

@mixin razr480 {
    @media screen and (max-width: 480px) {
        @content;
    }
}

@mixin razr440 {
    @media screen and (max-width: 440px) {
        @content;
    }
}

@mixin razr400 {
    @media screen and (max-width: 400px) {
        @content;
    }
}

@mixin razr420 {
    @media screen and (max-width: 420px) {
        @content;
    }
}

@mixin razr360 {
    @media screen and (max-width: 360px) {
        @content;
    }
}

@mixin razr320 {
    @media screen and (max-width: 320px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
        @content;
    }
}

@mixin portrate {
    @media screen and (orientation: portrait) {
        @content;
    }
}


@mixin landscape {
    @media screen and (orientation: landscape) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: 1023px), screen and (max-width: 900px) and (orientation: landscape) {
        @content;
    }
}

@mixin mobile_and_l {
    @media screen and (max-width: 1023px) and (orientation: landscape) {
        @content;
    }
}

@mixin mobile_or_P {
    @media screen and (max-width: 1023px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 900px) and (orientation: landscape) {
        @content;
    }
}

@mixin devices {
    @media screen and (max-width: 1023px) {
        @content;
    }
}

@mixin bef_aft {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    display: block;
}
