body{
    width: 100%;
    margin: 0;
    padding: 0;
}

p, h1, h2, h3, h4, h5, h6{
    margin: 0;
}

*{
    box-sizing: border-box;

    -webkit-appearance: none;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

select, [type='range']{
    -webkit-appearance: auto;
}
a:hover, a:active, a:focus {
    outline: 0;
}

table{
    border-collapse: collapse;
}

select{
    outline: none;

    cursor: pointer;
}
