$BaseFontSize: 16px;

$mainBackgroundColor: #f3f8fe;
$lightBlue: #76d4fa;
$mainLightBlue: #00abf0;
$mainBlue: #0f9bdc;
$mainDarkBlue: #285a9b;
$activeBtn: #01608c;
$mainPurple: #5933ad;
$mainTextColor: #fff;
$heavyLightGray: #fbfbfb;
$lightGray: #e8e8e8;
$gray: #a8a9ab;
$darkGray: #3f3f3f;
$dark: #222d30;
$copyGray: #7d7d7d;
$red: #f40000;
$lightYellow: #ffffa9;
$yellow: #f2dd8e;
$green: #308f37;
