@import "reset";
@import "fonts";
@import "variables";
@import "functions";
@import "mixins";

@import "common";
@import "multiselect";
@import "tooltip";
@import "awn";


@media screen and (max-width: 1500px){
    html{
        font-size: 15px;
    }
}
@media screen and (max-width: 1400px){
    html{
        font-size: 14px;
    }
}
@media screen and (max-width: 1280px){
    html{
        font-size: 13px;
    }
}
@media screen and (max-width: 1100px){
    html{
        font-size: 11px;
    }
}

@include mobile_or_P{
    html{
        font-size: 2.08vmin;
    }
}

@include razr767{
    html{
        font-size: 3.68vmin;
    }
}
