<template>
    <div class="disposer-participants">
        <eventNav />

        <div class="disposer-app-title">
            {{ isExternal? 'External': 'Internal' }} Participants
        </div>

        <div class="main">
            <label class="disposer-app-checkbox">
                <input
                    v-model="showActivity"
                    type="checkbox"
                    name="updateMethod"
                    @change="toggleParticipantsActiveTime"
                />
                <div class="box"></div>
                Show active participants time
            </label>

            <div class="participants-table">
                <div class="row-tr row-tr-head">
                    <div class="number">
                        Number
                    </div>

                    <div class="first-name">
                        First name
                    </div>

                    <div class="last-name">
                        Last name
                    </div>

                    <div class="email">
                        Email
                    </div>

                    <div class="active-inactive active-inactive-btns-head">
                        <app-button
                            @click="toggleAllStatus(1)"
                        >
                            Active All
                        </app-button>

                        <app-button
                            @click="toggleAllStatus(0)"
                        >
                            Inactive All
                        </app-button>
                    </div>

                    <div class="edit-delete">
                        Edit / Delete
                    </div>
                </div>

                <div
                    v-for="participant in participantsList"
                    :key="participant.id"
                    class="row-tr"
                >
                    <div class="number">
                        <div class="current-number">
                            <div class="number-input">
                                <vue-numeric-input
                                    v-model="participant.order"
                                    :min="1"
                                    controls-type="updown"
                                    @input="changeOrder(participant.id)"
                                />
                            </div>
                        </div>
                    </div>

                    <div class="first-name">
                        {{ participant.firstName }}
                    </div>

                    <div class="last-name">
                        {{ participant.lastName }}
                    </div>

                    <div class="email">
                        {{ participant.email }}
                    </div>

                    <div class="active-inactive active-inactive-btns">
                        <app-button
                            :class="{inactive: !+participant.status}"
                            @click="toggleStatus(participant, 1)"
                        >
                            Active
                        </app-button>

                        <app-button
                            :class="{inactive: +participant.status}"
                            @click="toggleStatus(participant, 0)"
                        >
                            Inactive
                        </app-button>
                    </div>

                    <div class="edit-delete edit-delete-align">
                        <app-actions
                            :edit="() => editParticipant(participant)"
                            :trash="() => deleteParticipant(participant)"
                        />
                    </div>
                </div>
            </div>

            <div class="ext-participants-btns">
                <div class="btn">
                    <app-button
                        tag="router-link"
                        :to="{name: `add-${pathPrefix}-participant`}"
                        class="add-participant-btn"
                    >
                        Add Participants
                    </app-button>
                </div>

                <div
                    v-if="isExternal"
                    class="btn"
                >
                    <app-button
                        class="add-section-btn"
                        @click="addSection"
                    >
                        Add Section
                    </app-button>
                </div>

                <a :href="templateLink" download="template.xlsx" class="link">Download template</a>

                <div
                    v-if="isExternal"
                    class="btn"
                >
                    <app-file-input
                        class="add-section-btn"
                        :load-file="createFromFile"
                        accept=".xls,.xlsx"
                    >
                        Create from file
                    </app-file-input>
                </div>
            </div>
        </div>

        <div
            v-if="sectionsList.length && isExternal"
            class="edit-section"
        >
            <div class="disposer-app-topic-title">
                Edit section
            </div>

            <template>
                <app-section
                    v-for="section in sectionsList"
                    :key="section.id"
                    :save="() => saveSection(section)"
                    :delete-handler="() => deleteSection(section)"
                >
                    <div class="section">
                        <div class="section-name">
                            <label class="disposer-app-label">
                                Name Section
                                <input
                                    v-model="section.name"
                                    type="text"
                                    class="disposer-app-input title-input"
                                />
                            </label>
                        </div>

                        <div class="select-participants">
                            <label
                                v-for="participant in section.participants"
                                :key="participant.id"
                                class="disposer-app-checkbox"
                            >
                                <input
                                    v-model="participant.status"
                                    type="checkbox"
                                    name="updateMethod"
                                    @change="updateParticipants(section, participant)"
                                />
                                <div class="box"></div>
                                {{ participant.name }}
                            </label>
                        </div>
                    </div>
                </app-section>
            </template>
        </div>
    </div>
</template>

<script>
    import eventNav from '@/components/disposer/pages/event/event-nav.vue';
    import appSection from '@/components/disposer/app/app-section';
    import appButton from '@/components/disposer/app/app-button';
    import appActions from '@/components/disposer/app/app-actions';
    import AppFileInput from '@/components/disposer/app/app-file-input/index';
    import VueNumericInput from 'vue-numeric-input';

    import { post } from '@/utils/http-helper';
    import { changeAllPartStatus, createPart, changePartStatus, savePartSection, deletePartSection, changePartOrder, deleteParticipant } from '@/utils/disposer/notifications-text-helper';

    const DELETE_PARTICIPANT = '/participant/delete';
    const SET_ACTIVITY = '/participant/set-activity';
    const CHANGE_STATUS = '/participant/change-status';
    const CHANGE_ORDER = '/participant/change-order';
    const CREATE_FROM_FILE = '/participant/create-from-file';
    const CREATE_SECTION = '/section-participant/create';
    const RENAME_SECTION = '/section-participant/rename';
    const DELETE_SECTION = '/section-participant/delete';
    const UPDATE_PARTICIPANTS = '/section-participant/update-participants';
    const sectionTemplate = (id) => ({
      id,
      name: '',
    });
    import { BASE_URL } from '@/utils/http-helper';

    export default {
        name: 'disposer-participants',

        components: {
            AppFileInput,
            eventNav,
            appSection,
            appButton,
            appActions,
            VueNumericInput,
        },

        data: () => ({
            participantsList: [],
            sectionsList: [],
            showActivity: false,
            error: '',
        }),

        computed: {
            participants(){
              return this.$store.getters['disposerParticipants/get'];
            },

            sections(){
              return this.$store.getters['disposerParticipants/getSections'];
            },

            role() {
              return this.$route.meta.role;
            },

            isExternal() {
              return this.role === 6;
            },

            pathPrefix() {
              return this.isExternal? 'external': 'internal';
            },

            eventId() {
              return +this.$route.params.id;
            },

            templateLink() {
                return `${BASE_URL}/platforms/default/template.xlsx`;
            },
        },

        watch: {
          role() {
            this.getParticipantsInfo();
          },
        },

        created() {
          this.getParticipantsInfo();
        },

        methods: {
            async getParticipantsInfo() {
              await this.$store.dispatch('disposerParticipants/get', { eventId: this.eventId, role: this.role });
              await this.$store.dispatch('disposerParticipants/getSections', { eventId: this.eventId, type: this.role });
              this.participantsList = this.participants.participants.map(p => {
                p.order = +p.order;
                return p;
              });
              this.showActivity = this.participants.show_activity;
              this.sectionsList = this.sections;
            },
            async toggleAllStatus(status) {
                this.$awn.async(post(CHANGE_STATUS, {
                  event_id: this.eventId,
                  status,
                  type: this.role,
                }), response => {
                  if (response.status) {
                    this.participantsList = this.participantsList.map(p => {
                      p.status = status;
                      return p;
                    });
                    this.$awn.success(changeAllPartStatus);
                  }
                });
            },

            addSection() {
                const newSection =  { ...sectionTemplate(Math.random()) };
                newSection.participants = this.participantsList.map(p => {
                  return {
                    id: p.id,
                    status: +p.status,
                    name: p.firstName + p.lastName,
                  };
                });
                this.sectionsList.push(newSection);
            },

            createFromFile(file) {
                const fd = new FormData;
                fd.append('file', file);
                fd.append('event_id', this.eventId);

                this.$awn.async(
                    post(CREATE_FROM_FILE, fd),
                    (response) => {
                        if (response.data.url) {
                            window.open(response.data.url, '_blank');
                            this.getParticipantsInfo();
                            this.$awn.success(createPart);
                        }
                    },
                );
            },

            async saveSection(section) {
                if (section.id>=1) {
                    this.renameSection(section);
                    return;
                }
                const obj = {
                  event_id: this.eventId,
                  name: section.name,
                };
                obj.participants = section.participants.map(p => {
                  return {
                    user_id: p.id,
                    status: +p.status,
                  };
                });
                this.$awn.async(post(CREATE_SECTION, obj), response => {
                  if (response.status) {
                    section.id = response.data.id;
                    this.$awn.success(savePartSection);
                  }
                });
            },
            async deleteSection(section) {
              if (section.id >= 1) {
                this.$awn.async(post(DELETE_SECTION, {
                  id: section.id,
                }), response => {
                  if (response.status) {
                    this.sectionsList = this.sectionsList.filter(s => s.id !== section.id);
                    this.$awn.success(deletePartSection);
                  }
                });
              }
              this.sectionsList = this.sectionsList.filter(s => s.id !== section.id);
            },
            renameSection(section) {
              this.$awn.async(post(RENAME_SECTION, {
                id: section.id,
                name: section.name,
              }), response => {
                if (response.status) {
                  this.$awn.success(savePartSection);
                }
              });
            },
            updateParticipants(section, participant) {
              if (section.id<1) {
                return;
              }
              this.$awn.async(post(UPDATE_PARTICIPANTS, {
                event_id: this.eventId,
                section_id: section.id,
                user_id: participant.id,
                status: +participant.status,
              }), response => {
                if (response.status) {
                  this.$awn.success(savePartSection);
                } else  {
                  participant.status = false;
                }
              });
            },

            editParticipant(participant) {
                this.$router.push({ name: `edit-${this.pathPrefix}-participant`, params: { participantId: participant.id } });
            },

            async deleteParticipant(participant) {
              this.$awn.async(post(DELETE_PARTICIPANT, {
                event_id: this.eventId,
                id: +participant.id,
              }), response => {
                if (response.status) {
                  this.participantsList = this.participantsList.filter(p => +p.id !== +participant.id);
                  this.$awn.success(deleteParticipant);
                }
              });
            },
            async toggleStatus(participant, status) {
              this.$awn.async(post(CHANGE_STATUS, {
                id: +participant.id,
                status: +status,
                event_id: this.eventId,
                type: this.role,
              }), response => {
                if (response.status) {
                  participant.status = status;
                  this.$awn.success(changePartStatus);
                }
              });
            },
            toggleParticipantsActiveTime() {
                post(SET_ACTIVITY, {
                  event_id: this.eventId,
                  type: this.role,
                  status: +this.showActivity,
                });
            },
            changeOrder(id) {
              clearTimeout(window.CHANGE_ORDER_TM);
              window.CHANGE_ORDER_TM = setTimeout(()=> {
                const index = this.participantsList.findIndex(p => +p.id === +id);
                this.$awn.async(post(CHANGE_ORDER, {
                  id,
                  order: this.participantsList[index].order,
                }), response => {
                  if (response.status) {
                    this.$awn.success(changePartOrder);
                  }
                });
              }, 1000);
            },
        },
    };
</script>

<style scoped lang="scss">
    .disposer-participants{
        .main {
            .participants-table {
                padding: 20px 0;

                .row-tr.row-tr-head{
                    background-color: #d0d1d2;
                }

                .row-tr {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    width: to_rem(1300px);
                    max-width: 78vw;
                    height: auto;
                    padding: 10px;

                    background-color: white;
                    border: 1px solid #d0d1d2;

                    .number {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        width: to_rem(50px);

                        input {
                            width: 50px;
                            height: 35px;
                            margin-top: 0;
                        }
                    }

                    .first-name {
                        width: to_rem(210px);
                    }

                    .last-name{
                        width: to_rem(210px);
                    }

                    .email{
                        width: to_rem(150px);

                        word-break: break-all;
                    }

                    .active-inactive {
                        width: to_rem(200px);
                    }

                    .edit-delete {
                        width: to_rem(90px);
                    }

                    .active-inactive-btns {
                        display: flex;

                        padding-top: 5px;

                        .app-button {
                            width: 80px;
                            height: 35px;
                            padding: 5px;
                        }

                        .inactive {
                            background-color: #d0d1d2;
                        }
                    }

                    .active-inactive-btns-head {
                        display: flex;

                        padding-top: 5px;

                        .app-button {
                            width: 77.5px;
                            height: 35px;
                            margin-right: 5px;
                            padding: 5px;
                        }
                    }

                    .edit-delete-align {
                        display: flex;
                        justify-content: flex-end;

                        padding-right: 10px;
                    }
                }
            }

            .ext-participants-btns{
                display: flex;
                align-items: center;

                margin-bottom: to_rem(24px);

                .link {
                    margin-right: to_rem(48px);
                    margin-left: auto;

                    color: #222d30;
                    text-decoration: underline;
                }

                .btn {
                    &:not(:last-of-type) {
                        margin-right: to_rem(24px);
                    }
                }
            }
        }

        .edit-section{
            padding: 30px 0;

            .select-participants {
                padding: 30px 0;
                .disposer-app-checkbox {
                    margin-bottom: 0.5rem;
                }
            }
        }
        .number-input {
            .vue-numeric-input {
                width: 70px !important;
            }
        }
    }
</style>
