<template>
    <div
        v-if="library"
        class="e-library"
    >
        <div class="page-title">
            {{ $t('library', 'E-Library') }}
        </div>

        <template v-if="library">
            <div
                v-for="section in library"
                :key="section.id"
                class="section"
            >
                <div
                    v-if="section.title"
                    class="app-topic-title"
                >
                    {{ section.title }}
                </div>
                <app-information v-if="section.content">
                    <div class="head">
                        <img src="@/assets/img/icons/info.svg" />
                        {{ $t('library_quick_info', 'Quick Info') }}:
                    </div>
                    <p
                        class="view"
                        v-html="section.content"
                    ></p>
                </app-information>

                <app-resources v-if="section.links.length">
                    <div
                        v-for="link of section.links"
                        :key="link.id"
                        class="resource"
                    >
                        <a
                            :href="link.link"
                            target="_blank"
                            @click="sendAnalytic(3, link.id)"
                        >
                            <img src="@/assets/img/icons/link_icon.svg" />
                            {{ link.link }}
                        </a>
                        <p>
                            {{ link.description }}
                        </p>
                    </div>
                </app-resources>

                <app-resources v-if="section.documents.length">
                    <div
                        v-for="document of section.documents"
                        :key="document.id"
                        class="resource"
                    >
                        <a
                            v-if="!document.secured"
                            :href="generateUrl(document.file, ' ')"
                            target="_blank"
                            @click="sendAnalytic(1, document.id)"
                        >
                            <img src="@/assets/img/icons/pdf_icon.svg" />
                            {{ document.name }}
                        </a>
                        <router-link
                            v-else
                            :to="{ name:'view', query: { document_id: document.id, part: 'library' } }"
                            target="_blank"
                            @click.native="sendAnalytic(1, document.id)"
                        >
                            <img src="@/assets/img/icons/pdf_icon.svg" />
                            {{ document.name }}
                        </router-link>
                        <p>
                            {{ document.description }}
                        </p>
                    </div>
                </app-resources>

                <app-videos-gallery
                    v-if="section.videos.length"
                    :videos="section.videos"
                />
            </div>
        </template>
    </div>
</template>

<script>
    import appInformation from '@/components/user/app/app-information';
    import appResources from '@/components/user/app/app-resources';
    import appVideosGallery from '@/components/user/app/app-videos-gallery';

    import generateUrl from '@/utils/mixins/generate_url';
    import { sendClick } from '@/utils/user/clicks-analytic';

    export default {
        name: 'e-library',

        components: {
            appInformation,
            appResources,
            appVideosGallery,
        },

        mixins: [generateUrl],

        computed: {
            library() {
                return this.$store.getters.getLibrary?.sections;
            },
            eventId() {
                return this.$route.query.event_id;
            },
        },

        async created() {
            await this.$store.dispatch('getLibrary', this.eventId);
        },

        methods: {
            sendAnalytic(type, id) {
                sendClick(3, type, id, this.topicId);
            },
        },
    };
</script>

<style scoped lang="scss">
    .section {
        margin-bottom: 1.2rem;
    }

</style>
