<template>
    <div
        v-if="showSurvey"
        class="app-survey-question"
    >
        <div class="app-survey-question__question">
            {{ processedSurvey.name }}
        </div>
        <form
            v-if="!showResults"
            ref="surveyForm"
            class="form app-survey-question__answers"
            @submit.prevent=""
        >
            <div class="app-survey-question__inputs">
                <template v-if="processedSurvey.type===1">
                    <label
                        v-for="option in processedSurvey.options"
                        :key="option.id"
                        class="app-radio"
                    >
                        <input
                            :value="option.id"
                            name="radioSurvey"
                            type="radio"
                        />
                        <div class="box"></div>
                        {{ option.name }}
                    </label>
                </template>
                <template v-else-if="processedSurvey.type===2">
                    <label
                        v-for="option in processedSurvey.options"
                        :key="option.id"
                        class="app-checkbox"
                        :data-disabled="answersCount>=processedSurvey.max_response && !option.inputValue"
                    >
                        <input
                            v-model="option.inputValue"
                            type="checkbox"
                            :value="option.id"
                            @change="countAnswers"
                        />
                        <div class="box"></div>
                        {{ option.name }}
                    </label>
                    <div
                        v-if="processedSurvey.max_response"
                        class="max"
                    >
                        maximum number of responses: {{ survey.max_response }}
                    </div>
                </template>
                <template v-else-if="processedSurvey.type===3">
                    <label
                        v-for="option in processedSurvey.options"
                        :key="option.id"
                    >
                        <select :name="option.id">
                            <option
                                v-for="item in processedSurvey.max_scale"
                                :key="item"
                            >
                                {{ item }}
                            </option>
                        </select>
                        {{ option.name }}
                    </label>
                </template>
                <template v-else-if="processedSurvey.type===4">
                    <label
                        v-for="option in processedSurvey.options"
                        :key="option.id"
                        class="deployed"
                    >
                        {{ option.name }}
                        <input
                            type="text"
                            class="app-input"
                            :name="option.id"
                        />
                    </label>
                </template>
                <template v-else-if="processedSurvey.type===5">
                    <div
                        v-for="question in processedSurvey.questions"
                        :key="question.id"
                        :class="{disabled : question.answers}"
                    >
                        <div class="question-name">
                            {{ question.name }}
                        </div>

                        <template v-if="question.type===1">
                            <label
                                v-for="option in question.options"
                                :key="option.id"
                                class="app-radio"
                                :class="{error: option.result===0, success: option.result}"
                            >
                                <input
                                    :value="option.id"
                                    v-model="question.answerId"
                                    :name="question.id"
                                    type="radio"
                                />
                                <div class="box"></div>
                                {{ option.name }}
                            </label>
                        </template>
                        <template v-else-if="question.type===2">
                            <label
                                v-for="option in question.options"
                                :key="option.id"
                                class="app-checkbox"
                                :class="{error: option.result===0, success: option.result}"
                            >
                                <input
                                    v-model="option.isAnswered"
                                    type="checkbox"
                                />
                                <div class="box"></div>
                                {{ option.name }}
                            </label>
                        </template>

                        <app-button
                            tag="button"
                            class="purple"
                            @click="answerTheTest(question.id)"
                            :data-disable="question.answers && question.answers"
                        >
                            Submit
                        </app-button>
                    </div>
                </template>
                <label
                    v-if="processedSurvey.need_comment"
                    class="textarea-label"
                    :class="{error: explainError}"
                >
                    Please explain your answer:
                    <textarea class="app-input"></textarea>
                    <p
                        v-if="explainError"
                        class="app-input-error"
                    >
                        Required
                    </p>
                </label>
            </div>
            <app-button
                v-if="processedSurvey.type!==5"
                tag="button"
                class="purple"
                @click="sendAnswer"
            >
                Submit
            </app-button>
        </form>
        <div
            v-else
            class="answers"
        >
            <div
                v-for="(answer, index) of survey.answers.values"
                :key="answer.id"
                class="answer"
                :class="{textAnswer: survey.type===4}"
            >
                <template v-if="survey.type===1 || survey.type===2">
                    <app-progress-bar
                        :progress="+answer.value"
                    />
                    <span class="percents">
                        ({{ answer.value }}%)
                    </span>
                    {{ survey.options[index].name }}
                </template>
                <template v-else-if="survey.type===3">
                    <span
                        class="average"
                    >
                        average rating: <span>{{ answer.value }}</span>
                    </span>
                    {{ survey.options[index].name }}
                </template>
                <template v-else-if="survey.type===4">
                    {{ survey.options[index].name }}:
                    <div
                        v-for="(comment, index) in answer.comments"
                        :key="index"
                        class="average"
                    >
                        {{ comment.name }}:
                        {{ comment.content }}
                    </div>
                </template>
            </div>
            <div
                v-if="survey.advanced"
                class="advanced"
            >
                <h4>Advanced</h4>
                <div
                    v-for="(message, index) in survey.advanced.comments"
                    :key="index"
                    class="message"
                >
                    <div class="name">
                        {{ message.name }}
                    </div>
                    <div class="text">
                        {{ message.content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import appButton from '@/components/user/app/app-button';
    import appProgressBar from '@/components/user/app/app-progressBar';

    const NAME_SPACE = 'dashboard';
    const SURVEY_ANSWER = 'survey-answer';
    const ANSWER_TEST = 'dashboard/answer-test';

    import { GP } from '@/utils/sockets-helper';
    import { post } from '@/utils/http-helper';

    const generateSocketPath = new GP(NAME_SPACE);

    export default {
        name: 'app-survey-question',

        components: {
            appButton,
            appProgressBar,
        },

        props: {
            survey: {
                type: Object,
                default: null,
            },
            socket: {
                type: Object,
                default: null,
            },
        },

        data: () => ({
            answersCount: 0,
            explainError: false,
            processedSurvey: {},
        }),

        computed: {
            showSurvey() {
               return (this.processedSurvey.answers && this.processedSurvey.show_result) || !this.processedSurvey.answers || this.userRole.id !== 6;
            },

            showResults() {
               return this.processedSurvey.answers;
            },

            userRole() {
                return this.$store.getters['auth/userRole'];
            },
        },

        mounted() {
            if (this.survey.questions) {
                const survey = JSON.parse(JSON.stringify(this.survey));
                survey.questions?.forEach(question => {
                    question.answers?.forEach(answer => {
                        const option = question.options.find(o => +o.id === +answer.option_id);
                        option.result = answer.result;
                        option.isAnswered = answer.self;
                        if (!question.answerId && answer.self) {
                            this.$set(question, 'answerId', +option.id);
                        }
                    });
                });
                this.processedSurvey = survey;
            } else {
                this.processedSurvey = this.survey;
            }
        },

        methods: {
            sendAnswer() {
                const obj = {
                    survey_id: this.processedSurvey.id,
                    options: [],
                };
                this.$refs.surveyForm.elements.forEach((i) => {
                    if (this.processedSurvey.type===1 || this.processedSurvey.type===2) {
                        if (i.nodeName === 'INPUT' && i.checked) {
                            obj.options.push({
                                id: +i.value,
                            });
                        }
                    } else {
                        if (i.value) {
                            obj.options.push({
                                id: +i.name,
                                value: i.value,
                            });
                        }
                    }
                    if (i.nodeName === 'TEXTAREA' && i.value) {
                        obj.comment = i.value;
                    } else if (i.nodeName === 'TEXTAREA' && !i.value) {
                        this.explainError = true;
                    }
                });

                if (!obj.options.length) return;

                this.socket.emit(generateSocketPath.generate(SURVEY_ANSWER), obj,
                    data => {
                        if (data.success) {
                            this.$store.dispatch('dashboard/answerSurvey', data);
                        }
                    },
                );
            },
            countAnswers(e) {
              e.target.checked ? this.answersCount ++ : this.answersCount --;
            },
            answerTheTest(questionId) {
                let question = this.processedSurvey.questions.find(q => q.id === questionId);
                const obj = {
                    survey_id: this.processedSurvey.id,
                    questions: [
                        {
                            question_id: questionId,
                            options: [],
                        },
                    ],
                };
                if (question.type===1) {
                    obj.questions[0].options = [question.answerId];
                } else if (question.type===2) {
                    question.options.forEach(o => {
                        if (o.isAnswered) {
                            obj.questions[0].options.push(o.id);
                        }
                    });
                }
                this.$awn.async(post(ANSWER_TEST, obj), response => {
                    if (response.status) {
                        response.data.questions[0].options.forEach(o => {
                            question.answers = {};
                           const option = question.options.find(opt => +opt.id === o.option_id);
                            this.$set(option, 'result', o.result);
                        });
                    }
                });
            },
        },
    };
</script>

<style scoped lang="scss">
    .app-survey-question {
        margin-top: 1.9rem;

        &__inputs {
            .disabled {
                pointer-events: none;
            }
        }

        .question-name {
            margin-bottom: 1rem;
        }

        &__question{
            font-size: to_rem(18px);
            color: $mainPurple;
            font-style: italic;
        }


        &__inputs, .answers{
            display: flex;
            flex-direction: column;

            margin-top: 1.3rem;
            padding: 2rem 1.2rem;

            border: 3px solid $lightGray;
        }

        .max {
            font-size: 12px;
            color: $gray;
        }

        .answer {
            display: flex;

            margin-bottom: 1rem;

            &.textAnswer {
                display: block;
            }

            .percents {
                width: 4rem;
                margin-right: 1rem;

                color: $gray;
            }
            .average {
                margin-right: 1rem;

                color: $gray;

                span {
                    color: black;
                }
            }
            .app-progressBar {
                width: 10rem;
                margin-right: 0.5rem;
            }
        }

        .question-name {
            font-weight: 700;
        }

        .app-radio, .app-checkbox {
            &.error {
                .box {
                    border: 2px solid $red;
                }
            }
            &.success {
                .box {
                    border: 2px solid $green;
                }
            }
        }

        label{
            margin-bottom: 1.7rem;

            font-size: to_rem(14px);
            color: $copyGray;

            &.textarea-label{
                position: relative;

                flex-direction: column;
                align-items: flex-start;

                margin: 2.3rem 0 0;

                font-weight: 700;
                &.error {
                    textarea {
                        border-color: $red;
                    }
                }
            }

            &.deployed{
                flex-direction: column;
                align-items: flex-start;
            }
        }

        textarea{
            width: 100%;
            height: 3.8rem;
            margin-top: 0.4rem;;

            resize: none;
        }

        input[type='text']{
            margin-top: 1rem;
        }

        select{
            width: 2.3rem;
            min-width: 40px;
            margin-right: 1rem;

            color: $copyGray;

            border-color: $copyGray;
        }

        .app-button{
            margin-top: 1rem;
            margin-left: auto;
        }
    }

    @include mobile_or_P{
        .app-survey-question{
            &__inputs{
                padding: 1rem;
            }
            label{
                margin-bottom: 1rem;
                &.textarea-label{
                    margin-top: 1rem;
                }
            }
        }
    }
</style>
