<template>
    <v-popover
        popover-class="popover-prompt"
        class="favorite-button"
        placement="top-center"
        :delay="{ show: 1000 }"
        offset="5"
        trigger="hover"
    >
        <div
            class="favorite-button__wrapper"
            :class="{'favorite-button__favorite': isFavorite}"
            @click="toggleFavorite"
        >
            <heart-icon class="favorite-button__icon" />
            <span v-if="!isShort">
                В избранное
            </span>
        </div>
        <span slot="popover">
            {{ tooltipText }}
        </span>
    </v-popover>
</template>

<script lang="ts">
import Vue from 'vue';
import HeartIcon from '~/src/assets/images/icon/heart-icon.svg?inline';
import { IProduct } from '~/src/utils/interfaces/catalog';

export default Vue.extend({
    name: 'FavoriteButton',

    components: {
        HeartIcon,
    },

    props: {
        isShort: {
            type: Boolean,
            default: true,
        },
        product: {
            type: Object,
            default: () => ({} as IProduct),
        },
    },

    computed: {
        tooltipText(): string {
            return this.product.favorite ? 'Убрать из избранного' : 'Добавить в избранное';
        },

        token(): string {
            return this.$accessor.auth.accessToken;
        },

        isFavorite(): boolean {
            return this.$accessor.catalog.favorites.find((product: IProduct) => product.id === this.product.id);
        },
    },

    methods: {
        showAuthPopup(): void {
            this.$accessor.modal.OPEN_MODAL({ name: 'NeedAuth' });
        },

        async toggleFavorite(): Promise<void> {
            if (this.token) {
                const requestObj = {
                    requestObj: {
                        productId: this.product.id,
                    },
                };
                if (!this.isFavorite) {
                    const response = await this.$accessor.catalog.addFavoriteAction({ requestObj, product: this.product });
                    if (response.RESPONSE_STATUS === 401) {
                        this.showAuthPopup();
                    }
                }
                else {
                    this.$accessor.catalog.removeFavoriteAction(requestObj);
                }
            }
            else {
                this.showAuthPopup();
            }
        },
    },
});
</script>

<style lang="scss" scoped>
.favorite-button {
    display: flex;
    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__favorite {
        .favorite-button__icon {
            &::v-deep {
                path {
                    fill: $wrong-color;
                }
            }
        }
    }
    &__icon {
        width: 18px;
        height: 16px;
        margin-right: 10px;

        cursor: pointer;

        transition: opacity $common-transition-duration;
    }

    &:hover {
        .favorite-button__icon {
            opacity: 0.5;
        }
    }
}
</style>
