<template>
    <div class="personal-cabinet">
        привет
    </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
    name: 'PersonalCabinet',

    layout: 'personal-cabinet',
});
</script>

<style lang="scss" scoped>
.personal-cabinet {
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 56px 0 340px 60px;
}

@include razr1259 {
    .personal-cabinet {
        padding: 36px 0 58px 32px;
    }
}

@include razr767 {
    .personal-cabinet {
        padding: 42px 20px 42px;
    }
}
</style>
