<template>
    <canvas
        ref="watermark"
        class="watermarkText"
    ></canvas>
</template>

<script>
  export default {
    name: 'app-watermark',

    props: {
      watermarkParams: {
        type: Object,
        default: null,
      },
    },

    mounted() {
      this.initWatermark();
    },

    methods: {
      initWatermark() {
        const canvas = this.$refs.watermark;
        const ctx = canvas.getContext('2d');
        canvas.width = this.watermarkParams.w;
        canvas.height = this.watermarkParams.h;
        ctx.strokeStyle = 'gray';
        ctx.fillStyle = 'transparent';
        ctx.font = '60px Verdana';
        ctx.textAlign = 'center';
        ctx.strokeText(this.watermarkParams.text?.[0], canvas.width/2, canvas.height/2 - 25);
        ctx.font = '50px Verdana';
        ctx.strokeText(this.watermarkParams.text?.[1], canvas.width/2, canvas.height/2 + 25);
      },
    },
  };
</script>

<style scoped lang="scss">

</style>
