<template>
    <div class="page-history">
        <common-loader v-if="isLoading" />
        <div class="page-history__content">
            <h1 class="common-page-title common-page-title--history">
                История покупок
            </h1>
            <orders
                v-if="activeOrders.length"
                :orders="activeOrders"
                :invoices="invoices"
                :title="'Активные заказы'"
            />
            <orders
                v-if="completedOrders.length"
                :orders="completedOrders"
                :invoices="invoices"
                :title="'Завершенные заказы'"
            />
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import CommonLoader from '@/components/common/CommonLoader.vue';
import Orders from '@/components/pages/history/Orders.vue';
import { RGetOrders } from '~/src/utils/api/requests/user';

export default Vue.extend({
    name: 'PageHistory',

    components: {
        Orders,
        CommonLoader,
    },

    layout: 'personal-cabinet',

    middleware: 'authenticated',

    data: () => ({
        isLoading: true,
        activeOrders: [],
        completedOrders: [],
        invoices: [],
    }),

    mounted() {
        this.getOrdersList();
    },

    methods: {
        async getOrdersList() {
            this.isLoading = true;
            const token = this.$accessor.auth.accessToken;
            if (token) {
                const response = await this.$request(RGetOrders());

                if (response.RESPONSE_STATUS === 200) {
                    this.activeOrders = response.activeOrders;
                    this.completedOrders = response.completedOrders;
                    this.invoices = response.invoices;
                }
                else {
                    this.$router.push('/');
                }
                this.isLoading = false;
            }
        },
    },
});
</script>

<style lang="scss" scoped>
.page-history {
    width: 100%;

    &__content {
        display: flex;
        flex-direction: column;

        width: 100%;
        max-width: 920px;
        padding: 58px 0 96px 64px;
    }

    @include razr1259 {
        &__content {
            max-width: 600px;
            padding: 36px 32px 58px;
        }
    }

    @include razr767 {
        &__content {
            max-width: 100%;
            padding: 42px 20px 42px;
        }
    }
}
</style>
