<template>
    <div class="disposer-interface">
        <div class="disposer-app-title">
            Interface
        </div>
        <div class="bg-login-page-topic topic-wrap">
            <div class="disposer-app-topic-title">
                Backgroung login page
            </div>
            <div class="icons-content-flex">
                <img
                    :src="backgroundLpUrl"
                    alt="*****"
                    class="background-lp interface-image"
                />
                <div class="actions">
                    <app-actions
                        :edit="() => editFields('background_lp_mode')"
                        :trash="() => deleteFields('background_lp')"
                    />
                    <div
                        v-if="background_lp_mode"
                        class="btns-wrap"
                    >
                        <div class="edit-image">
                            <label
                                class="choose-label"
                                for="choose-input"
                            >
                                Choose Image
                            </label>
                            <input
                                id="choose-input"
                                ref="backgroundLpFile"
                                type="file"
                                class="choose-input-file"
                                @change="() => chooseFile('backgroundLpFile', 'backgroundLpUrl')"
                            />
                        </div>
                        <div class="upload-image">
                            <label
                                class="upload-label"
                                for="upload-input"
                            >
                                Upload Image
                            </label>
                            <input
                                id="upload-input"
                                class="upload-input-file"
                                @click="() => uploadFile('background_lp', 'backgroundLpFile')"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="title-login-topic topic-wrap">
            <label
                for="title-input"
                class="disposer-app-label"
            >
                Title login page
            </label>
            <div class="icons-content-flex">
                <input
                    id="title-input"
                    v-model="interfacee.title_lp"
                    type="text"
                    :disabled="!title_lp_mode"
                    class="disposer-app-input title-lp"
                />
                <app-actions
                    :edit="() => editFields('title_lp_mode')"
                    :trash="() => deleteFields('title_lp')"
                    :save="() => updateFields('title_lp', interfacee.title_lp)"
                />
            </div>
        </div>
        <div class="company-topic topic-wrap">
            <div class="disposer-app-topic-title">
                Company logo
            </div>
            <div class="icons-content-flex">
                <img
                    :src="companyLogoUrl"
                    alt="*****"
                    class="company-logo interface-image"
                />
                <div class="actions">
                    <app-actions
                        :edit="() => editFields('company_logo_mode')"
                        :trash="() => deleteFields('company_logo')"
                    />
                    <div
                        v-if="company_logo_mode"
                        class="btns-wrap"
                    >
                        <div class="edit-image">
                            <label
                                class="choose-label"
                            >
                                Choose Image
                                <input
                                    ref="companyLogoFile"
                                    type="file"
                                    class="choose-input-file"
                                    @change="() => chooseFile('companyLogoFile', 'companyLogoUrl')"
                                />
                            </label>
                        </div>
                        <div class="upload-image">
                            <label
                                class="upload-label"
                            >
                                Upload Image
                                <input
                                    class="upload-input-file"
                                    @click="() => uploadFile('company_logo', 'companyLogoFile')"
                                />
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btns-color-topic topic-wrap">
            <div class="disposer-app-topic-title">
                Buttons Color
            </div>
            <div class="icons-content-flex">
                <div
                    class="btns-color"
                    :style="{ backgroundColor: interfacee.buttons_color }"
                >
                </div>
                <div class="actions">
                    <app-actions
                        :edit="() => editFields('buttons_color_mode')"
                    />

                    <div
                        v-if="buttons_color_mode"
                        class="choose-btns-color"
                    >
                        <div class="choose-color">
                            <label>
                                Choose color
                                <input
                                    v-model="interfacee.buttons_color"
                                    type="color"
                                />
                            </label>
                        </div>
                        <div class="upload-color">
                            <label>
                                Update color
                                <input
                                    class="upload-input-file"
                                    @click="() => updateFields('buttons_color', interfacee.buttons_color)"
                                />
                            </label>
                        </div>
                        <div class="upload-color">
                            <label @click="toDefaultColor">
                                Default color
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="support-topic topic-wrap">
            <label
                class="disposer-app-label"
            >
                Support E-mail
            </label>
            <div class="icons-content-flex">
                <input
                    id="email-input"
                    v-model="interfacee.support_email"
                    type="text"
                    :disabled="!support_email_mode"
                    class="disposer-app-input"
                />
                <app-actions
                    :edit="() => editFields('support_email_mode')"
                    :save="() => updateFields('support_email', interfacee.support_email)"
                />
            </div>
        </div>
        <div class="support-topic topic-wrap">
            <label
                for="phone-input"
                class="disposer-app-label"
            >
                Support phone number
            </label>
            <div class="icons-content-flex">
                <input
                    id="phone-input"
                    v-model="interfacee.support_phone"
                    type="text"
                    :disabled="!support_phone_mode"
                    class="disposer-app-input"
                />
                <app-actions
                    :edit="() => editFields('support_phone_mode')"
                    :save="() => updateFields('support_phone', interfacee.support_phone)"
                />
            </div>
        </div>
        <div class="footer-topic topic-wrap">
            <label
                for="footer-textarea"
                class="disposer-app-label"
            >
                Footer
            </label>
            <p class="footer-topic-parag">
                To change the text, contact your administrator
            </p>
            <textarea
                id="footer-textarea"
                type="text"
                class="disposer-app-input"
                :disabled="true"
                :placeholder="interfacee.footer_content"
            >
            </textarea>
        </div>
        <div class="configure-topic topic-wrap">
            <div class="disposer-app-topic-title">
                Configure the platform
            </div>

            <div
                v-for="checkbox in checkboxes"
                :key="checkbox.name"
                class="configure-topic-checkboxes"
            >
                <label
                    class="disposer-app-checkbox"
                    :data-disabled="Boolean(checkbox.disabled)"
                >
                    <input
                        v-model="checkbox.checked"
                        type="checkbox"
                        :disabled="Boolean(checkbox.disabled)"
                        @change="updateCheckboxFields(checkbox)"
                    />
                    <div class="box"></div>
                    {{ checkbox.name }}
                </label>
            </div>
        </div>
        <div class="disclaimers-topic topic-wrap">
            <div class="disposer-app-topic-title">
                Disclaimer
            </div>
            <div
                v-for="(disclaimer, idx) in disclaimers"
                :key="disclaimer.id"
                class="disclaimers-topic-inputs"
            >
                <div
                    class="icons-content-flex"
                >
                    <textarea
                        v-model="disclaimer.value"
                        type="text"
                        :disabled="!disclaimer.edit_mode"
                        class="disposer-app-input"
                    >
                    </textarea>
                    <app-actions
                        v-if="!disclaimer.is_permanent"
                        :edit="() => editDisclaimerFields(idx)"
                        :trash="() => deleteDisclaimerFields(disclaimer.id)"
                        :save="() => {
                            add_disclaimer_mode ? createDisclaimer(disclaimer, idx) : updateDisclaimerFields(disclaimer, idx)
                        }"
                    />
                </div>
            </div>
            <app-button
                v-if="!add_disclaimer_mode"
                @click="addDisclaimer"
            >
                ADD
            </app-button>
        </div>
        <div class="notifications-topic topic-wrap">
            <div class="disposer-app-topic-title">
                Notification
            </div>

            <div class="notifications-topic-parags">
                <p
                    v-for="(notification, idx) in $options.texts.notificationsTitle"
                    :key="idx"
                    class="notifications-topic-parag mg-bt-20"
                    v-html="notification"
                ></p>
            </div>
        </div>
        <div class="settings">
            <ul class="settings-ul">
                <li
                    v-for="(notification, idx) in notifications"
                    :key="notification.name"
                >
                    <div class="disposer-app-topic-title">
                        {{ notification.name }}
                    </div>
                    <div class="icons-content-flex">
                        <div class="email-subject">
                            <label
                                class="disposer-app-label"
                            >
                                Email Subject
                                <input
                                    :value="notification.values[0].value"
                                    :disabled="!notification.values[0].edit_mode"
                                    type="text"
                                    class="disposer-app-input"
                                    @focus="() => showModal('email_subject', idx)"
                                />
                            </label>
                        </div>
                        <app-actions
                            :edit="() => editNotification(idx, 0)"
                            :back="() => restoreNotification(notification.values[0])"
                            :save="() => updateNotification(notification.values[0], idx, 0)"
                        />
                    </div>
                    <div class="icons-content-flex">
                        <div class="email-content">
                            <label
                                for="em-cont-txtarea"
                                class="disposer-app-label"
                            >
                                Email Content
                            </label>
                            <textarea
                                id="em-cont-txtarea"
                                :value="notification.values[1].value"
                                :disabled="!notification.values[1].edit_mode"
                                type="text"
                                class="disposer-app-input"
                                @focus="() => showModal('email_content', idx)"
                            >
                            </textarea>
                        </div>
                        <app-actions
                            :edit="() => editNotification(idx, 1)"
                            :back="() => restoreNotification(notification.values[1])"
                            :save="() => updateNotification(notification.values[1], idx, 1)"
                        />
                    </div>
                    <div class="icons-content-flex">
                        <div class="sms">
                            <label
                                for="sms-txtarea"
                                class="disposer-app-label"
                            >
                                SMS
                            </label>
                            <textarea
                                id="sms-txtarea"
                                :value="notification.values[2].value"
                                :disabled="!notification.values[2].edit_mode"
                                type="text"
                                class="disposer-app-input"
                                @focus="() => showModal('sms', idx)"
                            >
                            </textarea>
                        </div>
                        <app-actions
                            :edit="() => editNotification(idx, 2)"
                            :back="() => restoreNotification(notification.values[2])"
                            :save="() => updateNotification(notification.values[2], idx, 2)"
                        />
                    </div>
                </li>
            </ul>
        </div>
        <div class="footer-modal">
            <app-modal
                v-if="isModalVisible"
                @closeModal="closeModal"
                @saveHandler="saveEditorData"
            >
                <app-editor
                    v-model="editorData"
                    @editorDataHandler="getEditorData($event)"
                />
            </app-modal>
        </div>
    </div>
</template>

<script>
    import appActions from '@/components/disposer/app/app-actions';
    import appButton from '@/components/disposer/app/app-button';
    import appModal from '@/components/disposer/app/app-modal';
    import appEditor from '@/components/disposer/app/app-editor';

    import notificationsTitle from '@/utils/disposer/interface-text-helper.js';

    import { mapActions } from 'vuex';

    export default {
        name: 'disposer-managers',
        components: {
            appActions,
            appButton,
            appModal,
            appEditor,
        },
        data: () => ({
            background_lp_mode: false,
            company_logo_mode: false,
            title_lp_mode: false,
            buttons_color_mode: false,
            support_email_mode: false,
            support_phone_mode: false,

            add_disclaimer_mode: false,

            editorData: '',
            isModalVisible: false,
            idx_mode: -1,
            is_email_subject_modal: false,
            is_email_content_modal: false,
            is_sms_modal: false,

            interfacee: {},
            disclaimers: [],
            notifications: [],
            checkboxes: [],

            backgroundLpUrl: '',
            companyLogoUrl: '',
            backgroundLpFile: '',
            companyLogoFile: '',
        }),
        texts: {
            notificationsTitle,
        },
        computed: {
            platformInterface() {
                return this.$store.getters.platformInterface;
            },
        },
        watch: {
            platformInterface(newPlatformInterface) {
                this.interfacee = newPlatformInterface.interface;

                this.disclaimers = newPlatformInterface.disclaimers;
                this.notifications = newPlatformInterface.notifications;
                this.checkboxes = newPlatformInterface.interface.visibility;

                const baseURL = process.env.VUE_APP_BASE_URL + '/';

                this.backgroundLpUrl = baseURL + this.interfacee?.background_lp;
                this.companyLogoUrl =  baseURL + this.interfacee?.company_logo;
            },
        },
        async mounted() {
            await this.$store.dispatch('getPlatformInterface');
        },
        methods: {
            ...mapActions(
                [
                    'getPlatformInterface',
                    'uploadInterfaceImage',
                    'updateInterfaceFields',
                    'updateInterfaceCheckboxFields',
                    'createInterfaceDisclaimerFields',
                    'restoreInterfaceNotificationFields',
                    'deleteInterfaceFields',
                ],
            ),
            showModal(v, idx) {
                this.isModalVisible = !this.isModalVisible;
                this.idx_mode = idx;
                if (v === 'email_subject') {
                    this.editorData = this.notifications[idx].values[0].value;
                    this.is_email_subject_modal = true;
                }
                if (v === 'email_content') {
                    this.editorData = this.notifications[idx].values[1].value;
                    this.is_email_content_modal = true;
                }
                if (v === 'sms') {
                    this.editorData = this.notifications[idx].values[2].value;
                    this.is_sms_modal = true;
                }
            },
            closeModal() {
                this.isModalVisible = !this.isModalVisible;
                this.is_email_subject_modal = false;
                this.is_email_content_modal = false;
                this.is_sms_modal = false;
            },
            getEditorData(e) {
                this.editorData = e;
            },
            saveEditorData() {
                this.isModalVisible = !this.isModalVisible;
                let idx = this.idx_mode;

                if (this.is_email_subject_modal) {
                    this.notifications[idx].values[0].value = this.editorData;
                    this.is_email_subject_modal = false;
                }
                if (this.is_email_content_modal) {
                    this.notifications[idx].values[1].value = this.editorData;
                    this.is_email_content_modal = false;
                }
                if (this.is_sms_modal) {
                    this.notifications[idx].values[2].value = this.editorData;
                    this.is_sms_modal = false;
                }
            },
            editFields(mode) {
                this[mode] = !this[mode];
            },
            editDisclaimerFields(disclaimerIdx) {
                this.disclaimers[disclaimerIdx].edit_mode = !this.disclaimers[disclaimerIdx].edit_mode;
            },
            chooseFile(file, url) {
                const data = this.$refs[file];
                this[file] = data.files[0];
                this[url] = URL.createObjectURL(this[file]);
            },
            async uploadFile(field, file) {
                let formData = new FormData();

                formData.append('field', field);
                formData.append('image', this[file]);

                this[field + '_mode'] = false;
                await this.uploadInterfaceImage(formData);
            },
            async updateFields(field, value) {
                let data = {
                    field,
                    value,
                };
                await this.updateInterfaceFields(data);
                this[field + '_mode'] = false;
            },
            async updateDisclaimerFields({ value, id }, idx) {
                let data = {
                    field: 'disclaimer',
                    value,
                    id,
                };
                this.disclaimers[idx].edit_mode = !this.disclaimers[idx].edit_mode;
                await this.updateInterfaceFields(data);
            },
            async updateCheckboxFields({ field, checked }) {
                let data = {
                    value: [
                        {
                            'field': field,
                            'checked': Number(checked),
                        },
                    ],
                };
                await this.updateInterfaceCheckboxFields(data);
            },
            addDisclaimer() {
                this.disclaimers.push({
                    edit_mode: true,
                });
                this.add_disclaimer_mode = true;
            },
            async createDisclaimer({ value }, idx) {
                const data = {
                    'platform_id': this.$store.getters['auth/platformId'],
                    'field': 'disclaimer',
                    'value': value,
                };
                await this.createInterfaceDisclaimerFields(data);
                this.disclaimers[idx].edit_mode = !this.disclaimers[idx].edit_mode;
                this.add_disclaimer_mode = false;
            },
            async deleteFields(field) {
                this.deleteInterfaceFields({ field });
                await this.getPlatformInterface();
            },
            async deleteDisclaimerFields(id) {
                this.deleteInterfaceFields({ field: 'disclaimer', id });
                await this.getPlatformInterface();
            },
            editNotification(idx, id) {
                this.notifications[idx].values[id].edit_mode = !this.notifications[idx].values[id].edit_mode;
            },
            async updateNotification({ field, value }, idx, id) {
                const data = {
                    'field': 'notification',
                    'name': field,
                    'value': value,
                };
                await this.updateInterfaceFields(data);
                this.notifications[idx].values[id].edit_mode = false;
            },
            async restoreNotification({ field }) {
                await this.restoreInterfaceNotificationFields({ field });
                setTimeout(()=> {
                    this.getPlatformInterface();
                }, 100);
            },
            toDefaultColor() {
              this.interfacee.buttons_color = '#0f9bdc';
              this.updateFields('buttons_color', this.interfacee.buttons_color);
            },
        },
    };
</script>

<style scoped lang="scss">
    .disposer-interface {
        .disposer-app-topic-title {
            width: 48rem;
        }
        .disposer-app-title{
            margin-bottom: 0;
        }
        input:disabled,
        textarea:disabled {
            background-color: #eee;
        }
        .topic-wrap {
            padding: 40px 0;

            border-bottom: 1px solid $gray;
        }
        .mg-bt-20 {
            margin-bottom: to_rem(20px);
        }
        .interface-image {
            width: 20rem;
        }
        .icons-content-flex {
            .btns-wrap {
                .choose-label,
                .upload-label {
                    display: block;

                    width: 130px;
                    margin-top: 15px;
                    padding: 5px;

                    font-size: 1rem;
                    text-align: center;
                    color: white;

                    background-color: #222d31;
                    border-radius: 5px;

                    cursor: pointer;
                }
                .choose-input-file,
                .upload-input-file {
                    opacity: 0;
                }
            }
        }
        .title-login-topic {
            .disposer-app-input {
                width: to_rem(750px);

                &:disabled {
                    background-color: #eee;
                }
            }
        }
        .btns-color-topic {
            .btns-color {
                width: to_rem(90px);
                height: to_rem(90px);
                margin-right: to_rem(20px);

                background-color: $mainBlue;
                border-radius: 1px;
            }
            .choose-btns-color {
                label {
                    display: block;

                    width: 130px;
                    height: 30px;
                    margin-top: 15px;
                    padding: 5px;

                    font-size: 1rem;
                    text-align: center;
                    color: white;

                    background-color: #222d31;
                    border-radius: 5px;

                    cursor: pointer;
                }
                input {
                    opacity: 0;
                }
            }
        }
        .support-topic {
            .disposer-app-input {
                width: to_rem(260px);
            }
        }
        .configure-topic{
            &-checkboxes {
                margin-bottom: to_rem(10px);

                color: $gray;
            }
        }
        .footer-topic {
            &-parag {
                width: to_rem(630px);
                padding-bottom: to_rem(10px);
                padding-left: to_rem(10px);

                color: $gray;
            }
            .disposer-app-input {
                width: to_rem(750px);
                height: to_rem(55px);
            }
        }
        .disclaimers-topic {
            &-inputs {
                .disposer-app-input {
                    width: to_rem(750px);
                    height: to_rem(100px);
                    margin-bottom: to_rem(20px);
                }
            }
        }
        .notifications-topic {
            &-parag {
                width: to_rem(630px);
                padding-left: to_rem(10px);

                color: $gray;
            }
        }
        .settings {
            label {
                display: block;

                margin-bottom: to_rem(10px);
            }
            &-ul {
                padding-left: to_rem(20px);
            }
            .icons-content-flex{
                margin-bottom: to_rem(20px);
            }
            .email-subject {
                .disposer-app-input {
                    width: to_rem(750px);
                }
            }
            .email-content {
                .disposer-app-input {
                    width: to_rem(750px);
                    height: to_rem(150px);
                }
            }
            .sms {
                .disposer-app-input {
                    width: to_rem(750px);
                    height: to_rem(55px);
                }
            }
        }
        textarea {
            padding: 10px;

            resize: none;
        }
        .icons-content-flex {
            display: flex;
            img {
                padding-right: to_rem(20px);
            }
            .disposer-app-input {
                margin-right: to_rem(20px);
            }
            textarea {
                margin-right: to_rem(20px);
            }
        }
    }
</style>
