<template>
    <div class="disposer-app-sequence">
        <div class="disposer-app-topic-title">
            Questions
        </div>
        <div class="questions-table">
            <div class="row-tr row-tr-head">
                <div class="number">
                    Number
                </div>

                <div class="subtitle">
                    Subtitle
                </div>

                <div class="intro-text">
                    Introductory text
                </div>

                <div class="question">
                    Question
                </div>

                <div
                    v-if="activePollingQuestions"
                    class="add-polling"
                >
                    Open polling question
                </div>

                <div class="hide-comment">
                    Hide Comment
                </div>

                <div class="edit-delete">
                    Save
                </div>
            </div>

            <question-row
                v-for="question in availableQuestions"
                :key="question.id"
                :question.sync="question"
                :topic-id="topicId"
                :event-id="eventId"
                :active-polling-questions="activePollingQuestions"
                @deleteQuestion="deleteQuestion"
                @getEditedTopic="getEditedTopic"
            />
        </div>
        <app-button @click="addQuestion">
            Add question
        </app-button>
    </div>
</template>

<script>
    import appButton from '@/components/disposer/app/app-button';
    import questionRow from '@/components/disposer/pages/topic/question-row';

    export default {
        name: 'disposer-app-sequnce',

        components: {
            appButton,
            questionRow,
        },

        props: {
            eventId: {
                type: Number,
                default: null,
            },
            topicId: {
                type: Number,
                default: null,
            },
            availableQuestions: {
                type: Array,
                default: () => [],
            },
        },

        data: () => ({
            editedQuestion: {
              id: Math.random(),
              number: 1,
              subtitle: '',
              intro: '',
              name: '',

              surveys: [],
            },
        }),


        computed: {
            platform() {
              return this.$store.getters['platform/platform'];
            },
            activePollingQuestions() {
              return this.platform.settings.survey;
            },
        },

        methods: {
            addQuestion() {
                const availableQuestions = [...this.availableQuestions];
                availableQuestions.push({
                    id: Math.random(),
                    editDefault: true,
                    surveys: [],
                });
                this.$emit('update:availableQuestions', availableQuestions);
            },
            deleteQuestion(id) {
                const questions = this.availableQuestions.filter(q => q.id !== id);
                this.$emit('update:availableQuestions', questions);
            },
            getEditedTopic() {
              this.$emit('getEditedTopic');
            },
        },
    };
</script>

<style scoped lang="scss">
    .disposer-app-sequence {
        padding: 20px 0;

        .questions-table {
            margin-bottom: 30px;

            background-color: white;

            .disposer-app-input {
                margin-top: 0;
            }

            .row-tr.row-tr-head{
                background-color: #d0d1d2;
            }

            .row-tr {
                display: flex;
                justify-content: space-between;
                align-items: center;

                width: to_rem(1300px);
                max-width: 78vw;
                height: auto;
                padding: 10px;

                background-color: white;
                border: 1px solid #d0d1d2;



                .number {
                    position: relative;

                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    width: to_rem(50px);

                    .disposer-app-input {
                        width: 35px;
                        height: 35px;
                    }
                    .app-input-error {
                        min-width: 150px;
                    }
                }

                .subtitle {
                    width: to_rem(210px);
                }

                .intro-text{
                    width: to_rem(210px);
                }

                .question{
                    position: relative;

                    width: to_rem(150px);
                }

                .add-polling {
                    width: to_rem(160px);

                    .app-button {
                        width: 100px;
                        height: 35px;
                    }
                }
                .hide-comment {
                    width: to_rem(120px);

                    text-align: center;
                }

                .edit-delete {
                    width: to_rem(90px);

                    text-align: right;
                }

                .edit-delete-align {
                    display: flex;
                    justify-content: flex-end;

                    padding-right: 10px;
                }
            }
        }
    }
</style>
