<template>
    <div class="disposer-company">
        <eventNav />
        <div class="disposer-app-title">
            Company Info/Contacts
        </div>
        <app-section :save="() => saveCompanyInfo('website')">
            <div class="company-website">
                <label
                    class="disposer-app-label"
                >
                    Company Website
                    <input
                        v-model="website"
                        type="text"
                        class="disposer-app-input"
                    />
                </label>
            </div>
        </app-section>
        <app-section :save="() => saveCompanyInfo('content')">
            <app-editor
                v-model="content"
                title="Contents"
                class="section-editor"
            />
        </app-section>

        <app-section>
            <div class="disposer-app-topic-title">
                Documents
            </div>
            <app-upload-documents
                v-for="document in documents"
                :key="document.id"
                :document="document"
                :event-id="eventId"
                :paths="$options.objectActionsPaths"
                @delete="deleteDocument"
            />
            <app-button @click="addDocument">
                Add document
            </app-button>
        </app-section>

        <app-section>
            <div class="disposer-app-topic-title">
                Videos
            </div>
            <app-upload-video
                v-for="video in videos"
                :key="video.id"
                :video="video"
                :event-id="eventId"
                :paths="$options.objectActionsPaths"
                @delete="deleteVideo"
            />
            <app-button @click="addVideo">
                Add video
            </app-button>
        </app-section>

        <app-section>
            <div class="disposer-app-topic-title">
                Links
            </div>
            <app-link
                v-for="link in links"
                :key="link.id"
                :paths="$options.objectActionsPaths"
                :link="link"
                :event-id="eventId"
                @delete="deleteLink"
            />
            <app-button @click="addLink">
                Add link
            </app-button>
        </app-section>

        <app-section>
            <div class="disposer-app-topic-title">
                Company representative(s)
            </div>
            <label
                v-for="representative in representatives"
                :key="representative.id"
                class="disposer-app-checkbox"
            >
                <input
                    v-model="representative.status"
                    type="checkbox"
                    @change="changeRepresentativeStatus(representative)"
                />
                <div class="box"></div>
                {{ representative.name }}
            </label>
        </app-section>
    </div>
</template>

<script>
    import eventNav from '@/components/disposer/pages/event/event-nav.vue';
    import appSection from '@/components/disposer/app/app-section';
    import appEditor from '@/components/disposer/app/app-editor';
    import appUploadDocuments from '@/components/disposer/app/app-upload-documents';
    import appUploadVideo from '@/components/disposer/app/app-upload-video';
    import appLink from '@/components/disposer/app/app-link';
    import appButton from '@/components/disposer/app/app-button';

    import { post } from '@/utils/http-helper';
    import { DOCUMENT_TEMPLATE, VIDEO_TEMPLATE, LINK_TEMPLATE } from '@/utils/disposer/objects-templates';
    import { saveCompanyInfo, updateRepresentativeStatus } from '@/utils/disposer/notifications-text-helper';

    const UPDATE_COMPANY_INFO = '/company/update-field';
    const UPDATE_REPRESENTATIVE_STATUS = '/company/update-representative';

    export default {
        name: 'disposer-company',

        components: {
            eventNav,
            appSection,
            appEditor,
            appUploadDocuments,
            appUploadVideo,
            appLink,
            appButton,
        },

        objectActionsPaths: {
            SAVE_OBJECT: '/company/create-object',
            UPDATE_OBJECT: '/company/update-object',
            DELETE_OBJECT: '/company/delete-object',
        },

        data: () => ({
            website: '',
            title: '',
            content: '',
            documents: [],
            videos: [],
            links: [],
            representatives: [],
        }),

        computed: {
            company() {
              return this.$store.getters['disposerCompany/get'];
            },
            eventId() {
              return +this.$route.params.id;
            },
        },

        async created() {
            await this.$store.dispatch('disposerCompany/get', this.eventId);
            this.website = this.company.website;
            this.title = this.company.title;
            this.content = this.company.content;
            this.documents = this.company.documents;
            if (this.company.videos) {
                this.videos = this.company.videos.map(v => {
                    return {
                        ...VIDEO_TEMPLATE(Math.random()),
                        ...v,
                    };
                });
            }
            this.links = this.company.links;
            this.representatives = this.company.representatives;
        },

        methods: {
            saveCompanyInfo(field) {
                this.$awn.async(post(UPDATE_COMPANY_INFO, {
                  event_id: this.eventId,
                  field: field,
                  value: this[field],
                }), response => {
                  if (response.status) {
                    this.$awn.success(saveCompanyInfo);
                  }
                });
            },
            addDocument() {
                this.documents.push(DOCUMENT_TEMPLATE(Math.random()));
            },
            deleteDocument(id) {
                this.documents = this.documents.filter(d => d.id !== id);
            },
            addVideo() {
                this.videos.push(VIDEO_TEMPLATE(Math.random()));
            },
            deleteVideo(id) {
                this.videos = this.videos.filter(d => d.id !== id);
            },
            addLink() {
                this.links.push(LINK_TEMPLATE(Math.random()));
            },
            deleteLink(id) {
                this.links = this.links.filter(d => d.id !== id);
            },
            changeRepresentativeStatus(representative) {
              this.$awn.async(post(UPDATE_REPRESENTATIVE_STATUS, {
                event_id: this.eventId,
                user_id: representative.id,
                status: representative.status,
              }), response => {
                if (response.status) {
                  this.$awn.success(updateRepresentativeStatus);
                }
              });
            },
        },
    };
</script>

<style scoped lang="scss">
    .disposer-company {
        .company-website{
            margin-bottom: 50px;
            .disposer-app-input {
                width: to_rem(740px);
            }
        }
        .disposer-app-checkbox {
            margin-bottom: 0.5rem;
        }
    }
</style>
