<template>
    <div class="reload-page">
        <p>Произошла ошибка. Перезагрузите страницу.</p>
        <common-button
            class="common-button--green"
            @click="reloadPage"
        >
            Перезагрузить
        </common-button>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import CommonButton from '@/components/common/CommonButton.vue';

export default Vue.extend({
    name: 'ReloadPage',

    components: {
        CommonButton,
    },

    methods: {
        reloadPage() {
            window.location.reload();
        },
    },
});
</script>

<style lang="scss" scoped>
.reload-page {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 42px;

    p {
        font-size: 16px;
        line-height: 1.4;
        font-weight: 600;
        color: $mine-shaft;
    }

    .common-button {
        width: 180px;
        height: 60px;
    }

    @include razr1259 {
        padding: 0 24px;

        p {
            font-size: 14px;
        }

        .common-button {
            width: 130px;
            height: 50px;
        }
    }

    @include razr767 {
        flex-direction: column;

        p {
            margin-bottom: 14px;
        }
    }
}
</style>
