<template>
    <div
        class="catalog-filters"
        @click.self="closeFilters"
    >
        <div class="catalog-filters__container">
            <div class="catalog-filters__container-title">
                <h2>
                    Фильтры
                    <img src="@/assets/images/icon/filter-green-icon.svg" />
                </h2>
                <button
                    v-show="$accessor.isMobileOrTablet"
                    class="catalog-filters__button-cancel"
                    @click="closeFilters"
                ></button>
            </div>
            <div
                v-if="categoriesPath"
                class="filter-block"
            >
                <filter-block-header
                    :is-active="showCategories"
                    @toggle-filter="toggleCategories"
                >
                    Категории
                </filter-block-header>
                <product-menu-list
                    v-if="showCategories"
                    :categories="categories"
                    :categories-path="categoriesPath"
                    @close="closeFilters"
                />
            </div>

            <div
                v-for="(filter, index) in filtersList"
                :key="index"
                class="filter-block"
            >
                <filter-block-header
                    :is-active="filter.open"
                    @toggle-filter="toggleFilter(filter)"
                >
                    {{ filter.title }}
                </filter-block-header>

                <template v-if="filterIsRange(filter)">
                    <range
                        v-if="filter.open"
                        :filter="filter"
                    />
                </template>

                <template v-if="filterIsList(filter)">
                    <template v-if="filter.open">
                        <div
                            v-if="initFilterSearch(filter)"
                            class="filter-block__search"
                        >
                            <input
                                :id="filter.name"
                                v-model="filter.searchString"
                                type="search"
                                placeholder="Поиск"
                            />
                            <label
                                :for="filter.name"
                                class="visually-hidden"
                            >
                                Поиск
                            </label>
                        </div>
                        <checkbox-filter-list
                            :filter="filter"
                        />
                    </template>
                </template>
            </div>
            <div class="catalog-filters__bottom">
                <button
                    class="catalog-filters__button"
                    :class="{'catalog-filters__button__disabled': !isChangesFilters}"
                    @click="resetAllFilters"
                >
                    <span>Сбросить все</span>
                </button>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';

import CheckboxFilterList from '@/components/pages/catalog/catalog-filters/parts/CheckboxFilterList.vue';
import FilterBlockHeader from '@/components/pages/catalog/catalog-filters/parts/FilterBlockHeader.vue';
import range from '@/components/pages/catalog/catalog-filters/parts/Range.vue';
import ProductMenuList from '@/components/pages/catalog/catalog-filters/parts/ProductMenuList.vue';

import { ICategory, IFilter } from '~/src/utils/interfaces/catalog';

export default Vue.extend({
    name: 'CatalogFilters',

    components: {
        FilterBlockHeader,
        ProductMenuList,
        range,
        CheckboxFilterList,
    },

    props: {
        categoriesPath: {
            type: Array,
            default: () => ([]),
        },
        filtersList: {
            type: Array,
            default: () => ([]),
        },
    },

    data: () => ({
        showCategories: false,
        showRange: false,
    }),

    computed: {
        categories(): ICategory[] {
            return this.$accessor.catalog.categories;
        },

        activeCategory(): number {
            return +this.$route.params.category;
        },

        isChangesFilters(): boolean {
            return !!Object.keys(this.$accessor.catalog.filters).length;
        },
    },

    mounted() {
        if (this.categoriesPath.length) {
            this.showCategories = true;
        }
    },

    methods: {
        toggleCategories(): void {
            this.showCategories = !this.showCategories;
        },

        toggleRange(): void {
            this.showRange = !this.showRange;
        },

        toggleFilter(filer: IFilter): void {
            filer.open = !filer.open;
        },

        closeFilters(): void {
            this.$emit('close-filters');
        },

        filterIsRange(filter: IFilter): boolean {
            return filter.type === 'range';
        },

        filterIsList(filter: IFilter): boolean {
            return filter.type === 'list';
        },

        initFilterSearch(filter: IFilter): boolean {
            if (Array.isArray(filter.params)) {
                return filter.params.length > 2;
            }
            return false;
        },

        resetAllFilters(): void {
            this.$emit('reset-filters');
        },
    },
});
</script>

<style lang="scss" scoped>
.catalog-filters {
    flex-shrink: 0;

    width: calc((100vw - 1260px) / 2 + 345px);
    height: 100%;

    border-right: 1px solid $border-color-gray;

    background-color: $white;

    &__container {
        display: flex;
        flex-direction: column;

        width: 320px;
        min-height: 100%;
        margin-left: auto;
        padding: 0 30px 160px 0;

        &-title {
            display: none;
        }
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 50px;
        margin-top: 24px;
        padding: 0;

        border: 1px solid $filter-border-gray;
        border-radius: 12px;

        cursor: pointer;

        span {
            position: relative;

            display: inline-block;

            font-size: 16px;
            line-height: 1.3;
            font-weight: 700;
            color: $light-gray;

            &::before {
                content: '';
                position: absolute;
                top: 2px;
                left: -24px;

                width: 16px;
                height: 14px;

                background: url('@/assets/images/icon/reset-gray-icon.svg') no-repeat;
            }
        }

        @include hover_device {
            &:hover {
                border-color: $green;

                transition: border-color $common-transition-duration;

                span {
                    color: $green;

                    transition: color $common-transition-duration;

                    &::before {
                        background: url('@/assets/images/icon/reset-green-icon.svg') no-repeat;

                        transition: background-image $common-transition-duration;
                    }
                }
            }
        }

        &.catalog-filters__button__disabled {
            pointer-events: none;
            opacity: 0.5;
        }
    }
}

.filter-block {
    padding: 24px 0;

    border-bottom: 1px solid $border-color-gray;

    &__search {
        position: relative;

        width: 100%;
        padding-top: 10px;
        padding-left: 36px;

        border-bottom: 1px solid $border-color-gray;

        &::before {
            content: '';
            position: absolute;
            top: 20px;
            left: 0;

            width: 20px;
            height: 20px;

            background: url('@/assets/images/icon/search-gray-icon.svg') no-repeat;
        }

        input {
            position: relative;

            display: block;

            width: 100%;
            padding: 10px 0;

            font-size: 16px;
            line-height: 1.3;
        }
    }
}

@include razr1259 {
    .catalog-filters {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: $z-filters;

        width: 100%;
        max-width: 100%;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;

        background: rgba(0, 0, 0, 0.33);
        border: none;

        &__container {
            position: relative;

            max-width: 350px;
            margin-left: 0;
            padding: 0;

            border-right: none;

            background: white;

            .filter-block {
                margin: 0 30px;
                padding: 24px 0;

                &:nth-last-of-type(2) {
                    border-bottom: none;
                }
            }

            &-title {
                position: sticky;
                top: 0;
                z-index: $z-10;

                display: flex;
                justify-content: space-between;
                align-items: center;

                margin-bottom: 0;
                padding: 0 12px 0 30px;

                border-bottom: 1px solid $light-gray-ninth;

                background: white;

                h2 {
                    display: flex;
                    align-items: center;

                    img {
                        margin-left: 5px;
                    }
                }
            }
        }

        &__bottom {
            position: sticky;
            bottom: 0;
            z-index: $z-content;

            padding: 20px;

            background: white;
            border-top: 1px solid $light-gray-ninth;
        }

        &__button {
            margin-top: 0;
        }

        &__button-cancel {
            display: block;

            width: 50px;
            height: 50px;

            background: url('@/assets/images/icon/close-icon.svg') no-repeat center center / 30% auto;

            cursor: pointer;
        }
    }
}

@include razr767 {
    .catalog-filters {
        top: 62px;

        max-width: 100vw;
        height: auto;

        &__container {
            width: 100%;
            max-width: 100%;
            padding: 0;

            &-title {
                font-size: 18px;
            }
        }

        .filter-block {
            padding: 20px 16px;
        }
    }
}

</style>
