<template>
    <div class="common-select">
        <multiselect
            v-model="state"
            :options="options"
            :searchable="false"
            :allow-empty="false"
            label="label"
        />
    </div>
</template>

<script>
import Multiselect from 'vue-multiselect';

export default {
    name: 'CommonSelect',

    components: {
        Multiselect,
    },

    props: {
        value: {
            type: [Object, String, Number],
            required: true,
        },
        options: {
            type: Array,
            required: true,
        },
    },

    computed: {
        state: {
            get() {
                return this.value;
            },

            set(value) {
                this.$emit('input', value);
            },
        },
    },
};
</script>

<style scoped lang="scss">
.common-select {
    color: $black-second;

    cursor: pointer;

    .multiselect {
        position: relative;
        z-index: $z-2;

        display: flex;
        align-items: center;

        width: 265px;
        height: 50px;
        padding: 0 15px;

        background: white;
        border-radius: 12px;

        outline: none;

        &:hover {
            &:after {
                background-image: url('@/assets/images/icon/arrow-down-green-icon.svg');
            }
        }

        &:after {
            @include bef_aft;
            left: 89%;

            width: 15px;
            height: 10px;

            background: url('@/assets/images/icon/arrow-down-gray-icon.svg') no-repeat center center/contain;

            transform: translateY(-50%);
            transition: transform $common-transition-duration linear, background $common-transition-duration;
        }

        &--active {
            &:after {
                transform: translateY(-50%) rotate(180deg);
            }
        }
    }
    &::v-deep {
        .multiselect {
            font-weight: 600;

            &__content {
                width: 100%;
            }

            &__content-wrapper {
                position: absolute;
                top: 100%;
                right: 0;
                left: 0;

                margin-top: -8px;
                padding: 12px 6px 6px;

                background: white;
                border-radius: 0 0 12px 12px;
                box-shadow: 0 15px 15px 0 rgb(0 0 0 / 15%);
            }

            &__option {
                display: flex;
                align-items: center;

                width: 100%;
                height: 50px;
                margin-bottom: 4px;
                padding: 9px;

                color: $filter-font-gray;

                border-radius: 12px;

                cursor: pointer;
                transition: background $common-transition-duration, color $common-transition-duration;

                &:hover {
                    color: $green;

                    background: $input-bg-color;
                }
            }
        }
    }

    &--gray {
        .multiselect {
            width: 100%;
            padding: 0 16px;

            background: $input-bg-color;
            border: 1px solid $light-gray-ninth;
            border-radius: 8px;

            &:after {
                left: 91%;

                width: 12px;
                height: 10px;

                background-image: url('@/assets/images/icon/arrow-black-icon.svg');
            }
        }
        &::v-deep {
            .multiselect {
                font-size: 14px;
                line-height: 1.3;
                font-weight: 600;
                color: $black-second;

                &--active {
                    border: 1px solid $black-second;
                }

                &__content-wrapper {
                    top: 110%;

                    margin-top: 0;
                    padding: 0;

                    background: $input-bg-color;
                    border: 1px solid $input-bg-color;
                    border-radius: 8px;
                }

                &__option {
                    margin-bottom: 0;
                    padding: 16px;

                    color: $black-second;

                    border-radius: 8px;

                    &:hover {
                        background: $white;
                    }
                }
            }
        }
    }

    @include tablet_landscape {
        font-size: 14px;

        .multiselect {
            width: 200px;

            &:after {
                left: 88%;

                width: 12px;
            }
        }

        &--gray {
            .multiselect {
                width: 100%;

                &:after {
                    left: 91%;
                }
            }
        }
    }

    @include mobile {
        .multiselect {
            width: 100%;
            padding: 0 20px;

            &:after {
                left: 89%;

                width: 10px;
            }
        }

        &::v-deep {
            .multiselect {
                &__content-wrapper {
                    margin-top: 1px;
                    padding: 0;
                }

                &__element {
                    &:not(:nth-last-of-type(3)) {
                        border-bottom: 1px solid $light-gray-ninth;
                    }
                    span {
                        margin-bottom: 0;
                    }
                }

                &__option {
                    padding: 9px 18px;
                    &:hover {
                        color: $filter-font-gray;

                        background: white;
                    }
                }
            }
        }

        &--gray {
            .multiselect {
                padding: 0 16px;

                &:after {
                    left: 91%;

                    width: 12px;
                }
            }
        }
    }
}
</style>
