<template>
    <div
        v-click-outside="closeOptions"
        class="common-input"
        :class="{'common-input--error': error}"
        @keydown="selectOption"
    >
        <label class="common-input__label">
            <span v-if="label">
                {{ label }} <i v-if="required">*</i>
            </span>
            <input
                v-model="state"
                :type="inputType"
                :disabled="disabled"
                :placeholder="placeholder"
                :pattern="inputPattern"
                @input="openOptions"
                @focus="focusInput"
                @blur="blurInput"
            />
            <eye-icon
                v-if="isPassword"
                class="common-input__eye"
                :class="{'common-input__eye-green' : passwordIsShow}"
                @click="togglePassword"
            />
        </label>
        <div
            v-show="optionsIsShow"
            class="common-input__autocomplete-wrapper"
        >
            <div
                ref="autocomplete"
                class="common-input__autocomplete"
            >
                <div>
                    <div class="common-input__autocomplete-title">
                        Выберите вариант или продолжите ввод
                    </div>
                    <div
                        v-for="(option, index) in autocompleteOptions"
                        :key="index"
                        :class="{'autocomplete-option__selected': selectedIndex === index}"
                        @click="autocompleteClickHandler(option)"
                        @mouseenter="setSelectOption(index)"
                        @mouseleave="unselectOption"
                        v-html="option.html"
                    ></div>
                </div>
            </div>
        </div>
        <ul
            v-if="errorMessage"
            class="common-input__error"
            v-html="errorMessage"
        ></ul>
        <p
            v-if="warning"
            class="common-input__warning"
            v-html="warning"
        >
        </p>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Scrollbar from 'smooth-scrollbar';

import EyeIcon from '@/assets/images/icon/eye-icon.svg?inline';

import { TStringOrNumber, TObjectAnyPropsOrNull, IObjectAnyProps } from '~/src/utils/interfaces';

export default Vue.extend({
    name: 'CommonInput',

    components: {
        EyeIcon,
    },

    props: {
        disabled: {
            type: Boolean,
            default: false,
        },
        type: {
            type: String,
            default: 'text',
            validator: value =>
                [
                    'email',
                    'text',
                    'tel',
                    'password',
                    'name',
                ].includes(value),
        },
        pattern: {
            type: String,
            default: '',
        },
        label: {
            type: String,
            default: '',
        },
        placeholder: {
            type: String,
            default: '',
        },
        value: {
            type: [String, Number],
            required: true,
            default: '',
        },
        required: {
            type: Boolean,
            default: false,
        },
        autocompleteOptions: {
            type: Array,
            default: () => ([] as IObjectAnyProps[]),
        },
        error: {
            type: [String, Boolean],
            default: false,
        },
        warning: {
            type: String,
            default: '',
        },
    },

    data: () => ({
        showOptionsList: false,
        passwordIsShow: false,
        scrollbar: null as TObjectAnyPropsOrNull,
        selectedIndex: -1,

        showErrorMessage: false,
    }),

    computed: {
        state: {
            get(): TStringOrNumber {
                return this.value;
            },

            set(value: TStringOrNumber): void {
                this.$emit('input', value);
            },
        },

        optionsIsShow(): boolean {
            return !!this.autocompleteOptions?.length && this.showOptionsList;
        },

        isPassword(): boolean {
            return this.type === 'password';
        },

        errorMessage(): string {
            if (this.showErrorMessage && typeof this.error !== 'boolean') {
                return this.error;
            }
            return '';
        },

        inputType(): string {
            if (this.type === 'password' && this.passwordIsShow) {
                return 'text';
            }
            return this.type;
        },

        inputPattern(): string | boolean {
            return this.pattern ? this.pattern : false;
        },
    },

    watch: {
        autocompleteOptions() {
            this.scrollbar?.update();
        },

        error() {
            this.showErrorMessage = true;
        },
    },

    mounted() {
        if (this.autocompleteOptions) {
            this.initScrollbar();
        }
    },

    methods: {
        focusInput(): void {
            this.openOptions();
            this.showErrorMessage = true;
            this.$emit('focus');
        },

        blurInput(): void {
            this.showErrorMessage = false;
            this.$emit('blur');
        },

        openOptions(): void {
            if (this.state) {
                this.showOptionsList = true;
            }
        },

        closeOptions(): void {
            this.showOptionsList = false;
        },

        initScrollbar(): void {
            const block = this.$refs.autocomplete as HTMLDivElement;
            const options = {
                alwaysShowTracks: true,
            };
            this.scrollbar = Scrollbar.init(block, options);
        },

        togglePassword(): void {
            this.passwordIsShow = !this.passwordIsShow;
        },

        autocompleteClickHandler(option: IObjectAnyProps): void {
            this.$emit('autocomplete-action', option);
            this.closeOptions();
        },

        selectOption(e: IObjectAnyProps): any {
            if (!this.autocompleteOptions.length || !this.optionsIsShow) return;

            const checkOverflow = () => {
                setTimeout(() => {
                    const elem: HTMLDivElement = document.querySelector('.autocomplete-option__selected')!;
                    if (!elem) return;

                    const container = this.$refs.autocomplete as HTMLDivElement;

                    const isOutScreenBottom = elem.getBoundingClientRect().bottom > container.getBoundingClientRect().bottom;
                    const isOutScreenTop = elem.getBoundingClientRect().top < container.getBoundingClientRect().top;
                    let top;
                    if (isOutScreenBottom) {
                        top = elem.offsetTop + elem.offsetHeight - container.offsetHeight;
                    }
                    else if (isOutScreenTop) {
                        top = elem.offsetTop;
                    }
                    this.scrollbar!.scrollTo(0, top);
                });
            };

            if (e.key === 'ArrowDown') {
                e.preventDefault();
                if (this.selectedIndex === this.autocompleteOptions.length - 1) return;
                this.selectedIndex++;

                checkOverflow();
            }
            else if (e.key === 'ArrowUp') {
                e.preventDefault();
                if (this.selectedIndex === 0) return;
                this.selectedIndex--;

                checkOverflow();
            }
            else if (e.key === 'Enter') {
                e.preventDefault();
                const selectedOption = this.autocompleteOptions[this.selectedIndex];
                if (selectedOption) {
                    this.autocompleteClickHandler(selectedOption as IObjectAnyProps);
                }
            }
        },

        setSelectOption(index: number): void {
            this.selectedIndex = index;
        },

        unselectOption(): any {
            this.selectedIndex = -1;
        },
    },
});
</script>

<style lang="scss" scoped>
.common-input {
    position: relative;

    width: 100%;
    padding-bottom: 20px;

    &:focus-within {
        z-index: $z-10;
    }

    &.common-input--success {
        input {
            border-color: $green;
        }
    }

    &.common-input--error {
        position: relative;
        input {
            border-color: $wrong-color;
        }
    }

    &[disabled] {
        input {
            color: $light-gray-second;

            pointer-events: none;
        }
    }

    &__label {
        position: relative;

        display: block;

        span {
            display: inline-block;

            margin-bottom: 8px;
            padding-left: 16px;

            font-size: 14px;
            line-height: 1.3;
            font-weight: 600;
            color: $light-gray-second;
            letter-spacing: -0.01em;
        }

        input {
            width: 100%;
            height: 60px;
            padding: 20px 16px;

            font-size: 16px;
            font-weight: 700;

            background-color: $input-bg-color;
            border: 1px solid $input-border-color;
            border-radius: 8px;

            transition: border-color $common-transition-duration;

            &:hover {
                border-color: $light-gray-fifth;
            }

            &:read-only {
                color: $light-gray-second;
            }

            &:focus {
                border: 1px solid $black-second;
            }
        }

        i {
            color: $red;
        }

        .common-input__eye {
            position: absolute;
            top: 47px;
            right: 15px;
            z-index: $z-1;

            cursor: pointer;

            transition: opacity $common-transition-duration;

            &:hover {
                opacity: 0.6;
            }

            &-green {
                opacity: 1 !important;
                &::v-deep {
                    path {
                        fill: $green;
                    }
                }
            }
        }
    }

    &__warning {
        position: absolute;
        top: calc(100% - 7px);

        display: block;

        padding-left: 42px;

        font-size: 12px;
        font-weight: 700;
        color: $brown;

        &::before {
            content: '';
            position: absolute;
            top: -4px;
            left: 16px;

            width: 18px;
            height: 18px;

            background: url('@/assets/images/icon/warning-icon.svg') center no-repeat;
        }
    }

    &__autocomplete-wrapper {
        position: absolute;
        top: calc(100% - 10px);
        right: 0;
        left: 0;
        z-index: $z-input;

        max-height: 190px;
        padding: 10px 0;
        overflow: hidden;

        font-size: 14px;
        font-weight: 600;

        background: $input-bg-color;
        border-radius: 8px;
        box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
    }

    &__autocomplete {
        height: 100%;
        max-height: 170px;
        overflow: visible !important;

        &-title {
            margin-bottom: 2px;
            padding: 0 16px;
        }
    }

    @include razr1259 {
        padding-bottom: 14px;

        &__label {
            input {
                height: 50px;
                padding: 18px 16px;

                font-size: 12px;
            }

            .common-input__eye {
                top: 43px;
            }
        }

        &__warning {
            bottom: -5px;
        }

        &__button-change {
            font-size: 10px;
        }

        &__autocomplete-wrapper {
            top: 100%;
        }
    }

    @include razr767 {
        width: 100%;
        padding-bottom: 20px;

        &__label {
            span {
                margin-bottom: 11px;

                font-size: 14px;
                line-height: 100%;
            }

            input {
                font-size: 16px;
            }

            .common-input__eye {
                width: 25px;
                svg {
                    width: 100%;
                }
            }
        }

        &__warning {
            bottom: 0;
        }

        &__button-change {
            font-size: 12px;
        }

        &__autocomplete-wrapper {
            top: 93%;
        }
    }
}

</style>
