<template>
    <div class="common-loader">
        <div class="common-loader__round">
            <img src="@/assets/images/icon/loader-icon.svg" />
        </div>
    </div>
</template>

<script>
// Компонент в текущей конфигурации может монтироваться только перед блоком который он должен покрывать!

import Vue from 'vue';

export default Vue.extend({
    name: 'CommonLoader',
});
</script>

<style scoped lang="scss">
.common-loader {
    position: sticky;
    top: 0;
    left: 0;
    z-index: $z-10;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;

    background: rgba(75, 82, 88, 0.33);

    &::v-deep {
        & + div {
            margin-top: -100vh;
        }
    }

    &__cover {
        position: absolute;

        height: 100%;

        &::v-deep {
            & + div {
                margin-top: 0;
            }
        }
    }

    &__round {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100px;
        height: 100px;

        animation-name: rotate;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        background: white;
        border-radius: 50%;

        img {
            width: 100%;
            height: 100%;
            margin-right: 0;

            animation-name: rotate;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
        }
    }

    &__in {
        background: transparent;
        max-height: 120px;
    }

    @include mobile {
        &__round {
            width: 60px;
            height: 60px;
        }
    }
}
</style>
