<template>
    <div
        class="common-code-inputs"
        :class="{'common-code-inputs--error': errorMessage, 'common-code-inputs--disabled': disabled}"
        @keydown.enter="sendCode"
    >
        <otp-input
            separator=""
            @on-change="inputCode"
        />

        <div
            v-if="errorMessage"
            class="common-input__error"
        >
            <span>
                {{ errorMessage }}
            </span>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';

// @ts-ignore
import OtpInput from '@bachdgvn/vue-otp-input';

export default Vue.extend({
    name: 'CommonCodeInputs',

    components: {
        OtpInput,
    },

    props: {
        disabled: {
            type: Boolean,
            default: false,
        },
        error: {
            type: [Boolean, String],
            default: false,
        },
        value: {
            type: String,
            default: '',
        },
    },

    data: () => ({
        codeParts: [],
    }),

    computed: {
        errorMessage(): string {
            return typeof this.error !== 'boolean' ? this.error : '';
        },
    },

    methods: {
        inputCode(value: string) {
            this.$emit('input', value);
        },

        sendCode() {
            this.$emit('confirm');
        },
    },
});
</script>

<style scoped lang="scss">
.common-code-inputs {
    position: relative;

    display: flex;
    justify-content: space-between;

    width: 100%;
    max-width: 356px;

    & > div {
        &:nth-of-type(1) {
            justify-content: space-between;

            width: 100%;
        }
    }

    &::v-deep {
        input {
            width: 68px;
            height: 82px;
            padding: 30px 20px 30px 24px;

            font-size: 36px;
            line-height: 20px;
            font-weight: 600;

            background: $input-bg-color;
            border: 1px solid $input-border-color;
            border-radius: 12px;

            &[disabled] {
                color: $light-gray-second;

                pointer-events: none;
            }
        }
    }

    &--success {
        &::v-deep {
            input {
                border-color: $green;
            }
        }
    }

    &--error {
        &::v-deep {
            input {
                border-color: $red;
            }
        }
    }

    &--disabled {
        &::v-deep {
            input {
                border-color: $disabled-bg-color;

                opacity: 0.5;
                pointer-events: none;
            }
        }
    }

    @include tablet_landscape {
        max-width: 265px;
        &::v-deep {
            input {
                width: 48px;
                height: 62px;
                padding: 21px 15px;

                font-size: 28px;
            }
        }
    }

    @include tablet {
        max-width: 260px;
        &::v-deep {
            input {
                width: 48px;
                height: 63px;
                padding: 5px;

                font-size: 28px;
                text-align: center;

                border-radius: 8px;
            }
        }
    }

    @include mobile {
        max-width: 308px;
        margin-bottom: 24px;

        &::v-deep {
            input {
                width: 50px;
                height: 60px;

                font-size: 21px;
                line-height: 1;
            }
        }
    }
}
</style>
