<template>
    <component
        :is="tag"
        v-bind="attributes"
        :disabled="loading"
        class="common-button"
        @click="onClick"
    >
        <slot></slot>
        <div
            v-if="loading"
            class="common-button__loader-wrapper"
        >
            <div class="common-button__loader">
                <img src="@/assets/images/icon/loader-icon.svg" />
            </div>
        </div>
    </component>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
    name: 'CommonButton',

    props: {
        tag: {
            type: String,
            default: 'div',
        },
        loading: {
            type: Boolean,
            default: false,
        },
    },

    computed: {
        attributes() {
            return this.$attrs;
        },
    },

    methods: {
        onClick(event: { target: { value: any; }; }) {
            this.$emit('click', event.target.value);
        },
    },
});
</script>

<style lang="scss" scoped>
.common-button {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: fit-content;
    height: 50px;
    padding: 0 15px;

    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: inherit;
    text-decoration: none;

    border-radius: 8px;

    cursor: pointer;

    background: $white;

    transition: opacity $common-transition-duration, background-color $common-transition-duration;

    &:hover {
        background-color: $light-gray-seven;
    }

    &[data-disabled] {
        color: $light-gray !important;

        background-color: $disabled-bg-color;

        pointer-events: none;
    }

    &::v-deep {
        img {
            display: block;

            height: 16px;
            margin-right: 15px;
        }
    }

    &--small {
        height: 45px;

        font-size: 14px;
    }

    &--big {
        height: 60px;
        padding: 0 30px;

        img {
            height: 18px;
            margin-right: 26px;
        }
    }

    &--responsive {
        width: 100%;
        height: 60px;
    }

    &--green {
        color: $white;

        background-color: $green;

        &:hover {
            opacity: 0.7;
            background-color: $green;
        }
    }

    &--transparent-green {
        color: $green;

        background: rgba($green, 0.07);
    }

    &--gray {
        min-width: 160px;

        color: $black;

        background-color: $disabled-bg-color;
    }

    &--gray-disabled {
        color: $light-gray;

        background-color: $disabled-bg-color;

        cursor: default;

        &:hover {
            opacity: 0.7;
            background-color: $disabled-bg-color;
        }
    }

    &--green-border {
        font-size: 18px;
        line-height: 18px;
        font-weight: 400;
        color: $green;

        background-color: transparent;
        border: 1px solid $green;
        border-radius: 0;
    }

    &--gray-border {
        color: $dark-gray;

        background-color: transparent;
        border: 1px solid $dark-gray;
    }

    &--light-gray-border {
        color: $light-gray-fifth;

        background-color: transparent;
        border: 1px solid $light-gray-fifth;
    }

    &--green-radius {
        color: $green;

        background-color: transparent;
        border: 1px solid $green;
    }

    &:disabled {
        color: $light-gray;

        background: $disabled-bg-color;
        border-color: $disabled-bg-color;

        pointer-events: none;
    }

    &__loader-wrapper {
        position: absolute;
        top: 50%;
        right: 5px;

        width: 50px;
        height: 50px;

        background: $white;
        border: 1px solid $input-border-color;
        border-radius: 50%;

        transform: translateY(-50%);
    }

    &__events-none{
        pointer-events: none;
    }

    &__loader {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;

        animation-name: rotate;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        img {
            width: 100%;
            height: 100%;
            margin-right: 0;

            animation-name: rotate;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
        }
    }

    @include razr1259 {
        height: 47px;

        font-size: 14px;
        white-space: nowrap;
        &--responsive {
            height: 50px;
        }

        &__loader-wrapper {
            right: 5px;

            width: 40px;
            height: 40px;
        }
    }

    @include tablet {
        &--small {
            height: 38px;
        }
    }

    @include mobile {
        height: 50px;
        padding: 0 12px;

        font-size: 14px;

        &--small {
            height: 40px;
            padding: 0 9px;
            &::v-deep {
                img {
                    height: 10px;
                    margin-right: 11px;
                }
            }
        }

        &::v-deep {
            img {
                height: 13px;
                margin-right: 10px;
            }
        }

        &__loader {
            img {
                width: 75%;
                height: 75%;
                margin-right: 0;
            }
        }
    }
}
@keyframes rotate {
    0% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(390deg);
    }
}

</style>
