<template>
    <ul class="common-breadcrumbs">
        <li
            v-for="(link, key) in links"
            :key="key"
            class="common-breadcrumbs__item"
        >
            <nuxt-link
                v-if="link.to"
                :to="link.to"
                class="common-breadcrumbs__item-name"
            >
                {{ link.name }}
            </nuxt-link>
            <span
                v-else
                class="common-breadcrumbs__item-name"
            >{{ link.name }}</span>
            <span class="common-breadcrumbs__item-separator">/</span>
        </li>
    </ul>
</template>

<script lang="ts">
import Vue from 'vue';
import { IBreadcrumb } from '~/src/utils/interfaces/catalog';

export default Vue.extend({
    name: 'CommonBreadcrumbs',

    props: {
        links: {
            type: Array,
            default: () => ([] as IBreadcrumb[]),
        },
    },
});
</script>

<style scoped lang="scss">
.common-breadcrumbs {
    display: flex;
    align-items: center;

    &__item {
        display: flex;
        align-items: center;

        transition: color $common-transition-duration;

        &-name {
            font-size: 14px;
            font-weight: 400;
            line-height: 1.3;
            color: $light-gray;
            text-decoration: none;

            transition: color $common-transition-duration;
        }

        &-separator {
            margin: 0 6px;

            font-size: 14px;
            line-height: 1.3;
            color: $light-gray;
        }

        &:last-child {
           .common-breadcrumbs__item-name {
                font-weight: 700;
                pointer-events: none;
            }

            .common-breadcrumbs__item-separator {
                display: none;
            }
        }

        &:not(:last-child):hover {
            .common-breadcrumbs__item-name {
                color: $green;
                text-decoration: underline;
            }
        }
    }

    @include razr1259 {
        &__item {
            &-name {
                font-size: 12px;
            }

            &-separator {
                font-size: 12px;
            }
        }
    }

    @include razr767 {
        display: none;
    }
}
</style>
