<template>
    <label
        class="common-checkbox"
        :class="{'common-checkbox--error': error}"
    >
        <input
            v-model="state"
            type="checkbox"
        />
        <p v-html="label"></p>
    </label>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
    name: 'CommonCheckbox',

    props: {
        label: {
            type: String,
            default: '',
        },
        value: {
            type: Boolean,
            required: true,
            default: false,
        },
        error: {
            type: Boolean,
            default: false,
        },
    },

    computed: {
        state: {
            get(): boolean {
                return this.value;
            },

            set(value: boolean) {
                this.$emit('input', value);
            },
        },
    },
});
</script>

<style scoped lang="scss">
.common-checkbox {
    display: block;

    font-size: 12px;

    cursor: pointer;

    input {
        display: none;

        &:checked {
            &+p {
                &:before {
                    border-color: $green;
                    background: url('@/assets/images/icon/checkmark.svg') no-repeat center center/ 80% auto;
                }
            }
        }
    }

    p {
        position: relative;

        padding-left: 21px;

        line-height: 1.3;

        &:before {
            @include bef_aft;
            left: 0;

            width: 20px;
            height: 20px;

            border: 2px solid $filter-border-gray;
            border-radius: 3px;
        }
    }

    &--error {
        p {
            &:before {
                border-color: $red;
            }
        }
    }

     &::v-deep {
         a {
             color: $green;
         }
     }

    &:hover {
        p {
            &:before {
                border-color: rgba($green, 0.3);
            }
        }
    }
}
</style>
