<template>
    <form
        class="common-phone-confirmation"
        @submit.prevent="confirmPone"
    >
        <p class="common-phone-confirmation__title">
            Введите четырехзначный код из смс
        </p>
        <p class="common-phone-confirmation__description">
            Код был отправлен на номер: <span>{{ numberString }}</span>
        </p>
        <common-code-inputs
            v-model="code"
            :error="inputsError"
            :disabled="loading"
            :class="{'common-code-inputs--success': enabledSendBtn}"
            @confirm="confirmPone"
        />
        <p
            v-if="!timerIsStop"
            class="common-phone-confirmation__residue"
        >
            Осталось {{ time }} секунды
        </p>
        <button
            v-else
            class="common-phone-confirmation__button-again"
            type="button"
            @click="resendCode"
        >
            Отправить код повторно
        </button>
        <div class="common-phone-confirmation__button-wrapper">
            <common-button
                v-if="!disableBack"
                class="common-button--gray"
                @click="cancel"
            >
                Отмена
            </common-button>
            <common-button
                class="common-button--green"
                tag="button"
                type="submit"
                :loading="loading"
                :data-disabled="!enabledSendBtn"
            >
                Отправить
            </common-button>
        </div>
    </form>
</template>

<script lang="ts">
import Vue from 'vue';

import CommonCodeInputs from '@/components/common/CommonCodeInputs.vue';
import CommonButton from '@/components/common/CommonButton.vue';

import { REQUIRED_ERROR } from '~/src/utils/errors-texts';
import { validPhone } from '~/src/utils/helpers/functions';

export default Vue.extend({
    name: 'CommonPhoneConfirmation',

    components: {
        CommonCodeInputs,
        CommonButton,
    },

    props: {
        error: {
            type: String,
            default: '',
        },
        disableBack: {
            type: Boolean,
            default: false,
        },
        number: {
            type: String,
            default: '',
        },
    },

    data: () => ({
        timerIsStop: false,
        time: 0,
        code: '',
        loading: false,
        validationError: '',
    }),

    validations: {
        code: {
            length(value) {
                return value.length === 4;
            },
        },
    },

    computed: {
        numberString(): string {
            return validPhone(this.number);
        },

        enabledSendBtn(): boolean {
            return !this.$v.$invalid;
        },

        inputsError(): string {
            if (this.$v.$dirty) {
                if (!this.$v.code.length) {
                    return REQUIRED_ERROR;
                }
            }
            return this.error;
        },
    },

    mounted() {
        this.startTimer();
    },

    methods: {
        startTimer(): void {
            this.time = 60;
            this.timerIsStop = false;
            const timerI = setInterval((): void => {
                if (this.time === 1) {
                    this.timerIsStop = true;
                    clearInterval(timerI);
                }
                this.time--;
            }, 1000);
        },

        confirmPone(): void {
            if (this.$v.$invalid) {
                this.$v.$touch();
                return;
            }

            this.loading = true;
            this.$emit('confirm', this.code, () => {
                this.loading = false;
            });
        },

        resendCode(): void {
            this.startTimer();
            this.$emit('resend-code');
        },

        cancel(): void {
            this.$v.$reset();
            this.$emit('cancel');
        },
    },
});
</script>

<style lang="scss" scoped>
.common-phone-confirmation {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    &__title {
        margin-bottom: 17px;

        font-size: 20px;
        font-weight: 700;
        text-align: center;
    }

    &__description {
        margin-bottom: 35px;

        font-size: 16px;
        text-align: center;
        color: $modal-color-gray;

        span {
            font-weight: 600;
        }
    }

    &__code-wrapper.correct {
        input {
            border-color: $green;
        }
    }

    &__code-wrapper.wrong {
        input {
            border-color: $wrong-color;
        }
    }

    &__residue {
        font-size: 16px;
        line-height: 24px;
        color: $modal-color-gray;
    }

    &__button-again {
        position: relative;

        margin-top: 7px;
        margin-left: 38px;
        padding: 0;

        font-size: 16px;
        line-height: 16px;
        font-weight: 600;
        color: $green;

        border-bottom: 1px solid $green;

        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            top: -4px;
            left: -38px;

            width: 22px;
            height: 22px;

            background: url('@/assets/images/icon/repeat-icon.svg') center / contain no-repeat;
        }
    }

    &__button-wrapper {
        display: flex;

        margin-top: 24px;

        .common-button--gray {
            margin-right: 18px;
        }

        .common-button--green {
            width: 178px;
        }
    }

    .common-code-inputs {
        margin-bottom: 18px;
    }

    @include razr1259 {
        min-height: 278px;
        padding: 0;

        .common-code-inputs {
            margin-bottom: 8px;
        }

        &__title {
            margin-bottom: 8px;

            font-size: 16px;
            line-height: 28px;
        }

        &__description {
            margin-bottom: 16px;

            font-size: 14px;
            line-height: 20px;
        }

        &__code-wrapper {
            max-width: 261px;
            margin-bottom: 8px;
        }

        &__residue {
            font-size: 14px;
        }

        &__button-again {
            margin-top: 9px;
            margin-left: 30px;

            font-size: 14px;
            line-height: 14px;

            &::before {
                top: 0;
                left: -30px;

                width: 18px;
                height: 18px;
            }
        }

        &__button-wrapper {
            margin-top: 16px;

            .common-button--gray {
                min-width: 114px;
            }

            .common-button--green {
                width: 128px;
            }
        }
    }

    @include tablet {
        &__description {
            margin-bottom: 14px;
        }
    }

    @include mobile {
        padding: 24px 13px 27px;

        &__title {
            max-width: 260px;
            margin-bottom: 14px;

            font-size: 21px;
            line-height: 120%;
        }

        &__description {
            margin-bottom: 25px;

            font-size: 14px;
            line-height: 150%;
        }

        &__code-wrapper {
            max-width: 308px;
            margin-bottom: 24px;

            input {
                width: 50px;
                height: 60px;

                font-size: 21px;
                line-height: 100%;
            }
        }

        .common-code-inputs {
            margin-bottom: 23px;
        }

        &__alert {
            left: 42px;
        }

        &__button-wrapper {
            justify-content: space-between;

            margin-top: 24px;

            .common-button--gray {
                min-width: 120px;
            }

            .common-button--green {
                width: 178px;
            }
        }
    }

    @include razr365 {
        &__button-wrapper {
            .common-button--green {
                width: 128px;
            }
        }
    }
}

</style>
