<template>
    <div
        v-scroll-to="'body'"
        class="common-scroll-up"
    ></div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
    name: 'CommonScrollTop',
});
</script>

<style lang="scss" scoped>
.common-scroll-up {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;
    padding: 0;

    background: url('@/assets/images/icon/scroll-up-icon.svg') center no-repeat;
    border-radius: 12px;

    cursor: pointer;

    transition: background-color $common-transition-duration;

    &:hover {
        background-color: rgba(#fff, 0.7);
    }
}

</style>
