<template>
    <div
        class="common-quantity-input"
        :class="{'common-quantity-input__short': short}"
        @click.stop
    >
        <div
            v-if="!short"
            class="common-quantity-input--sum"
        >
            {{ totalPrice }} <span>₽</span>
        </div>
        <v-popover
            popover-class="popover-prompt"
            placement="top-center"
            :delay="{ show: 1000 }"
            offset="5"
            trigger="hover"
        >
            <div class="card-price-counter">
                <button
                    :disabled="isDisabledMinusButton"
                    @click="changeCounter(false)"
                >
                    <minus-icon />
                </button>
                <div class="common-quantity-input__input">
                    <div
                        class="common-quantity-input__width-standard"
                    >
                        <span>
                            {{ counter }}
                        </span>
                        <input
                            ref="countInput"
                            v-model="counter"
                            type="text"
                            @input="inputCount"
                            @blur="checkCounter"
                            @keydown.enter="blurInput"
                        />
                    </div>
                    <span>{{ unitType }}</span>
                </div>
                <v-popover
                    popover-class="card-alert-counter__popover"
                    placement="bottom-end"
                    trigger="click"
                    offet="10"
                    :disabled="!isDisabledPlusButton"
                >
                    <button
                        :disabled="isDisabledPlusButton"
                        @click="changeCounter(true)"
                    >
                        <plus-icon />
                    </button>
                    <card-alert-counter slot="popover" />
                </v-popover>
            </div>
            <span slot="popover">
                Доступно {{ maxCount }}
                <span>{{ unitType }}</span>
            </span>
        </v-popover>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { debounce } from 'lodash';

import CardAlertCounter from '@/components/pages/catalog/CardAlertCounter.vue';
import MinusIcon from '@/assets/images/icon/minus-icon.svg?inline';
import PlusIcon from '@/assets/images/icon/plus-icon.svg?inline';
import { priceFormat } from '~/src/utils/helpers/functions';
import { minWeightCount } from '~/src/utils/helpers/product';
import { IProduct } from '~/src/utils/interfaces/catalog';

export default Vue.extend({
    name: 'CommonQuantityInput',

    components: {
        CardAlertCounter,
        MinusIcon,
        PlusIcon,
    },

    props: {
        product: {
            type: Object,
            default: () => ({} as IProduct),
        },
        defaultValue: {
            type: Number,
            default: 1,
        },
        short: {
            type: Boolean,
            default: false,
        },
        price: {
            type: Number,
            default: 0,
        },
    },

    data: () => ({
        counter: 0,
        id: Math.random(),
    }),

    computed: {
        isWeight(): boolean {
            return this.product.productType === 'weight';
        },

        isDisabledPlusButton(): boolean {
            return this.counter >= this.maxCount;
        },

        isDisabledMinusButton(): boolean {
            return this.counter === 0;
        },

        debouncedChangeCount(): Function {
            return debounce(this.emitInput, 200);
        },

        totalPrice(): string {
            const price = this.product.productType === 'piece_weight' ? this.product.unitPrice : this.product.price;
            return priceFormat(price * this.counter);
        },

        step(): number {
            return this.isWeight ? this.product.weightStep / 1000 : 1;
        },

        minCount(): number {
            return minWeightCount(this.product);
        },

        maxCount(): number {
            if (this.product.productType === 'piece_weight') {
                return Math.floor(this.product.quantity / this.product.standardWeight);
            }
            return this.product.quantity;
        },

        unitType(): string {
            return this.isWeight ? 'кг' : 'шт';
        },
    },

    watch: {
        defaultValue() {
            this.counter = this.defaultValue;
        },
    },

    created() {
        this.counter = this.defaultValue;
    },

    methods: {
        changeCounter(isPlus: boolean): void {
            isPlus ? this.counter += this.step : this.counter -= this.step;
            this.counter = +this.counter.toFixed(3).replace(/0+$/g, '');
            if (+this.counter < this.minCount) this.counter = 0;
            if (+this.counter > this.maxCount) this.counter = this.maxCount;
            this.debouncedChangeCount();
        },

        inputCount(): void {
            const regexp = this.isWeight ? /[^\d.,]/ig : /\D/g;
            //@ts-ignore
            this.counter = String(this.counter).replace(regexp, '').replaceAll(',', '.').replaceAll(/^([^.]*\.)|\./g, '$1');
        },

        checkCounter(): void {
            if (+this.counter > +this.maxCount) this.counter = this.maxCount;
            if (+this.counter < 0) this.counter = 0;

            if (this.isWeight) {
                let stepsCount = Math.floor((this.counter - this.minCount) / this.step);
                if (stepsCount < 0) stepsCount = 0;
                this.counter = stepsCount * this.step + this.minCount;
            }

            this.counter = +String(Number(this.counter).toFixed(3)).replace(/0+$/g, '');
            this.debouncedChangeCount();
        },

        emitInput(): void {
            if (String(this.counter).slice(-1) !== '.') {
                this.$emit('input', +this.counter);
            }
        },

        blurInput(): void {
            const countInput: HTMLInputElement = this.$refs.countInput as HTMLInputElement;
            countInput.blur();
        },
    },
});
</script>

<style lang="scss" scoped>
.common-quantity-input {
    display: flex;
    align-items: center;

    width: fit-content;
    padding: 4px;

    border: 1px solid $input-border-color;
    border-radius: 12px;

    touch-action: manipulation;

    &--sum {
        min-width: 120px;
        max-width: 140px;
        margin: 0 30px 0 26px;

        font-size: 14px;
        font-weight: 700;
        text-align: center;
        color: $light-gray-fifth;

        overflow: hidden;
        text-overflow: ellipsis;
        span {
            font-size: 13px;
        }
    }

    &__width-standard {
        position: relative;
        z-index: $z-1;

        display: inline-block;

        span {
            display: block;

            max-width: 60px;

            opacity: 0;
            pointer-events: none;
        }
    }

    &__input {
        display: flex;
        justify-content: center;
        align-items: center;

        width: fit-content;

        font-size: 14px;
        font-weight: 700;
        color: $black-second;

        input, span {
            color: $black-second;
        }
    }

    .card-price-counter {
        position: relative;

        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 125px;
        height: 50px;
        padding: 0 10px;

        background-color: $input-bg-color;
        border-radius: 12px;

        transition: background-color $common-transition-duration;

        input {
            position: absolute;
            top: 50%;
            left: 0;

            display: inline-block;

            width: 100%;
            max-width: 100%;
            padding: 0 1px 1px 0;

            font-size: 14px;
            line-height: 1.1;
            font-weight: 700;
            text-align: center;

            transform: translateY(-50%);
        }

        span {
            margin-left: 1px;

            line-height: 1.3;
        }

        button {
            display: flex;
            align-items: center;

            width: 14px;
            height: 14px;
            padding: 0;

            cursor: pointer;

            &:disabled {
                svg::v-deep > path {
                    fill: $light-gray;
                }
            }

            svg {
                width: 100%;
            }

            &:hover {
                svg {
                    opacity: 0.7;
                }
            }
        }
    }

    &__small {
        .card-price-counter {
            width: fit-content;
            min-width: 90px;
            height: 30px;

            border-radius: 8px;
            .common-quantity-input__input {
                font-size: 12px;
                input {
                    font-size: 12px;
                }
            }

            span {
                margin-left: 1px;
            }

            button {
                width: 10px;
            }
        }
    }

    &__short {
        padding: 0;

        border: none;
    }

    @include tablet_landscape {
        .card-price-counter {
            width: 115px;
            height: 40px;
            padding: 0 7px;

            font-size: 13px;

            input {
                font-size: 13px;
            }

            button {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 20px;
                height: 20px;
                svg {
                    width: 11px;
                    height: 11px;
                }
            }
        }
        &--sum {
            margin: 0 36px 0 30px;
            font-size: 13px;

            span {
                font-size: 12px;
            }
        }
    }

    @include tablet {
        width: fit-content;

        border-radius: 8px;

        &--sum {
            margin: 0 32px 0 30px;
        }
    }

    @include mobile {
        &::v-deep {
            & > .v-popover {
                margin-left: auto;
            }
        }
        &--sum {
            width: 120px;
            min-width: auto;
            margin: 0 15px;

            font-size: 16px;
            white-space: nowrap;

            span {
                font-size: 15px;
            }
        }
    }
}
</style>
