<template>
    <div class="footer-common-social">
        <ul class="footer-common-social__list">
            <li class="footer-common-social__list-item">
                <a
                    class="footer-common-social__list-link"
                    href=""
                >
                    <fb-icon />
                </a>
            </li>
            <li class="footer-common-social__list-item">
                <a
                    class="footer-common-social__list-link"
                    href=""
                >
                    <inst-icon />
                </a>
            </li>
            <li class="footer-common-social__list-item">
                <a
                    class="footer-common-social__list-link"
                    href=""
                >
                    <vk-icon />
                </a>
            </li>
            <li class="footer-common-social__list-item">
                <a
                    class="footer-common-social__list-link"
                    href=""
                >
                    <youtube-icon />
                </a>
            </li>
        </ul>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import FbIcon from '@/assets/images/icon/fb-icon.svg?inline';
import InstIcon from '@/assets/images/icon/inst-icon.svg?inline';
import VkIcon from '@/assets/images/icon/vk-icon.svg?inline';
import YoutubeIcon from '@/assets/images/icon/youtube-icon.svg?inline';

export default Vue.extend({
    name: 'FooterCommonSocial',

    components: {
        FbIcon,
        InstIcon,
        VkIcon,
        YoutubeIcon,
    },
});
</script>

<style lang="scss" scoped>
.footer-common-social {
    &__list {
        display: flex;

        &-item:not(:last-child) {
            margin-right: 8px;
        }

        &-link {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 40px;
            height: 40px;

            background-color: $input-bg-color;
            border-radius: 12px;

            transition: background-color $common-transition-duration;

            &:hover {
                background-color: $light-gray-sixth;
            }
        }
    }
}
</style>
