<template>
    <nav class="footer-common-nav">
        <ul class="footer-common-nav__list">
            <li
                v-for="(item, index) in navigationList"
                :key="`footer${index}`"
                class="footer-common-nav__list-item"
            >
                <a
                    :href="item.link"
                    class="footer-common-nav__list-link"
                    target="_blank"
                >{{ item.name }}</a>
            </li>
            <li
                v-for="(item, index) in nuxtLinkList"
                :key="`footer2${index}`"
                class="footer-common-nav__list-item"
            >
                <nuxt-link
                    :to="item.link"
                    class="footer-common-nav__list-link"
                >
                    {{ item.name }}
                </nuxt-link>
            </li>
            <li class="footer-common-nav__list-item">
                <a
                    class="footer-common-nav__list-link"
                    @click="openFeedbackPopup"
                >
                    Обратная связь
                </a>
            </li>
        </ul>
    </nav>
</template>

<script lang="ts">
import Vue from 'vue';
import { navigationList, nuxtLinkList } from '~/src/utils/helpers/site-settings';

export default Vue.extend({
    name: 'FooterCommonNav',

    data: () => ({
        navigationList,
        nuxtLinkList,
    }),

    methods: {
        openFeedbackPopup(): void {
            this.$accessor.modal.OPEN_MODAL({ name: 'Feedback' });
        },
    },
});
</script>

<style lang="scss" scoped>
.footer-common-nav {
    &__list {
        display: flex;
        justify-content: space-between;

        width: 100%;

        &-link {
            font-size: 16px;
            font-weight: 400;
            line-height: 100%;
            text-decoration: none;
            white-space: nowrap;
            color: $abbey;

            transition: opacity $common-transition-duration;

            &:hover {
                opacity: 0.7;
            }
        }
    }

    @include razr1259 {
        &__list {
            &-link {
                font-size: 14px;
            }
        }
    }

    @include razr1023 {
        &__list {
            justify-content: flex-start;
            flex-wrap: wrap;

            margin-bottom: 14px;

            &-item {
                margin-right: 36px;
                margin-bottom: 20px;
            }
        }
    }

    @include razr767 {
        &__list {
            flex-direction: column;

            margin-bottom: 0;

            &-item {
                margin-right: 0;
                margin-bottom: 24px;
            }

            &-link {
                font-size: 16px;
            }
        }
    }
}
</style>
