<template>
    <div class="footer-common-contacts">
        <a
            class="footer-common-contacts__phone"
            :href="`tel:${managerPhone}`"
        >{{ managerPhone }} </a>
        <p class="footer-common-contacts__text">
            9:00–18:00 по будням
        </p>
        <a
            class="footer-common-contacts__text footer-common-contacts__text--mail"
            href="mailto:welcome@azbukavkusa.ru"
            target="_blank"
        >welcome@azbukavkusa.ru</a>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { validPhone } from '~/src/utils/helpers/functions';
import { managerPhone } from '~/src/utils/helpers/site-settings';

export default Vue.extend({
    name: 'FooterCommonContacts',

    computed: {
        managerPhone(): string {
            return validPhone(managerPhone);
        },
    },
});
</script>

<style lang="scss" scoped>
.footer-common-contacts {
    &__phone {
        position: relative;

        display: inline-block;

        margin-bottom: 4px;

        font-size: 16px;
        line-height: 130%;
        font-weight: 700;
        text-decoration: none;
        color: $abbey;

        &::before {
            content: "";
            position: absolute;
            top: 2px;
            left: -30px;

            width: 17px;
            height: 17px;

            background: url('@/assets/images/icon/phone-icon-green.svg') no-repeat transparent;
        }
    }

    &__text {
        margin-bottom: 3px;

        font-size: 12px;
        font-weight: 400;
        line-height: 100%;
        text-decoration: none;
        color: $light-gray-fifth;

        &--mail {
            transition: color $common-transition-duration;

            &:hover {
                color: $abbey;
            }
        }
    }

    @include razr767 {
        margin-bottom: 24px;
        padding: 24px 30px 27px;

        border-top: 1px solid $input-border-color;
        border-bottom: 1px solid $input-border-color;

        &__phone {
            margin-bottom: 7px;
        }
    }
}
</style>
