<template>
    <div class="disposer-edit-event-topic">
        <div
            class="main-modal"
        >
            <app-modal
                v-if="isModalVisible"
                @closeModal="closeModal"
                @saveHandler="saveEditorData"
            >
                <app-editor
                    v-model="editorData"
                />
            </app-modal>
        </div>
        <div class="header">
            <div class="title-back">
                <div class="disposer-app-title">
                    Edit Event Topic
                </div>
                <div class="back">
                    <app-button
                        tag="router-link"
                        :to="{name: 'event-topics'}"
                    >
                        Back to topics
                    </app-button>
                </div>
            </div>
            <div class="disposer-app-topic-title row">
                Choose Participants
            </div>
            <label class="disposer-app-checkbox">
                <input
                    ref="switchParticipantsSelects"
                    type="checkbox"
                    checked
                    @change="toggleSelects"
                />
                <div class="box"></div>
                Select / Inselect
            </label>
            <form
                ref="participantsSelects"
                class="columns"
            >
                <label
                    v-for="participant in participants"
                    :key="participant.id"
                    class="disposer-app-checkbox"
                >
                    <input
                        type="checkbox"
                        :data-id="participant.id"
                        :checked="participant.status !== 0"
                    />
                    <div class="box"></div>
                    {{ participant.name }}
                </label>
            </form>
        </div>
        <div class="main">
            <app-section-column :save="saveTopic">
                <div class="row row-name-text">
                    <div class="topic-name">
                        <label
                            class="disposer-app-label"
                        >
                            Topic name
                            <input
                                v-model="topic.name"
                                type="text"
                                class="disposer-app-input title-input"
                            />
                            <span
                                v-if="$v.topic.name.$dirty && !$v.topic.name.required"
                                class="app-input-error"
                            >
                                Enter topic name
                            </span>
                        </label>
                    </div>
                    <div class="introductory-text">
                        <label
                            class="disposer-app-label"
                        >
                            Introductory text
                            <input
                                type="text"
                                class="disposer-app-input title-input"
                                :value="topic.introText | htmlToString"
                                @focus="() => showModal('intro')"
                            />
                        </label>
                    </div>
                </div>
                <div class="row row-date-time">
                    <app-dates-row
                        :start-date-error="topicErrors.start_date"
                        :end-date-error="topicErrors.end_date"
                    >
                        <template v-slot:startDate>
                            <app-date-picker
                                v-model="topic.startDate"
                                title="Start date"
                                mode="date"
                                :required-error="$v.topic.startDate.$dirty && !$v.topic.startDate.required"
                            />
                            <app-date-picker
                                v-model="topic.startTime"
                                title="Start time"
                                mode="time"
                                :required-error="$v.topic.startTime.$dirty && !$v.topic.startTime.required"
                            />
                        </template>
                        <template v-slot:endDate>
                            <app-date-picker
                                v-model="topic.endDate"
                                title="End date"
                                mode="date"
                                :required-error="$v.topic.endDate.$dirty && !$v.topic.endDate.required"
                            />
                            <app-date-picker
                                v-model="topic.endTime"
                                title="End time"
                                mode="time"
                                :required-error="$v.topic.endTime.$dirty && !$v.topic.endTime.required"
                            />
                        </template>
                    </app-dates-row>
                </div>
                <div class="row row-description">
                    <div class="description">
                        <div class="wrap">
                            <label
                                class="disposer-app-label"
                            >
                                Description
                                <input
                                    type="text"
                                    class="disposer-app-input title-input"
                                    :value="topic.description | htmlToString"
                                    @focus="() => showModal('description')"
                                />
                            </label>
                        </div>
                        <div class="info-icons">
                            <img
                                v-tooltip.right-start="$options.texts.descriptionIconMsg"
                                src="@/assets/img/icons/disposer/info-icon.png"
                                alt=""
                                class="info-icon"
                            />
                        </div>
                    </div>
                </div>
                <div class="choose-topic-format">
                    <div class="disposer-app-topic-title">
                        Choose topic format
                    </div>
                    <app-select
                        v-model="topic.format"
                        :option-select="availableTopicFormats"
                        :disabled="!!topicId"
                    />
                    <span
                        v-if="$v.topic.format.$dirty && !$v.topic.format.required"
                        class="app-input-error"
                    >
                        Choose topic format
                    </span>
                    <app-select
                        v-if="topic.format && topic.format.label === 'Discussion forum'"
                        v-model="topic.formatDiscussion"
                        :option-select="availableTopicFormatsNext"
                        :disabled="!!topicId"
                    />
                    <span
                        v-if="$v.topic.formatDiscussion.$dirty && !$v.topic.formatDiscussion.required"
                        class="app-input-error"
                    >
                        Choose topic format discussion
                    </span>
                </div>
                <br />
                <label
                    v-if="!topic.formatDiscussion || (topic.formatDiscussion && topic.formatDiscussion.id !== 3)"
                    class="disposer-app-checkbox"
                >
                    <input
                        v-model="topic.hideTool"
                        type="checkbox"
                    />
                    <div class="box"></div>
                    Hide the comments section
                </label>
            </app-section-column>
        </div>

        <div
            class="moreSettings"
            :class="{active: topicId}"
        >
            <div
                v-if="checkSel1Sel3"
                class="sequence-section"
            >
                <app-sequence
                    :event-id="eventId"
                    :topic-id="topicId"
                    :available-questions.sync="editedTopic.questions"
                    @getEditedTopic="getEditedTopic"
                />
            </div>
            <div
                v-if="checkSel1Sel2"
                class="discussion-forum-section"
            >
                <app-topic-surveys
                    v-for="survey in surveys"
                    :key="survey.id"
                    :survey="survey"
                    :topic-id="topicId"
                    @deleteSurvey="deleteSurvey"
                    @updateTopicInfo="getEditedTopic"
                />
                <app-button
                    class="add-polling-btn"
                    @click="addSurvey"
                >
                    Add survey
                </app-button>
            </div>
            <div
                v-if="checkSel2"
                class="video-call-section"
            >
                <app-section
                    :save="updateVideoCallLink"
                >
                    <div class="video-link">
                        <label
                            class="disposer-app-label"
                        >
                            Link to video call
                            <input
                                v-model="videoCallLink"
                                type="text"
                                class="disposer-app-input title-input"
                            />
                            <span
                                v-if="$v.videoCallLink.$dirty && !$v.videoCallLink.required"
                                class="app-input-error"
                            >
                                Link is required
                            </span>
                            <span
                                v-if="$v.videoCallLink.$dirty && !$v.videoCallLink.url"
                                class="app-input-error"
                            >
                                Invalid link
                            </span>
                        </label>
                    </div>
                </app-section>
            </div>
            <div
                v-if="checkSel3_4"
                class="workshop-and-document-section"
            >
                <app-section
                    :save="saveMainDocument"
                    :delete-handler="deleteMainDocument"
                    class="workshop-upload-document"
                >
                    <div class="disposer-app-topic-title">
                        Upload document
                    </div>
                    <div class="upload-current-file">
                        <a
                            :href="generateUrl(mainDocument.file)"
                            target="_blank"
                        >
                            {{ mainDocument.name }}
                        </a>
                    </div>
                    <div class="flex">
                        <label class="disposer-app-checkbox">
                            <input
                                v-model="mainDocument.secured"
                                type="checkbox"
                            />
                            <div class="box"></div>
                            Secured view-only format
                        </label>
                        <label
                            v-if="platform.settings.watermarks"
                            class="disposer-app-checkbox"
                        >
                            <input
                                v-model="mainDocument.watermarks"
                                type="checkbox"
                            />
                            <div class="box"></div>
                            Watermarks
                        </label>
                        <app-file-input
                            :load-file="loadMainDocument"
                            accept=".pdf"
                        >
                            Choose
                        </app-file-input>
                    </div>
                </app-section>
                <app-section
                    class="workshop-session"
                    :data-disabled="mainLinkRequested"
                >
                    <div class="disposer-app-topic-title">
                        Main Session
                    </div>

                    <app-dates-row
                        :start-date-error="videoMainErrors && videoMainErrors.start_date"
                        :end-date-error="videoMainErrors && videoMainErrors.end_date"
                    >
                        <template v-slot:startDate>
                            <app-date-picker
                                v-model="videoMain.startDate"
                                title="Start date"
                                mode="date"
                                :required-error="$v.videoMain.startDate.$dirty && !$v.videoMain.startDate.required"
                            />
                            <app-date-picker
                                v-model="videoMain.startTime"
                                title="Start time"
                                mode="time"
                                :required-error="$v.videoMain.startTime.$dirty && !$v.videoMain.startTime.required"
                            />
                        </template>
                        <template v-slot:endDate>
                            <app-date-picker
                                v-model="videoMain.endDate"
                                title="End date"
                                mode="date"
                                :required-error="$v.videoMain.endDate.$dirty && !$v.videoMain.endDate.required"
                            />
                            <app-date-picker
                                v-model="videoMain.endTime"
                                title="End time"
                                mode="time"
                                :required-error="$v.videoMain.endTime.$dirty && !$v.videoMain.endTime.required"
                            />
                        </template>
                    </app-dates-row>

                    <div class="link-button">
                        <div class="link">
                            <label
                                class="disposer-app-label"
                            >
                                Link
                                <input
                                    v-model="videoMain.link"
                                    type="text"
                                    class="disposer-app-input title-input"
                                />
                                <span
                                    v-if="$v.videoMain.link.$dirty && !$v.videoMain.link.url"
                                    class="app-input-error"
                                >
                                    Invalid url
                                </span>
                            </label>
                        </div>
                        <app-button
                            @click="sendVideoRequest(1)"
                        >
                            Send request to get link
                        </app-button>
                        <app-button
                            @click="sendVideoRequest(1, true)"
                        >
                            Update link
                        </app-button>
                        <app-button
                            @click="deleteVideoRequest(1)"
                        >
                            Delete link
                        </app-button>
                    </div>
                </app-section>
                <app-section
                    class="common-session"
                    :data-disabled="contextLinkRequested"
                >
                    <div class="disposer-app-topic-title">
                        Workshop Session
                    </div>

                    <app-dates-row
                        :start-date-error="videoContextErrors && videoContextErrors.start_date"
                        :end-date-error="videoContextErrors && videoContextErrors.end_date"
                    >
                        <template v-slot:startDate>
                            <app-date-picker
                                v-model="videoContext.startDate"
                                title="Start date"
                                mode="date"
                                :required-error="$v.videoContext.startDate.$dirty && !$v.videoContext.startDate.required"
                            />
                            <app-date-picker
                                v-model="videoContext.startTime"
                                title="Start time"
                                mode="time"
                                :required-error="$v.videoContext.startTime.$dirty && !$v.videoContext.startTime.required"
                            />
                        </template>
                        <template v-slot:endDate>
                            <app-date-picker
                                v-model="videoContext.endDate"
                                title="End date"
                                mode="date"
                                :required-error="$v.videoContext.endDate.$dirty && !$v.videoContext.endDate.required"
                            />
                            <app-date-picker
                                v-model="videoContext.endTime"
                                title="End time"
                                mode="time"
                                :required-error="$v.videoContext.endTime.$dirty && !$v.videoContext.endTime.required"
                            />
                        </template>
                    </app-dates-row>
                    <div class="link-button">
                        <div class="link">
                            <label
                                class="disposer-app-label"
                            >
                                Link
                                <input
                                    v-model="videoContext.link"
                                    type="text"
                                    class="disposer-app-input title-input"
                                />
                                <span
                                    v-if="$v.videoContext.link.$dirty && !$v.videoContext.link.url"
                                    class="app-input-error"
                                >
                                    Invalid url
                                </span>
                            </label>
                        </div>

                        <app-button
                            @click="sendVideoRequest(2)"
                        >
                            Send request to get link
                        </app-button>
                        <app-button
                            @click="sendVideoRequest(2, true)"
                        >
                            Update link
                        </app-button>
                        <app-button
                            @click="deleteVideoRequest(2)"
                        >
                            Delete link
                        </app-button>
                    </div>
                </app-section>
            </div>
            <div
                v-if="checkSel5"
                class="workshop-and-document-section"
            >
                <app-section
                    class="workshop-session"
                    :data-disabled="mainLinkRequested"
                >
                    <div class="disposer-app-topic-title">
                        Activate video chat
                    </div>

                    <app-dates-row
                        :start-date-error="videoMainErrors && videoMainErrors.start_date"
                        :end-date-error="videoMainErrors && videoMainErrors.end_date"
                    >
                        <template v-slot:startDate>
                            <app-date-picker
                                v-model="videoMain.startDate"
                                title="Start date"
                                mode="date"
                                :required-error="$v.videoMain.startDate.$dirty && !$v.videoMain.startDate.required"
                            />
                            <app-date-picker
                                v-model="videoMain.startTime"
                                title="Start time"
                                mode="time"
                                :required-error="$v.videoMain.startTime.$dirty && !$v.videoMain.startTime.required"
                            />
                        </template>
                        <template v-slot:endDate>
                            <app-date-picker
                                v-model="videoMain.endDate"
                                title="End date"
                                mode="date"
                                :required-error="$v.videoMain.endDate.$dirty && !$v.videoMain.endDate.required"
                            />
                            <app-date-picker
                                v-model="videoMain.endTime"
                                title="End time"
                                mode="time"
                                :required-error="$v.videoMain.endTime.$dirty && !$v.videoMain.endTime.required"
                            />
                        </template>
                    </app-dates-row>

                    <div class="link-button">
                        <div class="link">
                            <label
                                class="disposer-app-label"
                            >
                                Link
                                <input
                                    v-model="videoMain.link"
                                    type="text"
                                    class="disposer-app-input title-input"
                                />
                                <span
                                    v-if="$v.videoMain.link.$dirty && !$v.videoMain.link.url"
                                    class="app-input-error"
                                >
                                    Invalid url
                                </span>
                            </label>
                        </div>
                        <app-button
                            @click="sendVideoRequest(1)"
                        >
                            Send request to get link
                        </app-button>
                        <app-button
                            @click="sendVideoRequest(1, true)"
                        >
                            Update link
                        </app-button>
                    </div>
                </app-section>
            </div>

            <div
                class="footer"
            >
                <app-section
                    :save="uploadPicture"
                    :delete-handler="deletePicture"
                >
                    <div>
                        <div class="disposer-app-topic-title">
                            Upload logo or any picture
                        </div>

                        <img
                            v-if="pictureSrc"
                            class="logo-img"
                            :src="pictureSrc"
                        />
                        <app-file-input
                            :load-file="loadPicture"
                            accept="image/*"
                        >
                            Choose
                        </app-file-input>
                    </div>
                </app-section>
                <app-section>
                    <div class="disposer-app-topic-title">
                        Upload Documents
                    </div>
                    <app-upload-documents
                        v-for="document in documents"
                        :key="document.id"
                        :document="document"
                        :topic-id="topicId"
                        :event-id="eventId"
                        :paths="$options.documentActionsPaths"
                        @delete="deleteDocument"
                    />
                    <app-button
                        class="narrow"
                        @click="addDocument"
                    >
                        Add document
                    </app-button>
                </app-section>
                <app-section>
                    <div class="disposer-app-topic-title">
                        Upload Video
                    </div>
                    <app-upload-video
                        v-for="video in videos"
                        :key="video.id"
                        :video="video"
                        :topic-id="topicId"
                        :event-id="eventId"
                        :paths="$options.documentActionsPaths"
                        @delete="deleteVideo"
                    />
                    <app-button
                        class="narrow"
                        @click="addVideo"
                    >
                        Add video
                    </app-button>
                </app-section>
            </div>
        </div>
    </div>
</template>

<script>
    import appSectionColumn from '@/components/disposer/app/app-section-column';
    import appSection from '@/components/disposer/app/app-section';
    import appUploadDocuments from '@/components/disposer/app/app-upload-documents';
    import appUploadVideo from '@/components/disposer/app/app-upload-video';
    import appTopicSurveys from '@/components/disposer/app/app-topic-surveys';
    import appButton from '@/components/disposer/app/app-button';
    import appSelect from '@/components/disposer/app/app-select';
    import appModal from '@/components/disposer/app/app-modal';
    import appEditor from '@/components/disposer/app/app-editor';
    import appSequence from '@/components/disposer/app/app-sequence';
    import appDatePicker from '@/components/disposer/app/app-date-picker';
    import appDatesRow from '@/components/disposer/app/app-dates-row';
    import appFileInput from '@/components/disposer/app/app-file-input';

    import { descriptionIconMsg } from '@/utils/disposer/icons-text-helper.js';
    import { uniteTime } from '@/utils/disposer/time-format-helper';
    import { parseImg } from '@/utils/disposer/parse-files-helper';
    import { DOCUMENT_TEMPLATE, VIDEO_TEMPLATE } from '@/utils/disposer/objects-templates';
    import {
        createdTopic,
        updatedTopic,
        sendVideoRequest,
        imageLoaded,
        imageDeleted,
        saveDocument,
        deletedDocument,
        saveVideoCallLink,
        deleteVideoRequest,
    } from '@/utils/disposer/notifications-text-helper';
    import { post } from '@/utils/http-helper';
    import { required, url } from 'vuelidate/lib/validators';
    import generateUrl from '@/utils/mixins/generate_url';
    import htmlToString from '@/utils/filters/html-to-string';

    const UPLOAD_MAIN_DOCUMENT = '/topic/upload-document';
    const DELETE_MAIN_DOCUMENT = '/topic/delete-document';
    const TOPIC_CREATE = '/topic/create';
    const TOPIC_UPDATE = '/topic/update';
    const TOPIC_UPDATE_VIDEO_CALL = '/topic/update-videocall';
    const VIDEO_REQUEST = '/topic/video-request';
    const UPDATE_VIDEO_REQUEST = '/topic/update-video-request';
    const REMOVE_VIDEO_REQUEST = '/topic/remove-video-request';
    const UPDATE_PICTURE = '/topic/update-picture';
    const DELETE_PICTURE = '/topic/delete-picture';

    export default {
        name: 'disposer-edit-event-topic',

        components: {
            appSectionColumn,
            appSection,
            appUploadDocuments,
            appUploadVideo,
            appTopicSurveys,
            appButton,
            appSelect,
            appDatePicker,
            appModal,
            appEditor,
            appSequence,
            appDatesRow,
            appFileInput,
        },

        filters: {
            htmlToString,
        },

        mixins: [generateUrl],

        texts: {
            descriptionIconMsg,
        },

        documentActionsPaths: {
            SAVE_OBJECT: '/topic/create-object',
            UPDATE_OBJECT: '/topic/update-object',
            DELETE_OBJECT: '/topic/delete-object',
        },

        selectOptions: {
          topicFormat: [
            {
              id: 1,
              label: 'Discussion forum',
            },
            {
              id: 2,
              label: 'Video Call',
            },
            {
              id: 3,
              label: 'Document review',
              isActiveFlag: 'review',
            },
            {
              id: 4,
              label: 'Interactive workshop with white board',
              isActiveFlag: 'workshop',
            },
            {
              id: 5,
              label: 'Work on new document',
              isActiveFlag: 'document',
            },
            {
              id: 6,
              label: 'Stickers',
              isActiveFlag: 'sticker',
            },
          ],
          topicFormatNext: [
            {
              id: 1,
              label: 'Only one open discussion',
            },
            {
              id: 2,
              label: 'Only one open discussion with polling questions',
              isActiveFlag: 'survey',
            },
            {
              id: 3,
              label: 'Sequence of open/polling questions',
            },
          ],
        },

        data: () => ({
            selectedEvent: null,

            isModalVisible: false,
            isIntroTextModal: false,
            isDescriptionModal: false,

            editorData: '',

            topic: {
                name: '',
                introText: '',
                startDate: '',
                startTime: '',
                endDate: '',
                endTime: '',
                description: '',
                format: '',
                formatDiscussion: '',
                hideTool: false,
            },
            topicErrors: {},

            videoCallLink: '',

            surveys: [
                {
                    id: Math.random(),
                },
            ],

            videoMain: {
                rstartDate: '',
                startDate: '',
                startTime: '',
                endDate: '',
                endTime: '',
                link: '',
            },
            videoContext: {
                rstartDate: '',
                startDate: '',
                startTime: '',
                endDate: '',
                endTime: '',
                link: '',
            },
            mainDocument: {
                secured: false,
                watermarks: false,
                name: '',
                file: null,
            },
            videoMainErrors: {},
            videoContextErrors: {},
            videoChatErrors: {},
            videoChatLinkRequested: false,

            picture: '',
            pictureSrc: '',

            documents: [
                { ...DOCUMENT_TEMPLATE(Math.random()) },
            ],
            documentsErrors: {},
            videos: [
                { ...VIDEO_TEMPLATE(Math.random()) },
            ],
        }),

        validations: {
            topic: {
                name: {
                    required,
                },
                startDate: {
                    required,
                },
                startTime: {
                    required,
                },
                endDate: {
                    required,
                },
                endTime: {
                    required,
                },
                format: {
                    required,
                },
                formatDiscussion: {
                    required(value) {
                        return this.topic?.format?.id !== 1 || value;
                    },
                },
            },
            videoMain: {
                startDate: {
                    required,
                },
                startTime: {
                    required,
                },
                endDate: {
                    required,
                },
                endTime: {
                    required,
                },
                link: {
                    url,
                },
            },
            videoContext: {
                startDate: {
                    required,
                },
                startTime: {
                    required,
                },
                endDate: {
                    required,
                },
                endTime: {
                    required,
                },
                link: {
                    url,
                },
            },
            videoCallLink: {
              required,
              url,
            },
        },

        computed: {
            availableTopicFormats() {
                return this.$options.selectOptions.topicFormat.filter((f) => f.isActiveFlag ? this.platform.settings[f.isActiveFlag] : true);
            },
            availableTopicFormatsNext() {
                return this.$options.selectOptions.topicFormatNext.filter((f) => f.isActiveFlag ? this.platform.settings[f.isActiveFlag] : true);
            },
            platform() {
                return this.$store.getters['platform/platform'];
            },
            eventId() {
              return +this.$route.params.id;
            },
            topicId() {
              return +this.$route.params.topicId;
            },
            editedTopic() {
              return this.$store.getters['disposerTopics/getTopic'] || {};
            },
            participants() {
              const participants = this.$store.getters['disposerTopics/getParticipants'];
              if (Object.keys(participants).length) {
                return [...participants.external, ...participants.internal];
              }
              return [];
            },
            checkSel1Sel3() {
              return (this.topic.format && this.topic.formatDiscussion?.id === 3 && this.topic.format.id === 1);
            },
            checkSel1Sel2() {
              return (this.topic.format && this.topic.formatDiscussion?.id === 2 && this.topic.format.id === 1);
            },
            checkSel2() {
              return this.topic.format?.id === 2;
            },
            checkSel3_4() {
              return this.topic.format?.id === 4 || this.topic.format?.id === 3;
            },
            checkSel5() {
              return this.topic.format?.id === 5;
            },
            isRootManager() {
                return this.$store.getters['auth/userRole']?.id === 1 || this.$store.getters['auth/userRole']?.id === 2 || this.$store.getters['auth/userRole']?.id === 3;
            },
            mainLinkRequested() {
              return !this.isRootManager && !!this.videoMain.rstartDate;
            },
            contextLinkRequested() {
              return !this.isRootManager && !!this.videoContext.rstartDate;
            },
        },

        async created() {
            await this.$store.dispatch('disposerTopics/getParticipants', { id: this.eventId });
            if (this.topicId) {
                this.getEditedTopic();
            } else {
                this.$store.dispatch('disposerTopics/clearEditedTopic');
            }
        },

        methods: {
            showModal(v) {
                this.isModalVisible = !this.isModalVisible;
                if (v === 'intro') {
                    this.editorData = this.topic.introText;
                    this.isIntroTextModal = true;
                }
                if (v === 'description') {
                    this.editorData = this.topic.description;
                    this.isDescriptionModal = true;
                }
            },
            closeModal() {
                this.isModalVisible = !this.isModalVisible;
                this.isIntroTextModal = false;
                this.isDescriptionModal = false;
            },
            toggleSelects() {
                const state = this.$refs.switchParticipantsSelects.checked;
                this.$refs.participantsSelects.elements.forEach((s) => {
                    s.checked = state;
                });
            },
            saveEditorData() {
                this.isModalVisible = !this.isModalVisible;
                if (this.isIntroTextModal) {
                    this.topic.introText = this.editorData;
                    this.isIntroTextModal = false;
                }
                if (this.isDescriptionModal) {
                    this.topic.description = this.editorData;
                    this.isDescriptionModal = false;
                }
            },

            addSurvey() {
                this.surveys.push({
                  id: Math.random(),
                });
            },
            deleteSurvey(id) {
              this.surveys = this.surveys.filter(s => s.id!==id);
            },
            async saveTopic() {
                if (this.$v.topic.$invalid) {
                    this.$v.topic.$touch();
                    return;
                }
                const selectedParticipants = [];
                this.$refs.participantsSelects.elements.forEach((s) => {
                    s.checked? selectedParticipants.push({
                      user_id: +s.getAttribute('data-id'),
                      status: 1,
                    }): null;
                });
                const createTopicObj = {
                    id: this.topic.id,
                    event_id: this.eventId,
                    name: this.topic.name,
                    intro: this.topic.introText,
                    start_date: uniteTime(this.topic?.startDate, this.topic?.startTime),
                    end_date: uniteTime(this.topic?.endDate, this.topic?.endTime),
                    description: this.topic.description,
                    format: this.topic.format.id,
                    translating: 1,
                    participants: selectedParticipants,
                    hide_tool: +this.topic.hideTool,
                };
                this.topic.formatDiscussion? createTopicObj.format_discussion = +this.topic.formatDiscussion.id: null;
                this.$awn.async(post(this.topic.id>=1 ? TOPIC_UPDATE: TOPIC_CREATE, createTopicObj), response => {
                  if (response.status) {
                    if (this.topicId) {
                        this.topic = {};
                        this.getEditedTopic();
                    } else {
                        this.$router.push({ name: 'edit-topic', params: { topicId: response.data.id } }, () => { this.getEditedTopic(); });
                    }
                    this.topic.id = response.data.id;
                    this.topicErrors = {};
                    this.$awn.success(this.topic.id>=1 ? createdTopic : updatedTopic);
                  } else  {
                    this.topicErrors = response.errors;
                  }
                });
            },
            async updateVideoCallLink() {
              if (this.$v.videoCallLink.$invalid) {
                this.$v.videoCallLink.$touch();
                return;
              }
                this.$awn.async(post(TOPIC_UPDATE_VIDEO_CALL, {
                  videocall: this.videoCallLink,
                  topic_id: this.topicId,
                }), response => {
                  if (response.status) {
                    this.$awn.success(saveVideoCallLink);
                  }
                });
            },
            async getEditedTopic() {
                await this.$store.dispatch('disposerTopics/getTopic', { topicId: this.topicId, eventId: this.eventId });
                this.topic = {
                    id: this.editedTopic.id,
                    name: this.editedTopic.name,
                    introText: this.editedTopic.intro,
                    startDate: new Date(this.editedTopic.start_date),
                    startTime: new Date(this.editedTopic.start_date),
                    endDate: new Date(this.editedTopic.end_date),
                    endTime: new Date(this.editedTopic.end_date),
                    description: this.editedTopic.description,
                    hideTool: this.editedTopic.hide_tool,
                    format: this.$options.selectOptions.topicFormat.find(f => f.id === this.editedTopic.format),
                    formatDiscussion: this.$options.selectOptions.topicFormatNext.find(f => f.id === this.editedTopic.format_discussion),
                };
                this.videoCallLink = this.editedTopic.videocall;
                this.surveys = this.editedTopic.surveys;
                this.mainDocument.name = this.editedTopic.file_name;
                this.mainDocument.file = this.editedTopic.file;
                this.mainDocument.watermarks = this.editedTopic.watermark;
                this.mainDocument.secured = this.editedTopic.secured;

                if (this.editedTopic.video_main_start) {
                  this.videoMain.rstartDate = new Date(this.editedTopic.video_main_start);
                  this.videoMain.startDate = new Date(this.editedTopic.video_main_start);
                  this.videoMain.startTime = new Date(this.editedTopic.video_main_start);
                  this.videoMain.endDate = new Date(this.editedTopic.video_main_end);
                  this.videoMain.endTime = new Date(this.editedTopic.video_main_end);
                  this.videoMain.link = this.editedTopic.video_main;
                }

                if (this.editedTopic.video_context_start) {
                  this.videoContext.rstartDate = new Date(this.editedTopic.video_context_start);
                  this.videoContext.startDate = new Date(this.editedTopic.video_context_start);
                  this.videoContext.startTime = new Date(this.editedTopic.video_context_start);
                  this.videoContext.endDate = new Date(this.editedTopic.video_context_end);
                  this.videoContext.endTime = new Date(this.editedTopic.video_context_end);
                  this.videoContext.link = this.editedTopic.video_context;
                }

                if (this.editedTopic.picture) {
                  this.pictureSrc = this.generateUrl(this.editedTopic.picture);
                }

                if (this.editedTopic.documents) {
                  this.documents = this.editedTopic.documents;
                }
                if (this.editedTopic.videos) {
                  this.videos = this.editedTopic.videos.map(v => {
                     return {
                       ...VIDEO_TEMPLATE(Math.random()),
                       ...v,
                     };
                  });
                }
            },

            async sendVideoRequest(type, isUpdate) {
                let workshop = 'videoMain';
                if (type===2) {
                    workshop = 'videoContext';
                }
                if (this.$v[workshop].$invalid) {
                    this.$v[workshop].$touch();
                    return;
                }
                const requestObj = {
                    event_id: this.eventId,
                    topic_id: this.topicId,
                    start_date: uniteTime(this[workshop]?.startDate, this[workshop]?.startTime),
                    end_date: uniteTime(this[workshop]?.endDate, this[workshop]?.endTime),
                    type: type,
                };

                let url = VIDEO_REQUEST;

                if (isUpdate) {
                  url = UPDATE_VIDEO_REQUEST;
                  requestObj.link = this[workshop]?.link;
                }

                this.$awn.async(post(url, requestObj), response => {
                  if (response.status) {
                    this[workshop].rstartDate = requestObj.start_date;
                    if (type===1) {
                      this.videoMain.link = requestObj.link;
                    } else if (type===2) {
                      this.videoContext.link = requestObj.link;
                    }
                    this.$awn.success(sendVideoRequest);
                  }
                });
            },

            deleteVideoRequest(type) {
                const requestObj = {
                    event_id: this.eventId,
                    topic_id: this.topicId,
                    type: type,
                };
                this.$awn.async(post(REMOVE_VIDEO_REQUEST, requestObj), response => {
                    if (response.status) {
                        if (type===1) {
                            this.videoMain = {
                                rstartDate: '',
                                startDate: '',
                                startTime: '',
                                endDate: '',
                                endTime: '',
                                link: '',
                            };
                        } else if (type===2) {
                            this.videoContext = {
                                rstartDate: '',
                                startDate: '',
                                startTime: '',
                                endDate: '',
                                endTime: '',
                                link: '',
                            };
                        }
                        this.$awn.success(deleteVideoRequest);
                    }
                });
            },

            loadMainDocument(document) {
              this.mainDocument.name = document.name;
              this.mainDocument.file = document;
            },
            async saveMainDocument() {
              const fd = new FormData();
              fd.append('topic_id', this.topicId);
              fd.append('watermark', +this.mainDocument.watermarks || 0);
              fd.append('secured', +this.mainDocument.secured || 0);
              if (typeof this.mainDocument.file !== 'string') {
                fd.append('file', this.mainDocument.file);
              }

              this.$awn.async(post(UPLOAD_MAIN_DOCUMENT, fd, true), saveDocument);
            },
            async deleteMainDocument() {
                this.$awn.async(post(DELETE_MAIN_DOCUMENT, {
                  topic_id: this.topicId,
                  event_id: this.eventId,
                }), response => {
                  if (response.status) {
                    this.mainDocument = {
                      secured: false,
                      watermarks: false,
                      name: '',
                      file: null,
                    };
                    this.$awn.success(deletedDocument);
                  }
                });
            },

            async loadPicture(img) {
              this.picture = img;
              this.pictureSrc = await parseImg(img);
            },
            uploadPicture() {
                const fd = new FormData;
                fd.append('topic_id', this.topicId);
                fd.append('picture', this.picture);
                this.$awn.async(post(UPDATE_PICTURE, fd, true), response => {
                  if (response.status) {
                    this.$awn.success(imageLoaded);
                  }
                });
            },
            async deletePicture() {
                this.$awn.async(post(DELETE_PICTURE, {
                  topic_id: this.topicId,
                }), response => {
                  if (response.status) {
                    this.pictureSrc = '';
                    this.picture = null;
                    this.$awn.success(imageDeleted);
                  }
                });
            },

            addDocument() {
                this.documents.push(DOCUMENT_TEMPLATE(Math.random()));
            },
            deleteDocument(id) {
                this.documents = this.documents.filter(d => d.id !== id);
            },

            addVideo() {
                this.videos.push(VIDEO_TEMPLATE(Math.random()));
            },
            deleteVideo(id) {
                this.videos = this.videos.filter(d => d.id !== id);
            },
        },
    };
</script>

<style scoped lang="scss">
    .disposer-edit-event-topic{
        .row p {
            padding-top: 5px;
            padding-left: 10px;

            font-size: 14px;
            color: red;
        }
        .header {
            .title-back {
                display: flex;
                justify-content: space-between;

                width: to_rem(450px);
                .app-button {
                    padding: 15px;
                }
            }
        }
        .row {
            display: flex;
            justify-content: space-between;
        }

        .main {
            .row-name-text {
                width: to_rem(850px);
                .topic-name{
                    width: to_rem(260px);
                }
                .introductory-text{
                    width: to_rem(530px);
                }
            }
            .row-description {
                .description {
                    display: flex;
                }
                .disposer-app-input {
                    width: to_rem(740px);
                }
                .info-icons {
                    margin-top: to_rem(45px);
                    margin-left: to_rem(10px);
                }
            }
            .app-select{
                margin-bottom: to_rem(10px);
            }
        }

        .choose-topic-format {
            position: relative;
        }
        .columns {
            display: flex;
            flex-wrap: wrap;

            width: to_rem(390px);
            margin: to_rem(20px) 0;
            label {
                margin-right: to_rem(10px);
                margin-bottom: to_rem(10px);
            }
        }
        .video-call-section {
            .video-link {
                width: to_rem(740px);
            }
        }
        .workshop-session, .common-session {
            &[data-disabled] {
                opacity: 0.7;

                pointer-events: none;
            }
        }
        .workshop-and-document-section {
            .upload-current-file {
                padding: 0;

                color: grey;
            }
            .workshop-upload-document {
                .flex {
                    display: flex;
                    justify-content: space-between;

                    width: to_rem(550px);
                    padding: to_rem(20px) 0;
                }
            }
            .link-button {
                display: flex;
                align-items: flex-end;

                &>div {
                    margin-right: 2rem;
                }
                .link {
                    width: to_rem(375px);
                }
                .app-button {
                    height: to_rem(35px);
                }
                .disposer-app-label {
                    margin-bottom: 0;
                }
            }
        }
        .discussion-forum-section {
            .add-polling-btn {
                margin-top: to_rem(20px);
            }
        }
        .moreSettings {
            opacity: 0.5;

            pointer-events: none;
            &.active {
                opacity: 1;

                pointer-events: all;
            }
        }
        .logo-img {
            display: block;

            width: 27.5rem;
            margin-bottom: 1rem;

            border: 1px solid $gray;
        }
        .footer {
            padding: to_rem(100px) 0 to_rem(20px);
        }

    }
</style>
