<template>
    <div class="disposer-app-choose-event">
        <div class="disposer-app-topic-title">
            Event
        </div>

        <div class="select-event">
            <app-select
                v-model="selectedEvent"
                :option-select="optionSelect"
            />
        </div>
    </div>
</template>

<script>
    import appSelect from '@/components/disposer/app/app-select';

    export default {
        name: 'app-choose-event',

        components: {
            appSelect,
        },

        data: () => ({
            optionSelect: [
                { label: 'Test 001' },
                { label: 'Test 002' },
                { label: 'Test 003' },
            ],
        }),
    };
</script>

<style scoper lang="scss">
    .disposer-app-choose-event {
        .disposer-app-topic-title{
            padding-bottom: 20px;
        }

        .select-event {
            padding-bottom: 40px;
        }
    }
</style>
