<template>
    <div class="change-email-step3">
        <p class="change-email-step3__title">
            Изменить почтовый адрес профиля
        </p>
        <p class="change-email-step3__description">
            Для активации и получения всей необходимой документации на
            измененный почтовый адрес нужно пройти по ссылке, отправленной на новый почтовый&nbsp;адрес:
            <span>{{ newEmail }}</span>
        </p>
        <p
            v-if="mailSent"
            class="change-email-step3__resent"
        >
            {{ resendMessage }}
        </p>
        <button
            v-else
            class="change-email-step3__button-again"
            :class="{ 'change-email-step3__button-again_loading': loading }"
            @click="resendMail"
        >
            {{ resendMessage }}
        </button>
        <div class="change-email-step3__button-wrapper">
            <common-button
                class="common-button--gray"
                @click="cancel"
            >
                Отмена
            </common-button>
            <common-button
                class="common-button--green"
                :loading="loading"
                @click="goChangeEmail"
            >
                Изменить email
            </common-button>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import CommonButton from '@/components/common/CommonButton.vue';
import { RUpdateEmail } from '~/src/utils/api/requests/user';

export default Vue.extend({
    name: 'ChangeEmailStep3',

    components: {
        CommonButton,
    },

    data: () => ({
        resendMessage: 'Отправить письмо-подтверждение повторно',
        mailSent: false,
        loading: false,
    }),

    computed: {
        userEmailConfirm(): { email: string } | null {
            return this.$accessor.auth.userEmailConfirm;
        },

        newEmail(): string {
            return (this.userEmailConfirm?.email) ? this.userEmailConfirm.email : '';
        },
    },

    methods: {
        goChangeEmail(): void {
            this.$emit('go-change-email');
        },

        async resendMail(): Promise<void> {
            this.loading = true;
            const response = await this.$request(RUpdateEmail({
                obj: {
                    email: this.newEmail,
                },
            }));

            if (response.RESPONSE_STATUS === 200) {
                this.mailSent = true;
                this.resendMessage = 'Письмо отправлено';
                this.loading = false;
            }
            else {
                this.mailSent = true;
                this.resendMessage = 'Что-то пошло не так... Попробуйте позже';
                this.loading = false;
            }
        },

        cancel(): void {
            this.$emit('cancel');
        },
    },
});
</script>

<style lang="scss" scoped>
.change-email-step3 {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    min-height: 377px;
    padding: 33px 36px 46px;

    &__title {
        margin-bottom: 8px;

        font-size: 20px;
        line-height: 30px;
        font-weight: 600;
        text-align: center;
    }

    &__description {
        max-width: 470px;

        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: $modal-color-gray;

        span {
            margin: 0 10px;

            font-weight: 600;
            color: $black;
        }
    }

    &__resent {
        margin-top: auto;
        margin-bottom: 24px;
        padding: 0;

        font-size: 16px;
        line-height: 1;
        font-weight: 600;
        color: $green;
    }

    &__button-again {
        position: relative;

        margin-top: auto;
        margin-bottom: 24px;
        margin-left: 38px;
        padding: 0;

        font-size: 16px;
        line-height: 1;
        font-weight: 600;
        color: $green;

        border-bottom: 1px solid $green;

        cursor: pointer;

        transition: opacity $common-transition-duration;

        @include hover_device {
            &:hover {
                opacity: 0.7;
            }
        }

        &::before {
            content: '';
            position: absolute;
            top: -4px;
            left: -38px;

            width: 22px;
            height: 22px;

            background: url('@/assets/images/icon/repeat-icon.svg') center / contain no-repeat;
        }

        &_loading {
            &::before {
                animation-name: rotate;
                animation-duration: 1.5s;
                animation-iteration-count: infinite;
            }
        }
    }

    &__button-wrapper {
        display: flex;

        .common-button--gray {
            margin-right: 18px;
        }

        .common-button--green {
            width: 178px;
        }
    }
}

@include razr1259 {
    .change-email-step3 {
        min-height: 318px;
        padding: 24px 18px 32px;

        &__title {
            margin-bottom: 8px;

            font-size: 16px;
            line-height: 28px;
        }

        &__description {
            font-size: 14px;
            line-height: 20px;

            span {
                margin: 0;
            }
        }

        &__resent {
            font-size: 14px;
        }

        &__button-again {
            margin-left: 30px;

            font-size: 14px;

            &::before {
                top: 0;
                left: -30px;

                width: 18px;
                height: 18px;
            }
        }

        &__button-wrapper {
            .common-button--gray {
                min-width: 114px;
            }

            .common-button--green {
                width: 138px;
            }
        }
    }
}

@include razr767 {
    .change-email-step3 {
        min-height: 408px;
        padding: 14px 13px 27px;

        &__title {
            max-width: 255px;
            margin-bottom: 14px;

            font-size: 21px;
            line-height: 1.2;
        }

        &__description {
            font-size: 14px;
            line-height: 1.5;
        }

        &__resent, &__button-again {
            margin-bottom: 70px;

            font-size: 12px;
        }

        &__button-wrapper {
            justify-content: space-between;

            .common-button--gray {
                min-width: 120px;
            }

            .common-button--green {
                width: 178px;
            }
        }
    }
}
@keyframes rotate {
    0% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(390deg);
    }
}
</style>
