<template>
    <form
        class="change-email-step2"
        @submit.prevent="cancel"
    >
        <p class="change-email-step2__title">
            Изменить почтовый адрес профиля
        </p>
        <p class="change-email-step2__description">
            Для завершения изменения почтового адреса необходимо будет перейти по ссылке,
            которая была отправлена на новый почтовый адрес.
        </p>
        <common-button
            class="common-button--green"
            @click="cancel"
        >
            Готово
        </common-button>
    </form>
</template>

<script lang="ts">
import Vue from 'vue';
import CommonButton from '@/components/common/CommonButton.vue';

export default Vue.extend({
    name: 'ChangeEmailStep2',

    components: {
        CommonButton,
    },

    methods: {
        cancel(): void {
            this.$emit('cancel');
        },
    },
});
</script>

<style lang="scss" scoped>
.change-email-step2 {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    min-height: 377px;
    padding: 33px 36px 46px;

    &__title {
        margin-bottom: 8px;

        font-size: 20px;
        line-height: 30px;
        font-weight: 600;
        text-align: center;
    }

    &__description {
        max-width: 445px;

        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: $modal-color-gray;
    }

    .common-button--green {
        width: 178px;
        margin-top: auto;
    }
}

@include razr1259 {
    .change-email-step2 {
        min-height: 318px;
        padding: 24px 18px 32px;

        &__title {
            margin-bottom: 8px;

            font-size: 16px;
            line-height: 28px;
        }

        &__description {
            font-size: 14px;
            line-height: 20px;
        }

        .common-button--green {
            width: 128px;
        }
    }
}

@include razr767 {
    .change-email-step2 {
        min-height: 408px;
        padding: 24px 13px 27px;

        &__title {
            max-width: 255px;
            margin-bottom: 14px;

            font-size: 21px;
            line-height: 120%;
        }

        &__description {
            font-size: 14px;
            line-height: 150%;
        }

        .common-button--green {
            width: 178px;
        }
    }
}
</style>
