<template>
    <form
        class="change-email-step1"
        @submit.prevent="validateEmail"
    >
        <p class="change-email-step1__title">
            Изменить почтовый адрес профиля
        </p>
        <p class="change-email-step1__description">
            Укажите новый почтовый адрес. Для подтверждения
            необходимо будет перейти по ссылке, которая
            будет&nbsp;отправлена на новый почтовый адрес.
        </p>
        <div class="change-email-step1__input-wrapper">
            <common-input
                v-model="newEmail"
                required
                label="Почтовый адрес / логин"
                name="new-email"
                :error="errorEmail"
                @blur="blurInput('newEmail')"
            />
        </div>
        <div class="change-email-step1__button-wrapper">
            <common-button
                class="common-button--gray"
                @click="cancel"
            >
                Отмена
            </common-button>
            <common-button
                class="common-button--green"
                :class="{ 'common-button--gray-disabled': errorEmail }"
                tag="button"
                type="submit"
                :loading="loading"
            >
                Сохранить
            </common-button>
        </div>
    </form>
</template>

<script lang="ts">
import Vue from 'vue';
import { required, email } from 'vuelidate/lib/validators';
import CommonButton from '@/components/common/CommonButton.vue';
import CommonInput from '@/components/common/CommonInput.vue';
import { RUpdateEmail } from '~/src/utils/api/requests/user';
import { createResponseErrorsObject } from '~/src/utils/helpers/response-errors';

import {
    EMAIL_REQUIRED_ERROR,
    EMAIL_FORMAT_ERROR,
} from '~/src/utils/errors-texts';

import { TStringOrBoolean } from '~/src/utils/interfaces';

export default Vue.extend({
    name: 'ChangeEmailStep1',

    components: {
        CommonButton,
        CommonInput,
    },

    data() {
        return {
            newEmail: '',
            requestError: {} as { email? : string},
            loading: false,
        };
    },

    validations: {
        newEmail: {
            required,
            email,
        },
    },

    computed: {
        errorEmail(): TStringOrBoolean {
            if (this.$v.newEmail.$dirty) {
                if (!this.$v.newEmail.required) {
                    return EMAIL_REQUIRED_ERROR;
                }
                if (!this.$v.newEmail.email) {
                    return EMAIL_FORMAT_ERROR;
                }
            }
            return this.requestError?.email ? this.requestError.email : '';
        },
    },

    methods: {
        validateEmail(): void {
            if (this.$v.$invalid) {
                this.$v.$touch();
            }
            else {
                this.saveNewEmail(this.newEmail);
            }
        },

        async saveNewEmail(newEmail: string): Promise<void> {
            this.loading = true;
            const response = await this.$request(RUpdateEmail({
                obj: {
                    email: newEmail,
                },
            }));

            if (response.RESPONSE_STATUS === 200) {
                this.loading = false;
                this.$emit('next');
                await this.$accessor.auth.fetchUser();
            }
            else {
                this.requestError = createResponseErrorsObject(response.errors);
                this.loading = false;
            }
        },

        cancel(): void {
            this.$emit('cancel');
        },

        blurInput(name: string) {
            this.$v[name].$touch();
        },
    },
});
</script>

<style lang="scss" scoped>
.change-email-step1 {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    min-height: 377px;
    padding: 33px 36px 46px;

    &__title {
        margin-bottom: 8px;

        font-size: 20px;
        line-height: 30px;
        font-weight: 600;
        text-align: center;
    }

    &__description {
        max-width: 405px;
        margin-bottom: 24px;

        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: $modal-color-gray;
    }

    &__input-wrapper {
        width: 100%;
        max-width: 356px;
    }

    &__button-wrapper {
        display: flex;

        margin-top: auto;

        .common-button--gray {
            margin-right: 18px;
        }

        .common-button--green {
            width: 178px;
        }
    }
}

@include razr1259 {
    .change-email-step1 {
        min-height: 318px;
        padding: 24px 18px 32px;

        &__title {
            margin-bottom: 8px;

            font-size: 16px;
            line-height: 28px;
        }

        &__description {
            margin-bottom: 16px;

            font-size: 14px;
            line-height: 20px;
        }

        &__input-wrapper {
            max-width: 260px;
        }

        &__button-wrapper {
            .common-button--gray {
                min-width: 114px;
            }

            .common-button--green {
                width: 128px;
            }
        }
    }
}

@include razr767 {
    .change-email-step1 {
        min-height: 408px;
        padding: 24px 13px 27px;

        &__title {
            max-width: 255px;
            margin-bottom: 14px;

            font-size: 21px;
            line-height: 120%;
        }

        &__description {
            margin-bottom: 24px;

            font-size: 14px;
            line-height: 150%;
        }

        &__input-wrapper {
            max-width: 308px;
        }

        &__button-wrapper {
            justify-content: space-between;

            .common-button--gray {
                min-width: 120px;
            }

            .common-button--green {
                width: 178px;
            }
        }
    }
}
</style>
