<template>
    <div class="restore-password-default">
        <div class="restore-password-default--title">
            Введите новый пароль
        </div>
        <form
            class="restore-password-default--form"
            @submit.prevent="createNewPassword"
        >
            <common-input
                v-model="password"
                label="Новый пароль"
                type="password"
                :error="errorPassword"
                :disabled="loading"
            />
            <common-input
                v-model="confirmPassword"
                label="Повторите новый пароль"
                type="password"
                :error="errorConfirmPassword"
                :disabled="loading"
            />
            <common-button
                class="common-button--responsive common-button--green"
                tag="button"
                type="submit"
                :class="{'common-button--gray-disabled': !canCreateNewPassword}"
                :loading="loading"
            >
                Изменить пароль
            </common-button>
        </form>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { required, minLength } from 'vuelidate/lib/validators';

import CommonInput from '@/components/common/CommonInput.vue';
import CommonButton from '@/components/common/CommonButton.vue';

import { CONFIRMED_ERROR, REQUIRED_ERROR, PASSWORD_MIN_LENGTH_ERROR } from '~/src/utils/errors-texts';
import { createResponseErrorsObject } from '~/src/utils/helpers/response-errors';
import { IObjectAnyProps, TStringOrBoolean } from '~/src/utils/interfaces';

export default Vue.extend({
    name: 'RestorePasswordDefault',

    components: {
        CommonInput,
        CommonButton,
    },

    data: () => ({
        password: '',
        confirmPassword: '',
        requestErrors: {} as IObjectAnyProps,
        loading: false,
    }),

    validations: {
        password: {
            required,
            minLength: minLength(8),
        },
        confirmPassword: {
            required,
            confirmed(value) {
                return value === this.password;
            },
        },
    },
    computed: {
        canCreateNewPassword() {
            return !this.$v.$invalid;
        },

        errorPassword(): TStringOrBoolean {
            if (this.$v.password.$dirty) {
                if (!this.$v.password.required) {
                    return REQUIRED_ERROR;
                }
                if (!this.$v.password.minLength) {
                    return PASSWORD_MIN_LENGTH_ERROR;
                }
            }
            return this.requestErrors.password;
        },

        errorConfirmPassword(): TStringOrBoolean {
            if (this.$v.confirmPassword.$dirty) {
                if (!this.$v.confirmPassword.required) {
                    return REQUIRED_ERROR;
                }
                else if (!this.$v.confirmPassword.confirmed) {
                    return CONFIRMED_ERROR;
                }
            }
            return false;
        },
    },

    methods: {
        createNewPassword() {
            if (this.$v.$invalid) {
                this.$v.$touch();
                return false;
            }

            this.loading = true;

            this.$emit('update-password', this.password, (errors: []) => {
                this.loading = false;
                if (errors) {
                    this.requestErrors = createResponseErrorsObject(errors);
                }
            });
        },
    },
});
</script>

<style lang="scss" scoped>
.restore-password-default {
    width: 376px;
    margin: 0 auto;

    &--title {
        margin-top: 80px;
        margin-bottom: 40px;

        font-size: 31px;
        font-weight: 700;
        text-align: center;
    }

    p {
        margin-top: 26px;

        font-weight: 600;
        line-height: 1.2;
        letter-spacing: -0.16px;
        color: $light-gray;
        text-align: center;
    }

    &--form {
        display: block;
        padding: 0 8px;
    }

    .common-input {
        margin-bottom: 3px;
    }

    @include tablet_landscape {
        &--title {
            margin-top: 86px;
            margin-bottom: 36px;

            font-size: 24px;
        }

        &--form {
            padding: 0 25px;
        }

        .common-input {
            margin-bottom: 10px;
        }

        .common-button {
            margin-bottom: 50px;
        }
    }

    @include tablet {
        &--title {
            margin-top: 146px;
        }
    }

    @include mobile {
        width: 86%;
        margin: 0 auto;
        &--title {
            margin-top: 38px;
        }

        &--form {
            padding: 0;
        }

        .common-input {
            margin-bottom: 3px;
        }
    }
}
</style>
