<template>
    <form
        class="restore-password-default"
        @submit.prevent="sendMail"
    >
        <div class="restore-password-default--title">
            Восстановление пароля
        </div>
        <p>
            Введите адрес почты, указанный при регистрации.
            Если вы&nbsp;не&nbsp;помните его, свяжитесь с&nbsp;менеджером.
        </p>
        <div class="restore-password-default--buttons">
            <common-input
                v-model="email"
                label="Почтовый адрес"
                :error="emailError"
                :disabled="loading"
            />
            <common-button
                class="common-button--responsive common-button--green"
                tag="button"
                type="submit"
                :class="{'common-button--gray-disabled': !canSendMail}"
                :loading="loading"
            >
                Отправить
            </common-button>
        </div>
    </form>
</template>

<script lang="ts">
import Vue from 'vue';
import { required, email } from 'vuelidate/lib/validators';

import CommonInput from '@/components/common/CommonInput.vue';
import CommonButton from '@/components/common/CommonButton.vue';

import { RRestorePassword } from '~/src/utils/api/requests/auth';
import { EMAIL_FORMAT_ERROR, REQUIRED_ERROR } from '~/src/utils/errors-texts';

export default Vue.extend({
    name: 'RestorePasswordDefault',

    components: {
        CommonInput,
        CommonButton,
    },

    data: () => ({
        email: '',
        loading: false,
        restoreError: '',
    }),

    validations: {
        email: {
            required,
            email,
        },
    },

    computed: {
        canSendMail() {
            return !this.$v.$invalid;
        },

        emailError() {
            if (this.$v.email.$dirty) {
                if (!this.$v.email.required) {
                    return REQUIRED_ERROR;
                }
                if (!this.$v.email.email) {
                    return EMAIL_FORMAT_ERROR;
                }
            }
            return this.restoreError || false;
        },
    },

    methods: {
        async sendMail() {
            if (this.$v.$invalid) {
                this.$v.$touch();
                return false;
            }
            this.loading = true;
            const response = await this.$request(RRestorePassword({ email: this.email }));
            this.loading = false;

            if (response.errors) {
                this.restoreError = response.errors[0].message;
            }
            else {
                this.$emit('next', 2);
            }
        },
    },
});
</script>

<style lang="scss" scoped>
.restore-password-default {
    width: 376px;
    margin: 0 auto;

    &--title {
        margin-top: 80px;

        font-size: 31px;
        font-weight: 700;
        text-align: center;
    }

    p {
        margin-top: 26px;

        font-weight: 600;
        line-height: 1.2;
        letter-spacing: -0.01em;
        color: $light-gray;
    }

    &--buttons {
        display: block;
        padding: 0 8px;
    }

    .common-input {
        margin-top: 40px;
    }

    .common-button {
        margin-bottom: 63px;
    }

    @include tablet_landscape {
        &--title {
            margin-top: 85px;

            font-size: 24px;
        }

        p {
            width: 330px;
            margin: 18px auto 0;

            font-size: 14px;
        }

        &--buttons {
            width: 340px;
            margin: 0 auto;
        }

        .common-input {
            margin-top: 36px;
        }

        .common-button {
            margin-bottom: 108px;
        }
    }

    @include tablet {
        &--title {
            margin-top: 148px;
        }
    }

    @include mobile {
        width: 90%;
        margin: 0 auto;

        &--title {
            margin-top: 70px;
        }

        p {
            width: 100%;
        }

        &--buttons {
            width: 100%;
            padding: 0;
        }
    }
}
</style>
