<template>
    <div class="restore-password-success">
        <div class="restore-password-success--img">
            <img :src="require('@/assets/images/icon/checkmark.svg')" />
        </div>
        <div class="restore-password-success--title">
            Пароль успешно изменен
        </div>
        <common-button
            tag="router-link"
            to="/personal-cabinet/profile"
            class="common-button--green"
        >
            Перейти в личный кабинет
        </common-button>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';

import CommonButton from '@/components/common/CommonButton.vue';

export default Vue.extend({
    name: 'RestorePasswordSuccess',

    components: {
        CommonButton,
    },
});
</script>

<style lang="scss" scoped>
.restore-password-success {
    &--img {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 56px;
        height: 56px;
        margin: 81px auto 24px;

        border: 2px solid $green;
        border-radius: 50%;

        img {
            width: 50%;
        }
    }

    &--title {
        width: 350px;
        margin: 0 auto 77px;

        font-size: 31px;
        font-weight: 700;
        line-height: 1.2;
        text-align: center;
    }

    .common-button {
        width: 360px;
        margin: 0 auto 80px;
    }

    @include tablet_landscape {
        &--img {
            margin: 100px auto 15px;
        }

        &--title {
            width: 200px;
            margin: 0 auto 50px;

            font-size: 21px;
        }

        .common-button {
            width: 325px;
            margin-bottom: 128px;
        }
    }

    @include tablet {
        &--img {
            margin-top: 153px;
        }
    }

    @include mobile {
        .common-button {
            max-width: 90%;
        }
    }
}
</style>
