<template>
    <div class="restore-password-mail-success">
        <div class="restore-password-mail-success--img">
            <img :src="require('@/assets/images/icon/checkmark.svg')" />
        </div>
        <div class="restore-password-mail-success--title">
            Ссылка для восстановления пароля отправлена на вашу почту.
        </div>
        <common-button
            tag="router-link"
            to="/"
            class="common-button--green"
        >
            Вернуться на сайт
        </common-button>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';

import CommonButton from '@/components/common/CommonButton.vue';

export default Vue.extend({
    name: 'RestorePasswordMailSuccess',

    components: {
        CommonButton,
    },
});
</script>

<style lang="scss" scoped>
.restore-password-mail-success {
    &--img {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 56px;
        height: 56px;
        margin: 81px auto 24px;

        border: 2px solid $green;
        border-radius: 50%;

        img {
            width: 50%;
        }
    }

    &--title {
        width: 430px;
        margin: 0 auto 40px;

        font-size: 31px;
        font-weight: 700;
        line-height: 1.2;
        text-align: center;
    }

    .common-button {
        width: 360px;
        margin: 0 auto 80px;
    }

    @include tablet_landscape {
        &--img {
            margin: 100px auto 15px;
        }
        &--title {
            width: 290px;
            margin-bottom: 23px;

            font-size: 21px;
        }

        .common-button {
            width: 320px;
            margin-bottom: 130px;
        }
    }

    @include tablet {
        &--img {
            margin-top: 153px;
        }
    }

    @include mobile {
        &--img {
            margin-top: 67px;
        }

        .common-button {
            width: 90%;
        }
    }
}
</style>
