@mixin razr1399 {
    @media screen and (max-width: 1399px) {
        @content;
    }
}

@mixin razr1320 {
    @media screen and (max-width: 1320px) {
        @content;
    }
}

@mixin razr1259 {
    @media screen and (max-width: 1259px) {
        @content;
    }
}

@mixin razr1023 {
    @media screen and (max-width: 1023px) {
        @content;
    }
}

@mixin razr767 {
    @media screen and (max-width: 767px) {
        @content;
    }
}

@mixin razr430 {
    @media screen and (max-width: 430px) {
        @content;
    }
}

@mixin razr365 {
    @media screen and (max-width: 365px) {
        @content;
    }
}

@mixin height_resolution {
    @media screen and (max-height: 1025px){
        @content;
    }
}

@mixin hover_device {
    @media (hover: hover), screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
        @content;
    }
}

@mixin tablet_landscape {
    @media screen and (max-width: 1150px){
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: 1000px) and (orientation: portrait), screen and (max-width: 767px){
        @content;
    }
}

@mixin tablet_or_less {
    @media screen and (max-width: 1000px){
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: 767px), screen and (max-width: 900px) and (orientation: landscape){
        @content;
    }
}

@mixin retina {
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        @content;
    }
}

@mixin bef_aft {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}
