$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$reserve-font-family: 'Arial', sans-serif;
$main-font-family: 'Proxima-Nova', $reserve-font-family;

$font-size-base: 16px;

$common-transition-duration: 0.2s;

$white: #FFF;
$black: #000;
$black-second: #121313;
$mine-shaft: #333333;
$abbey: #4B5258;
$dark-gray: #313132;
$dark-gray-second: #222325;
$light-gray: #959CA3;
$light-gray-second: #9C9C9C;
$light-gray-third: #BBB;
$light-gray-fourth: #999;
$light-gray-fifth: #989DA3;
$light-gray-sixth: #DCDCDC;
$light-gray-seven: #F2F2F2;
$light-gray-eighth: #9BA2A8;
$light-gray-ninth: #EBEBEB;
$input-bg-color: #F6F7F8;
$input-border-color: #EBEBEB;
$border-color-gray: #E3E3E3;
$modal-color-gray: #858C94;
$filter-font-gray: #6E6E73;
$filter-border-gray: #C7C9CE;
$discount-bg-color: rgba(238, 240, 241, 0.44);
$instruction-bg-color: rgba(246, 247, 248, 0.74);
$red-opacity-border-color: rgba(196, 69, 29, 0.12);
$green: #1DC438;
$light-green: #80BB3D;
$green-avatar: #E8F9EB;
$red: #F22A18;
$wrong-color: #C41D1D;
$brown: #BF710F;
$light-brown: #CFA05A;
$dark-orange: #C4451D;
$purple: #925ACF;
$light-purple: #BA82F7;
$light-yellow: #F7C882;
$light-blue: #82B1F7;
$bg-avatar-color: #E8F9EB;
$disabled-bg-color: #F8F9FA;
$mystic: #E2EAEC;
$alto: #DEDEDE;
$porcelain: #F7F8F9;

// z-index
$z-negative: -1;
$z-1: 1;
$z-2: 2;
$z-content: 5;
$z-alert: 7;

$z-dropdown: 9;
$z-scroll: 9;

$z-10: 10;
$z-sort: 20;

$z-search-dropdown: 30;
$z-search: 40;

$z-input: 50;

$z-footer: 100;

$z-filters: 150;
$z-catalog: 160;

$z-header-mobile: 200;
$z-tooltip: 210;
$z-popover: 220;
$z-modal: 230;
