<template>
    <div class="guidance">
        <div class="page-title">
            {{ $t('guidance', 'User Guidance') }}
        </div>
        <div
            v-if="guidance"
            class="row"
        >
            <router-link
                v-if="guidance.overview"
                :to="{ name:'view', query:{ type: 'overview', part: 'guidance' } }"
                class="card"
                target="_blank"
                @click.native="sendAnalytic(1 , 2)"
            >
                <div class="title">
                    {{ $t('guid_overview', 'Virtual Platform Overview') }}
                </div>
                <img src="@/assets/img/icons/display_icon.svg" />
                <p>
                    {{ $t('guid_view', 'view document, pdf') }}
                </p>
            </router-link>
            <router-link
                v-if="guidance.dashboard"
                :to="{ name:'view', query:{ type: 'dashboard', part: 'guidance' } }"
                class="card"
                target="_blank"
                @click.native="sendAnalytic(1 , 1)"
            >
                <div class="title">
                    {{ $t('guid_dashboard', 'Dashboard – Discussion Forum') }}
                </div>
                <img src="@/assets/img/icons/discussion_icon.svg" />
                <p>
                    {{ $t('guid_view', 'view document, pdf') }}
                </p>
            </router-link>
            <router-link
                v-if="guidance.videocall"
                :to="{ name:'view', query:{ type: 'videocall', part: 'guidance' } }"
                class="card"
                target="_blank"
                @click.native="sendAnalytic(1 , 4)"
            >
                <div class="title">
                    {{ $t('guid_videocall', 'Video Call') }}
                </div>
                <img src="@/assets/img/icons/video-call_icon.svg" />
                <p>
                    {{ $t('guid_view', 'view document, pdf') }}
                </p>
            </router-link>
            <router-link
                v-if="guidance.review"
                :to="{ name:'view', query:{ type: 'review', part: 'guidance' } }"
                class="card"
                target="_blank"
                @click.native="sendAnalytic(1 , 3)"
            >
                <div class="title">
                    {{ $t('guid_review', 'Document Review') }}
                </div>
                <img src="@/assets/img/icons/document-review_icon.svg" />
                <p>
                    {{ $t('guid_view', 'view document, pdf') }}
                </p>
            </router-link>
        </div>
    </div>
</template>

<script>
    import { sendClick } from '@/utils/user/clicks-analytic';

    export default {
        name: 'guidance',

        computed: {
          guidance() {
            return this.$store.getters.getGuidance;
          },
        },

        created() {
            !this.guidance ? this.$store.dispatch('getGuidance') : null;
        },

        methods: {
            sendAnalytic(type, id) {
                sendClick(4, type, id);
            },
        },
    };
</script>

<style scoped lang="scss">
    .row{
        display: flex;
        flex-wrap: wrap;

        width: 40rem;
        margin: 2rem 1.7rem;
    }
    .title{
        align-self: flex-start;

        width: 90%;
        margin-bottom: 1.8rem;

        font-size: to_rem(23px);
        text-align: center;
        color: $mainPurple;
        font-style: italic;
    }
    .card{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-end;

        width: 13rem;
        margin-right: 2rem;
        margin-bottom: 2rem;
        padding: 0.5rem 0;

        text-decoration: none;

        border: 1px solid $gray;

        &:hover{
            img{
                transform: scale(1.1);
            }
        }
        img{
            height: 3.8rem;
            margin-bottom: 1.9rem;

            transition: transform .3s;
        }
        p{
            width: 100%;

            font-size: to_rem(14px);
            text-align: center;
            color: #000;
        }
    }

    @include mobile_or_P{
        .row{
            justify-content: center;

            margin: 1.5rem 2rem 2.1rem;
            .card{
                margin: 0 1rem 2rem;
            }
        }
    }

    @include razr767{
        .row{
            flex-direction: column;
            align-items: center;

            width: 100%;
            margin: 0;
            .card{
                width: 205px;
                margin: 0 0 2.8rem 0;
                padding: 0.6rem 0;
                &:hover{
                    img{
                        transform: none;
                    }
                }
                img{
                    height: 5rem;
                    margin-bottom: 2.5rem;
                }
                p{
                    font-size: 14px;
                }
            }
            .title{
                width: 100%;
                margin-bottom: 2.7rem;

                font-size: 23px;
            }
        }
    }

</style>
