<template>
    <div class="cart">
        <common-loader
            v-if="isLoadingCart"
            class="common-loader__cover"
        />
        <template v-else>
            <div
                v-if="cartIsEmpty"
                class="cart-empty"
            >
                <img
                    src="@/assets/images/icon/empty-cart-icon.svg"
                    alt="cart icon"
                />
                <div class="cart-empty-text">
                    <div class="cart-empty-title">
                        Корзина пустая
                    </div>
                    <div>
                        Вы&nbsp;можете повторить свои заказы в&nbsp;разделе
                        <nuxt-link to="/personal-cabinet/history">
                            Мои заказы
                        </nuxt-link> или перейти в
                        <nuxt-link to="/catalog">
                            Каталог
                        </nuxt-link>
                    </div>
                </div>
            </div>
            <div
                v-else
                class="cart__content"
            >
                <div class="cart-product-list">
                    <div class="cart-product-list__head">
                        <div class="cart-product-list__count">
                            <img
                                src="@/assets/images/icon/cart-green-icon.svg"
                                alt="cart icon"
                            />
                            Товаров в корзине, шт:&nbsp;<span>{{ actualCart.length }}</span>
                        </div>
                        <div
                            class="cart-product-list__clear"
                            @click="openPopupClearCart"
                        >
                            Очистить корзину
                        </div>
                    </div>
                    <product-card
                        v-for="product in cart"
                        :key="product.product.id"
                        :product="product"
                    />
                </div>
                <div
                    ref="customerInfo"
                    class="cart-customer-info"
                >
                    <div class="cart-customer-info__common-info">
                        <template v-if="!token">
                            <div class="cart-customer-info__title">
                                Вы не вошли в аккаунт
                            </div>
                            <common-button
                                class="common-button--green-radius common-button--responsive"
                                tag="nuxt-link"
                                to="/login"
                            >
                                Войти
                            </common-button>
                            <!--<div class="cart-customer-info-notice cart-customer-info-notice__unauthorized">
                                Заключите договор с&nbsp;Азбукой Вкуса в&nbsp;
                                <nuxt-link to="/">
                                    личном кабинете
                                </nuxt-link>
                            </div>-->
                        </template>
                        <template v-else>
                            <div class="cart-customer-info__title">
                                Общие данные
                            </div>
                            <div class="cart-customer-info-toggles">
                                <common-button
                                    class="common-button--light-gray-border common-button--responsive"
                                    :class="{'common-button--green-radius common-button__events-none': activePersonalData}"
                                    @click="setDataTab(1)"
                                >
                                    Контактные данные
                                </common-button>
                                <common-button
                                    class="common-button--light-gray-border common-button--responsive"
                                    :class="{'common-button--green-radius common-button__events-none': activeJuridicalData}"
                                    @click="setDataTab(2)"
                                >
                                    Данные организации
                                </common-button>
                            </div>
                            <template v-if="activePersonalData">
                                <ul class="cart-customer-info-list">
                                    <li>
                                        <p>Имя / фамилия:</p>
                                        <p>{{ user.fullName }}</p>
                                    </li>
                                    <li>
                                        <p>Номер телефона:</p>
                                        <p>{{ phoneNumber }}</p>
                                    </li>
                                    <li>
                                        <p>Время доставки:</p>
                                        <p v-if="deliveryInfo.address">
                                            {{ deliveryTime }}
                                        </p>
                                        <p
                                            v-else
                                            @click="openDeliveryPopup"
                                        >
                                            <a>Выберите время доставки</a>
                                        </p>
                                    </li>
                                    <li>
                                        <p>Адрес доставки:</p>
                                        <p v-if="deliveryInfo.address">
                                            {{ deliveryInfo.address }}
                                        </p>
                                        <p
                                            v-else
                                            @click="openDeliveryPopup"
                                        >
                                            <a>Выберите адрес доставки</a>
                                        </p>
                                    </li>
                                </ul>
                                <a
                                    class="cart-customer-info-list-action green"
                                    @click="openPopupDelivery"
                                >
                                    Редактировать время и адрес доставки
                                </a>
                                <nuxt-link
                                    class="cart-customer-info-list-action green"
                                    to="/personal-cabinet/profile"
                                >
                                    Редактировать контактные данные
                                </nuxt-link>
                            </template>
                            <ul
                                v-else
                                class="cart-customer-info-list"
                            >
                                <li>
                                    <p>Название организации:</p>
                                    <p>{{ juridicalPerson.juridicalName }}</p>
                                </li>
                                <li>
                                    <p>ОКПО:</p>
                                    <p>{{ juridicalPerson.kpo }}</p>
                                </li>
                                <li>
                                    <p>ИНН:</p>
                                    <p>{{ juridicalPerson.inn }}</p>
                                </li>
                                <li>
                                    <p>БИК:</p>
                                    <p>{{ juridicalPerson.bik }}</p>
                                </li>
                            </ul>
                            <div class="cart-customer-info-notification">
                                Данные организации, на&nbsp;которую будет выставлен счет
                                для оплаты. Вы&nbsp;можете изменить данные в&nbsp;
                                <nuxt-link
                                    class="green"
                                    to="/personal-cabinet/profile"
                                >
                                    настройках.
                                </nuxt-link>
                            </div>
                        </template>
                    </div>
                    <div class="cart-customer__order-info">
                        <div class="cart-customer-info__title">
                            Информация о заказе
                        </div>
                        <ul class="cart-customer-info-list cart-customer-info-list__order">
                            <li>
                                <p>
                                    Сумма заказа
                                </p>
                                <p>
                                    {{ cartPrice }} <span>₽</span>
                                </p>
                            </li>
                            <li>
                                <p>
                                    Количество товаров
                                </p>
                                <p>
                                    {{ cart.length }}
                                </p>
                            </li>
                            <li>
                                <p>
                                    Стоимость доставки
                                </p>
                                <p>
                                    {{ deliveryPrice }} <span>₽</span>
                                </p>
                            </li>
                        </ul>
                        <div class="cart-customer-info-total">
                            <p>
                                Итого:
                            </p>
                            <p>
                                {{ formattedPrice }} <span>₽</span>
                            </p>
                        </div>
                        <common-button
                            class="common-button--green common-button--responsive"
                            :class="{'common-button--gray-disabled': disabledCreateButton}"
                            @click="createAccount"
                        >
                            Создать счет
                        </common-button>
                        <p
                            v-if="showError"
                            class="create-account-error"
                        >
                            {{ createAccountError }}
                        </p>
                        <div
                            v-if="showMinPriceNotification"
                            class="cart-customer-info-notice"
                        >
                            К&nbsp;сожалению, минимальная сумма заказа
                            на&nbsp;нашем сайте&nbsp;&mdash; <span>3000&nbsp;рублей</span>.
                            Если вам нужны только выбранные продукты, свяжитесь с&nbsp;нашим менеджером&nbsp;&mdash; он&nbsp;предложит оптимальный выход из&nbsp;ситуации.
                        </div>
                    </div>
                </div>
                <div
                    class="cart__short-info forTablet"
                    :class="{'cart__short-info__show': showShortInfo}"
                >
                    <div class="cart__short-info-cost">
                        <div class="cart__short-info-sum">
                            <span>Итого:</span> {{ formattedPrice }} ₽
                        </div>
                        <div class="cart__short-info-quantity">
                            <span>Количество товаров в корзине</span>
                            <span>В корзине</span>
                            : {{ cart.length }}
                        </div>
                    </div>
                    <div class="cart__short-info-buttons">
                        <common-button
                            v-scroll-to="'.cart-customer-info'"
                            class="common-button--transparent-green"
                        >
                            <img
                                src="@/assets/images/icon/info-icon-green.svg"
                                alt="info icon"
                            />
                            <span>
                                Информация о заказе
                            </span>
                        </common-button>
                        <common-button
                            class="common-button--green"
                            :class="{'common-button--gray-disabled': disabledCreateButton}"
                            @click="createAccount"
                        >
                            Создать счет
                        </common-button>
                        <p
                            v-if="showError"
                            class="create-account-error"
                        >
                            {{ createAccountError }}
                        </p>
                    </div>
                </div>
            </div>
        </template>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';

import CommonButton from '@/components/common/CommonButton.vue';
import CommonLoader from '@/components/common/CommonLoader.vue';
import ProductCard from '@/components/pages/cart/ProductCard.vue';
import { RCreateAccount } from '~/src/utils/api/requests/cart';
import { EMPTY_DELIVERY_INFO_ERROR, INVALID_DELIVERY_INFO_ERROR, LOGIN_IS_REQUIRED, MIN_PRICE_ERROR, CART_ERROR, NEED_CONFIRMED_EMAIL } from '~/src/utils/errors-texts';
import { validPhone, priceFormat } from '~/src/utils/helpers/functions';

import { IObjectAnyProps } from '~/src/utils/interfaces';
import { IJuridicalPerson, IUser } from '~/src/utils/interfaces/auth';
import { ICartItem, IDeliveryInfo, IOrdering } from '~/src/utils/interfaces/cart';

export default Vue.extend({
    name: 'Cart',

    components: {
        ProductCard,
        CommonButton,
        CommonLoader,
    },

    data: () => ({
        dataTab: 1,
        showShortInfo: false,
        showCreateAccountError: false,
        responseError: '',
    }),

    computed: {
        isMobile(): boolean {
            return window.innerWidth <= 1024;
        },

        token(): string {
            return this.$accessor.auth.accessToken;
        },

        user(): IUser {
            return this.$accessor.auth.user;
        },

        juridicalPerson(): IJuridicalPerson {
            return this.$accessor.auth.juridicalPerson;
        },

        isLoadingCart(): boolean {
            return this.$accessor.cart.loadingCart;
        },

        cart(): ICartItem[] {
            return this.$accessor.cart.cart;
        },

        actualCart(): ICartItem[] {
            return this.$accessor.cart.actualCart;
        },

        cartPrice(): string {
            return priceFormat(this.$accessor.cart.cartPrice);
        },

        formattedPrice(): string {
            return priceFormat(this.$accessor.cart.cartPrice + this.$accessor.cart.deliveryPrice);
        },

        cartErrors(): ICartItem[] {
            return this.$accessor.cart.errors;
        },

        cartIsEmpty(): boolean {
            return !this.cart?.length;
        },

        activePersonalData(): boolean {
            return this.dataTab === 1;
        },

        activeJuridicalData(): boolean {
            return this.dataTab === 2;
        },

        showMinPriceNotification(): boolean {
            return +this.$accessor.cart.cartPrice < 3000;
        },

        phoneNumber(): string {
            return validPhone(this.user.phoneNumber);
        },

        deliveryInfo(): IDeliveryInfo {
            return this.$accessor.cart.deliveryInfo;
        },

        deliveryPrice(): string {
            return priceFormat(this.$accessor.cart.deliveryPrice);
        },

        deliveryTime(): string {
            return `${ this.$dayjs(this.deliveryInfo.selectedDate).format('dddd, D-го MMMM') }, ${ this.deliveryInfo.selectedTime }`;
        },

        isDeliveryDateInFuture(): boolean {
            return this.$dayjs(this.deliveryInfo.selectedDate).isAfter(this.$dayjs());
        },

        ordering(): IOrdering {
            return this.$accessor.cart.ordering;
        },

        createAccountError(): string | boolean {
            if (!this.deliveryInfo.selectedDate) {
                return EMPTY_DELIVERY_INFO_ERROR;
            }
            if (!this.isDeliveryDateInFuture) {
                return INVALID_DELIVERY_INFO_ERROR;
            }
            if (this.isDeliveryDateInFuture) {
                if (+this.$dayjs().format('HH') >= 13 && this.$dayjs(this.deliveryInfo.selectedDate).diff(this.$dayjs(), 'hours') <= 24) {
                    return INVALID_DELIVERY_INFO_ERROR;
                }
            }
            if (this.showMinPriceNotification) {
                return MIN_PRICE_ERROR;
            }
            if (!this.user.fullName) {
                return LOGIN_IS_REQUIRED;
            }
            if (this.cartErrors?.length) {
                return CART_ERROR;
            }
            if (!this.user?.isEmailConfirmed) {
                return NEED_CONFIRMED_EMAIL;
            }
            if (!this.ordering.isAvailable) {
                return this.ordering.unavailabilityReasons[0].message;
            }
            return this.responseError;
        },

        showError(): boolean {
            return !!(this.showCreateAccountError && this.createAccountError);
        },

        disabledCreateButton(): boolean {
            return !!(this.createAccountError && !this.responseError);
        },
    },

    mounted() {
        if (this.isMobile) {
            window.addEventListener('load', () => {
                setTimeout(() => {
                    this.scrollEvent();
                    window.addEventListener('scroll', this.scrollEvent);
                }, 1000);
            });
        }
    },

    beforeDestroy() {
        window.removeEventListener('scroll', this.scrollEvent);
    },

    methods: {
        openPopupDelivery(): void {
            this.$accessor.modal.OPEN_MODAL({ name: 'Delivery' });
        },

        scrollEvent(): void {
            const customerInfoEl: IObjectAnyProps = this.$refs.customerInfo;
            this.showShortInfo = customerInfoEl.getBoundingClientRect().top - window.innerHeight >= -50;
        },

        setDataTab(tab: number): void {
            this.dataTab = tab;
        },

        openDeliveryPopup(): void {
            this.$accessor.modal.OPEN_MODAL({ name: 'Delivery' });
        },

        async createAccount(): Promise<boolean | void> {
            this.showCreateAccountError = false;
            this.responseError = '';
            if (this.disabledCreateButton) {
                this.showCreateAccountError = true;
                return false;
            }

            const response = await this.$request(RCreateAccount({
                orderInfo: {
                    deliveryDate: this.$dayjs(this.deliveryInfo.selectedDate).format('YYYY-MM-DD'),
                    deliveryTimeStart: this.deliveryInfo.selectedTime.split(' – ')[0],
                    deliveryTimeEnd: this.deliveryInfo.selectedTime.split(' – ')[1],
                    deliveryAddress: this.deliveryInfo.address,
                },
            }));

            if (response.RESPONSE_STATUS === 200) {
                const hasAlcohol = this.cart.find((product: ICartItem) => product.product.featureNonStandard === 'alcohol');

                if (hasAlcohol) {
                    this.$accessor.modal.OPEN_MODAL({ name: 'ThxForOrder', payload: { number: 4 } });
                }
                this.$accessor.modal.OPEN_MODAL({ name: 'Check', payload: response.order });
                this.$accessor.cart.setCartAction([]);
            }
            else {
                this.responseError = response.errors[0].message;
                this.showCreateAccountError = true;
            }
        },

        openPopupClearCart() {
            this.$accessor.modal.OPEN_MODAL({ name: 'ClearCart' });
        },
    },
});
</script>

<style lang="scss" scoped>
.cart {
    position: relative;

    width: 100%;
    min-height: 554px;

    &__content {
        display: flex;
        justify-content: space-between;

        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }

    &-empty {
        display: flex;
        justify-content: space-between;

        width: 700px;
        margin: 90px auto 100px !important;
        padding: 157px 150px;

        border: 1px solid $light-gray-ninth;
        border-radius: 18px;

        img {
            margin-bottom: 22px;
        }

        &-text {
            width: 296px;

            font-size: 14px;
            line-height: 1.5;
            color: $modal-color-gray;
        }

        &-title {
            margin-bottom: 7px;

            font-size: 21px;
            font-weight: 700;
            color: $black-second;
        }
    }

    &-product-list {
        width: 800px;
        padding: 63px 32px 20px 0;

        &__head {
            display: flex;
            justify-content: space-between;
            align-items: center;

            margin-bottom: 83px;
        }

        &__count {
            display: flex;
            align-items: center;

            font-size: 21px;
            font-weight: 700;
            color: $black-second;

            img {
                width: 25px;
                margin-right: 15px;
            }

            span {
                color: $green;
            }
        }

        &__clear {
            font-weight: 700;
            color: $green;
            text-decoration: underline;

            cursor: pointer;
            transition: opacity $common-transition-duration;

            &:hover {
                opacity: 0.7;
            }
        }
    }

    &-customer-info {
        width: 400px;
        padding: 29px 0 60px 35px;

        border-left: 1px solid $light-gray-ninth;

        .common-button {
            border-radius: 12px;
        }

        &__title {
            margin-top: 31px;
            margin-bottom: 34px;

            font-size: 21px;
            font-weight: 700;
            color: $black-second;
        }

        &-toggles {
            display: flex;
            justify-content: space-between;

            .common-button {
                height: 40px;

                font-size: 13px;

                &:nth-of-type(2) {
                    margin-left: 10px;
                }
            }
        }

        &-list {
            margin-top: 35px;

            font-size: 14px;
            font-weight: 600;
            color: $light-gray-fifth;
            li {
                display: flex;
                justify-content: space-between;

                margin-bottom: 22px;

                line-height: 1.3;
            }

            p {
                &:last-of-type {
                    width: 228px;

                    text-align: right;
                    color: $black-second;

                    &:first-letter {
                        text-transform: uppercase;
                    }
                }
            }

            &-action {
                display: block;

                margin-bottom: 8px;
                padding: 0;

                font-size: 14px;
                font-weight: 600;
                color: $green;
                text-decoration: underline;
            }

            &__order {
                padding-bottom: 10px;

                border-bottom: 1px solid $light-gray-ninth;
                p {
                    &:nth-of-type(2) {
                        color: inherit;
                    }
                    span {
                        font-size: 13px;
                    }
                }
            }
        }

        &-notification {
            margin-top: 35px;
            padding: 18px 21px;

            font-size: 12px;
            line-height: 1.5;
            color: $light-gray;

            border: 1px solid $light-gray-ninth;
            border-radius: 12px;
        }

        &-total {
            display: flex;
            justify-content: space-between;

            margin-top: 35px;
            margin-bottom: 24px;

            font-size: 21px;
            font-weight: 700;
            color: $black-second;

            span {
                font-size: 19px;
            }
        }

        &-notice {
            position: relative;

            margin-top: 19px;
            margin-bottom: 39px;
            padding: 0 26px 0 25px;

            font-size: 14px;
            line-height: 1.5;

            &:before {
                @include bef_aft;
                top: 5px;
                left: 0;

                width: 1px;
                height: 50px;

                background: $green;

                transform: none;
            }

            span {
                color: $green;
            }

            &__unauthorized {
                margin-top: 37px;
                padding-right: 50px;

                &:before {
                    top: -5px;
                }
            }
        }
    }

    .create-account-error {
        margin-top: 15px;

        font-size: 14px;
        font-weight: 700;
        color: $red;
    }

    @include tablet_landscape {
        &__content {
            flex-direction: column;
        }

        &-empty {
            margin-bottom: 70px;
        }

        &-product-list {
            width: 100%;
            padding: 47px 25px 0;

            &__clear {
                font-size: 14px;
            }

            &__head {
                margin-bottom: 59px;
            }
        }

        &-customer-info {
            display: flex;
            justify-content: space-between;

            width: 976px;
            max-width: 100%;
            margin: 17px auto 70px;
            padding: 0 49px;

            border: 1px solid $light-gray-ninth;
            border-radius: 18px;

            .common-button {
                border-radius: 8px;
            }

            &__common-info {
                width: 50%;
                padding: 22px 75px 22px 0;

                border-right: 1px solid $light-gray-ninth;
            }

            .cart-customer__order-info {
                width: 50%;
                padding: 22px 0 22px 74px;
            }

            &-toggles {
                .common-button {
                    border-radius: 8px;

                    &:nth-of-type(2) {
                        margin-left: 6px;
                    }
                }
            }

            &-list {
                margin-top: 31px;
                &__order {
                    padding: 0;
                }
            }

            &-notification {
                margin-top: 37px;
            }

            &-total {
                margin-top: 55px;
            }

            &-notice {
                margin-top: 13px;

                &__unauthorized {
                    margin-top: 27px;
                }
            }
        }

        &__short-info {
            position: fixed;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: $z-10;

            display: flex;
            justify-content: space-between;

            padding: 26px 48px;

            background: $white;
            border-top: 1px solid $light-gray-ninth;

            transform: translateY(100%);
            transition: transform $common-transition-duration;

            &__show {
                transform: translateY(0);
            }

            &-buttons {
                display: flex;
                align-items: center;
            }

            &-sum {
                margin-bottom: 10px;

                font-size: 21px;
                font-weight: 700;
                color: $black-second;
                span {
                    font-size: 19px;
                }
            }

            &-quantity {
                font-size: 14px;
                font-weight: 600;
                color: $light-gray-fifth;

                span {
                    &:nth-of-type(2) {
                        display: none;
                    }
                }
            }

            &-buttons {
                margin-bottom: 5px;
            }

            .common-button {
                width: 260px;

                font-size: 16px;
            }

            .common-button--transparent-green {
                width: 210px;
                margin-right: 12px;

                font-size: 12px;
            }

            .create-account-error {
                position: absolute;
                right: 48px;
                bottom: 10px;
            }
        }
    }

    @include tablet {
        &-product-list__head {
            margin-bottom: 48px;
        }

        &-customer-info {
            width: 97%;
            padding: 0 23px;

            &__common-info {
                padding: 2px 20px 22px 0;

                .cart-customer-info-list {
                    p {
                        &:nth-of-type(2) {
                            width: 182px;

                            text-align: left;
                        }
                    }
                }
            }

            .cart-customer__order-info {
                padding: 2px 0 22px 67px;
                .cart-customer-info-list {
                    padding-bottom: 10px;

                    p {
                        width: 180px;
                    }

                    li {
                        margin-bottom: 21px;
                    }
                }
            }

            &__title {
                font-size: 18px;
            }

            &-list {
                font-size: 13px;

                li {
                    margin-bottom: 23px;
                }

                &-action {
                    margin-top: 27px;
                }
            }

            &-toggles {
                padding-right: 24px;
                .common-button {
                    padding: 0;

                    font-size: 12px;
                }
            }

            &-notification {
                margin-top: 33px;
                margin-right: 26px;
                padding: 18px 24px;
            }

            &-total {
                margin-top: 33px;
            }

            &-notice {
                margin-top: 25px;
                padding: 0 3px 0 25px;

                font-size: 12px;
                line-height: 1.5;
            }
        }

        &__short-info {
            padding: 26px 23px 13px 48px;

            &-sum {
                margin-bottom: 7px;

                font-size: 16px;
                span {
                    font-size: 15px;
                }
            }

            &-cost {
                margin-top: 9px;
            }

            &-quantity {
                font-size: 12px;
            }

            &-buttons {
                margin-bottom: 14px;
            }

            .common-button {
                width: 186px;
            }

            .common-button--transparent-green {
                width: 210px;
            }

            .create-account-error {
                right: 23px;
            }
        }
    }

    @include mobile {
        max-width: 500px;
        margin: 0 auto;

        &-empty {
            flex-direction: column;
            align-items: center;

            width: 95%;
            max-width: 335px;
            padding: 30px 15px;

            img {
                width: 100px;
            }

            &-text {
                width: 100%;
            }
        }

        &-product-list {
            padding: 28px 20px 0;

            &__head {
                flex-direction: column;
                align-items: flex-start;

                margin-bottom: 52px;
            }

            &__count {
                margin-bottom: 18px;

                font-size: 18px;
            }
        }

        &-customer-info {
            flex-direction: column;

            padding: 0 13px;

            border: none;

            &__title {
                margin-top: 25px;
                margin-bottom: 24px;
            }

            &__common-info {
                width: 100%;
                padding: 0 0 25px;

                border-right: none;
                border-bottom: 1px solid $light-gray-ninth;

                .cart-customer-info-list {
                    p {
                        &:nth-of-type(2) {
                            width: 100%;
                            margin-top: 4px;
                        }
                    }
                }
            }

            .cart-customer__order-info {
                width: 100%;
                padding: 0;

                .cart-customer-info-list {
                    li {
                        margin-bottom: 6px;
                    }
                }

                p {
                    width: 100%;
                    margin-bottom: 4px;

                    text-align: left;
                }
            }

            &-total {
                margin-top: 24px;
                margin-bottom: 20px;

                p {
                    width: fit-content !important;
                }
            }

            &-notice {
                padding: 0 45px 0 25px;

                &__unauthorized {
                    margin-top: 40px;
                    margin-bottom: 5px;
                    padding: 0 90px 0 15px;

                    font-size: 13px;
                }
            }

            &-toggles {
                padding-right: 0;

                .common-button {
                    width: 48%;
                }
            }

            &-list {
                margin-top: 22px;

                font-size: 14px;
                li {
                    flex-direction: column;

                    margin-bottom: 21px;
                }

                &-action {
                    font-size: 13px;
                }
            }

            &-notification {
                margin-top: 22px;
                margin-right: 0;
                padding: 18px 34px;

                font-size: 13px;
            }
        }

        &__short-info {
            padding: 17px 20px;

            &-cost {
                display: flex;
                flex-direction: column-reverse;

                margin-top: 0;
                padding-bottom: 8px;
            }

            &-sum {
                margin-bottom: 0;
                span {
                    display: none;
                }
            }

            &-quantity {
                margin-bottom: 5px;

                span {
                    &:nth-of-type(1) {
                        display: none;
                    }
                    &:nth-of-type(2) {
                        display: inline;
                    }
                }
            }

            &-buttons {
                margin-bottom: 0;
            }

            .common-button {
                width: 120px;

                font-size: 13px;

                span {
                    display: none;
                }

                &::v-deep {
                    img {
                        height: 17px;
                        margin-right: 0;
                    }
                }

                &--transparent-green {
                    width: 50px;
                    margin-right: 4px;
                }
            }

            .create-account-error {
                right: 20px;
                bottom: 2px;

                margin-left: 20px;
            }
        }
    }

    @include razr365 {
        .cart__short-info {
            padding: 17px 2%;
        }
    }
}

</style>
