<template>
    <div class="sidebar">
        <div class="sidebar__content">
            <avatar-profile />

            <navigation-sidebar />

            <discount />
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import AvatarProfile from '@/components/layouts/sidebar/parts/AvatarProfile.vue';
import Discount from '@/components/layouts/sidebar/parts/Discount.vue';
import NavigationSidebar from '@/components/layouts/sidebar/parts/NavigationSidebar.vue';

export default Vue.extend({
    name: 'Sidebar',

    components: {
        AvatarProfile,
        NavigationSidebar,
        Discount,
    },
});
</script>

<style lang="scss" scoped>
.sidebar {
    display: flex;
    flex-shrink: 0;

    width: calc(50vw - 285px);

    border-right: 1px solid $border-color-gray;

    &__content {
        display: flex;
        flex-direction: column;
        width: 320px;
        margin-left: auto;
    }

    @include razr1259 {
        width: calc(50vw - 160px);

        &__content {
            width: 200px;
        }
    }

    @include razr767 {
        width: 100%;
        max-width: 100%;
        margin-bottom: 30px;

        border-right: none;

        &__content {
            width: 100%;
        }
    }
}
</style>
