<template>
    <div class="disposer-elibrary">
        <eventNav />

        <div class="disposer-app-title">
            E-Library
        </div>

        <div
            v-for="section in sections"
            :key="section.id"
            class="library-section"
        >
            <app-section
                :save="() => saveSection(section)"
                :delete-handler="() => deleteSection(section)"
            >
                <div class="input-title">
                    <label class="disposer-app-label">
                        Title
                        <input
                            v-model="section.title"
                            type="text"
                            class="disposer-app-input"
                        />
                    </label>
                </div>
                <app-editor
                    v-model="section.content"
                    title="Contents"
                    class="section-editor"
                />
            </app-section>

            <div
                class="section-content"
                :class="{active: section.id>=1}"
            >
                <app-section>
                    <div class="disposer-app-topic-title">
                        Documents
                    </div>
                    <app-upload-documents
                        v-for="document in section.documents"
                        :key="document.id"
                        :document="document"
                        :event-id="eventId"
                        :section="section"
                        :paths="$options.objectActionsPaths"
                        @delete="deleteDocument"
                    />
                    <app-button @click="addDocument(section)">
                        Add document
                    </app-button>
                </app-section>

                <app-section>
                    <div class="disposer-app-topic-title">
                        Videos
                    </div>
                    <app-upload-video
                        v-for="video in section.videos"
                        :key="video.id"
                        :video="video"
                        :event-id="eventId"
                        :section="section"
                        :paths="$options.objectActionsPaths"
                        @delete="deleteVideo"
                    />
                    <app-button @click="addVideo(section)">
                        Add video
                    </app-button>
                </app-section>

                <app-section>
                    <div class="disposer-app-topic-title">
                        Links
                    </div>
                    <app-link
                        v-for="link in section.links"
                        :key="link.id"
                        :paths="$options.objectActionsPaths"
                        :link="link"
                        :event-id="eventId"
                        :section="section"
                        @delete="deleteLink"
                    />
                    <app-button @click="addLink(section)">
                        Add link
                    </app-button>
                </app-section>
            </div>
        </div>
        <div class="add-section-wrap">
            <app-button @click="addSection">
                Add section
            </app-button>
        </div>
    </div>
</template>

<script>
    import eventNav from '@/components/disposer/pages/event/event-nav.vue';
    import appSection from '@/components/disposer/app/app-section';
    import appEditor from '@/components/disposer/app/app-editor';
    import appUploadDocuments from '@/components/disposer/app/app-upload-documents';
    import appUploadVideo from '@/components/disposer/app/app-upload-video';
    import appLink from '@/components/disposer/app/app-link';
    import appButton from '@/components/disposer/app/app-button';

    import { DOCUMENT_TEMPLATE, VIDEO_TEMPLATE, LINK_TEMPLATE } from '@/utils/disposer/objects-templates';
    import { saveLibraryInfo, deleteSection } from '@/utils/disposer/notifications-text-helper';
    import { post } from '@/utils/http-helper';

    const CREATE_SECTION = '/library/create-section';
    const UPDATE_SECTION = '/library/update-section';
    const DELETE_SECTION = '/library/delete-section';
    const SECTION_TEMPLATE = id => ({
        id,
        title: '',
        content: '',
        documents: [],
        videos: [],
        links: [],
    });

    export default {
        name: 'disposer-elibrary',

        components: {
            eventNav,
            appSection,
            appEditor,
            appUploadDocuments,
            appUploadVideo,
            appLink,
            appButton,
        },

        data: () => ({
          sections: [],
        }),

        objectActionsPaths: {
            SAVE_OBJECT: '/library/create-object',
            UPDATE_OBJECT: '/library/update-object',
            DELETE_OBJECT: '/library/delete-object',
        },

        computed: {
            library() {
                return this.$store.getters['disposerLibrary/get'];
            },
            eventId() {
                return +this.$route.params.id;
            },
        },

        async created() {
            await this.$store.dispatch('disposerLibrary/get', this.eventId);
            this.sections = this.library.sections;
            this.sections.forEach(s => {
              if (s.videos) {
                s.videos = s.videos.map(v => {
                  return {
                    ...VIDEO_TEMPLATE(Math.random()),
                    ...v,
                  };
                });
              }
            });
        },

        methods: {
            addSection() {
                this.sections.push(SECTION_TEMPLATE(Math.random()));
            },
            async saveSection(section) {
                this.$awn.async(post(section.id>=1? UPDATE_SECTION : CREATE_SECTION, {
                  event_id: this.eventId,
                  title: section.title,
                  content: section.content,
                  section_id: section.id,
                }), response => {
                  if (response.status) {
                    section.id = response.data.id;
                    this.$awn.success(saveLibraryInfo);
                  }
                });
            },
            async deleteSection(section) {
              this.$awn.async(post(DELETE_SECTION, {
                event_id: this.eventId,
                section_id: section.id,
              }), response => {
                if (response.status) {
                  this.sections = this.sections.filter(s => s.id !== section.id);
                  this.$awn.success(deleteSection);
                }
              });
            },
            addDocument(section) {
                section.documents.push(DOCUMENT_TEMPLATE(Math.random()));
            },
            deleteDocument(id, section) {
                section.documents = section.documents.filter(d => d.id !== id);
            },
            addVideo(section) {
                section.videos.push(VIDEO_TEMPLATE(Math.random()));
            },
            deleteVideo(id, section) {
              section.videos = section.videos.filter(d => d.id !== id);
            },
            addLink(section) {
                section.links.push(LINK_TEMPLATE(Math.random()));
            },
            deleteLink(id, section) {
              section.links = section.links.filter(d => d.id !== id);
            },
        },
    };
</script>

<style scoped lang="scss">
    .disposer-elibrary{
        .library-section {
            background: white;
        }
        .input-title {
            margin-bottom: 50px;
            .disposer-app-input {
                width: to_rem(740px);
            }
        }
        .add-section-wrap {
            display: flex;
            justify-content: flex-end;
            .app-button {
                width: 120px;
                height: 40px;
                margin: 20px;
                padding: 5px;
            }
        }
        .section-content {
            opacity: 0.5;

            pointer-events: none;
            &.active {
                opacity: 1;

                pointer-events: all;
            }
        }
    }
</style>

