<template>
    <div class="registration-head">
        <common-button
            class="common-button--gray-border common-button--small"
            @click.native="back"
        >
            <img :src="require('@/assets/images/icon/left-arrow-icon.svg')" />
            Назад
        </common-button>
        <img
            class="logo"
            :src="require('@/assets/images/login/logo.svg')"
        />
        <div class="registration-head--phone">
            <img :src="require('@/assets/images/icon/phone-icon.svg')" />
            <a :href="`tel:${managerPhone}`">{{ managerPhone }}</a>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';

import CommonButton from '@/components/common/CommonButton.vue';
import { validPhone } from '~/src/utils/helpers/functions';
import goBack from '~/src/utils/mixins/go-back';
import { managerPhone } from '~/src/utils/helpers/site-settings';

export default Vue.extend({
    name: 'RegistrationHead',

    components: {
        CommonButton,
    },

    mixins: [goBack()],

    computed: {
        managerPhone(): string {
            return validPhone(managerPhone);
        },
    },
});
</script>

<style scoped lang="scss">
.registration-head {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 23px 45px;

    border-bottom: 1px solid $light-gray-ninth;

    .logo {
        height: 42px;
    }

    &--phone {
        display: flex;
        align-items: center;

        font-size: 14px;
        font-weight: 700;
        a {
            color: $light-gray;
            text-decoration: none;

            transition: color $common-transition-duration;
        }

        &:hover {
            a {
                color: $green;
            }
        }
    }

    @include tablet_landscape {
        padding: 27px 55px;
    }

    @include tablet {
        padding: 30px 22px;
    }

    @include mobile {
        flex-wrap: wrap;

        padding: 6px 22px;

        border: none;
        .logo {
            order: 1;

            width: 100%;
            height: 37px;

            margin-bottom: 16px;
        }
        .common-button {
            order: 2;
        }
        &--phone {
            order: 3;

            letter-spacing: -0.6px;
        }
    }
}
</style>
