<template>
    <div class="registration-error">
        <div class="registration-error--img">
            <img :src="require('@/assets/images/icon/close-red-icon.svg')" />
        </div>
        <div class="registration-error--title">
            Что-то пошло не так
        </div>
        <p>
            Попробуйте перезагрузить страницу. Если это не поможет, позвоните нашему менеджеру.
        </p>
        <common-button
            class="common-button--green"
            @click="repeat"
        >
            Попробовать снова
        </common-button>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';

import CommonButton from '@/components/common/CommonButton.vue';

export default Vue.extend({
    name: 'RegistrationError',

    components: {
        CommonButton,
    },

    methods: {
        repeat() {
            this.$emit('repeat');
        },
    },
});
</script>

<style scoped lang="scss">
.registration-error {
    &--img {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 56px;
        height: 56px;
        margin: 80px auto 20px;

        border: 2px solid $red-opacity-border-color;
        border-radius: 50%;

        img {
            width: 40%;
        }
    }

    &--title {
        width: 560px;
        margin: 0 auto 10px;

        font-size: 31px;
        font-weight: 700;
        line-height: 1.2;
        text-align: center;
    }

    p {
        width: 280px;
        margin: 0 auto 45px;

        text-align: center;
        line-height: 1.35;
        color: $modal-color-gray;

        a {
            color: $green;
        }
    }

    .common-button {
        width: 360px;
        margin: 0 auto 83px
    }

    @include tablet_landscape {
        &--img {
            margin: 120px auto 15px;
        }

        &--title {
            margin-bottom: 14px;

            font-size: 21px;
        }

        p {
            width: 300px;
            margin-bottom: 26px;

            font-size: 14px;
        }

        .common-button {
            width: 264px;
            margin-bottom: 104px;
        }
    }

    @include tablet {
        &--img {
            margin: 235px auto 15px;
        }
    }

    @include mobile {
        &--img {
            margin: 67px auto 15px;
        }

        &--title {
            width: 300px;
        }

        .common-button {
            margin-bottom: 150px;
        }
    }
}

</style>
