<template>
    <div class="registration-form">
        <div class="registration-form-title">
            Ваша компания
        </div>
        <form
            v-if="!showSelectedCompany"
            @submit.prevent="findCompany"
        >
            <common-input
                v-model="company.inn"
                v-mask="'##########'"
                label="ИНН / название компании"
                required
                type="number"
                pattern="\d*"
                :error="innError"
                :disabled="findCompanyLoading"
                :autocomplete-options="companies"
                @autocomplete-action="selectCompany"
            />
            <common-input
                v-model="company.kpp"
                v-mask="'#########'"
                label="КПП"
                type="number"
                pattern="\d*"
                :error="kppError"
                :disabled="findCompanyLoading"
                required
            />
            <common-input
                v-model="address.address"
                label="Фактический адрес"
                :autocomplete-options="addresses"
                :disabled="findCompanyLoading"
                :error="addressError"
                required
                @autocomplete-action="selectAddress"
                @input="deleteFiasId"
            />
            <common-button
                class="common-button--responsive common-button--green"
                tag="button"
                type="submit"
                :class="{'common-button--gray-disabled': !enableAddCompany}"
                :loading="findCompanyLoading"
            >
                Добавить компанию
            </common-button>
            <p
                v-if="selectCompanyError"
                class="select-company__error"
            >
                {{ selectCompanyError }}
            </p>
        </form>
        <template v-else>
            <div class="registration-form__company-info">
                <div class="registration-form__company-name">
                    <img src="@/assets/images/icon/bag_icon.svg" />
                    {{ selectedCompany.name }}
                </div>
                <div class="registration-form__company-requisites">
                    <span>ИНН: {{ selectedCompany.inn }}</span>
                    <span>КПП: {{ selectedCompany.kpp }}</span>
                </div>
                <div class="registration-form__company-address">
                    Юридический адрес:<br />
                    {{ selectedCompany.address }}
                </div>
                <div class="registration-form__company-address">
                    Фактический адрес:<br />
                    {{ address.address }}
                </div>
                <div
                    class="registration-form__change"
                    @click="deleteSelectedCompany"
                >
                    Изменить
                </div>
            </div>
        </template>
        <hr />
        <form @submit.prevent="goToNextStep">
            <common-input
                v-model="bank.bik"
                v-mask="'#########'"
                label="БИК"
                type="number"
                pattern="\d*"
                :error="bikError"
                :disabled="findBankLoading"
                required
            />
            <common-input
                v-model="bank.checkingAccount"
                v-mask="'####################'"
                label="Расчетный счет"
                type="number"
                pattern="\d*"
                :error="checkingAccountError"
                :disabled="findBankLoading"
                required
            />
            <common-button
                class="common-button--responsive common-button--green"
                tag="button"
                type="submit"
                :class="{'common-button--gray-disabled': !enableNextButton}"
                :loading="findBankLoading"
            >
                Продолжить
            </common-button>
        </form>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { required } from 'vuelidate/lib/validators';
import { debounce } from 'lodash';

import CommonInput from '@/components/common/CommonInput.vue';
import CommonButton from '@/components/common/CommonButton.vue';

import {
    RGetCompanies,
    RGetAddresses,
    RGetCompany,
    RFindBank,
} from '~/src/utils/api/requests/auth';
import { createResponseErrorsObject } from '~/src/utils/helpers/response-errors';
import { IObjectAnyProps, TStringOrBoolean } from '~/src/utils/interfaces';
import { IRegistrationCompany, IRegistrationCompanyInfo, ISelectedCompany, IAddressItem } from '~/src/utils/interfaces/auth';
import {
    COMPANY_NOT_FOUND,
    BIK_NOT_FOUND,
    REQUIRED_ERROR,
    SELECT_ADDRESS_ERROR,
    INN_LENGTH_ERROR,
    KPP_LENGTH_ERROR,
    BIK_LENGTH_ERROR,
    CA_LENGTH_ERROR,
    COMPANY_REQUIRED_ERROR,
} from '~/src/utils/errors-texts';

export default Vue.extend({
    name: 'RegistrationCompanyForm',

    components: {
        CommonInput,
        CommonButton,
    },

    data: () => ({
        company: {
            inn: '',
            kpp: '',
        },
        address: {
            address: '',
            fiasId: '',
        },
        bank: {
            bik: '',
            checkingAccount: '',
        },
        companies: [],
        addresses: [],
        findCompanyLoading: false,
        findBankLoading: false,
        requestErrors: {} as IObjectAnyProps,
        selectedCompany: {} as ISelectedCompany,
    }),

    validations: {
        company: {
            inn: {
                required,
                length(value: string) {
                    return value.length === 10;
                },
            },
            kpp: {
                required,
                length(value: string) {
                    return value.length === 9;
                },
            },
        },
        address: {
            address: {
                required,
            },
        },
        bank: {
            bik: {
                required,
                length(value: string) {
                    return value.length === 9;
                },
            },
            checkingAccount: {
                required,
                length(value: string) {
                    return value.length === 20;
                },
            },
        },
        selectedCompany: {
            inn: {
                required,
            },
        },
    },

    computed: {
        enableAddCompany(): boolean {
            return !!(!this.$v.company.inn?.$invalid && !this.$v.company.kpp?.$invalid && this.address.fiasId);
        },

        enableNextButton(): boolean {
            return this.showSelectedCompany && !this.$v.bank.bik?.$invalid && !this.$v.bank.checkingAccount?.$invalid;
        },

        innError():TStringOrBoolean {
            if (this.$v.company.inn?.$dirty) {
                if (!this.$v.company.inn.required) {
                    return REQUIRED_ERROR;
                }
                else if (!this.$v.company.inn.length) {
                    return INN_LENGTH_ERROR;
                }
            }
            return this.requestErrors.inn;
        },

        selectCompanyError(): TStringOrBoolean {
            if (this.$v.selectedCompany.inn?.$dirty && !this.$v.selectedCompany.inn.required) {
                return COMPANY_REQUIRED_ERROR;
            }
            return false;
        },

        kppError(): TStringOrBoolean {
            if (this.$v.company.kpp?.$dirty) {
                if (!this.$v.company.kpp.required) {
                    return REQUIRED_ERROR;
                }
                else if (!this.$v.company.kpp.length) {
                    return KPP_LENGTH_ERROR;
                }
            }
            return this.requestErrors.kpp;
        },

        bikError(): TStringOrBoolean {
            if (this.$v.bank.bik?.$dirty) {
                if (!this.$v.bank.bik.required) {
                    return REQUIRED_ERROR;
                }
                else if (!this.$v.bank.bik.length) {
                    return BIK_LENGTH_ERROR;
                }
            }
            return this.requestErrors.bik;
        },

        addressError(): TStringOrBoolean {
            if (this.$v.address.address?.$dirty) {
                if (!this.$v.address.address.required) {
                    return REQUIRED_ERROR;
                }
                else if (!this.address.fiasId) {
                    return SELECT_ADDRESS_ERROR;
                }
            }
            return this.requestErrors.address;
        },

        showSelectedCompany(): boolean {
            return !!this.selectedCompany.address;
        },

        checkingAccountError(): TStringOrBoolean {
            if (this.$v.bank.checkingAccount?.$dirty) {
                if (!this.$v.bank.checkingAccount.required) {
                    return REQUIRED_ERROR;
                }
                else if (!this.$v.bank.checkingAccount.length) {
                    return CA_LENGTH_ERROR;
                }
            }
            return this.requestErrors.checkingAccount;
        },

        debouncedChangeInn(): Function {
            return debounce(this.changeInn, 500);
        },

        debouncedChangeAddress(): Function {
            return debounce(this.changeAddress, 500);
        },
    },

    watch: {
        'company.inn'() {
            this.debouncedChangeInn();
        },
        'address.address'() {
            this.debouncedChangeAddress();
        },
    },

    methods: {
        async changeInn() {
            const response = await this.$request(RGetCompanies({ inn: this.company.inn }));
            if (response.juridicalPersons) {
                this.requestErrors.inn = '';
                this.companies = response.juridicalPersons.map((company: IRegistrationCompany) => {
                    company.html = `
                                <div class="autocomplete-item">
                                    <div class="autocomplete-name">${ company.name }</div>
                                    <div class="autocomplete-inn">ИНН: ${ company.inn }</div>
                                </div>`;
                    return company;
                });
            }
            else {
                this.companies = [];
            }
        },

        async changeAddress(): Promise<void> {
            const response = await this.$request(RGetAddresses({ address: this.address?.address }));
            if (response.RESPONSE_STATUS === 200) {
                this.addresses = response.addresses?.map((address: IAddressItem) => {
                    address.html = `
                        <div class="autocomplete-item">
                            <div class="autocomplete-name">${ address.address }</div>
                        </div>
                    `;
                    return address;
                });
            }
            else {
                this.addresses = [];
            }
        },

        deleteFiasId(): void {
            this.address.fiasId = '';
        },

        async findCompany() {
            if (this.$v.company.$invalid || this.$v.address.$invalid || !this.address.fiasId) {
                this.$v.company.$touch();
                this.$v.address.$touch();
                return false;
            }
            this.findCompanyLoading = true;
            const response = await this.$request(RGetCompany({
                inn: this.company.inn,
                kpp: this.company.kpp,
            }));
            this.findCompanyLoading = false;

            if (response.RESPONSE_STATUS === 200) {
                this.selectedCompany = response;
                this.clearRequestErrors();
                if (!response.address) {
                    this.requestErrors.kpp = COMPANY_NOT_FOUND;
                }
            }
            else {
                this.requestErrors = createResponseErrorsObject(response.errors);
            }
        },

        clearRequestErrors() {
            this.requestErrors = {} as IObjectAnyProps;
        },

        deleteSelectedCompany() {
            this.selectedCompany = {} as ISelectedCompany;
        },

        selectCompany(company: IRegistrationCompanyInfo) {
            this.company = company;
            this.companies = [];
        },

        selectAddress(address: IAddressItem) {
            this.address = address;
        },

        async goToNextStep() {
            if (this.$v.bank.$invalid || this.$v.selectedCompany.$invalid) {
                this.$v.bank.$touch();
                this.$v.selectedCompany.$touch();
                return false;
            }
            this.findBankLoading = true;
            const response = await this.$request(RFindBank({
                bik: this.bank.bik,
                checkingAccount: this.bank.checkingAccount,
            }));
            this.findBankLoading = false;

            this.$emit('change-registration-data', {
                juridicalPerson: {
                    inn: this.company.inn,
                    kpp: this.company.kpp,
                    bik: this.bank.bik,
                    checkingAccount: this.bank.checkingAccount,
                    bankName: response.name,
                    juridicalName: this.selectedCompany.name,
                    juridicalAddress: this.selectedCompany.address,
                    ogrn: '1053600591198',
                    correspondingAccount: '30101643600000000957',
                    okpo: '00032537',
                    address: this.address,
                },
            });

            if (response.bik) {
                this.$emit('next', 2);
                this.clearRequestErrors();
            }
            else if (response.errors) {
                this.requestErrors = createResponseErrorsObject(response.errors);
            }
            else {
                this.requestErrors = {
                    bik: BIK_NOT_FOUND,
                };
            }
        },
    },
});
</script>

<style scoped lang="scss">
.registration-form {
    width: 360px;
    margin: 48px auto 0;

    &-title {
        margin-bottom: 27px;

        font-size: 21px;
        font-weight: 700;
        text-align: center;
    }

    .common-input {
        margin-bottom: 4px;
    }

    hr {
        margin: 33px 0 35px
    }

    &__company-info {
        width: 400px;
        margin-left: -20px;
        padding: 35px 45px;

        background: $instruction-bg-color;
        border-radius: 12px;
    }

    &__company-name {
        display: flex;
        align-items: center;

        font-size: 14px;
        font-weight: 700;

        img {
            margin-right: 13px;
        }
    }

    &__company-requisites {
        display: flex;
        align-items: center;

        margin-top: 18px;

        font-size: 14px;
        font-weight: 600;

        color: $light-gray;

        span {
            margin-right: 15px;
        }
    }

    &__company-address {
        margin-top: 18px;

        font-size: 14px;
        line-height: 1.25;
        letter-spacing: -0.15px;
        font-weight: 600;

        color: $light-gray;
    }

    &__change {
        width: fit-content;
        margin-top: 24px;

        font-size: 14px;
        font-weight: 600;
        color: $green;
        text-decoration: underline;
        cursor: pointer;

        transition: opacity $common-transition-duration;

        &:hover {
            opacity: 0.7;
        }
    }

    .select-company__error {
        margin-top: 5px;

        font-size: 14px;
        font-weight: 700;
        color: $wrong-color;
    }

    &::v-deep {
        .autocomplete {
            &-item {
                padding: 10px 16px;

                cursor: pointer;
            }

            &-option__selected {
                background: $white;
                .autocomplete-name {
                    color: $green;
                }
            }

            &-name {
                font-size: 13px;
                font-weight: 700;
                line-height: 1.25;
            }

            &-inn {
                margin-top: 7px;

                color: $light-gray-second;
            }
        }
    }

    @include tablet_landscape {
        width: 320px;
        margin: 42px auto 0;

        .common-input {
            margin-bottom: 10px;
        }
        .common-button {
            margin-top: 20px;
        }

        &__company-info {
            margin-left: -40px;
        }
    }

    @include tablet {
        width: 325px;
        margin: 43px auto 0;

        .common-input {
            margin-bottom: 9px;
        }

        .common-button {
            margin-top: 20px;
        }

        &__company-info {
            margin-left: -40px;
        }
    }

    @include mobile {
        width: 89%;
        margin: 28px auto 0;

        &-title {
            margin-bottom: 25px;
        }

        .common-input {
            margin-bottom: 4px;
        }

        .common-button {
            margin-top: 12px;
        }

        &__company-info {
            width: 108%;
            margin-left: -4%;
            padding: 35px 25px;
        }
    }

    @include razr365 {
        &__company-info {
            padding: 35px 15px;
        }

        &__company-requisites {
            span {
                margin-right: 5px;
                &:nth-of-type(2n) {
                    margin-right: 0;
                }
            }
        }
    }
}

</style>
