<template>
    <div class="registration-success">
        <div class="registration-success--img">
            <img :src="require('@/assets/images/icon/checkmark.svg')" />
        </div>
        <div class="registration-success--title">
            Для завершения регистрации перейдите по&nbsp;ссылке, которую мы&nbsp;отправили на&nbsp;вашу почту
        </div>
        <p>
            Теперь вы&nbsp;можете заказывать на&nbsp;сайте продукты и&nbsp;безалкогольные напитки. Для заказа алкоголя заполните шаблон договора в&nbsp;
            <nuxt-link
                class="green"
                to="/personal-cabinet/profile"
            >
                Личном кабинете
            </nuxt-link>
            и&nbsp;свяжитесь с&nbsp;нашим менеджером.
        </p>
        <common-button
            tag="router-link"
            to="/personal-cabinet/profile"
            class="common-button--green"
        >
            Перейти в личных кабинет
        </common-button>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';

import CommonButton from '@/components/common/CommonButton.vue';

export default Vue.extend({
    name: 'RegistrationSuccess',

    components: {
        CommonButton,
    },
});
</script>

<style scoped lang="scss">
.registration-success {
    &--img {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 56px;
        height: 56px;
        margin: 70px auto 20px;

        border: 2px solid $green;
        border-radius: 50%;

        img {
            width: 50%;
        }
    }

    &--title {
        width: 560px;
        margin: 0 auto 20px;

        font-size: 31px;
        font-weight: 700;
        line-height: 1.2;
        text-align: center;
    }

    p {
        width: 510px;
        margin: 0 auto 75px;

        text-align: center;
        color: $modal-color-gray;

        a {
            color: $green;
        }
    }

    .common-button {
        width: 360px;
        margin: 0 auto;
    }

    @include tablet_landscape {
        &--img {
            margin: 87px auto 13px;
        }

        &--title {
            width: 380px;
            margin-bottom: 15px;

            font-size: 21px;
        }

        p {
            width: 450px;
            margin-bottom: 45px;

            font-size: 14px;
            line-height: 1.3;
        }

        .common-button {
            width: 324px;
            margin-bottom: 51px;
        }
    }

    @include tablet {
        &--img {
            margin: 190px auto 13px;
        }
    }

    @include mobile {
        &--img {
            margin-top: 60px;
            margin-bottom: 16px;
        }

        &--title {
            width: 300px;

            font-size: 18px;
        }

        p {
            width: 322px;
            margin-bottom: 52px;
        }
    }
}

</style>
