<template>
    <div class="registration-steps">
        <div
            class="registration-step"
            :class="firstStepClasses"
        >
            <check-icon class="gray" />
            <p>
                1. Заполнение <br /> данных о компании
            </p>
        </div>
        <div
            class="registration-step"
            :class="secondStepClasses"
        >
            <check-icon class="gray" />
            <p>
                2. Заполнение данных <br /> контактного лица
            </p>
        </div>
        <div
            class="registration-step"
            :class="thirdStepClasses"
        >
            <check-icon class="gray" />
            <p>
                3. Подтверждение <br /> контактных данных
            </p>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';

import CheckIcon from '~/src/assets/images/icon/checkmark.svg?inline';

export default Vue.extend({
    name: 'RegistrationSteps',

    components: {
        CheckIcon,
    },

    props: {
        step: {
            type: Number,
            default: 0,
        },
    },

    computed: {
        firstStepClasses() {
            return {
                'registration-step--active': this.step === 1,
                'registration-step--complete': this.step > 1,
            };
        },
        secondStepClasses() {
            return {
                'registration-step--active': this.step === 2,
                'registration-step--complete': this.step > 2,
            };
        },
        thirdStepClasses() {
            return {
                'registration-step--active': this.step === 3,
            };
        },
    },
});
</script>

<style scoped lang="scss">
.registration-steps {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 890px;
    margin: 29.4px auto;

    .registration-step {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 32.8%;
        padding-bottom: 13px;

        font-size: 14px;
        line-height: 1.3;
        font-weight: 700;

        border-bottom: 2px solid $light-gray-ninth;
        border-radius: 2px;

        &.registration-step--active, &.registration-step--complete {
            border-color: $green;
            p {
                opacity: 1;
            }
        }

        p {
            opacity: 0.2;
        }
        svg {
            width: 15px;
            margin-right: 19px;
        }

        &.registration-step--complete {
            &::v-deep {
                .gray {
                    path {
                        fill: $green;
                    }
                }
            }
        }
    }

    &::v-deep {
        .gray {
            path {
                fill: $light-gray-second;
            }
        }
    }

    @include tablet_landscape {
        width: 770px;
        margin: 23.4px auto;
    }

    @include tablet {
        width: 680px;
        margin: 24px auto;

        .registration-step {
            line-height: 1.2;
        }
    }

    @include mobile {
        position: relative;

        width: 95%;
        height: 75px;
        margin-top: 10px;
        padding: 0 4px;

        background: rgba($green, 0.05);
        border-radius: 12px;

        .registration-step {
            width: 28.8%;
            margin: 12px auto;
            padding-bottom: 32px;

            svg {
                display: none;
            }

            p {
                position: absolute;
                top: 22px;
                left: 11px;

                width: 100%;

                opacity: 0;
                pointer-events: none;

                br {
                    display: none;
                }
            }

            &.registration-step--complete {
                p {
                    opacity: 0;
                }
            }

            &.registration-step--active {
                p {
                    opacity: 1;
                }
            }
        }
    }
}
</style>
