<template>
    <form
        class="registration-personal-form"
        @submit.prevent="sendPersonalData"
    >
        <common-input
            v-model="name"
            label="Имя / фамилия"
            required
            :error="errorName"
            :class="{'common-input--success' : successName}"
            :disabled="loading"
            @blur="blurInput('name')"
        />
        <common-input
            v-model="phone"
            v-mask="'+7 (###) ### ## ##'"
            label="Номер телефона"
            required
            :class="{'common-input--success' : successPhone}"
            :error="errorPhone"
            :disabled="loading"
            @focus="focusPhone"
            @blur="blurInput('phone')"
        />
        <common-input
            v-model="email"
            label="Почтовый адрес / логин"
            required
            :class="{'common-input--success' : successEmail}"
            :error="errorEmail"
            :disabled="loading"
            @blur="blurInput('email')"
        />
        <div class="registration-personal-form__email-description">
            На указанную почту поступит письмо со ссылкой для завершения регистрации. В дальнейшем на этот адрес будут поступать документы по всем операциям на сайте.
        </div>
        <common-input
            v-model="password"
            label="Пароль"
            type="password"
            required
            :class="{'common-input--success' : successPassword}"
            :error="errorPassword"
            :disabled="loading"
            @blur="blurInput('password')"
        />
        <common-input
            v-model="confirmPassword"
            label="Повторите пароль"
            type="password"
            required
            :class="{'common-input--success' : successConfirmPassword}"
            :error="errorConfirmPassword"
            :disabled="loading"
            @blur="blurInput('confirmPassword')"
        />
        <common-checkbox
            v-model="confirmPersonalData"
            :label="`Я принимаю условия <a class='green' href=${policyLink} target='_blank'>Политики обработки персональных данных</a>`"
            :error="errorConfirmPersonalData"
        />
        <common-button
            class="common-button--responsive common-button--green"
            tag="button"
            type="submit"
            :class="{'common-button--gray-disabled': !canSendPersonalData}"
            :loading="loading"
        >
            Зарегистрироваться
        </common-button>
        <hr />
        <div class="registration-personal-form__description">
            Для вступления <a :href="standardContactLink">стандартного договора</a> в&nbsp;действие требуется ваше подтверждение. Нажмите &laquo;Зарегистрироваться&raquo;, чтобы начать сотрудничество с&nbsp;нами.
        </div>
    </form>
</template>

<script lang="ts">
import Vue from 'vue';
import { required, email, minLength } from 'vuelidate/lib/validators';

import CommonInput from '@/components/common/CommonInput.vue';
import CommonButton from '@/components/common/CommonButton.vue';
import CommonCheckbox from '@/components/common/CommonCheckbox.vue';
import { POLICY_LINK, STANDARD_CONTRACT_LINK } from '~/src/utils/helpers/site-settings';

import {
    NAME_REQUIRED_ERROR,
    NAME_FORMAT_ERROR,
    EMAIL_REQUIRED_ERROR,
    EMAIL_FORMAT_ERROR,
    PHONE_REQUIRED_ERROR,
    PHONE_FORMAT_ERROR,
    REQUIRED_ERROR,
    CONFIRMED_ERROR,
    PASSWORD_MIN_LENGTH_ERROR,
} from '~/src/utils/errors-texts';
import { createResponseErrorsObject } from '~/src/utils/helpers/response-errors';
import { TStringOrBoolean, IObjectAnyProps } from '~/src/utils/interfaces';

const startPhoneMask = '+7 (';
export default Vue.extend({
    name: 'RegistrationPersonalForm',

    components: {
        CommonInput,
        CommonButton,
        CommonCheckbox,
    },

    data: () => ({
        name: '',
        phone: '',
        email: '',
        password: '',
        confirmPassword: '',
        confirmPersonalData: false,
        loading: false,
        requestErrors: {} as IObjectAnyProps,

        policyLink: POLICY_LINK,
        standardContactLink: STANDARD_CONTRACT_LINK,
    }),

    validations: {
        name: {
            required,
            minLength: minLength(5),
        },
        phone: {
            required,
            length(v) {
                return v.length === 18;
            },
        },
        email: {
            required,
            email,
        },
        password: {
            required,
            minLength: minLength(8),
        },
        confirmPassword: {
            required,
            confirmed(value) {
                return value === this.password;
            },
        },
        confirmPersonalData: {
            agree(v) {
                return v;
            },
        },
    },

    computed: {
        successName(): boolean {
            return this.$v.name.$dirty && !this.$v.name.$invalid;
        },

        errorName(): TStringOrBoolean {
            if (this.$v.name.$dirty) {
                if (!this.$v.name.required) {
                    return NAME_REQUIRED_ERROR;
                }
                if (!this.$v.name.minLength) {
                    return NAME_FORMAT_ERROR;
                }
            }
            return this.requestErrors['user.fullName'];
        },

        canSendPersonalData(): boolean {
            return !this.$v.$invalid;
        },

        successPhone(): boolean {
            return this.$v.phone.$dirty && !this.$v.phone.$invalid;
        },

        errorPhone(): TStringOrBoolean {
            if (this.$v.phone.$dirty) {
                if (!this.$v.phone.required) {
                    return PHONE_REQUIRED_ERROR;
                }
                if (!this.$v.phone.length) {
                    return PHONE_FORMAT_ERROR;
                }
            }
            return this.requestErrors['user.phoneNumber'];
        },

        successEmail(): boolean {
            return this.$v.email.$dirty && !this.$v.email.$invalid;
        },

        errorEmail(): TStringOrBoolean {
            if (this.$v.email.$dirty) {
                if (!this.$v.email.required) {
                    return EMAIL_REQUIRED_ERROR;
                }
                if (!this.$v.email.email) {
                    return EMAIL_FORMAT_ERROR;
                }
            }
            return this.requestErrors['user.email'];
        },

        successPassword(): boolean {
            return this.$v.password.$dirty && !this.$v.password.$invalid;
        },

        errorPassword(): TStringOrBoolean {
            if (this.$v.password.$dirty) {
                if (!this.$v.password.required) {
                    return REQUIRED_ERROR;
                }
                if (!this.$v.password.minLength) {
                    return PASSWORD_MIN_LENGTH_ERROR;
                }
            }
            return this.requestErrors['user.password'];
        },

        successConfirmPassword(): boolean {
            return this.$v.confirmPassword.$dirty && !this.$v.confirmPassword.$invalid;
        },

        errorConfirmPassword(): TStringOrBoolean {
            if (this.$v.confirmPassword.$dirty) {
                if (!this.$v.confirmPassword.required) {
                    return REQUIRED_ERROR;
                }
                else if (!this.$v.confirmPassword.confirmed) {
                    return CONFIRMED_ERROR;
                }
            }
            return false;
        },

        errorConfirmPersonalData(): TStringOrBoolean {
            if (this.$v.confirmPersonalData.$dirty) {
                if (!this.$v.confirmPersonalData.agree) {
                    return true;
                }
            }
            return false;
        },
    },

    watch: {
        phone() {
            setTimeout(() => {
                if (this.phone.substr(0, 4) !== startPhoneMask) {
                    this.phone = startPhoneMask;
                }
            });
        },
    },

    methods: {
        focusPhone() {
            if (!this.phone) {
                this.phone = startPhoneMask;
            }
        },

        blurInput(name: string) {
            this.$v[name].$touch();
        },

        sendPersonalData() {
            if (this.$v.$invalid) {
                this.$v.$touch();
                return false;
            }

            this.loading = true;

            this.$emit('next', {
                user: {
                    fullName: this.name,
                    phoneNumber: this.phone.replace(/[^\d]/g, ''),
                    email: this.email,
                    password: this.password,
                },
            }, (response: IObjectAnyProps) => {
                this.loading = false;
                if (response.errors) {
                    this.requestErrors = createResponseErrorsObject(response.errors);
                }
            });
        },
    },
});
</script>

<style scoped lang="scss">
.registration-personal-form {
    width: 360px;
    margin: 68px auto 0;

    .common-input {
        margin-bottom: 3px;
    }

    .common-checkbox {
        width: 233px;
        margin: 7px auto 19px;
    }

    &__email-description {
        margin-top: -13px;
        margin-bottom: 23px;
        padding-left: 14px;

        font-size: 13px;
        font-weight: 600;
        letter-spacing: -0.1px;
        line-height: 1.4;
        color: $green;

        border-left: 2px solid $green;
        border-radius: 2px;
    }

    hr {
        margin: 16px 0 20px
    }

    &__description {
        font-size: 12px;
        line-height: 1.3;
        color: $modal-color-gray;
        text-align: center;

        a {
            color: $green;
        }
    }

    @include tablet_landscape {
        width: 325px;
        margin-top: 55px;

        .common-input {
            margin-bottom: 10px;
        }

        &__email-description {
            margin-top: -15px;
            margin-bottom: 27px;
            padding-left: 7px;

            font-size: 12px;
        }
    }

    @include tablet {
        width: 325px;
        margin-top: 54px;

        .common-input {
            margin-bottom: 10px;
        }
    }

    @include mobile {
        width: 335px;
        max-width: 95%;
        margin-top: 35px;

        .common-input {
            margin-bottom: 3px;
        }

        .common-checkbox {
            width: 210px;
            margin: 4px auto 19px;
        }
    }
}
</style>
