<template>
    <div class="card-alert-in-stock-mobile">
        <img
            alt="Alert icon"
            height="24"
            src="@/assets/images/icon/alert-gray-icon.svg"
            width="24"
        />
        <p class="card-alert-in-stock-mobile__title">
            Данного товара нет в&nbsp;наличии
        </p>
        <p class="card-alert-in-stock-mobile__description">
            К сожалению, данного
            товара нет в&nbsp;наличии.
            Для уточнения деталей свяжитесь с&nbsp;менеджером.
        </p>
        <a
            class="card-alert-in-stock-mobile__link"
            href="tel:+74952230244"
        >+7 (495) 223-02-44</a>
        <div
            class="card-alert-in-stock-mobile__button-cancel"
            @click.stop="closeAlertInStock"
        ></div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
    name: 'CardAlertInStockMobile',

    methods: {
        closeAlertInStock() {
            this.$emit('close');
        },
    },
});
</script>

<style lang="scss" scoped>
.card-alert-in-stock-mobile {
    position: absolute;
    top: 0;
    left: 0;
    z-index: $z-alert;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;
    min-height: 215px;
    padding: 36px 13px 14px;

    background: $white;
    border-radius: 18px;

    img {
        margin-bottom: 12px;
    }

    &__title {
        margin-bottom: 12px;

        font-size: 13px;
        line-height: 130%;
        font-weight: 600;
        text-align: center;
        color: $black-second;
    }

    &__description {
        margin-bottom: 4px;

        font-size: 12px;
        line-height: 140%;
        font-weight: 600;
        text-align: center;
        color: $light-gray;
    }

    &__link {
        font-size: 12px;
        line-height: 140%;
        font-weight: 700;
        text-align: center;
        color: $green;
        text-decoration: none;
    }

    &__button-cancel {
        display: block;

        width: 40px;
        height: 40px;
        margin: auto 0 0 auto;
        padding: 0;

        background: url('@/assets/images/icon/close-white-icon.svg') center no-repeat $green;
        border-radius: 12px;

        cursor: pointer;
    }
}
</style>
