<template>
    <v-popover
        popover-class="card-price-in-stock__popover"
        placement="bottom-end"
        trigger="click"
        offset="10"
        class="card-price-in-stock"
        :class="{'card-price-in-stock--cart-type': cartType}"
        :auto-hide="true"
        :disabled="isMobile"
        @click.native="openMobileTooltip"
    >
        <span class="card-price-in-stock__text">
            Узнать о наличии
        </span>

        <card-alert-in-stock-mobile
            v-if="showTooltip"
            @close="closeMobileTooltip"
        />

        <div
            slot="popover"
            class="card-price-in-stock__popover"
        >
            <img
                src="@/assets/images/icon/alert-gray-icon.svg"
                alt="Alert icon"
            />
            <p class="common-tooltip__title">
                Данного товара нет в наличии
            </p>
            <p class="common-tooltip__text">
                К&nbsp;сожалению, данного товара нет в&nbsp;наличии. Для уточнения деталей свяжитесь с&nbsp;менеджером.
            </p>
            <a
                class="common-tooltip__link"
                href="tel:+74952230244"
            >
                +7 (495) 223-02-44
            </a>
        </div>
    </v-popover>
</template>

<script lang="ts">
import Vue from 'vue';

import CardAlertInStockMobile from '@/components/pages/catalog/CardAlertInStockMobile.vue';

export default Vue.extend({
    name: 'CardPriceInStock',

    components: {
        CardAlertInStockMobile,
    },

    props: {
        cartType: {
            type: Boolean,
            default: false,
        },
    },

    data: () => ({
        showMobileTooltip: false,
    }),

    computed: {
        isMobile(): boolean {
            return this.$accessor.isMobile && !this.cartType;
        },

        showTooltip(): boolean {
            return this.showMobileTooltip && !this.cartType;
        },
    },

    methods: {
        openMobileTooltip(): void {
            if (this.isMobile) {
                this.showMobileTooltip = true;
            }
        },

        closeMobileTooltip(): void {
            this.showMobileTooltip = false;
        },
    },
});
</script>

<style lang="scss" scoped>
.card-price-in-stock {
    position: relative;
    padding-left: 26px;

    cursor: pointer;

    &--cart-type {
        margin-right: 40px;

        .card-price-in-stock__text {
            font-size: 12px;
            line-height: 12px;

            text-decoration: none;

            &::before {
                left: -26px;

                width: 18px;
                height: 18px;
            }
        }
    }

    &__text {
        position: relative;

        display: inline-block;

        font-size: 18px;
        font-weight: 700;
        color: $green;

        text-decoration: underline;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: -35px;

            width: 24px;
            height: 24px;

            transform: translateY(-50%);

            background: url('@/assets/images/icon/information-green-icon.svg') no-repeat center center / cover;
        }
    }

    &__popover {
        max-width: 240px;
    }

    @include hover_device {
        &:hover {
            opacity: 0.7;
            .card-alert-in-stock {
                opacity: 1;
                transition: opacity $common-transition-duration;

                pointer-events: auto;
            }
        }
    }

    @include razr1259 {
        padding-left: 24px;

        &__text {
            font-size: 14px;

            &:before {
                left: -23px;

                width: 18px;
                height: 18px;
            }
        }

        &__popover {
            text-align: center;

            .common-tooltip__title {
                max-width: 116px;
                margin: 0 auto 8px;

                font-size: 14px;
                line-height: 1.3;
            }
        }
    }

    @include razr767 {
        position: static;

        display: flex;
        justify-content: center;
        align-items: center;

        max-width: 100%;
        height: 40px;
        margin-top: 0;
        padding-left: 0;

        background: rgba(29, 196, 56, 0.07);
        border-radius: 8px;

        &--cart-type {
            margin-right: 0;
            margin-left: 0;

            background: transparent;

            .card-price-in-stock__text {
                font-size: 12px;
                line-height: 1;

                padding-left: 26px;

                &::before {
                    left: 0;
                }
            }
        }

        &.product-card__presence {
            height: 50px;

            background: #fff;
            border: 1px solid $light-gray-ninth;
        }

        &__text {
            padding-left: 26px;

            font-size: 16px;

            &::before {
                left: 0;
            }
        }

        .card-alert-in-stock {
            display: none;
        }
    }
}
</style>
