<template>
    <div class="card-alert-in-stock">
        <img
            alt="Alert icon"
            height="24"
            src="@/assets/images/icon/alert-gray-icon.svg"
            width="24"
        />
        <p class="card-alert-in-stock__text-first">
            Данного товара нет в наличии
        </p>
        <p class="card-alert-in-stock__text-second">
            Для уточнения деталей свяжитесь с менеджером.
        </p>
        <a
            class="card-alert-in-stock__link"
            href="tel:+74952230244"
        >+7 (495) 223-02-44</a>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
    name: 'CardAlertInStock',
});
</script>

<style lang="scss" scoped>
.card-alert-in-stock {
    position: absolute;
    top: 95%;
    right: -10px;
    z-index: $z-alert;

    min-width: 284px;
    min-height: 181px;
    padding: 18px 26px 23px;

    background: $white;
    border-radius: 18px;
    box-shadow: (4px 4px 44px rgba(0, 0, 0, 0.08));

    &::before {
        content: '';
        position: absolute;
        top: -6px;
        right: 28px;

        width: 22px;
        height: 12px;

        background: url('@/assets/images/icon/triangle-alert-icon.svg') no-repeat;
    }

    img {
        margin-bottom: 10px;
    }

    &__text-first {
        margin-bottom: 2px;

        font-size: 16px;
        line-height: 22px;
        font-weight: 600;
        color: $black-second;
    }

    &__text-second {
        font-size: 14px;
        line-height: 140%;
        font-weight: 600;
        color: $light-gray;
    }

    &__link {
        font-size: 14px;
        line-height: 140%;
        font-weight: 700;
        color: $green;
    }
}

@include razr1259 {
    .card-alert-in-stock {
        right: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        min-width: 190px;
        min-height: 185px;
        padding: 0 12px;

        &::before {
            top: -6px;
            right: 33px;
        }

        img {
            margin-bottom: 6px;
        }

        &__text-first {
            max-width: 110px;
            margin-bottom: 8px;

            font-size: 14px;
            text-align: center;
        }

        &__text-second {
            text-align: center;
        }

        &__link {
            text-align: center;
        }
    }
}
</style>
