<template>
    <div class="card">
        <favorite-button
            :product="card"
        />
        <nuxt-link
            tag="div"
            :to="productLink"
            class="card__top-wrapper"
        >
            <div class="card__images">
                <div
                    v-if="showControls"
                    class="card__images-control-wrapper"
                >
                    <div
                        v-for="(btn, index) in card.images"
                        :key="index"
                        class="card__images-control"
                        :class="{'card__images-control__active' : activeSlideIndex === index}"
                        @mouseenter="switchSlide(index)"
                    >
                    </div>
                </div>

                <swiper
                    v-if="card.images"
                    ref="swiper"
                    :options="swiperOption"
                >
                    <swiper-slide
                        v-for="(photo, index) in card.images"
                        :key="index"
                    >
                        <img :src="photo.path" />
                    </swiper-slide>
                </swiper>
                <div
                    :id="`pagination${ card.id }`"
                    class="card__images-pagination forTablet swiper-pagination-bullets"
                    :class="{'card__images-pagination__hidden': !showPagination}"
                ></div>
            </div>
            <div class="card__title">
                <span class="card__title-article">Арт. {{ card.articul }}</span>
                <div class="card__title-text">
                    {{ card.title }}
                </div>
            </div>
        </nuxt-link>
        <div class="card__price">
            <div class="card__price-content">
                <span class="card__price-content-count">
                    {{ weightUnit }}
                </span>
                <p class="card__price-content-text">
                    {{ price }} <span>₽</span>
                </p>
            </div>
            <template v-if="showCountControls">
                <button
                    v-if="!countInCart"
                    class="card__price-button-basket"
                    :class="{'card__price-button-basket__loading': isLoading}"
                    @click="addToCart(minCount)"
                >
                    <span>В корзину</span>
                </button>
                <common-quantity-input
                    v-else
                    :short="true"
                    :product="card"
                    :default-value="+countInCart"
                    @input="addToCart"
                />
            </template>
            <template v-else>
                <card-price-in-stock
                    v-if="!isAlcohol"
                />
                <button
                    v-else
                    class="card__price-button-buy"
                    @click="openAlcoholPopup"
                >
                    <span class="card__price-button-buy-text">Как купить?</span>
                </button>
            </template>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Swiper, SwiperSlide } from 'vue-awesome-swiper';

import CardPriceInStock from '@/components/pages/catalog/CardPriceInStock.vue';
import CommonQuantityInput from '@/components/common/CommonQuantityInput.vue';

import FavoriteButton from '~/src/components/others/FavoriteButton.vue';
import { priceFormat } from '~/src/utils/helpers/functions';
import { minWeightCount } from '~/src/utils/helpers/product';
import { ICartItem } from '~/src/utils/interfaces/cart';
import { IProduct } from '~/src/utils/interfaces/catalog';

export default Vue.extend({
    name: 'Card',

    components: {
        CardPriceInStock,
        CommonQuantityInput,
        Swiper,
        SwiperSlide,
        FavoriteButton,
    },

    props: {
        card: {
            type: Object,
            default: () => ({} as IProduct),
        },

        category: {
            type: String,
            default: '',
        },
    },

    data: () => ({
        activeSlideIndex: 0,
        showCounter: false,
        isLoading: false,
    }),

    computed: {
        swiperOption(): object {
            return {
                slidesPerView: 1,
                centeredSlides: true,
                effect: 'fade',
                pagination: {
                    el: `#pagination${ this.card.id }`,
                },
            };
        },

        token(): string {
            return this.$accessor.auth.accessToken;
        },

        showCountControls(): boolean {
            return this.card.quantity && !this.isAlcohol;
        },

        isAlcohol(): boolean {
            return false;
        },

        showControls(): boolean {
            return this.card?.images?.length > 1;
        },

        showPagination(): boolean {
            return this.card?.images.length > 1;
        },

        cart(): ICartItem[] {
            return this.$accessor.cart.cart;
        },

        price(): string {
            return priceFormat(this.card.unitPrice);
        },

        countInCart(): number {
            if (this.cart?.length) {
                return this.cart?.find(cartProduct => cartProduct.product.id === this.card.id)?.quantity!;
            }
            return 0;
        },

        productLink(): object {
            return {
                name: 'product-id',
                params: {
                    id: this.card.id,
                },
                query: {
                    category: this.category,
                },
            };
        },

        weightUnit(): string {
            if (this.card.productType === 'weight') {
                return `${ this.card.showUnit === '1 kg' ? '1 кг' : '100 г' }`;
            }
            else {
                return `1шт (${ this.card.standardWeight } г)`;
            }
        },

        minCount(): number {
            return minWeightCount(this.card);
        },
    },

    methods: {
        switchSlide(number: number): void {
            this.activeSlideIndex = number;
            //@ts-ignore
            this.$refs.swiper?.$swiper?.slideTo(number);
        },

        async addToCart(count: number): Promise<void> {
            this.isLoading = true;
            await this.$accessor.cart.changeCartAction({
                product: this.card,
                quantity: count,
            });
            this.isLoading = false;
        },

        openAlcoholPopup(): void {
            this.$accessor.modal.OPEN_MODAL({ name: 'AlcoholicProducts' });
        },
    },
});
</script>

<style lang="scss" scoped>
.card {
    position: relative;

    width: 264px;
    margin-right: 14px;
    padding: 20px 16px 24px;

    background-color: $white;
    border-radius: 18px;

    &:nth-child(3n) {
        margin-right: 0;
    }

    .favorite-button {
        width: fit-content;
        margin-left: auto;
        margin-bottom: 15px;
    }

    &__top-wrapper {
        cursor: pointer;
    }

    &__images {
        position: relative;
        z-index: $z-1;

        width: 100%;
        height: 100%;
        padding-bottom: 14px;

        &::v-deep {
            .swiper-container {
                height: 150px;
                width: 100%;
            }
            .swiper-slide {
                display: flex;
                justify-content: center;
                align-items: center;

                background: white;

                img {
                    height: 100%;
                }

                &-active {
                    max-width: 100%;
                }
            }
        }

        &-control-wrapper {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: $z-2;

            display: flex;
            justify-content: space-between;

            border-spacing: 8px 0;
        }

        &-control {
            width: 100%;
            margin: 0 2px;

            border-bottom: 2px solid $light-gray-ninth;
            border-radius: 2px;
            &__active {
                border-bottom-color: $green;
            }
        }
    }

    &__title {
        margin-bottom: 4px;

        &-article {
            display: inline-block;

            margin-bottom: 7px;

            font-size: 12px;
            line-height: 100%;
            color: $light-gray;
        }

        &-text {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;

            height: 51px;
            overflow: hidden;

            font-size: 14px;
            line-height: 120%;
            font-weight: 600;
            color: $dark-gray-second;
            text-decoration: none;
        }
    }

    &__price {
        display: flex;
        justify-content: space-between;

        &-content-count {
            display: inline-block;

            margin-bottom: 6px;

            font-size: 12px;
            font-weight: 600;
            color: $light-gray;
        }

        &-content-text {
            font-size: 21px;
            font-weight: 700;
            color: $black;

            span {
                font-size: 19px;
                font-weight: 600;
                color: $black;
                font-style: normal;
            }
        }

        &-button-basket {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 50px;
            height: 50px;
            padding: 0;

            background-color: $green;
            border: 1px solid $green;
            border-radius: 16px;

            cursor: pointer;
            transition: background-color $common-transition-duration;

            span {
                position: relative;

                display: inline-block;

                font-size: 0;
                font-weight: 700;
                color: $white;

                &::before {
                    content: '';
                    position: absolute;
                    top: -9px;
                    left: -9px;

                    width: 18px;
                    height: 18px;

                    background: url('@/assets/images/icon/gray-cart-icon.svg') center no-repeat;
                }
            }

            @include hover_device {
                &:hover {
                    background-color: $white;

                    transition: background-color $common-transition-duration;

                    span {
                        &::before {
                            background: url('@/assets/images/icon/green-cart-icon.svg') center no-repeat;
                        }
                    }
                }
            }

            &__loading {
                position: relative;
                background: $input-bg-color;
                border-color: $input-bg-color;

                pointer-events: none;
                &:after {
                    @include bef_aft;
                    z-index: $z-2;
                    width: 100%;
                    height: 100%;

                    border-radius: 50%;

                    animation-name: rotate_center;
                    animation-duration: 1s;
                    animation-iteration-count: infinite;

                    background: url('@/assets/images/icon/loader-icon.svg') no-repeat center center/contain $input-bg-color;
                }
            }
        }

        &-button-buy {
            margin-top: auto;
            padding: 0;

            border-bottom: 1px solid $green;

            cursor: pointer;

            &-text {
                font-size: 14px;
                font-weight: 700;
                color: $green;
            }
        }
    }

    .card-price-in-stock {
        display: flex;
        align-items: center;

        width: 27%;
        padding-left: 0;
        &::v-deep {
            .card-price-in-stock {
                &__text {
                    font-size: 12px;

                    text-decoration: none;
                    &:before {
                        left: -25px;

                        width: 18px;
                        height: 18px;
                    }
                }
            }
        }
    }

    @include razr1259 {
        width: 248px;
        margin-right: 12px;
        padding: 16px;

        &__images {
            padding-bottom: 0;

            &-control-wrapper {
                display: none;
            }

            &-pagination {
                display: flex;
                justify-content: center;

                margin-top: 11px;
            }
        }

        &__title {
            margin-bottom: 11px;

            &-text {
                height: 48px;

                font-size: 13px;
                font-weight: 600;
            }
        }

        &__price {
            &-content-text {
                font-size: 16px;

                span {
                    font-size: 16px;
                }
            }
        }
    }

    @include razr1023 {
        width: 232px;
        margin-right: 12px;
        margin-bottom: 12px;
        padding: 16px 16px;

        &__top-wrapper {
            padding-bottom: 0;
        }

        &__images {
            &-control {
                display: flex;
                justify-content: center;
                align-items: flex-end;

                padding: 5px 0;

                border-spacing: 0;

                div {
                    display: block;

                    width: 6px;
                    height: 6px;
                    margin-right: 4px;

                    background-color: $light-gray-ninth;
                    border-bottom: none;
                    border-radius: 50%;

                    &:last-child {
                        margin-right: 0;
                    }
                }

                div.active {
                    background-color: $green;
                }
            }
        }

        &__title {
            &-text {
                height: 48px;

                font-size: 13px;
                font-weight: 600;
            }
        }

        .card-price-in-stock {
            &::v-deep {
                .card-price-in-stock {
                    &__text {
                        font-size: 12px;
                    }
                }
            }
        }
    }

    @include razr767 {
        width: 48.2%;
        margin-right: 0;
        margin-bottom: 9px;
        padding: 4% 3%;

        &__title-article {
            margin-bottom: 4px;
        }

        &__images {
            margin-bottom: 9px;

            &-wrapper {
                height: 120px;
            }

            &-control {
                padding: 0;

                div {
                    width: 4px;
                    height: 4px;
                }
            }

            &-pagination {
                margin-top: 24px;

                &__hidden {
                    opacity: 0;
                }
            }
        }

        &::v-deep {
            .swiper-container {
                height: 95px;
            }

            .swiper-pagination-bullet {
                width: 4px;
                height: 4px;
                margin: 0 1.5px;
            }
        }

        &__title {
            &-text {
                height: 47px;
            }
        }

        &__price {
            flex-direction: column;

            &-content {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;

                margin-bottom: 10px;

                &-text {
                    font-size: 14px;

                    span {
                        font-size: 13px;
                    }
                }

                &-count {
                    margin-bottom: 0;

                    font-size: 10px;
                }
            }

            &-button-buy {
                display: flex;
                justify-content: center;
                align-items: center;

                max-width: 100%;
                height: 40px;
                margin-top: 0;
                padding-left: 0;

                background: rgba(29, 196, 56, 0.07);
                border-bottom: none;
                border-radius: 8px;

                &-text {
                    position: relative;

                    display: inline-block;

                    padding-left: 26px;

                    font-size: 12px;

                    &::before {
                        content: '';
                        position: absolute;
                        top: -3px;
                        left: 0;

                        width: 18px;
                        height: 18px;

                        background: url('@/assets/images/icon/information-green-icon.svg') center no-repeat;
                    }
                }
            }

            &-button-basket {
                width: 100%;
                height: 40px;

                border-radius: 8px;

                cursor: pointer;

                span {
                    padding-left: 24px;

                    font-size: 12px;
                    line-height: 100%;

                    &::before {
                        top: -4px;
                        left: 0;

                        width: 16px;
                        height: 16px;

                        background: url('@/assets/images/icon/gray-cart-icon.svg') center no-repeat;
                    }
                }

                &:after {
                    width: 40px;
                }

                &__loading {
                    span {
                        opacity: 0;
                    }
                }
            }
        }

        .card-price-in-stock {
            width: 100%;
            &::v-deep {
                .trigger {
                    display: flex !important;
                }
                .card-price-in-stock {
                    &__text {
                        &:before {
                            left: 0;
                        }
                    }
                }
            }
        }
    }

    @include razr365 {
        padding: 4% 2%;
    }
}
</style>
