<template>
    <div class="card-alert-counter">
        <img
            alt="Alert icon"
            height="24"
            src="@/assets/images/icon/alert-gray-icon.svg"
            width="24"
        />
        <p class="card-alert-counter__text-first">
            Для предзаказа большего количества товара свяжитесь
            с менеджером
        </p>
        <a
            class="card-alert-counter__link green"
            :href="`tel:${managerPhone}`"
        >{{ managerPhone }}</a>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { validPhone } from '~/src/utils/helpers/functions';
import { managerPhone } from '~/src/utils/helpers/site-settings';

export default Vue.extend({
    name: 'CardAlertCounter',

    computed: {
        managerPhone(): string {
            return validPhone(managerPhone);
        },
    },
});
</script>

<style lang="scss" scoped>
.card-alert-counter {
    width: 220px;

    background: $white;
    border-radius: 18px;

    img {
        margin-bottom: 10px;
    }

    &__text-first {
        margin-bottom: 2px;

        font-size: 16px;
        line-height: 22px;
        font-weight: 600;
        color: $black-second;
    }

    &__link {
        font-size: 14px;
        line-height: 1.4;
        font-weight: 700;
        color: $green;
        text-decoration: none;
    }
}

@include razr1259 {
    .card-alert-counter {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: auto;
        min-width: 175px;
        padding: 0;

        img {
            margin-bottom: 6px;
        }

        &__text-first {
            max-width: 130px;
            margin-bottom: 8px;

            font-size: 12px;
            line-height: 1.3;
            text-align: center;
        }

        &__link {
            text-align: center;
        }
    }
}

@include razr767 {
    .card-alert-counter {
        justify-content: center;

        img {
            margin-bottom: 6px;
        }

        &__text-first {
            margin-bottom: 10px;

            font-size: 12px;
        }

        &__link {
            text-align: center;
        }
    }
}
</style>
