<template>
    <div class="catalog-content">
        <common-loader v-if="isLoadingContent" />
        <div class="catalog-content__wrapper">
            <common-breadcrumbs :links="breadcrumbsLinks" />
            <div class="catalog-content__title-wrapper">
                <h2>
                    {{ activeCategory }}
                </h2>
                <span v-if="productsList">
                    {{ totalProducts || 0 }} {{ goodsName }}
                </span>
            </div>

            <div
                class="catalog-content__sort-tablet-container forTablet"
                :class="{ 'catalog-content__sort-tablet-container__visible': showSort }"
            >
                <button
                    class="catalog-content__sort-button"
                    @click="openFilters"
                >
                    Фильтры
                </button>
                <common-select
                    v-model="selectedSortOption"
                    :options="sortOptions"
                    @input="sortByOrder"
                />
            </div>
            <div
                ref="sort"
                class="catalog-content__sort"
            >
                <button
                    class="catalog-content__sort-button"
                    type="button"
                    @click="openFilters"
                >
                    Фильтры
                </button>
                <common-select
                    v-model="selectedSortOption"
                    :options="sortOptions"
                    @input="sortByOrder"
                />
            </div>
            <div
                v-if="productCount"
                class="catalog-content__cards"
            >
                <card
                    v-for="card in productsList"
                    :key="card.id"
                    :card="card"
                    :category="category"
                />
            </div>
            <empty-catalog-list v-else-if="!isLoadingContent" />
            <div class="catalog-content__button-wrapper">
                <button
                    v-if="!disabledMoreBtn"
                    class="catalog-content__button-more"
                    @click="showMore"
                >
                    Показать еще
                </button>
            </div>
            <common-scroll-top
                v-if="productCount"
                :class="{'common-scroll-top__bottom': disabledMoreBtn}"
            />
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Card from '@/components/pages/catalog/Card.vue';
import EmptyCatalogList from '@/components/pages/catalog/EmptyCatalogList.vue';
import CommonBreadcrumbs from '@/components/common/CommonBreadcrumbs.vue';
import CommonLoader from '@/components/common/CommonLoader.vue';
import CommonSelect from '@/components/common/CommonSelect.vue';
import CommonScrollTop from '@/components/common/CommonScrollTop.vue';
import { IBreadcrumb, IProductsItem } from '~/src/utils/interfaces/catalog';

export default Vue.extend({
    name: 'CatalogContent',

    components: {
        CommonSelect,
        Card,
        EmptyCatalogList,
        CommonBreadcrumbs,
        CommonScrollTop,
        CommonLoader,
    },

    props: {
        breadcrumbsLinks: {
            type: Array,
            default: () => ([] as IBreadcrumb[]),
        },
    },

    data: () => ({
        sortOptions: [
            {
                label: 'По популярности',
                value: 'popular',
            },
            {
                label: 'Сначала недорогие',
                value: 'price_asc',
            },
            {
                label: 'Сначала дорогие',
                value: 'price_desc',
            },
            {
                label: 'По новизне',
                value: 'new',
            },
        ],
        selectedSortOption: {
            label: 'По популярности',
            value: 'popular',
        },

        showSort: false,
        lastScrollPosition: 0,
        positionSortBlock: 0,
    }),

    computed: {
        isScrollUpButtonTablet(): boolean {
            return this.$accessor.isSmallTablet && !this.$accessor.isMobile && this.productCount > 0;
        },

        category(): string {
            return this.$route.params.category;
        },

        activeCategory(): string {
            //@ts-ignore
            return this.breadcrumbsLinks?.[this.breadcrumbsLinks?.length - 1]?.name;
        },

        productsList(): IProductsItem[] {
            return this.$accessor.catalog.productsList || [];
        },

        productCount(): number {
            return this.productsList.length || 0;
        },

        isLoadingContent(): boolean {
            return this.$accessor.catalog.loading;
        },

        goodsName(): string {
            const lastNum = this.productCount % 10;
            const last2Num = this.productCount % 100;

            if (+last2Num >= 11 && +last2Num <= 19) {
                return 'товаров';
            }
            else if (lastNum === 1) {
                return 'товар';
            }
            else if (lastNum >= 2 && lastNum <= 4) {
                return 'товара';
            }
            else {
                return 'товаров';
            }
        },

        totalProducts(): number {
            return this.$accessor.catalog.productsPagination?.countTotal;
        },

        disabledMoreBtn(): boolean {
            return (this.$accessor.catalog.productsPaginationPage === this.$accessor.catalog.productsPagination?.countPages || !this.productCount);
        },

        paginationPage(): number {
            return +this.$route.query.page || 1;
        },
    },

    mounted() {
        if (this.$accessor.isTablet) {
            window.addEventListener('scroll', this.checkScrollPosition);
        }
    },

    beforeDestroy() {
        window.removeEventListener('scroll', this.checkScrollPosition);
    },

    methods: {
        checkScrollPosition() {
            this.showSort = window.pageYOffset > 100;
        },

        openFilters(event: { target: { value: any; }; }) {
            this.$emit('open-filters', event.target.value);
        },

        sortByOrder(): void {
            this.$accessor.catalog.setOrderAction(this.selectedSortOption.value);
            this.$accessor.catalog.getProductsAction();
        },

        showMore(): void {
            //@ts-ignore
            this.$router.replace({ query: { ...window.$nuxt.$route.query, page: this.paginationPage + 1 } }).catch(() => {});
            this.$accessor.catalog.getMoreProductsAction();
        },
    },
});
</script>

<style lang="scss" scoped>
.catalog-content {
    position: relative;

    width: 100%;

    &__wrapper {
        position: relative;

        display: flex;
        flex-direction: column;

        width: 100%;
        max-width: 880px;
        height: fit-content;
        padding: 53px 0 100px 60px;
    }

    .common-breadcrumbs {
        margin-bottom: 24px;
    }

    &__title-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 30px;

        h2 {
            font-size: 38px;
            line-height: 1.3;
            font-weight: 700;
            color: $black-second;
        }

        span {
            font-size: 16px;
            font-weight: 700;
            color: $light-gray-eighth;
        }
    }

    &__sort {
        display: flex;

        margin-bottom: 18px;

        &-button {
            position: relative;

            display: none;
            align-items: center;

            width: 184px;
            height: 50px;
            padding: 0 16px;

            font-size: 14px;
            line-height: 1.3;
            font-weight: 600;
            color: $black-second;

            background: $white;
            border-radius: 12px;

            cursor: pointer;

            &::after {
                content: '';
                position: absolute;
                top: 18px;
                right: 18px;

                width: 18px;
                height: 18px;

                background: url('@/assets/images/icon/filter-green-icon.svg') no-repeat;
            }
        }
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;

        width: 100%;

        .card {
            margin-bottom: 14px;
        }
    }

    &__button-wrapper {
        display: flex;
    }

    &__button-more {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 50px;
        padding: 0;

        font-size: 16px;
        font-weight: 700;
        color: $dark-gray-second;

        background: $white;
        border-radius: 12px;

        cursor: pointer;

        transition: color $common-transition-duration;

        &:hover {
            color: $green;
        }
    }

    .common-scroll-up {
        position: absolute;
        bottom: 100px;
        right: -60px;
    }

    @include razr1399 {
        &__wrapper {
            padding: 53px 0 0 30px;
        }
    }

    @include razr1320 {
        .common-scroll-up {
            right: -25px;
        }
    }

    @include razr1259 {
        position: relative;

        display: flex;
        flex-direction: column;
        align-items: center;

        max-width: 100%;
        margin: 0;

        &__wrapper {
            max-width: 768px;
            margin-right: 0;
            padding: 36px 0 50px;
        }

        &__title-wrapper {
            margin-bottom: 24px;

            h2 {
                font-size: 31px;
            }
        }

        &__sort {
            justify-content: space-between;

            margin-bottom: 34px;

            transition: 0.1s all ease-out;

            &-button {
                display: flex;
            }
        }

        &__sort-tablet-container {
            position: fixed;
            top: 0;
            left: 0;
            z-index: $z-sort;

            display: flex;
            justify-content: space-between;

            width: 100%;

            background-color: $white;
            box-shadow: 4px 4px 44px rgba(0, 0, 0, 0.08);

            transform: translate3d(0, -100%, 0);
            transition: 0.1s all ease-out;

            &__visible {

                transform: translate3d(0, 0, 0);
            }
        }

        .common-scroll-up {
            position: sticky;
            left: 100%;
            bottom: 80px;
            z-index: $z-scroll;

            margin-top: -50px;
            margin-left: -50px;

            transform: translateX(140%);

        }
    }

    @include razr1023 {
        justify-content: center;

        &__wrapper {
            max-width: 720px;
            margin-right: 0;
            padding: 36px 0 50px;
        }

        &__button-more {
            max-width: 658px;
        }

        .common-scroll-up {
            position: absolute;
            top: auto;
            bottom: 50px;
            right: 25px;

            transform: none;

            &.common-scroll-top__bottom {
                bottom: 5px;
            }
        }
    }

    @include razr767 {
        width: 100%;

        &__wrapper {
            padding: 0 0 24px;
        }

        .common-breadcrumbs {
            display: none;
        }

        &__title-wrapper {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            order: 2;

            margin-bottom: 24px;
            padding: 0 8px;

            h2 {
                margin-bottom: 12px;

                font-size: 21px;
            }
        }

        &__sort {
            position: sticky;
            top: 62px;
            z-index: $z-sort;

            order: 1;

            margin-bottom: 24px;

            &-button {
                width: 50%;
                height: 50px;
                padding: 0 20px;

                border-bottom: 1px solid $light-gray-ninth;
                border-radius: 0;

                &::after {
                    top: 15px;
                    right: 20px;
                }
            }
        }

        .common-select {
            position: relative;

            width: 50%;
            height: 50px;

            border-bottom: 1px solid $light-gray-ninth;

            &:before {
                @include bef_aft;
                left: 0;
                z-index: $z-1;

                width: 2px;
                height: 100%;
                background: $light-gray-ninth;
            }

            &::v-deep {
                .multiselect {
                    height: 49px;

                    border-radius: 0;
                }
            }
        }

        &__cards {
            justify-content: space-between;
            order: 3;

            padding: 0 8px;
        }

        &__button-wrapper {
            order: 4;

            padding: 0 8px;
        }

        .common-scroll-up {
            display: none;
        }
    }
}
</style>
