<template>
    <div class="empty-catalog-list">
        <img
            src="@/assets/images/catalog/empty-image.jpg"
            width="122"
            height="122"
            alt="Photo products"
        />
        <p>По вашему запросу ничего не найдено.</p>
        <nuxt-link to="/catalog">
            Перейти в каталог
        </nuxt-link>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
    name: 'EmptyCatalogList',
});
</script>

<style lang="scss" scoped>
.empty-catalog-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 880px;
    min-height: 462px;

    background: $white;
    border-radius: 18px;

    img {
        margin-bottom: 34px;
    }

    p {
        font-size: 24px;
        line-height: 150%;
        font-weight: 700;
        text-align: center;
    }

    a {
        font-size: 24px;
        line-height: 150%;
        font-weight: 700;
        text-align: center;
        color: $green;

        transition: opacity $common-transition-duration;

        @include hover_device {
            &:hover {
                opacity: 0.7;
            }
        }
    }
}

@include razr1259 {
    .empty-catalog-list {
        max-width: 90vw;
        min-height: 410px;

        p {
            font-size: 18px;
        }

        a {
            font-size: 18px;
        }
    }
}

@include razr767 {
    .empty-catalog-list {
        order: 3;

        width: auto;
        min-height: 302px;
        margin: 0 8px;

        img {
            margin-bottom: 24px;
        }

        p {
            font-size: 16px;
        }

        a {
            font-size: 16px;
        }
    }
}
</style>
