<template>
    <div
        class="select-catalog"
        :class="{'open' : showDropdownList === true}"
        @click="toggle"
    >
        <div class="select-catalog__field">
            {{ selectField }}
        </div>
        <transition name="slide">
            <ul
                v-show="showDropdownList"
                class="select-catalog__dropdown"
            >
                <li
                    v-for="(item, index) in options"
                    :key="index"
                    @click="select(item)"
                >
                    {{ item }}
                </li>
            </ul>
        </transition>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
    name: 'SelectCatalog',

    data() {
        return {
            showDropdownList: false,
            selectField: 'По популярности',
            options: ['По популярности', 'Сначала недорогие', 'Сначала дорогие', 'По новизне'],
        };
    },

    methods: {
        toggle() {
            this.showDropdownList = !this.showDropdownList;
        },
        select(option: string) {
            this.selectField = option;
        },
    },
});
</script>

<style lang="scss" scoped>
.select-catalog {
    position: relative;
    z-index: $z-content;

    display: flex;
    align-items: center;

    width: 264px;
    height: 50px;

    background-color: $white;
    border-radius: 12px;

    cursor: pointer;

    &::after {
        content: '';
        position: absolute;
        top: 22px;
        right: 22px;

        width: 14px;
        height: 9px;

        background: url('@/assets/images/icon/arrow-down-gray-icon.svg') no-repeat;

        transform: rotate(180deg);
        transition: transform $common-transition-duration;
    }

    &__field {
        padding-left: 16px;

        font-size: 16px;
        line-height: 130%;
        font-weight: 600;
        color: $black-second;
    }

    &__dropdown {
        position: absolute;
        top: 100%;

        width: 100%;
        padding: 0 7px 10px;

        background-color: $white;
        border-radius: 0 0 12px 12px;

        transform-origin: top;
        transition: transform $common-transition-duration ease-in-out;

        & li {
            width: 100%;
            padding: 14px 9px;

            font-size: 16px;
            line-height: 130%;
            color: $filter-font-gray;

            cursor: pointer;

            &:hover {
                color: $green;

                background-color: $input-bg-color;
                border-radius: 12px;
            }
        }
    }
}

.open.select-catalog {
    border-radius: 12px 12px 0 0;

    &::after {
        transform: rotate(0);
        transition: transform $common-transition-duration;
    }
}

@include razr1259 {
    .select-catalog {
        width: 202px;
        height: 50px;

        &::after {
            width: 8px;
            height: 6px;

            background-size: contain;
        }

        &__field {
            font-size: 14px;
        }

        &__dropdown {
            & li {
                font-size: 14px;
            }
        }
    }
}

@include razr767 {
    .select-catalog {
        width: 50%;
        height: 50px;
        padding: 0 20px;

        border-width: 0 0 1px 1px;
        border-style: solid;
        border-color: $light-gray-ninth;
        border-radius: 0;

        &::after {
            width: 8px;
            height: 6px;

            background-size: contain;
        }

        &__field {
            padding: 0;

            font-size: 14px;
        }

        &__dropdown {
            left: -1px;

            width: 101%;
            padding: 0;

            border-width: 0 1px 1px 1px;
            border-style: solid;
            border-color: $light-gray-ninth;

            li {
                display: flex;
                align-items: center;

                height: 50px;
                padding: 0 20px;

                font-weight: 600;
                color: $black-second;

                border-top: 1px solid $light-gray-ninth;

                &:hover {
                    color: $black-second;

                    background-color: $white;
                    border-radius: 0;
                }
            }
        }
    }

    .open.select-catalog {
        border-radius: 0;
    }
}

.slide-enter, .slide-leave-to {
    transform: scaleY(0);
}
</style>
