<template>
    <div class="registration">
        <registration-head />
        <template v-if="activeRegistrationLayout">
            <registration-steps :step="registrationsStep" />
            <registration-company-form
                v-if="activeRegistrationCompanyForm"
                @change-registration-data="changeRegistrationData"
                @next="goToNextStep"
            />
            <registration-personal-form
                v-else-if="activeRegistrationPersonalData"
                @next="validateRegistration"
            />
            <div
                v-if="activeRegistrationConfirmForm"
                class="registration-confirm-phone"
            >
                <common-phone-confirmation
                    :error="confirmPhoneError"
                    :number="registrationData.user.phoneNumber"
                    @confirm="confirmPhone"
                    @resend-code="validateRegistration"
                    @cancel="goToNextStep(2)"
                />
            </div>
        </template>
        <template v-else>
            <registration-success v-if="registrationSuccess" />
            <registration-error
                v-else
                @repeat="repeatRegistration"
            />
        </template>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';

import RegistrationHead from '@/components/pages/registration/RegistrationHead.vue';
import RegistrationSteps from '@/components/pages/registration/RegistrationSteps.vue';
import RegistrationCompanyForm from '@/components/pages/registration/RegistrationCompanyForm.vue';
import RegistrationPersonalForm from '@/components/pages/registration/RegistrationPersonalForm.vue';
import RegistrationSuccess from '@/components/pages/registration/RegistrationSuccess.vue';
import RegistrationError from '@/components/pages/registration/RegistrationError.vue';
import CommonPhoneConfirmation from '~/src/components/common/CommonPhoneConfirmation.vue';

import { RValidateRegistration, RSendRegistrationConfirmPhone, RRegistrationConfirmPhone } from '~/src/utils/api/requests/auth';
import { IObjectAnyProps } from '~/src/utils/interfaces';

export default Vue.extend({
    name: 'Registration',

    components: {
        RegistrationHead,
        RegistrationSteps,
        RegistrationCompanyForm,
        RegistrationPersonalForm,
        RegistrationSuccess,
        RegistrationError,
        CommonPhoneConfirmation,
    },

    data: () => ({
        activeRegistrationLayout: true,
        registrationsStep: 1,
        registrationData: {} as IObjectAnyProps,
        confirmPhoneError: '',
        registrationSuccess: false,
    }),

    computed: {
        activeRegistrationCompanyForm() {
            return this.registrationsStep === 1;
        },

        activeRegistrationPersonalData() {
            return this.registrationsStep === 2;
        },

        activeRegistrationConfirmForm() {
            return this.registrationsStep === 3;
        },
    },

    methods: {
        goToNextStep(num: number) {
            this.registrationsStep = num;
            this.$scrollTo('.registration-head');
        },

        changeRegistrationData(data: object) {
            this.registrationData = {
                ...this.registrationData,
                ...data,
            };
        },

        async validateRegistration(data: object, callBack?: Function) {
            this.changeRegistrationData(data);
            const response = await this.$request(RValidateRegistration(this.registrationData));

            if (callBack) callBack(response);

            if (!response.errors) {
                const confirmResponse = await this.$request(RSendRegistrationConfirmPhone({
                    phoneNumber: this.registrationData.user?.phoneNumber,
                }));
                if (!confirmResponse.errors) {
                    this.goToNextStep(3);
                }
            }
        },

        async confirmPhone(code: string, callBack: Function): Promise<void> {
            this.registrationData.phoneCode = code;
            const response = await this.$request(RRegistrationConfirmPhone(this.registrationData));
            this.$accessor.auth.loginAction(response);
            await this.$accessor.cart.mergeCart();

            callBack();
            if (response.errors) {
                this.confirmPhoneError = response.errors[0].message;
            }
            else {
                this.$accessor.auth.loginAction(response);
                await this.$accessor.cart.mergeCart();
                await this.$accessor.auth.fetchUser();
                this.activeRegistrationLayout = false;
                this.registrationSuccess = true;
            }
        },

        repeatRegistration() {
            this.activeRegistrationLayout = true;
            this.registrationsStep = 1;
        },
    },
});
</script>

<style scoped lang="scss">
.registration {
    width: 980px;
    margin-top: 45px;
    margin-bottom: 40px;
    padding-bottom: 90px;

    background: white;
    border-radius: 18px;
    box-shadow: 0 9px 18px rgba(18, 19, 19, 0.22);

    .registration-confirm-phone {
        .common-phone-confirmation {
            margin-top: 70px;
        }

        @include mobile {
            .common-phone-confirmation {
                margin-top: 30px;
            }
        }
    }

    @include tablet_landscape {
        width: 880px;
        padding-bottom: 75px;
    }

    @include tablet {
        width: 725px;
        min-height: 940px;
        margin-top: 15px;

        &__head {
            padding: 27px 22px;
        }
    };

    @include mobile {
        width: 100%;
        max-width: 400px;
        min-height: initial;
        margin-top: 0;
        margin-bottom: 0;

        border-radius: 0;
        box-shadow: none;
    }
}
</style>
