<template>
    <div class="disposer-reports">
        <eventNav />
        <div class="disposer-app-title">
            Reports
        </div>
        <div class="row">
            <app-button
                :class="{ active: activeSettings === 1}"
                @click="openSettings(1)"
            >
                Event
            </app-button>
            <app-button
                :class="{ active: activeSettings === 2}"
                @click="openSettings(2)"
            >
                Review
            </app-button>
            <app-button
                :class="{ active: activeSettings === 3}"
                @click="openSettings(3)"
            >
                Document
            </app-button>
            <app-button
                :class="{ active: activeSettings === 4}"
                @click="openSettings(4)"
            >
                Sticker
            </app-button>
            <app-button
                :class="{ active: activeSettings === 5}"
                @click="openSettings(5)"
            >
                Clicks
            </app-button>
        </div>
        <div
            v-if="activeSettings"
            class="settings"
        >
            <template v-if="activeSettings===1">
                <p>!To download the full report, click on the "Get report" button.</p>
                <p>!To upload comments one or more users, select the participants and click on the "Get report" button.</p>
                <label
                    v-for="setting in settings"
                    :key="setting.id"
                    class="disposer-app-checkbox"
                >
                    <input
                        v-model="setting.status"
                        type="checkbox"
                    />
                    <div class="box"></div>
                    {{ setting.name }}
                </label>
            </template>

            <template v-else-if="activeSettings!==5">
                <label
                    v-for="setting in settings"
                    :key="setting.id"
                    class="disposer-app-checkbox"
                >
                    <input
                        v-model="radioSetting"
                        type="radio"
                        :value="setting.id"
                        @click="checkOverlap(setting.id)"
                    />
                    <div class="box"></div>
                    {{ setting.name }}
                </label>
            </template>

            <template v-if="activeSettings===3">
                <p>Choose format</p>
                <div class="row start mt">
                    <label class="disposer-app-checkbox">
                        <input
                            v-model="docType"
                            type="radio"
                            value="pdf"
                        />
                        <div class="box"></div>
                        PDF
                    </label>
                    <label class="disposer-app-checkbox">
                        <input
                            v-model="docType"
                            type="radio"
                            value="doc"
                        />
                        <div class="box"></div>
                        DOC
                    </label>
                </div>

                <template v-if="radioSetting">
                    <p>Choose version</p>
                    <div class="row start mt">
                        <label
                            v-for="version in activeDoc.version"
                            :key="version"
                            class="disposer-app-checkbox"
                        >
                            <input
                                v-model="docVersion"
                                type="radio"
                                :value="version"
                            />
                            <div class="box"></div>
                            {{ version }}
                        </label>
                    </div>
                </template>
            </template>

            <div class="row start">
                <app-button
                    v-if="activeSettings"
                    class="get-report"
                    :class="{ disabled: getReportButtonDisabled}"
                    @click="getReport"
                >
                    Get report
                </app-button>
                <app-button
                    v-if="reportLink"
                    tag="a"
                    :href="reportLink"
                    target="_blank"
                    class="get-report"
                >
                    Open report
                </app-button>
            </div>
        </div>
    </div>
</template>

<script>
    import eventNav from '@/components/disposer/pages/event/event-nav.vue';
    import appButton from '@/components/disposer/app/app-button';

    import { get } from '@/utils/http-helper';
    import { loadedReport } from '@/utils/disposer/notifications-text-helper';

    const GET_EVENT = '/reports/get-event';
    const GET_REVIEW = '/reports/get-review';
    const GET_DOCUMENT = '/reports/get-document';
    const GET_STICKERS = '/reports/get-sticker';
    const GET_CLICKS = '/reports/get-clicks';

    export default {
        components: {
            eventNav,
            appButton,
        },

        data: () => ({
            activeSettings: null,
            settings: null,
            reportLink: '',
            radioSetting: null,
            docType: 'pdf',
            docVersion: null,
        }),

        computed: {
            eventId() {
              return +this.$route.params.id;
            },
            participants() {
                return this.$store.getters['disposerTopics/getParticipants'];
            },
            topics() {
                return this.$store.getters['disposerTopics/getTopicsShort'];
            },
            activeDoc() {
                return this.settings.find(s => s.id === this.radioSetting);
            },

            getReportButtonDisabled() {
                if (this.activeSettings === 1) {
                    //return !this.settings?.some(s => s.status);
                    return false;
                }
                if (this.activeSettings === 2 || this.activeSettings === 3 || this.activeSettings === 4) {
                    return !this.radioSetting;
                }
                if (this.activeSettings === 5) {
                    return false;
                }
                return true;
            },
        },

        methods: {
            openSettings(num) {
                this.activeSettings = num;
                this.reportLink = null;
                if (num===1) {
                    this.getParticipants();
                } else if (num===2) {
                    this.radioSetting = null;
                    this.getTopics(3);
                } else if (num===3) {
                    this.radioSetting = null;
                    this.getTopics(5);
                } else if (num===4) {
                    this.radioSetting = null;
                    this.getTopics(6);
                }
            },
            async getParticipants() {
                await this.$store.dispatch('disposerTopics/getParticipants', { id: this.eventId, role: 6 });
                this.settings = this.participants.external;
            },
            async getTopics(type) {
                await this.$store.dispatch('disposerTopics/getTopicsShort', { id: this.eventId, type: type });
                this.settings = this.topics;
            },
            async getReport() {
                let url = '';
                let obj = {};

                switch (this.activeSettings) {
                    case 1 : {
                    url = GET_EVENT;
                    const users = [];
                    obj.event_id = this.eventId;
                    this.settings.forEach((p)=> {
                        p.status ? users.push(p.id) : null;
                    });
                    if (users.length) {
                        obj.users = users.join(',');
                    }
                    break;
                    }
                  case 2 : {
                    url = GET_REVIEW;
                    obj.topic_id = this.radioSetting;
                    break;
                  }
                  case 3 : {
                    url = GET_DOCUMENT;
                    obj.topic_id = this.radioSetting;
                    obj.format = this.docType;
                    this.docVersion ? obj.version = this.docVersion : null;
                    break;
                  }
                  case 4 : {
                    url = GET_STICKERS;
                    obj.topic_id = this.radioSetting;
                    break;
                  }
                  case 5 : {
                    url = GET_CLICKS;
                    obj.event_id = this.eventId;
                    break;
                  }
                }
                this.$awn.async(get(url, obj), response => {
                  if (response.status) {
                    this.reportLink = response.data.url;
                    this.$awn.success(loadedReport);
                  }
                });
            },
            checkOverlap(num) {
                +this.radioSetting === +num ? this.radioSetting = null : null;
            },
        },
    };
</script>

<style scoped lang="scss">
    .disposer-reports {
        .row {
            display: flex;
            justify-content: space-between;
            align-items: center;

            width: 50rem;

            .app-button.active {
                color: #000;

                background: rgba(#222d30, 0.4);
            }

            &.start {
                justify-content: flex-start;

                width: 27rem;
                .app-button {
                    margin-right: 1rem;
                }
            }
            &.mt {
                margin-top: 0.2rem;
            }
        }
        p {
            margin-top: 1rem;
        }
        .settings {
            margin-top: 2rem;
            .disposer-app-checkbox {
                margin-top: 0.5rem;
            }
            .get-report {
                margin-top: 2rem;

                &.disabled {
                    opacity: 0.3;

                    pointer-events: none;
                }
            }
        }
    }
</style>
