<template>
    <div class="check-modal">
        <div class="modal-content-header">
            <h3>
                Заказ: <span>{{ content.erpId }}</span>
            </h3>
        </div>
        <div class="check-modal__title">
            Ваш заказ успешно сформирован!
        </div>
        <p class="check-modal__description">
            В&nbsp;течение 3-х часов счет для оплаты заказа будет отправлен
            на&nbsp;ваш e-mail и&nbsp;появится в&nbsp;вашем личном кабинете.
            Внимание! Срок оплаты счета&nbsp;&mdash; 24&nbsp;часа с&nbsp;момента получения.
        </p>
        <div class="check-modal__order-info">
            <div class="check-modal__order-info-title">
                Информация о заказе
            </div>
            <ul>
                <li>
                    <p>
                        Название организации:
                    </p>
                    <p>
                        {{ content.companyName }}
                    </p>
                </li>
                <li>
                    <p>
                        Получатель:
                    </p>
                    <p>
                        {{ content.recipientName }}
                    </p>
                </li>
                <li>
                    <p>
                        Телефон:
                    </p>
                    <p>
                        {{ phone }}
                    </p>
                </li>
                <li>
                    <p>
                        Дата создания заказа:
                    </p>
                    <p>
                        {{ content.createTime }}
                    </p>
                </li>
                <li>
                    <p>
                        Сумма заказа:
                    </p>
                    <p class="check-modal__order-info-green">
                        {{ totalPrice }} ₽
                    </p>
                </li>
                <li>
                    <p>
                        Счет выставлен на почту:
                    </p>
                    <p>
                        {{ content.recipientEmail }}
                    </p>
                </li>
            </ul>
            <common-button
                class="common-button--green"
                @click="closeModal"
            >
                Продолжить
            </common-button>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import CommonButton from '@/components/common/CommonButton.vue';
import { IOrderInfo } from '~/src/utils/interfaces/cart';
import { priceFormat, validPhone } from '~/src/utils/helpers/functions';

export default Vue.extend({
    name: 'Check',

    components: {
        CommonButton,
    },

    computed: {
        content(): IOrderInfo {
            return this.$accessor.modal.MODAL_PAYLOAD;
        },

        phone(): string {
            return validPhone(this.content.recipientPhone);
        },

        totalPrice(): string {
            return priceFormat(this.content.total);
        },
    },

    methods: {
        closeModal(): void {
            this.$accessor.modal.CLOSE_MODAL_ACTION();
        },
    },
});
</script>

<style lang="scss" scoped>
.check-modal {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 560px;

    span {
        color: $green;
    }

    .modal-content-header {
        h3 {
            font-size: 16px;
        }
    }

    &__title {
        margin-top: 34px;

        font-size: 18px;
        font-weight: 700;
    }

    p {
        font-size: 14px;
        color: $modal-color-gray;
    }

    &__description {
        width: 405px;
        margin-top: 12px;

        line-height: 1.35;
        text-align: center;
    }

    &__order-info {
        width: 100%;
        margin-top: 32px;
        padding: 24px 33px;

        border-top: 1px solid $light-gray-ninth;

        &-title {
            font-weight: 700;
        }

        ul {
            margin-top: 24px;
            li {
                display: flex;
                justify-content: space-between;

                margin-bottom: 18px;
            }
            p {
                &:nth-of-type(2) {
                    font-weight: 700;
                }
            }
        }

        .check-modal__order-info-green {
            color: $green;
        }
    }

    .common-button {
        width: 255px;
        margin: 35px auto 18px;
    }

    @include tablet_landscape {
        &__title {
            margin-top: 30px;
        }

        &__order-info {
            margin-top: 21px;
        }

        .common-button {
            margin: 25px auto 15px;
        }
    }

    @include tablet {
        &__order-info {
            margin-top: 35px;
            padding: 30px 33px;

            ul {
                li {
                    margin-bottom: 23px;
                }
            }
        }
    }

    @include mobile {
        width: 95vmin;

        .modal-content {
            &-header {
                height: 60px;
                padding-top: 39px;

                border-bottom: none;
            }
        }

        &__title {
            width: 230px;
            margin: 14px auto;

            font-size: 21px;
            text-align: center;
            line-height: 1.4;
        }

        &__description {
            width: 85%;
            margin: 0 auto;
        }

        &__order-info {
            margin-top: 25px;
            padding: 23px 24px;

            ul {
                li {
                    flex-direction: column;

                    margin-bottom: 12px;

                    p {
                        margin-bottom: 7px;
                    }
                }
            }

            .common-button {
                margin: 18px auto 15px;
                width: 100%;
            }
        }
    }
}
</style>
