<template>
    <div
        class="thx-for-order"
        :class="{'thx-for-order__wide': showMoreOrders}"
    >
        <div class="modal-content-header">
            <h3>
                Уведомление
            </h3>
        </div>
        <img
            src="@/assets/images/icon/thx-cart.svg"
            alt="mail icon"
        />

        <template v-if="showThxContent">
            <div class="modal-content__title">
                Спасибо за заказ!
            </div>
            <div class="modal-content__text">
                Сделайте дальнейшие покупки на нашем сайте проще и выгоднее - заключите с нами договор (ссылка) о сотрудничестве.
            </div>
        </template>

        <template v-if="showCanChange">
            <div class="modal-content__title">
                Может измениться количество доступных товаров
            </div>
        </template>

        <template v-if="showMoreOrders">
            <div class="modal-content__title">
                Планируете покупать у нас регулярно?
            </div>
            <div class="modal-content__text">
                Чтобы сделать сотрудничество с&nbsp;нами выгоднее и&nbsp;удобнее, заполните договор (ссылка). Мы&nbsp;можем отправить оригинал договора на&nbsp;вашу почту, доставить его курьером или передать с&nbsp;первым заказом.
            </div>
        </template>

        <template v-if="showAlcoholDescription">
            <div class="modal-content__title">
                Ваш заказ содержит алкогольную продукцию!
            </div>
            <div class="modal-content__text">
                В&nbsp;ближайшее время с&nbsp;Вами свяжется менеджер для оформления заказа.
            </div>
        </template>

        <common-button
            class="common-button--green"
            @click="closePopup"
        >
            Понятно
        </common-button>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import CommonButton from '@/components/common/CommonButton.vue';

export default Vue.extend({
    name: 'ThxForOrder',

    components: {
        CommonButton,
    },

    computed: {
        contentCode(): number {
            return +this.$accessor.modal.MODAL_PAYLOAD.number;
        },

        showThxContent(): boolean {
            return this.contentCode === 1;
        },

        showCanChange(): boolean {
            return this.contentCode === 2;
        },

        showMoreOrders(): boolean {
            return this.contentCode === 3;
        },

        showAlcoholDescription(): boolean {
            return this.contentCode === 4;
        },
    },

    methods: {
        closePopup() {
            this.$accessor.modal.CLOSE_MODAL_ACTION();
        },
    },
});
</script>

<style lang="scss" scoped>
.thx-for-order {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 580px;

    img {
        margin-top: 48px;
    }

    .modal-content {
        &__title {
            max-width: 330px;
            margin-top: 29px;

            text-align: center;
            line-height: 1.5;
        }

        &__text {
            margin-top: 15px;
        }
    }

    .common-button {
        width: 175px;
        margin: 30px auto 60px;
    }

    &__wide {
        .modal-content {
            &__title {
                max-width: 450px;
            }

            &__text {
                width: 470px;
            }
        }
    }

    @include mobile {
        width: 95vmin;

        .modal-content {
            &__text {
                padding: 0 10px;

                font-size: 14px;
            }
        }

        &__wide {
            .modal-content {
                &__text {
                    width: 97%;
                }
            }
        }
    }
}
</style>
