<template>
    <div class="change-phone modal-content--sm">
        <h2 class="modal-content-header">
            Смена номера телефона
        </h2>
        <change-phone-step1
            v-if="activeFirstStep"
            :loading="loadPhoneCode"
            @next="sendPhoneCode"
        />
        <common-phone-confirmation
            v-if="activeSecondStep"
            :error="confirmPhoneError"
            :number="userPhoneNumber"
            @confirm="confirmPhone"
            @resend-code="sendPhoneCode"
            @cancel="closePopup"
        />
        <change-phone-step3
            v-if="activeThirdStep"
            :loading="loadPhoneCode"
            :request-error="phoneError.phoneNumber"
            @next="sendPhone"
            @cancel="closePopup"
        />
        <common-phone-confirmation
            v-if="activeForthStep"
            :error="confirmPhoneError"
            :number="userPhoneNumber"
            @confirm="confirmNewPhone"
            @resend-code="sendPhoneCode"
            @cancel="closePopup"
        />
        <change-phone-step5 v-if="activeFifthStep" />
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import ChangePhoneStep1 from '@/components/layouts/modal/parts/change-phone/parts/ChangePhoneStep1.vue';
import CommonPhoneConfirmation from '@/components/common/CommonPhoneConfirmation.vue';
import ChangePhoneStep3 from '@/components/layouts/modal/parts/change-phone/parts/ChangePhoneStep3.vue';
import ChangePhoneStep5 from '@/components/layouts/modal/parts/change-phone/parts/ChangePhoneStep5.vue';

import { RSendConfirmCode, RConfirmCode, RSendPhone } from '~/src/utils/api/requests/user';
import { createResponseErrorsObject } from '~/src/utils/helpers/response-errors';
import { IUser } from '~/src/utils/interfaces/auth';
import { validPhone } from '~/src/utils/helpers/functions';

export default Vue.extend({
    name: 'ChangePhone',

    components: {
        ChangePhoneStep1,
        CommonPhoneConfirmation,
        ChangePhoneStep3,
        ChangePhoneStep5,
    },

    data: () => ({
        step: 1,

        loadPhoneCode: false,

        confirmPhoneError: '',
        userPhoneNumber: '',

        phoneError: {},
    }),

    computed: {
        activeFirstStep(): boolean {
            return this.step === 1;
        },

        activeSecondStep(): boolean {
            return this.step === 2;
        },

        user(): IUser {
            return this.$accessor.auth.user;
        },

        activeThirdStep(): boolean {
            return this.step === 3;
        },

        activeForthStep(): boolean {
            return this.step === 4;
        },

        activeFifthStep(): boolean {
            return this.step === 5;
        },
    },

    mounted() {
        this.setPhoneNumber();
    },

    methods: {
        async sendPhoneCode(): Promise<void> {
            this.loadPhoneCode = true;
            const response = await this.$request(RSendConfirmCode());
            if (response.RESPONSE_STATUS === 200) {
                this.step = 2;
            }
            this.loadPhoneCode = false;
        },

        async confirmPhone(code: string, callBack: Function): Promise<void> {
            this.confirmPhoneError = '';
            const response = await this.$request(RConfirmCode({
                obj: {
                    phoneCode: code,
                },
            }));

            if (response.RESPONSE_STATUS === 200) {
                this.step = 3;
            }
            else {
                this.confirmPhoneError = response.errors[0].message;
            }
            callBack();
        },

        async sendPhone(phone: string, callBack: Function): Promise<void> {
            const response = await this.$request(RSendPhone({
                obj: {
                    phoneNumber: phone,
                },
            }));

            if (response.RESPONSE_STATUS === 200) {
                this.userPhoneNumber = validPhone(phone);
                this.step = 4;
            }
            else {
                this.phoneError = createResponseErrorsObject(response.errors);
            }
            callBack();
        },

        async confirmNewPhone(code: string, callBack: Function): Promise<void> {
            this.confirmPhoneError = '';
            const response = await this.$request(RConfirmCode({
                obj: {
                    phoneCode: code,
                },
            }));

            if (response.RESPONSE_STATUS === 200) {
                this.step = 5;
                await this.$accessor.auth.fetchUser();
                this.setPhoneNumber();
            }
            else {
                this.confirmPhoneError = response.errors[0].message;
            }
            callBack();
        },

        setPhoneNumber(): void {
            this.userPhoneNumber = validPhone(this.user.phoneNumber);
        },

        closePopup(): void {
            this.$accessor.modal.CLOSE_MODAL_ACTION();
        },
    },
});
</script>

<style lang="scss" scoped>
.change-phone {
    display: flex;
    flex-direction: column;

    .common-phone-confirmation {
        padding: 33px 36px 46px;
    }

    @include razr1259 {
        .common-phone-confirmation {
            padding: 24px 18px 32px;
        }
    }

    @include razr767 {
        .common-phone-confirmation {
            padding: 24px 13px 27px;
        }
    }
}
</style>
