<template>
    <div class="alert-change-data">
        <div
            v-if="currentStatus === 'STEP_FIRST'"
            class="alert-change-data__content"
        >
            <p>Вы уверены, что хотите внести изменеия?</p>
            <button
                class="alert-change-data__content-button"
                type="button"
            >
                Отменить
            </button>
            <common-button class="common-button--green">
                Сохранить
            </common-button>
        </div>
        <p
            v-if="currentStatus === 'STEP_SUCCESS'"
            class="alert-change-data__success"
        >
            Изменения успешно сохранены
        </p>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import CommonButton from '@/components/common/CommonButton.vue';

export default Vue.extend({
    name: 'AlertChangeData',

    components: {
        CommonButton,
    },

    data() {
        return {
            currentStatus: 'STEP_FIRST',
        };
    },
});
</script>

<style lang="scss" scoped>
.alert-change-data {
    position: fixed;
    bottom: 56px;
    z-index: $z-10;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 820px;
    height: 92px;

    background-color: $white;
    border-width: 1px 1px 1px 4px;
    border-style: solid;
    border-color: $green;
    border-radius: 0 13px 13px 0;

    &__success {
        position: relative;

        padding-left: 88px;

        font-size: 16px;
        line-height: 22px;
        font-weight: 600;

        &::before {
            content: '';
            position: absolute;
            top: -7px;
            left: 32px;

            width: 34px;
            height: 34px;

            background: url('@/assets/images/icon/check-in-circle-icon.svg') center /contain no-repeat;
        }
    }

    &__content {
        display: flex;
        align-items: center;

        width: 100%;
        padding: 0 42px;

        p {
            font-size: 16px;
            line-height: 22px;
            font-weight: 600;
        }

        &-button {
            margin-right: 42px;
            margin-left: auto;

            font-size: 16px;
            line-height: 20px;
            font-weight: 700;
            color: $light-gray-second;

            cursor: pointer;
        }

        .common-button--green {
            width: 145px;
        }
    }
}

@include razr1259 {
    .alert-change-data {
        max-width: 536px;
        height: 78px;

        &__success {
            padding-left: 60px;

            font-size: 14px;

            &::before {
                top: -2px;
                left: 20px;

                width: 24px;
                height: 24px;
            }
        }

        &__content {
            padding: 0 20px;

            p {
                font-size: 14px;
            }

            &-button {
                margin-right: 16px;

                font-size: 14px;
            }

            .common-button--green {
                width: 113px;

                font-size: 14px;
                line-height: 20px;
            }
        }
    }
}

@include razr767 {
    .alert-change-data {
        bottom: 0;

        width: 100%;
        max-width: 100%;
        height: 110px;

        border-width: 1px;
        border-radius: 12px 12px 0 0;

        &__success {
            padding-left: 56px;

            font-size: 12px;

            &::before {
                top: -7px;
                left: 0;

                width: 34px;
                height: 34px;
            }
        }

        &__content {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            width: 100%;
            padding: 0;

            p {
                width: 100%;
                margin-bottom: 8px;

                text-align: center;
            }

            &-button {
                margin-right: 24px;
                margin-left: 0;
            }

            .common-button--green {
                width: 145px;
                height: 40px;
            }
        }
    }
}
</style>
