<template>
    <div class="change-data">
        <transition
            name="fade"
            mode="out-in"
        >
            <div
                v-if="!success"
                class="change-data__content"
            >
                <p>Вы уверены, что хотите внести изменения?</p>
                <button
                    class="change-data__content-button"
                    @click="cancel"
                >
                    Отменить
                </button>
                <common-button
                    class="common-button--green"
                    :data-disabled="disabled"
                    @click="save"
                >
                    Сохранить
                </common-button>
            </div>
            <p
                v-else
                class="change-data__success"
            >
                Изменения успешно сохранены
            </p>
        </transition>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import CommonButton from '@/components/common/CommonButton.vue';

export default Vue.extend({
    name: 'ChangeData',

    components: {
        CommonButton,
    },

    props: {
        success: {
            type: Boolean,
            default: false,
        },
        disabled: {
            type: Boolean,
            default: false,
        },
    },

    methods: {
        save() {
            this.$emit('save');
        },

        cancel() {
            this.$emit('cancel');
        },
    },
});
</script>

<style lang="scss" scoped>
.change-data {
    position: fixed;
    bottom: 56px;
    left: calc(50% + 190px);
    z-index: $z-10;

    display: flex;
    align-items: center;

    width: 820px;
    height: 92px;

    transform: translateX(-50%);

    background: white;

    border-width: 1px 1px 1px 4px;
    border-style: solid;
    border-color: $green;
    border-radius: 0 13px 13px 0;

    &__success {
        position: relative;

        padding-left: 88px;

        font-size: 16px;
        line-height: 22px;
        font-weight: 600;

        &::before {
            content: '';
            position: absolute;
            top: -7px;
            left: 32px;

            width: 34px;
            height: 34px;

            background: url('@/assets/images/icon/check-in-circle-icon.svg') center /contain no-repeat;
        }
    }

    &__content {
        display: flex;
        align-items: center;

        width: 100%;
        padding: 0 42px;

        p {
            font-size: 16px;
            line-height: 1.4;
            font-weight: 600;
        }

        &-button {
            margin-right: 42px;
            margin-left: auto;

            font-size: 16px;
            line-height: 1.3;
            font-weight: 700;
            color: $light-gray-second;

            cursor: pointer;
        }

        .common-button--green {
            width: 145px;
        }
    }

    @include razr1259 {
        left: 63%;

        width: 56%;
        height: 72px;
        &__success {
            padding-left: 60px;

            font-size: 14px;

            &::before {
                top: -2px;
                left: 20px;

                width: 24px;
                height: 24px;
            }
        }

        &__content {
            padding: 0 20px;

            p {
                font-size: 14px;
            }

            &-button {
                margin-right: 16px;

                font-size: 14px;
            }

            .common-button--green {
                width: 113px;

                font-size: 14px;
                line-height: 1.4;
            }
        }
    }

    @include tablet {
        left: calc(50% + 105px);

        width: 536px;
        height: 82px;
    }

    @include razr767 {
        left: 50%;

        width: 95%;
        height: 90px;

        &__success {
            padding-left: 56px;

            font-size: 12px;

            &::before {
                top: -7px;
                left: 0;

                width: 34px;
                height: 34px;
            }
        }

        &__content {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            width: 100%;
            padding: 0;

            p {
                width: 100%;
                margin-bottom: 8px;

                text-align: center;
            }

            &-button {
                margin-right: 24px;
                margin-left: 0;
            }

            .common-button--green {
                width: 145px;
                height: 40px;
            }
        }
    }
}
</style>
