<template>
    <section class="contract-templates">
        <h2 class="common-section-title">
            Шаблоны договоров
        </h2>
        <div class="contract-templates__hidden-scroll">
            <div class="contract-templates__cards">
                <a
                    v-for="item in contracts"
                    :key="item.id"
                    class="contract-templates__card"
                    :href="item.file"
                    download
                >
                    <div class="contract-templates__card-top">
                        <img
                            v-if="item.type === 'N'"
                            src="@/assets/images/icon/purple-folder-icon.svg"
                            width="44"
                            height="60"
                            alt="Icon Document"
                        />
                        <img
                            v-else-if="item.type === 'Y'"
                            src="@/assets/images/icon/blue-folder-icon.svg"
                            width="44"
                            height="60"
                            alt="Icon Document"
                        />
                        <img
                            v-else
                            src="@/assets/images/icon/yellow-folder-icon.svg"
                            width="44"
                            height="60"
                            alt="Icon Document"
                        />
                        <p>Стандартный договор</p>
                    </div>
                    <div class="contract-templates__card-bottom">
                        <p class="contract-templates__card-bottom__file-size">
                            Файл: <span>{{ item.size }}</span>
                        </p>
                        <a
                            class="contract-templates__card-bottom__download-btn"
                        ></a>
                    </div>
                </a>
            </div>
        </div>
    </section>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
    name: 'ContractTemplates',

    props: {
        contracts: {
            type: Array,
            default: null,
        },
    },
});
</script>

<style lang="scss" scoped>
.contract-templates {
    width: 100%;
    padding-bottom: 69px;
}

.contract-templates__cards {
    display: flex;
    justify-content: space-between;

    width: 100%;
    padding-top: 24px;
}

.contract-templates__card {
    width: 252px;

    border: 1px solid $border-color-gray;
    border-radius: 12px;

    text-decoration: none;
    font-weight: 400;

    transition: background $common-transition-duration;

    @include hover_device {
        &:hover {
            background: $light-gray-seven;
        }
    }

    &-top {
        min-height: 160px;
        padding: 25px 16px 16px;

        border-bottom: 1px solid $border-color-gray;

        img {
            margin-bottom: 22px;
        }

        p {
            font-size: 14px;
            line-height: 17px;
            font-weight: 600;

            color: $dark-gray;
        }

        span {
            font-size: 14px;
            line-height: 17px;
            color: $light-gray;
        }
    }

    &-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 16px;

        &__file-size {
            font-size: 14px;
            line-height: 17px;
            font-weight: 600;
            color: $light-gray;

            span {
                font-weight: 400;
                color: $dark-gray;
            }
        }

        &__download-btn {
            display: block;

            width: 20px;
            height: 20px;

            background: url('@/assets/images/icon/download-circle-icon.svg') center no-repeat;

            cursor: pointer;
        }
    }
}

@include razr1259 {
    .contract-templates__card {
        width: 172px;

        &-top {
            min-height: 164px;
            padding: 15px 12px;

            img {
                margin-bottom: 16px;
            }

            p {
                font-size: 12px;
                line-height: 15px;
            }

            span {
                font-size: 12px;
                line-height: 15px;
            }
        }

        &-bottom {
            padding: 16px 12px;

            &__file-size {
                font-size: 12px;
                line-height: 15px;
            }
        }
    }
}

@include razr767 {
    .contract-templates {
        padding-bottom: 42px;

        .common-section-title {
            width: 90%;
        }

        &__hidden-scroll {
            height: 215px;
            margin-top: 24px;
            overflow: hidden;
        }

        &__cards {
            height: 110%;
            padding-top: 0;
            overflow-x: auto;
        }
    }

    .contract-templates__card {
        min-width: 204px;
        height: 215px;
        margin-right: 4px;

        &-top {
            min-height: 160px;
            padding: 25px 16px 16px;

            img {
                margin-bottom: 24px;
            }
        }

        &-bottom {
            padding: 16px 20px;
        }
    }
}
</style>
