<template>
    <div class="drop-zone">
        <form
            class="drop-zone__container"
            :class="{'drop-zone-over' : dragging }"
            @dragenter.prevent="dragging = true"
            @dragleave.prevent="dragging = false"
            @drag="onChange"
        >
            <div
                v-show="isInitial"
                class="drop-zone__info drop-zone__info--default"
            >
                <img
                    src="@/assets/images/icon/drag-folder-icon.svg"
                    width="76"
                    height="60"
                    alt="Folder Icon"
                />
                <p class="drop-zone__info-text">
                    Перетащите файл сюда <br />
                    <span>или выберите файл (<b>PDF до 50 мб</b>)</span>
                </p>
                <p class="drop-zone__info-text-mobile">
                    Выберите файл (<b>PDF до 50 мб</b>)
                </p>
            </div>
            <div
                v-show="isLoading"
                class="drop-zone__info"
            >
                <div class="drop-zone__info-loader">
                    <svg
                        class="circular"
                        viewBox="25 25 50 50"
                    >
                        <circle
                            class="path"
                            cx="50"
                            cy="50"
                            r="20"
                            fill="none"
                            stroke-width="3"
                        />
                    </svg>
                    <span>45%</span>
                </div>
                <p class="drop-zone__info-text">
                    Файл загружается
                </p>
            </div>
            <div
                v-show="isFailed"
                class="drop-zone__info drop-zone__info--error"
            >
                <img
                    src="@/assets/images/icon/error-icon.svg"
                    width="70"
                    height="70"
                    alt="Folder Icon"
                />
                <p class="drop-zone__info-text">
                    {{ textError }}
                </p>
                <a
                    class="drop-zone__info-btn"
                    href=""
                    @click.prevent="toTryAgain"
                >Попробовать еще раз</a>
            </div>
            <div
                v-show="isSuccess"
                class="drop-zone__info drop-zone__info--success"
            >
                <img
                    src="@/assets/images/icon/success-upload-icon.svg"
                    width="70"
                    height="70"
                    alt="Folder Icon"
                />
                <p class="drop-zone__info-text">
                    Файл успешно загружен
                </p>
            </div>
            <input
                class="drop-zone__input-upload"
                type="file"
                @change="onChange"
            />
        </form>

        <div
            v-if="!$accessor.isMobile"
            class="drop-zone-table"
        >
            <div class="drop-zone-table__head">
                <div class="column">
                    Название
                </div>
                <div class="column">
                    Дата
                </div>
                <div class="column">
                    Менеджер
                </div>
                <div class="column">
                    Статус договора
                </div>
                <div class="column"></div>
            </div>
            <div class="drop-zone-table__body">
                <div
                    v-for="item in contractsUploadList"
                    :key="item.id"
                    class="drop-zone-table__row"
                >
                    <div class="column column--first">
                        {{ item.name }}
                    </div>
                    <div class="column column--second">
                        -
                    </div>
                    <div class="column column--third">
                        -
                    </div>
                    <div class="column column--fourth">
                        <span
                            v-if="item.status === 'Р'"
                            class="status status--under-review"
                        >на рассмотрении</span>
                        <span
                            v-if="item.status === 'О'"
                            class="status status--error"
                        >ошибка</span>
                    </div>
                    <div class="column column--fifth">
                        <button
                            class="drop-zone-table__row-btn-delete"
                            type="button"
                        ></button>
                    </div>
                </div>
            </div>
        </div>
        <div
            v-if="$accessor.isMobile"
            class="drop-zone__cards"
        >
            <div
                v-for="item in contractsUploadList"
                :key="item.id"
                class="drop-zone__cards-item"
            >
                <button
                    class="drop-zone__cards-item__btn-delete"
                    type="button"
                ></button>
                <div class="drop-zone__cards-item__title">
                    <p>{{ item.name }}</p>
                </div>
                <ul class="drop-zone__cards-item__list">
                    <li class="drop-zone__cards-item__list-item">
                        <p>Статус договора</p>
                        <span
                            v-if="item.status === 'Р'"
                            class="status status--under-review"
                        >на рассмотрении</span>
                        <span
                            v-if="item.status === 'О'"
                            class="status status--error"
                        >ошибка</span>
                    </li>
                    <li class="drop-zone__cards-item__list-item">
                        <p>Дата</p>
                        <p>-</p>
                    </li>
                </ul>
                <common-button class="common-button--gray">
                    Подробнее
                </common-button>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import CommonButton from '@/components/common/CommonButton.vue';

import { IObjectAnyProps } from '~/src/utils/interfaces';

export default Vue.extend({
    name: 'DropZone',

    components: {
        CommonButton,
    },

    props: {
        contractsUploadList: {
            type: Array,
            default: () => ([]),
        },
    },

    data() {
        return {
            textError: '',
            uploadedFiles: {},
            dragging: false,
            currentStatus: 'STATUS_INITIAL',
        };
    },

    computed: {
        isInitial(): boolean {
            return this.currentStatus === 'STATUS_INITIAL';
        },
        isLoading(): boolean {
            return this.currentStatus === 'STATUS_LOADING';
        },
        isSuccess(): boolean {
            return this.currentStatus === 'STATUS_SUCCESS';
        },
        isFailed(): boolean {
            return this.currentStatus === 'STATUS_FAILED';
        },
    },

    methods: {
        onChange(e: { target: { files: any; }; dataTransfer: { files: any; }; }) {
            const files = e.target.files || e.dataTransfer.files;

            if (!files.length) {
                this.dragging = false;
                return;
            }

            this.createFile(files[0]);
        },
        createFile(file: IObjectAnyProps) {
            if (!file.type.match('pdf.*')) {
                this.currentStatus = 'STATUS_FAILED';
                this.dragging = false;
                this.textError = 'Не верный формат файла';
                return;
            }

            if (file.size > 5000000) {
                this.currentStatus = 'STATUS_FAILED';
                this.dragging = false;
                this.textError = 'Не удалось загрузить файл';
                return;
            }

            this.uploadedFiles = file;
            this.dragging = false;
            this.currentStatus = 'STATUS_SUCCESS';
        },
        toTryAgain() {
            this.uploadedFiles = {};
            this.currentStatus = 'STATUS_INITIAL';
        },
    },
});
</script>

<style lang="scss" scoped>
.drop-zone {
    display: flex;
    flex-direction: column;

    width: 100%;
    margin-bottom: 32px;
    padding-top: 24px;

    &__container {
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        min-height: 200px;
        margin-bottom: 32px;

        background: $white;
        border: 2px dashed $light-gray-sixth;
        border-radius: 22px;

        &:hover {
            border-color: $green;
        }
    }

    &__input-upload {
        content: '';
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        cursor: pointer;
        opacity: 0;
    }
}

.drop-zone__info {
    z-index: $z-1;

    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 230px;

    img {
        margin-bottom: 4px;
    }

    &-text {
        font-size: 14px;
        line-height: 20px;
        text-align: center;

        b {
            font-weight: 700;
        }

        span {
            color: $green;
        }
    }

    &-btn {
        position: relative;

        margin-left: 26px;

        font-size: 14px;
        line-height: 16px;
        font-weight: 700;
        color: $green;
        text-decoration: none;

        border-bottom: 1px solid $green;

        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            left: -26px;

            width: 18px;
            height: 18px;

            background: url('@/assets/images/icon/repeat-icon.svg') center / contain no-repeat;
        }
    }

    &--default {
        img {
            margin-bottom: 14px;
        }

        .drop-zone__info-text-mobile {
            display: none;
        }
    }

    &-loader {
        position: relative;

        width: 75px;
        height: 75px;

        &::before {
            content: '';

            display: block;

            padding-top: 100%;
        }

        span {
            position: absolute;
            top: 0;
            left: 0;

            display: flex;
            justify-content: center;
            align-items: center;

            width: 100%;
            height: 100%;

            font-size: 14px;
            line-height: 20px;
            font-weight: 700;
            color: $green;
        }

        .circular {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            width: 100%;
            height: 100%;
            margin: auto;

            transform-origin: center center;

            animation: rotate 2s linear infinite;

        }

        .path {
            stroke-dasharray: 1, 200;
            stroke-dashoffset: 0;

            animation: dash 1.5s ease-in-out infinite, 6s ease-in-out infinite;

            stroke: $green;
            stroke-linecap: round;
        }
    }
}

.drop-zone-over.drop-zone__container {
    border-color: $green;

    .drop-zone__info {
        opacity: 0.44;
    }
}

.drop-zone-table {
    display: flex;
    flex-direction: column;

    width: 100%;

    &__head {
        display: flex;

        padding: 0 34px 12px;

        font-size: 14px;
        line-height: 17px;
        color: $light-gray;

        border-bottom: 1px solid $light-gray-seven;
    }

    &__body {
        display: flex;
        flex-direction: column;

        font-size: 14px;
        line-height: 17px;
    }

    &__row {
        display: flex;
        align-items: center;

        height: 64px;
        padding: 0 34px;

        border-bottom: 1px solid $light-gray-seven;
    }

    .column {
        &--first {
            font-weight: 600;
        }

        &:nth-child(1) {
            width: 39.1%;
        }

        &:nth-child(2) {
            width: 15.8%;
        }

        &:nth-child(3) {
            width: 21.4%;
        }

        &:nth-child(4) {
            width: 21%;
        }

        &:nth-child(5) {
            width: 2.7%;
        }
    }
}

.drop-zone-table__row-btn-delete {
    display: block;

    width: 20px;
    height: 20px;
    padding: 0;

    background: url('@/assets/images/icon/close-icon.svg') center no-repeat transparent;

    cursor: pointer;
}

.status {
    position: relative;

    display: inline-block;

    padding-left: 12px;

    font-weight: 600;

    &::before {
        content: '';
        position: absolute;
        top: 8px;
        left: 0;

        width: 4px;
        height: 4px;

        border-radius: 100%;
    }

    &--error {
        color: $dark-orange;

        &::before {
            background-color: $dark-orange;
        }
    }

    &--under-review {
        color: $brown;

        &::before {
            background-color: $brown;
        }
    }
}

@include razr1259 {
    .drop-zone {
        &__container {
            min-height: 180px;
        }
    }

    .drop-zone__info {
        max-width: 195px;

        &--default {
            img {
                width: 64px;
                height: 51px;
            }
        }

        &-text {
            font-size: 12px;
            line-height: 150%;
        }
    }

    .drop-zone-table {
        &__head {
            padding: 0 0 15px;

            font-size: 12px;
            line-height: 100%;
        }

        &__body {
            font-size: 12px;
            line-height: 15px;
        }

        &__row {
            height: 48px;
            padding: 0;
        }

        .column {
            &:nth-child(1) {
                width: 38.1%;
            }

            &:nth-child(4) {
                width: 22%;
            }
        }
    }

    .status {
        &::before {
            top: 6px;
        }
    }
}

@include razr767 {
    .drop-zone {
        margin-bottom: 24px;

        &__container {
            min-height: 140px;
        }
    }

    .drop-zone__info {
        &--default {
            img {
                margin-bottom: 20px;
            }

            .drop-zone__info-text {
                display: none;
            }

            .drop-zone__info-text-mobile {
                display: inline;

                font-size: 12px;
                line-height: 150%;
                color: $green;

                b {
                    font-weight: 700;
                }
            }
        }

        &-btn {
            position: relative;

            margin-left: 26px;

            font-size: 14px;
            line-height: 16px;
            font-weight: 700;
            color: $green;
            text-decoration: none;

            border-bottom: 1px solid $green;

            cursor: pointer;

            &::before {
                content: '';
                position: absolute;
                left: -26px;

                width: 18px;
                height: 18px;

                background: url('@/assets/images/icon/repeat-icon.svg') center / contain no-repeat;
            }
        }
    }

    .drop-zone__cards {
        display: flex;
        flex-direction: column;

        &-item {
            position: relative;

            width: 100%;
            margin-bottom: 12px;
            padding: 32px 20px 23px;

            border: 1px solid $border-color-gray;
            border-radius: 22px;

            &:last-child {
                margin-bottom: 0;
            }

            &__btn-delete {
                position: absolute;
                top: 0;
                right: 0;

                display: block;

                width: 65px;
                height: 65px;
                padding: 0;

                background: url('@/assets/images/icon/close-icon.svg') center no-repeat transparent;

                cursor: pointer;
            }

            &__title {
                position: relative;

                margin-bottom: 19px;
                padding-left: 18px;

                p {
                    font-size: 14px;
                    line-height: 17px;
                    font-weight: 600;
                }
            }

            &__list {
                display: flex;
                justify-content: space-between;

                width: 100%;
                margin-bottom: 18px;
                padding: 0 18px;

                &-item {
                    &:nth-child(2) {
                        min-width: 92px;
                    }

                    p {
                        font-size: 14px;
                        line-height: 17px;

                        &:nth-child(1) {
                            margin-bottom: 8px;

                            color: $light-gray;
                        }
                    }
                }
            }

            .status {
                font-size: 14px;
                line-height: 17px;

                &::before {
                    top: 8px;
                }
            }

            .common-button--gray {
                width: 100%;

                font-size: 14px;
                line-height: 17px;
            }
        }
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}
</style>
