<template>
    <section class="instruction">
        <h2 class="common-section-title">
            Как заключить договор
        </h2>
        <div class="instruction__container">
            <h2 class="instruction__title">
                Как заключить договор
            </h2>
            <div class="instruction__cards">
                <div
                    v-for="(step, index) in steps"
                    :key="index"
                    class="instruction__card"
                >
                    <img
                        :src="step.image"
                        alt="Photo step"
                    />
                    <div class="instruction__card-content">
                        <div class="instruction__card-content__number">
                            {{ step.number }}
                        </div>
                        <h3>{{ step.title }}</h3>
                        <p v-html="step.description"></p>
                    </div>
                </div>
            </div>
            <div class="instruction__cards instruction__cards--mobile">
                <div
                    v-for="(step, index) in steps"
                    :key="index"
                    class="instruction__card"
                >
                    <div
                        v-if="isActive === index"
                        class="instruction__card-wrapper"
                    >
                        <img
                            :src="step.image"
                            alt="Photo step"
                        />
                        <div class="instruction__card-content">
                            <div class="instruction__card-content__number">
                                {{ step.number }}
                            </div>
                            <h3>{{ step.title }}</h3>
                            <p v-html="step.description"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="instruction__pagination">
                <button
                    v-for="(btn, index) in steps"
                    :key="index"
                    :class="{ 'active': (isActive === index) }"
                    type="button"
                    @click="isSelect(index)"
                ></button>
            </div>
        </div>
    </section>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
    name: 'Instruction',

    data() {
        return {
            isActive: 0,
            steps: [
                {
                    number: '1',
                    title: 'Распечатать',
                    description: 'Распечатайте нужный договор и заполните все листы.',
                    image: require('../../../assets/images/icon/folder-icon.svg'),
                },
                {
                    number: '2',
                    title: 'Отправить',
                    description: 'Отправьте курьером один экземпляр подписанного договора в цетральный\n' +
                        'офис Азбуки Вкуса',
                    image: require('../../../assets/images/icon/envelope-icon.svg'),
                },
                {
                    number: '3',
                    title: 'Загрузить',
                    description: 'Отсканируйте заполненный экземпляри загрузите его в <span> формате PDF (размером не более 50 мб) </span>',
                    image: require('../../../assets/images/icon/download-icon.svg'),
                },
                {
                    number: '4',
                    title: 'Готово',
                    description: 'Теперь вы официальный\n' +
                        'партнер Азбуки Вкуса',
                    image: require('../../../assets/images/icon/done-icon.svg'),
                },
            ],
        };
    },

    methods: {
        isSelect(number: number) {
            this.isActive = number;
        },
    },
});
</script>

<style lang="scss" scoped>
.instruction {
    .common-section-title {
        display: none;
    }

    &__container {
        position: relative;

        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        padding: 57px 52px;

        background: $instruction-bg-color;
        border-radius: 44px;

        .instruction__title {
            margin-bottom: 32px;

            font-size: 24px;
            line-height: 29px;
            font-weight: 700;
        }

        .instruction__cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            width: 100%;

            &--mobile {
                display: none;
            }
        }

        .instruction__pagination {
            position: absolute;
            top: 23px;
            right: 23px;

            display: none;
            justify-content: space-between;

            width: 48px;

            button {
                display: block;

                width: 6px;
                height: 6px;
                padding: 0;

                background: $light-gray-sixth;
                border-radius: 100%;

                cursor: pointer;
            }

            button.active {
                background: $green;
            }
        }
    }
}

.instruction__card {
    display: flex;

    margin-bottom: 64px;

    &:nth-child(3),
    &:nth-child(4) {
        margin-bottom: 0;
    }

    img {
        margin-right: 32px;
    }

    &-content {
        max-width: 162px;

        &__number {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 44px;
            height: 30px;
            margin-bottom: 8px;

            font-size: 16px;
            line-height: 16px;
            font-weight: 600;
            color: $green;

            border: 1px solid $green;
            border-radius: 50%;
        }

        h3 {
            margin-bottom: 6px;

            font-size: 16px;
            line-height: 19px;
            font-weight: 600;
        }

        p {
            font-size: 12px;
            line-height: 15px;

            span {
                color: $green;
            }
        }
    }

}

@include razr1259 {
    .instruction {
        &__container {
            padding: 57px 25px;

            .instruction__title {
                margin-bottom: 51px;
            }
        }
    }

    .instruction__card {
        margin-bottom: 55px;

        img {
            width: 74px;
            height: auto;
            margin-right: 23px;
        }

        &-content {
            max-width: 130px;

            &__number {
                width: 34px;
                height: 23px;
                margin-bottom: 6px;

                font-size: 12px;
                line-height: 16%;
            }

            h3 {
                margin-bottom: 6px;

                font-size: 12px;
                line-height: 15px;
            }

            p {
                font-size: 10px;
                line-height: 12px;
            }
        }

    }
}

@include razr767 {
    .instruction {
        padding: 0 20px;

        .common-section-title {
            display: block;

            margin-bottom: 24px;
        }

        &__container {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            height: 240px;
            padding: 0;

            border-radius: 8px;

            .instruction__title {
                display: none;
            }

            .instruction__cards {
                display: none;

                &--mobile {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .instruction__pagination {
                display: flex;
            }
        }
    }

    .instruction__card {
        margin-bottom: 0;

        &-wrapper {
            display: flex;
            align-items: center;
        }

        img {
            margin-right: 34px;
        }
    }
}
</style>
