<template>
    <section class="legal-data">
        <h2 class="common-section-title">
            Юридические данные
        </h2>
        <div class="legal-data__info">
            <div class="legal-data__info-top">
                <div class="legal-data__info-item">
                    <p class="legal-data__info-item-title">
                        Наименование компании
                    </p>
                    <span class="legal-data__info-item-field">
                        {{ juridicalPerson.juridicalName }}
                    </span>
                </div>
                <div class="legal-data__info-item">
                    <p class="legal-data__info-item-title">
                        ИНН
                    </p>
                    <span class="legal-data__info-item-field">
                        {{ juridicalPerson.inn }}
                    </span>
                </div>
                <div class="legal-data__info-item legal-data__info-item--address">
                    <p class="legal-data__info-item-title">
                        Юридический адрес
                    </p>
                    <span class="legal-data__info-item-field">
                        {{ juridicalPerson.juridicalAddress }}
                    </span>
                </div>
                <div class="legal-data__info-item legal-data__info-item--address">
                    <p class="legal-data__info-item-title">
                        Фактический адрес
                    </p>
                    <span class="legal-data__info-item-field">
                        {{ juridicalPerson.actualAddress }}
                    </span>
                </div>
            </div>
            <div class="legal-data__info-bottom">
                <div class="legal-data__info-item">
                    <p class="legal-data__info-item-title">
                        ОГРН
                    </p>
                    <span class="legal-data__info-item-field">
                        {{ juridicalPerson.ogrn }}
                    </span>
                </div>
                <div class="legal-data__info-item">
                    <p class="legal-data__info-item-title">
                        ОКПО
                    </p>
                    <span class="legal-data__info-item-field">
                        {{ juridicalPerson.kpo }}
                    </span>
                </div>
                <div class="legal-data__info-item">
                    <p class="legal-data__info-item-title">
                        Банк
                    </p>
                    <span class="legal-data__info-item-field">
                        {{ juridicalPerson.bankName }}
                    </span>
                </div>
                <div class="legal-data__info-item">
                    <p class="legal-data__info-item-title">
                        БИК
                    </p>
                    <span class="legal-data__info-item-field">
                        {{ juridicalPerson.bik }}
                    </span>
                </div>
                <div class="legal-data__info-item">
                    <p class="legal-data__info-item-title">
                        Расчетный счет
                    </p>
                    <span class="legal-data__info-item-field">
                        {{ juridicalPerson.checkingAccount }}
                    </span>
                </div>
                <div class="legal-data__info-item">
                    <p class="legal-data__info-item-title">
                        Корреспондентский счёт
                    </p>
                    <span class="legal-data__info-item-field">
                        {{ juridicalPerson.correspondingAccount }}
                    </span>
                </div>
            </div>
        </div>
        <p class="legal-data__description">
            Для изменения данных свяжитесь с менеджером Азбуки Вкуса по телефону
            <a
                class="green"
                :href="`tel:${managerPhone}`"
            >{{ managerPhone }}</a>
        </p>
    </section>
</template>

<script lang="ts">
import Vue from 'vue';
import { validPhone } from '~/src/utils/helpers/functions';
import { managerPhone } from '~/src/utils/helpers/site-settings';
import { IJuridicalPerson } from '~/src/utils/interfaces/auth';

export default Vue.extend({
    name: 'LegalData',

    computed: {
        juridicalPerson(): IJuridicalPerson {
            return this.$accessor.auth.juridicalPerson;
        },

        managerPhone(): string {
            return validPhone(managerPhone);
        },
    },
});
</script>

<style lang="scss" scoped>
.legal-data {
    width: 100%;
    padding-bottom: 42px;
}

.legal-data__info {
    display: flex;
    flex-direction: column;

    width: 100%;
    padding-top: 24px;

    &-top {
        display: flex;
        flex-wrap: wrap;
    }

    &-bottom {
        display: flex;
        flex-wrap: wrap;
    }

    &-item {
        width: 100%;
        max-width: 350px;
        margin-right: 56px;
        margin-bottom: 24px;

        &--address {
            max-width: 100%;
        }

        &-title {
            margin-bottom: 14px;

            font-size: 14px;
            line-height: 130%;
            font-weight: 600;
            color: $light-gray-second;
            letter-spacing: -0.01em;
        }

        &-field {
            font-size: 18px;
            line-height: 130%;
            font-weight: 600;
            letter-spacing: -0.01em;
        }
    }
}

.legal-data__description {
    font-size: 14px;
    line-height: 20px;
    color: $light-gray-second;

    a {
        font-weight: 600;
        color: $light-green;
        text-decoration: none;
        white-space: pre;
    }
}

@include razr1259 {
    .legal-data__info {
        padding-top: 24px;

        &-item {
            max-width: 238px;
            margin-right: 10px;
            margin-bottom: 14px;

            &--address {
                max-width: 100%;
            }

            &-title {
                margin-bottom: 8px;

                font-size: 12px;
            }

            &-field {
                font-size: 12px;
            }
        }
    }

    .legal-data__description {
        font-size: 12px;
        line-height: 20px;
    }
}

@include razr767 {
    .legal-data {
        padding: 0 0 42px;
    }

    .legal-data__info {
        &-item {
            max-width: 100%;
            margin-right: 0;

            &--address {
                max-width: 100%;
            }

            &-title {
                margin-bottom: 14px;

                font-size: 10px;
                line-height: 100%;
            }

            &-field {
                font-size: 14px;
            }
        }
    }

    .legal-data__description {
        font-size: 12px;
        line-height: 20px;
    }
}
</style>
