<template>
    <div>
        <section class="personal-data">
            <h2 class="common-section-title">
                Персональные данные
            </h2>
            <div class="personal-data__form">
                <div class="personal-data__form-item">
                    <common-input
                        v-model="userData.fullName"
                        type="text"
                        label="Имя / фамилия"
                        :error="errorFullName"
                    />
                </div>
                <div class="personal-data__form-item">
                    <common-input
                        v-model="user.email"
                        type="email"
                        label="Почтовый адрес / логин"
                        :disabled="true"
                        :warning="emailNonConfirmed"
                    />
                    <button
                        v-if="isEmailConfirmed"
                        class="personal-data__form-button-change"
                        @click="openModal('ChangeEmail')"
                    >
                        Изменить
                    </button>
                </div>
                <div class="personal-data__form-item">
                    <common-input
                        :value="userPhone"
                        label="Номер телефона"
                        :disabled="true"
                    />
                    <button
                        class="personal-data__form-button-change"
                        type="button"
                        @click="openModal('ChangePhone')"
                    >
                        Изменить
                    </button>
                </div>
            </div>
        </section>
        <section class="password-data">
            <h2 class="common-section-title">
                Пароль
            </h2>
            <div class="password-data__form">
                <div class="password-data__form-item">
                    <common-input
                        v-model="userData.oldPassword"
                        type="password"
                        label="Текущий пароль"
                        :error="errorOldPassword"
                    />
                </div>

                <nuxt-link
                    class="password-data__button-help green"
                    to="/restore-password"
                >
                    Забыли текущий пароль?
                </nuxt-link>

                <div class="password-data__form-item">
                    <common-input
                        v-model="userData.password"
                        type="password"
                        label="Новый пароль"
                        :error="errorPassword"
                    />
                </div>

                <div class="password-data__form-item">
                    <common-input
                        v-model="userData.confirmPassword"
                        type="password"
                        label="Повторите пароль"
                        :error="errorConfirmPassword"
                    />
                </div>
            </div>
        </section>
        <change-data
            v-if="isShowConfirmPopup"
            :success="successChangeUserData"
            :disabled="!!errorFullName"
            @save="updateUserData"
            @cancel="cancelChanges"
        />
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { required, minLength } from 'vuelidate/lib/validators';

import CommonInput from '@/components/common/CommonInput.vue';
import ChangeData from '@/components/pages/profile/ChangeData.vue';

import {
    CONFIRMED_ERROR,
    NAME_FORMAT_ERROR,
    NAME_REQUIRED_ERROR,
    PASSWORD_MIN_LENGTH_ERROR,
    REQUIRED_ERROR,
} from '~/src/utils/errors-texts';
import { createResponseErrorsObject } from '~/src/utils/helpers/response-errors';
import { IObjectAnyProps, TStringOrBoolean } from '~/src/utils/interfaces';
import { IUser } from '~/src/utils/interfaces/auth';
import { RUpdateUser } from '~/src/utils/api/requests/user';
import { validPhone } from '~/src/utils/helpers/functions';

export default Vue.extend({
    name: 'PersonalData',

    components: {
        CommonInput,
        ChangeData,
    },

    data: () => ({
        userData: {
            fullName: '',
            oldPassword: '',
            password: '',
            confirmPassword: '',
        },
        successChangeUserData: false,
        requestErrors: {
            password: false,
        } as IObjectAnyProps,
    }),

    validations: {
        userData: {
            fullName: {
                required,
                minLength: minLength(5),
            },
            oldPassword: {
                required,
            },
            password: {
                required,
                minLength: minLength(8),
            },
            confirmPassword: {
                required,
                confirmed(value) {
                    return value === this.userData.password;
                },
            },
        },
    },

    computed: {
        user(): IUser {
            return this.$accessor.auth.user;
        },

        userPhone(): string {
            return validPhone(this.user.phoneNumber);
        },

        isShowConfirmPopup(): boolean {
            return !!(this.userData.fullName !== this.user.fullName || this.userData.password);
        },

        errorFullName(): TStringOrBoolean {
            if (!this.$v.userData.fullName!.required) {
                return NAME_REQUIRED_ERROR;
            }
            if (!this.$v.userData.fullName!.minLength) {
                return NAME_FORMAT_ERROR;
            }
            return false;
        },

        errorOldPassword(): TStringOrBoolean {
            if (this.$v.userData.oldPassword!.$dirty) {
                if (!this.$v.userData.oldPassword!.required) {
                    return REQUIRED_ERROR;
                }
            }
            return this.requestErrors.oldPassword;
        },

        errorPassword(): TStringOrBoolean {
            if (this.$v.userData.password!.$dirty) {
                if (!this.$v.userData.password!.required) {
                    return REQUIRED_ERROR;
                }
                if (!this.$v.userData.password!.minLength) {
                    return PASSWORD_MIN_LENGTH_ERROR;
                }
            }
            return this.requestErrors.password;
        },

        errorConfirmPassword(): TStringOrBoolean {
            if (this.$v.userData.confirmPassword!.$dirty) {
                if (!this.$v.userData.confirmPassword!.required) {
                    return REQUIRED_ERROR;
                }
                else if (!this.$v.userData.confirmPassword!.confirmed) {
                    return CONFIRMED_ERROR;
                }
            }
            return false;
        },

        isEmailConfirmed(): boolean {
            return this.user.isEmailConfirmed;
        },

        userEmailConfirm(): { email: string } | null {
            return this.$accessor.auth.userEmailConfirm;
        },

        emailNonConfirmed(): string {
            return (this.userEmailConfirm?.email) ? `Подтвердите новый адрес: <span class="common-input__warning-span sss">${ this.userEmailConfirm.email }</span>` : '';
        },
    },

    mounted() {
        this.userData.fullName = this.user.fullName;
    },

    methods: {
        openModal(name: string): void {
            this.$accessor.modal.OPEN_MODAL({ name });
        },

        cancelChanges() {
            this.userData = {
                fullName: this.user.fullName,
                password: '',
                confirmPassword: '',
                oldPassword: '',
            };
            this.$v.$reset();
            this.requestErrors = [];
        },

        async updateUserData(): Promise<boolean | void> {
            if (this.userData.password && this.$v.userData.$invalid) {
                this.$v.userData.$touch();
                return false;
            }

            const obj = {
                userObject: {
                    fullName: this.userData.fullName,
                } as IObjectAnyProps,
            };

            if (this.userData.password) {
                obj.userObject.password = this.userData.password;
                obj.userObject.oldPassword = this.userData.oldPassword;
            }

            const response = await this.$request(RUpdateUser(obj));

            if (response.RESPONSE_STATUS === 200) {
                this.successChangeUserData = true;
                setTimeout(async () => {
                    await this.$accessor.auth.fetchUser();
                    this.successChangeUserData = false;
                    this.cancelChanges();
                }, 2000);
            }
            else {
                this.requestErrors = createResponseErrorsObject(response.errors);
            }
        },
    },
});
</script>

<style lang="scss" scoped>
.personal-data, .password-data {
    width: 100%;
    padding-bottom: 22px;

    &__form {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        padding-top: 32px;

        &-item {
            position: relative;

            width: 358px;
            margin-right: 52px;

            &:last-child {
                margin-right: 0;
            }

            ::v-deep {
                .common-input__warning-span {
                    display: inline-block;
                    word-break: break-all;
                }
            }
        }

        &-button-change {
            position: absolute;
            top: 2px;
            right: 0;

            padding: 0;

            font-size: 12px;
            line-height: 100%;
            font-weight: 600;
            color: $green;

            border-bottom: 1px solid $green;

            cursor: pointer;

            transition: opacity $common-transition-duration;

            &:hover {
                opacity: 0.7;
            }
        }

        &__button-help {
            height: max-content;
            padding: 0;

            font-size: 14px;
            font-weight: 600;
            color: $green;
            text-decoration: none;

            border-bottom: 1px solid $green;

            cursor: pointer;
        }
    }

    @include razr1259 {
        padding-bottom: 28px;

        &__form {
            padding-top: 17px;
            padding-right: 0;

            &-item {
                width: 252px;
                margin-right: 32px;

                &:nth-child(2n) {
                    margin-right: 0;
                }
            }
        }
    }

    @include tablet_or_less {
        &__form {
            &-item {
                width: 240px;
                margin-right: 15px;
            }
        }
    }

    @include razr767 {
        padding: 0 0 26px;

        &__form {
            padding-top: 24px;

            &-item {
                width: 100%;
                max-width: 100%;
                margin-right: 0;
                margin-bottom: 16px;

                &:first-child {
                    margin-right: 0;
                }
            }
        }
        &__button-help {
            margin-bottom: 18px;
            margin-left: 16px;
        }
    }
}

</style>
