<template>
    <section class="signed-contracts">
        <h2 class="common-section-title">
            Подписанные договоры
        </h2>
        <drop-zone :contracts-upload-list="contractsUploadList" />
        <div
            v-if="!$accessor.isMobile"
            class="signed-contracts-table"
        >
            <div class="signed-contracts-table__head">
                <div class="column">
                    Тип договора
                </div>
                <div class="column">
                    Номер
                </div>
                <div class="column">
                    Дата
                </div>
                <div class="column">
                    Менеджер
                </div>
                <div class="column">
                    Статус договора
                </div>
                <div class="column"></div>
            </div>
            <div class="signed-contracts-table__body">
                <div
                    v-for="item in contractsList"
                    :key="item.id"
                    class="signed-contracts-table__row"
                >
                    <div class="column column--first alcoholic">
                        {{ item.name }}
                    </div>
                    <div class="column column--second">
                        {{ item.number }}
                    </div>
                    <div class="column column--third">
                        {{ item.date }}
                    </div>
                    <div class="column column--fourth">
                        {{ item.phone }}
                    </div>
                    <div class="column column--fifth">
                        <span
                            v-if="item.status === 'З'"
                            class="status status--concluded"
                        >заключен</span>
                        <span
                            v-if="item.status === 'Р'"
                            class="status status--under-review"
                        >на рассмотрении</span>
                    </div>
                    <div class="column column--sixth">
                        <button
                            class="signed-contracts-table__row-btn-delete"
                            type="button"
                        ></button>
                    </div>
                    <div
                        v-if="item.type === 'А'"
                        class="indicator indicator--blue"
                    ></div>
                    <div
                        v-if="item.type === ''"
                        class="indicator indicator--yellow"
                    ></div>
                    <div
                        v-if="item.type === 'БА'"
                        class="indicator indicator--purple"
                    ></div>
                </div>
            </div>
        </div>
        <div
            v-if="$accessor.isMobile"
            class="signed-contracts__cards"
        >
            <div
                v-for="item in contractsList"
                :key="item.id"
                class="signed-contracts__cards-item"
            >
                <button
                    class="signed-contracts__cards-item__btn-delete"
                    type="button"
                ></button>
                <div class="signed-contracts__cards-item__title">
                    <p>{{ item.name }}</p>
                    <div
                        v-if="item.type === 'А'"
                        class="indicator indicator--blue"
                    ></div>
                    <div
                        v-if="item.type === ''"
                        class="indicator indicator--yellow"
                    ></div>
                    <div
                        v-if="item.type === 'БА'"
                        class="indicator indicator--purple"
                    ></div>
                </div>
                <ul class="signed-contracts__cards-item__list">
                    <li class="signed-contracts__cards-item__list-item">
                        <p>Статус договора</p>
                        <span
                            v-if="item.status === 'З'"
                            class="status status--concluded"
                        >заключен</span>
                        <span
                            v-if="item.status === 'Р'"
                            class="status status--under-review"
                        >на рассмотрении</span>
                    </li>
                    <li class="signed-contracts__cards-item__list-item">
                        <p>Дата</p>
                        <p>{{ item.date }}</p>
                    </li>
                    <li class="signed-contracts__cards-item__list-item">
                        <p>Менеджер</p>
                        <p>{{ item.phone }}</p>
                    </li>
                    <li class="signed-contracts__cards-item__list-item">
                        <p>Номер</p>
                        <p>{{ item.number }}</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</template>

<script lang="ts">
import Vue from 'vue';
import DropZone from '@/components/pages/profile/DropZone.vue';

export default Vue.extend({
    name: 'SignedContracts',

    components: {
        DropZone,
    },

    data() {
        return {
            contractsList: [
                {
                    id: 0,
                    type: 'БА',
                    status: 'З',
                    name: 'Стандартный договор',
                    number: '№АВ-12',
                    phone: '+7 926 363-55-36',
                    date: '30.05.2021',
                },
                {
                    id: 1,
                    type: '',
                    status: 'З',
                    name: 'Договор оферта',
                    number: '№АВ-12',
                    phone: '+7 926 363-55-36',
                    date: '30.05.2021',
                },
                {
                    id: 2,
                    type: 'А',
                    status: 'Р',
                    name: 'Договор оферта',
                    number: '№АВ-12',
                    phone: '+7 926 363-55-36',
                    date: '30.05.2021',
                },
            ],
            contractsUploadList: [
                {
                    id: 0,
                    name: 'dogovorstandart.pdf',
                    status: 'О',
                },
                {
                    id: 1,
                    name: 'dogovorstandartfinalfile.pdf',
                    status: 'Р',
                },
            ],
        };
    },
});
</script>

<style lang="scss" scoped>
.signed-contracts {
    width: 100%;
    padding-bottom: 42px;
}

.signed-contracts-table {
    display: flex;
    flex-direction: column;

    width: 100%;

    &__head {
        display: flex;

        padding: 0 34px 12px;

        font-size: 14px;
        line-height: 17px;
        color: $light-gray;

        border-bottom: 1px solid $light-gray-seven;
    }

    &__body {
        display: flex;
        flex-direction: column;

        font-size: 14px;
        line-height: 17px;
    }

    &__row {
        position: relative;

        display: flex;
        align-items: center;

        height: 64px;
        padding: 0 34px;

        border-bottom: 1px solid $light-gray-seven;
    }

    .column {
        &--first {
            font-weight: 600;
        }

        &:nth-child(1) {
            width: 26.7%;
        }

        &:nth-child(2) {
            width: 13.4%;
        }

        &:nth-child(3) {
            width: 15.8%;
        }

        &:nth-child(4) {
            width: 21.4%;
        }

        &:nth-child(5) {
            width: 20%;
        }

        &:nth-child(6) {
            width: 2.7%;
        }
    }
}

.indicator {
    position: absolute;
    top: 16px;
    left: 14px;

    width: 2px;
    height: 32px;

    &--purple {
        background-color: $light-purple;
    }

    &--yellow {
        background-color: $light-yellow;
    }

    &--blue {
        background-color: $light-blue;
    }
}

.signed-contracts-table__row-btn-delete {
    display: block;

    width: 20px;
    height: 20px;
    padding: 0;

    background: url('@/assets/images/icon/close-icon.svg') center no-repeat transparent;

    cursor: pointer;
}

.status {
    position: relative;

    display: inline-block;

    padding-left: 12px;

    font-weight: 600;

    &::before {
        content: '';
        position: absolute;
        top: 8px;
        left: 0;

        width: 4px;
        height: 4px;

        border-radius: 100%;
    }

    &--error {
        color: $dark-orange;

        &::before {
            background-color: $dark-orange;
        }
    }

    &--under-review {
        color: $brown;

        &::before {
            background-color: $brown;
        }
    }

    &--concluded {
        color: $light-green;

        &::before {
            background-color: $light-green;
        }
    }
}

//.signed-contracts__cards {
//  display: none;
//}

@include razr1259 {
    .signed-contracts-table {
        &__head {
            padding: 0 0 15px;

            font-size: 12px;
            line-height: 100%;
        }

        &__body {
            font-size: 12px;
            line-height: 15px;
        }

        &__row {
            height: 48px;
            padding: 0;
        }

        &__indicator {
            display: none;
        }

        .column {
            &:nth-child(1) {
                width: 25.7%;
            }

            &:nth-child(2) {
                width: 12.4%;
            }

            &:nth-child(3) {
                width: 15.8%;
            }

            &:nth-child(4) {
                width: 21.4%;
            }

            &:nth-child(5) {
                width: 22%;
            }

            &:nth-child(6) {
                width: 2.7%;
            }
        }
    }

    .indicator {
        display: none;
    }

    .alcoholic.column {
        color: $light-blue;
    }

    .without-alcoholic.column {
        color: $light-purple;
    }

    .account.column {
        color: $light-yellow;
    }

    .status {
        &::before {
            top: 6px;
        }
    }
}

@include razr767 {
    .signed-contracts {
        padding: 0 0 42px;
    }

    .signed-contracts__cards {
        display: flex;
        flex-direction: column;

        &-item {
            position: relative;

            width: 100%;
            margin-bottom: 12px;
            padding: 32px 20px 19px;

            border: 1px solid $border-color-gray;
            border-radius: 22px;

            &:last-child {
                margin-bottom: 0;
            }

            &__btn-delete {
                position: absolute;
                top: 0;
                right: 0;

                display: block;

                width: 65px;
                height: 65px;
                padding: 0;

                background: url('@/assets/images/icon/close-icon.svg') center no-repeat transparent;

                cursor: pointer;
            }

            &__title {
                position: relative;

                margin-bottom: 19px;
                padding-left: 18px;

                p {
                    font-size: 14px;
                    line-height: 17px;
                    font-weight: 600;
                }
            }

            &__list {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                width: 100%;
                padding: 0 18px;

                &-item {
                    max-width: 170px;
                    margin-bottom: 14px;

                    &:nth-child(2),
                    &:nth-child(4) {
                        min-width: 92px;
                    }

                    p {
                        font-size: 14px;
                        line-height: 17px;

                        &:nth-child(1) {
                            margin-bottom: 8px;

                            color: $light-gray;
                        }
                    }
                }
            }

            .status {
                font-size: 14px;
                line-height: 17px;

                &::before {
                    top: 8px;
                }
            }

            .indicator {
                top: -8px;
                left: 0;

                display: block;
            }

        }
    }
}
</style>
