<template>
    <div class="catalog">
        <div class="catalog__container">
            <catalog-filters
                v-if="visibleFilters"
                v-scroll-lock="showFilters"
                :categories-path="categoriesPath"
                :filters-list="filtersList"
                @close-filters="closeFilters"
                @reset-filters="resetFilters"
            />
            <catalog-content
                :breadcrumbs-links="breadcrumbsLinks"
                @open-filters="openFilters"
            />
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import CatalogFilters from '@/components/pages/catalog/catalog-filters/CatalogFilters.vue';
import CatalogContent from '@/components/pages/catalog/CatalogContent.vue';
import { RGetFilters } from '~/src/utils/api/requests/catalog';
import { ICategory, IBreadcrumb, IFilter } from '~/src/utils/interfaces/catalog';
import { IObjectAnyProps } from '~/src/utils/interfaces';
import { breadcrumbsDefaultPath } from '~/src/utils/helpers/site-settings';

export default Vue.extend({
    name: 'Catalog',

    components: {
        CatalogContent,
        CatalogFilters,
    },

    data: () => ({
        showFilters: false,

        filtersList: [] as IFilter[],
    }),

    async fetch(): Promise<void> {
        this.$accessor.catalog.setCategoryAction(+this.category);
        await this.getFilters();
        this.checkFilters();
        await this.getProducts();
    },

    computed: {
        category(): string {
            return this.$route.params.category ? String(this.$route.params.category) : '';
        },

        categoriesList(): ICategory[] {
            return this.$store.getters['catalog/categoriesList'];
        },

        breadcrumbsLinks(): IBreadcrumb[] {
            const category = this.categoriesList?.find((c: ICategory) => +c.id === +this.$route.params.category);

            if (!category) return breadcrumbsDefaultPath;

            return (() => {
                const bk = [] as IBreadcrumb[];

                const f = (category: ICategory) => {
                    bk.unshift({
                        name: category.name,
                        to: {
                            name: 'catalog-category-url',
                            params: {
                                category: String(category.id),
                                url: category.url,
                            },
                        },
                    });
                    if (category.treeParentId) {
                        const parent = this.categoriesList?.find((c: ICategory) => +c.id === +category.treeParentId!);
                        if (parent) {
                            f(parent);
                        }
                    }
                };

                f(category);

                return [...breadcrumbsDefaultPath, ...bk];
            })();
        },

        categoriesPath(): string[] {
            return this.breadcrumbsLinks?.slice(2).map((link: IBreadcrumb) => link.to.params.category!);
        },

        visibleFilters(): boolean {
            return (!this.$accessor.isMobileOrTablet || this.showFilters);
        },
    },

    watch: {
        category() {
            this.$accessor.catalog.setCategoryAction(+this.category);
            this.getProducts();
        },
    },

    mounted() {
        this.checkUrl();
    },

    methods: {
        async getFilters(): Promise<void> {
            const categories = await this.$request(RGetFilters({ categoryId: +this.category }));
            if (categories.RESPONSE_STATUS === 200) {
                this.filtersList = categories.types.map((filer: IFilter) => {
                    filer.open = false;
                    if (filer.type === 'list') {
                        filer.searchString = '';
                        if (Array.isArray(filer.params)) {
                            filer.params = filer.params.map((param: any) => {
                                param.checked = false;
                                return param;
                            });
                        }
                    }
                    return filer;
                });
            }
        },

        async getProducts(): Promise<void> {
            await this.$accessor.catalog.getProductsAction();
            const pages = +this.$route.query.page;
            if (pages) {
                for (let i = 2; i <= pages; i++) {
                    await this.$accessor.catalog.getMoreProductsAction();
                }
            }
        },

        checkUrl(): void {
            const categoryInfo = this.categoriesList.find(item => +item.id === +this.$route.params.category);
            if (this.$route.params.url !== categoryInfo?.url) {
                this.$router.replace({
                    params: { category: String(categoryInfo?.id), url: String(categoryInfo?.url) },
                    query: { ...this.$route.query },
                }).catch(() => {});
            }
        },

        checkFilters(): void {
            const filters = {} as IObjectAnyProps;
            const query = this.$route.query;

            this.filtersList.forEach((filter: IFilter) => {
                const queryValue: string = query[filter.name] as string;
                if (queryValue) {
                    if (filter.type === 'range') {
                        let min = +queryValue.split('-')[0];
                        let max = +queryValue.split('-')[1];

                        if (+min < +filter.params.min) min = +filter.params.min;
                        if (+min > +filter.params.max) min = +filter.params.max;
                        if (+max > +filter.params.max) max = +filter.params.max;
                        if (+max < +filter.params.min) max = +filter.params.min;

                        if (+min > +max) max = +min;

                        filters[filter.name] = {
                            min,
                            max,
                        };
                    }
                    else if (filter.type === 'list') {
                        filters[filter.name] = {
                            items: queryValue.split(','),
                        };
                    }
                }
            });

            this.$accessor.catalog.setFiltersAction(filters);
        },

        openFilters(): void {
            this.showFilters = true;
        },

        closeFilters(): void {
            this.showFilters = false;
        },

        resetFilters(): void {
            this.getFilters();
            this.$accessor.catalog.resetFiltersAction();

            const query = Object.assign({}, this.$route.query);
            this.filtersList.forEach((filter: IFilter) => {
                delete query[filter.name];
            });
            this.$router.replace({ query }).catch(() => {});

            this.getProducts();
            this.closeFilters();
        },
    },
});
</script>

<style lang="scss" scoped>
.catalog {
    display: flex;
    justify-content: center;

    width: 100%;

    &__container {
        display: flex;

        width: 100%;

        background: $input-bg-color;
    }

    &-start {
        width: 1200px;
        padding: 17px 0;
    }

    &__back-btn {
        display: none;
    }

    &__title {
        margin-top: 62px;

        font-size: 31px;
        font-weight: 700;
    }

    &__categories {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        margin-top: 44px;
    }

    &__category {
        width: 270px;
        margin-right: 30px;
        margin-bottom: 25px;

        font-size: 18px;
        font-weight: 400;
        color: $black-second;
        text-decoration: none;
    }

    @include tablet_landscape {
        &__container {
            justify-content: center;
        }

        &-start {
            padding: 18px 23px;
        }

        &__title {
            margin-left: 60px;
        }

        &__categories {
            margin-left: 60px;
        }

        &__category {
            width: 300px;
            margin-right: 6px;
        }
    }

    @include tablet {
        &__categories {
            padding-right: 47px;
        }

        &__category {
            width: 250px;
            margin-right: 55px;
        }
    }

    @include mobile {
        &-start {
            width: 100%;
            padding: 15px 20px;
        }
        &__back-btn {
            position: relative;

            display: flex;

            padding-bottom: 14px;
            padding-left: 18px;

            font-size: 14px;
            font-weight: 700;

            border-bottom: 1px solid $light-gray-ninth;

            &:before {
                @include bef_aft;
                top: 7px;
                left: 2px;

                width: 14px;
                height: 12px;

                background: url('@/assets/images/icon/arrow-left-green-icon.svg') no-repeat center center/contain;
            }
        }

        &__title {
            margin-top: 33px;
            margin-left: 0;

            font-size: 24px;
        }

        &__categories {
            margin-top: 34px;
            margin-left: 0;
            padding-right: 0;
        }

        &__category {
            width: 100%;
            margin-right: 0;
            margin-bottom: 34px;
        }
    }
}

</style>
