<template>
    <ul class="action-list">
        <li
            class="action-list__item"
            @click="toggleDetails"
        >
            Посмотреть заказ
        </li>
        <li
            class="action-list__item"
            @click="addToCart"
        >
            Добавить в корзину
        </li>
        <li
            v-if="hasInvoice"
            class="action-list__item"
        >
            <a
                @click="downloadInvoice"
            >Скачать счет {{ invoiceTitle }}</a>
        </li>
    </ul>
</template>

<script lang="ts">
import Vue from 'vue';
import { RGetInvoice } from '~/src/utils/api/requests/user';
import { triggerDownloadClick } from '~/src/utils/helpers/functions';

export default Vue.extend({
    name: 'ActionList',

    props: {
        invoice: {
            type: Object,
            default: () => ({}),
        },
    },

    computed: {
        hasInvoice(): boolean {
            return !!Object.keys(this.invoice).length;
        },

        invoiceTitle(): string {
            return this.hasInvoice ? this.invoice.title : '';
        },

        downloadTitle(): string {
            return this.hasInvoice ? `${ this.invoiceTitle }.pdf` : '';
        },
    },

    methods: {
        async getInvoice(): Promise<string> {
            const fileId = this.invoice.url.match(/\/(\d+)\//)[1];
            const response = await this.$request(RGetInvoice({ id: fileId }));
            if (response.RESPONSE_STATUS === 200) {
                const fileURL = window.URL.createObjectURL(new Blob([response], { type: 'application/pdf' }));
                return fileURL;
            }
            return '';
        },

        async downloadInvoice(): Promise<void> {
            const url = await this.getInvoice();
            triggerDownloadClick(url, this.downloadTitle);
        },

        toggleDetails(): void {
            this.$emit('toggle-details');
            this.$emit('hide-action');
        },

        addToCart(): void {
            this.$emit('add-to-cart');
        },
    },
});
</script>

<style lang="scss" scoped>
.action-list {
    position: absolute;
    top: 51px;
    right: 0;
    z-index: $z-10;

    width: 232px;

    background: $white;
    border: 1px solid $light-gray-seven;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04);

    &__item {
        position: relative;

        padding: 12px 18px 12px 59px;

        border-bottom: 1px solid $light-gray-seven;

        font-size: 14px;
        line-height: 17px;
        font-weight: 600;
        color: $light-gray;

        transition: color $common-transition-duration;

        &:hover {
            color: $green;
            a {
                color: $green;
            }
        }

        &:last-child {
            border-bottom: none;
        }

        a {
            font-size: 14px;
            line-height: 17px;
            font-weight: 600;
            color: $light-gray;
            text-decoration: none;

            transition: color $common-transition-duration;
        }

        &::after {
            content: '';
            position: absolute;
            left: 29px;

            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

        &:nth-child(1) {
            &::after {
                width: 20px;
                height: 18px;

                background-image: url('@/assets/images/icon/history-nav-gray-icon.svg');
            }
        }

        &:nth-child(2),
        &:nth-child(3) {
            &::after {
                top: 8px;

                width: 16px;
                height: 21px;

                background-image: url('@/assets/images/icon/relocate-icon.svg');
            }
        }

        &:nth-child(4) {
            &::after {
                top: 15px;
                left: 27px;

                width: 20px;
                height: 25px;

                background-image: url('@/assets/images/icon/download-doc-icon.svg');
            }
        }
    }
}
</style>
