<template>
    <div
        v-if="!isMobile"
        class="order"
        :class="{'order_not-border': showDetails }"
    >
        <div class="order__top">
            <div class="order__content">
                <div
                    class="order__dropdown"
                    @click="toggleDetails"
                >
                    <div class="column column--first">
                        {{ articul }}
                    </div>
                    <div class="column column--second">
                        {{ orderDate }}
                    </div>
                    <div class="column column--third">
                        <span
                            class="order__address"
                            :class="{ 'order__address_full': showDetails }"
                        >
                            {{ deliveryAddress }}
                        </span>
                    </div>
                    <div class="column column--fifth">
                        {{ price }} ₽
                    </div>
                    <div class="column column--fourth">
                        <span
                            class="order__status"
                            :class="statusClass"
                        >{{ statusName }}</span>
                    </div>
                </div>
                <div
                    v-click-outside="hideActions"
                    class="order__actions"
                    @click="toggleActions"
                >
                    <button
                        class="order__btn-more"
                        :class="{'active' : showActions }"
                    ></button>
                    <action-list
                        v-if="showActions"
                        :invoice="invoice"
                        @toggle-details="toggleDetails"
                        @add-to-cart="addToCart"
                    />
                </div>
            </div>
            <common-loader
                v-if="isLoading"
                class="common-loader__in"
            />
            <products
                v-if="showDetailedOrder"
                :products="orderProducts"
                :delivery-price="deliveryPrice"
            />
        </div>
    </div>

    <div
        v-else
        class="order-mobile"
    >
        <div class="order-mobile__top">
            <div
                v-click-outside="hideActions"
                class="order-mobile__btn-wrapper"
            >
                <button
                    class="order-mobile__btn-more"
                    @click="toggleActions"
                ></button>
                <action-list
                    v-if="showActions"
                    :invoice="invoice"
                    @hide-action="hideActions"
                    @toggle-details="toggleDetails"
                    @add-to-cart="addToCart"
                />
            </div>
            <div class="order-mobile__top-title">
                <p>Номер заказа: <span>{{ articul }}</span></p>
            </div>
            <ul class="order-mobile__top-list">
                <li class="order-mobile__top-list-item">
                    <p>Статус заказа</p>
                    <span
                        class="order__status"
                        :class="statusClass"
                    >{{ statusName }}</span>
                </li>
                <li class="order-mobile__top-list-item">
                    <p>Дата</p>
                    <p>{{ orderDate }}</p>
                </li>
                <li class="order-mobile__top-list-item">
                    <p>Адрес</p>
                    <p
                        class="address"
                        :class="{ 'order__address_full': showDetails }"
                    >
                        {{ deliveryAddress }}
                    </p>
                </li>
                <li class="order-mobile__top-list-item">
                    <p>Стоимость</p>
                    <p class="price">
                        {{ price }} ₽
                    </p>
                </li>
            </ul>
        </div>
        <template v-if="showDetailedOrder">
            <products
                :products="orderProducts"
                :delivery-price="deliveryPrice"
            />
            <common-button
                class="common-button--gray-border"
                @click="toggleDetails"
            >
                Свернуть
            </common-button>
        </template>
        <common-button
            v-else
            class="common-button--gray"
            :loading="isLoading"
            @click="toggleDetails"
        >
            Развернуть
        </common-button>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import CommonButton from '@/components/common/CommonButton.vue';
import ActionList from '@/components/pages/history/ActionList.vue';
import Products from '@/components/pages/history/Products.vue';
import CommonLoader from  '@/components/common/CommonLoader.vue';
import { ROverwriteCart } from '~/src/utils/api/requests/cart';
import { RGetOrderDetails } from '~/src/utils/api/requests/user';
import { priceFormat } from '~/src/utils/helpers/functions';
import { IOrderDetails, IOrderDetailsProduct } from '~/src/utils/interfaces/auth';
import { ICartItem } from '~/src/utils/interfaces/cart';
import { mergeCart } from '~/src/utils/helpers/cart';

export default Vue.extend({
    name: 'Order',

    components: {
        CommonButton,
        ActionList,
        Products,
        CommonLoader,
    },

    props: {
        order: {
            type: Object,
            default: () => ({}),
        },

        invoice: {
            type: Object,
            default: () => ({}),
        },
    },

    data: () => ({
        orderDetails: {} as IOrderDetails,
        showActions: false,
        showDetails: false,
        isLoading: false,
    }),

    computed: {
        showDetailedOrder(): boolean {
            return !this.isLoading && this.showDetails;
        },

        orderProducts(): IOrderDetailsProduct[] {
            return this.orderDetails.products;
        },

        orderDate(): string {
            return this.$dayjs(this.order.createdAt).format('DD.MM.YYYY');
        },

        isMobile(): boolean {
            return this.$accessor.isMobile;
        },

        articul(): string {
            return this.order.articul;
        },

        deliveryAddress(): string {
            return this.order.deliveryAddress;
        },

        deliveryPrice(): string {
            return this.order.deliveryPrice ? `${ this.order.deliveryPrice }` : '';
        },

        price(): string {
            return priceFormat(this.order.price);
        },

        status(): string {
            return this.order.status.status;
        },

        statusName(): string {
            return this.order.status.name;
        },

        statusWaiting(): boolean {
            return (this.order.status.status === 'WAIT_PICKING' || this.order.status.status === 'CANCELLED');
        },

        statusConcluded(): boolean {
            return (this.order.status.status === 'PICKING' || this.order.status.status === 'DELIVERY');
        },

        statusCompleted(): boolean {
            return (this.order.status.status === 'DELIVERED' || this.order.status.status === 'CANCEL');
        },

        statusClass(): object {
            return {
                'order__status_under-review': this.statusWaiting,
                order__status_concluded: this.statusConcluded,
            };
        },
    },

    methods: {
        toggleActions(): void {
            this.showActions = !this.showActions;
        },

        hideActions(): void {
            this.showActions = false;
        },

        toggleDetails(): void {
            this.showDetails = !this.showDetails;
            if (this.showDetails && !this.orderDetails.products) {
                this.getOrderDetails();
            }
        },

        async getOrderDetails(): Promise<void> {
            this.isLoading = true;
            const token = this.$accessor.auth.accessToken;
            if (token) {
                const response = await this.$request(RGetOrderDetails({ id: this.order.id }));
                if (response.RESPONSE_STATUS === 200) {
                    this.orderDetails = response;
                }
            }
            this.isLoading = false;
        },

        async addToCart(): Promise<void> {
            if (!this.orderProducts) {
                await this.getOrderDetails();
            }
            const cart = this.$accessor.cart.cart;
            const extendCart = this.orderDetails.products.map((item: IOrderDetailsProduct) => {
                const newItem = { product: {} } as ICartItem;
                newItem.price = item.priceTotal;
                newItem.quantity = item.quantity;
                newItem.product.id = item.id;
                return newItem;
            });
            const mergedCart = mergeCart(cart, extendCart);
            const response = await this.$request(ROverwriteCart({ cart: mergedCart }));
            if (response.RESPONSE_STATUS === 200) {
                this.$accessor.cart.setCartAction(response.cartProducts);
                this.$accessor.modal.OPEN_MODAL({ name: 'MergedCart' });
                this.$accessor.cart.setCartPrice(response.totalPrice);
            }
        },
    },
});
</script>

<style lang="scss" scoped>
.order {
    position: relative;

    display: flex;
    flex-direction: column;

    border-bottom: 1px solid $light-gray-seven;

    &_not-border {
        border-bottom: none;
    }

    &:last-child {
        border-bottom: none;
    }

    &__dropdown {
        width: 96%;
        padding: 23px 0;

        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }

    &__top {
        width: 100%;
    }

    &__content {
        display: flex;
        align-items: center;
        padding: 0 16px;

        cursor: pointer;
    }

    &__address {
        display: inline-block;

        width: 100%;
        overflow: hidden;

        white-space: nowrap;
        text-overflow: ellipsis;

        &_full {
            overflow: visible;
            white-space: normal;
        }
    }

    &__actions {
        width: 4%;
    }

    &__btn-more {
        display: block;

        width: 20px;
        height: 20px;
        padding: 0;
        margin-left: auto;

        background: url('@/assets/images/icon/dots-icon.svg') center no-repeat transparent;

        cursor: pointer;

        &:hover {
            background-image: url('@/assets/images/icon/dots-green-icon.svg');

            transition: background-image $common-transition-duration;
        }

        &.active {
            background-image: url('@/assets/images/icon/dots-green-icon.svg');

            transition: background-image $common-transition-duration;
        }
    }

    &__status {
        position: relative;

        display: inline-block;

        padding-left: 12px;

        font-weight: 600;
        color: $light-gray;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;

            width: 4px;
            height: 4px;

            transform: translateY(-50%);

            background-color: $light-gray;
            border-radius: 100%;
        }

        &_under-review {
            color: $brown;

            &::before {
                background-color: $brown;
            }
        }

        &_concluded {
            color: $light-green;

            &::before {
                background-color: $light-green;
            }
        }
    }

    @include razr1259 {
        &:last-child {
            border-bottom: 1px solid $light-gray-seven;
        }

        &__top {
            min-height: 47px;
            padding: 0;
        }

        &__content {
            padding: 0;
        }

        &__dropdown {
            padding: 12px 0;
        }

        &__address {
            max-width: 150px;
        }

        &__status {
            &::before {
                top: 4px;
            }
        }
    }
}

.column {
    &:nth-child(1) {
        width: 14%;
        padding-right: 8px;
        word-break: break-word;
        -moz-word-break: break-all;
    }

    &:nth-child(2) {
        width: 15%;
    }

    &:nth-child(3) {
        width: 29.8%;
        padding-right: 16px;
    }

    &:nth-child(4) {
        width: 16.7%;
        font-weight: 600;
    }

    &:nth-child(5) {
        width: 21.7%;
    }
}

@include razr767 {
    .order-mobile {
        position: relative;

        display: flex;
        flex-direction: column;

        width: 100%;
        margin-bottom: 16px;
        padding: 32px 20px 20px;

        border: 1px solid $border-color-gray;
        border-radius: 22px;

        &:last-child {
            margin-bottom: 0;
        }

        .common-button {
            width: 100%;

            font-size: 14px;
            line-height: 17px;
        }

        &__top {
            &-title {
                margin-bottom: 19px;

                font-size: 14px;
                line-height: 17px;
                font-weight: 700;

                span {
                    color: $light-gray;
                }
            }

            &-list {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                width: 100%;
                margin-bottom: 6px;

                &-item {
                    max-width: 170px;
                    margin-bottom: 26px;

                    &:nth-child(2),
                    &:nth-child(4) {
                        min-width: 92px;
                    }

                    .price {
                        font-weight: 600;
                    }

                    .address {
                        display: inline-block;

                        max-width: 170px;
                        overflow: hidden;

                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }

                    .order__address_full {
                        overflow: visible;
                        white-space: normal;
                    }

                    p {
                        font-size: 14px;
                        line-height: 17px;

                        &:nth-child(1) {
                            margin-bottom: 8px;

                            color: $light-gray;
                        }
                    }
                }
            }
        }

        .order__status {
            font-size: 14px;
            line-height: 17px;

            &::before {
                top: 8px;
            }
        }

        &__btn-wrapper {
            position: absolute;
            top: 0;
            right: 0;

            .action-list {
                top: 70%;
                right: 20px;
            }
        }

        .order-mobile__btn-more {
            display: block;

            width: 65px;
            height: 65px;
            padding: 0;

            background: url('@/assets/images/icon/dots-icon.svg') center no-repeat transparent;

            cursor: pointer;
        }

        .active.order-mobile__btn-more {
            background-image: url('@/assets/images/icon/dots-green-icon.svg');
        }
    }
}
</style>
