<template>
    <section class="orders">
        <h2 class="common-section-title">
            {{ title }}
        </h2>
        <div
            v-if="!isMobile"
            class="orders-table"
        >
            <div class="orders-table__head">
                <div class="column">
                    Номер
                </div>
                <div class="column">
                    Дата
                </div>
                <div class="column">
                    Адрес доставки
                </div>
                <div class="column">
                    Стоимость
                </div>
                <div class="column">
                    Статус заказа
                </div>
                <div class="column"></div>
            </div>
            <div class="orders-table__body">
                <order
                    v-for="order in orders"
                    :key="order.id"
                    :order="order"
                    :invoice="invoice(order.articul)"
                />
            </div>
        </div>

        <div
            v-else
            class="orders"
        >
            <order
                v-for="order in orders"
                :key="order.id"
                :order="order"
                :invoice="invoice(order.articul)"
            />
        </div>
    </section>
</template>

<script lang="ts">
import Vue from 'vue';
import Order from '@/components/pages/history/Order.vue';
import { IInvoice } from '~/src/utils/interfaces/auth';

export default Vue.extend({
    name: 'Orders',

    components: {
        Order,
    },

    props: {
        orders: {
            type: Array,
            default: () => ([]),
        },

        invoices: {
            type: Array as () => IInvoice[],
            default: () => ([] as IInvoice[]),
        },

        title: {
            type: String,
            default: '',
        },
    },

    computed: {
        isMobile(): boolean {
            return this.$accessor.isMobile;
        },
    },

    methods: {
        invoice(articul: string): IInvoice | undefined {
            return this.invoices.find((item: IInvoice) => item.title === articul);
        },
    },
});
</script>

<style lang="scss" scoped>
.orders {
    width: 100%;
    padding-bottom: 42px;

    .common-section-title {
        margin-bottom: 40px;
    }

    @include razr1259 {
        padding-bottom: 14px;

        .common-section-title {
            margin-bottom: 40px;
        }
    }

    @include razr767 {
        display: flex;
        flex-direction: column;

        width: 100%;
    }
}

.orders-table {
    display: flex;
    flex-direction: column;

    width: 100%;

    &__head {
        display: flex;

        padding: 0 16px 12px;

        font-size: 14px;
        line-height: 17px;
        color: $light-gray;

        border-bottom: 1px solid $light-gray-seven;
    }

    &__body {
        display: flex;
        flex-direction: column;

        font-size: 14px;
        line-height: 17px;
    }

    .column {
        &:nth-child(1) {
            width: 14%;
        }

        &:nth-child(2) {
            width: 15%;
        }

        &:nth-child(3) {
            width: 29.8%;
        }

        &:nth-child(4) {
            width: 16.7%;
        }

        &:nth-child(5) {
            width: 21.7%;
        }

        &:nth-child(6) {
            position: relative;

            width: 4%;
        }
    }

    @include razr1259 {
        &__head {
            padding: 0 0 15px;

            font-size: 12px;
            line-height: 100%;
        }

        &__body {
            font-size: 12px;
            line-height: 100%;
        }
    }
}
</style>
