<template>
    <div
        v-if="!isMobile"
        class="product"
    >
        <div class="col">
            {{ articul }}
        </div>
        <div
            class="col col--name-product"
            :class="{ 'col--name-product_full': fullProductName }"
            @click="toggleFullProductName"
        >
            <span>{{ title }}</span>
        </div>
        <div class="col">
            {{ price }} ₽
        </div>
        <div class="col">
            {{ weight }}
        </div>
        <div class="col">
            {{ quantity }}
        </div>
    </div>
    <div
        v-else
        class="product-mobile"
    >
        <div class="product-mobile__top">
            <p>Артикул {{ articul }}</p>
            <p>{{ quantity }}</p>
        </div>
        <p class="product-mobile__name">
            {{ title }}
        </p>
        <div class="product-mobile__bottom">
            <p class="price-detail">
                {{ price }} ₽
            </p>
            <p>
                {{ weight }}
            </p>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { priceFormat, weightFormat } from '~/src/utils/helpers/functions';

export default Vue.extend({
    name: 'Product',

    props: {
        product: {
            type: Object,
            default: () => ({}),
        },
    },

    data: () => ({
        fullProductName: false,
    }),

    computed: {
        isMobile(): boolean {
            return this.$accessor.isMobile;
        },

        articul(): string {
            return this.product.articul ? `Артикул ${ this.product.articul }` : '';
        },

        title(): string {
            return this.product.title;
        },

        price(): string {
            return priceFormat(this.product.price);
        },

        weight(): string {
            return this.product.weight ? `${ weightFormat(this.product.weight) }кг` : '';
        },

        quantity(): string {
            return this.product.quantity ? `${ this.product.quantity } шт.` : '';
        },
    },

    methods: {
        toggleFullProductName(): void {
            this.fullProductName = !this.fullProductName;
        },
    },
});
</script>

<style lang="scss" scoped>
.product {
    display: flex;
    align-items: center;

    margin-bottom: 24px;

    &:last-child {
        margin-bottom: 0;
    }

    .col {
        font-size: 14px;
        line-height: 17px;
        white-space: nowrap;

        &--name-product {
            span {
                display: inline-block;

                max-width: 380px;
                overflow: hidden;

                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }

        &:nth-child(1) {
            width: 17.2%;

            font-size: 12px;
            line-height: 100%;
            font-weight: 600;
            color: $light-gray;
        }

        &:nth-child(2) {
            width: 53.5%;
        }

        &:nth-child(3) {
            width: 13.3%;

            font-weight: 600;
        }

        &:nth-child(4) {
            width: 7.8%;

            color: $light-gray;
        }

        &:nth-child(5) {
            width: 8.2%;

            font-size: 12px;
            line-height: 150%;
            color: $light-gray
        }
    }

    @include razr1259 {
        display: flex;
        align-items: center;

        margin-bottom: 16px;

        .col {
            font-size: 12px;
            line-height: 100%;

            &--name-product {
                span {
                    max-width: 200px;
                    white-space: nowrap;
                }

                &_full span {
                    overflow: visible;
                    white-space: normal;
                }
            }

            &:nth-child(1) {
                width: 15%;

                font-size: 10px;
                line-height: 1.1;
                white-space: normal;
            }

            &:nth-child(2) {
                width: 45%;
            }

            &:nth-child(3) {
                width: 15%;

                font-weight: 600;
            }

            &:nth-child(4) {
                width: 10%;
                flex-grow: 1;
            }

            &:nth-child(5) {
                width: 10%;

                font-size: 10px;
            }
        }
    }
}

@include razr767 {
    .product-mobile {
        margin-bottom: 8px;
        padding: 22px 14px 22px 25px;

        background-color: $input-bg-color;
        border-radius: 22px;

        &:last-child {
            margin-bottom: 16px;
        }

        &__top {
            display: flex;
            justify-content: space-between;

            margin-bottom: 8px;

            font-size: 12px;
            line-height: 100%;
            font-weight: 600;
            color: $light-gray;
        }

        &__name {
            max-width: 200px;
            margin-bottom: 8px;

            font-size: 16px;
            line-height: 150%;
        }

        &__bottom {
            display: flex;

            font-size: 16px;
            line-height: 19px;
            color: $light-gray;

            .price-detail {
                margin-right: 24px;

                font-weight: 600;
                color: $dark-gray;
            }
        }
    }
}
</style>
