<template>
    <div
        v-if="!isMobile"
        class="products"
    >
        <div class="products__details">
            <p class="products__details-total">
                Товаров в заказе: <span>{{ productsQuantity }} шт</span>
            </p>
            <div class="products__details-list">
                <div class="products__details-list-scroll">
                    <product
                        v-for="product in products"
                        :key="product.id"
                        :product="product"
                    />
                    <product
                        :product="deliveryProduct"
                    />
                </div>
            </div>
        </div>
    </div>
    <div
        v-else
        class="products"
    >
        <p class="products__total">
            Товаров в заказе: <span>{{ productsQuantity }} шт</span>
        </p>
        <product
            v-for="product in products"
            :key="product.id"
            :product="product"
        />
        <product
            :product="deliveryProduct"
        />
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Product from '@/components/pages/history/Product.vue';

export default Vue.extend({
    name: 'Products',

    components: {
        Product,
    },

    props: {
        products: {
            type: Array,
            default: () => ([]),
        },

        deliveryPrice: {
            type: String,
            default: '',
        },
    },

    computed: {
        isMobile(): boolean {
            return this.$accessor.isMobile;
        },

        productsQuantity(): number {
            return this.products.length;
        },

        deliveryProduct(): {title: string, price: string} {
            return {
                title: 'Доставка',
                price: this.deliveryPrice,
            };
        },
    },
});
</script>

<style lang="scss" scoped>
.products {
    &__details-total {
        margin-bottom: 16px;
        padding-top: 9px;

        font-size: 14px;
        line-height: 17px;
        font-weight: 600;

        span {
            color: $light-gray;
        }
    }

    &__details-list {
        max-height: 250px;
        padding: 24px 10px 22px 24px;

        background-color: $input-bg-color;
        border-radius: 22px;

        &-scroll {
            display: flex;
            flex-direction: column;

            max-height: 202px;
            overflow-y: auto;

            &::-webkit-scrollbar {
                width: 4px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $green;
                border-radius: 6px;
            }

            &::-webkit-scrollbar-track {
                background: transparent;
                border-radius: 6px;
            }

            scroll-bar::-webkit-scrollbar {
                width: 4px;
            }

            scroll-bar::-webkit-scrollbar-thumb {
                background-color: $green;
                border-radius: 6px;
            }

            scroll-bar::-webkit-scrollbar-track {
                background: transparent;
                border-radius: 6px;
            }
        }
    }

    @include razr1259 {
        &__details-total {
            font-size: 12px;
            line-height: 100%;
        }

        &__details-list {
            max-height: 140px;
            padding: 16px 10px 16px 16px;

            &-scroll {
                max-height: 110px;
            }
        }
    }

    @include razr767 {
        display: flex;
        flex-direction: column;

        width: 100%;

        &__total {
            margin-bottom: 14px;

            font-size: 14px;
            line-height: 17px;
            font-weight: 700;

            span {
                color: $light-gray;
            }
        }
    }
}
</style>
