<template>
    <label
        v-click-outside="close"
        class="app-language-select"
    >
        <div class="left">
            <img src="@/assets/img/icons/translate_icon.png" />
            {{ $t('dash_translate', 'Translate') }}
        </div>
        <div
            class="right"
            @click="isOpen = true"
        >
            <img src="@/assets/img/icons/translate-arrow_icon.svg" />
            <span>
                {{ language }}
            </span>
            <select
                id="language"
                v-model="language"
                :class="{isOpen}"
                size="7"
                @change="change"
            >
                <option
                    v-for="opt in $options.languages"
                    :key="opt.value"
                    :value="opt.value"
                >
                    {{ opt.label }}
                </option>
            </select>
        </div>
    </label>
</template>

<script>
    import languages from './languages';
    import vClickOutside from 'v-click-outside';

    export default {
        name: 'app-language-select',

        directives: {
            clickOutside: vClickOutside.directive,
        },

        languages: languages,

        props: {
            questionId: {
                type: Number,
                default: null,
            },
        },

        data: () => ({
            isOpen: false,
            language: null,
        }),

        methods: {
          change() {
            this.$emit('change', this.questionId, this.language);
            setTimeout(()=>{
              this.isOpen = false;
            });
          },
          close() {
            this.isOpen = false;
          },
        },
    };
</script>

<style scoped lang="scss">
    .app-language-select {
        display: flex;

        width: fit-content;

        background: $mainBlue;
        border: 2px solid $mainBlue;
        border-radius: 0.2rem;

        cursor: pointer;
        transition: box-shadow .2s;

        &:hover{
            box-shadow: 3px 3px 3px rgb(0 0 0 / 15%)
        }

        .left {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 5.5rem;
            padding: 0.5rem;

            font-size: to_rem(14px);
            color: $mainTextColor;


            transition: color .3s;


            img {
                height: 1rem;
            }
        }

        .right {
            position: relative;

            display: flex;
            justify-content: center;
            align-items: center;

            width: 2.5rem;

            background: $lightBlue;
            border-radius: 0.2rem;

            img {
                height: 1rem;

                transform: rotate(90deg);
            }

            span{
                margin-left: 0.2rem;

                color: $mainPurple;
            }

            select {
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 1;

                display: none;

                width: 8rem;

                &.isOpen {
                    display: block;
                }
            }
        }
    }
    @include razr767{
        .app-language-select{
            .left{
                width: 7.5rem;
                padding: 0.7rem 0;

                font-size: 1.19rem;
                img{
                    height: 1.3rem;
                    margin-right: 0.2rem;
                }
            }
            .right{
                width: 3.5rem;
                img{
                    height: 1.6rem;
                }
            }
        }
    }
</style>
