<template>
    <transition name="prompt">
        <div
            v-if="$accessor.prompt.CURRENT"
            class="prompt"
            @click.self="closePrompt"
        >
            <div class="prompt__content">
                <component
                    :is="$accessor.prompt.CURRENT"
                    :playload="$accessor.prompt.PROMPT_PAYLOAD"
                />
            </div>
        </div>
    </transition>
</template>

<script lang="ts">
import Vue from 'vue';
import ReloadPage from '@/components/layouts/prompt/parts/ReloadPage.vue';

export default Vue.extend({
    name: 'Prompt',

    components: {
        ReloadPage,
    },

    methods: {
        closePrompt() {
            this.$accessor.prompt.CLOSE_PROMPT_ACTION();
        },
    },
});
</script>

<style lang="scss" scoped>
.prompt {
    position: fixed;
    bottom: 56px;
    z-index: $z-popover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 820px;
    height: 92px;

    background-color: $white;
    border-width: 1px 1px 1px 4px;
    border-style: solid;
    border-color: $green;
    border-radius: 0 13px 13px 0;

    &__content {
        width: 100%;
    }

    @include razr1259 {
        max-width: 536px;
        height: 78px;
    }

    @include razr767 {
        bottom: 0;

        width: 100%;
        max-width: 100%;
        height: 110px;

        border-width: 1px;
        border-radius: 12px 12px 0 0;
    }
}

//TRANSITION
.prompt-enter,
.prompt-leave-to {
    opacity: 0;
}

.prompt-enter-active,
.prompt-leave-active {
    transition: opacity $common-transition-duration;
}

</style>
