<template>
    <div class="app-actions">
        <img
            v-if="edit"
            src="@/assets/img/icons/disposer/edit_icon.png"
            @click="edit"
            title="Edit"
        />
        <img
            v-if="back"
            src="@/assets/img/icons/disposer/back_icon.png"
            @click="back"
            title="Back"
        />
        <img
            v-if="check"
            src="@/assets/img/icons/disposer/check_icon.svg"
            @click="check"
            title="Save"
        />
        <img
            v-if="save"
            src="@/assets/img/icons/disposer/save_icon.png"
            @click="save"
            title="Save"
        />
        <img
            v-if="trash"
            src="@/assets/img/icons/disposer/trash_icon.png"
            @click="deleteHandler"
            title="Delete"
        />
    </div>
</template>

<script>
    import { defaultConfirmSettings } from '@/utils/disposer/notifications-text-helper';

    export default {
        name: 'app-actions',

        props: {
            check: {
                type: Function,
                default: null,
            },
            edit: {
                type: Function,
                default: null,
            },
            back: {
                type: Function,
                default: null,
            },
            trash: {
                type: Function,
                default: null,
            },
            save: {
                type: Function,
                default: null,
            },
        },

        methods: {
            deleteHandler() {
                this.$confirm({
                  ...defaultConfirmSettings,
                  callback: confirm => {
                    if (confirm) {
                      this.trash();
                    }
                  },
                });
            },
        },
    };
</script>

<style scoped lang="scss">
    .app-actions{
        display: flex;
        align-items: center;
        img{
            display: block;

            width: 1rem;

            cursor: pointer;
            &:not(:last-of-type){
                margin-right: .5rem;
            }
        }
    }
</style>
