<template>
    <div
        class="checkbox-filter-list"
    >
        <div
            v-if="filteredParams.length"
            class="checkbox-filter-list__form"
            :class="{'checkbox-filter-list__form--show-more' : showList === true}"
        >
            <div
                v-for="item in filteredParams"
                :key="item.value"
                class="checkbox-filter-list__form-item"
            >
                <input
                    :id="item.value"
                    v-model="item.checked"
                    class="checkbox-filter-list__form-item-input visually-hidden"
                    type="checkbox"
                    @change="changeFilter(item)"
                />
                <label
                    class="checkbox-filter-list__form-item-label"
                    :for="item.value"
                >
                    {{ item.title }}
                </label>
            </div>
        </div>
        <div
            v-else
            class="checkbox-filter-list__empty"
        >
            Ничего не найдено
        </div>
        <div class="checkbox-filter-list__button-wrapper">
            <button
                class="checkbox-filter-list__button"
                :disabled="disableMoreButton"
                @click="showMoreItem"
            >
                <span v-if="!showList">Развернуть</span>
                <span v-else>Свернуть</span>
            </button>
            <button
                class="checkbox-filter-list__button checkbox-filter-list__button--reset"
                @click="resetCheckbox(filter.params)"
            >
                Сброс
            </button>
        </div>
        <filter-count-hint
            :is-hint-visible="isHintVisible"
            @hide-hint="hideHint"
        />
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import FilterCountHint from '@/components/pages/catalog/catalog-filters/parts/FilterCountHint.vue';
import { IFilter, IListParam } from '~/src/utils/interfaces/catalog';

export default Vue.extend({
    name: 'CheckboxFilterList',

    components: {
        FilterCountHint,
    },

    props: {
        filter: {
            type: Object,
            default: () => ({} as IFilter),
        },
    },

    data: () => ({
        showList: false,
        checkedItems: [] as number[],
        isHintVisible: false,
    }),

    computed: {
        disableMoreButton(): boolean {
            return this.filter.params.length < 7;
        },

        filteredParams(): [] {
            return this.filter.params.filter((param: IListParam) => param.title.includes(this.filter.searchString));
        },
    },

    mounted() {
        const filters = { ...this.$accessor.catalog.filters };
        if (filters[this.filter.name]) {
            this.checkedItems = filters[this.filter.name].items as number[];
            this.filter.params.forEach((item: IListParam) => {
                if (this.checkedItems.includes(item.value)) {
                    Vue.set(item, 'checked', true);
                }
            });
        }
    },

    methods: {
        showMoreItem(): void {
            this.showList = !this.showList;
        },

        resetCheckbox(): void {
            this.filter.params.forEach((item: IListParam) => {
                item.checked = false;
            });
            this.checkedItems = [];
            this.setFilter();
        },

        changeFilter(item: IListParam): void {
            if (item.checked) {
                this.checkedItems.push(item.value);
            }
            else {
                this.checkedItems = this.checkedItems.filter(checkedItem => checkedItem !== item.value);
            }

            this.setFilter();
        },

        async setFilter(): Promise<void> {
            this.$accessor.catalog.setFiltersAction({
                [this.filter.name]: {
                    items: [...this.checkedItems],
                },
            });

            const query = { ...this.$route.query };
            if (this.checkedItems.length) {
                query[this.filter.name] = this.checkedItems.join(',');
            }
            else {
                delete query[this.filter.name];
            }
            this.$router.replace({
                query,
            }).catch(() => {});

            await this.$accessor.catalog.getProductsAction();
            this.showHint();
        },

        showHint(): void {
            this.isHintVisible = true;
        },

        hideHint(): void {
            this.isHintVisible = false;
        },
    },
});
</script>

<style lang="scss" scoped>
.checkbox-filter-list {
    position: relative;

    display: flex;
    flex-direction: column;

    &__form {
        display: flex;
        flex-direction: column;

        max-height: 210px;
        margin-top: 24px;
        margin-bottom: 24px;
        overflow-y: auto;

        transition: max-height $common-transition-duration;

        &--show-more {
            max-height: 540px;

            transition: max-height $common-transition-duration;
        }

        &::-webkit-scrollbar {
            width: 4px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $green;
            border-radius: 6px;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
            border-radius: 6px;
        }

        scroll-bar::-webkit-scrollbar {
            width: 4px;
        }

        scroll-bar::-webkit-scrollbar-thumb {
            background-color: $green;
            border-radius: 6px;
        }

        scroll-bar::-webkit-scrollbar-track {
            background: transparent;
            border-radius: 6px;
        }

        &-item {
            margin-bottom: 16px;

            &:last-child {
                margin-bottom: 0;
            }

            &-label {
                position: relative;

                padding-left: 36px;

                font-size: 16px;
                line-height: 130%;
                color: $filter-font-gray;

                cursor: pointer;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;

                    width: 20px;
                    height: 20px;

                    border: 2px solid $filter-border-gray;
                    border-radius: 3px;
                }

                @include hover_device {
                    &:hover {
                        color: $black-second;

                        &::before {
                            background: url('@/assets/images/icon/checkmark.svg') center / 10px 8px no-repeat;
                            border: 2px solid rgba($green, 0.5);
                        }
                    }
                }
            }

            &-input:checked + &-label {
                color: $black-second;

                &::before {
                    background: url('@/assets/images/icon/checkmark.svg') center / 10px 8px no-repeat;
                    border: 2px solid $green;
                }
            }

            &-input:disabled + &-label {
                pointer-events: none;

                &::before {
                    background-color: $filter-border-gray;
                }
            }
        }
    }

    &__empty {
        margin: 10px 0;

        font-size: 16px;
        font-weight: 700;
        color: $black;
    }

    &__button-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__button {
        padding: 0;

        font-size: 16px;
        line-height: 1.3;
        font-weight: 700;
        color: $light-gray;

        cursor: pointer;

        transition: color $common-transition-duration;

        &:disabled {
            opacity: 0.5;
            pointer-events: none;
        }

        &:hover {
            color: $green;
        }

        &--reset {
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: 2px;
                left: -24px;

                width: 16px;
                height: 14px;

                background: url('@/assets/images/icon/reset-gray-icon.svg') no-repeat;
            }
        }
    }

    @include razr1259 {
        overflow-y: hidden;
    }
}

</style>
