<template>
    <button
        class="filter-block-header"
        :class="{'filter-block-header__active' : isActive === true}"
        @click="toggle"
    >
        <span><slot></slot></span>
        <arrow-icon />
    </button>
</template>

<script lang="ts">
import Vue from 'vue';
import ArrowIcon from '@/assets/images/icon/arrow-down-gray-icon.svg?inline';

export default Vue.extend({
    name: 'FilterBlockHeader',

    components: { ArrowIcon },

    props: {
        isActive: {
            type: Boolean,
            default: false,
        },
    },

    methods: {
        toggle(event: { target: { value: any; }; }) {
            this.$emit('toggle-filter', event.target.value);
        },
    },
});
</script>

<style lang="scss" scoped>
.filter-block-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 0;

    cursor: pointer;

    span {
        font-size: 18px;
        line-height: 1.3;
        font-weight: 700;
        color: $black-second;
    }

    svg {
        transition: transform $common-transition-duration;
    }

    &:hover {
        &::v-deep {
            path {
                stroke: $green;
            }
        }
    }

    &.filter-block-header__active {
        svg {
            transform: rotate(180deg);
        }
    }
}

</style>
