<template>
    <div
        v-if="isHintVisible"
        v-click-outside="hideHint"
        class="filter-hint__alert"
        @click="hideHint"
    >
        <p>Найдено {{ productCount }} шт</p>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { IProductsItem } from '~/src/utils/interfaces/catalog';

export default Vue.extend({
    name: 'FilterCountHint',

    props: {
        isHintVisible: {
            type: Boolean,
            default: false,
        },
    },

    computed: {
        productsList(): IProductsItem[] {
            return this.$accessor.catalog.productsList || [];
        },

        productCount(): number {
            return this.productsList.length || 0;
        },
    },

    mounted() {
        window.addEventListener('scroll', this.hideHint);
    },

    beforeDestroy() {
        window.removeEventListener('scroll', this.hideHint);
    },

    methods: {
        hideHint(): void {
            this.$emit('hide-hint');
        },
    },
});
</script>

<style lang="scss" scoped>
    .filter-hint__alert {
        position: absolute;
        top: 10px;
        right: -62%;
        z-index: 100;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 141px;
        height: 37px;

        background-color: $black;
        border-radius: 6px;

        p {
            font-size: 14px;
            line-height: 113.5%;
            font-weight: 700;
            color: $white;
        }

        &::before {
            content: '';
            position: absolute;
            left: -4px;

            width: 10px;
            height: 10px;

            background-color: $black;

            transform: rotate(45deg);
        }

        @include razr767 {
            display: none;
        }
    }
</style>
