<template>
    <ul class="product-menu-sublist">
        <li
            v-for="subcategory in subcategories"
            :key="subcategory.id"
            class="product-menu-sublist__item"
            :class="categoryClasses(subcategory)"
        >
            <span @click="openSubCategory(subcategory)">
                {{ subcategory.name }}
            </span>

            <ul
                v-if="isOpenSubCategory(subcategory)"
                class="product-menu-sublist"
            >
                <span
                    class="product-menu-list__item-title__all"
                    @click="openSubCategory(subcategory, true)"
                >
                    Смотреть весь раздел
                </span>
                <li
                    v-for="child in subcategory.children"
                    :key="child.id"
                    class="product-menu-sublist__item"
                    :class="categoryClasses(child)"
                >
                    <span @click="openSubCategory(child, true)">
                        {{ child.name }}
                    </span>
                </li>
            </ul>
        </li>
    </ul>
</template>

<script lang="ts">
import Vue from 'vue';
import { ICategory } from '~/src/utils/interfaces/catalog';

export default Vue.extend({
    name: 'ProductMenuSublist',

    props: {
        subcategories: {
            type: Array,
            default: () => ([]),
        },
        categoriesPath: {
            type: Array,
            default: () => ([]),
        },
    },

    data: () => ({
        openedSubCategory: 0,
    }),

    computed: {
        activeCategoryId(): number {
            return +this.$route.params.category;
        },

        isMobileOrTablet(): boolean {
            return this.$accessor.isMobileOrTablet;
        },
    },

    mounted() {
        this.openedSubCategory = Number(this.categoriesPath[1]);
    },

    methods: {
        openSubCategory(category: ICategory, isForce?: boolean): void {
            if (!this.isMobileOrTablet || isForce || !category.children?.length) {
                this.$accessor.catalog.resetFiltersAction();
                this.$router.replace({ params: { category: String(category.id), url: String(category.url) } }).catch(() => {});
                this.$emit('close');
            }
            else if (this.openedSubCategory !== category.id) {
                this.openedSubCategory = category.id;
            }
            else {
                this.openedSubCategory = 0;
            }
        },

        isOpenSubCategory(category: ICategory): boolean {
            if (category.children?.length) {
                if (this.openedSubCategory) {
                    return this.openedSubCategory === category.id;
                }
            }
            return false;
        },

        categoryClasses(category: ICategory): object {
            return { 'product-menu-sublist__item__active': category.id === this.activeCategoryId };
        },
    },
});
</script>

<style lang="scss" scoped>
.product-menu-sublist {
    display: flex;
    flex-direction: column;

    padding-top: 24px;
    padding-left: 16px;

    &__item {
        margin-bottom: 14px;
        padding-right: 30px;

        font-size: 16px;
        line-height: 1.3;
        color: $filter-font-gray;

        cursor: pointer;

        &:last-child {
            margin-bottom: 0;
        }

        span {
            transition: color $common-transition-duration;

            &.product-menu-list__item-title__all {
                display: none;
            }

            @include hover_device {
                &:hover {
                    color: $green;
                }
            }
        }

        &__active {
            & > span {
                color: $green;
                font-weight: 700;
            }
        }
    }
    @include tablet_landscape{
        padding-top: 0;
        &__item {
            span {
                &.product-menu-list__item-title__all {
                    display: block;

                    margin-bottom: 14px;
                    padding: 16px 0 0 0;

                    color: $green;
                    font-weight: 400;
                    text-decoration: underline;
                }
            }
        }
    }
}
</style>
