<template>
    <ul class="product-menu-list">
        <li
            v-for="category in categories"
            :key="category.id"
            class="product-menu-list__item"
        >
            <span
                class="product-menu-list__item-title"
                :class="categoryClasses(category)"
                @click="openCategory(category)"
            >
                {{ category.name }}
            </span>
            <template v-if="isOpenCategory(category)">
                <span
                    class="product-menu-list__item-title__all"
                    @click="openCategory(category, true)"
                >
                    Смотреть весь раздел
                </span>
                <product-menu-sublist
                    :subcategories="category.children"
                    :categories-path="categoriesPath"
                    @close="closeFilters"
                />
            </template>
        </li>
    </ul>
</template>

<script lang="ts">
import Vue from 'vue';
import ProductMenuSublist from '@/components/pages/catalog/catalog-filters/parts/ProductMenuSublist.vue';

import { ICategory } from '~/src/utils/interfaces/catalog';

export default Vue.extend({
    name: 'ProductMenuList',

    components: {
        ProductMenuSublist,
    },

    props: {
        categories: {
            type: Array,
            default: () => ([]),
        },
        categoriesPath: {
            type: Array,
            default: () => ([] as string[]),
        },
    },

    data: () => ({
        openedCategory: 0,
    }),

    computed: {
        activeCategoryId(): string {
            return this.$route.params.category;
        },

        isMobileOrTablet(): boolean {
            return this.$accessor.isMobileOrTablet;
        },
    },

    mounted() {
        this.openedCategory = Number(this.categoriesPath[0]);
    },

    methods: {
        openCategory(category: ICategory, isForce?: boolean): void {
            if (!this.isMobileOrTablet || isForce || !category.children?.length) {
                this.$accessor.catalog.resetFiltersAction();
                this.$router.replace({ params: { category: String(category.id), url: String(category.url) } }).catch(() => {});
                this.closeFilters();
            }
            else if (this.openedCategory !== category.id) {
                this.openedCategory = category.id;
            }
            else {
                this.openedCategory = 0;
            }
        },

        closeFilters(): void {
            this.$emit('close');
        },

        isOpenCategory(category: ICategory): boolean {
            if (category.children?.length) {
                if (this.openedCategory) {
                    return this.openedCategory === category.id;
                }
            }
            return false;
        },

        categoryClasses(category: ICategory): object {
            return { 'product-menu-list__item-title__active': +category.id === +this.activeCategoryId };
        },
    },
});
</script>

<style lang="scss" scoped>
.product-menu-list {
    display: flex;
    flex-direction: column;

    padding-top: 24px;

    &__item {
        margin-bottom: 20px;

        cursor: pointer;

        &:last-child {
            margin-bottom: 0;
        }

        span {
            display: inline-block;

            width: 100%;

            font-size: 16px;
            line-height: 1.2;
            font-weight: 700;
            color: $black-second;

            &.product-menu-list__item-title__active {
                color: $green;
            }
            &.product-menu-list__item-title__all {
                display: none;
            }
        }

        &-title {
            transition: $common-transition-duration;

            @include hover_device {
                &:hover {
                    color: $green;
                }
            }
        }
    }
    @include tablet_landscape{
        &__item {
            span {
                &.product-menu-list__item-title__all {
                    display: block;

                    margin-bottom: 14px;
                    padding: 24px 0 0 16px;

                    color: $green;
                    font-weight: 400;
                    text-decoration: underline;
                }
            }
        }
    }
}
</style>
