<template>
    <div
        class="price-range"
    >
        <div class="price-range__input-wrapper">
            <label>
                от
                <input
                    v-model="minInput"
                    v-mask="'##########'"
                    type="text"
                    @input="debouncedChangeRange"
                />
            </label>
            <label>
                до
                <input
                    v-model="maxInput"
                    v-mask="'##########'"
                    type="text"
                    @input="debouncedChangeRange"
                />
            </label>
        </div>
        <div class="price-range__range-slider">
            <client-only>
                <vue-slider
                    v-model="value"
                    :min="min"
                    :max="max"
                    :tooltip="'none'"
                    :enable-cross="false"
                    :rail-style="{ backgroundColor: '#E3E3E3', height: '2px' }"
                    :process-style="{ backgroundColor: '#1DC438' }"
                    :dot-style="{ backgroundColor: '#FFF', border: '4px solid #1dc438' }"
                    @dragging="changeRange"
                    @drag-end="endChangeRange"
                />
            </client-only>
        </div>
        <filter-count-hint
            :is-hint-visible="isHintVisible"
            @hide-hint="hideHint"
        />
    </div>
</template>

<script lang="ts">
import { debounce } from 'lodash';
import Vue from 'vue';
import FilterCountHint from '@/components/pages/catalog/catalog-filters/parts/FilterCountHint.vue';
import 'vue-slider-component/theme/antd.css';

export default Vue.extend({
    name: 'Range',

    components: {
        FilterCountHint,
    },

    props: {
        filter: {
            type: Object,
            default: () => ({}),
        },
    },

    data: () => ({
        minInput: 0,
        maxInput: 50000,
        value: [0, 50000],
        isHintVisible: false,
    }),

    computed: {
        debouncedChangeRange(): Function {
            return debounce(this.endChangeRange, 1000);
        },

        min(): number {
            return this.filter.params.min;
        },

        max(): number {
            return this.filter.params.max;
        },
    },

    mounted() {
        const filters = this.$accessor.catalog.filters;
        this.value[0] = this.minInput = filters[this.filter.name]?.min || this.min;
        this.value[1] = this.maxInput = filters[this.filter.name]?.max || this.max;
    },

    methods: {
        changeRange(): void {
            this.minInput = this.value[0];
            this.maxInput = this.value[1];
        },
        async endChangeRange(): Promise<void> {
            if (+this.minInput > +this.max) this.minInput = +this.max;
            if (+this.minInput < +this.min) this.minInput = +this.min;
            if (+this.maxInput > +this.max) this.maxInput = +this.max;
            if (+this.maxInput < +this.min) this.maxInput = +this.min;

            if (+this.minInput > +this.maxInput) this.maxInput = +this.minInput;
            Vue.set(this.value, 0, +this.minInput);
            Vue.set(this.value, 1, +this.maxInput);

            this.$accessor.catalog.setFiltersAction({
                [this.filter.name]: {
                    min: this.value[0],
                    max: this.value[1],
                },
            });

            await this.$accessor.catalog.getProductsAction();

            const query = {
                ...this.$route.query,
            };
            if (this.value[0] !== this.min || this.value[1] !== this.max) {
                query[this.filter.name] = `${ this.value[0] !== this.min ? this.value[0] : '' }-${ this.value[1] !== this.max ? this.value[1] : '' }`;
            }
            else {
                delete query[this.filter.name];
            }

            this.$router.replace({
                params: {
                    category: this.$route.params.category,
                    url: this.$route.params.url,
                },
                query,
            }).catch(() => {});

            this.showHint();
        },

        showHint(): void {
            this.isHintVisible = true;
        },

        hideHint(): void {
            this.isHintVisible = false;
        },
    },
});
</script>

<style lang="scss" scoped>
.price-range {
    position: relative;

    &__input-wrapper {
        display: flex;
        justify-content: space-between;

        margin-bottom: 14px;
        padding-top: 15px;

        label {
            display: flex;
            align-items: center;

            width: 141px;
            height: 40px;
            padding-left: 16px;

            font-size: 16px;
            line-height: 1.3;
            color: $filter-font-gray;

            background: $input-bg-color;
            border-radius: 6px;

            &:first-child {
                margin-right: 4px;
            }
        }

        input {
            width: 95px;
            padding-left: 4px;

            font-size: 16px;
            line-height: 1.3;
            color: $filter-font-gray;
        }
    }

    @include mobile {
        label {
            width: 47%;
            padding-left: 10px;

            font-size: 14px;
        }
    }
}
</style>
