<template>
    <footer>
        <a class="logo">
            <img :src="logo" />
        </a>
        <div
            class="copy"
            v-html="footerContent"
        ></div>
        <div class="right">
            <a
                href="mailto:virtual.platform@m-phar.com"
                class="mail"
            >
                <img src="@/assets/img/icons/mail-purple_icon.svg" />
                {{ supportEmail }}
            </a>
            <a
                :href="`tel:${phoneHref}`"
                class="phone"
            >
                <img src="@/assets/img/icons/phone_icon.png" />
                {{ supportPhone }}
            </a>
        </div>
    </footer>
</template>

<script>
    import generateUrl from '@/utils/mixins/generate_url';

    export default {
        name: 'layout-footer',

        mixins: [generateUrl],

        computed: {
          platform() {
            return this.$store.getters['platform/platform'];
          },
          logo() {
            return this.generateUrl(this.platform?.interface?.company_logo, '');
          },
          phoneHref() {
            return this.platform?.interface?.support_phone.replaceAll('+','').replaceAll(' ', '');
          },
          supportEmail() {
            return this.platform?.interface?.support_email;
          },
          supportPhone() {
            return this.platform?.interface?.support_phone;
          },
          footerContent() {
            return this.platform?.interface?.footer_content;
          },
        },
    };
</script>

<style scoped lang="scss">
    footer{
        display: flex;
        justify-content: space-between;
        align-items: center;

        height: 8vh;
        margin-top: auto;
        padding: 0 0 0 0.2rem;

        background: white;
    }
    .logo{
        display: block;

        width: 9.5rem;
        img{
            width: 100%;
        }
    }
    .copy{
        width: 46rem;

        font-size: to_rem(12px);
        text-align: center;
        color: $copyGray;
    }
    .right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 100%;
        padding: 0 .7rem;

        background: #f6f6f6;
    }
    a{
        margin: 0.2rem 0;

        font-size: to_rem(16px);
        color: $mainPurple;
        img{
            width: 1rem;
            margin-right: 0.5rem;
        }
    }

    @include mobile_or_P{
        footer{
            margin-top: 1rem;
            padding: 0 0 0 1.2rem;
            .logo{
                width: 9.6rem;
                margin-left: 0.8rem;
            }
            .copy{
                width: 21rem;
            }
            .right{
                justify-content: center;

                width: 14rem;
                height: 100%;


                background: $lightGray;
                img{
                    width: 1rem;
                    margin: 0 .5rem 0 0;
                }
            }
            a{
                display: flex;
                justify-content: center;
                align-items: center;

                font-size: 12px;
                text-align: center;
            }
        }
    }

    @include razr767{
        footer{
            flex-direction: column;

            height: auto;
            padding: 1rem 0 0;
            .logo{
                width: 13rem;
            }
            .copy{
                width: 88%;
                margin-top: 0.8rem;

                font-size: 1rem;
                line-height: 1.5;
            }
            .right{
                width: 100%;
                height: auto;
                margin-top: 1rem;
                padding: 1rem 0;

                font-size: 1.35rem;
                img{
                    width: 1.5rem;
                    margin: 0 1rem 0 0;
                }
            }
        }
    }
</style>
