<template>
    <div class="delivery">
        <div class="delivery__header">
            <div class="delivery__header-top">
                <p class="delivery__header-top-title">
                    Доставка: курьером
                </p>
                <p
                    v-if="deliveryPrice"
                    class="delivery__header-top-price"
                >
                    Стоимость доставки: {{ deliveryPrice }} <span>₽</span>
                </p>
            </div>
            <p
                v-if="!token"
                class="delivery__header-text"
            >
                Уже зарегистрированы?
                <nuxt-link
                    class="green"
                    to="/login"
                >
                    Войдите
                </nuxt-link>
            </p>
        </div>

        <div
            ref="map"
            class="delivery__map"
        ></div>

        <div class="delivery__control">
            <common-input
                v-model="address"
                type="text"
                placeholder="Адрес доставки"
                :autocomplete-options="suggestArray"
                :error="addressError"
                @input="debouncedChangeAddress"
                @autocomplete-action="selectAddress"
            />

            <div class="delivery__control-button">
                <div class="delivery__control-button-position delivery__control-button-position--calendar">
                    <v-popover
                        placement="top"
                        offset="10"
                        :open="showCalendar"
                        @show="openCalendar"
                    >
                        <button
                            class="delivery__control-button-date"
                            :class="{ error: dateError }"
                            @click="toggleCalendar"
                        >
                            <calendar-icon class="delivery__control-button-date-icon" />
                            <span>{{ showDate }}</span>
                        </button>
                        <delivery-calendar
                            slot="popover"
                            ref="deliveryDate"
                            :selected-date="selectedDate"
                            @change-date="selectDate"
                        />
                    </v-popover>
                </div>

                <div class="delivery__control-button-position">
                    <v-popover
                        placement="top"
                        offset="10"
                        trigger="manual"
                        :open="showTime"
                    >
                        <button
                            class="delivery__control-button-time"
                            :class="{ error: timeError }"
                            @click="toggleTime"
                        >
                            <time-icon class="delivery__control-button-time-icon" />
                            <span>{{ selectedTime || 'Время' }}</span>
                        </button>
                        <delivery-time
                            slot="popover"
                            :selected-time="selectedTime"
                            @change-time="selectTime"
                        />
                    </v-popover>
                </div>
                <common-button
                    class="common-button--green"
                    :class="{'common-button--gray-disabled' :disabledButton}"
                    @click="saveDeliveryInfo"
                >
                    Выбрать
                </common-button>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { debounce } from 'lodash';
import { required } from 'vuelidate/lib/validators';

import CommonButton from '@/components/common/CommonButton.vue';
import DeliveryCalendar from '@/components/layouts/modal/parts/delivery/parts/DeliveryCalendar.vue';
import DeliveryTime from '@/components/layouts/modal/parts/delivery/parts/DeliveryTime.vue';
import CalendarIcon from '@/assets/images/map/calendar.svg?inline';
import TimeIcon from '@/assets/images/map/time-icon.svg?inline';

import CommonInput from '~/src/components/common/CommonInput.vue';
import { REQUIRED_ERROR, DELIVERY_RESTRICTION_ERROR } from '~/src/utils/errors-texts';
import { IAddressItem, IDeliveryInfo } from '~/src/utils/interfaces/cart';
import { IObjectAnyProps } from '~/src/utils/interfaces';

export default Vue.extend({
    name: 'Delivery',

    components: {
        CommonInput,
        CommonButton,
        DeliveryCalendar,
        DeliveryTime,
        CalendarIcon,
        TimeIcon,
    },

    data: () => ({
        showCalendar: false,
        showTime: false,
        selectedDate: '',
        selectedTime: '',

        map: null,
        placemark: null,
        suggestArray: [],
        address: '',
        findAddressError: '',
        deliveryRestrictionError: false,
    }),

    validations: {
        address: {
            required,
        },
        selectedDate: {
            required,
        },
        selectedTime: {
            required,
        },
    },

    computed: {
        token(): string {
            return this.$accessor.auth.accessToken;
        },

        cityDefaultCenter(): number[] {
            const city = this.$accessor.auth.city;
            if (city === 'Москва') {
                return [55.76, 37.64];
            }
            return [59.94, 30.32];
        },

        debouncedChangeAddress(): Function {
            //@ts-ignore
            return debounce(this.searchAddress, 100);
        },

        addressError(): string {
            if (this.$v.$dirty && !this.$v.address.required) {
                return REQUIRED_ERROR;
            }
            if (this.deliveryRestrictionError) {
                return DELIVERY_RESTRICTION_ERROR;
            }
            return this.findAddressError;
        },

        dateError(): string | boolean {
            return this.$v.$dirty && !this.$v.selectedDate.required;
        },

        timeError(): string | boolean {
            return this.$v.$dirty && !this.$v.selectedTime.required;
        },

        disabledButton(): boolean {
            return this.$v.$invalid;
        },

        deliveryInfo(): IDeliveryInfo {
            return this.$accessor.cart.deliveryInfo;
        },

        deliveryPrice(): IDeliveryInfo {
            return this.$accessor.cart.deliveryPrice;
        },

        showDate(): string {
            return this.selectedDate ? this.$dayjs(this.selectedDate).format('DD, dd') : 'Дата';
        },
    },

    mounted() {
        this.initMap();
        this.setDeliveryInfo();
    },

    methods: {
        openCalendar() {
            //@ts-ignore
            this.$refs.deliveryDate.selectDate();
        },

        toggleCalendar(): void {
            this.showCalendar = !this.showCalendar;
        },

        selectDate(date: string): void {
            this.selectedDate = date;
            this.toggleCalendar();
        },

        toggleTime(): void {
            this.showTime = !this.showTime;
        },

        selectTime(time: string): void {
            this.selectedTime = time;
            this.toggleTime();
        },

        initMap(): void {
            //@ts-ignore
            this.map = new ymaps.Map(this.$refs.map, {
                center: this.cityDefaultCenter,
                zoom: 10,
                controls: [],
            });

            //@ts-ignore
            this.map!.events.add('click', (e) => {
                const coords = e.get('coords');
                if (!this.placemark) {
                    this.setPlacemark(coords);
                }
                else {
                    this.getAddress(coords);
                }
            });
        },

        setDeliveryInfo(): void {
            if (this.deliveryInfo.address) {
                this.address = this.deliveryInfo.address;
                this.selectedDate = this.deliveryInfo.selectedDate;
                this.selectedTime = this.deliveryInfo.selectedTime;
                this.selectAddress();
            }
        },

        setPlacemark(coords: number[][]) {
            //@ts-ignore
            this.placemark = new ymaps.Placemark(coords, {}, {
                iconLayout: 'default#image',
                iconImageHref: '/mapMarker.png',
                iconImageSize: [43, 54],
                iconImageOffset: [-21, -54],
                draggable: true,
            });
            //@ts-ignore
            this.map.geoObjects.add(this.placemark);
            this.getAddress(coords);
            //@ts-ignore
            this.placemark.events.add('dragend', () => {
                //@ts-ignore
                this.getAddress(this.placemark.geometry.getCoordinates());
            });
        },

        getAddress(coords: number[][]) {
            //@ts-ignore
            this.placemark.geometry.setCoordinates(coords);
            //@ts-ignore
            ymaps.geocode(coords).then((res: IObjectAnyProps) => {
                const firstGeoObject = res.geoObjects.get(0);
                //@ts-ignore
                this.placemark.properties.set({
                    balloonContent: firstGeoObject.getAddressLine(),
                });
                this.address = firstGeoObject.getAddressLine();
                this.selectAddress(null, true);
            });
        },

        searchAddress(): void {
            //@ts-ignore
            ymaps.suggest(this.address, { boundedBy: [[60.19, 30.057], [55.6, 37.9]] }).then((items) => {
                this.suggestArray = items.map((item: IAddressItem) => {
                    const region = item.value.split(',').slice(0, 2).join(',');
                    item.html = `<div class="autocomplete-item">
                                    <div class="autocomplete-name">${ item.displayName }</div>
                                    <div class="autocomplete-region">${ region }</div>
                                </div>`;
                    return item;
                });
            });
        },

        selectAddress(value?: IAddressItem | null, onlyCheckAddress?: boolean): void {
            this.deliveryRestrictionError = false;
            if (value) {
                this.address = value?.value;
            }
            //@ts-ignore
            ymaps.geocode(this.address).then((res) => {
                const obj = res.geoObjects.get(0);
                if (obj) {
                    this.findAddressError = '';
                    switch (obj.properties.get('metaDataProperty.GeocoderMetaData.precision')) {
                        case 'exact':
                            break;
                        case 'number':
                        case 'near':
                        case 'range':
                            this.findAddressError = 'Неточный адрес, требуется уточнение. Уточните номер дома';
                            break;
                        case 'street':
                            this.findAddressError = 'Неполный адрес, требуется уточнение. Уточните номер дома';
                            break;
                        case 'other':
                        default:
                            this.findAddressError = 'Неточный адрес, требуется уточнение. Уточните адрес';
                    }
                }
                else {
                    this.findAddressError = 'Адрес не найден. Уточните адрес';
                }

                if (!onlyCheckAddress) {
                    const coordinates = obj.geometry._coordinates;
                    if (coordinates) {
                        //@ts-ignore
                        this.map!.setCenter(coordinates);
                        //@ts-ignore
                        this.map!.setZoom(16);

                        if (!this.placemark) {
                            this.setPlacemark(coordinates);
                        }
                        else {
                            this.getAddress(coordinates);
                        }
                    }
                }
            }, () => {
                this.findAddressError = 'Неточный адрес, требуется уточнение. Уточните адрес';
            });
        },

        saveDeliveryInfo(): void | boolean {
            if (this.$v.$invalid) {
                this.$v.$touch();
                return false;
            }
            if (!this.address.includes('Москва') && !this.address.includes('Санкт-Петербург')) {
                this.deliveryRestrictionError = true;
                return false;
            }
            const deliveryObj = {
                address: this.address,
                selectedDate: this.selectedDate,
                selectedTime: this.selectedTime,
            };
            this.$accessor.cart.setDeliveryInfoAction(deliveryObj);
            localStorage.deliveryInfo = JSON.stringify(deliveryObj);
            this.$accessor.modal.CLOSE_MODAL_ACTION();
        },
    },
});
</script>

<style lang="scss" scoped>
.delivery {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 1100px;
    padding: 84px 84px 89px;

    border-radius: 18px;

    &__header {
        display: flex;
        justify-content: space-between;

        margin-bottom: 30px;

        &-top {
            &-title {
                position: relative;

                margin-bottom: 8px;
                padding-left: 64px;

                font-size: 31px;
                line-height: 1.2;
                font-weight: bold;
                color: $black-second;

                &::before {
                    content: '';
                    position: absolute;
                    left: 0;

                    width: 52px;
                    height: 34px;

                    background: url('src/assets/images/map/delivery-icon.svg') center / cover no-repeat;
                }
            }

            &-price {
                position: relative;

                padding-left: 78px;

                font-size: 14px;
                font-weight: 600;
                color: $light-gray-fifth;

                & span {
                    font-size: 13px;
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 3px;
                    left: 64px;

                    width: 6px;
                    height: 6px;

                    background-color: $light-gray-fifth;
                    border-radius: 50%;
                }
            }
        }

        &-text {
            padding-top: 8px;

            font-size: 14px;
            font-weight: 600;
            color: $light-gray-fifth;

            & a {
                color: $green;
                text-decoration: none;

                border-bottom: 1px solid $green;
            }
        }

    }

    &::v-deep {
        .common-input__autocomplete-wrapper {
            top: 100%;
        }

        .autocomplete {
            &-item {
                padding: 10px 16px;

                cursor: pointer;
            }

            &-option__selected {
                background: $white;
            }

            &-name {
                margin-bottom: 7px;

                font-size: 13px;
                font-weight: 700;
                line-height: 1.25;
            }

            &-region {
                color: $light-gray-second;
            }
        }
    }

    &__map {
        width: 932px;
        height: 264px;
        margin-bottom: 34px;

        border-radius: 18px;

        &::v-deep {
            [class$=copyrights-pane] {
                display: none;
            }
        }
    }

    &__control {
        display: flex;
        justify-content: space-between;
        align-items: center;

        height: 90px;
        padding: 0 15px;

        border: 1px solid $light-gray-ninth;
        border-radius: 18px;

        .common-input {
            width: 412px;
            padding-bottom: 0;

            &::v-deep {
                input {
                    font-size: 14px;
                }
            }
        }

        button {
            color: $black-second;

            transition: color $common-transition-duration;

            span {
                display: inline-block;

                padding-left: 13px;

                font-size: 14px;
                line-height: 1.3;
                font-weight: bold;
            }

            &:hover {
                color: $green;
            }
        }

        &-button {
            display: flex;
            align-items: center;
            &-position {
                position: relative;
            }

            &-date {
                display: flex;
                justify-content: center;
                align-items: center;

                min-width: 80px;
                margin-right: 24px;
                padding: 0;

                cursor: pointer;
                &.error {
                    .delivery__control-button-date-icon {
                        &::v-deep {
                            path {
                                fill: $red;
                            }
                        }
                    }
                }
            }

            &-time {
                display: flex;
                justify-content: center;
                align-items: center;

                min-width: 90px;
                margin-right: 15px;
                padding: 0;

                cursor: pointer;

                &.error {
                    .delivery__control-button-time-icon {
                        &::v-deep {
                            path {
                                fill: $red;
                                &[stroke-linecap='round'] {
                                    stroke: $red;
                                }
                            }
                        }
                    }
                }
            }

            .common-button {
                width: 151px;
                height: 60px;
            }
        }
    }

    @include razr1259 {
        max-width: 880px;
        padding: 65px 60px 52px;

        &__header {
            margin-bottom: 24px;

            &-top {
                &-title {
                    margin-bottom: 12px;
                    padding-left: 54px;

                    font-size: 24px;

                    &::before {
                        width: 42px;
                        height: 28px;
                    }
                }

                &-price {
                    padding-left: 15px;

                    &::before {
                        left: 0;
                    }
                }
            }

            &-text {
                font-size: 14px;
                font-weight: 600;
                color: $light-gray-fifth;

                & a {
                    color: $green;
                    text-decoration: none;

                    border-bottom: 1px solid $green;
                }
            }
        }

        &__map {
            width: 760px;
            height: 234px;
        }

        &__control {
            height: 80px;

            .common-input {
                width: 344px;
                height: 50px;
            }

            &-button {
                .common-button {
                    width: 90px;
                    height: 50px;

                    font-size: 14px;
                }
            }
        }
    }

    @include razr1023 {
        max-width: 720px;
        padding: 66px 24px;

        &__header {
            margin-bottom: 24px;

            &-top {
                &-title {
                    margin-bottom: 12px;
                    padding-left: 54px;

                    font-size: 24px;

                    &::before {
                        width: 42px;
                        height: 28px;
                    }
                }

                &-price {
                    padding-left: 15px;

                    &::before {
                        left: 0;
                    }
                }
            }

            &-text {
                font-size: 14px;
                line-height: 100%;
                font-weight: 600;
                color: $light-gray-fifth;

                & a {
                    color: $green;
                    text-decoration: none;

                    border-bottom: 1px solid $green;
                }
            }
        }

        &__map {
            width: 672px;
            height: 254px;
        }

        &__control {
            .common-input {
                width: 300px;
            }

            &-button {
                &-date {
                    width: 80px;

                    & span {
                        font-size: 12px;
                    }
                }

                &-time {
                    min-width: 90px;
                    margin-right: 12px;

                    & span {
                        font-size: 12px;
                    }
                }
            }
        }
    }

    @include razr767 {
        width: 95.7vw;
        padding: 43px 12px;

        &__header {
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            margin-bottom: 14px;

            &-top {
                margin-bottom: 14px;

                &-title {
                    margin-bottom: 14px;
                    padding-left: 44px;

                    font-size: 18px;

                    &::before {
                        width: 32px;
                        height: 21px;
                    }
                }
            }

            &-text {
                width: 100%;
                padding: 16px 0 15px;

                text-align: center;

                background: rgba(29, 196, 56, 0.04);
                border-radius: 8px;
            }
        }

        &__map {
            width: 100%;
            height: 199px;
            margin-bottom: 14px;
        }

        &__control {
            flex-wrap: wrap;

            height: auto;
            padding: 0;

            border: none;

            .common-input {
                width: 100%;
                margin-bottom: 14px;
            }

            &-button {
                flex-wrap: wrap;
                justify-content: space-between;

                width: 100%;

                &-date {
                    width: 160px;
                    height: 50px;
                    margin-right: 0;

                    border: 1px solid $input-border-color;
                    border-radius: 8px;

                    span {
                        font-size: 13px;
                    }
                }

                &-time {
                    min-width: 160px;
                    height: 50px;
                    margin-right: 0;

                    border: 1px solid $input-border-color;
                    border-radius: 8px;

                    span {
                        font-size: 13px;
                    }
                }

                .common-button {
                    width: 100%;
                    margin-top: 14px;
                }
            }
        }
    }

    @include razr365 {
        .modal__container {
            padding: 40px 8px;
        }
        .delivery__control-button-date {
            width: 135px;
        }
        .delivery__control-button-time {
            min-width: 135px;
        }
    }
}
</style>
