ins, del {
    text-decoration: none !important;
}

del.ice-del {
    display: none;
}

ins.ice-ins, ins.ice-del {
    white-space: pre-wrap;
    text-decoration: none !important;
}

ins.ice-no-decoration, del.ice-no-decoration {
    text-decoration: none !important;
}

/*.ICE-Tracking span.ice-ins, .ICE-Tracking ins.ice-ins, .ICE-Tracking span.ice-del, .ICE-Tracking del.ice-del {*/
/*    color: #000;*/
/*}*/

.ICE-Tracking span.ice-del, .ICE-Tracking del.ice-del {
    display: inline;
    text-decoration: line-through !important;
    color: #555;
    background-color: #e5ffcd !important;
}

.ICE-Tracking .ice-ins, .ICE-Tracking .ice-ins > * {
    background-color: #e5ffcd !important;
}

.ICE-Tracking .ice-ins.ice-cts-1, .ICE-Tracking .ice-ins.ice-cts-1 > * {
    background-color: #e5ffcd !important;
}

.ICE-Tracking .ice-ins.ice-cts-2, .ICE-Tracking .ice-ins.ice-cts-2 > * {
    background-color: #e3ffff !important;
}

.ICE-Tracking .ice-ins.ice-cts-3, .ICE-Tracking .ice-ins.ice-cts-3 > * {
    background-color: #fdd !important;
}

.ICE-Tracking .ice-ins.ice-cts-4, .ICE-Tracking .ice-ins.ice-cts-4 > * {
    background-color: #90fcff !important;
}

.ICE-Tracking .ice-ins.ice-cts-5, .ICE-Tracking .ice-ins.ice-cts-5 > * {
    background-color: #497121 !important;
}

.ICE-Tracking .ice-ins.ice-cts-6, .ICE-Tracking .ice-ins.ice-cts-6 > * {
    background-color: #ff9597 !important;
}

.ICE-Tracking .ice-ins.ice-cts-7, .ICE-Tracking .ice-ins.ice-cts-7 > * {
     background-color: #ffa2d9 !important;
 }

.ICE-Tracking .ice-ins.ice-cts-8, .ICE-Tracking .ice-ins.ice-cts-8 > * {
    background-color: #efafff !important;
}

.ICE-Tracking .ice-ins.ice-cts-9, .ICE-Tracking .ice-ins.ice-cts-9 > * {
    background-color: #beb5ff !important;
}

.ICE-Tracking .ice-ins.ice-cts-10, .ICE-Tracking .ice-ins.ice-cts-10 > * {
    background-color: #f1ff9f !important;
}

.ICE-Tracking .ice-ins.ice-cts-11, .ICE-Tracking .ice-ins.ice-cts-11 > * {
    background-color: #a8e0ff !important;
}

.ICE-Tracking .ice-ins.ice-cts-12, .ICE-Tracking .ice-ins.ice-cts-12 > * {
    background-color: #fffa49 !important;
}

.ICE-Tracking .ice-del.ice-cts-1 {
    background-color: #e5ffcd !important;
}

.ICE-Tracking .ice-del.ice-cts-2 {
    background-color: #e3ffff !important;
}

.ICE-Tracking .ice-del.ice-cts-3 {
    background-color: #fdd !important;
}

.ICE-Tracking .ice-del.ice-cts-4 {
    background-color: #90fcff !important;
}

.ICE-Tracking .ice-del.ice-cts-5 {
    background-color: #497121 !important;
}

.ICE-Tracking .ice-del.ice-cts-6 {
    background-color: #ff9597 !important;
}

.ICE-Tracking .ice-del.ice-cts-7 {
    background-color: #ffa2d9 !important;
}

.ICE-Tracking .ice-del.ice-cts-8 {
    background-color: #efafff !important;
}

.ICE-Tracking .ice-del.ice-cts-9 {
    background-color: #beb5ff !important;
}

.ICE-Tracking .ice-del.ice-cts-10 {
    background-color: #f1ff9f !important;
}

.ICE-Tracking .ice-del.ice-cts-11 {
    background-color: #a8e0ff !important;
}

.ICE-Tracking .ice-del.ice-cts-12 {
    background-color: #fffa49 !important;
}
