<template>
    <div class="change-email modal-content--sm">
        <h2 class="modal-content-header">
            Смена почтового адреса
        </h2>
        <div class="change-email-error">
            <p class="change-email-error__title">
                Изменить почтовый адрес профиля
            </p>
            <p class="change-email-error__description">
                Ссылка, отправленная на ваш почтовый адрес, устарела.
            </p>
            <p
                v-if="changingEmailStartedAuthorized"
                class="change-email-error__description"
            >
                Для завершения изменения почтового адреса необходимо повторно отправить ссылку на <span>{{ newEmail }}</span> и подтвердить завершение смены почтового адреса.
            </p>
            <p
                v-if="showResendText"
                class="change-email-error__resent"
            >
                {{ resendMessage }}
            </p>
            <button
                v-if="showResendButton"
                class="change-email-error__button-again"
                @click="resendMail"
            >
                {{ resendMessage }}
            </button>
            <common-button
                class="common-button--green"
                @click="closePopup"
            >
                Готово
            </common-button>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import CommonButton from '@/components/common/CommonButton.vue';
import { RUpdateEmail } from '~/src/utils/api/requests/user';

export default Vue.extend({
    name: 'ErrorChangeEmailModal',

    components: {
        CommonButton,
    },

    data: () => ({
        resendMessage: 'Отправить письмо-подтверждение повторно',
        mailSent: false,
    }),

    computed: {
        token(): string {
            return this.$accessor.auth.accessToken;
        },

        showResendText(): boolean {
            return this.changingEmailStartedAuthorized && this.mailSent;
        },

        showResendButton(): boolean {
            return this.changingEmailStartedAuthorized && !this.mailSent;
        },

        userEmailConfirm(): { email: string } | null {
            return this.$accessor.auth.userEmailConfirm;
        },

        changingEmailStarted(): boolean {
            return this.userEmailConfirm?.email !== '';
        },

        changingEmailStartedAuthorized(): boolean {
            return this.userEmailConfirm?.email !== '' && this.token !== '';
        },

        newEmail(): string {
            return this.changingEmailStarted ? this.userEmailConfirm!.email : '';
        },
    },

    methods: {
        async resendMail(): Promise<void> {
            const response = await this.$request(RUpdateEmail({
                obj: {
                    email: this.newEmail,
                },
            }));

            if (response.RESPONSE_STATUS === 200) {
                this.mailSent = true;
                this.resendMessage = 'Письмо отправлено';
            }
            else {
                this.mailSent = false;
                this.resendMessage = 'Что-то пошло не так... Попробуйте позже';
            }
        },

        closePopup(): void {
            this.$accessor.modal.CLOSE_MODAL_ACTION();
        },
    },
});
</script>

<style lang="scss" scoped>
.change-email {
    display: flex;
    flex-direction: column;
}

.change-email-error {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    min-height: 377px;
    padding: 33px 36px 46px;

    &__title {
        margin-bottom: 8px;

        font-size: 20px;
        line-height: 30px;
        font-weight: 600;
        text-align: center;
    }

    &__description {
        max-width: 470px;

        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: $modal-color-gray;

        span {
            margin: 0 10px;

            font-weight: 600;
            color: $black;
        }
    }

    &__resent {
        margin-top: auto;
        margin-bottom: 24px;
        padding: 0;

        font-size: 16px;
        line-height: 1;
        font-weight: 600;
        color: $green;
    }

    &__button-again {
        position: relative;

        margin-top: auto;
        margin-bottom: 24px;
        margin-left: 38px;
        padding: 0;

        font-size: 16px;
        line-height: 1;
        font-weight: 600;
        color: $green;

        border-bottom: 1px solid $green;

        cursor: pointer;

        transition: opacity $common-transition-duration;

        @include hover_device {
            &:hover {
                opacity: 0.7;
            }
        }

        &::before {
            content: '';
            position: absolute;
            top: -4px;
            left: -38px;

            width: 22px;
            height: 22px;

            background: url('@/assets/images/icon/repeat-icon.svg') center / contain no-repeat;
        }
    }

    .common-button--green {
        width: 178px;
        margin-top: auto;
    }
}

@include razr1259 {
    .change-email-error {
        min-height: 318px;
        padding: 24px 18px 32px;

        &__title {
            margin-bottom: 8px;

            font-size: 16px;
            line-height: 28px;
        }

        &__description {
            max-width: 370px;

            font-size: 14px;
            line-height: 20px;

            span {
                margin: 0;
            }
        }

        &__resent {
            font-size: 14px;
        }

        &__button-again {
            margin-left: 30px;

            font-size: 14px;

            &::before {
                top: 0;
                left: -30px;

                width: 18px;
                height: 18px;
            }
        }
    }
}

@include razr767 {
    .change-email-error {
        min-height: 408px;
        padding: 24px 13px 27px;

        &__title {
            max-width: 270px;
            margin-bottom: 14px;

            font-size: 21px;
            line-height: 1.2;
        }

        &__description {
            max-width: 300px;

            font-size: 14px;
            line-height: 1.5;
        }

        &__resent, &__button-again {
            margin-bottom: 70px;

            font-size: 12px;
        }
    }
}

</style>
