<template>
    <div class="need-auth modal-content--sm">
        <div class="modal-content-header">
            <h3>
                Авторизуйтесь
            </h3>
        </div>
        <div class="modal-content-body">
            <img
                src="@/assets/images/icon/mail-icon.svg"
                alt="mail icon"
            />
            <div class="modal-content__title">
                Данная функция доступна только для авторизованных пользователей!
            </div>
            <common-button
                tag="nuxt-link"
                to="/login"
                class="modal-content-body__button common-button--green"
                @click.native="closePopup"
            >
                Войти
            </common-button>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import CommonButton from '@/components/common/CommonButton.vue';

export default Vue.extend({
    name: 'NeedAuth',

    components: {
        CommonButton,
    },

    methods: {
        closePopup() {
            this.$accessor.modal.CLOSE_MODAL_ACTION();
        },
    },
});
</script>

<style lang="scss" scoped>
    .modal-content {
        &-body {
            img {
                margin-bottom: 24px;
            }

            &__button {
                width: 178px;
                margin: 0 auto;
            }
        }

        &__title {
            margin-bottom: 24px;
        }
    }
</style>
