<template>
    <div class="change-email modal-content--sm">
        <h2 class="modal-content-header">
            Смена почтового адреса
        </h2>
        <div class="change-email-success">
            <p class="modal-content__title">
                Почтовый адрес успешно сохранен!
            </p>
            <p class="modal-content__text">
                Вы всегда можете изменить почтовый адрес в личном кабинете
            </p>
            <img
                src="@/assets/images/icon/check-in-circle-icon.svg"
                alt="success icon"
            />
            <common-button
                class="common-button--green"
                @click="closePopup"
            >
                Готово
            </common-button>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import CommonButton from '@/components/common/CommonButton.vue';

export default Vue.extend({
    name: 'ThxChangeEmailModal',

    components: {
        CommonButton,
    },

    methods: {
        closePopup(): void {
            this.$accessor.modal.CLOSE_MODAL_ACTION();
        },
    },
});
</script>

<style lang="scss" scoped>
.change-email {
    display: flex;
    flex-direction: column;
}

.change-email-success {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    min-height: 377px;
    padding: 33px 36px 46px;

    .modal-content__text {
        margin-top: 8px;
        margin-bottom: 32px;
    }

    .common-button--green {
        width: 178px;
        margin-top: auto;
    }
}

@include razr1259 {
    .change-email-success {
        min-height: 318px;
        padding: 24px 18px 32px;
    }

    .modal-content__title {
        font-size: 16px;
        line-height: 28px;
    }

    .modal-content__text {
        margin-top: 8px;
        margin-bottom: 24px;
    }
}

@include razr767 {
    .change-email-success {
        min-height: 408px;
        padding: 14px 13px 27px;

        .modal-content__title {
            font-size: 21px;
            line-height: 1.2;
        }

        .modal-content__text {
            margin-top: 14px;
            margin-bottom: 24px;
        }
    }
}

</style>
