<template>
    <div class="thx-registration-modal modal-content--sm">
        <div class="modal-content-header">
            <h3>
                Добро пожаловать
            </h3>
        </div>
        <div class="thx-registration-content">
            <img
                src="@/assets/images/icon/mail-icon.svg"
                alt="mail icon"
            />
            <div class="modal-content__title">
                Спасибо за регистрацию!
            </div>
            <div class="modal-content__text">
                Ваш email подтвержден!
            </div>
            <common-button
                class="common-button--green"
                @click="closePopup"
            >
                Понятно
            </common-button>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import CommonButton from '@/components/common/CommonButton.vue';

export default Vue.extend({
    name: 'ThxRegistrationModal',

    components: {
        CommonButton,
    },

    methods: {
        closePopup() {
            this.$accessor.modal.CLOSE_MODAL_ACTION();
        },
    },
});
</script>

<style lang="scss" scoped>
.thx-registration-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .thx-registration-content {
        padding: 50px 36px 55px;
    }

    .common-button {
        width: 175px;
        margin: 24px auto 0;
    }

    @include razr1259 {
        .thx-registration-content {
            padding: 24px 18px 32px;
        }
    }

    @include razr767 {
        .thx-registration-content {
            padding: 14px 13px 27px;
        }
    }
}
</style>
