<template>
    <div class="app-comments">
        <div
            v-for="comment in comments"
            :key="comment.id"
            class="app-comments__discuss"
            :class="{hover: comment.hover}"
        >
            <div
                class="app-comments__comment app-comments__comment__main"
                :class="{short: type==='short', forAll: comment.type===4, hover: comment.hover}"
                @mouseenter="toggleComment(comment, true)"
                @mouseleave="toggleComment(comment, false)"
            >
                <img :src="generateUrl(comment.avatar)" />
                <div class="info">
                    <div class="name">
                        {{ comment.name }}
                        <span
                            v-if="comment.color"
                            class="online"
                            :style="{background: comment.color}"
                        >
                            {{ comment.number || '' }}
                        </span>
                    </div>
                    <div class="line">
                        <div class="left">
                            <div class="info">
                                <div class="date">
                                    {{ comment.date }} |
                                    <span @click="toggleComments(comment)">
                                        {{ comment.count_comments }} {{ $t('dash_comments', 'Comments') }}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div
                            class="right"
                            :class="{top: type==='short'}"
                        >
                            <div
                                v-if="type==='standard'"
                                class="likes"
                                :class="{deleted: comment.deleted}"
                                :data-disabled="!topicIsActive"
                                @click="like(comment)"
                                v-html="likes(comment)"
                            ></div>
                            <div
                                v-if="!comment.deleted"
                                class="comment"
                                :class="{blue: type==='short'}"
                                :data-disabled="!topicIsActive"
                                @click="addComment(comment.id, 0, questionId)"
                            >
                                {{ $t('dash_comment', 'Comment') }}
                            </div>
                            <div
                                v-if="commentIsMine(comment.user_id)"
                                class="delete"
                                :class="{blue: type==='short'}"
                                :data-disabled="!topicIsActive"
                                @click="$emit('toggleCommentState', comment.id, comment.deleted)"
                            >
                                <i
                                    v-if="!comment.deleted"
                                    class="fa fa-trash"
                                ></i>
                                <i
                                    v-else
                                    class="fa fa-refresh"
                                ></i>
                            </div>
                        </div>
                    </div>
                    <div
                        v-if="comment.type===1 || comment.type===4 || comment.deleted || type==='short'"
                        class="text"
                    >
                        {{ comment.content }}
                    </div>
                    <audio
                        v-else-if="comment.type===2 && !comment.deleted"
                        :src="generateUrl(comment.extra)"
                        controls
                    ></audio>
                    <a
                        v-else-if="comment.type===3"
                        class="text"
                        :href="generateUrl(comment.extra)"
                        target="_blank"
                    >
                        {{ comment.content }}
                    </a>
                </div>
            </div>
            <template v-if="comment.id === openComments">
                <div
                    v-for="subComment in comment.comments"
                    :key="subComment.id"
                    class="app-comments__comment app-comments__comment__sub"
                    :class="{short: type==='short'}"
                >
                    <img :src="generateUrl(subComment.avatar)" />
                    <div class="info">
                        <div class="name">
                            {{ subComment.name }}
                        </div>
                        <div class="line">
                            <div class="left">
                                <div class="info">
                                    <div
                                        class="date"
                                        v-html="subComment.date"
                                    ></div>
                                </div>
                            </div>
                            <div
                                class="right"
                                :class="{top: type==='short'}"
                            >
                                <div
                                    v-if="type==='standard'"
                                    class="likes"
                                    :class="{deleted: comment.deleted}"
                                    :data-disabled="!topicIsActive"
                                    @click="like(subComment)"
                                    v-html="likes(subComment)"
                                ></div>
                                <div
                                    v-if="commentIsMine(subComment.user_id)"
                                    class="delete"
                                    :class="{blue: type==='short'}"
                                    :data-disabled="!topicIsActive"
                                    @click="$emit('toggleCommentState', subComment.id, subComment.deleted)"
                                >
                                    <i
                                        v-if="!subComment.deleted"
                                        class="fa fa-trash"
                                    ></i>
                                    <i
                                        v-else
                                        class="fa fa-refresh"
                                    ></i>
                                </div>
                                <div
                                    v-if="type==='short'"
                                    class="trash"
                                >
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div class="text">
                            {{ subComment.content }}
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </div>
</template>

<script>
    import generateUrl from '@/utils/mixins/generate_url';


    export default {
        name: 'app-comments',
        mixins: [generateUrl],
        props: {
          type: {
              type: String,
              default: 'standard',
          },
          comments: {
              type: Array,
              default: null,
          },
          questionId: {
              type: Number,
              default: null,
          },
          topicIsActive: {
              type: Boolean,
              default: true,
          },
        },
        data: ()=>({
            openComments: null,
        }),
        computed: {
            userId() {
                return this.$store.getters['auth/userInfo']?.id;
            },
        },
        methods: {
            commentIsMine(id) {
                return +id === +this.userId;
            },
            like(comment) {
                if (!comment.deleted) {
                    this.$emit('like', comment.id, comment.liked, this.questionId);
                }
            },
            addComment() {
              this. $emit('comment', ...arguments);
            },
            likes(comment) {
                return `${this.$t(comment.liked? 'dash_liked' : 'dash_like', 'Like')}&nbsp;&nbsp;(${comment.count_likes})`;
            },
            toggleComment(comment, state) {
              this.$emit('updateComments', comment, state);
            },
            toggleComments(comment) {
                if (this.openComments === comment.id) {
                    this.openComments = null;
                } else {
                    this.openComments = comment.id;
                }
            },
        },
    };
</script>

<style scoped lang="scss">
    .app-comments{
            height: 100%;
            padding: 1rem 1rem 0;
            overflow: auto;

            background: white;

        &__comment {
            position: relative;

            display: flex;
            align-items: flex-start;

            margin-bottom: 1rem;
            padding: 1.7rem 1.5rem 1.9rem 1.1rem;

            border: 3px solid $lightGray;

            &.forAll {
                .text {
                    color: rgb(0, 0, 238);
                }
            }

            &.hover {
                border-color: $yellow;
            }

            img {
                width: 4rem;
                margin-right: 1.1rem;
            }

            .name {
                display: flex;
                align-items: center;

                margin-bottom: 0.2rem;

                font-size: to_rem(18px);
                font-weight: 700;
                color: $mainBlue;
                .online{
                    display: flex;
                    flex-shrink: 0;
                    justify-content: center;
                    align-items: center;

                    width: 1.15rem;
                    height: 1.15rem;
                    margin-left: 0.3rem;

                    font-size: to_rem(12px);
                    color: black;

                    background: $yellow;
                    border-radius: 50%;
                }
            }

            .line {
                display: flex;
                justify-content: space-between;
                align-items: center;

                margin-bottom: 0.8rem;
            }

            .info {
                width: 100%;
                span {
                    cursor: pointer;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .left {
                display: flex;
                align-items: flex-start;

                .date {
                    width: 15rem;
                    margin-right: -2.3rem;

                    font-size: to_rem(13px);
                    color: $gray;

                    &::v-deep{
                        a{
                            color: $gray;

                            cursor: pointer;
                        }
                    }
                }
            }

            .right {
                position: absolute;
                top: 0.5rem;
                right: 0.75rem;

                display: flex;
                align-items: center;

                font-size: to_rem(13px);
                color: $gray;

                .likes {
                    position: relative;

                    &[data-disabled] {
                        pointer-events: none;
                    }

                    &:hover {
                        text-decoration: underline;
                    }

                    &:before {
                        @include bef_aft;
                        left: -1rem;

                        width: 0.7rem;
                        height: .8rem;

                        background: url("~@/assets/img/icons/like_icon.svg") no-repeat center center/contain;

                        transform: scaleX(-1);
                    }

                    &.deleted {
                        cursor: default;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }

                .comment{
                    margin-left: 1.5rem;

                    &[data-disabled] {
                        pointer-events: none;
                    }

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .delete {
                    margin-left: 0.5rem;

                    font-size: 1.2em;

                    &[data-disabled] {
                        pointer-events: none;
                    }

                    &:hover {
                        transform: scale(1.2);
                    }
                }

                .blue{
                    color: $mainDarkBlue;
                }

                div {
                    &:not(:firs-of-type){
                        margin-left: 1.5rem;
                    }

                    cursor: pointer;
                }
            }

            .text {
                font-size: to_rem(14px);
                overflow-wrap: anywhere;
            }

            &__sub {
                margin-left: 6rem;
            }
        }
    }

    @include mobile_or_P{
        .app-comments{
            &__comment{
                margin-bottom: 0.7rem;
                padding: 1.2rem 0.5rem 1.9rem 1rem;

                .right{
                    .comment{
                        margin-left: 1.5rem;
                    }
                }
                audio {
                    width: 100%;
                }
            }
            .right {
                .delete {
                    margin-left: 1rem;
                }
            }
        }
    }

    @include razr767{
        .app-comments{
            padding: 0.75rem 1rem;
            &__comment{
                padding: 1.2rem 0.5rem 2.5rem 1rem;
                img{
                    width: 4.8rem;
                    margin-right: 1.25rem;
                }
                .name{
                    margin-top: 0.6rem;
                    margin-bottom: 0;

                    font-size: 1.36rem;
                }
                .info {
                    width: 76%;
                }

                .left{
                    .date{
                        width: 8.8rem;

                        font-size: 0.85rem;
                        line-height: 1.4;
                    }
                }

                .text{
                    position: relative;
                    left: -6rem;

                    margin-top: 2rem;

                    font-size: 1rem;
                }

                .right{
                    font-size: 0.9rem;
                }

                &__sub{
                    margin-left: 1rem;
                }

                &.short{
                    padding-top: 2rem;
                }
            }
        }
    }
</style>
