<template>
    <section class="about-service">
        <h2 class="about-service__title">
            О сервисе
        </h2>
        <about-service-slider :content-slider="serviceInfo" />
        <div class="about-service__left">
            <div
                v-for="item in serviceInfo"
                :key="item.id"
                class="about-service__left-row"
            >
                <img
                    :src="item.image"
                    width="98"
                    height="112"
                    alt="Icon moneybox"
                />
                <div class="about-service__left-row-content">
                    <h3>{{ item.title }}</h3>
                    <p v-html="item.description"></p>
                </div>
            </div>
        </div>
        <div class="about-service__right">
            <h2>О сервисе</h2>
            <p>Качество без компромиссов! У «Азбуки вкуса» — только сильнейшие поставщики, которые проходят строгие проверки. Доставка продуктов осуществляется в специальных контейнерах, соблюдается товарное соседство и температурный режим.</p>
            <common-button class="common-button--green">
                Консультация
            </common-button>
        </div>
        <common-button class="common-button--green forMobile_flex">
            Консультация
        </common-button>
    </section>
</template>

<script lang="ts">
import Vue from 'vue';

import AboutServiceSlider from '@/components/pages/page-main/about-service-slider.vue';
import CommonButton from '@/components/common/CommonButton.vue';

export default Vue.extend({
    name: 'AboutService',

    components: {
        CommonButton,
        AboutServiceSlider,
    },

    data: () => ({
        serviceInfo: [
            {
                id: 0,
                image: require('@/assets/images/page-main/moneybox.png'),
                title: 'Персональные цены',
                description: 'Согласуем персональную <br /> бизнес-стоимость товаров',
            },
            {
                id: 1,
                image: require('@/assets/images/page-main/payment.png'),
                title: 'Удобная оплата',
                description: 'Возможность оплаты <br /> с отсрочкой',
            },
            {
                id: 2,
                image: require('@/assets/images/page-main/case.png'),
                title: 'Индивидуальный сервис',
                description: 'Заключим договор, подберем <br /> удобный способ оплаты',
            },
        ],
    }),
});
</script>

<style lang="scss" scoped>
.about-service {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 1200px;

    &__title {
        display: none;
    }

    &__left {
        display: flex;
        flex-direction: column;

        padding: 57px 90px;

        background: url('src/assets/images/page-main/about-service-bg@1x.jpg') no-repeat;
        border-radius: 44px;

        @include retina {
            background-image: url('src/assets/images/page-main/about-service-bg@2x.jpg');
        }

        &-row {
            display: flex;
            justify-content: space-between;

            width: 420px;

            &:not(:last-child) {
                margin-bottom: 24px;
            }

            &:nth-child(2) {
                img {
                    order: 2;
                }
            }

            &-content {
                display: flex;
                flex-direction: column;
                justify-content: center;

                width: 298px;
                height: 112px;
                padding: 0 34px;

                background-color: $white;
                border-radius: 18px;

                h3 {
                    margin-bottom:  6px;

                    font-size: 16px;
                    line-height: 1.3;
                    font-weight: 700;
                    color: $black-second;
                }

                p {
                    font-size: 16px;
                    line-height: 1.3;
                    color: $black-second;
                }
            }
        }
        &-control {
            display: none;
        }
    }

    &__right {
        width: 100%;
        max-width: 500px;

        h2 {
            margin-bottom:  20px;

            font-size: 30px;
            line-height: 1.3;
            font-weight: 700;
            color: $black-second;
        }

        p {
            max-width: 422px;
            margin-bottom: 34px;

            font-size: 16px;
            line-height: 1.5;
            color: $modal-color-gray;
        }

        .common-button {
            width: 224px;
        }
    }

    .about-service-slider {
        display: none;
    }

    @include razr1259 {
        max-width: 976px;

        &__left {
            padding: 32px 63px;

            &-row {
                width: 410px;

                &:not(:last-child) {
                    margin-bottom: 14px;
                }

                img {
                    height: 100px;
                }

                &-content {
                    height: 100px;

                    h3 {
                        font-size: 14px;
                    }

                    p {
                        font-size: 14px;
                    }
                }
            }
        }

        &__right {
            width: 100%;
            max-width: 375px;

            h2 {
                margin-bottom:  14px;

                font-size: 21px;
            }

            p {
                max-width: 332px;

                font-size: 14px;
            }

            .common-button {
                width: 211px;
                height: 50px;
            }
        }
    }

    @include razr1023 {
        flex-direction: column;
        justify-content: flex-start;
        align-items: baseline;

        max-width: 720px;

        &__title {
            display: block;

            width: 100%;
            margin-bottom: 24px;
            padding-bottom: 24px;

            font-size: 21px;
            line-height: 1.3;
            font-weight: 700;
            color: $black-second;

            border-bottom: 1px solid $light-gray-ninth;
        }

        &__left {
            display: none;
        }

        .about-service-slider {
            display: block;

            margin-bottom: 24px;
        }

        &__right {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            max-width: 100%;
            padding-bottom: 24px;

            border-bottom: 1px solid $light-gray-ninth;

            h2 {
                display: none;
            }

            p {
                max-width: 432px;
                margin-bottom: 0;
            }
        }
    }

    @include razr767 {
        max-width: 89.5vw;

        &__title {
            display: none;
        }

        &__right {
            flex-direction: column;
            align-items: flex-start;
            order: 1;

            max-width: 100%;
            margin-bottom: 34px;
            padding-bottom: 0;

            border-bottom: none;

            h2 {
                display: block;

                margin-bottom: 14px;

                font-size: 18px;
            }

            p {
                max-width: 100%;
            }

            .common-button {
                display: none;
            }
        }

        .about-service-slider {
            order: 2;

            margin-bottom: 25px;
        }

        .common-button {
            order: 3;

            width: 100%;
            height: 60px;

            font-size: 16px;
        }
    }
}
</style>
