<template>
    <div class="about-service-slider">
        <swiper
            v-if="isMount"
            class="swiper"
            :options="swiperOption"
        >
            <swiper-slide
                v-for="item in contentSlider"
                :key="item.id"
            >
                <img :src="item.image" />
                <div>
                    <h3>{{ item.title }}</h3>
                    <p v-html="item.description"></p>
                </div>
            </swiper-slide>
        </swiper>
        <div
            ref="pagination"
            class="about-service-slider__pagination swiper-pagination-bullets"
        ></div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';

import { Swiper, SwiperSlide } from 'vue-awesome-swiper';

export default Vue.extend({
    name: 'AboutServiceSlider',

    components: {
        Swiper,
        SwiperSlide,
    },

    props: {
        contentSlider: {
            type: Array,
            default: () => ([]),
        },
    },

    data: () => ({
        isMount: false,
    }),

    computed: {
        swiperOption() {
            return {
                slidesPerView: 1,
                spaceBetween: 14,
                pagination: {
                    //@ts-ignore
                    el: this.$refs.pagination,
                    clickable: true,
                },
                breakpoints: {
                    500: {
                        slidesPerView: 1,
                    },
                    768: {
                        slidesPerView: 2.2,
                    },
                },
            };
        },
    },

    mounted() {
        //@ts-ignore
        this.isMount = true;
    },
});
</script>

<style lang="scss" scoped>
.about-service-slider {
    width: 100vw;
    margin-left: calc(((100vw - 720px) / 2) * -1);
    .swiper {
        width: 100%;
        padding: 0 calc(((100vw - 720px) / 2));
        .swiper-slide {
            max-width: 335px;
            height: 284px;
            padding: 44px 24px;

            background: $mystic;
            border-radius: 22px;

            img {
                width: 84px;
                height: 84px;
                margin-bottom: 24px;
                object-fit: cover;

                border-radius: 18px;
            }

            h3 {
                margin-bottom:  6px;

                font-size: 14px;
                line-height: 1.3;
                font-weight: 700;
                color: $black-second;
            }

            p {
                font-size: 14px;
                line-height: 1.3;
                color: $black-second;
            }
        }
    }

    &__pagination {
        display: none;
    }

    @include razr767 {
        width: 100%;
        margin: 0;

        .swiper {
            padding: 0;

            .swiper-slide {
                max-width: 100%;
            }

            .swiper-pagination {
                display: block;
            }
        }

        &__pagination {
            display: flex;
            justify-content: center;

            padding: 9px 0;
        }
    }
}
</style>
