<template>
    <div class="benefits-slider">
        <swiper
            class="swiper"
            :options="swiperOption"
        >
            <swiper-slide
                v-for="item in contentSlider"
                :key="item.id"
            >
                <img
                    :src="item.image"
                    width="84"
                    height="84"
                    alt="Icon"
                />
                <h3>{{ item.title }}</h3>
                <p>{{ item.description }}</p>
            </swiper-slide>
        </swiper>
        <div
            slot="pagination"
            class="benefits-slider__pagination"
        ></div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';

import { Swiper, SwiperSlide } from 'vue-awesome-swiper';

export default Vue.extend({
    name: 'BenefitsSlider',

    components: {
        Swiper,
        SwiperSlide,
    },

    props: {
        contentSlider: {
            type: Array,
            default: () => [],
        },
    },

    data: () => ({
        swiperOption: {
            slidesPerView: 1,
            spaceBetween: 14,
            pagination: {
                el: '.benefits-slider__pagination',
                clickable: true,
            },
        },
    }),
});
</script>

<style lang="scss" scoped>
.benefits-slider {
    width: 89.5vw;

    .swiper {
        .swiper-slide {
            width: 100%;
            height: 284px;
            padding: 44px 24px;

            background: $porcelain;
            border-radius: 22px;

            img {
                margin-bottom: 24px;
                object-fit: cover;
            }

            h3 {
                margin-bottom: 6px;

                font-size: 14px;
                line-height: 1.3;
                font-weight: 700;
                color: $black-second;
            }

            p {
                max-width: 275px;

                font-size: 14px;
                line-height: 1.3;
                color: $black-second;
            }
        }
    }

    &__pagination {
        display: flex;
        justify-content: center;

        padding: 10px 0;
    }
}
</style>
