<template>
    <section class="benefits">
        <h2 class="benefits__title">
            С нами приятно и легко работать
        </h2>
        <div class="benefits__left">
            <h3>С нами приятно <br /> и легко работать</h3>
            <p>
                Широкая линейка готовых блюд <br />
                от шеф-поваров Азбуки вкуса
            </p>
            <common-button class="common-button--green">
                Начать сотрудничество
            </common-button>
        </div>
        <about-service-slider
            v-if="isMobile"
            :content-slider="benefitsContent"
        />
        <div
            v-else
            class="benefits__right"
        >
            <div
                v-for="item in benefitsContent"
                :key="item.id"
                class="benefits__right-row"
            >
                <img
                    :src="item.image"
                    alt="Icon"
                />
                <div class="benefits__right-row-content">
                    <h3>{{ item.title }}</h3>
                    <p>{{ item.description }}</p>
                </div>
            </div>
        </div>
        <common-button
            v-if="isMobile"
            class="common-button--green forTablet"
        >
            Начать сотрудничество
        </common-button>
    </section>
</template>

<script lang="ts">
import Vue from 'vue';

import CommonButton from '@/components/common/CommonButton.vue';
import AboutServiceSlider from '@/components/pages/page-main/about-service-slider.vue';

export default Vue.extend({
    name: 'Benefits',

    components: {
        CommonButton,
        AboutServiceSlider,
    },

    data() {
        return {
            benefitsContent: [
                {
                    id: 0,
                    image: require('@/assets/images/benefits/site.png'),
                    title: 'Удобный сайт',
                    description: 'Простой и понятный интерфейс. Эксклюзивные предложения.',
                },
                {
                    id: 1,
                    image: require('@/assets/images/benefits/personal-lk.png'),
                    title: 'Удобная оплата',
                    description: 'В режиме онлайн вы увидите ваши финансовые условия, информацию об отсрочке платежа и т.д.',
                },
            ],
        };
    },

    computed: {
        isMobile(): boolean {
            return this.$accessor.isMobile;
        },
    },
});
</script>

<style lang="scss" scoped>
.benefits {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 1400px;
    height: 697px;
    padding: 0 100px;

    border: 1px solid $input-border-color;
    border-radius: 44px;

    &__title {
        display: none;
    }

    &__left {
        width: 100%;
        max-width: 297px;

        h3 {
            margin-bottom: 20px;

            font-size: 30px;
            line-height: 1.3;
            font-weight: 700;
            color: $black-second;
        }

        p {
            margin-bottom: 34px;

            font-size: 16px;
            line-height: 1.5;
            color: $modal-color-gray;
        }

        .common-button {
            width: 100%;
            height: 60px;
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 678px;
        height: 497px;

        background: $porcelain;
        border-radius: 44px;

        &-row {
            display: flex;
            justify-content: space-between;
            align-items: center;

            width: 100%;
            max-width: 420px;
            height: 112px;

            &:last-child {
                height: 178px;
                margin-top: 24px;

                img {
                    order: 2;
                }

                &-content {
                    order: 2;
                }
            }

            img {
                width: 98px;
                height: 100%;

                border-radius: 18px;
            }

            &-content {
                display: flex;
                flex-direction: column;
                justify-content: center;

                width: 298px;
                height: 100%;
                padding: 0 21px 0 34px;

                background-color: $white;
                border-radius: 18px;

                h3 {
                    margin-bottom: 6px;

                    font-size: 16px;
                    line-height: 1.3;
                    font-weight: 700;
                    color: $black-second;
                }

                p {
                    font-size: 16px;
                    line-height: 1.3;
                    color: $black-second;
                }
            }
        }
    }

    @include razr1259 {
        max-width: 976px;
        height: 440px;
        padding: 0 37px;

        &__left {
            max-width: 275px;

            h2 {
                margin-bottom: 14px;

                font-size: 21px;
            }

            p {
                margin-bottom: 38px;

                font-size: 14px;
            }

            .common-button {
                height: 50px;
            }
        }

        &__right {
            width: 536px;
            height: 376px;

            &-row {
                display: flex;
                justify-content: space-between;
                align-items: center;

                max-width: 410px;
                height: 100px;

                &:last-child {
                    height: 170px;
                    margin-top: 14px;
                }

                img {
                    width: 98px;
                    height: 100%;

                    border-radius: 18px;
                }

                &-content {
                    h3 {
                        font-size: 14px;
                    }

                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    @include razr1023 {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        max-width: 748px;
        height: 493px;
        padding: 42px 32px;

        &__title {
            display: block;

            margin-bottom: 24px;

            font-size: 21px;
            line-height: 1.3;
            font-weight: 700;
            color: $black-second;
        }

        &__left {
            display: flex;
            justify-content: space-between;
            align-items: center;
            order: 2;

            width: 100%;
            max-width: 100%;

            h3 {
                display: none;
            }

            p {
                margin-bottom: 0;
            }

            .common-button {
                width: 275px;
            }
        }

        &__right {
            flex-direction: row;
            order: 1;

            width: 100%;
            height: auto;
            margin-bottom: 25px;

            background-color: transparent;

            &-row {
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                width: 335px;
                height: 284px;
                padding: 44px 24px;

                background: $porcelain;
                border-radius: 22px;

                &:last-child {
                    height: 284px;
                    margin-top: 0;
                    margin-left: auto;

                    img {
                        order: initial;
                    }
                }

                img {
                    width: 84px;
                    height: 84px;
                    margin-bottom: 24px;
                    object-fit: cover;
                }

                &-content {
                    padding: 0;

                    background: transparent;
                }
            }
        }
    }

    @include razr767 {
        max-width: 89.5vw;
        height: auto;
        padding: 0;

        border: none;

        &__title {
            display: none;
        }

        &__left {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            order: initial;

            margin-bottom: 34px;

            h3 {
                display: block;

                margin-bottom: 12px;

                font-size: 18px;
            }

            .common-button {
                display: none;
            }
        }

        .common-button {
            width: 100%;
            height: 60px;

            font-size: 16px;
        }

        .about-service-slider {
            margin-bottom: 25px;
        }
    }
}
</style>
