<template>
    <div
        v-if="categories.length"
        class="category-slider"
    >
        <swiper
            class="swiper"
            :options="swiperOption"
        >
            <swiper-slide
                v-for="category in categories"
                :key="category.id"
            >
                <nuxt-link :to="toCatalogLink(category)">
                    {{ category.name }}
                </nuxt-link>
            </swiper-slide>
        </swiper>
        <div class="category-slider__navigation">
            <button class="category-slider__navigation-button category-slider__navigation-button--prev">
                <arrow-left-icon />
            </button>
            <button class="category-slider__navigation-button category-slider__navigation-button--next">
                <arrow-right-icon />
            </button>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';

import { Swiper, SwiperSlide } from 'vue-awesome-swiper';
import ArrowLeftIcon from '@/assets/images/intro-slider/arrow-left.svg?inline';
import ArrowRightIcon from '@/assets/images/intro-slider/arrow-right.svg?inline';
import { ICategory } from '~/src/utils/interfaces/catalog';

export default Vue.extend({
    name: 'CategorySlider',

    components: {
        Swiper,
        SwiperSlide,
        ArrowLeftIcon,
        ArrowRightIcon,
    },

    data: () => ({
        swiperOption: {
            slidesPerView: 'auto',
            spaceBetween: 8,
            loop: true,
            navigation: {
                nextEl: '.category-slider__navigation-button--next',
                prevEl: '.category-slider__navigation-button--prev',
            },
        },
    }),

    computed: {
        categories(): ICategory[] {
            return this.$accessor.catalog.categoriesThree;
        },
    },

    methods: {
        toCatalogLink(category: ICategory): string {
            return `/catalog/${ category.id }/${ category.url }`;
        },
    },
});
</script>

<style lang="scss" scoped>
.category-slider {
    position: relative;

    width: 100%;
    max-width: 1200px;
    padding: 34px 62px;

    border-top: 1px solid $light-gray-ninth;
    border-bottom: 1px solid $light-gray-ninth;

    .swiper {
        .swiper-slide {
            width: auto;
            padding: 1px;

            a {
                display: block;

                width: fit-content;
                padding: 16px 23px;

                font-size: 16px;

                border: 1px solid $light-gray-ninth;
                border-radius: 12px;
                font-weight: 600;
                color: $black;
                text-decoration: none;

                transition: background-color $common-transition-duration;

                &:hover {
                    background-color: $light-gray-seven;
                }
            }
        }
    }

    &__navigation {
        position: absolute;
        top: 34px;
        left: 0;

        display: flex;
        justify-content: space-between;

        width: 100%;

        &-button {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 50px;
            height: 50px;

            background: $input-bg-color;
            border-radius: 12px;

            cursor: pointer;

            transition: background-color $common-transition-duration;

            &:hover {
                background-color: $light-gray-ninth;
            }
        }
    }

    @include razr1259 {
        max-width: 976px;
        padding: 34px 68px;
    }

    @include razr1023 {
        max-width: 720px;
        padding: 14px 56px;

        &__navigation {
            top: 14px;
        }
    }
}
</style>
