<template>
    <div class="intro-slider">
        <swiper
            ref="swiperTop"
            class="swiper intro-slider__gallery-top"
            :options="swiperTopOptions"
        >
            <swiper-slide
                v-for="item in categoryList"
                :key="item.id"
            >
                <nuxt-link :to="item.link">
                    <img :src="item.image" />
                </nuxt-link>
            </swiper-slide>
        </swiper>

        <div class="intro-slider__navigation">
            <button class="intro-slider__navigation-button intro-slider__navigation-button--prev">
                <arrow-left-icon />
            </button>
            <button class="intro-slider__navigation-button intro-slider__navigation-button--next">
                <arrow-right-icon />
                <loading-circle
                    class="intro-slider__navigation-process"
                    :class="{'intro-slider__navigation-process__active' : activeProgressBar}"
                />
            </button>
        </div>

        <div class="intro-slider__pagination swiper-pagination-bullets"></div>

        <swiper
            ref="swiperThumbs"
            class="swiper intro-slider__gallery-thumbs"
            :cleanup-styles-on-destroy="false"
            :options="swiperOptionThumbs"
        >
            <swiper-slide
                v-for="(item, index) in categoryList"
                :key="item.id"
                class="slide"
                :class="{'thumb-slide__active': activeSlideIndex === index}"
                :data-index="index"
            >
                <div class="swiper-slide__image">
                    <img
                        :src="item.image"
                        alt="Photo"
                    />
                    <div class="swiper-slide__image-overlay"></div>
                </div>
                <p>{{ item.title }}</p>
            </swiper-slide>
        </swiper>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';

import { Swiper, SwiperSlide } from 'vue-awesome-swiper';
import ArrowLeftIcon from '@/assets/images/intro-slider/arrow-left.svg?inline';
import ArrowRightIcon from '@/assets/images/intro-slider/arrow-right.svg?inline';
import LoadingCircle from '@/assets/images/icon/loading-circle.svg?inline';

export default Vue.extend({
    name: 'IntroSlider',

    components: {
        Swiper,
        SwiperSlide,
        ArrowLeftIcon,
        ArrowRightIcon,
        LoadingCircle,
    },

    data: () => ({
        categoryList: [
            {
                id: 0,
                image: require('@/assets/images/intro-slider/photo-1.jpg'),
                thumbnail: require('@/assets/images/intro-slider/photo-1.jpg'),
                title: 'Блюда из молодых овощей',
                link: '#',
            },
            {
                id: 1,
                image: require('@/assets/images/intro-slider/photo-2.jpg'),
                thumbnail: require('@/assets/images/intro-slider/photo-2.jpg'),
                title: 'Блюда из молодых овощей',
                link: '#',
            },
            {
                id: 2,
                image: require('@/assets/images/intro-slider/photo-3.jpg'),
                thumbnail: require('@/assets/images/intro-slider/photo-3.jpg'),
                title: 'Блюда из молодых овощей',
                link: '#',
            },
            {
                id: 3,
                image: require('@/assets/images/intro-slider/photo-4.jpg'),
                thumbnail: require('@/assets/images/intro-slider/photo-4.jpg'),
                title: 'Блюда из молодых овощей',
                link: '#',
            },
            {
                id: 4,
                image: require('@/assets/images/intro-slider/photo-5.jpg'),
                thumbnail: require('@/assets/images/intro-slider/photo-5.jpg'),
                title: 'Блюда из молодых овощей',
                link: '#',
            },
            {
                id: 5,
                image: require('@/assets/images/intro-slider/photo-6.jpg'),
                thumbnail: require('@/assets/images/intro-slider/photo-6.jpg'),
                title: 'Блюда из молодых овощей',
                link: '#',
            },
            {
                id: 6,
                image: require('@/assets/images/intro-slider/photo-1.jpg'),
                thumbnail: require('@/assets/images/intro-slider/photo-1.jpg'),
                title: 'Блюда из молодых овощей',
                link: '#',
            },
            {
                id: 7,
                image: require('@/assets/images/intro-slider/photo-5.jpg'),
                thumbnail: require('@/assets/images/intro-slider/photo-5.jpg'),
                title: 'Блюда из молодых овощей',
                link: '#',
            },
            {
                id: 8,
                image: require('@/assets/images/intro-slider/photo-6.jpg'),
                thumbnail: require('@/assets/images/intro-slider/photo-6.jpg'),
                title: 'Блюда из молодых овощей',
                link: '#',
            },
            {
                id: 9,
                image: require('@/assets/images/intro-slider/photo-1.jpg'),
                thumbnail: require('@/assets/images/intro-slider/photo-1.jpg'),
                title: 'Блюда из молодых овощей',
                link: '#',
            },
        ],
        activeProgressBar: false,
        activeSlideIndex: 0,
        startSlide: 0,
    }),

    computed: {
        swiperTopOptions() {
            return {
                loop: true,
                spaceBetween: 10,
                navigation: {
                    nextEl: '.intro-slider__navigation-button--next',
                    prevEl: '.intro-slider__navigation-button--prev',
                },
                pagination: {
                    el: '.intro-slider__pagination',
                    clickable: true,
                },
                autoplay: {
                    delay: 5000,
                    disableOnInteraction: false,
                },
                on: {
                    slideChange: () => {
                        this.toggleProgress();
                        //@ts-ignore
                        const maxSlides = this.$refs.swiperThumbs?.$swiper?.params.slidesPerView - 1;
                        //@ts-ignore
                        const index = this.$refs.swiperTop?.$swiper?.realIndex;

                        if (this.activeSlideIndex < index && this.activeSlideIndex - this.startSlide === maxSlides - 1) {
                            //@ts-ignore
                            this.$refs.swiperThumbs.$swiper?.slideNext();
                            this.startSlide++;
                        }
                        else if (this.activeSlideIndex > index && /*this.startSlide - index === 1 ||*/ this.startSlide - index === 0) {
                            //@ts-ignore
                            this.$refs.swiperThumbs.$swiper?.slidePrev();
                            this.startSlide--;
                        }
                        else if (index === 0) {
                            //@ts-ignore
                            this.$refs.swiperThumbs.$swiper?.slideTo(0);
                            this.startSlide = 0;
                        }
                        else if (index === this.categoryList.length - 1) {
                            //@ts-ignore
                            this.$refs.swiperThumbs.$swiper?.slideTo(this.categoryList.length - 1);
                            this.startSlide = this.categoryList.length - maxSlides - 1;
                        }
                        this.activeSlideIndex = index || 0;
                    },
                    autoplayStart: () => {
                        this.toggleProgress();
                    },
                },
                breakpoints: {
                    1023: {
                        on: null,
                    },
                },
            };
        },
        swiperOptionThumbs() {
            return {
                spaceBetween: 32,
                touchRatio: 0.2,
                breakpoints: {
                    768: {
                        slidesPerView: 4,
                        spaceBetween: 10,
                    },
                    1024: {
                        slidesPerView: 5,
                        spaceBetween: 32,
                    },
                    1260: {
                        slidesPerView: 6,
                    },
                },
                on: {
                    click: (e: Event) => {
                        //@ts-ignore
                        const index = e.target!.closest('.swiper-slide')!.getAttribute('data-index');
                        //@ts-ignore
                        this.$refs.swiperTop.$swiper.slideToLoop(+index);
                    },
                },
            };
        },
    },

    methods: {
        toggleProgress(): void {
            this.activeProgressBar = false;
            setTimeout(() => {
                this.activeProgressBar = true;
            });
        },
    },
});
</script>

<style lang="scss" scoped>
.intro-slider{
    position: relative;

    width: 100%;
    max-width: 1200px;

    &__navigation {
        position: absolute;
        top: 456px;
        left: 24px;
        z-index: $z-10;

        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100px;
        height: 50px;
        padding: 0 16px;

        background: $white;
        border-radius: 100px;
        box-shadow: 0 4px 20px rgba(34, 35, 37, 0.09);

        &-button {
            position: relative;

            display: flex;
            cursor: pointer;

            svg {
                &:nth-of-type(1) {
                    transition: transform $common-transition-duration;
                }
            }

            &:hover {
                svg {
                    &:nth-of-type(1) {
                        transform: scale(1.2);
                    }
                }
            }
        }

        &-process {
            position: absolute;
            top: 50%;
            left: 48%;

            width: 40px;
            height: 40px;

            transform: translate(-50%, -50%) scaleX(-1);
            pointer-events: none;

            &::v-deep {
                circle {
                    stroke-dasharray: 128;
                    stroke: #63C634;
                    stroke-width: 2;
                    stroke-dashoffset: -128;
                }
            }

            &__active {
                &::v-deep {
                    circle {
                        stroke-dashoffset: 0;
                        transition: stroke-dashoffset 5s linear;
                    }
                }
            }
        }
    }

    &__pagination {
        display: none;
    }

    .swiper {
        .swiper-slide {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &.intro-slider__gallery-top {
            width: 100%;
            height: 530px;

            border-radius: 24px;
        }

        &.intro-slider__gallery-thumbs {
            height: 196px;
            padding: 34px 0;

            .swiper-slide {
                display: flex;
                flex-direction: column;
                align-items: center;

                width: 170px;

                cursor: pointer;

                &.thumb-slide__active {
                    .swiper-slide__image {
                        &-overlay {
                            position: absolute;
                            top: 0;

                            width: 100%;
                            height: 80px;

                            background: rgba(6, 6, 6, 0.34);
                            border-radius: 12px;
                        }
                    }
                }

                .swiper-slide__image {
                    position: relative;

                    width: 100%;
                    height: 80px;
                    min-height: 80px;

                    border-radius: 12px;

                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;

                        transition: transform $common-transition-duration;
                    }

                    &:hover {
                        img {
                            transform: scale(1.2);
                        }
                    }
                }

                p {
                    padding: 12px 18px;

                    font-size: 14px;
                    line-height: 1.3;
                    color: $black-second;
                }
            }
        }
    }

    @include razr1259 {
        max-width: 976px;

        &__navigation {
            top: 388px;
        }

        .swiper {
            &.intro-slider__gallery-top {
                height: 460px;
            }

            &.intro-slider__gallery-thumbs {
                padding: 32px 0;
            }
        }
    }

    @include razr1023 {
        max-width: 720px;

        &__navigation {
            top: 278px;
        }

        .swiper {
            &.intro-slider__gallery-top {
                height: 352px;
            }

            &.intro-slider__gallery-thumbs {
                padding: 14px 0;

                .swiper-slide {
                    img {
                        min-width: 170px;
                        height: 80px;
                    }
                }
            }
        }
    }

    @include razr767 {
        width: 100%;
        max-width: 89.5vw;

        &__navigation {
            top: initial;
            bottom: 40px;
        }

        &__pagination {
            display: flex;
            justify-content: center;

            padding: 9px 0;
        }

        .swiper {
            &.intro-slider__gallery-top {
                height: 50vw;
            }

            &.intro-slider__gallery-thumbs {
                display: none;
            }
        }
    }
}
</style>
