<template>
    <section class="product-selection">
        <div class="product-selection__top">
            <h2>{{ compilation.title }}</h2>
            <div class="product-selection__top-navigation">
                <button class="product-selection__navigation-button product-selection__navigation-button--prev">
                    <arrow-left-icon />
                </button>
                <button class="product-selection__navigation-button product-selection__navigation-button--next">
                    <arrow-right-icon />
                </button>
            </div>
        </div>
        <swiper
            class="swiper"
            :options="swiperOption"
            :cleanup-styles-on-destroy="false"
        >
            <swiper-slide
                v-for="product in compilation.products"
                :key="product.id"
            >
                <card :card="product" />
            </swiper-slide>
        </swiper>
    </section>
</template>

<script lang="ts">
import Vue from 'vue';
import { Swiper, SwiperSlide } from 'vue-awesome-swiper';

import Card from '@/components/pages/catalog/Card.vue';
import ArrowLeftIcon from '@/assets/images/intro-slider/arrow-left.svg?inline';
import ArrowRightIcon from '@/assets/images/intro-slider/arrow-right.svg?inline';

import { ICompilation } from '~/src/utils/interfaces/main-page';

export default Vue.extend({
    name: 'ProductSelection',

    components: {
        Card,
        Swiper,
        SwiperSlide,
        ArrowLeftIcon,
        ArrowRightIcon,
    },

    props: {
        compilation: {
            type: Object,
            default: () => ({} as ICompilation),
        },
    },

    data: () => ({
        swiperOption: {
            slidesPerView: 4,
            spaceBetween: 48,
            threshold: 20,
            navigation: {
                nextEl: '.product-selection__navigation-button--next',
                prevEl: '.product-selection__navigation-button--prev',
            },
            breakpoints: {
                320: {
                    slidesPerView: 1.9,
                    spaceBetween: 8,
                },
                500: {
                    slidesPerView: 3,
                    spaceBetween: 14,
                },
                1024: {
                    slidesPerView: 4,
                    spaceBetween: 24,
                },
                1260: {
                    slidesPerView: 4,
                    spaceBetween: 48,
                },
            },
        },
    }),
});
</script>

<style lang="scss" scoped>
.product-selection {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 1200px;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 44px;

        h2 {
            font-size: 30px;
            line-height: 1.3;
            font-weight: 700;
            color: $black-second;
        }

        &-navigation {
            display: flex;
            justify-content: space-between;
            align-items: center;

            width: 90px;
            height: 50px;

            button {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 50%;
                height: 100%;
                padding: 10px;

                cursor: pointer;

                background: $input-bg-color;
                border-radius: 12px 0 0 12px;

                transition: background-color $common-transition-duration;

                &.product-selection__navigation-button--next {
                    border-radius: 0 12px 12px 0;
                }

                &:hover {
                    background-color: $light-gray-ninth;
                }

                &.swiper-button-disabled {
                    opacity: 0.5;

                    pointer-events: none;
                }
            }
        }
    }

    .swiper {
        width: 100%;

        .swiper-slide {
            border: 1px solid $input-border-color;
            border-radius: 18px;
            &::v-deep {
                .card {
                    width: 100%;
                }
            }
        }
    }

    @include razr1259 {
        max-width: 976px;
    }

    @include razr1023 {
        max-width: 720px;

        &__top {
            margin-bottom: 24px;

            h2 {
                font-size: 21px;
            }
        }

        .swiper {
            .swiper-slide {
                width: 232px;
            }
        }
    }

    @include razr767 {
        max-width: 89.5vw;

        &__top {
            margin-bottom: 24px;

            h2 {
                font-size: 21px;
            }

            &-navigation {
                width: auto;
                height: auto;
                padding: 0;

                background: transparent;

                button {
                    padding: 10px;
                    background: $white;
                }
            }
        }

        .swiper {
            width: 100vw;
            margin-left: -5.25vw;
            padding: 5.25vw;

            .swiper-slide {
                width: 175px;
            }
        }
    }
}
</style>
