<template>
    <section class="search-categories">
        <div class="search-categories__content">
            <div class="search-categories__head">
                <div class="search-categories__tab">
                    Категории
                </div>
                <div class="search-categories__counter">
                    Все результаты: {{ categories.length }}
                </div>
            </div>
            <div
                v-if="categoriesArrays[0].length"
                class="search-categories__list"
            >
                <swiper :options="swiperOptions">
                    <swiper-slide
                        v-for="(slide, index) in categoriesArrays"
                        :key="index"
                    >
                        <div
                            v-for="category in slide"
                            :key="+category.id"
                            class="search-categories__category"
                            :class="{'search-categories__category__selected': category.id === selectedCategory}"
                            @click="select(category.id)"
                        >
                            {{ category.name }}
                        </div>
                    </swiper-slide>
                </swiper>
            </div>
            <div class="search-categories__pagination swiper-pagination-bullets"></div>
            <div
                class="search-categories__button"
                @click="select(0)"
            >
                <reset-icon class="search-categories__reset-icon" />
                Сбросить все
            </div>
        </div>
    </section>
</template>

<script lang="ts">
import Vue from 'vue';

//@ts-ignore
import { Swiper, SwiperSlide } from 'vue-awesome-swiper';
import ResetIcon from '@/assets/images/icon/reset-gray-icon.svg?inline';
import { ICategory } from '~/src/utils/interfaces/catalog';

export default Vue.extend({
    name: 'SearchCategories',

    components: {
        Swiper,
        SwiperSlide,
        ResetIcon,
    },

    props: {
        categories: {
            type: Array,
            default: () => ([] as ICategory[]),
        },
    },

    data: () => ({
        selectedCategory: 0,
        swiperOptions: {
            direction: 'horizontal',
            spaceBetween: 40,
            slidesPerView: 2.1,
            watchOverflow: true,
            enabled: true,
            centeredSlides: true,
            pagination: {
                el: '.search-categories__pagination',
            },
            breakpoints: {
                450: {
                    direction: 'vertical',
                    spaceBetween: 0,
                    slidesPerView: 3,
                    centeredSlides: false,
                    enabled: false,
                },
            },
        },
    }),

    computed: {
        categoriesArrays(): ICategory[][] {
            //@ts-ignore
            return this.categories.reduce((total: ICategory[][], item: ICategory) => {
                if (total[total.length - 1].length < 6) {
                    total[total.length - 1].push(item);
                }
                else {
                    total.push([item]);
                }
                return total;
            }, [[]] as ICategory[][]);
        },

        category(): number {
            return +this.$route.query.category;
        },
    },

    mounted() {
        if (this.category) {
            this.selectedCategory = +this.category;
        }
    },

    methods: {
        select(id: number): void {
            this.selectedCategory = id;
            this.$emit('select', id);
        },
    },
});
</script>

<style lang="scss" scoped>
.search-categories {
    flex-shrink: 0;
    width: calc((100vw - 1260px) / 2 + 345px);

    background: white;

    &__content {
        width: 320px;
        margin-left: auto;
        padding: 34px 33px 10px 0;
    }

    &__tab {
        position: relative;

        font-size: 18px;
        font-weight: 700;

        &:after {
            @include bef_aft;
            left: 98%;

            width: 15px;
            height: 10px;

            background: url('@/assets/images/icon/arrow-down-gray-icon.svg') no-repeat center center/contain;
        }
    }

    &__counter {
        margin-top: 30px;
        margin-bottom: -5px;
        padding-bottom: 20px;

        font-weight: 700;
        color: $light-gray-fifth;
    }

    &__list {
        padding-top: 25px;

        border-top: 1px solid $border-color-gray;
        border-bottom: 1px solid $border-color-gray;
    }

    &__category {
        margin-bottom: 20px;

        font-weight: 700;
        cursor: pointer;

        &__selected {
            color: $green;
        }
    }

    &::v-deep {
        .swiper-slide {
            height: fit-content !important;
        }
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 50px;
        margin-top: 24px;

        font-weight: 700;
        color: $light-gray;

        border: 1px solid $filter-border-gray;
        border-radius: 12px;

        cursor: pointer;

        transition: border-color $common-transition-duration, color $common-transition-duration;

        &::v-deep {
            svg {
                margin-right: 5px;
                path {
                    transition: fill $common-transition-duration, stroke $common-transition-duration;
                }
            }
        }

        @include hover_device {
            &:hover {
                color: $green;

                border-color: $green;
                &::v-deep {
                    svg {
                        path {
                            fill: $green;
                            stroke: $green;
                        }
                    }
                }
            }
        }
    }

    &__pagination {
        display: none;
    }

    @include tablet_landscape {
        width: 768px;
        margin: 35px auto 0;

        background: transparent;

        &__content {
            width: 100%;
            margin-left: 0;
            padding: 0;

            &::v-deep {
                .swiper-slide {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }
            }
        }

        &__category {
            width: 27%;
        }

        &__head {
            padding-bottom: 23px;
        }

        &__tab {
            display: inline-block;

            font-size: 24px;

            &:after {
                display: none;
            }
        }

        &__counter {
            display: inline-block;

            margin: 0 0 0 20px;
            padding: 0;

            font-size: 14px;

            border: none;
        }

        &__list {
            margin-top: 25px;
            padding-bottom: 5px;
        }

        &__category {
            margin-bottom: 19px;

            font-size: 13px;
        }

        &__button {
            position: relative;
            z-index: $z-1;

            width: 200px;
            margin-left: auto;
            margin-bottom: -75px;

            font-size: 14px;

            background: white;

            border: none;
        }
    }

    @include tablet {
        width: 720px;
    }

    @include mobile {
        width: 95%;
        margin: 85px 0 25px 5%;

        &__head {
            padding-bottom: 18px;
        }

        &__list {
            margin-top: 19px;
        }

        &__button {
            position: absolute;
            top: 0;
            left: 0;

            flex-direction: row-reverse;

            width: calc(50% - 0.5px);
            margin: 0;

            color: $black-second;

            border-radius: 0;
            border-bottom: 1px solid $light-gray-ninth;
            box-sizing: content-box;

            svg {
                margin-right: 0;
                margin-left: 42px;
            }

            &:after {
                @include bef_aft;
                left: 100%;

                width: 1px;
                height: 100%;

                transform: translateY(-50%);

                background: $light-gray-ninth;
            }
        }

        &__pagination {
            margin-top: 2px;
        }
    }
    @include razr430 {
        .swiper-container {
            width: calc(100% + 37.5vw);
            left: -37.5vw;
        }

        &__pagination {
            display: block;
        }

        &__category {
            width: 100%;
        }
    }
}
</style>
